[2017-09-29 01:17] chris70c commented on #3828
MikeHolman: not sure that's the only bottleneck here's a breakdown of the timing for Edge followed by Chrome.

Edge:
scaled: 0,1ms
spline: 0,21ms
opamprev: 6,29ms
opampmodel: 0,185ms
summer: 264,065ms
mixer: 414,11ms
gain: 205,045ms
vcr: 6,54ms
total: 898,085ms

Chrome:
scaled: 0.030029296875ms
spline: 0.666015625ms
opamprev: 14.281005859375ms
opampmodel: 0.146728515625ms
summer: 98.550048828125ms

[2017-09-29 01:19] chris70c commented on #3828
Edge timing replace new Point() with {x:0, y:0}.

scaled: 0,085ms
spline: 0,185ms
opamprev: 4,36ms
opampmodel: 0,195ms
summer: 133,81ms
mixer: 283,815ms
gain: 132,29ms
vcr: 6,48ms
total: 562,1ms

[2017-09-29 01:26] matthargett commented on #2549
no, we only support VS2015.3 and 2017, and will be deprecating 2015 support soon. go for C++14 as far as I’m concerned! ;)

[2017-09-29 01:39] chris70c commented on #3828
Also you can see from here that the SharedArrayBuffer is not working (at least not as expected).

http://www.neoartcr.com/edge_test2/

in Chrome you can see that the values of the shared buffer are being changed while in Edge they're still all zeros.

[2017-09-29 02:07] chris70c commented on #3828
Here's a much simpler test, Edge (debugger disconnected) takes between 28 and 32ms against Chrome 14-18ms; for such a simple loop twice as much time seems a bit excessive.

http://www.neoartcr.com/edge_test3/

[2017-09-29 02:23] MikeHolman commented on #3828
I don't repro the SAB bug on my machine (which has prerelease build of Edge 16), so I'm thinking that was fixed.

For the original issue, other than the time in constructor time is all in JIT code. The JIT code looks fine at first glance, but clearly we are missing some significant optimization opportunity.

For the new issue, the problem is that the div is using floating point math. We need the r

[2017-09-29 02:35] MikeHolman commented on #3828
Actually, I doubt chrome int divide there either. A 20ms test is too small to really get good numbers (you are testing our interpreter vs. their baseline JIT for much of that time). I made the test loop and I'm seeing the same score on Chrome and Edge now.

[code]

[2017-09-29 03:45] dilijev commented on #3520
This work is tentatively planned for the near future if we can fit it in. Earliest we can begin work on it is late October / early November.

[2017-09-29 05:44] dilijev commented on #3672
This probably makes more sense to implement JS-side anyway. Don't think an ICU implementation is needed at this point. Closing and moving to cut.

[2017-09-29 05:44] #3672 closed

[2017-09-29 05:47] srs88 commented on #496
Yes! I am a student trying to learn the codebase. Can you give me some pointers to start with?

[2017-09-29 06:04] dilijev commented on #3764
Work is merged, now's a good time to collect some numbers.

[2017-09-29 06:07] dilijev commented on #3764
Increased estimate to 1d because of need to build and test mutliple configs across potentially multiple products (chakracore, node-chakracore)

[2017-09-29 06:14] dilijev commented on #3810
Started work on this and it's a bit nitpicky. As expected, some tests that should work were written to match WinGlob behavior and will need to be written to accommodate a broader range of acceptable outputs.

[2017-09-29 06:56] dilijev commented on #496
For this one you'll basically just need to look at
https://github.com/Microsoft/ChakraCore/tree/master/jenkins

Files: check_*.sh

You just need to follow the patterns there, come up with a way to detect whether each (non-excluded) file has the last character in the file as a line feed (0x0a). This issue suggests such a check would make sense as additional logic in `check_file_eol.sh`

The list of

[2017-09-29 06:58] dilijev commented on #496
When you submit a PR, your check will run automatically because Jenkins is already configured to run `check_eol.sh` as a task.

As part of your change you'll have to correct any files which are incorrect so that you pass your own new check! You'll also have confirmation about whether it's working.

Please try to verify your check by running it on your own computer first.

[2017-09-29 13:29] obastemur commented on #3779
@tommyZZM Thanks for sharing this with us. The problem should be fixed on release/1.7 and (soon) master branches.

[2017-09-29 13:29] #3779 closed

[2017-09-29 13:30] chris70c commented on #3828
not sure which Edge version are you using because on Edge 15 your test takes 2577ms against 806ms in Chrome here.

[2017-09-29 14:42] obastemur commented on #3797
@jianchun I remember you were working on `on exit cleanup` stuff. Any comments on this issue?

[2017-09-29 16:29] obastemur commented on #3828
@MikeHolman The issue there is `n` is being a floating number.

Try replacing `8/6` to `8/4` It will run 3 times faster.

[2017-09-29 17:03] akroshg commented on #3828
@leirocks can you confirm from what Edge version SAB is enabled?

[2017-09-29 17:03] chris70c commented on #3828
even if I replace 8 / 6 with 1.333333 doesn't change anything so the div is only part of the problem

[2017-09-29 19:23] MikeHolman commented on #3828
Interesting, what version of Chrome are you using? For me both Chrome 61 (x64) and Edge 16 (x64) take ~2 seconds. Possibly Chrome recently optimized this.

[2017-09-29 19:29] bterlson commented on #3251
@fatcerberus sorry I missed this comment. Yes, it's importing itself. You could do the same case with two files, it's just more annoying to repro. In general, when there are circular references, it is possible to attempt to access a binding before the initialization of that binding has been executed. This case is more-or-less the same as `local1; let local1 = 23;`.

[2017-09-29 21:50] chris70c commented on #3828
Canary 63

[2017-09-29 23:55] MikeHolman commented on #3828
I installed Canary and am able to repro the perf improvement compared to Edge/Chrome stable, so it seems like this is a recent improvement. I suspect that they are now doing what I suggested and avoiding the floating point math.

[2017-10-01 19:41] fatcerberus commented on #3638
This turned out to be that I was sometimes creating more than one module record for the same module; it seems that ChakraCore allows this in violation of the ES spec (see #3798) with the intent that the host handles it.  Since I *didn’t* handle it, I ended up triggering the assert because a module with the same name had already been created.

So problem solved - simple user error :)

[2017-10-02 04:15] srs88 commented on #496
Thank you for the tips. I will try and get back to you.

[2017-10-02 09:34] obastemur opened #3847 "perf: Context independent, shared null && undefined"
Currently `null` and `undefined` are created per `JavascriptLibrary`.

- We can't compare a `JsVar` to `null` or `undefined` because we don't know its' origin.
- `JsVar` -> ToRecyc..Object -> Compare...  is unnecessarily more complicated
- There are some places we know `JsVar` is actually a `Recyc..Object` hence things are easier (this improvement is already merged to master). Yet, those places ar

[2017-10-02 09:36] obastemur commented on #3789
Update is already merged (both 1.7 and master)

[2017-10-02 09:36] #3789 closed

[2017-10-02 14:34] fatcerberus commented on #3617
Setting a module ready callback fixed the issue.  Not a ChakraCore bug (except for the unhelpful syntax error), so closing.

[2017-10-02 14:34] #3617 closed

[2017-10-02 14:59] obastemur commented on #3790
I'm also planing to wipe `JsPropertyId` and related stuff from JSRT. Hopefully I'm not missing but I can't see any reason to keep it around?

[2017-10-02 15:38] obastemur commented on #3790
`JsGetIndexedProperty` etc. are also redundant.

[code]

[2017-10-02 18:32] jackhorton opened #3851 "Use Utf8Codex helper classes in intl-icu"
See @MSLaguana's review of https://github.com/Microsoft/ChakraCore/pull/3840. We may not need to use the StringBufferAutoPtr class at all, and we can get rid of our own math here.

/cc @dilijev

[2017-10-02 20:48] obastemur opened #3852 "utf8::NarrowToWide fails to return correct length"
Not sure what's going on here but we need to take a deeper look.

Repro:

[code]

[2017-10-02 21:14] jianchun commented on #3852
Isn't it supposed to be `utf8::NarrowToWide wname("Length", 6);`?

[2017-10-02 21:16] obastemur commented on #3852
It is... but, what if it's 7? `node-chakracore` NAPI was setting 7... Why we keep the length 7?

[2017-10-02 21:17] obastemur commented on #3852
In other words, when I call `wname.Length()` I do expect a correct wide string length. Which is not `7`

[2017-10-02 21:21] jianchun commented on #3852
If you pass 7, the converter would try to convert the last 0. Need to examine what the code does. Won't be surprised if it outputs a mark to indicate invalid input.

[2017-10-02 21:33] MSLaguana commented on #3852
My understanding of the `NarrowToWide` converter is that the length parameter says how far it is permitted to read in the buffer; since we are using a literal it is null-terminated and thus there are 7 valid bytes to read, so it should still correctly convert things. What I'm not sure about is what the resulting `wname.Length()` is supposed to represent.

If we pass in a "buffer + length" represen

[2017-10-02 23:26] obastemur commented on #3852
A reminder from a prev. experience: `"null characters don't mean anything in JS."`

https://github.com/Microsoft/ChakraCore/issues/2397

So, we better keep things as is and continue taking `length` argument into consideration and don't care null ending?

[2017-10-03 11:09] obastemur commented on #3852
I would like to add a conclusion and close this issue. If anyone stumbles into this problem, I hope the discussion and notes here will help.

The behavior of `utf8::NarrowToWide::Length` is not quite expected from C,C++ experience point of view. However, this interface serves to a JS frontend and the behavior matches to specs.

Consumer is expected to be careful with setting the `length` argument

[2017-10-03 11:09] #3852 closed

[2017-10-03 11:42] envygeeks commented on #421
That should be "doesn't" not "don't"

[2017-10-03 17:17] jackhorton commented on #421
This is only impacting macOS and Linux, it seems -- Windows returns `[STRAßE]`, similar to SpiderMonkey in your testing (though, interestingly, Firefox returns `[STRASSE]` for me on both Windows and Linux). I can probably look into this going forward.

[2017-10-03 17:40] Penguinwizzard commented on #2549
PR is open at #3855.

[2017-10-03 19:24] joemmett opened #3862 "Exception specification mismatches will cause build breaks in new versions of VS 2017"
Memory::Recycler::AddMark has a mismatched exception specification between the declaration and definition. Starting with version 19.12 of MSVC this will be diagnosed under /permissive- or /std:c++17.

I've submitted PR #3853 to correct this, but I note that none of the other declarations in this class have exception specifications, so it may be preferable to remove throw() from the definition inst

[2017-10-03 19:31] MikeHolman commented on #3847
`true` and `false` are potentially useful additions.

I like the idea of sharing more static data between contexts, but I'm concerned that there may be a number of places where the ScriptContext is considered and will lead to us going down slow paths, and that you may run into a bunch of asserts.

[2017-10-03 19:52] valdrinkoshi opened #3863 "Element.addEventListener('click', null) throws error only when dev tools opened"
On MS Edge 15, `Element.addEventListener('click', null)` or `Element.addEventListener('click', undefined)` will throw the error `Unable to get property 'handleEvent' of undefined or null reference` when the F12 developer tools is opened.

If the script is run before opening the dev tools, the errors are not logged in the console.

To reproduce, execute this code on Edge 15 ([jsbin here](http://out

[2017-10-03 20:50] chris70c commented on #3828
http://www.neoartcr.com/edge_test4/

this is another one, takes about 1850ms in Chrome, ~1200ms in FF, just crashes in Edge...

[2017-10-03 22:35] #3658 closed

[2017-10-03 22:35] #3661 closed

[2017-10-03 22:35] #3664 closed

[2017-10-03 22:35] #3773 closed

[2017-10-03 22:35] #3670 closed

[2017-10-03 22:35] #3671 closed

[2017-10-03 22:35] #3716 closed

[2017-10-03 22:41] MikeHolman commented on #3828
I don't see a crash, but I do see Edge is something like 35x slower on this one. I don't have time to look at codegen right now, but part of this is that inlining in JIT loop bodies (as opposed to our full function JIT) is not very aggressive. In this case it is causing a 10x perf loss. Even still we're ~3x slower, so that needs to be looked at separately.

We aren't aggressive because we want loo

[2017-10-03 22:49] MikeHolman opened #3867 "Optimize divide to use int divide when floating point result isn't needed"
Motivated by perf issues in this microbenchmark. We should be able to figure out that result is only used as an int, and therefore use int division.

[code]

[2017-10-03 23:09] obastemur commented on #3847
@MikeHolman could you provide more context on this?

[2017-10-03 23:20] tommyZZM commented on #3179
related info with this issue~
https://github.com/janeasystems/node-mobile-react-demo/issues/2#issuecomment-333850770
https://github.com/janeasystems/nodejs-mobile

[2017-10-03 23:26] MikeHolman commented on #3847
The example I'm thinking of is that for property caches, if an object's scriptContext isn't the current context we won't cache it. I think there are a number of places where we will do these type of comparisons.

[2017-10-03 23:28] obastemur commented on #3847
I see. How your scenario could prevent us from having a single `undefined` or `null` framework wide?  (this is the part I didn't understand though)

[2017-10-03 23:44] obastemur commented on #3179
And the open source repository! -> https://github.com/janeasystems/nodejs-mobile

[2017-10-03 23:50] chris70c commented on #3828
It doesn't actually crash, it just sits there until the message to recover the webpage comes out but I never get the console output (debugger is disconnected).

[2017-10-03 23:57] MikeHolman commented on #3847
I'm having a hard time coming up with anything that will concretely be a problem, so maybe there isn't any issue. I just have a feeling that there will be a number of subtle issues.

[2017-10-04 00:06] MikeHolman opened #3869 "Optimize class constructor calls"
We have seen in some benchmarks that class constructor calls can be extremely slow compared to object literal assignment.

For example, replacing calls to `new Point()` with `{x:0, y:0}` improves perf by 50% in the benchmark below (brought up by #3828):

[code]

[2017-10-04 01:05] rajatd commented on #3828
I tried the test on console and wrapping the hot loops in a function I definitely see ~10x improvement. However, inlining may not be the only thing missing because running the test with `-InlineInLoopBodyScaleDownFactor:1` (default is 4, it essentially brings down the inline threshold for loop bodies by the specified value), I see different degrees of improvement for the two loops -

stock test:
1

[2017-10-04 05:23] fatcerberus opened #3871 "Exception stored on module record gets eaten"
I'm trying to propagate exceptions caught during static module loading back to my event loop where they can be dealt with cleanly (by reporting them and then terminating).  In order to do that, I have the following logic in my module loader:

[code]

And later:
[code]

However, `exception` always comes out as NULL in the latter code and nothing is thrown.  So as a followup I tried the following te

[2017-10-04 12:28] beetfarmer commented on #3761
@liminzhu Thanks - It's for an instance.  The example using the JsSetPrototype did the trick.

[2017-10-04 14:40] beetfarmer commented on #3761
@liminzhu Thanks - It's for an instance.  The example using the JsSetPrototype did the trick.

[2017-10-04 14:40] #3761 closed

[2017-10-04 15:47] stevebauman commented on #3863
Getting this as well developing locally.

[2017-10-04 16:01] Herst commented on #3863
A library I used required a workaround for this: https://github.com/Bernardo-Castilho/dragdroptouch/issues/10

[2017-10-04 17:03] rhuanjl commented on #3867
Not sure if it can be optimised at the same time but similarly at the moment floating point division is used for sums that are  about to be rounded down with Math.floor,

e.g. adjusting the above slightly, the below should also ideally use integer division but currently uses floating point
[code]

[2017-10-04 19:54] aneeshdk commented on #3335
This issue was fixed.

[2017-10-04 19:54] #3335 closed

[2017-10-05 09:06] miaulightouch commented on #3272
if build standalone ndk with `make-standalone-toolchain.sh --toolchain=arm-linux-androideabi-4.9 --install-dir=android-toolchain-arm --arch=arm --stl=libc++ --platform=android-21`

then build with `./build.sh --arch=arm --target=android --no-icu` would cause another error in pal

[code]

[2017-10-05 22:43] #3040 closed

[2017-10-06 13:49] obastemur opened #3895 "perf: JSON.stringify Array performance"
`fast-json-stringify` benchmark results as of #3894

[code]

**JSON.stringify of Array needs some attention.**

**P.S.** when I run the benchmarks under v8 powered node.js, `fast-json-stringify` was outperforming v8 significantly. However, when I run the benchmarks under chakracore powered node.js, `fast-json-stringify` wasn't performing good. This is possibly due to engine specific optimizations

[2017-10-06 15:25] obastemur commented on #3895
- I did assign myself but if anyone wants to hack-in, go ahead and break it!
- The perf results are from `nodejs-master` with `chakracore` / `v8`

[2017-10-06 15:47] fatcerberus commented on #2530
Throwing my hat in the ring to see this implemented, I've started to use async and await heavily and it gets confusing when an unforeseen error in an async function goes unnoticed.  I'd have to wrap every single async function in try/catch to make sure I see the errors, which is frustrating as I don't have to do that for sync code--it will just crash the process which is plenty noisy enough to fin

[2017-10-06 21:09] mohamedmansour commented on #3644
I would like to add here @dilijev that the default date column on Azure DB (Table Storage) returns the date `0001-01-01T00:00:00+00:00` which throws this error `TypeError: Invalid procedure call or argument` with `toLocalString()` not just > 1000, but <= 1000.

The following code fails in Edge, but IE it shoes "Invalid Date", but shows a date in Firefox and Chrome (bad)
[code]

[2017-10-07 00:59] liminzhu commented on #3863
EdgeHTML issue tracker is the right place for Web APIs. It looks like this issue is already triaged and fixed 😄.

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14063806/

[2017-10-07 00:59] #3863 closed

[2017-10-07 08:40] DaramG opened #3900 "Stackoverflow in JSON.parse"
If the reviver changes the result of JSON.parse, it can make infinite recursive calls, which trigger the stackoverflow.

This is a PoC code.
[code]

[2017-10-07 20:51] MikeHolman commented on #3900
Looks like we should be doing a stack probe in `JSONParser::Walk`

[2017-10-08 03:15] fatcerberus opened #3902 "Dynamic import from within an ES module never resolves"
A dynamic `import()` of a module that wasn't already imported statically will never resolve.  This only affects `import()` done in an ES module--dynamic imports loaded using the FetchImportedModuleFromScript strategy resolve just fine.

Repro:
[code]
[code]
[code]

Output:
[code]

By contrast, `import()`ing from global code:
[code]

[2017-10-08 03:20] fatcerberus commented on #3902
Having done some debugging for this problem already, it seems that ChakraCore never calls the NotifyModuleReady callback for dynamic imports unless their module records are explicitly initialized as top-level (`referencingModule` is nullptr).

My original workaround for this bug was to create all module records as roots regardless of heritage, however that proved to be problematic as imports would

[2017-10-08 03:26] fatcerberus commented on #3902
Follow-up on my repro above, if one changes pig.js to add a static import of the same module:
[code]

Then everything is right with the world:
[code]

Of course having to declare a static import for all dynamic imports kind of defeats the purpose of dynamic import... 😉

[2017-10-08 14:49] rhuanjl commented on #2530
Adding an extra voice to this discussion, per spec it sounds like the engine should call HostPromiseRejectionTracker (25.4.1.9 from the spec) when a promise is rejected, and then the host can choose what to do in that function) - however searching through chakra source I cannot see any exposed hook for this or any equivalent hook to allow a host that uses JSRT to define a rejection handler.

[2017-10-08 21:08] rhuanjl commented on #3869
Upfront disclaimer I have minimal knowledge of ChakraCore's internals so I may say something completely wrong.

I'm not sure if anyone's looking at this but I tried doing a little profiling just to understand what was going on here, I compared the the profile trace generated by Instruments (macOS profiling tool) when running the following two test scripts in ch using a test-build without lto of th

[2017-10-09 10:30] njlr opened #3905 "Build script does not work on my macOS setup"
I am unable to build 1.7.2 (`ee46fc449c5e7aa6753622720177b56dc4cc3abd`) on macOS using the provided build script.

Build command:

[code]

Error message:

[code]

Environment:

[code]

[2017-10-09 11:54] obastemur commented on #3905
@njlr this was a known issue with (xcode 9) and fixed on upcoming `1.7.3`

[code]

Thanks for reporting it anyways!

[2017-10-09 11:54] #3905 closed

[2017-10-09 15:14] Buhart opened #3906 "Edge: sessionStorage in Javascript doesn't work in local"
sessionStorage in Javascript doesn't work when I run a page in local without a server directly on a disk. Example:

file:///C:/UwAmp/ww....HTML/Example.html

but it works if you read the page via the network at the  adress:
file://pc_tower/ww....HTML/Example.html

Regards
André

[2017-10-09 16:42] jackhorton commented on #3906
The EdgeHTML issue tracker is the place to report issues for Web APIs: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues. Thanks!

[2017-10-09 16:42] #3906 closed

[2017-10-09 18:47] bterlson commented on #2530
@rhuanjl do note that we are conformant with 25.4.1.9 - the default implementation of that hook is to do nothing, and since it's unobservable to script whether that hook is actually used for anything, it may not actually exist in any given implementation. That API is only there to explain how hosts who choose to implement promise rejection tracking should do so.

[2017-10-09 19:20] rhuanjl commented on #2530
@bterlson I may have got this wrong - my initial read of 25.4.1.9 was that the engine i.e. ChakraCore should provide a hook for HostPromiseRejectionTracker such that a host (be that a browser or any other application using the engine) can implement a handler for it if they so wish.

My potential confusion comes down to reading "implementation" on the first line of the spec paragraph as "host" when

[2017-10-09 19:22] fatcerberus commented on #2530
@rhuanjl I think in the context of the ES spec "implementation" should be read as "JavaScript implementation" - i.e. Chakra in this case.

[2017-10-09 19:26] bterlson commented on #2530
Indeed, "implementation" ~= "engine" ~= chakracore, and "host" ~= whatever is hosting the engine ~= Edge, Node, your own app, etc.

Regardless, the default implementation is to do nothing, which we presently comply with :-P

[2017-10-09 19:31] bterlson commented on #2530
Oh, I would also suggest always referring to the latest spec snapshot rendered here: https://tc39.github.io/ecma262.

[2017-10-10 12:09] njlr opened #3916 "Include paths prevent hermetically sealed builds"
I am trying to port ChakraCore to [Buck Build](https://buckbuild.com), but the include paths used in ChakraCore are making this difficult.

For instance:

 - `RuntimeBasePch.h` contains `#include "Runtime.h"`;
 - `Runtime.h` contains `#include "../JITIDL/JITTypes.h"`.

This causes the compiler to walk outside of the top-level of the build, which breaks reproducibility.

This scenario is avoidable

[2017-10-10 17:45] MikeHolman commented on #3869
Yes I believe there is a totally different code path for ES5 constructors. I don't know this code too well, but the JIT does its object creation work (at least for ES5 objects) in `LowerNewScObject`, and you can see it does work to avoid some of these slower calls. Probably the place to start is finding the difference between that and the ES6 case.

[2017-10-10 20:31] rhuanjl commented on #3902
OK found a fix for this, the issue is that currently the only time chakra tells the host that a module is ready is when a parent module is ready but this condition should never trigger for a dynamic module.

The call to tell the host a module is ready is wrapped in a condition on line 310 of SourceTextMOduleRecord.cpp
https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Language/SourceT

[2017-10-10 20:59] dilijev commented on #3644
@mohamedmansour Taking this discussion into #3579 so it doesn't get lost w.r.t. the relevant issue.

[2017-10-10 21:00] dilijev commented on #3579
In #3644 @mohamedmansour wrote:

[2017-10-10 21:13] dilijev commented on #3579
I think your claim that it doesn't work for values <= 1000 is a bit extreme. This seems to be a very specific failure related to year 0 (first day of year 1 timezone-adjusted to year 0).

Your test case:

[code]

With an explicit locale to make more of the outputs agree and I believe the old version of `jsc` does date/timezone conversions incorrectly but it has been fixed in later versions:

[code

[2017-10-10 23:41] obastemur commented on #3895
Tag #3923

[2017-10-11 00:28] liminzhu commented on #3902
FYI @akroshg

[2017-10-11 08:12] mathiasbynens opened #3928 "Implement RegExp named captures"
https://github.com/tc39/proposal-regexp-named-groups

[2017-10-11 12:33] dajp1 opened #3929 "toPrecision() in Edge gives incorrect output in rare cases"
My apologies if this is the wrong place to submit this.

I have found what I suspect is a bug in Edge.  In JavaScript, the lines:

[code]
result in b containing "0.000200".  (IE, Chrome and Firefox all give the "0.000300" that I was expecting.)

See [http://jsfiddle.net/dajp/2b47qLg0/](http://jsfiddle.net/dajp/2b47qLg0/)

I'm using Edge 40.15063.0.0.
This is causing me some difficulties.  Many tha

[2017-10-11 15:30] obastemur opened #3930 "linux: less kernel calls"
Made a quick experiment with locking algorithms and other cross thread sync implementations under PAL, saw 2% AcmeAIR LTO gain after basically updating from Sleep/Wait to PThread/Mutex

This tells me that  sometimes we lock longer than Sleep timer hence we end up Vol. context switching twice or more!

This might be causing us a bottle-neck and will need some attention.

[2017-10-11 21:42] rhuanjl commented on #3902
@leirocks directing my questions to you as you've been assigned to this issue.

So between @fatcerberus and I we have:
1. identified an issue,
2. written a test case that makes it repro in ch AND
3. found a fix - I can further explain the fix if wanted - it very clearly seems to me to be correcting an accidental omission.

I note that per the contribution guidelines external pull requests are only

[2017-10-11 21:48] obastemur opened #3933 "perf: acme-air perf regression in a particular commit range"
1st part ->
`13a0220fb7af048af1c137e1ef4f9d6a3df806cb` -> `965098b204069d131177c3c0bd9ca847ccff950d`

2nd part ->
`965098b204069d131177c3c0bd9ca847ccff950d` -> `bd0e524ff7d31acb2bb8eca5303c9c2984fdea39`

pre-after this commit ranges above, Acme-AIR LTO perf loss is ~6.5%

UPDATE:

Looked once again the builds around the commit IDs given above. Unfortunately, hard to blame a single place for the re

[2017-10-11 21:52] akroshg commented on #3902
@rhuanjl thanks for reaching out. As you have said this is indeed a bug and it should be tagged as that.
Your suggestive fix seems to be correct and we will be happy to take your change.
@fatcerberus thanks for raising this issue. And of course you shouldn't have to put static import before dynamic import, not only it defeats the purpose but the output will be wrong as well. As you see that the me

[2017-10-11 22:02] akroshg commented on #3871
@fatcerberus did you verify that ```JsSetModuleHostInfo``` returns no error?
@boingoing do you happen to know how ```JsModuleHostInfo_Exception``` supposed to work? I don't see native unittest with this flag so it is not obvious for me to understand.

[2017-10-11 22:35] fatcerberus commented on #3871
I checked the return value, yes.  It returns JsNoError.

[2017-10-12 00:49] dilijev opened #3938 "Proposal: Rename tag "Accepting PRs" to "help wanted""
New feature from GitHub: GitHub will now directly surface “help wanted” PRs.

![image](https://user-images.githubusercontent.com/494055/31473951-8a4384e6-aeac-11e7-83b7-a9b830fc83aa.png)

We are currently using “Accepting PRs” and have that label set up with up-for-grabs:  https://github.com/Microsoft/ChakraCore/wiki/Label-Glossary#accepting-prs

We can update our entry for up-for-grabs.net here:

[2017-10-12 01:08] Penguinwizzard opened #3939 "Replace InlineCache template parameters with enum classes"
Currently we get lines like TryGetProperty<true, true, true, true, true, true, !PolymorphicInlineCache::IsPolymorphic, PolymorphicInlineCache::IsPolymorphic, false>; this is less readable than it could be. Changing the boolean template parameters to enum classes would allow us to have clearer code around this and make it both easier to review and less error-prone in the first place.

[2017-10-12 02:56] qflb opened #3942 "A bug"
ch.exe poc.js

0:000> g
ModLoad: 000007fe`fe940000 000007fe`fe96e000   C:\Windows\system32\IMM32.DLL
ModLoad: 000007fe`fe170000 000007fe`fe279000   C:\Windows\system32\MSCTF.dll
ModLoad: 000007fe`dcfa0000 000007fe`dd60b000   D:\cc_windows_1_7_3\x64_release\chakracore.dll
ModLoad: 000007fe`fe5e0000 000007fe`fe6bb000   C:\Windows\system32\ADVAPI32.dll
ModLoad: 000007fe`fe080000 000007fe`fe09f000   C

[2017-10-12 03:34] fatcerberus commented on #3638
Hm, nope, I'm still seeing this even after making sure not to load modules more than once.  I haven't been able to reproduce it with ch.exe yet sadly :(

[2017-10-12 13:56] fatcerberus commented on #3638
The assertion being hit is this one:
https://github.com/Microsoft/ChakraCore/blob/70aae5a685a76768feb4492d6cc5eaea24a21db6/lib/Runtime/Language/SourceTextModuleRecord.cpp#L698-L699

I'm hitting that often after FetchImportedModuleCallback has been called only *once*, so this seems like it might be a bug in ChakraCore.  What's odd is that I can't reproduce it with ch.exe.

[2017-10-12 14:15] fatcerberus commented on #3638
Okay, yeah, it looks like ChakraCore itself is setting the parent twice, triggering the assert.  This is a bug; **either the assert is incorrect, or the parent should only be set in one place.**  I'm not sure which is more appropriate, but one of those things has to be changed.

The first time the parent is set is in JsInitializeModuleRecord:
https://github.com/Microsoft/ChakraCore/blob/70aae5a685

[2017-10-12 16:10] obastemur commented on #3933
I will open up a new issue. Looks like the perf drop is not straight directly to changes on the PR but how it affects indirectly the syscalls.

[2017-10-12 16:10] #3933 closed

[2017-10-12 18:02] #3816 closed

[2017-10-12 23:50] jackhorton opened #3948 "Intl-ICU: useGrouping option for NumberFormat is not respected"
[code]

Expected return: `"123456"`
Actual return: `"123,456"`

[2017-10-13 00:05] rhuanjl commented on #3902
Not the quick fix I'd hoped - I'm still hoping to fix this but my suggestion above and current PR are not the answer.

I'm hoping to solve it and update the PR but not sure how long it will take, if anyone else seeing this has the answer I'll be very happy to step back.

**Original problem:**
1. ChakraCore does not want to notify the host that a module is ready until all dependencies are also read

[2017-10-13 00:28] rwjblue commented on #3816
Thank you @tcare!

[2017-10-13 10:24] beauceant opened #3952 "CustomEvent ES2015 SubClass vs instanceof operator"
Might be related to this [other issue](https://github.com/Microsoft/ChakraCore/issues/2997).

**Problem**: when subclassing `CustomEvent`, the `instanceof` operator fails in returning the correct boolean on an instance of that subclass.
Example:
[code]

Here's a [jsfiddle](https://jsfiddle.net/8m0fjfh1/1/) that works fine for Chrome, Opera, Firefox, ...but not for Edge.

[2017-10-13 16:40] dilijev commented on #3938
See: https://github.com/up-for-grabs/up-for-grabs.net/pull/765

[2017-10-13 17:00] dilijev commented on #3938
@liminzhu I'd appreciate a double-check on locations where we had referenced Accepting PRs. It seems to have only been Label Glossary (wiki) and CONTRIBUTING.md, but a second pair of eyes wouldn't hurt.

[2017-10-13 18:31] rhuanjl commented on #3902
Minor updates but not a solution yet:
1. see edit to above post the actual error I'm trying to solve isn't quite I'd posted earlier.
2. I haven't mentioned this before but possibly worth highlighting, inside the function "PostProcessDynamicModuleImport" (PPDMI) there is an alternate call that could notify the host that the module is ready rather than using the one at line 310 in PrepareForModuleDe

[2017-10-13 19:18] obastemur commented on #3930
More context;

replaced the existing spin/sleep stuff with futex -> https://github.com/obastemur/ChakraCore/blob/fe23aeffe7513fcb0a1da996f11e144fc09c1dc4/pal/src/sync/CCSpinLock.cpp

Doesn't make much difference on number of context switches. However I observe a consistent and repeating invalid call to futex that requires some attention.

[2017-10-13 20:47] #3948 closed

[2017-10-13 23:20] rhuanjl commented on #3902
I've solved why my fix resulted in a failed test BUT I think it's actually due to a mistake in ch's file path handling - more detail in the PR. Now confident that my original fix is correct for ChakraCore.

[2017-10-14 02:29] #3178 closed

[2017-10-14 13:22] rhuanjl opened #3964 "BUG: Inconsistent module path handling in ch"
Slightly convoluted issue I discovered whilst fixing https://github.com/Microsoft/ChakraCore/issues/3902

Note I believe that this is an issue in ch not ChakraCore itself. BUT this issue was causing a CI test failure when I was fixing 3902; and could cause other test errors in the future.

Issue is slightly convoluted and is best illustrated by 5 test cases:
**Case 1**
[code]
[code]
[code]

Output

[2017-10-14 14:58] rhuanjl commented on #3964
I don't really know the source for ch but at a quick read it seems to me that the difference between cases 4 and 5 above is due to the order of checks in WScriptJSRT::LoadModuleFromString
https://github.com/Microsoft/ChakraCore/blob/master/bin/ch/WScriptJsrt.cpp#L360-L387

I think the only check for whether the file exists is in lines 363-364 BUT if a specifier for the filename exists then lines 3

[2017-10-14 15:49] rhuanjl commented on #3752
Not my issue but I thought I'd try and be helpful, two test cases that achieve the same thing in ch, one with JSON.stringify one without.

Running these in ch method 1 climbs to around 215mb of memory being used once it's been running a few seconds - though once there it doesn't go higher, method 2 uses around 15mb.
[code]

[code]

My guess would be that the GC doesn't start collecting all those u

[2017-10-14 17:18] fatcerberus opened #3965 "How to get property attributes in the debugger"
When using `JsDiagGetProperties()` to inspect an object in the debugger, is there a way to get the property attributes (writable, configurable, enumerable) for each property?  I thought that was what `propertyAttributes` was for, but that's not the case:

[code]

[2017-10-15 03:02] agarwal-sandeep commented on #3965
@fatcerberus at preset not. Not all attributes are tracked by debugger backend. It tracks readonly see code [here](https://github.com/Microsoft/ChakraCore/blob/cebfb048786b582d776e355aa00558e17f0d8267/lib/Runtime/Debug/DiagObjectModel.cpp#L2227) and [here](https://github.com/Microsoft/ChakraCore/blob/cebfb048786b582d776e355aa00558e17f0d8267/lib/Runtime/Debug/DiagObjectModel.cpp#L141) and whether a

[2017-10-15 21:28] liminzhu commented on #3938
Re @dilijev - think you got all of them.

[2017-10-15 22:00] dilijev commented on #3938
All items completed!

[2017-10-15 22:00] #3938 closed

[2017-10-16 00:02] dilijev commented on #3965
To get this information, you can call the JS function `Object.getOwnPropertyDescriptor` from native code to see the values of writable, configurable, enumerable for a given property of an object.

[2017-10-16 00:03] dilijev commented on #3964
Assigning to @akroshg for triage.
/cc @boingoing

[2017-10-16 00:05] dilijev commented on #3952
`CustomEvent` is defined in the web host, so this is likely an [Edge Bug](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues)

[2017-10-16 01:03] fatcerberus commented on #3965
@dilijev Assuming I have a handle to the object as returned by JsDiagGetProperties or JsGetStackProperties, how do I get a reference to the real object in order to do that?  I was under the impression that the debugging API only provided access to the metadata and not the concrete object itself.

[2017-10-16 01:05] fatcerberus commented on #3965
Also symbol properties are an issue because you only get a string representation of the symbol, you can't use that as a key.

[2017-10-16 01:35] beauceant commented on #3952
I've included "*me too*" [here](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11923584/) and referenced this GitHub page.

[2017-10-16 07:23] fatcerberus commented on #3965
@dilijev The debugging API is JSON based, everything is serialized.  So that won't work in my case, sadly :(

[2017-10-16 07:35] fatcerberus commented on #3871
@akroshg Setting the exception flag puts the module record in an error state the same as if e.g. parsing led to a syntax error.  That part seems to work fine; the issue here is that I have no way to *get the exception back out* as it always reads back as nullptr no matter what.

[2017-10-16 09:07] gashtio commented on #3592
I'd like to add one more vote for such feature request.

The project I'm working on needs to map JS objects to C++ object and I'm experimenting moving our JS VM to ChakraCore. The external data support for all objects would be perfect. Right now I'm using code like this, setting an internal property (say, "__privdata"), which refers to an external object:

[code]

That appeared to be quite expensi

[2017-10-16 11:59] gashtio opened #3966 "Running ChakraCore on Android?"
I was investigating the viability of porting the current source to Android (and possibly iOS) for a project I'm working on. I tested the performance and usability on desktop and the performance seems really good (on par with our current V8/JavaScriptCore solution), but we need to support Android+consoles as well.

Looking at the [roadmap](https://github.com/Microsoft/ChakraCore/wiki/Roadmap) I don

[2017-10-16 12:01] gashtio commented on #3272
I was able to compile for Android with NDK R15c with JIT disabled, but I got a lot of runtime errors afterwards. I opened another issue (#3966) where you can see what I did to make it compile.

[2017-10-16 18:05] jackhorton commented on #3966
@obastemur may know more about this?

[2017-10-16 18:24] jackhorton commented on #3851
#3913 tried to address this but ran into a lot of dependency issues with the PAL and Utf8Helper classes. #3959 cleans things up a little bit but we are still duplicating code, and this still requires further investigation.

[2017-10-16 19:27] dilijev commented on #3952
Those issues have been open for awhile and from that site it looks like they have someone assigned to address the issue, so I'm closing this issue.

Thanks for your report!

[2017-10-16 19:27] #3952 closed

[2017-10-17 14:06] staudenmeir opened #3980 "Date.parse() not working with milliseconds"
Calling `Date.parse()` with the format `YYYY-MM-DD HH:mm:ss.sss`  returns `NaN`:
`Date.parse('2017-10-17 08:00:00.000')`

I'm not sure whether the specification requires this format, but it works in Chrome and Firefox.

Tested in Edge 40.15063.674.0

[2017-10-17 19:27] consulgo opened #3987 "Access violation while debugging a JS UWP App"
Hi,
I am porting my UWP app to Creators update, and I noticed that when I passed big amount of JS code into Function.apply(null, jsCodeAsArgs) debugger crashes. When I start the same app without debugger attached (ie. from menu Start), it is working fine. It seems to be debugger issue. Details below: Exception, Native Stack Trace, Modules loaded (with newest VS updates issue is the same).

Issue r

[2017-10-17 21:19] rhuanjl commented on #3618
I've been discussing this with @fatcerberus and exploring how the underlying code works.

The specifier is in the module record, but it's not passed to the CreateSourceContextInfo function, if you do pass it you fail tests - because with tracing enabled any URL given to CreateSourceContextInfo that doesn't actually lead to a file ends up here: https://github.com/Microsoft/ChakraCore/blob/master/li

[2017-10-17 21:30] rhuanjl commented on #3618
I've been discussing this with @fatcerberus and exploring how the underlying code works.

The specifier is in the module record, but it's not passed to the CreateSourceContextInfo function, if you do pass it you fail tests - because with tracing enabled (i.e. in debug/test mode) any URL given to CreateSourceContextInfo that doesn't actually lead to a file ends up here: https://github.com/Microsoft

[2017-10-17 22:24] dilijev commented on #2549
At this point, are we keeping this issue open to track additional work items?

[2017-10-17 22:44] Penguinwizzard commented on #2549
Nope.

[2017-10-17 22:44] #2549 closed

[2017-10-17 22:48] dilijev commented on #3938
Also updating "Your First PR" to "good first issue" to best take advantage of the new GitHub feature.

[2017-10-17 22:52] dilijev commented on #3938
'Your first PR' -> 'good first issue': Microsoft/ChakraCore-wiki@e9a0bdc

[2017-10-18 00:02] Penguinwizzard commented on #3987
Do you happen to have a dump file associated with this issue?

[2017-10-18 00:04] #3862 closed

[2017-10-18 03:00] MikeHolman commented on #3916
I think it is reasonable to avoid the `../`. It shouldn't be too invasive a change either.

We might not be able to get to this for a little while, but if it is blocking you I'm absolutely open to a PR addressing this.

The second approach may be fundamentally better, but it seems like a bigger change and could impact ChakraFull integration with Windows, so I'd hesitate to go that route.

[2017-10-18 03:51] MikeHolman commented on #3929
Definitely seems like a real bug and something we should fix. That code is crazy complicated, so I can't immediately understand the problem.

Looks like something is going wrong inside `NumberUtilities::FDblToStr`'s call to `FDblToRgbPrecise` though.

[2017-10-18 04:05] MikeHolman commented on #3966
I believe we currently only support ARM builds for Windows. The issue you face is most likely to do with calling convention. Our assembly thunks that handle calls use the Windows calling convention, and need to be converted to work with Linux/Android calling convention. I suspect getting this working would be a quite sizable work item.

[2017-10-18 04:22] #3900 closed

[2017-10-18 09:25] njlr commented on #3916
@MikeHolman That's great to hear. Removing the `../` should be enough to unblock me.

I am happy to make the PR if that is faster 👍

[2017-10-18 17:04] akroshg commented on #3752
@obastemur for fyi.
method 1 runs very slow on chakra compared to v8.

[2017-10-18 19:41] consulgo commented on #3987
I am able to reproduce it easily. Give me an email address, and I will share link to my OneDrive.

[2017-10-18 19:45] toddreifsteck commented on #3752
We have seen code like Method 1 used on some important applications and web sites that need to run in memory constrained environments. Because it is not easy to ask every application or web site to be updated, we'd prefer for Chakra to spike memory much less than it does today when this type of code occurs.

[2017-10-18 20:01] obastemur commented on #3752
method 2 doesn't repro.

v8
[code]

ChakraCore Release/1.7

[code]

method 1.. Chakra runs 3 times slower and consumes 10 times more memory on release/1.7. Release/1.6 is even worst.

v8
[code]

ChakraCore Release/1.7

[code]

[2017-10-18 20:07] dilijev commented on #3579
In our opinion, since WinGlob does not support values outside of [1,9999] for the year, throwing is better than clamping the year to [1,9999] and rendering something completely inaccurate. At least this way you can catch an exception and see that we've done something wrong.

It might be possible for us to implement the workaround of printing using the non-Intl method (i.e. `Date.prototype.toString

[2017-10-18 20:08] obastemur commented on #3752
@MikeHolman heard that you work on concat strings. You may want to take this issue?

[2017-10-18 20:11] dilijev commented on #3579
Looks like the engines disagree about how to toString non-4-digit positive number years...

[code]

[code]

[2017-10-18 20:34] obastemur commented on #3966
You saw `__ANDROID__` and `__IOS__` stuff because mainly I've been trying to keep cross platform implementation in peace with mobile targets as much as possible. See also https://github.com/janeasystems/nodejs-mobile (nodejs for Android/iOS using ChakraCore)

We don't have an Android CI nor official support hence the build on master / release branch is keep breaking. Couple of things are missing o

[2017-10-18 20:37] obastemur commented on #3272
@gashtio great! It could be nice if you send a PR and close this issue with that PR?

[2017-10-18 20:54] rhuanjl commented on #3752
@obastemur Method 2 was not intended to be slow - that was meant to show a piece of code that had the same real world end effect just didn't use JSON.stringify as something a) to compare Method 1 against and b) as a possible alternative an end user such as @sunggook could work with in simple cases if Method 1's performance/memory use was a problem.

Though comparing Method 1 performance in CC vs v

[2017-10-18 21:50] #2670 closed

[2017-10-18 22:24] MikeHolman commented on #3752
Yes, I am looking at this now. Basically I'm prototyping a 2 pass approach, where we will get the property values and string length in the first pass, and then in the second pass fill a buffer with the string, without needing to create so many intermediate objects.

[2017-10-18 22:29] tcare commented on #3371
I had a go at this, but it revealed some other cases that we miss that are non-trivial (eval in bad places :()

I'll come back to this when I have less feature work.

[2017-10-18 23:03] obastemur opened #4002 "perf: String Equal is slow"
See https://github.com/Microsoft/ChakraCore/blob/9427f0feefc6b7fd4bb38f700768e395986d2802/lib/Runtime/Library/JavascriptString.cpp#L3896-L3899

Do we have to do this ? It will unnecessarily flatten the string.

Not sure the perf gain on Acme-Air but #3752 case (1) suffers here with 25% perf drop. I would like to investigate it.

[2017-10-18 23:09] obastemur commented on #4002
Besides; Also investigate whenever / wherever flatten the string on acme-air.

[2017-10-18 23:12] Penguinwizzard commented on #3987
Could you send it to me in a PM on gitter? https://gitter.im/Penguinwizzard

[2017-10-18 23:16] #3568 closed

[2017-10-18 23:23] obastemur commented on #3752
@MikeHolman IIRC; I had tried a very cheap memstream there (no need for the second pass) yet the performance wasn't that good.

Some experiment while I'm pretending to be OOF;

I did replace https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/JSON.cpp#L1002-L1016 with `result->Append(scriptContext->GetLibrary()->GetEmptyString());`

This basically tells us that less is better a

[2017-10-19 00:11] digitalinfinity commented on #3752
@MikeHolman @obastemur my observation also has been that in general, in Node scenarios, there's a ton of buffer copying going on when Node calls json stringify. @MikeHolman I think we could extend your approach to delay the second pass too, no? So that when you pass in a buffer that needs to be filled with the string, we could pass in either a utf8 or utf16 buffer and encode accordingly? That way,

[2017-10-19 00:24] MikeHolman commented on #3752
Yes, absolutely. I was planning on only creating the buffer when you call GetString() on it. Seems like this should be extensible for the node case.

[2017-10-19 01:10] dilijev opened #4007 "Follow up #4006: Add caching to other Intl-based toLocaleString functions"
Follow up #4006

/cc @jackhorton

[2017-10-19 04:47] mohamedmansour commented on #3579
I hope the fix or improvement would match other vendors and not throw an exception. But honestly this should be taken up at the next Ecmascript committee to have a standard of invalid dates. Cause all vendors do it their own way :(

[2017-10-19 04:53] MikeHolman commented on #3752
I timed test 1 above (removing the console.log), and my prototype takes 12 seconds, compared to 22 seconds for the existing implementation, so there is pretty massive perf benefit.

However, commit size doesn't change very much. I dug a bit, and it doesn't seem like fragmentation issue. It is almost all free pages. How many free pages are allowed is controlled by `RecyclerHeuristic()` method here:

[2017-10-19 06:15] gashtio commented on #3966
@MikeHolman As far as I saw, you're relying on the calling convention for the functions with variable arguments, which should be working with the hack I made (I also tried it on Windows and it worked). It's basically this:

[code]

The PAL functions for ReturnAddress and AddressOfReturnAddress seem to be fine. Is there anything else that requires specific stack layout?

@obastemur It seemed to me

[2017-10-19 13:32] obastemur opened #4008 "perf: new Date(STRING) is slow"
`new Date(STRING)` is a hot call on acme-air.

Micro-bench

[code]

CC is 6x slower than v8 on above micro bench.

[2017-10-19 13:41] obastemur commented on #3930
Surprisingly, https://github.com/obastemur/node-chakracore/blob/master/deps/chakrashim/src/v8objecttemplate.cc#L760-L805 is responsible from voluntary cont. switch difference between node-v8 and node-chakracore.

[2017-10-19 15:28] MSLaguana commented on #3930
Surely not directly? There aren't that many object templates with interceptors that we create; are you saying that we have a lot of calls to those few objects and those calls somehow cause us to context switch away?

[2017-10-19 17:04] akroshg commented on #4008
When I ran the test with the jshost on the master I get
```Total:  45 18```
This seems quick enough, no?

[2017-10-19 18:18] rhuanjl commented on #4008
@obastemur thought I'd try and be helpful

Running with ch on master, release build and lto I get "Total: 380 0"

I then tried running it with instruments' time profiler and found that 348ms of that was spent in this call to _wcslwr:
https://github.com/Microsoft/ChakraCore/blob/2e15b3995061d9dfaf16e0951407c3fbf4139ace/lib/Runtime/Library/DateImplementation.cpp#L1076

It seems to make it faster the

[2017-10-19 19:21] Penguinwizzard commented on #3987
Pulling the symbols shows that it's a null AV when we're trying to present an error message in a WWA. The stack with symbols is:
[code]
The most useful faulting code here is at `Parse.cpp:L11196`:
[code]

The dump shows that m_sourceContextInfo is nullptr; this may be related to cached bytecode.

[2017-10-19 19:25] #3902 closed

[2017-10-19 19:57] dilijev opened #4009 "Intl.DateTimeFormat().format.length is incorrect (0, should be 1)"
[code]

`Intl.NumberFormat().format.length` is correct.

[code]

[2017-10-19 20:11] dilijev commented on #4009
Will fix in #4006

[2017-10-19 21:18] bterlson commented on #3579
@mohamedmansour I represent Chakra on in the ECMAScript committee, and am very much having discussions about exactly these problems. A little but of context: the specification leaves much up to implementers by design. This is to allow for implementing Intl APIs using a variety of techniques and libraries including both WinGlob and ICU. Even simple things like "what's an invalid date" can vary acro

[2017-10-19 21:22] dilijev opened #4010 "Use enum classes NumberFormatStyle and NumberFormatCurrencyDisplay in WinGlob code"
These enums were introduced to eliminate magic constants, but at the time they were only used in ICU-based Intl code. The WinGlob code uses these same constants for the same meaning.

Move these enums to a header that ICU and WinGlob have in common and update the WinGlob code.

[2017-10-19 21:47] dilijev opened #4012 "Update EntryIntl_RegisterBuiltInFunction and Intl.js to use an enum instead of magic constants for entry point IDs"
/cc @jackhorton

[2017-10-19 23:32] jackhorton opened #4015 "Intl: Chakra does not correctly implement caseFirst support"
In Edge 15:
[code]

My understanding of the spec is that we are allowed to not support this option as long as any given values for caseFirst (or `-u-kf`) are validated _and_ we do not report caseFirst as a resolved option. @bterlson is this a correct interpretation? If so, we should have an intermediate fix of removing the caseFirst key from being reported by resolvedOptions. Regardless, we should

[2017-10-20 09:55] obastemur commented on #4008
@rhuanjl go ahead if you want!

@akroshg Thanks for looking at Windows numbers. Looks like the origin of this issue is PAL `towlower`

[2017-10-20 10:03] obastemur commented on #3930
I don't have much details apart from the interesting fact I did share above. Commenting out that piece of code doesn't make much difference (no perf gain) yet.. ~360 vol. context switches are disappeared after the change.

I was trying to measure how significant the effect of the proxy. Only a single template and only for once the app uses that. Well, I wanted to cripple the whole proxy thing ther

[2017-10-20 13:26] wojciechka opened #4019 "window.fetch() requests that return 401 code do not get their data returned"
When trying to implement authentication in an application, I've come across the following - when using `window.fetch` to make an API call that results in 401 error, the response is not returned and an empty string is returned instead. For example:

[code]

If `/api/method` returns any other HTTP code (i.e. 200, 201, 404), then the result is returned and OK logs the json data. However, if the retur

[2017-10-20 18:24] liminzhu commented on #4019
Hey thanks for opening the issue @wojciechka ! This is likely a Web API/EdgeHTML issue, so the EdgeHTML issue tracker is the best place to get the right set of eyes on the matter. Can you file a bug there? See [instructions](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues).

[2017-10-20 19:34] rhuanjl commented on #4008
I’ve had a quick go hacking around with Pal and got the time down from 380ms to 27 ms.
Hi
I’ve noticed a few optimisation opportunities in pal, will aim to submit a PR over the weekend if it’s ok to edit pal?

[2017-10-20 20:21] wojciechka commented on #4019
Thank you for the response.

FYI opened https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14320968/

[2017-10-20 20:35] liminzhu commented on #4019
Thank you. I'll close the issue for now since it's tracked somewhere else.

[2017-10-20 20:35] #4019 closed

[2017-10-20 21:47] MikeHolman opened #4025 "Chakra should treat xbox as a low memory device"
In particular I think we might want to check GetProcessInformation for AvailableCommit.

[2017-10-20 22:12] bterlson commented on #4015
I'm not seeing anything in the spec that says what to do exactly if you don't support one of those options (in other words, we may be free to not support it and include it in resolved options). However, not including this in %collator%.[[RelevantExtensionKeys]] seems like the right choice, and that would have the effect of removing it from resolved options (but it would still be processed by colla

[2017-10-20 22:20] zbraniecki commented on #4015
@littledan may know more, but my guess is that yes, you want to remove it from your `RelevantExtensionKeys`, and yes, you want to not report a resolvedOption for it.

The only nuance compared to what Brian said is that I think that those two things are not strongly connected. Not having a RelevantExtensionKey doesn't make it impossible to resolve `caseFirst` either by using the default or by respe

[2017-10-20 22:43] bterlson commented on #4015
@zbraniecki thanks so much for the info. To confirm, when you say "should not be in resolvedOptions", should I interpret "should" per RFC2119 or do you mean normatively/must? Just curious if I missed something in the spec. Even that should requirement (if it's an RFC2119 should) should be stated :)

[2017-10-21 01:12] zbraniecki commented on #4015
Definitely RFC2119 "should".

Quoting the spec:

[code]

[code]

So, my take is that the spec states that you should not return properties whos keys you do not include in RelevantExtensionKeys.

How would you want this to be expressed to make it less confusing?

[2017-10-21 01:30] jackhorton opened #4031 "Intl: resolvedOptions().locale does not correctly represent the collation value"
[code]

Expected result (as in Chrome and Firefox)
[code]

Actual result (Edge and IE11)
[code]

This is caused by some very special/intricate/poor handling of locales that we do for collation options, since the system API that we use on Windows for comparing strings based on locale expects the language tag in a different format than the Intl spec works in. @bterlson is the locale value that we re

[2017-10-21 01:52] #3739 closed

[2017-10-21 01:52] #3740 closed

[2017-10-21 02:10] bterlson commented on #4015
It's clear that if a key is not in RelevantExtensionKeys it doesn't show up on resolvedOptions. Where it gets muddled for me is the requirement that RelevantExtensionKeys should (or must?) not include keys for which the implementation doesn't use (10.2.3 says it may include kf, and 9.1 says that keys are "relevant for the functionality of constructed objects" which doesn't tell me much). Maybe I'm

[2017-10-21 09:55] jogibear9988 opened #4034 "Edge complains about syntax error, don't know why"
I've a file (reconnecting websoket js, see: https://github.com/joewalnes/reconnecting-websocket/blob/master/reconnecting-websocket.js)

<img width="1002" alt="bildschirmfoto 2017-10-21 um 11 48 49" src="https://user-images.githubusercontent.com/364896/31850681-bc13536e-b656-11e7-9a6f-b3e2d7c3a115.png">

[2017-10-21 10:01] jogibear9988 commented on #4034
<img width="821" alt="bildschirmfoto 2017-10-21 um 12 00 23" src="https://user-images.githubusercontent.com/364896/31850714-7e4f5fae-b657-11e7-81d6-bcb9cd328221.png">
<img width="772" alt="bildschirmfoto 2017-10-21 um 12 00 47" src="https://user-images.githubusercontent.com/364896/31850715-7ffa6ca4-b657-11e7-87f0-97d585d5acb5.png">

[2017-10-21 10:02] jogibear9988 commented on #4034
found the issue....
leading ":"

[2017-10-21 10:02] #4034 closed

[2017-10-21 13:32] littledan commented on #4015
The spec is pretty explicit in the optionality of supporting caseFirst, e.g., [in the constructor](https://tc39.github.io/ecma402/#sec-intl.collator),

Then, for the interpretation of CaseFirst, UTS 35 is normatively referenced from [here](https://tc39.github.io/ecma402/#sec-collator-compare-functions)

Although the comparison function is implementation-defined, it seems like only a somewhat twist

[2017-10-21 16:37] rhuanjl commented on #4008
27ms was an erroneous result (I'd messed up the test).

With it running properly 48ms is my consistent result with https://github.com/Microsoft/ChakraCore/pull/4035

Remaining obvious slow actions are:
a) the use of localtime_r within GetMonth (30% of execution time)
b) the use of memcmp within the string parser - probably could be re-worked to cut down the number of times this is called but would

[2017-10-21 16:42] rhuanjl commented on #4002
Noticed this as a key remaining target for micro optimising with new Date (see comment in https://github.com/Microsoft/ChakraCore/issues/4008 )

I'd like to look at this one but struggling to get to grips with the details of the string implementation.

I'd figure the "easy" fix would be to implement a method for getting a character from a string without flattening it - then use it in a loop.

[2017-10-21 20:50] obastemur commented on #4002
I have some numbers to share...

- 25K CopyVirtual call per 1K acme air request.
- 0 UnChain call

This is getting more interesting.

@rhuanjl We will indeed benefit such `getting a character from a string without flattening it` interface but I expect some other changes too. Right now, this is more than improving `Equals` call or some hot path. I'm on it.

[2017-10-22 18:07] fatcerberus opened #4037 "API to get ChakraCore DLL version?"
When miniSphere is run with the `--version` switch, I print out the version number of the engine and all its major dependencies, like this:

[code]

I haven't found a way to detect the version number of the ChakraCore DLL in use.  Is this possible?

[2017-10-23 00:27] xiaoyinl commented on #4037
As far as I know, there is no API, but here is how ch.exe reads the version of the ChakraCore DLL from the binary:
https://github.com/Microsoft/ChakraCore/blob/556f5262dc323df05506f4caffb89dbc800434a9/bin/ch/ch.cpp#L106-L152

[2017-10-23 12:47] herrernst opened #4038 "ES6 modules not working with try/catch in module"
Hi,
I've found a case where ES6 modules are not working for me in current MS Edge (Creators Update 41.16299.15.0), that is when there is a try/catch in an imported module. It's also reproducable in ChakraCore.

Here is a hosted reduced test case:
https://rawgit.com/herrernst/es6-module-try-catch/master/index.html
It works in current Chrome, Safari, and Firefox (with dom.moduleScripts.enabled), but

[2017-10-23 13:39] Torxed opened #4039 "Default value for function parameters"
Hi.

I've got a minimal class which looks as follows:

[code]

Apparently, Edge is complaining about the use of `def='{}'` in the parameter list. The error is `Expected ')' on Line 11` which tells me that Edge doesn't like the [default parameter](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Default_parameters)

The code works in almost every other browser, which got

[2017-10-23 13:41] Torxed commented on #4039
Just like back in the days where you had to develop specifically for IE, the workaround here would be:

    load(key, def) {
        if(def === undefined)
            def = '{}';
        ...
    }

Again, would be neat if a modern browser was following modern syntax.

[2017-10-23 17:01] pleath commented on #4039
Hi, @torxed. Can you tell me which version of Edge you're using? Newer releases, beginning with the 1607 release of Windows 10, do support this syntax.

[2017-10-23 17:21] akroshg commented on #4038
@herrernst thanks for reporting this.
I can repro this. @boingoing  do you happen to know why this not working?
although if I move the try/catch to a function it works.

[2017-10-23 17:29] liminzhu commented on #4037
Yep there's no API for this now but you can do ch -v or -version

[2017-10-23 17:30] boingoing commented on #4038
I don't see any obvious issues; seems like that should work.

[2017-10-23 17:47] akroshg commented on #4038
ok - found the problem. I'll fix and send PR.

[2017-10-23 17:47] rhuanjl commented on #4038
Also noticed it works if you move the try/catch down to the bottom of the file - specifically have it after the exports rather than before - possible work around until the fix flows through to release.

[2017-10-23 19:21] dilijev opened #4042 "Intl: not enough Date.prototype.toLocale(Date|Time)?String -Intl and -Intl- tests"
Follow up to #4006

/cc @jackhorton

[2017-10-23 19:26] dilijev opened #4043 "Intl-ICU: Don't call platform.registerBuiltInFunction for (String|Date|Number).prototype.* functions until they are properly implemented"
Will avoid crashes due to returning null or something else not useful from the underlying Intl implementation.

[2017-10-23 19:33] #4009 closed

[2017-10-23 19:33] #4012 closed

[2017-10-23 20:42] dilijev opened #4044 "Intl.js: pre-compute RFC 4646 <-> RFC 5646 reverse lookup table -- can be statically computed."
https://github.com/Microsoft/ChakraCore/blob/669ed3c20f3e0ad96cc105d716b7392ae6a139de/lib/Runtime/Library/InJavascript/Intl.js#L640-L680

We can produce this table by running this function on our end and placing the lookup table itself in the source code. There isn't a good reason that every scriptContext that initializes Intl.js has to pay the cost of generating this table, other than ensuring th

[2017-10-23 21:20] dilijev commented on #4039
Confirming: ChakraCore at least as far back as 1.2.* (which was approximately 1607 or Anniversary Update) supports this syntax.

[code]

[2017-10-23 21:27] dilijev commented on #4031
IMO it's probably not "incorrect" per se, because the spec at present is pretty much all "best effort" -- as long as the behavior is correct (which again by spec is best-effort but in practice for us means if we support that collator, we should use that collator as requested).

In terms of conformance, other engines are still reporting the collator extension (in this case `-u-co-phonebk`) if it is

[2017-10-23 22:10] jackhorton commented on #4031
For what its worth, we do this for all supported unicode tags in the collator:

[code]

Firefox and Chrome return `{ locale: "de-u-co-phonebk-kn-true-kf-upper", ... }` while Chakra returns `{ locale: "de" ... }`

[2017-10-24 00:18] jackhorton commented on #4031
Thats a lie -- Firefox returns that, chrome will only ever keep -co- on the locale string, and they will always strip off everything else.

[2017-10-24 00:55] dilijev commented on #4031
@jackhorton Chrome's behavior makes more sense to me, since the value of the options object input to the ctor overrides. Since those are also on the resolved options, removing ambiguity by de-duping them (removing from the locale string) seems to make sense.

[2017-10-24 03:04] PhoebeHui opened #4052 "Issues found when building Chakra with MSVC + /permissive-"
Building Chakra with MSVC + /permissive- failed with error C4596, the issue is in https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/Opnd.h#L1502, and involved by commit https://github.com/Microsoft/ChakraCore/commit/fa9151ead415e84ec0c07f9acf87db2f36826a9b

Using full-qualified name to declare members inside class is ill-formed and incorrectly allowed by MSVC. MSVC now gives error wh

[2017-10-24 06:08] Torxed commented on #4039
Now running `Microsoft Edge 25.10586.672.0 / EdgeHTML 13.10586`, not sure if it auto-update during the testing but it's working now.

Weird to me that the later version wasn't on the ISO.

[2017-10-24 06:08] #4039 closed

[2017-10-24 17:24] #4038 closed

[2017-10-24 23:12] #4037 closed

[2017-10-25 00:52] #4052 closed

[2017-10-25 12:37] SjoerdL opened #4060 "localeCompare doesn't take into account minus signs"
The compareLocale method seems to ignore minus signs, even when the numeric option is set:
[code]
results in
[code]
on Edge. This seems incorrect to me; other browsers also seem to handle this differently. The behavior is especially frustrating when trying to give a natural sorting to numbers. Example:
[code]
results in
[code]
For a working example, see: https://jsfiddle.net/9rff9xLt/3/

[2017-10-25 21:19] jackhorton commented on #4060
I am not sure that other browsers handle this correctly either:

[code]

I get the above commented results in both Firefox and Chrome. I know that the numeric option for ICU, which we are actively adding support for to enable the Intl object on Linux and macOS, explicitly states that it does not take minus signs into account (see UCOL_NUMERIC_COLLATION [here](http://icu-project.org/apiref/icu4c/uc

[2017-10-25 21:22] jackhorton commented on #4060
/cc @dilijev

[2017-10-25 21:26] jackhorton commented on #4060
Also, on an unrelated note, if you want to use an Intl-specified function as the compare function for a sort, look into creating a new Intl.Collator object and passing collator.compare as the sort function -- parsing the options to localeCompare is relatively expensive and may start to show up if you're sorting large arrays. #4007 tracks our work to cache option computation, but that is not going

[2017-10-25 21:59] dilijev commented on #4060
jsc doesn't seem to expose an Intl object in the console host so I'm leaving that out.

d8/sm/ICU default collation for `en-us` seems to be lexicographic, and numeric sorts negatives first in increasing magnitude, then positive numbers in increasing magnitude. Which might also just mean that numeric collation doesn't support negative signs as part of numbers and simply that `-` sorts before number

[2017-10-25 22:17] dilijev commented on #4060
Probably want to track this issue as part of #3644

[2017-10-26 00:08] #4008 closed

[2017-10-26 00:21] rhuanjl opened #4068 "Error handling for ES Modules"
ChakraCore does not currently propagate relevant information in error messages from within ES Modules; it would be good to see this fixed
**EDIT1:** see 2nd comment for proposed solution to these issues.
**EDIT2:** see https://github.com/Microsoft/ChakraCore/pull/4080 for PR that addresses points 1 and 3.

**I think I could make a PR to address all of the below points - but a couple of them involv

[2017-10-26 17:53] rhuanjl commented on #4068
Further to the above, thought more on this:

**Proposal**
1. Add URL as a property of a moduleRecord that can be set with JsSetModuleHostInfo

2. If this is set prior to the call to JsParseModuleSource set it as the URL for debugging purposes when parsing the script (otherwise leave as nullptr as it currently is)

3. in all places where an error message is given for a module check if the URL prope

[2017-10-28 14:35] steffen-heil opened #4089 "window.open scales incorrect"
UserAgent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; ServiceUI 9) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/52.0.2743.116 Safari/537.36 Edge/15.15063

Steps to reproduce the problem:
1. Configure Windows to use 150% scaling.
2. Configure Edge to use 200% scaling.
3. window.open( 'test.html', new Date().getTime(), 'width=600, height=300' );

What is the expected behavior?
The resulting window w

[2017-10-28 14:36] steffen-heil commented on #4089
Chrome issue: https://bugs.chromium.org/p/chromium/issues/detail?id=778141

[2017-10-29 11:19] obastemur opened #4090 "Assert crash while running AsmJs/argTest.js"
Xplat CI CCRobot / Linux / ChakraCore Master

[code]

[2017-10-29 15:17] obastemur commented on #4002
Some additional notes;

Added a new function `char16 GetItemNoCopy(charcount_t index)` to all the string types. String::Equals is going to execute in given order below; (the step in the middle is new)

- if str1->Length != str2->Length .. return false
- if !str1->IsFinalized || !str2->IsFinalized ---> GetItemNoCopy (the char in the middle) and compare. If it's different, return false
- Flatten the

[2017-10-29 20:00] matthargett commented on #3752
Instead of detecting a specific device, I’d rather see the ability to tell the runtime the process limit (ulimit) and use that instead of total free system RAM for these heuristics.

[2017-10-30 15:35] obastemur commented on #4002
- Consumer (i.e. node-chakracore) uses `JsCopyString` to measure string length. This causes multi level string flattening for no reason. I'm not sure why `JsCopyString` is used there. (Chakrashim, `v8::String::Utf8Length`)

- Adding string memory sharing if two JavascriptString carry same content.

[2017-10-30 16:11] MSLaguana commented on #4002
We use `JsCopyString` to get the length because every step of the process is required (currently) except for storing the actual utf8 bytes anywhere; We need to iterate over every utf16 character and work out how many utf8 characters it encodes into.

[2017-10-30 16:44] obastemur commented on #4002
@MSLaguana could please elaborate what ‘’’We need to iterate over every utf16 character and work out how many utf8 characters it encodes into.’’’ means?

[2017-10-30 16:48] MSLaguana commented on #4002
Given a utf16 string, `v8::String::Utf8Length` wants to know how many bytes it would be when expressed in utf8. The only way to determine this is to look at every utf16 character and see whether it corresponds to 1, 2 or 3 utf8 bytes (or if a pair of 2 utf16 characters corresponds to a 4 utf8 byte codepoint). This is almost exactly the same amount of work as actually encoding the string into utf8,

[2017-10-30 16:52] fatcerberus opened #4091 "Unable to build x86 ChakraCore on Linux"
Tried to make a 32-bit ChakraCore build for Linux (Ubuntu), but the build failed.  I was able to build for x64 without a hitch, but x86 proved futile.

Command line:
[code]

Gave me the following output:
[code]

[2017-10-30 17:21] obastemur commented on #4091
@fatcerberus no short/mid term x86 support on *nix. We might add a message warning the user for `x86`. Would you like to send a PR?

[2017-10-30 17:26] fatcerberus commented on #4091
Oh, it's not supported?  That's fine then, I thought it was because the `--help` output shows:
[code]

Implying it's supported.  I agree there should be a warning for it, though.

[2017-10-30 18:19] obastemur opened #4093 "Memory management improvements neeeded"
1 - How we allocate the memory

ChakraCore's internal memory managers reserve (i.e. Arena Allocator reserves 128KB memory) good amount of memory at once. However, the problem is, the managers commit the memory per consumer.

This corresponds to lots of calls to mmap on *nix. Neither `mmap` or PAL's VirtualAlloc are good candidates for often calls.

2 - We use VirtualProtect unnecessarily often

We

[2017-10-30 20:01] dilijev commented on #2604
Tracking as part of #3644

[2017-10-30 20:01] #2604 closed

[2017-10-30 20:03] #4060 closed

[2017-10-30 20:03] dilijev commented on #4060
It doesn't seem that minus signs are considered as part of numeric collation even under ICU. For the rest of the differences (winglob vs ICU), tracking with #3644

[2017-10-31 01:56] digitalinfinity commented on #4089
Hi @steffen-heil - thanks for reporting this issue. This does not seem like a Chakra issue- rather, it is an Edge issue and I recommend you log it in their [tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/). For more details on logging Edge bugs, please see this section in our [wiki](https://github.com/Microsoft/ChakraCore/wiki/External-Issues). Thanks again for takin

[2017-10-31 01:56] #4089 closed

[2017-10-31 08:16] GregSlazinski opened #4099 "Emscripten WebGL JS WASM crash"
Open with MS Edge:
http://esenthel.com/site/Esenthel%20Fantasy%20Demo/Esenthel%20Fantasy%20Demo.html
And get crash:
[code]

Works fine on Chrome, FireFox and Opera.

[2017-10-31 13:25] obastemur commented on #3966
@gashtio are you planning to send a PR?

[2017-10-31 20:25] gashtio commented on #3966
@obastemur If I get it working, for sure, but I haven't had the time to play around more with that.

I don't know the internals of the VM and if you're relying on calling convention in other places (except unpacking the variable arguments). If you can point out some of those places I can try and port them for Android ARM and send a PR.

If there's nothing more obviously broken that you can think o

[2017-10-31 21:21] obastemur commented on #3966
@gashtio I was referring to compile time fixes you made. :)

[2017-11-01 01:19] obastemur commented on #4002
There is no tangible gain here. I will open another JavascriptString related issue and track the remaining interesting stuff from there.

[2017-11-01 01:19] #4002 closed

[2017-11-01 01:46] obastemur opened #4110 "perf: Improve string usage"
- ~~`BuiltInPropertyRecords::XXXXXXXX.Equals` calls use 1:1 string comparison. Worst case use `PropertyRecord` from specialized strings and compare the propertyId~~ DONE #4123

- ~~`String::Equals` may share the content once `String1 == String2` Further comparison of those strings would be instant and we could GC the unnecessary copy. This needs more work.~~ DONE #4163

- `CharacterBuffer` interna

[2017-11-01 11:41] oliverchang opened #4112 "Reportings bugs found by OSS-Fuzz"
Hi, we recently started fuzzing Chakra using [OSS-Fuzz](https://github.com/google/oss-fuzz) (google/oss-fuzz#925), and have discovered a number of crashes. Some of them are potentially security vulnerabilities (buffer overflows, bad address dereferences etc).

We'd like to report these bugs by asking Chakra developers/maintainers to send a PR to add their emails (needs to be associated with a [Goo

[2017-11-01 15:53] EdMaurer commented on #4112
@oliverchang Killer! Thanks for offering to share the reports. Is there a reason to not report the security concerns via secure@microsoft.com?

[2017-11-01 19:05] oliverchang commented on #4112
@EdMaurer Our service is designed as a tool for the developers of the code that is being fuzzed, and is fully automated in that regard. We don't have anyone doing manual triage to e.g. report to secure@microsoft.com.

[2017-11-01 20:47] gashtio commented on #3966
There's really only the `int8_t` redefinition fix, and that fixes the NoJIT configuration anyway. I'd rather submit something more complete, considering that this isn't even an officially supported platform :)

[2017-11-01 22:02] rhuanjl commented on #2530
I'd be interested in creating an API within JSRT to respond to unhandled promise rejections, I would be quite happy to send a Pull Request for the below idea if it would be appreciated.

I was thinking it could be useful for a host to be able to choose to:
a) ignore them (as done now) - backwards compatibility and may be best for released products
b) have ChakraCore treat the unhandled promise rej

[2017-11-01 22:50] dilijev opened #4117 "Follow up #4071: Refactor Switch##n macros to templates."
Not doing this in the PR itself because getting templates to compile across MSVC and clang is nitpicky and this is a minor point in refactoring that doesn't affect runtime performance or memory usage.

[2017-11-02 00:27] EdMaurer commented on #4112
@oliverchang Got it. If this is intended to be an ongoing activity, I would prefer it if you would target a release branch as opposed to master. master is our least stable branch and does not generally contain the fixes for issues found through our fuzzing efforts.

[2017-11-02 00:53] oliverchang commented on #4112
Sure, we can do that. Would release/1.7 be the best branch?

That said, our workflow is optimized for fuzzing on master/development branches. Our infra is generally very useful at finding regressions quickly on master before they make it into a release branch at all. I'm not familiar with Chakra development or how this would fit into that though, so this is of course up to you :)

[2017-11-02 02:37] inferno-chromium commented on #4112
As Oliver said, OSS-Fuzz workflow is strictly meant for master branch fuzzing. That way, we don't have to keep changing release branch numbers in our code. If your branch is unstable, it creates a few more bugs, but once your developer uploads a fix, bugs get auto-verified and auto-closed. So, workflow wise it is all automatic and more useful. This way, you will get both stability and security bug

[2017-11-02 15:22] EdMaurer commented on #4112
The concern I have is around managing the triage of your discoveries. I'm hoping that if you run it on something that we've put our hardening/fuzzing effort into, you will find fewer issues that will need to be dealt with outside of our normal workflow.

You've run it on master it sounds like. How many issues did it turn up?

[2017-11-02 15:54] obastemur commented on #4110
No significant perf effect on acme-air. Only `SetElementIHelper` hits when `Var index` is a `LiteralString`. Will send a PR anyway. (prototype code doesn't require much change to send a PR)

[2017-11-02 16:52] curtisman commented on #4025
XBox shouldn't be special, and changing that won't make any different for xbox, as we only enable the tiny memory recycler heuristics looking at physical memory  <512.

We can probably remove looking at the device class totally.

[2017-11-02 18:54] jackhorton opened #4122 "Functions returned by Function.prototype.bind() have non-configurable lengths"
Example:
[code]

This is blocking tests 10.3.2_1_a_L15.js, 12.3.2_1_a_L15, 11.3.2_1_a_L15, 10.2.2_L15.js, 12.2.2_L15.js, and 11.2.2_L15.js in test262/test/intl402

/cc @bterlson

[2017-11-02 20:04] oliverchang commented on #4112
We've found 21 unique reproducible crashes so far. Our de-duping is generally pretty good and we have tools to help triage like e.g. regression ranges and automatic fix verification.

Would you be opposed to receiving these reports for now and giving it a trial run? If they end up being too much to triage in the long run, we can change to fuzzing release branches.

[2017-11-02 21:27] jackhorton commented on #4122
There's a whole lot of special casing in BoundFunction.cpp for not allowing things to happen to the length property (its hard-coded to be non-configurable, non-enumerable, non-writable, and non-delete-able).

[2017-11-03 21:04] MikeHolman commented on #4099
Weirdly, it looks like we don't crash when the F12 console is open.

[2017-11-03 22:00] rhuanjl commented on #4099
@GregSlazinski Thought it may be relevant to comment that this crashes in Apple's Safari on macOS too, it triggers a segfault 11 (in both the latest release and the latest technology preview build of Safari).

[2017-11-03 23:01] GregSlazinski commented on #4099
Hi, yes, Safari bug was reported to Apple as well.

[2017-11-04 00:16] EdMaurer commented on #4112
@oliverchang Yeah, that'll work. Regression ranges will be very helpful.

[2017-11-04 14:56] rhuanjl commented on #4068
Points 1 and 3 fixed by PR #4080 which has been merged.

Still need to revisit point 2.

[2017-11-05 11:26] sreeramana opened #4142 "IE11 does not render controls when there is a slow connection but Chrome and Firefox do"
Hi,
One of our deployed website is slow because of several reasons. We are constantly trying to fix the latency issues. Our end users do not have much concerns about latency but missing controls like buttons etc while using IE11 and Edge. They have to refresh the page again to get the controls to be visible. This is not the case with Chrome or Firefox.

Looks like the way IE or Edge interprets jav

[2017-11-06 19:40] obastemur commented on #3760
fixed #4008

[2017-11-06 19:50] obastemur commented on #3760
[code]

Latest CH-master, this is still 3 times slower.

[2017-11-06 19:51] obastemur commented on #3760
#4008 fixes clearly made things better on xplat yet the remaining overhead is still time taking

[2017-11-06 20:20] rhuanjl commented on #3760
@obastemur do you mean 3x slower on xplat vs windows? Or vs your alternate branch.

[2017-11-06 20:43] dilijev commented on #4142
Thanks for the issue report.

This is an Edge issue. Please open an issue on their issue tracker: https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues

[2017-11-06 22:32] digitalinfinity commented on #4142
Network transfer of content is not done by Chakra- it's handled by Edge itself. You can try filing an issue using Edge's issue tracker at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/ and someone there might be able to help you better.

[2017-11-06 22:32] #4142 closed

[2017-11-06 22:47] dilijev commented on #4122
Removing Intl-ICU tag since this applies to non-ICU Intl as well.

[2017-11-07 09:00] ex1st opened #4158 "Can't parse shorthand property name (ES2015) in case if field name is 'async'"
[code]
throws an error:
[code]

[2017-11-07 14:22] obastemur opened #4161 "node-chakracore segfault with latest master"
Steps to repro

- clone node-chakracore
[code]

- patch with chakracore master
[code]

- patch with chakracore master node-chakracore fixes
[code]

- build
[code]

- test
[code]

- output
[code]

- lldb output
[code]

p.s.: went back to `9f1bcd577854ac7dcda7f9aa499a629f181d4183` in the history but still the same. Due to build breaks one ncc, it's hard to track down.

[2017-11-07 17:32] MSLaguana commented on #4161
Spoke with @jackhorton and this is the same problem that causes crashes in npm with our nightlies; since we changed to use ICU for xplat intl we've had a bug where some functions that aren't implemented yet don't fall back correctly, and it looks like this is hitting one of those.

[2017-11-07 18:25] obastemur commented on #4161
FYI; Disabled intl manually (on node) yet issue stands.

[2017-11-07 18:26] jackhorton commented on #4161
How did you manually disable Intl, exactly?

[2017-11-07 18:29] obastemur commented on #4161
- remove `--with-intl` from chakracore.gyp
- replace `icu_path` under chakracore.gyp to `icu-small`
- `./configure --without-intl`

[2017-11-07 18:38] bterlson commented on #4122
Possibly related: https://github.com/Microsoft/ChakraCore/pull/3606.

[2017-11-07 19:31] obastemur commented on #3760
vs my alternate branch shared on the bug description.

[2017-11-07 19:39] akroshg commented on #4122
well #3606 didn't address the boundfunction scenario. But it can easily be done by returning true in the IsConfigurable function.

[2017-11-07 20:12] obastemur commented on #4110
See #4163

[2017-11-07 20:15] jackhorton commented on #4122
Removing that if block definitely resolves the test262 failures, but I didn't test how that impacted actually trying to configure it. There's enough special casing about the length property in BoundFunction.cpp that I would imagine it would still fail in relatively interesting ways.

[2017-11-07 20:36] kasper3 opened #4164 "Problem with URLSearchParams"
Is this API going to be supported in edge anytime soon? `getAll` seems to only return one occurrence.
https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams/getAll

[2017-11-07 21:26] liminzhu commented on #4164
hey @kasper3 , thanks for reporting the issue. This is a web API which is out of scope of the JS engine. Please open an issue on the Edge issue tracker https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues.

[2017-11-07 21:35] akroshg commented on #4122
even though the length is marked as configurable, we actually don't honor it's configurability.
[code]
this should yield ```false```, but it prints ```true```

[2017-11-07 23:10] #4164 closed

[2017-11-08 21:37] dilijev opened #4178 "Date.parse should be able to parse output of Date.toString, Date.toUTCString, Date.toISOString"
As reported by @xiaoyinl in #4067:

Partially addressed in #4067

[2017-11-08 23:26] oliverchang commented on #4112
Hey @EdMaurer, how are reports that you've received so far?

We'd be very happy to hear any feedback you might have for us.

[2017-11-09 17:29] obastemur commented on #3930
There is a separate memory issue and thread PR. no need to keep this around

[2017-11-09 17:29] #3930 closed

[2017-11-09 17:36] obastemur opened #4186 "perf: Is it possible to do `**TypeHandler::PromoteType` less?"
Script below performs 5 times slower.. (Example is reduced ObjectTemplate usage node-chakracore) The reason looks like the change of TypeHandler every time we `add`/`remove` a property to an object.

[code]

[2017-11-09 18:13] jackhorton commented on #4161
This wasn't the error I saw in my testing, but https://github.com/Microsoft/ChakraCore/pull/4187 at least fixes the Linux error.

[2017-11-09 23:16] ljharb commented on #3520
@dilijev early November is here!

[2017-11-09 23:24] MikeHolman commented on #4025
Yes I know we also consider the physical memory, that's why I didn't just make the change. It requires a bit more finesse than the title suggests. But also, it's why I suggested checking AvailableCommit (or some other mechanism to get the real commit limit). I didn't explicitly say it, but I thought we could do that instead of looking at device class.

Anyway, I think this is a severe issue, and i

[2017-11-09 23:55] bterlson commented on #2530
@liminzhu any thoughts on @rhuanjl's proposal? I think this could be a welcome addition... perhaps worth looking at how NAPI handles this as well.

[2017-11-10 04:23] obastemur commented on #4186
Closing. Will send an email soon.

[2017-11-10 04:23] #4186 closed

[2017-11-10 18:33] dilijev commented on #3520
@ljharb Unfortunately, this didn't make the cut for our feature work on the upcoming release. We'll re-evaluate priorities and see when we can tackle this work item.

[2017-11-10 18:47] ljharb commented on #3520
@dilijev please note that I'm seeking stage 4 for it in 3 weeks; if it doesn't make it then, I'd expect it to do so in January.

[2017-11-10 19:18] liminzhu commented on #2530
@digitalinfinity how do we handle `unhandledRejection` event in NodeChakraCore with the current set of APIs? Wonder if there's an existing solution.

[2017-11-10 19:29] MSLaguana commented on #2530
We do not, currently. At least not at the engine level. Some userspace libraries (such as zone.js) try to detect this from javascript, which doesn't always work properly. See https://github.com/Microsoft/ChakraCore/issues/3827 for some discussion of one case.

[2017-11-10 19:36] fatcerberus commented on #2530
It's possible to polyfill by monkey-patching the Promise constructor.  That doesn't work for async/await though, as async functions always use the native Promise.

[2017-11-10 21:50] liminzhu commented on #2530
Thanks @MSLaguana . It makes sense to me to expose a hook for `unhandledRejection` in the engine.

@bterlson are there any other cases/events we should consider? AFAIK there's at least `rejectionhandled`.

@agarwal-sandeep does the debugger need something like that as well?

[2017-11-10 22:28] dilijev commented on #3520
@ljharb at this point, it will not make it into the next Windows/Edge release. Best case the feature could be checked in to ChakraCore master and/or Node-ChakraCore, but we can't commit to anything at the moment.

[2017-11-11 00:20] obastemur commented on #3700
I was looking at worker threads and saw that we create decent amount of GC threads; https://github.com/Microsoft/ChakraCore/blob/e70038a64d9a009e68e0762753ede95d78e116a8/lib/Common/Memory/Recycler.cpp#L870

..number of threads per instance follows;

Worker ) cpuCount - 2
GC        ) cpuCount > 4 ? 4 : cpuCount

So, if you have a `4 cores` setup, you will endup with `6` extra threads.

[2017-11-11 00:34] obastemur commented on #3700
And Unfortunately I'm unable to repro an issue here apart from file handler starvation after a good amount of run.

Also on your outputs, the error code 20001 comes from `pthread`... So, closing this again :/

[2017-11-11 00:34] #3700 closed

[2017-11-11 00:49] obastemur opened #4204 "osx: cleanup SEHInitializeMachExceptions and everything related."
Just saw we have this extra thread on mac-os. (from PAL). could be nice to remove / clean it up.

[2017-11-11 03:25] ljharb commented on #3520
It already has the requisite two (three, now) implementations; i was just hoping it could hit stage 4 with all 4 browsers - as is, it seems like edge will be the last to implement it.

[2017-11-11 16:50] rvx86 opened #4210 "cross-compile from BSD or Linux"
Are there any plans to allow BSD or Linux cross-compile for Windows, using mingw-w64 or an LLVM/Clang cross-compiler?

[2017-11-11 17:56] obastemur commented on #4210
Have you tried Windows bash?

[2017-11-12 06:44] obastemur commented on #4210
Just realized got the question wrong. AFAIK, there is no special plan for it. However, if you are able to cross compile a similarly complex project, you should be able to do the same with ChakraCore.

[2017-11-12 06:44] #4210 closed

[2017-11-13 06:53] tomrittervg opened #4211 "Should PAGE_EXECUTE_RO_TARGETS_INVALID include PAGE_TARGETS_NO_UPDATE?"
While reviewing PAGE_EXECUTE_RO_TARGETS_INVALID I saw that it includes PAGE_TARGETS_INVALID (assuming CFG is enabled of course) but not PAGE_TARGETS_NO_UPDATE.

From my understanding, PAGE_TARGETS_NO_UPDATE says that if a memory region (that was allocated with PAGE_TARGETS_INVALID) is remapped using VirtualProtect, then all locations become valid call targets for CFG - effectively disabling CFG pr

[2017-11-13 08:23] KarenHuang2016 opened #4212 "Issues found when building Chakra with MSVC + /permissive-"
Building Chakra with MSVC + /permissive- failed with error C4596, the issue is in  https://github.com/Microsoft/ChakraCore/blob/8d8cfe53bb111797ebdeb02c3343c1b9a53da067/lib/Runtime/Library/JavascriptLibrary.h#L1366.

Using full-qualified name to declare members inside class is ill-formed and incorrectly allowed by MSVC. MSVC now gives error when /permissive- is used. The fix is remove ‘JavascriptL

[2017-11-13 18:29] obastemur commented on #4161
The issue with npm still stands, do you also observe the same?

[2017-11-13 18:54] obastemur commented on #4161
repro ->

[code]

[code]

[2017-11-13 22:41] MikeHolman commented on #4211
Interesting question. Both `PAGE_TARGETS_NO_UPDATE` and `PAGE_TARGETS_INVALID` actually have the same value (`0x40000000`), so adding both wouldn't do anything. The flag just has different meaning depending on if it is used in `VirtualProtect` or `VirtualAlloc` call.

[2017-11-13 23:17] EdMaurer commented on #4112
@oliverchang I tuned out on this topic, sorry. I'm not the best person to ask about the quality of the reports. @digitalinfinity and @curtisman have been looking at them. I've heard of a couple of cases where we had the same issue already on our books from our internal fuzzing, but that has not been the general case.

[2017-11-14 01:38] Cellule commented on #3942
Thank you for bringing this to our attention.
I have reported this on our internal bug tracker and will investigate the issue.

[2017-11-14 23:14] MikeHolman opened #4231 "Stringify ReadArrayLength and ReadArrayElement can be faster with templatization"
We can specialize GetItem calls depending on type of array to avoid virtual calls and some checks (however we still need to check the type at each element to handle changes).

[2017-11-14 23:16] obastemur commented on #3494
@cosinusoidally any update on this?

[2017-11-15 08:50] hikame opened #4237 "stack-use-after-scope in ArenaAllocator.cpp (only Debug version)"
The following code segment in the ArenaAllocator.cpp file has a stack-use-after-scope bug.
`        void **policy = &this->freeList;`
`#if DBG`
`        if (needsDelayFreeList)`
`        {`
`            void *delayFreeList = reinterpret_cast<FreeObject **>(this->freeList) + (MaxSmallObjectSize >> ObjectAlignmentBitShift);`
`            policy = &delayFreeList;`
`        }`
`#endif`
`        *polic

[2017-11-15 15:46] cosinusoidally commented on #3494
@obastemur proof of concept for the 1.7.x series is here https://github.com/cosinusoidally/ChakraCore-experiments/tree/master/build-chakracore . In that version I disable the `-msse4.2` flag and remove any SSE > 2 intrinsics, I think the general solution is to remove the `-msse4.2` flag and then write inline assembler versions of any required intrinsics. I've got a couple of spare hours today so I

[2017-11-15 17:57] jianchun commented on #4237
@hikame Thanks for finding and filing this issue. It was fixed by https://github.com/Microsoft/ChakraCore/pull/4216.

[2017-11-15 20:48] #4211 closed

[2017-11-15 23:38] cosinusoidally commented on #3494
@obastemur See commit https://github.com/cosinusoidally/ChakraCore/commit/055784bf31b4be441170c9921a87d6bb99c88457 .  I think the inline assembler will need some review by someone more knowledgeable than me. It seems to work and passes the test suite on a SSE4.2 based system and my old SSE2 only based system (but I am not 100% confident that my asm constraints are correct). I created inline assemb

[2017-11-16 01:52] #2297 closed

[2017-11-16 09:11] Alphapage opened #4253 "Chrome debug protocol missing api: beforeExecuting event"
Hello,

You have implemented the chrome debug protocol and it works without problem 👍
But this protocol is missing some features that are necessary to reach all debugger capacity.

I'm trying to debug a typescript project, but I can't without the addition of an `outFiles` property in vscode `launch.json` which is an unnecessary overhead (in my opinion)
We just need a new event callback which will

[2017-11-16 19:55] digitalinfinity commented on #4253
Hi @Alphapage- are you using node-chakracore?

[2017-11-16 20:45] Alphapage commented on #4253
Hi @digitalinfinity .
For my example, I use node-chakracore, but chrome debugger protocol is part of chakracore, so it should be the same for chakracore browser (don't remember the name ;-) but it hides somewhere on the _edge_ ).
Maybe node-chakracore already implements such a feature ?

[2017-11-16 22:04] digitalinfinity commented on #4253
Hi @Alphapage - actually, CDP is implemented in node-chakracore as part of the chakrashim, not in chakracore 😄 - can you file an issue there, we'll be happy to discuss there!

[2017-11-17 01:48] Geoffrey-A opened #4266 "SCRIPT5007: Unable to get property 'a' of undefined or null reference"
Hello,

The error as per title happens with the attached (zipped) HTML file under MS Edge (EdgeHTML versions 16, 15, 14) and IE 11.
It does not produce any error under Firefox or Chrome.

[bug_repro.zip](https://github.com/Microsoft/ChakraCore/files/1480817/bug_repro.zip)

I was not able to test using the pre-built ChakraCore binaries from the release page. I am posting here as indicated on MS Edg

[2017-11-17 03:04] ricobbe opened #4268 "Jenkins CI should signal error if there are invalid characters (non-ASCII etc) in a source file"
I just discovered and removed a control-C character that somehow managed to get into one of our source files.  Can we add a Jenkins check for invalid chars, similar to (and possibly part of) the existing tab and EOL checks?

Candidate definition of the set of valid characters: U+000A and U+0020 through U+007E, inclusive.  (That is, newline, space, and all of the printable ASCII characters.)

[2017-11-17 03:15] JohnMasen opened #4269 "Where is the module support in JSRT?"
hi,
as chakracore supports ES6, I suppose there's a "LoadMoudleScript" callback in JSRT. however I can't find it in the online document.
Can you guys please help me find out where's the module API?

Thanks

[2017-11-17 10:32] Alphapage commented on #4253
I posted a new issue in node-chakracore, but I think chackracore should provide chrome debugger protocol shims + additional features too.
This could solve some limitations and unify debugging tools like vscode-chrome-debug, vscode-node-debug or vscode-edge-debug.
This is just my opinion.

[2017-11-17 17:39] obastemur commented on #4161
The reason for the second segfault is `node-chakracore/master` is based on `release/1.7` and there is a known swb bug in `release/1.7`  that is fixed already.

https://github.com/Microsoft/ChakraCore/blob/release/1.7/lib/Runtime/Library/ConcatString.h#L12

It should be
```Field(PropertyString *) propertyString;```

@digitalinfinity @MSLaguana cherry-pick ? patch? FYI! closing this issue as it's ac

[2017-11-17 17:39] #4161 closed

[2017-11-17 17:46] jackhorton commented on #4161
Can that patch be put into ChakraCore release/1.7 so that it comes here "for free"? Every time we update deps/charkashim/core, we do so with a rm -rf core; git clone ... deps/chakrashim/core, so we cant overwrite it only in node.

[2017-11-17 17:47] obastemur commented on #4161
Here you go https://github.com/Microsoft/ChakraCore/pull/4272

[2017-11-17 18:18] liminzhu commented on #4269
There’s a [PR](https://github.com/Microsoft/ChakraCore/commit/50767f9f33812b4a036794a6a98404145563409f) that gives you an overview of the related APIs and an example implementation (see WScriptJsrt.cpp in the same PR) in our own ch test host. It is not super well documented atm since it is experimental.

[2017-11-17 19:11] digitalinfinity commented on #4253
Thanks @Alphapage- this is an interesting idea and something that we've talked about internally in the past- we'll let you know if there is an update here. Thanks for your feedback!

[2017-11-17 19:11] #4253 closed

[2017-11-17 19:15] #4237 closed

[2017-11-17 22:03] obastemur commented on #4204
I assigned this to myself in order to combine this work with cleaning up pal's shared memory manager.

[2017-11-17 22:06] obastemur commented on #3790
Implemented.

[2017-11-17 22:06] #3790 closed

[2017-11-17 22:08] obastemur commented on #3895
@MikeHolman do you know if your changes to JSON.stringify improves stringifying arrays too?

[2017-11-17 22:12] obastemur commented on #3821
This is rather a charashim issue that is being handled separately.

[2017-11-17 22:12] #3821 closed

[2017-11-17 22:13] obastemur commented on #1424
@dilijev not sure what was this about. Close?

[2017-11-17 22:13] obastemur commented on #1424
Reminder, we have couple of other CIs we collect everything.

[2017-11-18 05:24] JohnMasen commented on #4269
Thanks liminzhu, any chance you can wrap it to the C# wrapper in the examples? Very appeared if you could do this, I'm not that good at wrapping native calls.

[2017-11-18 05:25] tommyZZM opened #4278 "Build minimum size ChakraCore for embedding?"
default ChakraCore size uses over 41.7mb size, can i make it smaller?

[2017-11-18 13:45] obastemur commented on #4278
41.7? Is that the .a file ? It gets smaller after linker. You may also do ‘strip -x’ to ditch debug symbols.

++
@curtisman had added a smaller binary option that should help further. IIRC that option needs to be enabled with build.sh/CMake for *nix. I will look at that.

[2017-11-18 14:51] tommyZZM commented on #4278
reply @obastemur

 `41.7` is the size of chakracore for macOS (a binary name `ch`) that i download from the release page (https://github.com/Microsoft/ChakraCore/releases),

in embedding project, ` .a` file got even larger, nearly 250mb

[2017-11-18 15:56] obastemur commented on #4278
@tommyZZM makes sense. That’s not stripped nor optimized for size.

[2017-11-18 16:10] obastemur commented on #4278
BTW; we include ICU + stdlibc++ embedded into `ch` and `.so` in order to make things easy for end users.

++ `strip -x` reduces extra ~6Mb.. IIRC ChakraCore related part should be around ~20 .

[2017-11-19 14:46] rhuanjl commented on #4278
If Unicode support is not required running the build script with the --no-icu option shrinks it a lot (around 16mb).

[2017-11-21 01:09] dilijev commented on #2961
This bug is low severity. This is an instance of "Edge is more lenient" but in a way that people testing against other browsers will encounter an issue and we will not see this being a problem in practice.

[2017-11-21 01:18] dilijev commented on #2961
Futhermore since this is a case of the spec being more strict than BCP 47 tag validation, the underlying i18n libraries do not detect this. We would have to detect this in native code or library JS code, and it will involve doing our own parsing of language tags which will be slower. Maybe it won't be meaningfully slower, but it's still something to consider in the cost of fixing this bug.

[2017-11-21 03:28] dilijev commented on #1424
Updated the links.

Logs can be archived from jenkins runs to make it easier to diagnose issues. We only do this on Windows. We should probably also do this for xplat builds.

[2017-11-21 03:29] dilijev commented on #1424
Note list of collected logs here:

![image](https://user-images.githubusercontent.com/494055/33053571-1bc79722-ce29-11e7-90b3-91bb745fb063.png)

No collected logs here:

![image](https://user-images.githubusercontent.com/494055/33053576-26986532-ce29-11e7-9374-242d686c62b3.png)

[2017-11-21 07:53] obastemur commented on #3561
@Cellule any update on this?

[2017-11-21 08:19] obastemur commented on #3726
considered as a part of #4093

[2017-11-21 08:19] #3726 closed

[2017-11-21 08:20] obastemur commented on #2780
Fixed

[2017-11-21 08:20] #2780 closed

[2017-11-21 08:21] obastemur commented on #3778
@Cellule @leirocks ?

[2017-11-21 10:17] obastemur opened #4286 "jsrt: Help US to update documentation and samples"
I see some differences between ChakraCore JSRT docs and the actual implementation. (including the new API I have recently added)

[optional, bonus]
++ add more samples to https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples (easy! move stuff from this repo's test/native-tests and add code comments!)

[2017-11-21 10:24] dianahinz commented on #4286
https://github.com/Microsoft/ChakraCore/blob/master/test/native-tests/test-static-property/sample.cpp ?

[2017-11-21 13:15] ifratric opened #4287 "Bug in Page::CanAllocate"
I believe Page::CanAllocate (https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/Memory/CustomHeap.h#L58) is wrong and can return true even if a page does not have sufficient space for allocations that correspond to targetBucket.

Page::CanAllocate searches for string of 1-bits (each corresponding to 128 bytes of free space) that is of length targetBucket + 1.

For comparison, see GetFr

[2017-11-21 20:36] Cellule commented on #3561
We haven't allocated any resources to fix the issues that we have yet.
We have recently disabled WebAssembly by default even on test builds.

[2017-11-21 22:59] #3980 closed

[2017-11-21 23:54] xiaoyinl opened #4300 "Re-enable tests in DateParse2.js"
In #4067, we've changed the format of Date.toUTCDate for negative years. After this change, some tests in DateParse2.js fail because `Date.parse()` isn't able to parse negative years in some cases, so these failing tests are disabled in #4067. They should be re-enabled (uncommented) after #4178 is fixed.

Ref: https://github.com/Microsoft/ChakraCore/pull/4067#issuecomment-346196337

[2017-11-22 00:55] MikeHolman commented on #4266
Looks like JIT bug in flowgraph peeps.

I was able to get repro that doesn't need browser as well:

[code]

[2017-11-22 01:06] dilijev opened #4302 "[daily_slow_x64_test] test wasm/limits.js failing (branches: master, 1.8)"
@Cellule re: wasm

Failing wasm test; last passed on 10/17 (last passed build is kept, failed builds have been deleted since)

https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_slow_x64_test/

https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_slow_x64_test/283/consoleFull#15104947311cc35259-6d54-4e16-9d69-4ce905c34543

https://github.com/Microsoft/ChakraCore/wiki/Buil

[2017-11-22 01:38] obastemur opened #4303 "xplat: Intl was exposed to slow running tests?"
CCRobot -> found this an hour ago;

[code]

@jackhorton @MSLaguana FYI

[2017-11-22 01:43] obastemur commented on #1549
#4285 fixes `Strings/unicode_toUpperCase_toLowerCase.js` and makes `no-icu` testable.

[2017-11-22 01:50] #4269 closed

[2017-11-22 01:51] liminzhu commented on #4269
@JohnMasen you can just dllimport each API like what we did in the [samples](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Windows/C%23/HelloWorld/Hosting/Native.cs#L122) and build from there.

[2017-11-22 01:59] MSLaguana commented on #4303
How is CCRobot compiling ch? Does it pass the `--with-intl` flag to `build.sh`?

[2017-11-22 02:07] dilijev commented on #4044
Implemented in intl-icu branch. Closing this issue. /cc @jackhorton

[2017-11-22 02:07] #4044 closed

[2017-11-22 02:30] obastemur commented on #4303
No. https://github.com/CCRobot/TestResults/blob/20171122T004914TEST_ubuntu/README.md

Did we enable `Intl` for xplat slow tests by default?

[2017-11-22 02:44] obastemur commented on #4303
Found it. #4248 makes things inconsistent.`--with-intl` build argument is optional (not default). However, now by default xplat test run fails because no intl support.  IMO, we should enable the `intl` tag on CI while running the tests with the `intl` build only and this doesn't require any change to `runtests.py`

[2017-11-22 02:58] #4212 closed

[2017-11-22 05:38] youngerier opened #4309 "can chakracore.dll run on linux with dotnet core 2.0 ?"
code can be run with windows . but if I publish to linux
use
[code]
it will be error bellow
[code]

this is  the .csproj file
[code]

[2017-11-22 07:02] obastemur opened #4311 "Remove EnableJitInDiagMode from the code"
It's an unused broken flag. We better remove it from the code and test cases. Long story short, if JIT is enabled, it's also enabled for Debugger and there is no another supported option.

[2017-11-22 10:09] obastemur commented on #4309
- You need to compile OR download ChakraCore for Ubuntu -> https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore
- Use as is just another C/C++ library -> https://github.com/dotnet/core/issues/756

If you can succeed, please contribute a sample project to https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples

[2017-11-22 17:42] akroshg commented on #4311
Yup.

[2017-11-22 18:38] #4302 closed

[2017-11-22 22:40] bterlson commented on #3827
These should be passed together as per step 10 of https://tc39.github.io/ecma262/#sec-async-functions-abstract-operations-async-function-await (IIUC).

[2017-11-23 00:50] kasper3 commented on #3561
Is this scheduled for next quarter? If it's just about the build configuration / cmake issue, would be sad to see 2017 passing by without wasm support on unix.. :(

[2017-11-23 07:24] #4303 closed

[2017-11-23 08:44] obastemur commented on #4091
@fatcerberus would you like to send a PR?

[2017-11-23 10:16] notvita opened #4320 "undefined identifier uint16_t - ChakraCore.h"
Following the embedding [guide in the wiki](https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore) I was getting errors caused by an undefined identifier `uint16_t` in `CharkraCore.h` caused by a missing header.

Including `inttypes.h` or `stdint.h` fixed the issue. Not sure if this was a problem on my end but thought I'd make a issue anyway.

Thanks.

[2017-11-23 16:37] obastemur commented on #4320
Do you have ChakraCommon.h there? That’s the one adding those. Which OS?

[2017-11-23 20:09] notvita commented on #4320
Yeah I do. Windows 10, x64.

I have a higher `_MSC_VER` than in the if statement where the typedef is defined.

My macro is:

`#define _MSC_VER 1911`

[2017-11-24 00:28] obastemur commented on #4320
I see. IMHO we can put an `#else` to https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCommon.h#L96 and `#include<stdint.h>`

@notvita could you please try and if it works for you, could you please send a PR with the fix?

[2017-11-24 07:19] notvita commented on #4320
That did the trick. PR sent. Thanks

[2017-11-24 12:14] obastemur commented on #4320
#4322 fixes.

[2017-11-24 12:14] #4320 closed

[2017-11-26 14:50] justinmchase opened #4323 "Can I run webasm with ChakraCore?"
Suppose I'm making a C++ app and embedding ChakraCore and I want to execute some pre-compiled webassembly, is this supported? And what would be the api I would need to call for that if so?

To start with lets  just assume I'm doing a straight copy [this example app.](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Windows/C%2B%2B/HelloWorld/HelloWorld.cpp

[2017-11-26 23:32] notvita opened #4324 "Steps needed for es6 modules embedding ChakraCore"
If someone had some spare time would it be possible to get a little rundown on the steps involved or even a simple hello world example on implementing ES6 modules when embedding ChakraCore in my own application please?

I'm completely new to the codebase so I've been spending a lot of time studying ch but a quick rundown on this would be extremely helpful.

Thanks a lot.

[2017-11-27 01:31] Announcement commented on #4286
If I have time wednesday I'm pretty good at writing documentation and samples if no one beats me to it by then.

[2017-11-27 13:12] rhuanjl commented on #4324
One of the team may be able to provide something more detailed, but I've got some experience of the Module code (having submitted 2 PRs related to it) so thought I could write something on this.

**Starting point, all the APIs you need are in this header:**
https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h

**Other note - Dynamic imports - import()**
Dynamic import is suppo

[2017-11-27 14:21] obastemur commented on #4300
Really appreciate the effort but appreciate even more if you do not enable / add negative year tests to xplat. (my 2 cents, if it has a runtime cost, please do not even change for Windows too)

Why => xplat negative years time zone info != what we get from Windows. Correcting that, costs lots of if/else/copy. At the moment, `toStringAndToUTCStringYearPadding.js` is failing on local xplat and I'm p

[2017-11-27 14:39] obastemur commented on #4300
See #4325

[2017-11-27 15:52] gh-markt opened #4327 "Chakracore not building with clang 5.0 on Linux"
Building 1.7 or 1.8 from the source results in a large number of duplicate symbol errors, appearing to arise because instances of a const int are created in a header file that is included in multiple source files.   This is apparently tried to be mitigated by using a __declspec(selectany) construct to only link one of them, but this construct does not seem to work in Clang 5 on Linux.   While this

[2017-11-27 16:36] obastemur commented on #4327
@gh-markt could be nice if you can send the PR.

[2017-11-27 16:41] obastemur commented on #4327
Additionally updating package creator for release/1.8 ++ master to Clang 5.0.0

[2017-11-27 17:01] gh-markt commented on #4327
I didn’t know I had any authorization to do so.  I’ll submit a pull request when I get home tonight.

[2017-11-27 17:28] obastemur commented on #4327
Great, could be nice if you target Release/1.8

[2017-11-27 18:36] obastemur commented on #4327
Please also include https://github.com/Microsoft/ChakraCore/commit/c5d88847f2f6f287991db878e8852ad49b290712

[2017-11-27 19:09] liminzhu commented on #4323
I don't think we have a ```JsRunWebAsm``` per se, but you can execute wasm by running a script using the [JS APIs](http://webassembly.org/getting-started/js-api/).

[2017-11-27 19:16] digitalinfinity commented on #3561
@kasper3 curious, do you have a specific use case in mind for WASM on Unix using ChakraCore?

[2017-11-27 19:29] dilijev commented on #4300
Because it's in the spec.

(Or, more specifically, by my reading of the relevant spec sections, negative years are not out of range and therefore do not cause Date ctor to return `NaN` and therefore negative years are supported by the spec.)

[2017-11-27 20:02] obastemur commented on #4300
Not sure question/answer matches :) Correct me if I'm wrong but, no real app needs negative years, no?

Probably some wouldn't agree but can we consider twice on any extra ops we will add because of making negative years more spec compliant?

[2017-11-27 20:15] dilijev commented on #4300
If it slows down the common case, absolutely we should consider this being an issue that is so unimportant that it's not worth fixing. If it only slows down the negative years case, there's no cost to the common case, so I don't see why we couldn't fix it there.

[2017-11-27 20:17] akroshg commented on #4324
@rhuanjl those are nice steps you have mentioned and to the point. Thanks,
@notvita you can also looked at https://github.com/Microsoft/ChakraCore/blob/master/bin/NativeTests/JsRTApiTest.cpp#L1929
how natively it is consumed step-by-step
@liminzhu I couldn't find anything on the wiki to share here. Do you have anything else to add?

[2017-11-27 20:30] dilijev opened #4329 "Date parsing of mm/dd/yy incompatible with other engines"
All engines (at least for machines on `en-us` locales which I tested on, not sure if there's any difference between locales for non-Intl Date parsing across any engines) parse ##/##/## as mm/dd/yy (the `en-us` short date convention).

If you try to write a date as dd/mm/yy using large values (not ambiguous), it still doesn't switch parsing over to dd/mm/yy (which is a good thing as logic for that

[2017-11-27 20:31] thedamon commented on #2778
This is interesting. I live in Canada and I've never seen "CA$" in my life.  It's either "$" or "CAD".

[2017-11-27 20:53] MikeHolman commented on #4323
That's right, you can still use JsRunScript. Binaryen creates JS glue code needed for hosting wasm, including the code to initialize the wasm module, but also code to perform I/O which isn't natively supported by wasm. As such. we don't have a "pure" wasm environment. It's possible that this glue code will need some tweaking for ChakraCore embedding, though.

[2017-11-27 21:31] dilijev commented on #2778
@thedamon thanks for the info. ICU uses CLDR as its data set for producing strings, so that's certainly coming from there, not sure whether CA$ is actually considered standard in any sense. @jackhorton do we have any channel by which we can investigate/report bugs in CLDR for ICU?

[2017-11-27 21:36] notvita commented on #4324
@rhuanjl Thank you very much for taking the time to write that up. Extremely helpful and very much appreciated.
@akroshg Thanks for that, very useful.

[2017-11-28 01:11] xiaoyinl commented on #4300
I will run a benchmark to see if it slows down common cases.

[2017-11-28 01:49] dilijev commented on #4300
^ @xiaoyinl should be able to tell by analyzing the code: if there's already a branch surrounding the logic for negative cases, adding more logic to it means that only the negative cases will be affected. If this would require adding a branch to separate positive and negative cases, then we will need to look at the benchmarks to decide if there's a noticable impact.

[2017-11-28 02:26] xiaoyinl commented on #4300
@dilijev There're a few branches added to separate both cases, like [L1240-1245](https://github.com/Microsoft/ChakraCore/pull/4318/files#diff-d21e8d1f083d0bd671ee58f6ccffba90R1240), and [L1405-1408](https://github.com/Microsoft/ChakraCore/pull/4318/files#diff-d21e8d1f083d0bd671ee58f6ccffba90R1405). But I'm not sure if this cost is negligible or not for common cases.

[2017-11-28 02:33] gh-markt commented on #4327
As I suspect, I don't have the ability to push my own branch to this project to make a pull request with.

[2017-11-28 02:33] dilijev commented on #4300
Ah yes, those new checks will add non-zero overhead, though without a benchmark it's hard to tell how small the overhead will be (although the branch predictor will probably render it even more negligible for the common case).

[2017-11-28 02:43] thedamon commented on #2778
Based on the issue as reported, it actually sounds like Chakra’s
interpretation is more in line with what I’d expect to see, though I
haven’t tested it directly.

What *does* concern me is realizing that browser implementations of Intl
will vary and that many will not align with what a user or the client would
expect or demand. I’ve never seen the dollar symbol decorated when talking
about my nati

[2017-11-28 07:30] rhuanjl commented on #4327
@gh-markt you have to fork the whole project, create a branch on your fork by cloning 1.8 make your changes in that branch then make a pull request here; anyone can do it.

[2017-11-28 15:57] justinmchase commented on #4323
Awesome, you even answered my followup question with that link :)

One last followup as I think I have what I need to keep digging otherwise, on [this page in the webassembly docs](http://webassembly.org/getting-started/js-api/#function-imports-and-exports) it says:

Then they link to this [WABT](https://github.com/WebAssembly/wabt) tool. This tool appears to be a C++ command line tool but suppose

[2017-11-28 15:57] #4323 closed

[2017-11-28 16:57] jackhorton commented on #2778
http://unicode.org/cldr/trac seems like the most reasonable place. With that being said, in ICU, CA$ only shows up when you're using CAD from a non-Canadian locale in the `symbol` currency display. If you were working with CAD from en-CA or fr-CA, you would simply get "$" as the symbol. Thus, I would imagine this is intentional so as to differentiate USD, AUD, CAD, and others under the constraints

[2017-11-28 18:53] liminzhu commented on #4323
I'm not aware of a pure JS WABT but you can ask WABT maintainers if they know anything and why WABT isn't done in JS instead of me giving you my guess :).

Actually you might be able to convert wabt to wasm or asm.js to run in a browser, but I haven't tried that.

[2017-11-28 19:04] liminzhu commented on #4286
To give some extra pointers, we miss docs for modules APIs in [ChakraCore.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h) and debugging APIs in [ChakraDebug.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraDebug.h). Would appreciate PRs to https://github.com/Microsoft/ChakraCore-wiki for docs.

Samples go to https://github.com/Microsoft/Chakra-sam

[2017-11-28 19:12] liminzhu commented on #4278
You can also build with interpreter-only if you want the bare minimum. Trade-off here is obviously performance.

@obastemur @curtisman what's the flag for that again?

[2017-11-28 19:44] MSLaguana opened #4338 "Lambda functions have issues inside ternary statements"
After a recent change in master, node-chakracore started failing a test with this snippet of code:

[code]

In particular, it complained about the `:` in the ternary:

[code]

[2017-11-28 20:35] dilijev commented on #2778
@thedamon: @jackhorton makes a good point there, if you're displaying CAD in a CA locale you would never see the string appear that way.

@thedamon side note: it is actually the case that in the reality of the web, all engines except for Chakra use ICU as the library backing Intl, and we are the odd ones out by using WinGlob (hence all the compatibility bug reports tracked in #3644). It is my unde

[2017-11-28 21:50] dilijev commented on #4338
Fixed in https://github.com/Microsoft/ChakraCore/pull/4339

[2017-11-28 21:52] #4338 closed

[2017-11-28 22:04] dilijev opened #4340 "MIT License no longer automatically detected"
See https://github.com/Microsoft/vscode

![image](https://user-images.githubusercontent.com/494055/33346516-db1780a8-d444-11e7-866c-2b88e301f6f5.png)

We used to have the MIT License automatically detected in our repo, and now it is not.

![image](https://user-images.githubusercontent.com/494055/33346561-04112b1c-d445-11e7-9e61-639d4a96bfc2.png)

It seems their automatic detection algorithm may ha

[2017-11-28 22:10] dilijev commented on #4340
Removing the project name from line 1 fixed the issue on my repo

https://github.com/dilijev/ChakraCore/blob/master/LICENSE.txt

[2017-11-28 22:32] justinmchase commented on #4323
I was having similar thoughts and did ask them, thanks.

[2017-11-29 01:33] digitalinfinity commented on #4324
Sounds like this question was answered- closing this issue. @notvita please reopen the issue if you think the issue wasn't resolved- or if you have another question, please feel free to open a new issue.

[2017-11-29 01:33] #4324 closed

[2017-11-29 01:35] digitalinfinity commented on #4309
Hi @youngerier I believe @obastemur has answered your question- if you have follow ups, feel free to open new issues or hop on to our [gitter channel](https://gitter.im/Microsoft/ChakraCore).

[2017-11-29 01:35] #4309 closed

[2017-11-29 01:49] digitalinfinity commented on #4278
I don't think the build flags are exposed nicely through build.sh but the flag needed is CHAKRACORE_LITE - you can define it in CommonDefines.h or also perhaps also in CFLAGS/CXXFLAGS. I haven't tested the latter though.

See https://github.com/Microsoft/ChakraCore/pull/3553 for details

[2017-11-29 01:52] digitalinfinity commented on #4158
@ex1st was this using a particular version of Edge, or using ch?

[2017-11-29 02:00] #4340 closed

[2017-11-29 02:02] digitalinfinity commented on #3965
@fatcerberus were you able to work around this problem or is this something you are blocked on? We certainly welcome PRs in this area too if you have time 😄

[2017-11-29 04:56] Cellule commented on #3987
@mikeholman I seems to recall you fixed an issue in this code not too long ago.
Could it be the same problem?

[2017-11-29 06:23] MikeHolman commented on #3987
Similar type of problem, but my fix doesn’t address this. Issue I fixed was we were reading filename from config flags, which was null in release build, so this is something else.

[2017-11-29 07:07] ex1st commented on #4158
Hello @digitalinfinity
Microsoft Edge 41.16299.15.0

[2017-11-29 07:31] obastemur commented on #4278
`build.sh` supports turning of JIT and disabling ICU. `--no-jit` `--no-icu` yet ` CHAKRACORE_LITE` comes with additional perks those I've been planning to enable via `build.sh`.

We need to https://github.com/Microsoft/ChakraCore/pull/4285 first

[2017-11-29 15:14] marcpems opened #4344 "Exception seen in Xbox app: stowed_exception_delegate_800a138f_chakra.dll!__cunknownimpl_method0"
this crash is seen around 1k times in 72hrs for a public Xbox app.
Exception occurs on Xbox RS3 images, seen on Xbox one, one S and one X.

**Exception:** 
stowed_exception_delegate_800a138f_chakra.dll!__cunknownimpl_method0

**Stack:**
Frame     Image                  Function                               Offset
0             Chakra.dll        
[5e99c4be-334b-4a3b-b713-aac84d0dd1df.ext.zip](http

[2017-11-29 16:22] MSLaguana commented on #4268
I think it'll be easier to have a ban-list of control characters, since some of our files are expected to have unicode characters. @dilijev do you have any thoughts on this?

[2017-11-29 16:23] obastemur commented on #4268
Curious which ChakraCore source files have. Any link to those?

[2017-11-29 16:24] MSLaguana commented on #4268
I was thinking of test js files, not sure if any of our C files are expected to have unicode

[2017-11-29 16:43] obastemur commented on #4268
We don't have any C/C++ source code with non ascii char.

`find -E . -regex ".*\.(c|cc|h|cpp|hpp|C|CC|CPP|HPP)" -exec perl -lne 'print if /[^[:ascii:]]/' {} \;`

Didn't spend much time but the line above should be enough to test.

[2017-11-29 16:50] MSLaguana commented on #4268
I was just experimenting with this command line: ` grep -RIl -P -n "[\x00-\x08\x0b\x0c\x0e-\x1f\x7f]" `

That finds 2 more non-printable characters: there's a couple of `^L` characters in `test/Optimizer/test115.js` and a few more in `test/Strings.trim.baseline`.

I'm pretty sure we want to leave baselines alone, but I'm somewhat confused about how the optimizer test isn't a parse error (unless it

[2017-11-29 17:48] ricobbe commented on #4268
I should have been clearer in the original description.  I'd intended this to apply to .cpp, .h, etc. files, and not to test files or baselines.

[2017-11-29 18:11] obastemur commented on #3929
`0.0003` IEEE754 => `0.0003000000142492353916168212890625`

So, toPrecision(3) `indeed` should not return `0.0002`

[2017-11-29 18:17] akroshg commented on #4158
I can repro this on ch as well.

[2017-11-29 18:21] obastemur commented on #3929
@dajp1 the expected output for your sample should be `0.00` not `0.003` (since the precision is 3 and there are three zeroes pre any number.) When precision is set to `3` ChakraCore calculates the correct result.

However ChakraCore (as reported) results in `0.0002` when precision is `3`.

[2017-11-29 18:50] dajp1 commented on #3929
@obastemur  I don't agree.  As far as I can see, the specification says that toPrecision() should return a string to the specified number of significant digits, and examples always start with the first non-zero digit.

In my case I was expecting "0.000300" since that has three significant digits starting with the first non-zero digit, and this is what I get on every browser I have tried except Edg

[2017-11-29 18:51] dajp1 commented on #3929
Sorry - newbie mistake, I pressed the wrong button.  Didn't mean to close this issue.

[2017-11-29 18:55] obastemur commented on #3929
I agree on that. A counting issue on my end. Well, either way ChakraCore was returning the wrong result :)

[2017-11-29 19:07] curtisman commented on #4344
This usually mean a script error that wasn't handle by the app, not a crash by Chakra itself.
You will need to debug the scripts in the application to see what the script error is.
Unfortunately, I am unable to provide more information just looking at the mini-dump without heap info.

[2017-11-29 19:07] #4344 closed

[2017-11-29 20:10] dilijev commented on #4268
At some point in the past I sanitized all of our C++ source files to remove non-ASCII characters. Didn't include control characters in that pass; it's possible that could have slipped through. It's easier for us to ensure we compile on systems of all locales (no code page confusion) if we stick to strict ASCII in our C++ files. JS files can, and sometimes must, include unicode characters.

We can

[2017-11-29 21:51] curtisman commented on #3039
Fixed already in 1.6

[2017-11-29 21:51] #3039 closed

[2017-11-30 00:50] Penguinwizzard commented on #2667
I suspect that this is also the cause for the issue in proto_initializer, so I've disabled that test as well.

[2017-11-30 03:52] dilijev commented on #3096
Date.toLocaleString is failing in platform.formatDateTime via
DateTimeFormatting::IDateTimeFormatter2::formatUsingTimeZone when the IDateTimeFormatter2 was created with a formatter string which contains `{timezone.abbreviated} | {timezone.full}` which are the values we inject into the formatter string when `timeZoneName: "short" | "long"` respectively. For some reason formatting with those values

[2017-11-30 04:35] dilijev commented on #3096
The test case passes in Edge and jshost... so that's interesting. I'll need to figure out what's different there.

[2017-11-30 04:36] dilijev commented on #3096
@BobFrGit I had assumed you saw this behavior in Edge. Out of curiosity what kind of app were you writing?

[2017-11-30 05:03] BobFrGit commented on #3096
I was using Node / UWP with Chakra and compared with behavior to Node w/V8. I'm guessing you'd see this behavior in Edge but haven't tried it client-side.

[2017-11-30 08:19] stratosnn commented on #4344
@curtisman Hey, we have exactly the same issue. I wonder would it be possible to debug the exception further if we provide heapdump?
Also I wonder if this crash happens only if exception is thrown within "native" callback (i.e. "suspending" lifecycle event handler). I guess for normal errors thrown in JS browser shall not crash. Right?

[2017-11-30 16:22] curtisman commented on #4344
@stratosnn Unhandled exception in the Edge browser will not crash.
However for WWAs apps, the rules are different, where unhandled script error is fail fast (WWA will terminate the app after the script engine reported the error to the WWA host).

Since the fail fast is on the WWA side, I am not sure the exception is saved or not, or if there is a way to find out what the error is.  From my experie

[2017-11-30 18:12] sethbrenith opened #4356 "Array.prototype.copyWithin should throw when trying to delete a non-configurable property"
I wrote the following test case (which could go in ES6ArrayApi.js), and `copyWithin` fails to throw where expected.

[code]

It seems that the issue stems from the fact that several places in `JavascriptArray::CopyWithinHelper` call `OP_DeleteElementI` or `DeleteItem` but don't wrap the call in a `ThrowTypeErrorOnFailure`.

This bug is possible because correct usage of `PropertyOperation_ThrowOnDe

[2017-11-30 21:08] dilijev commented on #3096
@BobFrGit okay, thanks.

[2017-11-30 21:10] dilijev commented on #3096
This issue doesn't repro in Edge or WinGlob and has never worked in ChakraCore as far as I can tell.

#2919 is underway as a rewrite of Intl to use ICU instead of WinGlob and that effort targets all platforms.

Therefore, this issue is neither high priority or high severity. Moving to backlog.

Tracking under meta-issue #3644 for WinGlob compat issues.

[2017-11-30 21:16] #3096 closed

[2017-11-30 21:19] BobFrGit commented on #3096
Understand -- I programmed around it for now. It's part of the larger philosophical question of how to move ahead when people depend on accidental properties of the current implementation.

[2017-11-30 23:10] sergei-startsev opened #4358 "TreeWalker API issue"
Open the following codepen with MS Edge (38.14393.1066.0):
https://codepen.io/asapach/pen/MOZyRp?editors=1012

And get the FAILED result:
[code]
And then compare results in Chrome, FireFox:
[code]

[2017-11-30 23:36] dilijev commented on #4358
TreeWalker APIs (and anything on the document object) are owned by Edge. Can you open this issue on their issue tracker? https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues

[2017-12-01 00:11] Cellule commented on #3987
Looks like this was fixed in #2602 in February.

[2017-12-01 00:11] #3987 closed

[2017-12-01 09:06] obastemur commented on #3285
This is a duplicate issue of #3352 and #4310 fixes it.

[2017-12-01 09:06] #3285 closed

[2017-12-01 10:00] PhoebeHui opened #4360 "Issues found when building Chakra with MSVC + /permissive-"
When build chakra with /permissive-, the following failures found, "max" is not defined at the point of use. Either it need to include <stdlib.h> for the macro "max" or define max as a template.

Failures like:
D:\Chakra\src\lib\Common\DataStructures/BaseDictionary.h(884): error C2672: 'max': no matching overloaded function found
D:\Chakra\src\lib\Common\DataStructures/BaseDictionary.h(1409): note

[2017-12-01 10:36] sergei-startsev commented on #4358
Opened the corresponding issue to Edge tracker: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/14904585/

[2017-12-01 14:02] mattzeunert commented on #4329
I'm taking a look at fixing this.

[2017-12-01 17:46] #3929 closed

[2017-12-01 18:41] jianchun commented on #2748
This is fixed by #4349. Also hit by OSS-Fuzz.

[2017-12-01 18:41] #2748 closed

[2017-12-01 22:59] digitalinfinity commented on #4358
Thanks @sergei-startsev - closing this one since it's being tracked by Edge now.

[2017-12-01 22:59] #4358 closed

[2017-12-01 23:37] #3119 closed

[2017-12-03 03:15] mathiasbynens opened #4367 "Inconsistent download archives across platforms"
The [download archives](https://github.com/Microsoft/ChakraCore/releases) have an inconsistent structure on different platforms.

1. The macOS and Linux archives contain a `ChakraCoreFiles` folder which contains everything, including the `LICENSE` file.

1. The Windows archives, however, don’t contain this parent `ChakraCoreFiles` folder, and instead have all the files at the root of the archive.

[2017-12-03 04:32] mattzeunert commented on #4329
I've got a [change](https://github.com/mattzeunert/ChakraCore/commit/ec037e4ba149b9377ff93c9aaaf304baaa7648cf) that makes ChakraCore match V8's behavior.

V8 does a simple `< 31` check for dates, whereas SpiderMonkey and JavaScriptCore check that the date actually exists in the month. I'll try looking at the spec to see which one is the more correct behavior.

`ch-mod` is the ChakraCore build with

[2017-12-03 07:12] mattzeunert commented on #4329
My understanding:

- [`new Date`](https://tc39.github.io/ecma262/#sec-date-value) should behave exactly like the `Date.parse` method when passing in a string
- [`Date.parse`](/Users/mattzeunert/projects/ChakraCoreXcode/out/Release) does not have a step by step description
- Dates like `12/31/50` are not mentioned in the spec, and are an implementation-specific date format
- ISO strings are mention

[2017-12-03 20:49] mathiasbynens opened #4368 "Forbidden extension in RegExp pattern grammar"
See <https://tc39.github.io/ecma262/#sec-forbidden-extensions> (and https://bugs.ecmascript.org/show_bug.cgi?id=3157 for more background):

Chakra incorrectly extends the grammar in this way, which is especially problematic for `\p` and `\P`:

[code]

This presents a compatibility risk. One might reasonably assume that if the above RegExp compiles without throwing an exception, the engine supports

[2017-12-03 21:39] mlasell2 opened #4369 "first item in jQuery XMLfind shows twice"
This rss feed jQuery parsing code works in Chrome and Safari on an IPhone but inexplicably doubles the first item in  Edge.
 $.get("htps://themidpod.libsyn.com/rss", function (data) {
    var $XML = $(data);
    $XML.find("item").each(function (i) {
        var $this = $(this),
            item = {
                title: $this.find("title").text(),
                link: $this.find("enclosure").att

[2017-12-04 03:51] Oceanswave commented on #3616
A little confused about this myself.

#3255 seems to have removed returns at the top level (throws on parse module), but at the same time [JsModuleEvaluation](https://github.com/Microsoft/ChakraCore/blob/ad964d57a821cdc384ea2ef5b61fb4df0ad74ece/lib/Jsrt/ChakraCore.h#L164) seems to indicate that it should provide a return value.

However, the return value seems to always be undefined -- even with a

[2017-12-04 05:03] fatcerberus commented on #3616
A hardcoded return value of `undefined` is correct according to the current specification:
https://tc39.github.io/ecma262/#sec-moduleevaluation

So this would need a new API if such a feature is implemented.  A workaround that will work right now is do what I do in miniSphere, instead of evaluating your top-level module directly, you evaluate a shim like this:
[code]

And then you can just read ba

[2017-12-04 12:41] obastemur commented on #4367
Agree with @mathiasbynens and I believe we need to change couple of things with Windows bundles.

- put the samples and LICENSE (similar to xplat package)

@dilijev @MSLaguana what do you think?

[2017-12-04 17:11] obastemur commented on #4327
Fixed. @gh-markt Thanks for the issue and the fix.

[2017-12-04 17:11] #4327 closed

[2017-12-04 19:14] dilijev commented on #4367
I don't think the archive needs a single folder at the root of the archive. Yes, all packages should look the same. We should include the LICENSE in all. Not sure we need to include the Samples in any of them, as those are present in the wiki and represent clutter in the packages themselves. Maybe we could include a release-specific README with links to samples, description of how to use the packa

[2017-12-04 19:16] boingoing commented on #3616
So looks like what we want here is a way to fetch the exports of a module from native-side, perhaps only the default export or module namespace object? Something like:
[code]
or
[code]
or
[code]
Does that sound right? Any preference among those options?

[2017-12-04 19:25] liminzhu commented on #4369
Thanks for reporting the issue @mlasell2. This looks like a Web API issue rather than a JavaScript one. Please open an issue on the Edge issue tracker https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues to get the right set of people looking into it.

[2017-12-04 19:29] dilijev commented on #4329
Hey @mattzeunert, thanks for the thorough investigation so far. Your understanding of the spec is correct AFAICT, especially w.r.t. to `mm/dd/yy` format being implementation-defined. Thus our current implementation is not "wrong" per the spec, but is wrong from a perspective of user expectation, most importantly in that we differ from the other engines.

"Dates not in the calendar" is a more compl

[2017-12-04 19:34] dilijev commented on #4329
For "not in the calendar" dates (sensitive to year and month), jsc and sm/jsshell do the right thing. Otherwise for days up to 31, we do the same thing as Chrome. Since this behavior is 50/50 there's no compelling reason to change it, especially with the (minor) perf impact we'd expect.

However, for days above 31 and months above 12, we do behave in a way users would certainly not expect and diff

[2017-12-04 19:35] liminzhu commented on #4367
Agree with @dilijev . The Windows package also lacks the headers and .lib file, which are necessary for embedding.

[2017-12-04 20:05] Oceanswave commented on #3616
@fatcerberus -- thanks for the pointer!

@boingoing -- would be an improvement to have the ability to do that rather than mutate the global object. I like the first option the most but a combo of the first and last would be fine too. Having access to the module namespace would potentially provide more flexibility, but personally not needing that right now.

[2017-12-04 20:10] benjamingr commented on #2720
Any update on this?

[2017-12-04 20:21] bterlson commented on #2720
@benjamingr no update to share yet, but I'll be sure to update this issue (and [the roadmap](https://github.com/Microsoft/ChakraCore/wiki/Roadmap)) when I do!

[2017-12-04 21:13] mlasell2 commented on #4369
I further debugged this and noticed that Edge jQuery implementation is finding and concatenating both
[code]

Other browsers do not do this. Not sure if this is a bug or a feature, but it isn’t the standard other browsers are using. I can figure out a solution for my issue.

[2017-12-04 21:50] MSLaguana commented on #4367
The single folder at the root of the `.tar.gz` is pretty common, so you don't unzip something and find that you've polluted the current directory unexpectedly. Typically that folder name matches the name of the archive (without extension) but that's just a convention.

On windows, we have top-level folders for each flavor, while on xplat we only build one flavor. If we want a consistent folder str

[2017-12-04 22:37] MSLaguana commented on #4367
Spoke with @dilijev a bit and realised that the linux packages are also missing the `libchakracore.a` files. We might want to re-visit what the purpose of these released archives is, and make sure that they are fit for purpose.

E.g. are they intended for just running `ch.exe foo.js` and getting output? Are they intended to allow you to embed chakracore, and so we should provide the `.lib`/`.a` fi

[2017-12-04 22:44] mathiasbynens commented on #4367
I assumed the use case was to just run `ch.exe foo.js`, because embedders would probably want to check out the source code.

[2017-12-05 00:26] dilijev commented on #4367
I yield to the argument in favor of a single folder at the root of an archive. I suggested removing it because most archival tools on Windows will offer to (or by default) extract to a directory with the same name as the archive. However, polluting your CWD with whatever was in the archive is worse than a redundant subdir.

On xplat builds where we ship only x64, the x64/ subdir would look redunda

[2017-12-05 00:33] dilijev commented on #4367
Windows packages are not currently suited to embedding ChakraCore.dll in an application because they are missing the dev headers. Not sure about the *nix packages. If we decide to remove support for embedding it wouldn't be a regression from the perspective of Windows packages. (Also there's the NuGet packages for that.)

I am unsure about whether I think these downloads should enable embedding Ch

[2017-12-05 01:59] jianchun commented on #4360
@PhoebeHui Any details to repro? Which branch/commit were you on? I'm on a dogfood build (cl version 19.12.25907). I saw a bunch of other issues when I hardcode `/permissive-`, but not this one.

[2017-12-05 02:03] PhoebeHui commented on #4360
Sorry, this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior, we are working with master branch.

[2017-12-05 02:18] MikeHolman commented on #3124
Not worth investigating, since we don't even run these tests on ARM.

[2017-12-05 02:18] #3124 closed

[2017-12-05 02:22] MikeHolman commented on #2183
I'm not able to repro, and besides this is SAL warning in test only code so it doesn't seem worth investigating further.

[2017-12-05 02:22] #2183 closed

[2017-12-05 02:31] #2119 closed

[2017-12-05 14:17] mattzeunert commented on #4329
Cool, I'll open a PR.

Actually the ISO date logic fails as the date/month are invalid (>12/31). But if the ISO date logic fails the parsing code falls back to the implementation specific date parsing logic, which does support invalid dates that look ISO-like (e.g. `2000-01-40`).

[2017-12-05 15:35] obastemur commented on #4367
We had discussed this initially (offline) hence I don't think we have any reference on Github. Let me try to explain;

We do not miss archive files. Xplat package ensures an easy experience with ChakraCore targeting multiple distros with a single binary.

There are multiple reason for not including archive files with xplat packages. Couple of them;

- Archive files are more platform dependent and

[2017-12-05 16:04] obastemur commented on #4286
@mattzeunert did a nice job by documenting xcode output -> https://github.com/Microsoft/ChakraCore-wiki/pull/45

[2017-12-05 16:40] #3827 closed

[2017-12-05 18:10] #2755 closed

[2017-12-05 19:17] dilijev commented on #4367
@obastemur That's totally fair. In that case I think we should say across the board that the purpose of these archives is not to be consumed by embedders, but rather ONLY to provide a runnable host from a given release (ch).

[2017-12-05 19:20] dilijev commented on #4367
Oh I think I misunderstood... Static archives (.a/.lib files) should not be included because they are too system-specific and large. However, shared object files for embedding ChakraCore (by .so/.dll) should be provided in these packages, in addition to the runnable host.

Therefore, across the board these packages should provide a runnable host and the tools necessary to dynamically link ChakraCo

[2017-12-05 19:58] jackhorton commented on #2778
You might have had `currencyDisplay` set to something other than `symbol` (though I think it is `symbol` by default, so if you hadn't set it, that wouldn't be an issue). The issue you had asked here was specific to ICU -- Windows Globalization always just uses "$" regardless of the dollar kind/langtag country combination. Also, if you provide "en-CA", every browser and most other JS hosts (except

[2017-12-05 20:45] dilijev commented on #4369
@mlasell2 The best way to get eyes on this issue (and whether or not it is an issue) is to report the issue to the Edge issue tracker as @liminzhu mentioned.

[2017-12-05 21:21] svejdo1 opened #4380 "After calling appendChild, checked nodes are no longer shown as checked using innerHTML property"
Sample:
[code]

[code]

Notice the checked="checked" is no longer present.
JsFiddle: https://jsfiddle.net/svejdo1/tpghugv2/1/

Reproes both in EDGE/IE11.

[2017-12-05 21:54] liminzhu commented on #4380
Thanks for opening the issue @svejdo1 . This looks like a DOM issue rather than a JS problem. Please file an issue on the [Edge issue tracker](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues) to get the right set of people looking into it.

[2017-12-05 22:11] #3055 closed

[2017-12-05 22:11] #4360 closed

[2017-12-06 09:32] kslonka commented on #2789
Hey everyone! Any updates on this? I can't wait to use node-chakracore with async/await and generators. Cheers!

[2017-12-06 09:38] #4380 closed

[2017-12-06 16:22] mike-kaufman commented on #2789
@kslonka - thanks for your interest.  I've been working on it this week.  Stay tuned... :)

[2017-12-07 00:26] #4266 closed

[2017-12-07 00:58] jianchun commented on #3280
@gaa-cifasis Thanks for reporting this issue and sorry for fixing it this late.

[2017-12-07 04:18] digitalinfinity commented on #3786
Hi @fatcerberus, sorry, this slipped through my radar. We don't have any plans to support different MSVC toolchains but I think in this case, we'd certainly accept a PR. @MSLaguana we just need to introduce a new nuspec + targets file in Build\NuGet, yes?

[2017-12-07 04:19] digitalinfinity commented on #3797
@obastemur @jianchun did either of you get a chance to look at whether this is a bug?

[2017-12-07 04:22] digitalinfinity commented on #3638
@leirocks marked this for inclusion in 1.8, let me know if you disagree

[2017-12-07 04:23] fatcerberus commented on #3786
I think there should at least be support for v141 (MSVC 2017), since that’s the current version and the VC2015 tools aren’t installed by default.  It’s a bit weird not to have a NuGet package for it.

I understand if there’s no planned support for the XP toolchains but not having official support for the normal VC2017 toolset strikes me as odd.

[2017-12-07 04:36] digitalinfinity commented on #3871
This looks like a bug in `JsSetModuleHostInfo`:
[code]

It's likely that the module was parsed successfully and so you can't set an error on it. And indeed, `SourceTextModuleRecord::OnHostException` does return an error but it doesn't get propagated by `JsSetModuleHostInfo`

[2017-12-07 05:01] fatcerberus commented on #3871
Hmm, possible.  But errors set in this way *do* seem to get propagated to JS code, e.g. by rejecting a promise returned by `import()`.  It's just that I can't read them back.

[2017-12-07 05:07] Geoffrey-A commented on #4266
Thank you very much for your work.

I have been able to reproduce the error with your adapted snippet using the latest released Chakra binary. I was also able to confirm that your PR fixes it, by building Chakra with and without your fix. I also checked that, on a debug build, with the added parameters `-maxInterpretCount:1 -maxSimpleJitRunCount:1` the code added to the test suite (`test/Optimizer

[2017-12-07 05:42] MikeHolman commented on #4266
Yes I think you're right that we must be JITing more aggressively in your scenario if issue only started showing up now, because the root problem goes all the way back to IE11. But the heuristics for when/what we JIT are complicated so it's hard for me to know what exactly changed. The only hard and fast rule is the more times you call a function the more likely we are to JIT it. We have made some

[2017-12-07 07:20] Geoffrey-A commented on #4266
Thank you for the information.
I wondered if Chakra had external parameters (such as maxInterpretCount) that could have been tuned up when it was incorporated into Edge 15.

I was quite surprised to see this bug was hiding for so long in so big browsers.

Seeing it was merged in the release/1.8 branch, I am hopeful to see that bug fix soon in Edge!

[2017-12-07 11:57] gaa-cifasis commented on #3280
No problem!

[2017-12-07 17:18] MSLaguana commented on #3786
@dilijev might know more, I've not actually looked into the mechanics of how the nuget packages are produced. I don't see much specific in the package about v140 though; All the dlls and libs are copied from the build output (`VcBuild\bin\<platform>_release\`) to a folder that mentions v140 (`lib\native\v140\<platform>\release\`). That suggests to me that if any changes are required to support v14

[2017-12-07 18:06] fatcerberus commented on #4311
Is this actually the case in practice?  It’s been my experience based on performance assessments that attaching the debugger switches execution to a fully interpreted mode with no JIT.

[2017-12-07 18:20] fatcerberus commented on #3965
It’s not a blocker, I opted to take a feature regression in my debugger rather than blocking the release on this.  I could look into making a PR for it, I’ll need to familiarize myself with the chakra codebase some more first though :)

[2017-12-07 21:21] dilijev commented on #3786
I think the binaries should work, but the package has some metadata saying which MSVC toolchain it targets. v140 was the toolchain at the time we set it up. We can augment the package to be able to target others as well.

I know that we have issues building chakracore if we don't have the right windows toolkit versions installed but I don't think that would affect running chakracore.

[2017-12-07 21:39] dilijev commented on #3786
Update: I was under the impression that the lib/native/v140 subfolder had some nuget magic associated with it to handle the vc140 framework specifically, but now that we're investigating it looks like we might not have the full picture.

[2017-12-08 01:47] digitalinfinity commented on #3871
That's odd and reading the code I'm not sure how that's possible. I think we should just fix the error propagation first and then see if the behavior you're seeing changes, and then proceed from there. @akroshg is out till the end of the year so I don't imagine we'll get to this till early next year but if you want to PR this, I'll be happy to help land it.

[2017-12-08 03:41] hemanth opened #4393 "Symbol not found: _clock_gettime"
Building Chakra on macOS ≤ 10.12 resulted in `Symbol not found: _clock_gettime`

<img width="709" alt="screen shot 2017-12-07 at 10 31 32 pm" src="https://user-images.githubusercontent.com/18315/33727658-b499ce52-db9e-11e7-95b0-a9ed7f5f5fa1.png">

//cc @bterlson

[2017-12-08 08:20] obastemur commented on #4393
@hemanth Thanks for reporting this. Looks like we have got an issue with build script. Looking into it closely.

[2017-12-08 15:08] obastemur opened #4395 "xplat: prevent no-icu / icu / embed-icu combinations"
When no-icu / icu / embed-icu arguments given in any combination, build ends up in linker error and the issue is not clear.

Prevent the combination of these arguments and failfast.

[2017-12-08 16:02] JoshuaKeyz opened #4397 "Microsoft Edge doesn't display nested elements properly when I dynamically remove the hidden attribute on the parent of the nested element."
Please can this issue be fixed? Other browsers including Internet Explorer works pretty fine with respect to this Microsoft Edge error.

This bug is quite unpredictable. When you first load run the plunker on Microsoft Edge, it might work properly, while sometimes it doesn't. But just reload the page, first with a Major reload, and try if the problem appears, if it doesn't, then try the minor relo

[2017-12-08 16:37] JoshuaKeyz commented on #4397
[https://plnkr.co/edit/4XalOoE2Y3TiMyYKR3Py?p=preview](url)
This is the link to the code launched in plunker.

[2017-12-08 19:58] dilijev commented on #1223
FYI @jackhorton

[2017-12-08 22:13] liminzhu commented on #4397
Thanks for reporting the issue @mlasell2. This sounds like a web browser issue rather than a JavaScript VM one. Please open an issue on the Edge issue tracker https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues to get the right set of people looking into it.

[2017-12-09 00:56] #3280 closed

[2017-12-09 22:41] obastemur opened #4405 "Flaky test262/error on release/1.7 (Windows)"
[code]

Not sure whom this should be assigned. If no-one looks at, I will take a look after break.

[2017-12-11 17:27] markb-avalara opened #4406 "Server-side Chakra optimization"
I've got a .NET service that runs small snippits of JavaScript. It needs to be super fast so I've pre-allocated a pool of chakra runtimes. I'm attempting to re-use the runtimes but after running a single threaded stress for a bit I encounter "Wrong thread" exception when attempting to set a newly created context on the runtime.  I can clearly see from debug messages that the previous use of the ru

[2017-12-11 21:51] liminzhu commented on #4406
Was the runtime on a previous thread? If so, you need to `JsSetCurrentContext(JS_INVALID_REFERENCE)` on that thread to give up the runtime.

This is the right idea. A new context is a new execution environment for a new incoming request.

Contexts are susceptible to GC like regular objects.It's pinned when set as current context, otherwise GC can clean it up anytime unless `JsAddRef` is called.

[2017-12-12 04:03] dilijev opened #4410 "ch's output functions (print, etc) don't respect JS semantics for nulls embedded in strings"
null characters (`\0`, byte `0x00`) can be embedded in JS strings and should not be treated as null terminators in JS semantics.

[code]

Our affected output functions are `print`, `console.log` and `WScript.Echo` which are all aliases for the same native entry point (`EchoCallback`):

[code]

The various console hosts generally seem to have implemented `print`/`console.log` in a naive way.

The w

[2017-12-12 23:13] #4393 closed

[2017-12-12 23:57] dilijev opened #4414 "Test: wasm/params.js flaky failure"
Seen in: https://github.com/Microsoft/ChakraCore/pull/4409

https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.8/job/shared_ubuntu_linux_debug_prtest/248/consoleFull#-3969678191145e095-857e-4c41-a4bc-0e4be44ef5c5

[code]

[2017-12-12 23:58] dilijev opened #4415 "Test: [x64_debug] wasm.simd (comparisonTests.js) failure"
Seen in rolling build

https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/x64_debug/1418/console

[code]

[2017-12-13 00:26] Cellule commented on #4415
@arunetm Could you take a look ?

[2017-12-13 00:33] markb-avalara commented on #4406
Yes, probably a different thread. In order to terminate scripts that run too long I run the script using a Task so the script is running on some arbitrary thread from the thread pool. And I'm sure that at the end of execution that the context is set to JS_INVALID_REFERENCE because I'm using the Scope object in the C# wrapper that comes with the samples. In the Dispose of that object it sets contex

[2017-12-13 01:11] arunetm commented on #4415
Looking into this one..

[2017-12-13 01:32] Penguinwizzard opened #4417 "ASAN: We can leak ArrayBuffers in WASM code when failing module construction"
This may be an issue of needing to have the recycler properly clean everything up before closing ch.

[code]

[2017-12-13 02:19] Cellule commented on #4415
Fixed

[2017-12-13 02:19] #4415 closed

[2017-12-13 03:25] jackhorton commented on #4395
I can also take a look at this in a few weeks, since I plan on making a big change to the build systems on all platforms to make ICU support consistent

[2017-12-13 17:50] eakondratiev opened #4421 "Bug in the javascript toExponential function"
Edge console:
5e-7.toExponential (5)

result
"4.00000e-7"

should be
"5.00000e-7"

Microsoft Edge 41.16299.15.0
Microsoft EdgeHTML 16.16299

[2017-12-13 18:22] liminzhu commented on #4406
I see. Can you send us a small repro? We can take a closer look at what happened.

[2017-12-13 19:51] sethbrenith commented on #4421
I can repro this in Edge 41.16299.15.0 but not the latest and greatest ch.exe built on master, so I'm guessing this was already fixed.

[2017-12-13 19:59] sethbrenith commented on #4421
Maybe [this commit](https://github.com/Microsoft/ChakraCore/commit/b8fcc4b8779c994085874096b5cfb322ac858615). I'll leave this issue open for @obastemur or anyone else with more context to confirm.

[2017-12-14 00:46] Penguinwizzard opened #4425 "ASAN: Intl changes cause memory leaks in master on a number of tests."
I'm disabling these tests in ASAN runs in PR #4424. The leaks generally happen in NumberFormatter-related code.

[2017-12-15 22:03] markb-avalara commented on #4406
I've attached a demo of the issue. It occurs in the timeout case where the script runs too long. Specifically when I attempt to re-enabled the runtime after I've terminated it at line 166 in Program.cs. Thanks for the help!
[ChakraRuntimePoolStress.zip](https://github.com/Microsoft/ChakraCore/files/1564127/ChakraRuntimePoolStress.zip)

[2017-12-15 23:42] markb-avalara commented on #4406
In the process of creating an app that reproduced the problem I found my Wrong Thread issue. I had a race condition in my async thread where a thread signal was inside the using statement for the Scope. So sometimes I'd attempt to renabled a runtime before the previous thread was finished. However, I fixed that and now encounter the second problem I've occasionally seen. The application just exits

[2017-12-16 00:18] EdMaurer commented on #79
This has no community traction. The core Chakra team has no plans to do this. That doesn't mean that we wouldn't want to discuss a proposal.

[2017-12-16 00:18] #79 closed

[2017-12-18 01:35] Oceanswave opened #4434 "ChakraCore 1.7.5 Release Package for linux missing .so file."
The linux 1.7.5 linux release located on this page:

https://github.com/Microsoft/ChakraCore/releases/tag/v1.7.5

Seems to be missing the /lib/libChakraCore.so file which has been present on previous releases.

[2017-12-18 04:39] obastemur commented on #4434
@Oceanswave Thanks for reporting this. Fixed the package and updated SHASUM

[2017-12-18 04:39] #4434 closed

[2017-12-18 17:18] jackhorton opened #4435 "TTD does not account for ObjectArrays in standard library functions"
This is currently only impacting the #4390

[2017-12-18 19:48] kkrynitski opened #4437 "tools/compile_clang.sh : 'makeinfo' is missing on your system."
I've used 'compile_clang.sh' as a stand alone installer of clang 5, and have 'Warning':
`WARNING: 'makeinfo' is missing on your system.`
and bunch of Errors similar to that:
[code]

`sudo apt-get install texinfo` -- solved that.
 Can you please add it to script?

[2017-12-19 02:33] jackhorton commented on #3674
Is the path forward here to pass the user-provided locale directly to the backing ICU constructor and let it figure out what it wants to do? I am not sure that that's any better than the Intl algorithm and it would be somewhat wasteful to implement, since we likely wouldn't be able to easily cache the ICU object that gets created... I think I vote to close this for now, lookup is as good as we wil

[2017-12-19 02:38] jackhorton commented on #3811
This is done (modulo tests that don't pass with ICU, but the coverage is there)

[2017-12-19 02:38] #3811 closed

[2017-12-19 02:40] jackhorton commented on #3801
Fallback is no longer needed.

[2017-12-19 02:40] #3801 closed

[2017-12-19 03:57] obastemur commented on #4437
It is already part of the script. You should  run compile_clang.sh under su/sudo

[2017-12-19 15:42] obastemur commented on #4437
Closing this for now, feel free to open it back if you think the solution is not okay.

[2017-12-19 15:42] #4437 closed

[2017-12-19 17:49] #4329 closed

[2017-12-19 18:23] obastemur commented on #4421
Yep, I had fixed this problem on release/1.8 .. master. @eakondratiev Thanks for reporting it.

[2017-12-19 18:23] #4421 closed

[2017-12-19 20:47] markb-avalara commented on #4406
I attached a simpler app in the previous comment that demonstrates the issue. We won't be able to add Chakra to our production servers until we understand why it crashes in the timeout case.

[2017-12-19 21:13] dilijev commented on #3674
Best Fit is implementation-defined. This can, indefinitely, fall back on resolveLocaleLookup logic. Feel free to close this issue if there is no plan to implement it and this is just clutter. However, before we close this issue, I think we should research whether ICU exposes something to us we can use to get better BestFit logic in a relatively straightforward way.

[2017-12-19 21:17] dilijev commented on #2984
https://www.unicode.org/versions/Unicode10.0.0/ has been published.

[2017-12-19 21:19] dilijev commented on #3683
Done in #4083 (@jackhorton)

[2017-12-19 21:19] #3683 closed

[2017-12-19 21:20] dilijev commented on #4031
@jackhorton is this fixed?

[2017-12-19 21:20] dilijev commented on #4015
@jackhorton is this fixed?

[2017-12-19 21:21] dilijev commented on #3665
Done in #4083

[2017-12-19 21:21] #3665 closed

[2017-12-19 21:21] dilijev commented on #3673
@jackhorton is this one?

[2017-12-19 21:21] dilijev commented on #3666
@jackhorton is this done?

[2017-12-19 21:22] dilijev commented on #4007
@jackhorton is this done?

[2017-12-19 21:22] dilijev commented on #2352
@jackhorton is this done?

[2017-12-19 22:45] jackhorton commented on #3770
We should't have _any_ fallback logic anymore as of #4390

[2017-12-19 22:45] #3770 closed

[2017-12-19 22:47] jackhorton commented on #2352
DateTimeFormat gets cached as of #4390 but Collator still isn't with no timeline on when that will happen.

[2017-12-19 22:48] jackhorton commented on #4007
Nope, I haven't added any new Intl.js caching. I hope to do one big pass later on to get it production-ready once the code has stabilized.

[2017-12-19 22:49] jackhorton commented on #3666
It is (not marked as done yet because Collator isnt in master yet)

[2017-12-19 22:49] jackhorton commented on #3673
Yep, not marked as done yet because Collator isn't in master.

[2017-12-19 22:51] jackhorton commented on #4015
Closed in #4083

[2017-12-19 22:51] #4015 closed

[2017-12-19 22:52] jackhorton commented on #4031
Closed in #4083, but this is being improved in an upcoming pull that standardizes everything around the spec version of ResolveLocale

[2017-12-19 22:52] #4031 closed

[2017-12-20 00:41] dilijev commented on #3673
I think we can close things where the work is finished regardless of whether it landed in master.

[2017-12-20 00:43] jackhorton opened #4450 "Intl: Invalid unicode option values cause RangeErrors"
The following code throws a RangeError in Edge and simply ignores the bad value in Firefox and Chrome.

[code]

We actually have a test _expecting_ this to throw, so it might have been part of an older version of the spec. Regardless, standardizing on the 2018-compliant version of ResolveLocale introduced in #4390 fixes this.

[2017-12-20 00:44] #3673 closed

[2017-12-20 13:17] gashtio commented on #3966
Okay, I took some more time for this and got it working in my tests (Android ARM only).

@obastemur Created PR #4452 for Android support.

Initially I had some new troubles with a SIGBUS in some mutexes, which was fixed by aligning the storage for the mutex. The mutexes were also reworked a bit in the master branch (compared to release/1.8) and that's where I branched from, so that's where I submi

[2017-12-20 18:06] markb-avalara commented on #4406
I'm closing this and reopening as another issue because this is marked as a question that has been answered.

[2017-12-20 18:10] markb-avalara opened #4454 "Chakra terminates process under stress"
Below please find code that crashes the process when attempting to terminate the execution of scripts. This is a real scenario for a service that we are building.

[code]
[ChakraStress.zip](https://github.com/Microsoft/ChakraCore/files/1585031/ChakraStress.zip)

[2017-12-20 18:36] obastemur commented on #4454
IMHO related to https://github.com/Microsoft/ChakraCore/issues/3797

[2017-12-20 19:40] obastemur commented on #3778
This doesn't repro anymore.

Also reported as OS#12970055

Created a batch file on Windows, in order to try repro'ing there too. No success.

[code]
(if you want to give it a try on chakracore, replace jshost to ch and remove first `-bvt`)

Closing this for now.

[2017-12-20 19:51] dilijev commented on #4450
@bterlson @caridy @zbraniecki do you know if the spec changed re: expected handling for this situation?

[2017-12-20 21:09] Cellule commented on #3778
If we think this really doesn't repro anymore, then we have to reenable the test before closing this issue

[2017-12-20 21:20] zbraniecki commented on #4450
Why would it throw?

According to https://www.ietf.org/rfc/rfc6067.txt

[code]

`invalid` is a 7 char long type for key `kf`. I'm not sure why would it throw?

[2017-12-20 21:28] jackhorton commented on #4450
The WinGlob version of our implementation has... _interesting_ handling of locales before this. Basically, we used to call GetOption in a roundabout way on what we retrieved as unicode extensions.

[2017-12-20 21:45] zbraniecki commented on #599
I'm not sure if this should be fixed FWTW. Intl operations are by design supposed to be opaque and no expectations should be made as to the output.

Bidi marks are perfectly valid parts of the result string and any operations that are attempting to retrieve data from the formatted string (like the regexp in comment 0) are working against the logic of Intl operations.

My recommendation would be to

[2017-12-20 21:46] zbraniecki commented on #2961
Or we should loosen the spec to conform to BCP47 closer :) I'd be in favor of that actually.

[2017-12-20 23:29] nojvek commented on #599
Sure, but it's horribly inconsistent between browsers. Regex on dates is
something that developers do all the time. Weird hidden characters have
definitely driven me away from Edge.

On Wed, Dec 20, 2017 at 1:46 PM, Zibi Braniecki <notifications@github.com>
wrote:

[2017-12-21 00:14] obastemur commented on #3778
Agree, I was about to open this issue and let PR to close this. Saw you did that already.

[2017-12-21 00:25] #3482 closed

[2017-12-21 00:44] zbraniecki commented on #599
They're only weird if you are unfamiliar with the issues of bidirectionality. Bidi chars are needed and we will be adding them. "Developers" also tend to do other bad practices like sync io. I don't believe that ignorance in the subject someone is working on is a good reason to sacrifice the quality of the API.

[2017-12-21 00:50] BobFrGit commented on #599
At this point I'm with keeping the bidi because parsing the output has enough other problems and focusing on TC39 date improvements to get pat today's kludges.

[2017-12-21 00:51] Penguinwizzard commented on #3651
A PR to disable output buffering in xplat can be found at #4463; this would allow us to re-enable all of the related tests for ASAN builds.

[2017-12-21 21:36] jackhorton commented on #4043
This is no longer an issue since all of the prototype.* functions are implemented now.

[2017-12-21 21:36] #4043 closed

[2017-12-22 04:07] JohnMasen opened #4472 "[Clarify request] Question about support module loading in host"
hi,
I'm working on a library which porting the chakracore to dotnetcore (Chakracore.NET on Github).
After reading the PR (https://github.com/Microsoft/ChakraCore/pull/1254), I have a question about the host implementation:

What does "1. Load top level script " mean? I'm using JsRunScript to execute the script. does the "Load" means "serialize the script"? I tried to read the C++ source., but due

[2017-12-22 17:41] jackhorton commented on #637
Was playing around with this a bit -- in chakra, anonymous function expressions bound to variables don't take the name of their variables (unlike at least in SpiderMonkey), so my initial belief on turning this into arrow functions is that the best error message we could get is "Function is not a constructor", rather than "getCanonicalLocales is not a constructor". @bterlson thoughts on if thats go

[2017-12-22 19:08] bterlson commented on #637
It seems like we do the right thing (`let thing = () => {}; thing.name;` => "thing"). If we're not doing this it's likely a bug... where are you seeing this behavior?

not good enough, but our errors messages generally need help. "Function is not a constructor" is in the family of "object is null or undefined" though, in that it isn't particularly helpful.

[2017-12-22 21:08] obastemur commented on #4472
Don't. At least, not for module script source.

See https://github.com/Microsoft/ChakraCore/blob/c6026b45bb187cddf373d14abf7c2f63c9aae525/bin/ch/WScriptJsrt.cpp#L355

Important JSRT calls;
- JsInitializeModuleRecord
- JsSetModuleHostInfo
- JsParseModuleSource

[2017-12-22 22:36] #3778 closed

[2017-12-23 01:23] JohnMasen commented on #4472
OK, I got it. seems support module requires different API to execute the script.
Thanks obastemur.

[2017-12-23 01:23] #4472 closed

[2017-12-23 06:19] jackhorton commented on #637
![image](https://user-images.githubusercontent.com/4370013/34317534-d5668e2c-e765-11e7-9093-e54464472480.png)

Seems like this should be fixable. Also interestingly, we _definitely_ don't set the name property of normal function expressions assigned to variables, even though we do set the name of lambdas assigned to variables. I just confirmed this again locally but ran into it in Intl.js before.

[2017-12-24 02:39] JohnMasen opened #4476 "[JSRT][C#][Modules] Request help on C# module feature porting"
hi,
sorry I can't find the discussion board on Chakracore.
I created a simple demo to port the module system to C#, but JsModuleEvaluation always trigger "System.AccessViolationException".
Can someone help on this? Many thanks.

the source code is uploaded at https://github.com/JohnMasen/ChakraCore.NET/blob/master/JSModuleTest.zip

related lines listed below:

Test class
[code]
JavaScriptModuleRec

[2017-12-25 11:12] JohnMasen commented on #4476
Never mind, I found the solution. interop should use strong type delegate instead of object.
the JsSetModuleHostInfo should be split into 3 dll imports

[2017-12-25 11:12] #4476 closed

[2017-12-25 13:22] obastemur commented on #4476
@JohnMasen Thanks for sharing it.

[2017-12-27 13:51] JohnMasen opened #4477 "[JSRT]function comments does not match function signature"
chakracore.h Ln77
The following 2 functions has incorrect XML comments.
1. Identical "summary","remarks" section
2. "params" does not match function declaration

[code]

[2017-12-27 14:38] obastemur commented on #4477
Could you please send a PR?

[2017-12-27 21:41] jackhorton commented on #4477
@obastemur John might not know what the correct summary and remarks should be here -- I know that at first glance, I don't know the difference between the two APIs. I think @liminzhu might be good to ping here.

[2017-12-27 23:42] obastemur commented on #4477
Reading the copy-paste above;

- `dwReferencingSourceContext` and `referencingModule` above are declared in opposite places
- `specifier` and `dependentModuleRecord` are already explained on other module related docs in the same header file. i.e. https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h#L69-L70

@JohnMasen spend some time in the module code hence might help?? on fi

[2017-12-28 03:58] ndugger opened #4481 "Shadow DOM - Where are web components?"
I am so very sorry for this more than likely being in the wrong place, but I've reached out to various twitter accounts, commented on the shadow DOM status page, and haven't heard back from anyone.

---

As of writing, [Shadow DOM](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6263785-shadow-dom-unprefixed) has 11,796 votes on [Edge's platform status](https://devel

[2017-12-28 06:42] fatcerberus opened #4482 "ChakraCore segfaults during JsParseModuleSource in certain cases involving circular imports"
I haven't tried to reproduce this in isolation yet, only in miniSphere (my game engine), but I didn't see this before, so it seems to be a regression in the latest masters.  Calling `JsParseModuleSource` with the debugger attached (i.e. `JsDiagStartDebugging` has been called) often results in a segfault due to null pointer dereference.

The null pointer dereference happens here (`this` is nullptr)

[2017-12-28 14:08] obastemur commented on #4482
I’ve been looking at JSModule* api / implementation recently. Taking this one.

[2017-12-28 14:11] VadymMakhonin opened #4483 "Regex works incorrect in Edge"
`/^[\w!\$&\*\-\.\?\^\{\}~]+@[\w!\$&\*\-\.\?\^\{\}~]+\.[\w!\$&\*\-\.\?\^\{\}~]+$/.test('q@.com')`
This code returns true in Microsoft Edge 40.15063.674.0, Microsoft EdgeHTML 15.15063

Also this issue doesn’t reproduce in following versions:
Microsoft Edge 38.14393.1066.0, Microsoft EdgeHTML 14.14393
Microsoft Edge 41.16299.15.0, Microsoft EdgeHTML 16.16299
Also this issues doesn't reproduce in othe

[2017-12-28 18:57] bterlson commented on #3407
Another case not enabled in stable is the simple `var x = function () { }; x.name` pattern.

[2017-12-28 18:57] bterlson commented on #637
See also: https://github.com/Microsoft/ChakraCore/issues/3407.

[2017-12-28 22:20] obastemur commented on #4482
@fatcerberus , I couldn't repro the issue. Appreciate, if you may provide a way to repro.

[2017-12-29 06:41] fatcerberus commented on #4482
I initially thought this was connected with the debugger, but now I don't think so: the crash happens in my debugger-enabled build, even with the `--performance` option that avoids calling JsDiagStartDebugging--but my standard "redist" build doesn't crash at all.  I'll need to do more investigation to figure out what's different between the two builds and then I should be able to come up with a re

[2017-12-29 06:44] JohnMasen commented on #4477
@obastemur Thanks for your explanation, I’ve got my module running:)   Please feel free to close the bug when typos are fixed.

[2017-12-29 07:17] obastemur commented on #4482
I did push debugger attach / detach in combination with JsModule* without issue. As you said, the issue doesn't look like debugger related.

What are the core differences between `redist` and other build options you have?

[2017-12-29 07:29] fatcerberus commented on #4482
I have two main builds: redist (`minisphere`) and developer (`spherun`).  Both use the same copy of ChakraCore.dll, the only relevant differences are:

1. `spherun` is compiled as a console app (for logging purposes) while the redist is compiled as a GUI app.  Only relevant on Windows as this distinction doesn’t exist on Unix platforms.
2. Redist doesn’t call JsDiagStartDebugging and disables the

[2017-12-29 14:46] obastemur commented on #4477
Happy to hear that. I thought you could send a PR for the typos though :) well, no worries if you can't!

[2017-12-29 18:02] obastemur commented on #4405
I just reproduced this on xplat too. So far it wasn't showing up on CI because looks like the test has `exclude_xplat` tag on it. Assigning it to myself.

[2017-12-29 21:15] bterlson commented on #4483
Thanks for the report!

As this seems already fixed in the current version of Edge and ChakraCore, and we do not typically back-port functionality bug fixes, I am going to close this for now.

[2017-12-29 21:15] #4483 closed

[2017-12-29 21:16] bterlson commented on #4481
This is not the right place. As you suspected, the [UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/6263785-shadow-dom-unprefixed) is the correct place for Edge Platform feedback.

[2017-12-29 21:16] #4481 closed

[2017-12-29 21:22] bterlson opened #4486 "Enumeration order incorrect with deletes"
[code]

JSC, SM, and V8 have the proper behavior here. The spec requires that own properties are enumerated in order of creation. In the example above, p1 is the last property created and so should be last (the fact that it existed before is not relevant).

[2017-12-30 02:38] JohnMasen commented on #4477
I'm still a new guy in Git (used work with VSS and TFS ) . not sure how to create a PR in the repository which does not belongs to me. please change it from your side this time. Thanks:)

[2017-12-30 23:35] fatcerberus commented on #4482
Okay, I found the difference: redist uses the local filename as the module specifier, while the developer build remaps filenames based on a source map.  Commenting out the remapping code makes the crashes go away.  What I can’t figure out is why that is the case; I’ve verified with the debugger that the remapping works as expected for every single module, and the crashes didn’t start until I upgra

[2017-12-31 02:54] obastemur commented on #4482
By remapping, do you mean the order of imported files?

[2017-12-31 03:01] fatcerberus commented on #4482
No, I just remap the filename/URL, e.g.
@/scripts/main.js -> src/main.js

Modules are loaded the same, just the URLs are remapped to match their location in the source tree.

[2018-01-02 16:36] fatcerberus commented on #4482
Updated to latest master again, now I'm getting a segfault here:
https://github.com/Microsoft/ChakraCore/blob/39f7ce4f882088d05f87e4eb32fa60e5b2dabaad/lib/Runtime/Language/SourceTextModuleRecord.cpp#L1154

`localExportMapByLocalName` is nullptr.  As before, the crashes only happen when I remap filenames.  My module resolver works the same in both cases (that is, the local name is used to resolve r

[2018-01-02 17:16] jackhorton opened #4490 "Intl: platform.normalizeLanguageTag does not correctly handle valueless unicode extensions"
The result of calling [CanonicalizeLanguageTag](https://tc39.github.io/ecma402/#sec-canonicalizelanguagetag) on "en-us-u-kn" should be "en-US-u-kn", _not_ "en-US-u-kn-true" as is currently returned from platform.normalizeLanguageTag. This causes test262 9.2.5_11_g_ii_2 to fail.

[2018-01-02 21:19] fatcerberus commented on #4091
@obastemur I would, but what I’m confused about is that build.sh is only for Unix platforms; is x86 relevant to any of them?  It seems to only be relevant for Windows nowadays, where build.sh doesn’t apply.

In light of all that, it seems like the --arch=x86 option shouldn’t even exist?

[2018-01-02 21:36] obastemur commented on #4091
At the moment, yes, there is nothing can keep end-user from using it or there is no even warning. could be nice to have a warning message ? and we could close this issue with that? :)

[2018-01-02 21:38] fatcerberus commented on #4091
Yeah, what I was trying to figure out was whether to make a PR that adds the warning, or if I should just completely remove x86 from the list of architectures on the `—help` screen (or both).

[2018-01-02 21:40] obastemur commented on #4091
Simply adding a warning is enough IMHO.

[2018-01-02 23:08] #4405 closed

[2018-01-03 01:26] dilijev commented on #4490
As of master:

[code]

[2018-01-03 02:41] dilijev commented on #4490
@jackhorton I didn't see the test you referenced in test262 at either of the following commits:

# my old master
[ 9376782c6 ] 2017-09-07 15:09 leonardo.. Regenerate tests
# latest
[ 515539737 ] 2017-12-21 16:46 waldron... Add missing features

I'm assuming that the test was referring to the section now known as #sec-resolvelocale https://tc39.github.io/ecma402/#sec-resolvelocale (which is not (?)

[2018-01-03 17:11] jackhorton commented on #4490
Interesting, yeah I need to update my test262 clone -- I honestly completely forgot about that.

[2018-01-03 20:38] dilijev commented on #4490
Test is now located at test\intl402\Collator\missing-unicode-ext-value-defaults-to-true.js

[2018-01-03 21:16] #3352 closed

[2018-01-03 23:18] dilijev commented on #249
From duped bug:

@veler wrote:

[2018-01-04 04:07] boingoing commented on #3964
I think fixing this in ch and other internal tools will resolve:
https://microsoft.visualstudio.com/web/wi.aspx?id=14303885

[2018-01-04 05:54] obastemur commented on #3964
I had fixed this issue. @rhuanjl could you please check if latest ch covers this? Closing for now, feel free to open back.

[2018-01-04 05:54] #3964 closed

[2018-01-08 06:50] AkibSiddiqui opened #4510 "Getting unable to load chakra core.dll error while running hello world sample"
I am trying to run chakra core c# sample provided here(https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore#before-you-start) but getting error :

![chakracore](https://user-images.githubusercontent.com/19324983/34661126-7d7330a2-f46d-11e7-920d-b74530185a0f.png)

I tried to install this also but getting error with it :
`Install-Package JavaScriptEngineSwitcher.ChakraCore.Native.osx-x6

[2018-01-08 19:14] #4158 closed

[2018-01-08 19:25] akroshg commented on #1269
Over the time we have added few tests in the jsrtAPITest.cpp file.

[2018-01-08 19:25] #1269 closed

[2018-01-08 21:42] toddreifsteck opened #4513 "Improve lifetime of the eval cache"
Per discussion with @LouisLaf and @pleath , there is room to improve the eval cache so it will cleanup before a navigation takes place to conserve memory. Please evaluate an LRU cache using the following possible inputs. It is possible other inputs make more sense so please consider this a list of ideas rather than a requirement.
- Time since used
- Size of data
- Available memory
- Possibly a tog

[2018-01-08 23:45] obastemur commented on #4367
@liminzhu ping? @digitalinfinity any comment?

[2018-01-09 13:14] kslonka commented on #2789
I can see that there is a PR waiting to be merged, does it cover async/await as well or do I have to wait for that?

[2018-01-09 15:29] mike-kaufman commented on #2789
@kslonka - #4457 is just generator support for TTD.  That said, async/await support builds on generators, and the PR is ready to be opened once #4457 lands.

[2018-01-09 23:01] #3530 closed

[2018-01-09 23:12] mike-kaufman commented on #2789
@kslonka  - here's the PR for async/await TTD support:  https://github.com/Microsoft/ChakraCore/pull/4521

[2018-01-09 23:30] obastemur commented on #4090
TODO: Enable disabled xplat test. -> https://github.com/Microsoft/ChakraCore/pull/4522

[2018-01-10 00:54] akroshg commented on #3685
we convert
[code]
to similar (not exactly same)
[code]
for iterator close support. In the debug mode we actually re-throw in the catch. (this code is hidden). But in the debugger as the code is hidden we take the last statement in the for..of.

[2018-01-10 02:03] sucof opened #4524 "clang-6.0 build error"
Hi, all guys, When I use clang6.0 to build chakracore, there are some mistakes as below:

my build command is like this:
`./build.sh --test-build --static --embed-icu --cc="$(which clang)" --cxx="$(which clang++)" -j -v -y`

Who knows which version of clang is the official used?

[2018-01-10 02:24] fatcerberus commented on #3685
@akroshg Yeah, but in my case the breakpoint doesn’t trigger until after the *entire stack frame* of the function containing the for...of has been unwound.

[2018-01-10 02:25] obastemur commented on #4524
@sucof master / release1.8 branches are tested with up to clang5.0. I’m looking at this one now

[2018-01-10 03:05] sucof commented on #4524
@obastemur Thanks your replay, clang3.9 is fine, and I will try clang5.0.

[2018-01-10 05:55] obastemur commented on #4524
@sucof Thanks for opening this issue. I would wait for llvm 6.0 to be final. (somewhere around mid February). ChakraCore is compatible with all the `current` clang release versions.

[2018-01-10 05:55] #4524 closed

[2018-01-10 12:11] leeswimming opened #4526 "ChakraCore crashes with assertion failure in UnicodeText.ICU.cpp"
Debug build of ChakraCore received SIGILL with an ASSERTION FAILURE.

[code]
$ ./ch 99-ef6afe1a505bf421c1e66223554e9ac60503ea96-1586.js
ASSERTION 18040: (/data/ChakraCore/lib/Runtime/PlatformAgnostic/Platform/Linux/UnicodeText.ICU.cpp, line 401) error == ApiError::NoError
 Failure: (error == ApiError::NoError)
Illegal instruction (core dumped)

$ file ch
ch: ELF 64-bit LSB shared object, x86-64, v

[2018-01-10 15:13] obastemur commented on #4526
@leeswimming I assume you did build with default command line args?

[2018-01-10 15:24] leeswimming commented on #4526
[code]
Yes. The command above is the one I used. Is that the reason of assertion failure?

[2018-01-10 15:39] obastemur commented on #4526
Yes/No. I asked because wanted to make sure that you weren’t using a custom ICU or no-icu.

[2018-01-10 20:29] Cellule commented on #4414
Have we seen this issue occur again since then ?
I remember looking into it when you first created the issue, but I don't recall if I took action and just forgot to close the issue.

[2018-01-11 00:24] dilijev commented on #4414
I haven't been watching CI failures very closely unless they're on my PRs. @MSLaguana have you noticed any?

[2018-01-11 00:31] dilijev commented on #4477
@JohnMasen now's as good a time to learn as any. We can walk you through it. You can ask for help on https://gitter.im/Microsoft/ChakraCore?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge

[2018-01-11 00:42] dilijev commented on #4410
This can probably be fixed by calling putwchar in a loop over the whole string instead of using wprintf.

Optionally, can replace, skip over, or directly putchar any null bytes. Directly printing the null byte would match d8 but not Edge dev console.

Probably best to match the behavior of Edge dev console's console.log by skipping over null bytes.

[2018-01-11 02:03] MSLaguana commented on #4414
I don't recall seeing this come up recently, but I wasn't paying much attention for the past two weeks.

[2018-01-11 02:07] Cellule commented on #3942
Fixed in b0ff4cc2439bb4f22beec6477de5f9881878e1ed

[2018-01-11 02:07] #3942 closed

[2018-01-11 03:18] obastemur opened #4530 "Type sharing test`Prototypes/ChangePrototype` is flaky on r1.8"
CCRobot caught this on release1.8 branch;

[code]

Looks like Kunal had prepared the test and the bug fix associated with it almost a year ago. I'm going to assign myself for now and take a look.

[2018-01-11 04:30] fatcerberus commented on #4482
The only lead I've been able to find is that this is somehow related to circular imports.  But I can't reproduce it reliably, and whether the crash triggers seems to be strangely dependent on the exact specifier strings used.  It's possible this is a bug in the host (miniSphere), but I can't find anything wrong.  If I can manage to reproduce this in isolation I'll definitely get back to you!

[2018-01-11 16:33] fatcerberus commented on #3618
This was actually already fixed by #4080, so I'll close this 😃

[2018-01-11 16:33] #3618 closed

[2018-01-11 17:20] mihe opened #4532 "Crash: nullptr access in VALIDATE_INCOMING_REFERENCE"
I'm currently embedding ChakraCore (tried both `release/1.7` and `release/1.8`) into my Windows-based application.

Sometimes (completely randomly it seems) when I call `JsCallFunction` I get a crash on one of the calls to [`VALIDATE_INCOMING_REFERENCE`](https://github.com/Microsoft/ChakraCore/blob/ebd118a65df11bb6f5ea52b9012012d02d4245cd/lib/Jsrt/Jsrt.cpp#L2732). More specifically it seems to be

[2018-01-11 17:35] jackhorton commented on #4510
This seems like a general build system issue in your project. Just to confirm, you have a ChakraCore.dll file in the same folder as your output executable, correct?

[2018-01-11 17:37] MSLaguana commented on #4532
If it's possible for you to get a crash dump, that can help narrow down exactly what is happening.

My first thought is that you might be providing bogus arguments (if you provide an argument which is not a tagged number we assume it must be one of our own internal types, but if it isn't then we'll be accessing the wrong memory which is likely to crash), but you say that you can provide the same a

[2018-01-11 18:23] rhuanjl commented on #4477
I previously wrote out the detail of this in answering the question in issue:
https://github.com/Microsoft/ChakraCore/issues/4324

https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h#L77-L89
Is accidentally a duplicate of the description of the next callback when it should actually be basically a duplicate of the one before it with minor tweaks, correct text would be somethin

[2018-01-11 18:48] rhuanjl commented on #4482
Looked at this with @fatcerberus still not sure what the cause is it appears to be related to convoluted circular imports (which the original test case also contained) and not to the debugger at all.

@obastemur We do however now have a repro in ch - so it's not an error exclusive to the miniSphere code.

The crash is always in the sample place:
https://github.com/Microsoft/ChakraCore/blob/39f7ce4

[2018-01-11 20:36] Cellule commented on #4414
Since we dont know if there is any work needed and I haven't seen any failures recently either.
I will close this issue for the time being.

[2018-01-11 20:36] #4414 closed

[2018-01-11 21:31] akroshg commented on #4482
I can confirm that the last test provided by @rhuanjl seems to be reproing.
 I see this assert
[code]

[2018-01-11 23:06] #3762 closed

[2018-01-11 23:18] akroshg commented on #3638
@fatcerberus chakracore is calling the SetParent twice, that does not mean that it is setting it twice. In the SourceTextModuleRecord::SetParent you can see there is a check for
```if (!parentRecord->childrenModuleSet->ContainsKey(moduleName)) ```

https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Language/SourceTextModuleRecord.cpp#L708

which will not succeed for the second time fo

[2018-01-11 23:22] fatcerberus commented on #3638
The moduleName is the same both times, I’ve verified that in the debugger.  I’ll see if I can get more info later.

[2018-01-12 00:05] MikeHolman opened #4537 "osx: enable MathBuiltinsCall.js"
Not sure how much we care, but for example, `Math.atan(10)` is `1.4711276743037344` on OSX. On other platforms it equals `1.4711276743037347`.

Opened as result of test failure in #4531

[2018-01-12 00:16] rodrigoamicrosoft opened #4538 "Regex causes ChakraCore to exit process"
Calling RunScript on the following JavaScript causes ChakraCore to exit the process, no exception is thrown. If "x2|" is removed from the regex the issue does not repro. This script works correctly on Chakra.dll

var f = function (x) { var str = " droid24gP xh06build/"; var reg = /\s(milestone|droid(?:[2-4x]|\s(?:bionic|x2|pro|razr))?(:?\s4g)?)[\w\s]+build\//i; return str.search(reg); }

[2018-01-12 00:22] akroshg commented on #3871
@fatcerberus apologize for not responding sooner. I wrote a simple test and it seems to work ok.
[code]

having said that I still do not understand what is expected from JsModuleHostInfo_Exception, as there are not much documentation around in the code base. In this file we seem to force that it should be called before it is parsed.
[code]
This flag is not used by Edge, so I'd like @liminzhu @boin

[2018-01-12 00:51] obastemur commented on #4537
some tips;

Test: https://github.com/Microsoft/ChakraCore/blob/master/test/AsmJs/MathBuiltinsCall.js

The test file looks useful for testing math builtins and we may compare `atan` result per platform if it's necessary:

`var isMac = (WScript.Platform && WScript.Platform.OS == 'darwin');`

The line above is to check if the host OS is a mac.

[2018-01-12 01:07] jackhorton commented on #4526
Should be able to look at this next week, sorry for the delay!

[2018-01-12 03:24] #3561 closed

[2018-01-12 07:26] AkibSiddiqui commented on #4510
I have added chakra core dll with nuget package also but the project didnt run with it.

I also added chakra core dll like this:https://i.stack.imgur.com/19JhE.png

Now when i try to reference chakracore dll from visual studio with "Add new reference" it is not allowing me to add chakracore dll.

I am really not getting whats the problem with the sample project which is there on the official websi

[2018-01-12 08:12] mihe commented on #4532
To the best of my knowledge we are not accessing ChakraCore in a multi-threaded way, no.

[Here](https://github.com/Microsoft/ChakraCore/files/1625261/Crash_JsCallFunction.zip) is one of the crash dumps plus the appropriate ChakraCore DLL and PDB. Unfortunately it's a pretty barebones minidump from an optimized build, so I'm not sure how much use it will be to you.

Regarding the bogus argument, t

[2018-01-12 10:40] babyChou opened #4542 "xsltProcessor.transformToFragment returns null when xsl file with xslt function"
I'm trying to parse xml with xslt in javascript.
I found I always got null when I use xslt function.
( count function <xsl:value-of select="count(document(''))"/> )
If I not use function it work fine.
Here are my code.

** js file**

[code]

**xml file**
[code]

**xsl file**

[code]

[2018-01-12 16:53] fatcerberus commented on #3638
I'm not sure how this is possible; the assert triggers during the execution of `JsParseModuleSource`--which doesn't take a module name.  The module name is passed to `JsInitializeModuleRecord` and there are no module-related calls in between so if the name has changed between calls, that sounds like a Chakra bug?

[2018-01-12 18:32] jianchun commented on #3453
This was OSS-Fuzz issue 4001.

[2018-01-12 18:50] fatcerberus commented on #3638
@akroshg I did some more debugging, it appears that the second SetParent call uses the moduleName verbatim from the source text (which is often relative), even though I initialize the module record using a fully normalized specifier.  This is why it's not reproducible in ch, because ch creates the module record using the un-normalized name and therefore the second SetParent is consistent with the

[2018-01-12 20:27] dilijev opened #4543 "Refactor test parseISO.js to increase test coverage"
test\Date\parseISO.js contains a lot of test cases (and generates a lot of output) and thus is tagged Slow. Unfortunately it is also excluded from Jenkins and xplat for various reasons (timezone and negative years):

[code]

Thus, this test is only run in Nightlies and perhaps doesn't get the attention it deserves. This test could be split into 3 tests: timezone-sensitive, negative years, and ever

[2018-01-12 20:35] akroshg commented on #3638
hmm, I have created a native test to break on this assert. I'll talk to @boingoing about why take name instead of module for the parent-child relationship. Also why we need to do the setparent twice? I'll revert back with more info later. Thanks,

[2018-01-13 00:21] obastemur opened #4547 "wasm: Disable flaky test wasm/wasmcctx.js"
It doesn't repro all the time. Output is below (when it does);

[code]

[2018-01-13 01:07] obastemur commented on #4547
Looks like it fails because of `try` / `finally`. Will look more deeply to understand.

[2018-01-13 01:28] obastemur commented on #4547
This is not a WASM issue. Looks like @jianchun has already fixed the problem.

[2018-01-13 01:48] MikeHolman commented on #4090
@obastemur How often does this fail? I'm running that command locally and don't repro. I wonder if this has been fixed by #4531.

[2018-01-13 02:27] digitalinfinity commented on #4542
Thank you for reporting @babyChou- at first glance, this appears to be an Edge issue. Can you please follow the directions on [this link](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues) to open an issue in the Edge tracker?

For now, I'll close this issue since there's no action needed from the Chakra team- please reopen or file a new issue if you have a Chakra issue. Tha

[2018-01-13 02:27] #4542 closed

[2018-01-13 03:37] obastemur commented on #4090
@MikeHolman right, that PR has fixed this one too! Closing.

[2018-01-13 03:37] #4090 closed

[2018-01-14 11:31] tanya-vedi commented on #4311
I want to take up this issue.

[2018-01-14 18:04] obastemur commented on #4311
@tanya-vedi , it’s yours. Go ahead and send the PR

[2018-01-14 18:43] tanya-vedi commented on #4311
Thanks! I'm a beginner, can someone help me with this?

[2018-01-14 18:54] obastemur commented on #4311
@fatcerberus JIT debugging was disabled on xplat. Now it’s enabled again on both master and release 1.9

@tanya-vedi feel free to ask your questions here. I have no doubt that ChakraCore contributors will gladly answer them.

[2018-01-14 19:19] tanya-vedi commented on #4311
If anyone can help me proceed with this issue, then it would be great.

[2018-01-16 16:54] jackhorton commented on #4538
@dilijev ?

[2018-01-16 19:21] MSLaguana commented on #4532
I had a look at the crash dump, but unfortunately it's missing the memory that contains the bad variable.

I can tell that it is failing to validate the argument at index 2 (so the second function argument, considering that `this` is at index 0), and as you state above it is trying to get the scriptContext off the `javascriptLibrary` when the `javascriptLibrary` is null. Specifically, the `javascr

[2018-01-16 19:28] agarwal-sandeep commented on #4532
Is the function get collected? Trying calling JsAddRef on the function after you create it to make sure it is not collected.

[2018-01-16 19:29] MSLaguana commented on #4532
@agarwal-sandeep it's not the function that is causing the crash here, it's during validation of the passed-in arguments at the JSRT level.