[2016-03-15 18:56] ianwjhalliday opened #571 "Abstract iterable loop in built-in constructors to reduce down to one implementation that contains special case optimization for arrays"
This is an idea I got from code reviewing #561.

There are numerous built-in constructors that optionally construct from a passed in iterable.  In all of these constructors we could special case arrays so long as `Array.prototype[Symbol.iterator]` hasn't changed (or rather, the `[Symbol.iterator]` property on the given object is pointing to the array built-in value, and the object is itself an arr

[2016-03-15 20:28] nicolo-ribaudo commented on #137
Can I tackle this issue?

[2016-03-15 20:46] abchatra commented on #564
AFAIK there is no spec for error.stack. Is this request to match Chrome behavior and better developer experience?

[2016-03-15 21:16] MikeHolman commented on #568
if we're talking about refactoring, I'd like to refactor GenerateFunction and maybe EmitCall into smaller functions as well. And we can remove code around the now defunct constant table.

Default export is not supported by spec. Empty blocks are valid by spec. But we may want to bring these up as questions on design repo, because they haven't really been discussed.

Wasm.instantiateModule is a non

[2016-03-15 21:18] ljharb commented on #564
One of the whole points of making `Function#name` configurable is to allow devs to override it for debugging - you're right there's no spec, but it's def a dev experience thing :-)

[2016-03-15 22:08] goyakin opened #577 "RegExp constructor should process RegExp-like Objects correctly"
We differ from the spec in two aspects.

First, when the constructor is called as a function, we should use the `constructor` property of the passed RegExp-like object to determine whether we should return the argument as is. Kangax test case:

[code]

Second, we should use the `source` and `flags` properties of the passed RegExp-like object to initialize the new RegExp object. Kangax test case:

[2016-03-15 22:10] goyakin opened #578 "RegExp.prototype.toString should be generic"
Rather than requiring `this` to be a RegExp object, the `toString` method should be generic and use the `source` and `flags` properties to generate the string. Kangax test case:

[code]

[2016-03-15 22:11] goyakin opened #579 "RegExp.prototype.test should delegate to "exec""
Kangax test case:

[code]

[2016-03-15 22:14] boingoing opened #580 "Implement @@toStringTag in Object.prototype.toString"
ES Spec  [19.1.3.6 Object.prototype.toString] (https://tc39.github.io/ecma262/#sec-object.prototype.tostring)
[code]
Expected: "[object Promise]"
Actual: "[object Object]"

Resolved OS Bug [4646435] (https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=4646435)

[2016-03-15 22:23] dilijev commented on #85
Just wanted to let everyone know that we're setting up our infrastructure to produce NuGet packages. Stay tuned.

[2016-03-15 22:29] suwc commented on #548
Merged.

[2016-03-15 22:29] #548 closed

[2016-03-15 22:54] ianwjhalliday commented on #137
@nicolo-ribaudo the 1.2 milestone bugs need to be fixed asap.  I'm happy to let you take a stab at it.  Please start on it immediately and let me know within the next couple of days what your plan for the fix is.

Let me know if you do not have enough time to complete this bug fix within the next week or so.  I will want to start on it first thing next week if that is the case.

[2016-03-15 22:55] ianwjhalliday commented on #137
@nicolo-ribaudo also note that the due date on the 1.2 milestone is a rough estimate.  Lockdown on our bug fixing for the next release may occur sooner which is why this needs to be addressed asap.

[2016-03-15 23:39] #577 closed

[2016-03-15 23:54] ianwjhalliday opened #584 "`JavascriptOperators::IsIterable` can lead to script code getting executed twice instead of once"
`JavascriptOperators::IsIterable` calls `JavascriptOperators::GetProperty` when the object in question is a `JavascriptProxy`.  This will lead to code execution in the case that the property is a getter or the proxy has a `get` trap handler installed.

The use of `IsIterable` appears to be to check whether or not to go down the slow iterable iteration code paths rather than fast paths.  These code

[2016-03-16 01:24] jianchun opened #586 "JsCreateNamedFunction toString result is wrong"
JsCreateNamedFunction sets "functionNameId" as name. That is wrong in current code. Elsewhere we typically call

[code]

"functionNameId" is used as toString result cache. Setting "functionNameId" to a string incorrectly makes the runtime use that string as toString result. We get `custom_name` instead of `function custom_name() { [native code] }`.

[2016-03-16 01:34] dilijev commented on #528
@nmostafa Is your part of this issue fully resolved? Can we close this issue now?

[2016-03-16 01:36] dilijev commented on #556
+1 for adding to readme

[2016-03-16 01:43] jianchun opened #587 "Support Error.prepareStackTrace and Error.captureStackTrace"
ChakraCore supports Error.stackTraceLimit, but not the other [StackTrace APIs in V8](https://github.com/v8/v8/wiki/Stack%20Trace%20API). Found multiple sites and nodejs modules using other APIs and incompatible with Edge / node-chakracore.

To improve compatibility, we need to consider better support of other APIs, Error.prepareStackTrace and Error.captureStackTrace.

Error.prepareStackTrace may b

[2016-03-16 01:43] jianchun commented on #587
@abchatra

[2016-03-16 16:54] jianchun opened #588 "TypeError.prototype.toString === Error.prototype.toString"
Firefox/Chrome:

[code]

Edge: `false`

A small compatibility issue. Don't know if affects anything.

[2016-03-16 16:55] nmostafa commented on #528
Yes, #444 resolves the alignment issue, and #549 disables failing Asmjs linking tests (tracked separately in #560, for which I am working on a fix).

[2016-03-16 17:20] jianchun opened #589 "Error.stack undefined when Error.stackTraceLimit == 0"
Small compatibility issue.

[code]

Chrome: ```"Error: abc"```
Edge: ```undefined```

[2016-03-16 17:34] abchatra commented on #587
This [website](https://invest.shareview.co.uk/sview/trade/certificated/trade.htm) is dependent on Error.captureStackTrace. See OS bug [6767443](https://microsoft.visualstudio.com/DefaultCollection/OS/_workitems?_a=edit&id=6767443) for details

[2016-03-16 17:47] dilijev commented on #528
Okay, closing this issue as all sub-tasks have been resolved or are being tracked separately.

[2016-03-16 17:47] #528 closed

[2016-03-16 18:05] dilijev opened #590 "[Discussion] Branch-specific Jenkins test configurations"
@mmitche and I have recently made some changes to the Jenkins CI configuration to enable alternate test configurations for different branches. This should help ease the transition when CI-breaking changes are made to one branch that don't yet affect other branches. Also, it will allow e.g. the `linux` branch to define CI builds on Linux which wouldn't otherwise apply to a branch like `master` whic

[2016-03-16 18:10] nicolo-ribaudo commented on #137
@ianwjhalliday I'm working on this now. Is it ok to move the call to the iterator's `.next()` method from the bytecode to the `JavascriptOperators::OP_ResumeYield` function? It probably will be a little less efficient, but I don't know if there is a way to know in the bytecode how the generator has been resumed.

[2016-03-16 18:41] suwc commented on #539
Leave a comment

[2016-03-16 18:41] #539 closed

[2016-03-16 18:42] abchatra commented on #539
Thank you @farzonl

[2016-03-16 18:53] suwc commented on #584
Is this a 1.2 issue? Would be great to have some 2nd opinions.
@abchatra @bterlson ?

[2016-03-16 19:00] abchatra commented on #584
What is the test case for this?

[2016-03-16 19:05] nicolo-ribaudo commented on #137
Should this code throw?
[code]
Both Chrome and Firefox don't throw, and [there is a test which ensures that this code doesn't throw](https://github.com/Microsoft/ChakraCore/blob/master/test/es6/generators-functionality.js#L1374-L1376), but the spec says:

[code]

[2016-03-16 19:05] farzonl commented on #586
JC do you have a test case for this bug? I just tried out:
var a =[];
a.indexOf.name;
print(a.indexOf.toString());
but this prints: function indexOf() { [native code] }

[2016-03-16 19:11] suwc commented on #584
We don't have a real-world test case right now.
The idea is to make a getter function that has side effect and use it to override [Symbol.iterator] of an object, then use the object (possibly through a proxy) to construct a TypedArray.

[2016-03-16 19:11] farzonl commented on #564
I came to comment that there was no spec for this, but @abchatra already mentioned that. So my question is how much function name  support is needed? Like I would think you would wanted computed property names, but should get\set\bound prefixes still apply?

[2016-03-16 19:13] ianwjhalliday commented on #137
Yes, looks like that should throw `TypeError`.  Chrome and Firefox probably have the same bug.

Whoa.  I just read [14.4.14](https://tc39.github.io/ecma262/#sec-generator-function-definitions-runtime-semantics-evaluation) for `yield*` evaluation.  The spec has changed a lot since @aneeshdk and I implemented `yield*`.  E.g. if the inner iterator does not have a `throw` method then we are supposed t

[2016-03-16 19:33] ljharb commented on #564
The stack trace should simply `[[Get]]` the `name` property. The spec already defines how that property is populated, which covers computed property names, prefixes, etc.

[2016-03-16 19:45] jianchun commented on #564
Didn't need to. ```Object.defineProperty``` took care of that.

[2016-03-16 19:46] farzonl commented on #564
@ljharb  so I ask b\c adding prefix could be a breaking change for existing code if people are doing string equality checks for gettter\setter functions.

[2016-03-16 19:48] jianchun commented on #586
@farzonl This issue only applies to native named functions created through JSRT ```JsCreateNamedFunction```. Repro needs native code.

[2016-03-16 20:04] Cellule commented on #590
At this time the WebAssembly branch has the same needs as the master branch

[2016-03-16 20:07] ljharb commented on #564
@farzonl since `Function#toString` is underspecified and varies across browser, anybody doing that is already broken, so they shouldn't be considered.

[2016-03-16 22:20] dilijev commented on #590
@Cellule Thanks! Noted.

[2016-03-17 01:41] ianwjhalliday commented on #584
This has an easy repro.  This bug affects any clients of `JavascriptOperators::IsIterable` which fortunately is few for now, including `JavascriptArray::EntryFrom`, `TypedArrayBase::EntryFrom`, and `TypedArrayBase::CreateNewInstance`.

Here is an example repro using `Array.from()`

[code]

Running this with `ch.exe` prints the following output

[code]

Notice that the trap handler is called twice

[2016-03-17 01:44] ianwjhalliday commented on #584
Leaving `JavascriptOperators::IsIterable` in our code base would let to this bug multiplying as the API gets used elsewhere when we implement more features in the future that might make use of it.

I recommend we change the API to `JavascriptOperators::GetIteratorFromIterable` so that it can make the query and return the iterator so that the property `get` on `Symbol.iterator` is only performed on

[2016-03-17 16:19] #579 closed

[2016-03-17 17:22] nicolo-ribaudo commented on #139
I fixed this issue while fixing #137 (pr: #597)

[2016-03-17 17:22] nicolo-ribaudo commented on #137
PR: #597

[2016-03-17 17:23] suwc commented on #584
Another repro:
`function getIterator (array)
{
    return  ()=> {
            return {
                next: () => {
                    return {
                        value: array.shift(),
                        done: array.length == 0
                    };
                }
            };
        }
}

function getcobj () {
    var count = 99;
    return {
       get [Symbol.iterator] () { re

[2016-03-17 17:53] suwc commented on #584
Talked to Brian, and he is most interested in the following test case:

[code]
Output
`Got!`

The test case behaves correctly.
So I would recommend not making this 1.2 but otherwise fix it ASAP before this issue becomes more widespread.

[2016-03-17 18:14] liminzhu commented on #556
Is there a link to our open positions? I can add it in the [Contribute](https://github.com/Microsoft/ChakraCore#contribute) block.

[2016-03-17 18:45] ianwjhalliday commented on #584
Sounds good to me

[2016-03-17 21:33] nojvek opened #599 "Intl: new Date().toLocaleString('de') puts unicode (BiDi) markers around punctuation"
[code]

[2016-03-17 21:55] nojvek commented on #599
If you don't mind, I'd like to make it a personal exercise to fix this bug with a PR. So far I've got chakra to build. Its amazing how easy it was. I see the baseline tests and I'll spend some time this weekend to get this fixed and make sure I don't break anything else.

[2016-03-17 21:57] goyakin commented on #599
This isn't a RegExp issue. It looks like we put [__LEFT-TO-RIGHT MARK (U+200E)__](http://www.fileformat.info/info/unicode/char/200e/index.htm) around punctuation marks, but Chrome and Firefox don't.

On Edge:

[code]

On Chrome:

[code]

I don't know why we have the "LEFT-TO-RIGHT MARK (U+200E)" though around punctuation marks though.

[2016-03-17 21:58] nojvek commented on #599
Yeah that's what I just noticed.

$ ch dateLocale.js
?3?/?17?/?2016? ?2?:?56?:?45? ?PM

I'll change the title of the bug.

[2016-03-17 22:11] nojvek commented on #599
Could this be an issue in the windows GetDateFormatW ?

How do I start ch.exe on a file and break it so I can attach a debugger?

I don't see a debugging page.

[code]

[2016-03-17 22:48] digitalinfinity commented on #599
If you're using Visual Studio, you can just set the command line parameters for ch by right clicking on the ch project, and setting the appropriate field under the Debugging Configuration Property. Then, set your breakpoints in VS, hit F5 and have fun.
If you want to use another debugger, you can install the Windows Debugging Tools by following the instructions at https://msdn.microsoft.com/en-us/

[2016-03-17 22:50] ianwjhalliday commented on #265
@nicolo-ribaudo does your PR #597 fix this bug?

[2016-03-18 03:19] #440 closed

[2016-03-18 06:01] suwc commented on #355
PR merged

[2016-03-18 06:01] #355 closed

[2016-03-18 06:01] suwc commented on #299
PR merged.

[2016-03-18 06:01] #299 closed

[2016-03-18 14:54] resnyanskiy commented on #85
@dilijev great news! Waiting ChakraCore package for dnx projects.

[2016-03-18 18:06] ianwjhalliday opened #608 "TypedArray constructor optimizes construction from array when %ArrayIteratorPrototype%.next is no longer the built-in"
Thanks to @evilpie for catching this looking at PR #561

[code]

Currently prints 1, 2, 3, but should print nothing.  The Int32Array should be created empty because the array iterator's next() method is now supposed to always return {done: true} on first call.

The optimization legality check @suwc added in #561 needs to be fixed up to include verifying that the %ArrayIteratorPrototype%.next slot

[2016-03-18 18:26] nicolo-ribaudo commented on #265
No, it doesn't

[2016-03-18 18:31] ianwjhalliday commented on #265
Kk.  Does it look like this will invalidate or require change to your fix for the other bugs or are does this look orthogonal to you?  I'm wondering if this bug should be incorporated or if it can be handled separately.

[2016-03-18 19:01] #578 closed

[2016-03-19 00:02] aneeshdk opened #610 "[Test] [Daily] [DisableJIT] test\Bugs\bug934443.js failing after commit 353e7d9 with AV (c0000005)"
test\Bugs\bug934443.js failing after commit 353e7d9 with AV (c0000005)

To repro, build the binary with
`jenkins\buildone.cmd x64 debug "/p:BuildJIT=false"`

Failing test is:
`Build\VcBuild.NoJIT\bin\x64_debug\ch.exe  -DumpOnCrash  -WERExceptionSupport -ExtendedErrorStackForTestHost -nonative  -force:fieldcopyprop -off:dynamicprofile test\Bugs\bug934443.js`

[2016-03-19 00:15] dilijev commented on #610
@abchatra Do you think this should be tagged as [Bug] and/or Milestone 1.2?

[2016-03-19 02:14] boingoing commented on #538
Fixed by #605

[2016-03-19 02:14] #538 closed

[2016-03-19 18:25] nicolo-ribaudo commented on #265
There might be a little merge conflict inside the `EmitYieldStar` function, but this issue is unrelated to the other one.

[2016-03-19 19:49] Yongqu commented on #589
what's FF's behavior?

[2016-03-19 21:26] nojvek commented on #599
From what I gather, it seems, some of the logic is in Intl.js. This is probably byte code generated and I don't seem to figure out where the implementation of formatDateTime is.

I got debugging to work. I added a 10 sec sleep so I could attach VS.

[code]

The breakpoint doesn't seem to hit GetDateLocaleString as I previously hypothesized.

[code]

I'm just beginning to realize how complicated ch

[2016-03-19 21:30] nojvek opened #614 "Have someway of waiting to attach debugger to ch.exe when starting up as an option"
I'm currently adding a 10 second sleep in ch.cpp

[code]

Not the most efficient method but it does the trick.

[2016-03-19 21:47] nojvek commented on #254
My chakra kungfu is very very basic. I just opened the project a couple of days ago.

I'm guessing the idea is to add an entry here

[code]
 Is there a talk on how js functions are implemented in chakra? I'm trying to get the dots connected but haven't yet got it.

[2016-03-19 23:33] caitp commented on #254
It doesn't take too long to figure out --- basically figuring out where to implement the function, how to install the function on [%Object%](https://tc39.github.io/ecma262/#sec-object-constructor), and intuiting how to use the internal APIs to implement the basic case, without any fast paths for E.G. non-Proxy objects (which could easily be added in a followup).

[2016-03-20 00:14] nojvek commented on #254
Ha! I see the implementation of other PropertyDescriptor related magic is in JavascriptOperators.cpp.
Can I implement this in Intl.js or does this have to be implemented in CPP native?

What is the deciding factor on what goes in intl.js vs native cpp function?

What does Intl stand for anyway?

[2016-03-20 00:17] ljharb commented on #254
@nojvek "Internationalization"

[2016-03-20 15:28] caitp commented on #254
It isn't necessarily a good candidate for being self-hosted, due to most likely being polymorphic/megamorphic, and having improved access to the low level ops that are needed by the algorithm.

I would put this in JavascriptObject.cpp, with the other Object static methods

[2016-03-20 20:38] nicolo-ribaudo commented on #265
@ianwjhalliday I can work on this issue today/tomorrow.

[2016-03-21 05:22] ianwjhalliday commented on #265
@nicolo-ribaudo awesome! Go for it! Thanks for helping with ask these bugs. Greatly appreciated

[2016-03-21 16:53] Yongqu commented on #599
you might want to break at JavascriptDate::EntryToLocaleDateString and continue from there.

[2016-03-21 17:00] jianchun commented on #589
FF doesn't seem to support this. This is a Chrome/V8 API.

[2016-03-21 17:50] #553 closed

[2016-03-21 18:06] #266 closed

[2016-03-21 18:29] ianwjhalliday commented on #254
Yes, this function should be implemented on the `JavascriptObject` class following the pattern that the other Object APIs follow and it would be hooked up in `JavascriptLibrary::InitializeObjectConstructor()`.

There is no guide or formal documentation on the internals of how ChakraCore works.  We leave the codebase itself to be its own documentation.  Reading the code is the best way to learn how

[2016-03-21 18:30] dilijev commented on #614
I think this doesn't directly answer your request, but you could build with VS and launch the process for debugging (you'll have to configure the debugging parameters in the project settings).

Is your scenario not covered by that kind of debugging from VS?

For non-VS processes, if you use windbg, you can also run the process under the debugger and it will launch immediately into the debugger. Yo

[2016-03-21 18:35] ljharb commented on #254
@ianwjhalliday :-/ that's sad to hear, since it has to be shipping in two browsers for a period of time before it can hit stage 4.

[2016-03-21 18:37] ianwjhalliday commented on #254
@ljharb agreed :(
cc @abchatra @bterlson

[2016-03-21 18:40] #160 closed

[2016-03-21 18:54] #610 closed

[2016-03-21 19:01] joalmeid opened #618 "string.bold() not available for WWA (ES3 non standard). Now added back on ES6"
string.bold() is non-standard es3 extension methods and hence not available in WWA.

ES6 adds them back to spec as part of Annex B.

[2016-03-21 19:07] #283 closed

[2016-03-21 19:08] agarwal-sandeep opened #619 "Discuss JsRTDebugging APIs"
I have implemented significant part of new APIs to debug ChakraCore and flushed most of bugs using debugger implemented in ch.

Before opening the PR request for merging code from JsRTDebugging to master it will be good to discuss the APIs name, signature and arguments.

Please take a look at https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h and provide any feedback

[2016-03-21 19:09] agarwal-sandeep commented on #619
@akroshg @liminzhu @yongqu please provide your feedback

[2016-03-21 19:13] ianwjhalliday commented on #614
Yes, you can you start ch.exe under the debugger in either VS or WinDBG.  If you're using a different debugger you'll have to look it up but it should also be able to do this.

In VS set ch project as start up project.  To change the command line arguments right click the project, go to the properties dialog, go to the `Debugging` section.  Make sure `Local Windows Debugger` is selected in the dro

[2016-03-21 19:14] ianwjhalliday commented on #614
Then F5 or F11 to start the process.

[2016-03-21 20:09] dilijev commented on #619
@agarwal-sandeep Did you mean the contents here? https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h

[2016-03-21 20:34] agarwal-sandeep commented on #619
Yes, thanks. Fixed

[2016-03-21 20:42] #560 closed

[2016-03-21 20:44] akroshg commented on #619
@agarwal-sandeep how do I resume as continue?

[2016-03-21 20:49] agarwal-sandeep commented on #619
Execution resumes after call to JsDiagDebugEventCallback return. Host needs to call JsDiagSetStepType before returning from callback.

[2016-03-21 20:58] akroshg commented on #619
line 47/51 change 'Indicates break ' to 'Indicates a break'

[2016-03-21 21:01] akroshg commented on #619
Please embed the description about that.

[2016-03-21 21:04] akroshg commented on #619
line 86 : please reword the description : eg. Request the runtime to break on next javascript statement.

[2016-03-21 21:06] akroshg commented on #619
line 98 : what do you mean by 'active' breakpoints ?

[2016-03-21 21:07] akroshg commented on #619
line 100, change breakPoints to breakpoints.

[2016-03-21 21:11] akroshg commented on #619
line 128 : the structure of the breakpoint is different from defined at line 104. that is not intentional, right?

[2016-03-21 21:17] akroshg commented on #619
line 274 : do you get handle as well?

[2016-03-21 21:18] akroshg commented on #619
line 282 : Shouldn't this be called JsDiagGetScript ?

[2016-03-21 21:19] akroshg commented on #619
line 309 : change func to function

[2016-03-21 21:21] akroshg commented on #619
line 296 : why do you need filename when we have scriptId ?

[2016-03-21 21:46] akroshg commented on #619
line 299 : change the names -> firstStatementLine/Column.
Also this is relative to the current function or absolute ? as the line is 1 above but the stmtStartLine is 0.

[2016-03-21 21:48] akroshg commented on #619
Overall it would be best if every function should have remark that mentions that it can be called in debug mode, break mode or neutral. for example setbreakpoint can be called both on debug mode and break mode.

[2016-03-21 22:01] dilijev commented on #619
You'll want to make the Copyright adhere to our copyright header format.
https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h#L1

[2016-03-21 22:03] dilijev commented on #619
I think the enum types should be grouped at the top of the file to make for easier browsing.

[2016-03-21 22:03] akroshg commented on #619
line 320 : why we have to pass this many information at top level ? why not
{ index,
functionObject,
handle }
functionObject should have all the information about the scriptID and filename and other things.

[2016-03-21 22:04] akroshg commented on #619
line 469 : Evaluate an expression. ?

[2016-03-21 22:04] dilijev commented on #619
The doc comments at the top of https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h mirror those at the top of https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraCore.h -- was that intentional? I don't know how the docs are generated but which file will actually get that content, or will both files get associated documentation with that same cont

[2016-03-21 22:13] Yongqu commented on #619
JsDiagStartDebugging: when and how will the developer free the callbackState?

[2016-03-21 22:14] dilijev commented on #619
This line is very long. Break into multiple lines?
https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h#L66

[2016-03-21 22:14] dilijev commented on #619
General nitpick: between declarations there are currently either one or two blank lines but it's not clear what the meaning of the extra spacing is. I'd prefer reducing it to just single line breaks between declarations.

[2016-03-21 22:15] dilijev commented on #619
Nitpick: why is the entire body of the file indented even though there is no block declaration?

[2016-03-21 22:16] dilijev commented on #619
Remove the blank line between description and declaration here to be consistent with the rest. https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h#L233

[2016-03-21 22:17] dilijev commented on #619
Nit: this one is using 2 spaces per indent, inconsistent with the rest.
https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h#L307

[2016-03-21 22:18] dilijev commented on #619
Nit: for the rest of the declarations you add an extra indent after the open paren on the previous line but this one does not.
https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h#L80

[2016-03-21 22:21] Yongqu commented on #619
JsDiagSetBreakpoint return JsValueRef, but JsDiagRemoveBreakpoint takes an unsigned int.

[2016-03-21 22:23] Yongqu commented on #619
JsDiagBreakOnExceptionType: should the value be enum (incremental) or bitmask?

[2016-03-21 22:51] Yongqu commented on #619
JsDiagSetBreakOnException etc. : should we take a runtime parameter, or it requires activecontext that is currently in debug state?

[2016-03-21 23:35] akroshg commented on #619
line 416 : propertyAttributes, can we define an enum for more descriptive usage?

[2016-03-21 23:36] akroshg commented on #619
line 410 : totalPropertiesOfObject - what is the use case here?

[2016-03-21 23:39] akroshg commented on #619
line 435 and 463 - the GetProperties and GetObjectFromHandle require rephrase. say GetProperties returns children of an handle?

[2016-03-21 23:43] akroshg commented on #619
Are we considering JsDiagStopDebugging as well? Say I am creating my own debugger using these jsrt APIs how do I disconnect the debugger?

[2016-03-22 15:47] jianchun commented on #619
Browsing the header and feel seeing too many "Diag". Existing APIs are all under the same "Js" family. Is it needed to start a new "JsDiag" family of APIs? What if remove "Diag" from the names?

[2016-03-22 15:55] agarwal-sandeep commented on #619
Its a way of grouping all diagnostics API under one name (probably in future we will have more profiling and other diag APIs), if we decide its not good I can remove it.

[2016-03-22 17:55] dilijev commented on #619
The `JsDiag` prefix makes sense to me.

[2016-03-22 18:53] dilijev commented on #619
Unrelated to this specific request but I noticed this line is also super long: https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraCommon.h#L2334

[2016-03-22 18:55] dilijev commented on #619
Even though https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraCore.h has

[code]

So that the `ChakraCommon.h` dependencies are included before `ChakraDebug.h`, I think it is still a good idea to capture the dependency of `ChakraDebug.h` on `ChakraCommon.h` by adding

[code]

at the top of `ChakraDebug.h`.

[2016-03-22 21:10] goyakin opened #626 "Object.defineProperty assigns the wrong name to anonymous getter/setter functions"
[code]

The names should instead be:

[code]

[2016-03-22 22:00] #390 closed

[2016-03-23 00:27] akroshg commented on #626
@goyakin  is already working on this one.

[2016-03-23 00:43] bterlson commented on #254
@ljharb Note that two browser impls is not explicitly required and in my opinion requiring two shipping browser implementations for this feature to be standardized is overkill assuming robust JS polyfill implementations are broadly used by this point.

[2016-03-23 06:02] ljharb commented on #254
@bterlson I agree, but I'd have thought the same about Object.values/entries, so I'm being conservative with this one.

[2016-03-23 23:31] suwc commented on #608
https://github.com/Microsoft/ChakraCore/pull/635

[2016-03-23 23:43] #265 closed

[2016-03-23 23:57] goyakin opened #637 "Intl functions shouldn't be constructible"
According to the [spec](https://tc39.github.io/ecma262/#sec-built-in-function-objects):

Since our Intl functions are script functions (implemented in `Intl.js`), they are constructible by default. For example,

[code]

causes the error:

instead of:

[2016-03-24 00:28] ianwjhalliday opened #638 "toPrimitiveJitBug654983.js test sometimes fails"
The test `test\es6\toPrimitiveJitBug654983.js` has disabled since late October 2015 (marked with the `fail` tag) because it was occassionally failing with spurious bailout traces in its output.

_Note the `Symbol.toPrimitive` feature is not fully implemented and may change when it is fully implemented rendering this test obsolete or irrelevant.  **This issue should only be investigated once work b

[2016-03-24 17:21] tcare commented on #584
Same issue in: OS: Bug 5204357: ES6 Spread over zealous optimization for Arrays ignores user changes to %ArrayIteratorPrototype%.next property

[2016-03-24 19:13] bterlson opened #640 "Missing early ReferenceError for some invalid simple assignment targets"
For example:

[code]

Expected: early ReferenceError
Actual: no error

[2016-03-25 13:53] nicolo-ribaudo opened #646 "Proxy should ignore traps whose value is null"
[code]

This code should print `[object Object]`, but it throws `TypeError: 'getPrototypeOf' is not a function`
The trap should be ignored if it is either `undefined` or `null`, but ChackraCore only ignores it in the first case.

Specification:
[code]

[2016-03-25 18:42] dilijev commented on #618
@abchatra did #623 completely resolve this issue?

[2016-03-25 18:43] abchatra commented on #618
Fixed by #623

[2016-03-25 18:43] #618 closed

[2016-03-25 19:13] EdMaurer commented on #556
I approve of adding this solicitation to the readme! Accepting PRs :)

[2016-03-26 02:33] dilijev commented on #619
#625 mentioned this:

https://github.com/Microsoft/ChakraCore/blob/JsRTDebugging/lib/Jsrt/ChakraDebug.h#L121
change "but" -> "put"

[2016-03-26 03:49] suwc commented on #608
Merged

[2016-03-26 03:49] #608 closed

[2016-03-26 05:12] dilijev opened #652 "With -forceserialized, the name of a function is not displayed correctly."
Repro code:

[code]

With -forceserialized, the output is:
`class6.func88`

This is incorrect. It should be just `func88`, as it is without the flag.

Converted from [OS 6471427](https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=6471427)

[2016-03-27 06:48] jdalton opened #656 "DataView does not have correct toStringTag"
In Edge 14.14295 a data view has the incorrect [toStringTag](http://www.ecma-international.org/ecma-262/6.0/#sec-dataview.prototype-@@tostringtag).
[code]

[2016-03-27 16:12] nicolo-ribaudo commented on #646
Can I tackle this issue?

[2016-03-27 18:44] nicolo-ribaudo commented on #656
The same is for promises:
[code]

Note that if you run ch.exe with the `-ES6ToStringTag` flag both the examples work.

[2016-03-27 18:54] nicolo-ribaudo commented on #580
I think this has already been fixed:
[code]

[code]

[2016-03-27 20:26] Yongqu commented on #646
sure go ahead.

[2016-03-27 23:42] obastemur commented on #656
Update: #657 handles the both. (`DataView` and `Promise`)

[2016-03-28 05:12] abchatra commented on #580
Yes this is enabled inside -ES6ToStringTag. Though we need to enable this flag by default, which requires additional jit work. We can keep this open till then.

[2016-03-28 17:30] Yongqu opened #660 "JsConvertValueToString failed if the input value is taggedInt"
We are incorrectly treating taggedInt as JavascriptNumber.

[2016-03-28 18:31] rajatd opened #664 "Bug with forcing type-specialization on loop header"
When forcing type-spec on a loop header, globopt wasn't taking multiple loop back edges into account. In case of more than one loop back edges, we can only force type-spec on the loop header for the first edge.

Created from [Bug 4506788](https://microsoft.visualstudio.com/DefaultCollection/OS/_workItems?_a=edit&id=4506788&triage=true)

[2016-03-28 20:55] obastemur commented on #260
@Yongqu exactly what state is needed ? Instead of reimplementing controlfp_s for *nix entirely, fstcw, fldcw, stmxcsr, ldmxcsr etc. intrinsic might cover the use cases cross platform. i.e. `get previous state and store, set fp state to default, and then set it back to saved state when the execution is done` is rather easy if that's what ChakraCore is needed ?

[2016-03-28 21:38] nicolo-ribaudo opened #667 "Array.from should ignore @@iterator if it is undefined"
[code]

Expected output: `[ "a", "b" ]`
Actual: `TypeError: Function expected`

[2016-03-28 22:43] tcare opened #670 "Periodically run other RL variants, e.g. forceserialize and forceundodefer."
We often find bugs in ES6 because we didn't remember to run forceserialize, forceundodefer, etc. They aren't common enough to bloat unit test time, but we should periodically run them to surface bugs.

[2016-03-28 22:48] jianchun opened #671 "Need Jsrt API to inspect Promise objects"
For a client (debugger?) to inspect Promise objects, we need APIs to access their "status" and "result".

See https://github.com/nodejs/node-chakracore/issues/41

@liminzhu @agarwal-sandeep

[2016-03-29 00:15] ianwjhalliday commented on #656
Fyi `-ES6ToStringTag` turns on the incomplete implementation of the toStringTag feature.  So fixing this the way @obastemur has done is a good thing to do before toStringTag is completed.

[2016-03-29 00:41] ianwjhalliday commented on #656
@abchatra and I decided this is a low risk bug fix so we'll include it in 1.2.

[2016-03-29 01:22] dilijev commented on #670
@tcare Are you suggesting we have a separate test configuration to run these daily / weekly / something else? Or are you suggesting that we add additional test coverage and run them as a part of an existing config?

[2016-03-29 01:25] abchatra commented on #667
Thank you for reporting the issue. @nicolo-ribaudo can you please link to the spec text here?

[2016-03-29 01:26] abchatra commented on #274
Removing 1.2 milestone due to backward compatibility concern. Please fix this in Master.

[2016-03-29 02:39] Yongqu commented on #260
you can take a look at smartfpucontrol.cpp and see the flags we set in different platforms. I don't know what's the 'default' in different *nix but I think we need to make sure the matching flags need to be set. We have seen rounding/precision issues when other code, including d3d compiler, change the float setting.

[2016-03-29 11:01] awarberg opened #676 "React-based site - This page is having a problem loading"
We have two websites based on React js. They both fail with "This page is having a problem loading". I found a crash event log and related log files but there is little information that I can find to go on.

I've compiled this archive with a static html page (sendsms, saved from Chrome) and the log files.
[msedge.zip](https://github.com/Microsoft/ChakraCore/files/193284/msedge.zip)

The site this

[2016-03-29 11:57] nicolo-ribaudo commented on #667
Currently, Chakra only checks if `@@iterator` exists, even if it is null or undefined (Steps 4 and 5)

[code]

[2016-03-29 15:48] agarwal-sandeep commented on #671
Atleast for debugging purpose, in locals windows we need to implement a display and walker for Promise object similar to RecyclableProxyObjectDisplay and RecyclableProxyObjectWalker and add fake properties [status] and [result]

[2016-03-29 17:07] Eyas commented on #347
Shouldn't this be closed since #382 has been merged?

[2016-03-29 20:48] abchatra commented on #667
thanks @nicolo-ribaudo. Are you going to take a look at this bug?

[2016-03-29 21:50] nicolo-ribaudo commented on #667
I can fix it tomorrow

[2016-03-29 22:02] goyakin commented on #599
According to the [ECMAScript spec](https://tc39.github.io/ecma262/#sec-date.prototype.tolocalestring), the string returned by `Date.prototype.toLocaleString` needs to be in a human-readable form, but the details are left to the implementation. We insert the BiDi control characters (e.g., LEFT-TO-RIGHT MARK (U+200E)) in order to preserve the order of characters when the string is shown in a UI elem

[2016-03-30 19:54] nmostafa opened #695 "SIMD.js - RegAlloc may fold SIMD operands"
With register pressure, RegAlloc may fold SIMD operands to be loaded from memory. Since we currently don't ensure 16-byte alignment for SIMD stack syms, this might trigger an AV.

[code]

[2016-03-30 21:41] abchatra commented on #695
Thanks! Please update with a script test case.

[2016-03-30 22:43] #351 closed

[2016-03-30 23:16] rahulchaphalkar commented on #695
Attached a test case, which gives AV for x86 as well as x64 platforms.
[testCase.zip](https://github.com/Microsoft/ChakraCore/files/196735/testCase.zip)

[2016-03-30 23:24] abchatra commented on #695
Thanks! Marked it as 1.2

[2016-03-31 00:08] rajatd opened #703 "Switch optimizations are not disabled when we rejit because of them."
When we rejit (which means that some assumption we made in the jit is no longer true and we have bailed out enough times to realize that we want updated profile info) we disable the optimization that caused the bailouts and the rejit. Otherwise, there is a high chance that we will keep bailing out and rejitting because of the same reason. This is not being done for switch opts.

[2016-03-31 01:26] bterlson commented on #517
We are also not properly handling canonicalization with i and u flags. /\W/iu.test("S") and /\W/iu.test("K") should return true.

[2016-03-31 06:44] mathiasbynens commented on #517
Since that last comment [tends](https://bugs.webkit.org/show_bug.cgi?id=151597#c5) to [confuse](https://bugs.chromium.org/p/v8/issues/detail?id=4879) people, here’s an explanation of why `/\W/iu.test('S')` and `/\W/iu.test('K')` should return `true`: https://mathiasbynens.be/notes/es6-unicode-regex#impact-i

[2016-03-31 19:09] nmostafa opened #708 "SIMD.js - Store operations return NULL instead of passed value per spec"
The current implementation of SIMD store ops erroneously returns NULL (instead of Undefined). This causes a crash when merging ValueTypes during profiled interpretation, if store is used in an assignment. The correct behavior is to return the passed value, instead of Undefined.

Repro case:
[stDstBug.js.txt](https://github.com/Microsoft/ChakraCore/files/198396/stDstBug.js.txt)

**Repro case**

[co

[2016-03-31 21:35] #652 closed

[2016-03-31 21:35] dilijev commented on #703
Resolved by #704

[2016-03-31 21:35] #703 closed

[2016-03-31 22:43] #667 closed

[2016-03-31 22:43] #584 closed

[2016-04-01 14:58] #646 closed

[2016-04-01 19:26] #664 closed

[2016-04-02 00:32] #695 closed

[2016-04-04 17:12] nmostafa opened #727 "Lowerer UseWithNewType() and Legalize() counter-intuitive behavior"
Some SIMD.js x64test jshost failures were related to regAlloc generating bad code if casting to TyInt8. And I had to pin TyInt8 operands to a byteable register (#549).

What we want to do is cast reg2 to 1-byte then sign-extend:
[code]
The issue is that UseWithNewType uses the original RegOpnd object if it's not already used by another instruction. Since the MOV is the first use, we inadvertently

[2016-04-04 20:46] nmostafa opened #730 "SIMD.js - Missing Float32x4.fromUint32x4 implementation in Lowerer"
Repro case:
ch.exe -simdjs -bgjit- -maic:0 testConversion.js
[testConversion.js.txt](https://github.com/Microsoft/ChakraCore/files/203293/testConversion.js.txt)

Will submit a PR to fix this.

[2016-04-04 22:12] abchatra commented on #660
Please add a test case here.

[2016-04-04 22:15] abchatra commented on #676
Hi @awarberg I am able to repro this my windows 10 box. Crash call stack is in edgehtml and not Chakra. This needs to be reported to Edge team. Please file the bug on Edge team here:  https://connect.microsoft.com/IE/Feedback

[2016-04-04 22:17] abchatra commented on #708
@nmostafa It would be great if you provide inline script repro something like below:
[code]
Also always add an expected and actual output as well.

[2016-04-04 22:19] abchatra commented on #730
@nmostafa Can you provide a shorter repro? Also expected and actual output.

[2016-04-04 22:38] nmostafa commented on #730
Repro:
[code]

cmd:
ch.exe -simdjs -bgjit- -maic:0 fromuint32x4_f4.js

Expected:
`SIMD.Float32x4(1065353216, 1073741824, 1077936128, 1082130432)`

Actual:
[code]

[2016-04-04 22:42] abchatra commented on #730
Awesome, thanks a ton!

[2016-04-05 06:12] suwc opened #737 "TypeArrayBase::GetItem() always returns true?"
TypeArrayBase::GetItem() always returns true (unless exception is thrown).
Investigate the impact of returning false for out-of-range.

[2016-04-05 18:44] arunetm commented on #708
**Repro case**

[code]

**Expected Output:**

SIMD.Float32x4(7, 14, 21, 28)
SIMD.Float32x4(7, 14, 21, 28)

**Actual Output**

ASSERTION 31060: (G:\arun\git\chakra-310\core\lib\Runtime\Language\ValueType.cpp, line 1206) var
 Failure: (var)
FATAL ERROR: ch.exe failed due to exception code c0000420

[2016-04-05 19:22] leirocks opened #741 "Do not scan Finalizable Leaf blocks"
Today we are scanning  that. PropertyRecord falls into this category. Only need to call finalizer for these objects.
And looks there's some site uses very long string (something like base64 encoded string) as property name.

[2016-04-05 19:26] leirocks opened #742 "Decommit unused page in medium block"
In medium block we use 8 pages for one block, in some cases we can have the whole last page not used. for example, if object size is 0x1600, we only uses first 7 pages and can hold 5 objects.

[2016-04-05 23:28] Rastaban opened #745 "Fix scoped enums that are used as an array size."
Scoped enums will not be usable as an array size or index in the future in MSVC.

For example:

enum class Color
{ Red, Green, Blue };
int data[Color::Blue]; // error C3411: 'Color' is not valid as the size of an array as it is not an integer type

This was allowed in previous releases of MSVC, but will not be in the future (see http://webcompiler.cloudapp.net/ for the behavior of the latest unrel

[2016-04-06 17:38] arunetm opened #749 "SIMD.js: SIMD.Uint16x8.Equal returns incorrect results when optimized through lowerer"
The SIMD.Uint16x8.Equal() builtin function can return incorrect results when optimized. This happens when the simd values that is being compared has lane values beyond the bounds of uint16 type.

This issue is caused by the incorrect lowering of the comparison operation. The lowerer uses byte comparison instead of word comparison for reaching the results.

**Repro Case**

[code]

**Execution Flags

[2016-04-06 21:08] dilijev commented on #749
@abchatra Is this okay for Milestone 1.2?

[2016-04-06 21:19] #589 closed

[2016-04-06 22:07] abchatra commented on #749
@dilijev Yes its ok for 1.2

[2016-04-06 23:03] #656 closed

[2016-04-06 23:18] #749 closed

[2016-04-07 14:08] nicolo-ribaudo opened #757 "Array.of should throw when it sets a non-configurable property"
[code]

Expected result:

[code]

Actual result:

[code]

Array.of should throw a TypeError when it tries to set Arr#0, because it isn't configurable.

Specification:

[code]

`ValidateAndApplyPropertyDescriptor#5.a` returns false and it is forwarded to `CreateDataPropertyOrThrow#3`, which throws.

[2016-04-07 18:00] xanlpz opened #758 "FunctionBody.cpp won't compile with clang >= 3.8.0"
A number of errors like this happen:
[code]
There's a number of issues here. What the code is doing is trying to cast a pointer to a static member function to void*. This is in principle not allowed by the C++ standard. It's unclear why it works in older versions of clang (or VisualStudio?), but it fails in clang >= 3.8.

Another issue on top of that is that one of the ways the pointer to the stat

[2016-04-07 18:24] bterlson opened #759 "RegExpBuiltinExec should no longer access sticky and global via getters"
It should instead consult the [[OriginalFlags]] internal slot. See https://github.com/tc39/ecma262/pull/494.

[2016-04-07 18:30] bterlson opened #760 "RegExp.prototype getters and methods need a web-compat hack"
ES6 specified that RegExp.prototype is no longer a RegExp object and as a result, eg. RegExp.prototype.global would result in an exception (as is our current semantics under /es6all). However this change is not web compatible and, rather than going back and making RegExp.prototype a RegExp object, the various methods simply return default values if `this` doesn't have an [[OriginalFlags]] internal

[2016-04-07 23:38] goyakin commented on #517
Possible spec change regarding `\W`: https://github.com/tc39/ecma262/issues/512

[2016-04-08 00:43] digitalinfinity commented on #758
FYI @curtisman @LouisLaf

[2016-04-08 08:36] awarberg commented on #676
Thank you for checking this. I've created this issue with Microsoft and am closing the bug at ChakraCore:
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7150549/

[2016-04-08 08:36] #676 closed

[2016-04-08 15:19] curtisman commented on #758
RE: the second issue for offsetof.  That is legal.  The "address" field is a member of  ProxyEntryPointInfo (not static).  The function is static. which is fine.

e.g. The follow build and runs fine with clang:
[code]

[2016-04-08 17:07] obastemur commented on #758
`Converting a pointer-to-member-function to a void ptr is illegal by C++ standard`[1] However current implementation was passing somehow on older Clang versions and VCC.

See https://github.com/Microsoft/ChakraCore/pull/726/commits/68482b2b4c51f25073ce5cc7e392be553726c049 for a potential fix.

Summary of solution:
[code]

*[1]
From https://isocpp.org/wiki/faq/pointers-to-members#cant-cvt-memfnptr-

[2016-04-08 17:42] jianchun opened #767 "More specific SyntaxError message"
Eval this script:

[code]

Chakra:

[code]

V8:

[code]

Can Chakra output a more specific **message** than `Syntax error`? (e.g. other existing Chakra SyntaxError messages match `/^(Expected|Unterminated)/`). node matches SyntaxError message and starts `multi-line` mode if an expression appears incompleted.

[2016-04-08 18:36] bterlson commented on #757
Nice catch!

[2016-04-08 22:19] #730 closed

[2016-04-09 10:02] xanlpz commented on #758
FWIW, these being static member functions does not make it different. They are equivalent to function pointers but those also cannot be cast to void*: https://isocpp.org/wiki/faq/pointers-to-members#cant-cvt-fnptr-to-voidptr

[2016-04-10 01:59] arunetm opened #773 "SIMD.js: Shift amounts greater than lane width's causes simd lanes to be zeroed"
Shift operations can cause SIMD lanes to be zeroed when the shift amounts are set to be greater than the lane element widths. As per the latest spec shift amounts for simd types needs to be masked to be within the lane width.

**Repro Case**
[code]

**Actual Result**

SIMD.Int8x16(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)

**Expected Result**

SIMD.Int8x16(0, 1, 1, 2, 0, 1, 1, 2, 0, 1, 1, 2,

[2016-04-11 10:45] AndiVlad opened #775 "JsDiagGetObjectFromHandle reurns object with JsDiagEvaluate alike properties"
When calling JsDiagGetObjectFromHandle i'd expect the same property structure for the object returned. It seems that when called on handle returned in the locals array of the JsDiagGetStackProperties method, it will return a structure like:

        ///     {
        ///         "name" : "this",
        ///         "type" : "object",
        ///         "display" : "{...}",
        ///         "cl

[2016-04-11 18:33] #773 closed

[2016-04-12 13:45] calvinmetcalf opened #784 "Timeouts can fire even when unset syncronously"
this is likely a bug with setTimeout, so if that's a Edge thing I can reopen there.  As reported defunctzombie/node-process#56 it looks like it's possible to add a setTimeout run synchronous code and then call clearTimeout but have the timeout callback called anyway. If I had to guess my suspicion  would be that certain dom functions may block the thread without blocking the event loop (like [this

[2016-04-12 18:39] Krovatkin opened #786 "AsmJs. Crash in AsmJsModule when parsing a variable declaration w/o an initialization (empty RHS)"
AsmJs parser crashes when parsing a variable declaration w/o an initialization (i.e. no RHS).

Repro case:
Command line args: $CH -asmjs  noinitinvardecl.js

Repo testcase:
[code]

Expected Output:

Actual Output:

[2016-04-12 18:40] Krovatkin commented on #786
Possible fix.
[Fix for a segfault while parsing var decls w/o RHS](https://github.com/intel-str/ChakraCore-private/pull/26)

[2016-04-12 21:29] agarwal-sandeep commented on #775
_JsDiagGetStackProperties_ is supposed to return locals, scopes and global properties for give stack frame whereas _JsDiagGetObjectFromHandle_ is supposed to return the object representation of a handle.

_JsDiagGetObjectFromHandle_ is mainly for getting the function representation from _functionHandle_ returned in _JsDiagGetStackTrace_.

The APIs are used in Ch debugger, take a look at [DbgContro

[2016-04-12 22:21] Krovatkin commented on #786
#790 PR for the fix

[2016-04-12 23:48] #708 closed

[2016-04-13 01:08] #786 closed

[2016-04-13 14:25] abchatra opened #796 "Implement Proper Tail Call [Discussion]"
This is a discussion thread on implementing proper tail calls (PTC) in Chakra. For simplicity, only full jit implementation is discussed.
### Introduction

[Wiki](http://www.lua.org/pil/6.3.html) & in [Javascript](http://www.2ality.com/2015/06/tail-call-optimization.html)
### x86 implementation details of a PTC

Chakra uses caller cleanup for the arguments in the stack. This means caller is requir

[2016-04-13 15:53] cscrudder opened #798 "JS Daylight Saving Date Difference"
**IE browser v:** 11.0.9600.18230
**OS:** 7 Enterprise
**Description:** When attempting to calculate the difference of time (hours) between two JavaScript date variables falling on either side of daylight saving time (spring forward / UTC Central) 2am is improperly handled.

Daylight saving time should recognize 2am (02:00:00) as 3am for spring forward. IE is currently inconsistent as other major

[2016-04-13 16:06] ljharb commented on #798
Please note that daylight savings time transition is locale-dependent - in Brazil, for example, it transitions at midnight.

[2016-04-13 16:12] cscrudder commented on #798
@ljharb yes I am aware of the locale dependency, so the example may need to be tweaked to replicate the same issues.  The locale where the issue is apparent to me is in UTC Central.

However this does not change the fact that the hour in question to be 'forwarded' is not correctly observed/handled to be in uniform of other browser/languages.

[2016-04-13 16:25] cscrudder commented on #798
With further investigation with a co-worker, we have identified this issue appears to be resolved in IE 11.162.10586.0

[2016-04-13 16:25] #798 closed

[2016-04-13 18:27] Cellule opened #800 "`let` vs `var` generates a lot more instructions"
Sorry in advance I haven't been able to get a simpler repro case at this time.
My test case is the following
[code]
This code generates the following IR
[code]
This IR makes it hard to make proper optimizations (in this case Array optimizations).

If we change the `let` keyword for a `var`, `i` becomes a regular variable.
Is it possible to make `let` variables behave exactly the same as a regular

[2016-04-13 18:38] pleath commented on #800
The fact that the code is in eval is the limiting factor for us, right? We could theoretically make the eval code gen close enough to non-eval code to make the optimizer’s life easier, but it would take some effort. Is this a synthetic test case?

--Paul

From: Michael Ferris [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 11:27 AM
To: Microsoft/ChakraCore <ChakraCore@noreply.git

[2016-04-13 18:56] Cellule commented on #800
I'm not entirely sure, but it's true that I haven't been able to repro outside of eval.
I wrote that test case, to type specialize each function differently.
Regardless, this means that `let` (and possibly `const`) inside of eval will always be much slower than `var`

[2016-04-13 21:23] obastemur commented on #758
After the discussion with @dreamer-dead, I have followed the generation of funPTR and this time included the parts only compiled under VS. saw `size_t` is being cast to `BYTE_PTR` and then funPTR. Resulting BYTE_PTR may fail to represent funPTR on cross platform (enum-aliasing / big endian..)

Alternative approach is to have voidPTR cast to funPTR on runtime. See https://github.com/obastemur/Chakr

[2016-04-13 21:42] dilijev commented on #660
@Yongqu What is milestone ao?

[2016-04-13 21:43] leirocks commented on #741
looks we are not actually scanning it. but handled differently than normal leaf object

[2016-04-13 21:43] #741 closed

[2016-04-13 21:49] Yongqu commented on #660
should be 1.2

[2016-04-13 21:56] Yongqu commented on #784
Yes setTimeout is an edge function and please report the issue to edge. thanks.

[2016-04-13 22:11] nojvek opened #804 "JSON.parse("") gives very ambigious "Syntax Error"."
[code]

[code]

'Syntax Error' is very ambiguous error. It could mean a lot of things. When its part of a large callstack, I would think its a javascript syntax error somewhere in my js files. The callstack doesn't even mention JSON.parse.

Chrome gives
[code]

Ideal error should mention something like "JSON.parse Syntax error: Empty string" or "JSON.parse Syntax Error: unexpected end of json inpu

[2016-04-14 00:23] bterlson commented on #796
So just to summarize the options we have in front of us for x86:

1. Regress call performance.
2. Use CALL to allocate additional stack space when needed (thus violating the spec in certain cases)
3. Invest months of effort changing our calling conventions.

For x64, we only have option 2.

None of these options seem good :(

[2016-04-14 00:33] abchatra commented on #796
@bterlson Yep that is my understanding.

[2016-04-14 00:45] ianwjhalliday commented on #139
Fixed by #665

[2016-04-14 00:45] #139 closed

[2016-04-14 00:46] ianwjhalliday commented on #137
Fixed by #665

[2016-04-14 00:46] #137 closed

[2016-04-14 01:02] msaboff commented on #796
I have some clarifying questions about how Chakra works and what is presented.

1. Does the callinfo meta argument describe the actual number of parameters or the formal number of parameters?  If the actual, the generated PTC code could perform the math needed to make sure SP has enough space.  If formal, then presumably the JIT knows that value as a constant for both the caller and callee and can

[2016-04-14 02:17] ianwjhalliday commented on #800
I don't see why we need to make a scope object for the for loop's scope in this case.  Doesn't matter that it is in an eval, there is no nested eval nor any capture.

[2016-04-14 02:52] ianwjhalliday commented on #745
#751 addressed `CompactCounters.h`.  @Rastaban have you found any other uses of scoped enums in ChakraCore?  Can we resolve this issue as fixed?

[2016-04-14 03:02] ianwjhalliday commented on #614
@nojvek were you able to get this working?

[2016-04-14 03:38] abchatra commented on #796
Thanks for taking a look @msaboff

CallInfo has an actual number of parameters. We follow caller cleanup (similar to C calling convention). If esp is altered, PTC target (*foobar*) won't clean up the stack. The current frame (*bar*) which did PTC doesn't exist. The caller (*foo*) of the current frame needs to readjust the stack.

Function *bar* doesn't have to save and restore the esp, but *foo* w

[2016-04-14 03:44] nojvek commented on #614
Yeah I was. Feel free to close this. Thanks.

On Wed, Apr 13, 2016 at 8:03 PM, Ian Halliday <notifications@github.com>
wrote:

[2016-04-14 04:26] Rastaban commented on #745
There are no other uses, please resolve the issue as fixed.

From: Ian Halliday [mailto:notifications@github.com]
Sent: Wednesday, April 13, 2016 7:53 PM
To: Microsoft/ChakraCore <ChakraCore@noreply.github.com>
Cc: Phil Christensen <philc@microsoft.com>
Subject: Re: [Microsoft/ChakraCore] Fix scoped enums that are used as an array size. (#745)

#751<https://github.com/Microsoft/ChakraCore/pull/751

[2016-04-14 06:04] msaboff commented on #796
We had to change our calling convention to make PTC work.  The biggest change was saving and restoring callee saves in prologues and epilogues for the 64 bit platforms we support.  I spent about a month making callee saves work in all tiers including the various special cases we have.

We always use a frame pointer for every frame on all platforms, which makes restoring the caller's `sp` fairly st

[2016-04-14 12:30] calvinmetcalf commented on #784
ok opened up over there https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7206104/

[2016-04-14 12:30] #784 closed

[2016-04-14 14:03] abchatra commented on #796
I don't understand this comment. We already save and restore callee save registers (non-volatile) in prolog and epilog of a callee.  It is mandatory by Windows ABI (may be any ABI). What is the relation to callee cleanup and caller cleanup?

We always use a frame pointer for every frame on all platforms, which makes restoring the caller's  sp  fairly straightforward. We use a little trick to resto

[2016-04-14 15:22] pleath commented on #800
Right, that's why I say that it's theoretically possible to fix this. My only question is the priority relative to RS1 bugs.

-- Paul
________________________________
From: Ian Halliday<mailto:notifications@github.com>
Sent: ‎4/‎13/‎2016 7:17 PM
To: Microsoft/ChakraCore<mailto:ChakraCore@noreply.github.com>
Cc: Paul Leathers<mailto:pleath@microsoft.com>
Subject: Re: [Microsoft/ChakraCore] `let` vs

[2016-04-14 15:56] msaboff commented on #796
I understand that you already handle callee saves.  Just pointing out that we had to make these changes ourselves to implement PTC.

Our caller cleanup is minimal, just restoring `sp`.

In JSC, a callee cannot change the size of a caller's frame.  The top most call frames can and do change their size.  The `lea sp, bp - offset` restoration puts the stack pointer back in the default location.  This

[2016-04-14 17:25] abchatra commented on #796
Just pointing out that we had to make these changes ourselves to implement PTC.

Makes sense, thanks!

Note as per x64 (& arm) windows ABI, even caller can't change its own stack except in prolog and epilog (strict frame size restrictions). This is to statically unwind the frame, without a frame pointer, which is not mandatory to setup in x64. In short, no modification to rsp (or r11) is allowed a

[2016-04-14 18:12] #614 closed

[2016-04-15 02:24] #745 closed

[2016-04-15 22:51] EdMaurer commented on #556
The ChakraCore Team is no longer hiring.

[2016-04-16 00:18] dilijev commented on #660
Added additional details from the bug linked above. I believe they are the same bug. I am investigating.

[2016-04-18 21:12] Krovatkin opened #824 "AsmJS: SIMD.Bool8x16.extractLane produces a wrong result"
SIMD.Bool8x16.extractLane produces a wrong result while extracting "true" values.

Repo cmd:

[el_bug.js.txt](https://github.com/Microsoft/ChakraCore/files/224793/el_bug.js.txt)
[code]

[code]

Expected Output:
[code]

Actual Output:
[code]

[2016-04-18 21:21] Krovatkin commented on #824
We will be submitting the fix shortly.

[2016-04-18 21:25] dilijev opened #825 "Use size_t * instead of unsigned int * for JsSerializeScript's bufferSize param"
See https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCommon.h#L1113

Since this is a buffer size, the most portable type for the parameter would be `size_t` instead of `unsigned int *`.

@liminzhu: @digitalinfinity mentioned this might not be possible because of compat, but could you confirm that and see if we might want to make this change anyway?

[2016-04-18 22:21] #759 closed

[2016-04-19 00:24] arunetm opened #827 "SIMD.js: Asmjs validation allows returning simd values from functions without coercion."
Asmjs validation should require coercion for return values. Simd values needs to be coreced using the check() builtin before returning from asmjs functions. currently this is not enforced.

**Repro Case**
[code]

**Expected results**

 	Expression for returning simd values must be coerced using check()
  Asm.js compilation failed.

**Actual Results**
Successfully compiled asm.js code

[2016-04-19 01:05] bterlson opened #829 "class extends null should bind this"
See also: https://github.com/tc39/ecma262/issues/543

Spec has fixed a bug that was not allowing classes that extend null to use `this` in the constructor body. This has been fixed, and our implementation needs updates to conform!

[2016-04-19 01:26] liminzhu commented on #825
Before we discuss it, @digitalinfinity I remember signature was taking ```unsigned long *``` instead of ```unsigned int *``` and saw you changed it in the https://github.com/Microsoft/ChakraCore/pull/766. It seems to break compat. Any reason why you did this change?

[2016-04-19 12:28] varghesep opened #830 "Running ChakraCore in ASP.NET web api"
I have a data processing logic (map-reduce) in a _JavaScript file _which currently runs on browser. The user downloads this data processing JS file as part of the html content download, and then the browser runs it.

I currently use _ASP.NET 5 Web API _for data retrieval. I want to move this data processing logic (JS file) **to the server side**. One option I've looked at is running this JS file i

[2016-04-19 21:41] EdMaurer commented on #556
Breaking news - Chakra Hiring Again!

holler.

[2016-04-19 22:47] AndiVlad opened #832 "Get properties for this"
Hello,

Given a script that looks like:
[code]

I couldn't find a way to get the 'this' value when hitting the debugger line. `eval(test1.prototype) `shows the static members, `eval(this)` shows a bunch of global properties but none defined inside the function, same for eval Object methods such as `keys`, `getOwnPropertyNames`. The stack information gotten via the `JsDiag*` methods doesn't return

[2016-04-20 02:03] majorye opened #834 "how to set TLS version in Edge browser?"

[2016-04-20 17:15] Krovatkin opened #837 "SIMD.js/Asm.js : Float32x4.min/Float32x4.max may produce wrong result if one of the first opnd's lanes is NaN"
Two SIMD.js ops: **Float32x4.min()** and **Float32x4.max()** produce a wrong result when there's a NaN value in the first operand and a number in the second operand.

For example, if the following two SIMD values are compared both **mix** and **max** ops will set the fourth lane of the resulting value to 42.

[code]

Here's a simple test case exposing this issue:

[b208.js.txt](https://github.com/

[2016-04-20 17:16] Krovatkin commented on #837
We will be submitting the fix shortly.

[2016-04-20 20:28] bterlson commented on #834
ChakraCore is the JavaScript engine only. For questions about Microsoft Edge, please see their [help and support page](https://developer.microsoft.com/en-us/microsoft-edge/community/support/). Thanks!

[2016-04-20 20:28] #834 closed

[2016-04-20 20:29] bterlson commented on #832
Are you calling test1 with the `new` operator?

[2016-04-20 20:34] bterlson commented on #830
Yes, it is possible. See our wiki on [Embedding ChakraCore](https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore) for some pointers!

[2016-04-20 20:34] #830 closed

[2016-04-21 06:29] AndiVlad commented on #832
A bit more context. Here's the full script:

[code]

1) When calling the constructor, first debugger hit, none of the `this.*` properties come up anywhere in the `JsDiagGetStackProperties` method, either as Local/Global/Scope etc
2) When the second debugger hits inside the func call, the t variable appears in the globals object and has the members initialized properly
3) When  hitting the debugger

[2016-04-21 18:05] #837 closed

[2016-04-21 18:44] bterlson opened #849 "No syntax error for let redeclaring var in a block"
[code]

Expected: SyntaxError, duplicate delcarations.
Actual: No error, var is hoisted out.

[2016-04-21 18:46] bterlson opened #850 "Vars should not hoist past lets."
[code]

Expected: Error, x undeclared.
Actual: prints undefined as the var binding hoists past let.

[2016-04-21 20:11] bterlson commented on #849
Another related case that should be a syntax error is the following:

[code]

While this is a compat concern, Chrome has shipped these semantics for two stable versions and haven't found problems. We should align with the spec here if we can get away with it.

[2016-04-22 05:03] dilijev commented on #220
The ChakraCore wiki clone is now live at: https://github.com/Microsoft/ChakraCore-wiki

I'll leave this issue open for a couple of days in case there are any follow-up questions or discussions to be had.

[2016-04-22 16:55] Yongqu commented on #825
size_t won't be available in Linux; sizeof(long) is different from sizeof(int) in Linux. changing from unsigned long to unsigned int shouldn't change backwar compat. @liminzhu what is your concern?

[2016-04-22 18:51] obastemur commented on #825
AFAIK We do use many other 'aliased' types. 'size_t' is available in Linux and it's not different than others. In case we have a problem with these aliases are represented with different sub types on varying platforms, that's something else.

[2016-04-22 22:36] dilijev commented on #825
Yep, `size_t` is in the standard. I don't think there's any problem there.

[2016-04-23 00:01] dilijev commented on #261
@bterlson I'm wondering if you can help me understand this bug a bit better with actual/expected behavior?

I've tried the following:

[code]

And this succeeds with the same behavior (modulo differences in printed strings in the interactive console in both Canary and Edge).

[2016-04-23 00:09] ljharb commented on #261
`Object.setPrototypeOf(Object.prototype, {})` should fail silently in sloppy mode and throw in strict mode, as should any other mechanism of changing `Object.prototype`'s `[[Prototype]]`.

[2016-04-23 00:11] dilijev commented on #261
@ljharb Thanks for the clarification. Looking into it further now.

[2016-04-23 00:17] dilijev commented on #261
@ljharb In sloppy mode, that statement causes the error message `Cyclic __proto__ value` in both Canary and Edge. I assume this is due to another issue. Is there another possibility that would avoid that error message, or is the goal here to silently fail and not report any error message at all?

[2016-04-23 00:26] ljharb commented on #261
Oh sure. Set it to Object.create(null) or a cross-realm value instead, my mistake.

[2016-04-25 17:36] curtisman commented on #825
Do we need size_t if we don't support byte code buffer >= 2^32?

[2016-04-25 18:08] leirocks commented on #535
looks there's problem in the repro code?
it's new-ing  Proxy with 3 parameters, not two:
1. {},
2.  { getPrototypeOf: function(o) { gpo = true; return Object.getPrototypeOf(o); }},
3.  { getOwnPropertyDescriptor: function(o, v) { gopd.push(v); return Object.getOwnPropertyDescriptor(o, v); }}

the code should be like this:?

`
print((function()
{
// Object.prototype.__lookupGetter__ -> [[GetOwnProp

[2016-04-25 18:26] leirocks commented on #535
and looks getOwnPropertyDescriptor is called, but getPrototypeOf is not.

[2016-04-25 18:27] bterlson commented on #261
Just to be clear, here's a code sample:

[code]

Expected: TypeError in all modes
Actual: No TypeError

Do note that the type error is not dependent on mode (can you confirm @ljharb?).

[2016-04-25 20:23] ljharb commented on #261
Confirmed - in both https://tc39.github.io/ecma262/#sec-object.setprototypeof and https://tc39.github.io/ecma262/#sec-set-object.prototype.__proto__ step 4 will return `false`, and step 5 should throw a `TypeError`.

(It's unfortunate that the `[[SetPrototypeOf]]` method doesn't point to https://tc39.github.io/ecma262/#sec-immutable-prototype-exotic-objects but that's where step 4 returns false)

[2016-04-25 21:17] dilijev commented on #85
Our infrastructure is set up to make NuGet packages and we are now hosting ChakraCore preview builds on MyGet.org:

https://www.myget.org/gallery/chakracore-preview
https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore

These builds will be signed and can be used to trial development with ChakraCore and embedding ChakraCore into applications.

Some thoughts/questions:

*

[2016-04-25 22:30] dilijev commented on #261
Thanks @bterlson and @ljharb. I think I understand the requirements much better now.

Earlier @ljharb had said:

And @bterlson said:

Is it that TypeError is not thrown in sloppy mode in general, or was one of these statements in error?

[2016-04-25 22:50] dilijev commented on #825
Maybe we should define a `ChakraByteCodeBufferSize` type (or something less verbose) to capture the semantic info about the type (the fact that regardless of platform, we have a max buffer size), so that this question doesn't keep coming up?

[2016-04-25 22:53] agarwal-sandeep commented on #832
Thanks @AndiVlad, There is definitely some issue here I will investigate. Marking as bug and assigning to myself.

[2016-04-26 00:28] bterlson commented on #261
I believe @ljharb was mistaken - it should be a TypeError in all modes. He confirms this in his most recent comment.

[2016-04-26 01:01] agarwal-sandeep commented on #832
Fixed in https://github.com/Microsoft/ChakraCore/commit/8a6c56f86abf74b94ce2e29893cd082004ff7fb2
You should be able to get _this_ value by calling _JsDiagEvaluate("this", stackFrameIndex)_

I think we should have a this object handle in _JsDiagGetStackProperties_, similar to globals handle. Will look into it.

[2016-04-26 02:39] ljharb commented on #261
@dilijev yes, my mistake. mode is irrelevant here (i thought it mattered for `__proto__` assignment, but i'm wrong)

[2016-04-26 14:15] ormico commented on #85
You could make a separate debug nuget package that included either the pdb and dll or just the pdb.

While it makes sense to me to include the headers, I haven't used c/c++ with nuget  or needed header files for anything recently so I might be wrong. Someone with more recent c/c++ experience might have a different thought.

[2016-04-26 16:52] dilijev commented on #261
Okay, thanks for your patience in bringing me up to speed, here. :)

[2016-04-26 17:26] dilijev commented on #85
It looks like there might be a supported pattern for this:
https://docs.nuget.org/consume/support-for-native-projects

Also I noticed that the MyGet website has integration with SymbolSource. This might be the best way to distribute debugging symbols, instead of in the binary distribution packages.
http://docs.myget.org/docs/reference/symbolsource

I'll add some tasks to the initial description th

[2016-04-26 17:48] abchatra commented on #535
@leirocks. This is a test from [kangax esnext](http://kangax.github.io/compat-table/esnext/)

You are right, seems like test was incorrect before and the right test is below, which still fails.
[code]

[2016-04-26 18:01] leirocks commented on #535
Yes, it still fails, after fixing the test, the getownpropertydescripotr trap will be called, butgetprototypeof trap is still not called, I'm investigating that

Get Outlook<https://aka.ms/uzin6x>

On Tue, Apr 26, 2016 at 10:48 AM -0700, "Abhijith Chatra" <notifications@github.com<mailto:notifications@github.com>> wrote:

@leirocks<https://github.com/leirocks>. This is a test from kangax esnext<ht

[2016-04-26 19:03] ormico commented on #85
are you planning to move to the main nuget index after you come out of preview? what it the reason for using myget.com for a public package?

[2016-04-26 19:05] dilijev commented on #85
Yes, once we are out of preview we will move to the NuGet.org index (at least for the stable, official releases).

We were following the example of TypeScript using MyGet for preview builds, since we want to make sure nobody accidentally takes a dependency on the preview builds which will expire quickly and generally not be available for any significant length of time.

[2016-04-26 19:09] MikeHolman commented on #827
We have come to consensus that this coercion should not be required.

[2016-04-26 19:09] #827 closed

[2016-04-26 21:09] arunetm opened #865 "Simd.js Bug: Incorrect reuse of unused simd temp registers in IRBuilder register allocation"
Incorrect register reuse for unused simd temp registers. If the simd function call is not part of an assignment a temp dst register is created and since its unused its marked for reuse. However the stack symbol associated to this tmp register is typed and will assert when reused for a simd value with a different type.

**Repro Case**
[code]

**Expected Results**

**Actual Results**

ASSERTION 1596

[2016-04-26 21:10] arunetm opened #866 "Simd.js Bug: Simd type conversions in asmjs sets the dst type incorrectly"
The helper method used to build IR for simd type conversion operations sets the destination register type to 'TySimd128I4' always.

**Repro Case**
[code]

**Expected Results**

PASS

**Actual Results**

ASSERTION 16232: (G:\arun\git\chakra-411\core\lib\Backend\Sym.cpp, line 382) stackSym->GetType() == type
 Failure: (stackSym->GetType() == type)
FATAL ERROR: ch.exe failed due to exception code c00

[2016-04-26 21:13] arunetm opened #867 "Simd.js Bug: Destination register type mismatch assertion while returning simd types from asm functions."
This seems like a register allocation bug when nested calls are involved. The issue happens when creating/finding register for dstOpnd during the irbuilding phase of the SIMD128ReturnU4 opcode. There seem to be a mismatch in the return register type (Expecting U4 and finding I4)

**Repro Case**

[code]

[2016-04-26 21:53] agarwal-sandeep commented on #832
'_this_' value if available for the frame will be returned by call to _JsDiagGetStackProperties_ under '_thisObject_' property.

https://github.com/Microsoft/ChakraCore/commit/dcc2513af571971e946fa06ced0c0d55ec53c133

[2016-04-26 21:53] #832 closed

[2016-04-27 22:11] nmostafa commented on #824
@dilijev , this is fixed by https://github.com/Microsoft/ChakraCore/pull/826
can you please close it ?

[2016-04-27 22:57] dilijev commented on #824
Closed by #826

[2016-04-27 22:57] #824 closed

[2016-04-27 23:13] #760 closed

[2016-04-28 05:55] leirocks opened #879 "make pageAllocator able to commit part of requested pages"
When allocating pages sometimes we only need a part of the pages to be commited. if page allocator support this we can:
1. simplify pageheap, we do not need to decommit guard pages and maintain the page status in heap block code
2. some medium block has useless pages in the end, we can only commit necessary part of the pages

[2016-04-28 05:59] leirocks opened #880 "Assert less-than-pointer allocation to be leaf"
I hit some less-than-pointer (like 3 bytes on x86) allocation with leaf bit off in both chakra and memGC
we should fix the caller(runtime code) to make such allocation is leaf, the benefits are:
1. reduce addresses to scan
2. reduce false positive in marking

we can add an assert in recycler to find out such allocations

[2016-04-28 11:26] DanielZanelatto opened #881 "modify data attribute dynamically of object tag not working"

[2016-04-28 12:37] trendzetter commented on #111
The roadmap mentions no JIT for linux, does that mean the performance will be inferior? Is this the intended behaviour?

[2016-04-28 14:09] obastemur commented on #111
IMHO...
Step by step. First interpreter only (it's almost there! see #873 from @digitalinfinity ), then JIT. Surely JIT performs better.

[2016-04-28 16:41] #775 closed

[2016-04-28 17:40] dilijev commented on #111
That's right, our roadmap is for the short-term, next few months of work. We need to get the non-JIT version working first (which is strictly less complex), and then start working on JIT which is much more closely tied to the platform.

[2016-04-28 19:18] virdun opened #883 "toLocaleTimeString returns non-ascii characters"
// Issue in Edge but not in chrome
var t = dt.toLocaleTimeString(); // Say it returns 13:04:26
var tArr = t.split(':');
console.log(parseInt(tArr[0], 10); // returns NaN in Edge, other browsers return 13
console.log(+tArr[0]); // returns NaN in Edge, other browsers return 13
console.log(1 * tArr[0]); // returns NaN in Edge, other browsers return 13

// Solution to the problem for Edge and possibly

[2016-04-28 19:33] jianchun commented on #883
This is the same issue as #599

[2016-04-28 19:45] virdun commented on #883
Yes, that is correct. I did not find that one before I posted. Sorry.

[2016-04-28 19:48] #883 closed

[2016-04-28 21:09] dilijev opened #884 "Proxy: ToPropertyDescriptor assert; when Proxy has() always lies and returns true, should result in TypeError"
Repro test case:

[code]

Output:
[code]

Expected output:
[code]

Each `has` is for the Proxy properties: configurable, enumerable, value, writable, get, and set that are checked when there is a proxy around the PropertyDescriptor being used with Object.defineProperty.

See: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy
See: https://tc39.github.io/ecma262/

[2016-04-29 00:06] #261 closed

[2016-04-29 00:21] #865 closed

[2016-04-29 16:36] Krovatkin opened #888 "Asm.js Simd.js : Handling of extended opcodes with Medium or large layouts is disabled in InterpreterLoop.inl for Asm.js"
Handling of extended opcodes with Medium or large layouts is disabled in InterpreterLoop.inl. This will cause a crash when interpreter SIMD opcodes (extended ones) with functions with over 256 bytecode registers.

https://github.com/Microsoft/ChakraCore/pull/831/files/5dfff42fdd6fe01a8b5680dc0b1e89b827594370#r61509222 (see for more information)

[2016-04-29 16:36] Krovatkin commented on #888
We will be submitting a fix shortly.

[2016-04-29 16:43] arunetm opened #890 "Simd.js Bug: F32 truncation to be done before bound check for Uint32x4.fromFloat32x4 conversion builtin"
While converting from float32 to Uint32, the values needs to be truncated before performing bound check to be able to convert float32 values between 0 and -1.0. Only values <= -1.0 should throw.
http://tc39.github.io/ecmascript_simd/#simd-to-timd-logical

**Repro Case**
[code]

**Expected Results**

SIMD.Uint32x4(1, 0, 0, 0)

**Actual Results**

RangeError: argument out of range
   at Global code

[2016-04-29 17:09] nmostafa commented on #888
@abchatra , @dilijev  , we should label this as 1.2 bug. Assigned to me.
FYI: @MikeHolman

[2016-04-29 19:38] arunetm opened #897 "Simd.js: Restrict Asm.js functions to use unsigned simd values as arguments or return values."
Asm.js functions with simd args/return values are not allowed to use unsigned simd types for args/returns.

tc39/ecmascript_simd#307 (comment)
"Arguments passing : No unsigned Integer SIMD arguments are allowed. No SIMD arguments are allowed to imported functions."

**Repro Case**
[code]

**Expected Results**

stDstBug.js(7, 5)
        Asm.js Compilation Error function : asmModule::func1
        E

[2016-04-29 21:09] abchatra commented on #888
@dilijev  @nmostafa Please add a test case for any issue before marking for 1.2.

[2016-04-29 21:13] abchatra commented on #888
Also why this should be 1.2?

[2016-04-29 21:16] abchatra commented on #867
@arunetm  Can this issue be closed now?

[2016-04-29 21:17] abchatra commented on #866
@arunetm Can this issue be closed now?

[2016-04-29 21:18] abchatra commented on #884
@dilijev if the issue is fixed, can this be closed?

[2016-04-29 21:19] abchatra commented on #881
There is no information in this issue. Closing it.

[2016-04-29 21:19] #881 closed

[2016-04-29 21:26] arunetm commented on #867
Yes. The fix had already been merged to Release/1.2

[2016-04-29 21:27] arunetm commented on #866
@abchatra, yes the fix has already been merged.

[2016-04-29 21:34] #867 closed

[2016-04-29 21:34] #866 closed

[2016-04-29 21:38] nmostafa commented on #888
Repro (test too big to inline):
[testSimdManyVars.txt](https://github.com/Microsoft/ChakraCore/files/243265/testSimdManyVars.txt)

Expected:
[code]

Actual:

[code]

[2016-04-29 21:40] nmostafa commented on #888
@abchatra , this is affecting SIMD.js execution in Asm.js interpreter. Any function with more than 255 vars will fail. This is not so unlikely with Emscripten output code.

[2016-04-29 21:50] dilijev commented on #884
@abchatra fix is not merged in yet - see #885

[2016-04-29 21:50] dilijev commented on #220
Closing issue now as no more discussion seems to be taking place. Feel free to reopen if appropriate.

[2016-04-29 21:50] #220 closed

[2016-04-30 00:09] #884 closed

[2016-05-01 02:52] DanielZanelatto commented on #881
[code]

[2016-05-01 02:58] DanielZanelatto opened #903 "modify data attribute dynamically of object tag not working"
[code]

[2016-05-01 03:03] DanielZanelatto commented on #903
PDF is not replaced.

[2016-05-02 17:27] flyboy9 opened #906 "ChakraCore cannot build on Ubuntu 15.10 (x64)"
Followed the information at http://ariya.ofilabs.com/2016/01/playing-with-chakracore-on-linux.html
except that I use virtualbox as the VM and install the ubuntu15.10 from http://releases.ubuntu.com/15.10/

the error message I am seeing is:

c++: error: unrecognized command line option ‘-fdelayed-template-parsing’

pal/src/CMakeFiles/Chakra.Pal.dir/build.make:54: recipe for target 'pal/src/CMakeFil

[2016-05-02 18:15] abchatra commented on #881
Please file a edge feedback [here](https://connect.microsoft.com/IE/Feedback). This repo is Chakra (Javascript runtime) specific.

[2016-05-02 18:27] Krovatkin opened #907 "Simd.js Asm.js : Disable Float64x2 and remove SIMD ops not in the spec"
These are the items on our asm.js/simd.js spring cleaning list:

- [x] Disable **Float64x2** and **FromFloat64x2** opcodes
- [x] Remove **"and, or, xor, not"** for float32x4 type
- [x] Remove **"min/max"** for integral types
- [x] Remove/clean-up unit tests
- [ ]  Get a go from MSFT
- [ ] lunch?

Actual Output:

[code]

Expected Output:

[code]

[2016-05-02 18:28] Krovatkin commented on #907
We'll be submitting a PR shortly

[2016-05-02 18:30] obastemur commented on #906
@flyboy9 you need `clang++3.7`+

[code]

You also need `libicu`
[code]

It may ask you to install couple of more packages.

Check if you have `clang++` on the path ? Otherwise
[code]

if you don't want to do that, you may set clang location using `build.sh`
[code]

please let me know, so I can update this comment (eventually wiki)

[2016-05-02 18:35] nmostafa commented on #907
@abchatra , please confirm this is OK for release/1.2, and label accordingly. If we don't have it, then some currently unsupported data types/ops will be exposed in the library along with unused implementation code.

[2016-05-02 18:42] Krovatkin commented on #907
@nmostafa ; Arun @arunetm raised an issue that we might need a negative test case in issue's description? Kindly advise if the testcase is indeed needed and what other corrections I should make to the description.

[2016-05-02 19:16] flyboy9 commented on #906
hmm,   followed you instruction,   still seeing the same error

@obastemur
ling@ling-VirtualBox:~/Desktop/code/ChakraCore$ cmake . && make
Detected Linux x86_64
-- Configuring done
-- Generating done
-- Build files have been written to: /home/ling/Desktop/code/ChakraCore
[  1%] Building CXX object pal/src/CMakeFiles/Chakra.Pal.dir/cruntime/file.cpp.o
c++: error: unrecognized command line option ‘-

[2016-05-02 21:39] obastemur commented on #906
Could you use build.sh option above with the explicit location for clang, and clang++ ?

[2016-05-02 21:40] obastemur commented on #906
from the long you have: `ln: failed to create symbolic link ‘/usr/bin/clang’: File exists`

where do you have the clang, and clang++ ?

[2016-05-02 22:39] dilijev commented on #903
What browser are you using? It does the right thing for me in Edge (Windows 10: 10586.218), Chrome Canary, and Firefox Nightly.

(Where "the right thing" is: It loads the page and then changes the data attribute of the PDF object. You can observe the change in the DOM explorer or equivalent in the F12 console on any browser.)

I've tagged this as External and closing as NoRepro because I can't rep

[2016-05-02 22:41] dilijev commented on #903
For the moment I'll leave it open in case you can provide more info that helps us reproduce the issue.

Preferably, can you try to identify and reproduce an issue with the ChakraCore engine itself? If not, any information you can provide to help us track down any potential issue would be appreciated.

[2016-05-03 00:22] #897 closed

[2016-05-03 12:08] trendzetter commented on #111
protip: Tools developed by Microsoft in a Windows first strategy should not be used for platform independent developments, they don't work well, they will haunt you. Node.org should be wise enough to keep Chakra at arms length.

[2016-05-03 12:44] davidbabicka commented on #111
Looking forward to try! @obastemur @dilijev any idea when?

Did you hear something nobody knows? or you are going to judge `product a` based on your `protip` opinions on `product b`?

By the way; could you answer who you really are first?

I see, it is very easy to produce a pure b.s. behind a nickname..

protip: stop trolling, do something useful or let people do something useful

[2016-05-03 12:51] trendzetter commented on #111
@davidbabicka I enjoy your microsoft sponsored anger but it's misplaced. I am no troll, you see I make real contributions (contrary to your account it appears, talking about useful).
Microsoft has been pestering us for many long years to enjoy your anger for once.

[2016-05-03 12:58] davidbabicka commented on #111
case closed..

p.s. I respect real people's work on this repository and no longer answer your b.s. Go and pick another nick name.

[2016-05-03 13:09] trendzetter commented on #111
@davidbabicka What is wrong with my nick anyway?

[2016-05-03 18:34] dilijev commented on #111
@davidbabicka I believe we've got a hello world program running under Linux now. See: https://github.com/Microsoft/ChakraCore/pull/894

[2016-05-03 21:16] abchatra commented on #907
@nmostafa I am ok with cleanup if this doesn't impact anything other than SIMD code. It is a bit late in the cycle for general cleanup. Also, why can't this be merged into master instead of 1.2?

[2016-05-03 21:18] EdMaurer commented on #9
No immediate interest in this. Close to tidy up issues.

[2016-05-03 21:18] #9 closed

[2016-05-03 21:20] EdMaurer commented on #12
Investment in whitespace tooling is below the bar at this point.

[2016-05-03 21:20] #12 closed

[2016-05-03 21:21] dilijev commented on #906
I also had difficulty building on Ubuntu 15.10. @digitalinfinity suggested that the version of cmake might be a problem. I tried to install the latest but ultimately updated to 16.04 LTS, and was able to get a successful build.

[2016-05-03 21:29] digitalinfinity commented on #906
With @obastemur's PR #913 now merged in, cmake 3.5 is no longer needed either so it should build fine with Ubuntu 15.10.

[2016-05-03 21:39] #626 closed

[2016-05-03 21:40] nmostafa commented on #907
The cleanup touches only SIMD code, and it is low risk in my opinion. The only issue I see from merging to master is that we will be shipping currently unsupported SIMD types and operations (removed from spec or postponed to phase 2). So we should at least disable those in JavascriptLibrary and AsmJs validation.

[2016-05-03 21:55] abchatra commented on #907
Ok sure. I have marked it 1.2

[2016-05-04 08:47] obastemur commented on #758
IMO it's safe to close this now. @xanlpz ?

[2016-05-04 09:30] xanlpz commented on #758
Yep, this seems to at least compile correctly here.

[2016-05-04 09:30] #758 closed

[2016-05-04 17:40] dilijev commented on #906
@flyboy9 can you confirm that you're able to build and then we'll close this issue? :)

[2016-05-04 17:54] dilijev commented on #804
@nojvek I think this would be relatively straightforward to tackle. Would you like to do the honors?

Exception seems to be coming from:
lib\Runtime\Library\JSONParser.cpp:412 - JSON::JSONParser::ParseObject
See the following for the JSON.parse() entry point:
lib\Runtime\Library\JSON.cpp:22 - JSON::Parse

[2016-05-04 17:55] abchatra commented on #374
@dilijev Any update on this issue?

[2016-05-04 17:56] abchatra commented on #535
@leirocks Any update on this issue?

[2016-05-04 17:57] abchatra commented on #660
@dilijev Any update on this bug? Should this be 1.2?

[2016-05-04 17:57] abchatra commented on #300
@ianwjhalliday Any update on this issue?

[2016-05-04 18:11] dilijev commented on #374
Investigating and trying to understand the issue and solution. I hope to have this completed today.

[2016-05-04 18:15] dilijev commented on #660
I'm trying to figure out whether this will have any impact on 1.2 or whether this should be a future work issue. I believe this is specific to ch.exe and maybe the Jsrt API (which IIRC is not necessarily a priority for the 1.2 milestone).

/cc @liminzhu @Yongqu

[2016-05-04 18:27] dilijev commented on #660
@yongqu confirmed this Jsrt API is used in our hosts and this issue affects milestone 1.2

[2016-05-04 20:37] dilijev commented on #903
Closing as we can't repro and there's no action to take.

[2016-05-04 21:55] ianwjhalliday commented on #300
No, have not had and still do not have time to look into this yet.  If someone else can take it up that would be great.  @aneeshdk?

[2016-05-04 22:57] #903 closed

[2016-05-04 23:46] nojvek commented on #804
Sure, I'll take a stab at it Doug.

On Wed, May 4, 2016 at 10:54 AM, Doug Ilijev <notifications@github.com>
wrote:

[2016-05-05 18:52] dilijev commented on #374
Got distracted working on #660. Focusing on this bug today.

[2016-05-05 19:19] dilijev commented on #374
cf. 9.4.5.2 https://tc39.github.io/ecma262/2016/#sec-integer-indexed-exotic-objects-hasproperty-p
cf. 9.4.5.4 https://tc39.github.io/ecma262/2016/#sec-integer-indexed-exotic-objects-get-p-receiver

[2016-05-05 20:38] dilijev commented on #374
Relevant methods to refer to:

[code]

[2016-05-05 20:52] dilijev commented on #374
Complex prototype chain has no impact on this bug. Reduced repro:

[code]

[2016-05-05 21:05] dilijev commented on #374
/cc @ianwjhalliday

[2016-05-05 21:13] dilijev commented on #374
After discussing with @ianwjhalliday offline, it seems our implementation differs from the spec in such a way that this would require a somewhat large change to properly implement [[HasProperty]] for Typed Arrays that is inappropriate for the 1.2 milestone.

I'm looking into fixing [[Get]] which seems more straightforward.

[2016-05-05 21:15] dilijev commented on #660
Delaying work on this pending additional details from @Yongqu

[2016-05-05 21:39] dilijev opened #928 "Link errors in legacy debug builds in linux branch"
See: https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28linux%29#legacy-builds

Logs:
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/linux/job/daily_dev12_x86_debug/34/
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/linux/job/daily_dev12_x64_debug/34/

Sample error:
`Chakra.Runtime.Base.lib(Constants.obj) : error LNK2005: "public: static unsigned int const Js::Con

[2016-05-06 00:29] arunetm opened #933 "Asmjs compilation error on assigning float/signed/unsigned return values of simd builtin to a double var"
Simd builtin return values should be allowed to be coerced to all the types where a valid coercion exists  as allowed by the asm.js spec.
http://asmjs.org/spec/latest/#unary-operators

**Repro Case**
[code]

**Expected Results**
Asm.js Compilation completed successfully

**Actual Result**
Asm.js Compilation Error function : asmModule::func1

[2016-05-06 16:11] obastemur opened #937 "CI/Test related commits"
For the test/CI related work, IMO we better have a separate branch (can be forked from linux) and we do the work there. Once it's up and running we `squash the commits` and `cherry pick the one` back to linux or whatever the origin branch was.

Sounds good ?

[2016-05-06 17:33] nmostafa commented on #890
@dilijev , this is merged and should be closed.

[2016-05-06 17:34] nmostafa commented on #888
@dilijev , merged and should be closed. Not sure why GitHub is not auto-closing issues.

[2016-05-06 17:42] arunetm commented on #933
@dilijev This bug needs to be fixed for RS1. Can you please mark this issue as RS1?

[2016-05-06 18:27] Krovatkin opened #940 "Asm.js Simd.js : Wrong result due to Simd.RightShift clobbers register's value"
Lowerer sequence for Simd.RightShift clobbers  register's value even though it might still be live downstream.

Testcase:

[shr_bug.js.txt](https://github.com/Microsoft/ChakraCore/files/252821/shr_bug.js.txt)

[code]

Actual:
[code]
Expected
[code]

[2016-05-06 19:13] dilijev commented on #937
I'll talk with @mmitche about this since there are additional changes that need to be made for workflow with the CI mechanism that might make this difficult (changes are somewhat tied directly to the branch the changes are targeting). For the moment, we need to unblock the branch so #929 should be merged directly in.

[2016-05-06 19:15] obastemur commented on #937
IMO we should have all the stuff done on a forked branch on the same repository. What's technically keeping us from doing that? Otherwise, linux branch is becoming a trial-error place

[2016-05-06 19:24] dilijev commented on #937
Taking discussion offline to explain details about the tools.

For the purposes of this issue, I think we can work out a way to be less disruptive for future changes.

Since the only action to take on this issue is workflow related, I'll close this issue and keep this in mind for future changes.

[2016-05-06 19:26] nmostafa opened #944 "Simd.js in Asm.js: Relax validation of shift amount type for SIMD shift ops"
Currently we expect shamt to be Unsigned. This was inspired by the SIMD.js spec to cast the shamt to Uint32 ([link](http://tc39.github.io/ecmascript_simd/#simd-shift-left-by-scalar))

However, Emscripten passes Ints. So we have to relax the signatures of SIMD shift ops.

We will add a fix for this in https://github.com/Microsoft/ChakraCore/pull/941

Repro case:
[code]

Actual:
[code]

Expected:
[c

[2016-05-06 19:28] obastemur commented on #937
@dilijev thanks for the details

[2016-05-06 19:28] #937 closed

[2016-05-06 22:26] #888 closed

[2016-05-06 22:47] nmostafa commented on #940
@abchatra , we need this marked RS1.

[2016-05-06 22:47] nmostafa commented on #944
@abchatra , we need this marked RS1.

[2016-05-06 22:52] arunetm commented on #933
@dilijev please close this issue. the fix is merged to Release/1.2

[2016-05-06 23:26] dilijev commented on #933
@arunetm The issue will be closed automatically when this change is merged into master (soon)

[2016-05-06 23:27] dilijev commented on #888
@nmostafa Issues only get automatically closed when the corresponding changes are merged into master. All changes that go into release/1.2 get merged into master eventually, so just be patient. :)

[2016-05-07 14:25] obastemur commented on #906
I've just compiled ChakraCore on a new VM with the steps below;

 - Visited  http://releases.ubuntu.com/ and download latest LTS! (x64)
    How or to where you have installed doesn't make much difference.
    !Keep in mind you will need an internet connection on this VM

 - Once you have Ubuntu is installed open a terminal window and start the update process
	Ø sudo apt-get update
	Ø sudo apt-get

[2016-05-07 14:25] #906 closed

[2016-05-09 00:03] kunalspathak opened #950 "JSRT APIs for Proxy"
Currently `target` and `handler` as internal fields of `JavascriptProxy.cpp` and there is no way to retrieve them natively. Recently node [started taking dependency](https://github.com/nodejs/node/commit/ba6196f84369f1c9c6ab87635de61f6162682cc3#diff-2551d2db08a9c000abf562d51e3de404R42) on these fields natively. This breaks node on chakracore as chakracore doesn't have these fields exposed via JSRT

[2016-05-09 18:19] dilijev commented on #906
@obastemur : @liminzhu might be able to provide more guidance or integrate this into the wiki in an appropriate place.

[2016-05-09 18:36] liminzhu commented on #906
// thanks for cc'ing me @dilijev

Great stuff @obastemur ! I was actually looking for such a guide. The most logical place in the current wiki would be [Building ChakraCore](https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore) and have a linux block in it. I can test it out today and add the guide there.

[2016-05-09 18:37] obastemur commented on #906
@liminzhu sounds great. Thanks!

[2016-05-09 19:26] obastemur opened #954 "cross-platform: Improve clang error reporting with build.sh"
At the moment, ChakraCore linux support requires a certain minimum clang version. We have a couple of command line arguments to feed build script with the clang++ and clang.

The output is not clear;
 - If the user only provides the path for cc.
 - If the clang or clang++ from path are not matching the minimum required versions.

[2016-05-09 23:34] #890 closed

[2016-05-10 00:04] #933 closed

[2016-05-10 00:49] #907 closed

[2016-05-10 18:58] dilijev opened #962 "Copyright Check takes a diff of the current branch versus master instead of the target branch."
It is still correct in the sense that it will get at least all of the files edited by a pull request, but it is checking a much larger set of files than necessary. Would be nice to clean this up.

[2016-05-10 18:59] dilijev commented on #660
Assigning this back to @Yongqu while we collect more info.

[2016-05-10 19:03] Yongqu commented on #660
We should allow value ref for APIs like JsGetProperty, in the effect that JsGetProperty(_valueRef_for_42) should work by checking up the prototype chain of number. Doesn't need to be in release 1.2 though

[2016-05-10 19:53] jianchun opened #963 "xplat: examine _WIN64, should it be _M_X64?"
e.g. CallInfo.h, is following "unused" patch applicable to xplat x64?

[code]

[2016-05-10 23:21] dilijev opened #964 "[Test failure] [Daily] [DisableJIT] [All Branches] testSimdManyVars.js b95.js b108.js failing in Daily DisableJIT builds."
See daily build statuses for all branches here:
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#disablejit-builds
https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28release-1.2%29#disablejit-builds
https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28linux%29#disablejit-builds

See logs for example:
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/d

[2016-05-11 00:39] Krovatkin commented on #964
@dilijev I think I might be missing a **require_backend** attribute on those tests, but let me double check.  fyi @nmostafa

[2016-05-11 00:55] Krovatkin commented on #964
FYI: @dilijev I created a PR in intel's repo for @nmostafa to review a fix. This way Nagy and I can have a quick internal discussion on the fix and as soon as we decide its in a good enough shape I'll create a PR in msft repo.

[2016-05-11 14:44] obastemur commented on #963
How about `_M_X64_OR_ARM64` instead of `_M_X64` ? Especially for the sample you've shared.

[2016-05-11 17:09] jianchun commented on #963
Yes, that may be better. Or maybe a new symbol `BIT64`.

[2016-05-11 17:48] #535 closed

[2016-05-11 17:50] abchatra commented on #944
@nmostafa Any progress on this issue?

[2016-05-11 17:52] nmostafa commented on #944
Yes, fixed in https://github.com/Microsoft/ChakraCore/pull/941. Closing it.

[2016-05-11 17:52] #944 closed

[2016-05-11 18:28] liminzhu commented on #906
@obastemur Just add the guide [there] (https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore#linux) with slight tweaks of words.

[2016-05-11 19:33] #964 closed

[2016-05-11 23:12] bterlson opened #971 "Various Function constructors should allow single-line comments"
[code]

Expected: returns 1
Actual: SyntaxError

Per 11.4, comments are treated like whitespace and are ignored.

In order to construct something that can toString properly, we can align with the stage 3 [F.p.toString proposal](https://tc39.github.io/Function-prototype-toString-revision/#sec-createdynamicfunction). To wit:
[code]

[2016-05-12 00:14] ianwjhalliday commented on #505
Fixed by #936

[2016-05-12 00:14] #505 closed

[2016-05-12 01:09] michaelficarra commented on #971
* The actual `toString` output for that function would have a line feed before the final `}`.
* The single line comment will affect all following parameters since they are parsed together after being joined by `,`, so you might want to have a test that `Function('a//', 'b', 'b')()` throws a ReferenceError.

[2016-05-12 01:27] shicks opened #974 "Crash when a class closes over lexically-bound variables inside an eval"
Steps to reproduce in Edge 13:

Point browser to a page serving the following JS file:
[code]

This will cause the page to fail to load, immediately reloading the HTML and JS from the server a second time, and then giving up with a message of "This page is having a problem loading.  We tried to load this page for you a few times ...".

The crash can be averted in any of several different ways:

1.

[2016-05-12 02:32] ianwjhalliday commented on #974
Thanks for reporting this bug @shicks

It has already been fixed in ChakraCore and will be included in the next release of Edge.  If I am not mistaken it should also be fixed in the latest preview builds of Windows too.

[2016-05-12 02:33] #974 closed

[2016-05-12 20:03] bterlson commented on #971
@michaelficarra thanks for the additional pointers!

Just to confirm, is it intentional that there is no linebreak after the opening curly of the function body? Seems like every implementation adds a line break there.

[2016-05-12 20:46] #940 closed

[2016-05-14 04:51] #971 closed

[2016-05-14 23:51] rcosnita opened #989 "Chakra embedded in UWP application fails WAC tool"
I tried to embed Chakra into UWP by following the steps from https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore guide. Everything works fine the appx fails WAC certification for Release_x64 configuration (supported apis). Isn't chakra supposed to run in UWP store application? Below you can find all not supported api reported by WAC tool:

API _CxxThrowException in vcruntime140.dll i

[2016-05-16 13:34] rcosnita commented on #989
I apologise for it. I used the Debug configuration instead of Release configuration.

[2016-05-16 13:34] #989 closed

[2016-05-16 20:00] dilijev commented on #962
@mmitche @tcare Do you know if there's any way to detect the base branch of a commit given only that commit hash (which I think is all that is available to Jenkins -- @mmitche correct me if I'm wrong).

I'm thinking this might actually be an impossible issue to solve.

[2016-05-16 20:48] mmitche commented on #962
@dilijev Actually a ton of other stuff is available:http://dotnet-ci.cloudapp.net/job/dotnet_corefx/job/master/job/ubuntu14.04_release_prtest/1194/parameters/

All those are available in the environment while running a task.

[2016-05-16 20:51] dilijev commented on #962
@mmitche Excellent! Just what I was looking for!

[2016-05-16 20:51] dilijev commented on #962
@mmitche Are those available in both windows and linux environment variables?

[2016-05-16 20:52] dilijev commented on #962
Note to self: the ones I will most likely be interested in are:
ghprbTargetBranch
ghprbSourceBranch

[2016-05-16 20:54] mmitche commented on #962
Yes, %ghprbTargetBranch% in batch, and $ghprbTargetBranch in shell.  Make sure you escape the $ in the shell steps (in groovy) so that it will resolve at run-time and not generation time

[2016-05-16 21:47] dilijev commented on #962
@mmitche Yep, thanks for the reminder -- that's always a good way to trip things up.

[2016-05-18 14:28] bmeck opened #1002 "Contact point for Node ES module interop"
I am running the Node interop with ES modules in https://github.com/nodejs/node-eps/blob/master/002-es6-modules.md . I'm trying to find a good way to contact Yong Qu (or maybe someone else?) about some gotchas, but could not find social media or email location.

In particular getters and non-object values:

[code]

[code]

and

[code]

[code]

Have had a some calls w/ TC39/Node/WHATWG, now contact

[2016-05-18 14:56] bterlson commented on #1002
If you'd prefer email probably easiest if you email me and I'll forward as necessary!

[2016-05-18 15:00] #1002 closed

[2016-05-18 22:51] dilijev commented on #85
Has anyone tried the packages? Any general asks?

[2016-05-19 17:10] Quethrosar opened #1011 "ES6 constructor erring with object doesn't support this action"
the following code is throwing     object doesn't support this action on the this.Key.
it runs fine for about 30 seconds and then starts erring. this error only happens in Edge.

class Value {
        constructor(key, data) {
            this.Key = key;
            this.Data = data;
        }
    }

[2016-05-19 17:51] abchatra commented on #1011
@Quethrosar What version of Edge are you using?

[2016-05-19 19:49] Quethrosar commented on #1011
25.10586.0.0
13.10586

I am going to attach the script that I have issues with.

[jquery.signalR-2.2.0.zip](https://github.com/Microsoft/ChakraCore/files/273357/jquery.signalR-2.2.0.zip)

[2016-05-19 19:54] Quethrosar commented on #1011
another hint is if I compile the typescript using ES3 it runs but edge will hit memory in the GB range overnight, where chrome will be 90mb. the memory profiler shows no leaks at only using a few MB.

[2016-05-19 21:48] abchatra commented on #1011
@Quethrosar is there a glue html code which can be run on the browser to reproduce this problem using the script you attached here? My hunch is this problem is already fixed in later versions of Edge, but would love to validate the problem go away.

[2016-05-19 21:49] abchatra commented on #1011
Small test case would be awesome

[2016-05-20 16:10] nlkluth opened #1013 "Intl.DateTimeFormat string comparison"
The resulting string from Intl.DateTimeFormat doesn't equal the string literal that I expect. This has some resulting different behavior from other browsers if I try to do any validation against the string. I know it's a new specification and I can polyfill it to get the behavior I want, but thought I should report it in case it's not on anyone's radar.

![capture](https://cloud.githubusercontent.

[2016-05-20 17:13] suwc opened #1014 "Method defined in object literal should not have 'prototype' property"
var o = {get m() {}};
var f = Object.getOwnPropertyDescriptor(o, 'm').get;
console.log(f.hasOwnProperty('prototype'));  // expected: false, actual: true

[2016-05-21 10:02] goyakin commented on #1013
This is a duplicate of #599. Chakra's Intl formatting functions put [LEFT-TO-RIGHT MARK (U+200E)](http://www.fileformat.info/info/unicode/char/200e/index.htm) around punctuation marks and that's why the resulting string doesn't match the string literal.

[2016-05-21 11:07] bterlson commented on #1013
Closing as duplicate.

[2016-05-21 11:07] #1013 closed

[2016-05-21 15:59] bterlson commented on #640
To be clear, this is not just a bug with async functions. We are missing early errors for such things as:

[code]

Expected: early ReferenceError
Actual: no error

[2016-05-21 20:29] indutny opened #1020 "bn.js performance issues"
It looks like [bn.js](https://github.com/indutny/bn.js) is running 6x slower on a Chakra than it does on V8, or IonMonkey (or whatever it is called now). My suspicion is that it may be related to the integer/double representations and conversions between them.

See: https://github.com/indutny/bn.js/issues/146

[2016-05-23 17:19] ianwjhalliday commented on #640
@pleath tried making this an early error iirc but ran into problems? And Chrome tried too but also had problems?

[2016-05-23 17:56] pleath commented on #640
We used to have an incomplete/inconsistent set of assignments to invalid LHS's that would result in early error. I completed the set, but we had compat issues, particularly with foo() = x. Maybe the best we can do right now is throw early error on all invalid LHS *except* function call result.

[2016-05-23 18:21] suwc commented on #1014
https://github.com/Microsoft/ChakraCore/pull/1027

[2016-05-23 21:45] #1014 closed

[2016-05-24 06:23] Havret opened #1033 "AccessViolationException"
Hi!

When I try recreate Chakra Runtime, create Chakra Context and acquire Context Scope several times I got the following exception when trying to call a function. Here is additional message:

I am using the latest Chakra version with release build (x64).

[2016-05-24 09:15] Havret commented on #1033
Ok, I managed to resolve the problem. It seems when you are passing arguments to the function you have to call AddRef() on each JavaScriptValue, otherwise they could be collected before the function is actually called. After execution you can release them. I think it is quite important and it should be added to the documentation.

 Here you have sample code snippets:

[code]

[code]

[2016-05-25 16:37] Shiney commented on #65
Is this still something that needs to be done? I'd like to give it a go if it is.

[2016-05-25 20:53] Cellule opened #1042 "Wasm interpreter for unaligned memory load"
In the official test suite address.wast the unaligned memory load give bad results.
We didn't want to regress asm.js which doesn't allow unaligned load so we will have to create a different path for wasm that needs to check the alignment.

[2016-05-26 01:53] MikeHolman commented on #1020
From the linked thread, it looks like this is an issue in IE but not Edge? We might be able to help you find a workaround if the perf issue is blocking, but codebases are very different now between Edge and IE, so backporting perf optimizations isn't really feasible.

[2016-05-26 02:42] indutny commented on #1020
@MikeHolman you're absolutely right! Sorry, I forgot to update this issue. Any help would be very appreciated, it would be great to help @bergr01 mitigate this!

[2016-05-26 04:05] bergr01 commented on #1020
@MikeHolman @indutny

Perhaps I spoke too soon when I said Edge wasn't having this issue.
I finally got the Edge-based login into my app working (this was pending a fix to a separate third party library), and now I can see that the call to mR.redPow(obj.privateExponent) from indutny/bn.js  takes 39 (yes, you've read that correctly, 39) seconds during the login process. The snippet of our JS code i

[2016-05-26 12:36] claudepache opened #1048 "Own "arguments" and "caller" properties of non-strict functions don't observe the invariability of nonconfigurable, nonwritable properties"
Only tested in a stable Edge release. Please confirm.

According to [ES6 6.7.1.3] Invariants of the Essential Internal Methods:

<blockquote>
     If a property P is described as a data property with Desc.[[Value]] equal to v and Desc.[[Writable]] and Desc.[[Configurable]] are both false, then the SameValue must be returned for the Desc.[[Value]] attribute of the property on all future calls to [[

[2016-05-26 20:11] MikeHolman commented on #1020
Hmm, ok. I don't think I'm seeing the same perf that you are. I tried doing some profiling with your original benchmark, and I see most time is in bigMulTo, likely exasperated by the mul in the inner loop overflowing int32, causing us to fall back to float math. I spent a bit of time trying to optimize this, but wasn't able to get anything faster than the current implementation. However, I suspect

[2016-05-26 20:19] indutny commented on #1020
@MikeHolman don't have any explanation for numbers, but I can explain what happens with floats.

bn.js stores bignums using 26-bit limbs, because:

* They can be multiplied in JS without the loss of precision
* It is a compact way to store big numbers

[2016-05-26 20:32] akroshg commented on #1020
I believe the slowness happened due to F12 is opened. @indutny could you verify the scenario by clicking the **'Disconnect debugger'** button under the **Debug** tab of F12?

[2016-05-26 20:40] indutny commented on #1020
@akroshg I'd love to, but I don't have any Windows machine at hand.

[2016-05-26 20:50] bergr01 commented on #1020
Sorry folks, looks like F12 developer tools being open is the culprit for me too - lesson learned! Chrome doesn't seem to have this sort of deterioration when its F12 console is open. With developer console closed, the login for me is now not taking anywhere near as long as the 30+ seconds I mentioned earlier!

[2016-05-26 21:04] liminzhu commented on #1033
Thanks for the suggestion @Havret . You're pretty much right - you need to pin down ```JavaScriptValue```s with ```JsAddRef``` if these values are no longer on the stack. It's also important to release these objects after you're done so that GC can actually collect them, as you've shown in the second snippet. I'll look into adding documentation at a proper location and will post link here when I'm

[2016-05-27 00:34] akroshg commented on #1020
@bergr01 as @MikeHolman mentioned there are few optimizations disabled when F12 is opened. However you can still have the F12 opened and not go to debug mode. As I mentioned earlier, click on the **Disconnect Debugger** button under **Debug** tab of F12 - this will not degrade the performance.
@bergr01 will you close this issue if there is no further action needed?

[2016-05-27 00:56] bergr01 commented on #1020
Happy for the issue to be closed, not sure if I have the privileges - @indutny  can you please do the honours?

[2016-05-27 00:59] indutny commented on #1020
Thank you everyone!

[2016-05-27 00:59] #1020 closed

[2016-05-27 01:32] abchatra commented on #65
FYI - @MikeHolman

Yes this still needs to be done. In first cut, you could add a configuration key in [configflagslist.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/ConfigFlagsList.h) to disable change heap api and return false from [here](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Language/AsmJsModule.cpp#L1089) based on that key. By default this key will

[2016-05-27 20:43] digitalinfinity opened #1058 "Fix use of IsInAssert on Linux"
IsInAssert is supposed to be a thread static variable but on Linux it's marked as a global static variable. It's use needs to be examined and fixed up accordingly.

[2016-05-27 20:44] digitalinfinity opened #1059 "Fix hardcoding of max process address space on Linux"
The max address space for a process is hardcoded on Linux. We should find a better mechanism of obtaining this information so that the GC can function correctly.

[2016-05-28 13:21] Shiney opened #1062 "Assertion failure in tests when changeHeap is not correctly implemented"
In https://github.com/Shiney/ChakraCore/tree/AsmJsChangeHeapAssertionFailure

I have added a new version of the asmjs test relink.js with a small change to one of the constants to make it not match the expected change heap function.

https://github.com/Shiney/ChakraCore/commit/3d7ee3e40a5645b174cd902448e7cf62f258dfa3

https://github.com/Shiney/ChakraCore/blob/AsmJsChangeHeapAssertionFailure/test/A

[2016-05-31 07:59] kunalspathak opened #1064 "Expose JSRT Apis to control ES6 experimental features"
Currently, [JsRuntimeAttributeEnableExperimentalFeatures](https://github.com/Microsoft/ChakraCore/blob/release/1.2/lib/Jsrt/ChakraCommon.h#L311) flag is the only way to turn ON all the ES6 experimental features. Instead have a JSRT API / enum to expose more flags that user can use to control which experimental features should be turned ON/OFF (similar to `--harmony-*` that v8 has).

[2016-05-31 07:59] kunalspathak commented on #1064
@liminzhu - FYI

[2016-05-31 21:43] ianwjhalliday commented on #1064
Such an API would require us to forever support feature flags.  Something to carefully consider since this sounds like a fine-grained doc modes feature and could potentially burden us at some point in the future.

Are there clear merits to having an API with such fine grained control?

[2016-05-31 21:51] jianchun commented on #1064
What if we accept string based hints? Discard unrecognized ones. Less robust but possible to maintain.

[2016-05-31 21:53] liminzhu commented on #1033
Actually we already had it documented [here](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#memory-management). Closing the issue.

[2016-05-31 21:53] #1033 closed

[2016-05-31 22:07] liminzhu commented on #1064
Interesting idea @kunalspathak. I'd like to add on @ianwjhalliday 's comment though and ask about the merits of having the ability to handpick experimental features to turn on. Seems to me that in most cases you would want none/all of the experimental features on.

[2016-05-31 22:19] nojvek opened #1068 "Wiki needs a help page on how to run tests."
Thanks for Ian's help on getting me unblocked, but for outsiders a how to run tests page would be very helpful.

[2016-05-31 22:36] ianwjhalliday commented on #1068
@nojvek pointed out it would be useful to have information such as:

- how tests are organized by `rlexedirs.xml` and `rlexe.xml` files
- adding a new test
- clarifying that *.js files do not automatically turn into tests
- baselines vs no baselines vs exit code check only
- where rl log files go
- techniques for capturing output from and iterating quickly on failing tests

[2016-05-31 22:52] kunalspathak commented on #1064
@ianwjhalliday , I agree that this will be similar to fine-grained doc modes, but in scenarios that I recently faced, we need to have some handling to turn off specific experimental ES6 feature based on behavior of host. I have often seen node scenarios expose ES6 features like `Proxy`, `SIMD` on `global` object only if specific flags are passed to it.

We can have an ability using some kind of st

[2016-06-01 02:46] snowmantw commented on #757
Is it possible to add a check statement in the loop, while it sets `kValue` via `SetArrayLikeObjects`? I mean:

https://github.com/Microsoft/ChakraCore/blob/2ba5ccbb37c6f7e55fdf1870f80379857ae28b20/lib/Runtime/Library/JavascriptArray.cpp#L9836

But I don't know if it's a good idea to convert the `Var` to an object then get the `configurable` via `PropertyDescriptor`. It is a very indirect casting.

[2016-06-01 09:36] takahiroyoshi opened #1071 "In Windows 10 (build 14332) window.clipboardData.setData does not work as expected."
This is the story of IE 11 on Windows 10(build 14332), IE 11 does not show any prompt when I use window.clipboardData.setData even though the settings in
“Allow Programmatic clipboard access” is "prompt".

The test page is:
http://www.broadband-xp.com/test/ie11/clipboard.html

If I change the settings in “Allow Programmatic clipboard access” from the default value of "prompt" to "enabled", it work

[2016-06-01 17:43] dilijev commented on #1071
Works in IE 11 on 10586 - I would expect that hasn't regressed in a later build since we only do servicing for IE 11 and not updates.

Assuming that this bug is targeting Edge (which hosts the current version of Chakra), I will add that it does not seem to work as intended in Chrome either. I wonder if the spec semantics have changed and the code shouldn't work as-is and just happens to work in IE

[2016-06-01 17:49] dilijev commented on #1068
Good plan. This issue would be a good opportunity for us to use issues and a PR on the wiki repo http://github.com/Microsoft/ChakraCore-wiki to review the addition. :)

[2016-06-02 00:55] jimmcslim commented on #85
I have tried to build a simple HelloWorld console app, but adding the Nuget package fails:

Could not install package 'Microsoft.ChakraCore 1.2.4.53527-preview'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.2', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, co

[2016-06-02 05:17] takahiroyoshi commented on #1071
That's right. It works in IE on Build 10586. So it is a regression, I believe, even though I do not know why the regression happens. Anyway, the prompt is surpressed, and never shown to the user in spite of IE's settings in Build 14332.

[2016-06-02 16:36] xanlpz commented on #344
It seems the code already does what is described here (NTCurrentTeb on Windows, GetCurrentThreadStackLimits with pthread_attr_get_np on Linux). Is anything missing?

[2016-06-02 17:33] dilijev commented on #1071
Thanks for confirming.

IE is a different product than Edge, so this issue wouldn't be considered a regression unless it worked in a previous version of Edge (it is possible this code never worked in Edge as you intended; it also does not work in Chrome).

[2016-06-02 17:36] dilijev commented on #85
@jimmcslim Are you trying to build a .NET app? The contents of the NuGet package are intended for Native targets. It is also possible that in the current configuration, the NuGet package is simply a method for distributing the binaries and that NuGet will not automatically do the right thing.

Contents of the package at the moment:

[code]

[2016-06-02 21:51] takahiroyoshi commented on #1071
I know that IE is a different product than Edge.

First I try to report this bug at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/
But I was suggested to report this bug here.

If this is not an appropriate forum to post, please let me know.

I know that this code never worked in Microsoft Edge.

[2016-06-02 22:14] dilijev commented on #1071
@takahiroyoshi Okay, I'm glad we're on the same page. Thanks for reporting this to us. We will triage this and figure out how to route the issue in case it is not a problem in the ChakraCore engine.

[2016-06-03 00:21] jimmcslim commented on #85
Yes was trying to build a .NET app. Is the intention for this Nuget package to ultimately work for .Net apps, e.g. also include the JSRT bindings for .Net and I'm off to the races adding JavaScript interop capabilities to my applications? Or should I be using packages like JavaScript Engine Switcher for .Net - Core and JavaScript Engine Switcher for .Net - Chakra?

[2016-06-03 01:30] resnyanskiy commented on #85
@dilijev I thought NuGet package of ChakraCore will be for .net apps or even for .net core apps. Otherwise it looks a bit useless.

[2016-06-03 07:41] dilijev commented on #85
@resnyanskiy Thanks for the feedback. We will have to look more deeply into supporting .NET targets in the NuGet package (/cc @liminzhu). Since we're a native project it's more straightforward to support a Native target for the moment. (NuGet has semantics for Native targets [reference linked above], but we are not yet implementing that semantic package layout.)

Since NuGet is still a good platfo

[2016-06-03 07:47] iskiselev opened #1083 "Checking arguments.length slow"
Checking arguments.length slow with Chakra. Here is sample page:
[code]
My results:
- Edge: ~380ms
- Chrome: ~20ms
- Firefox: ~3ms

[2016-06-03 07:55] kg commented on #1083
Maybe do something to make sure the loop isn't being optimized out? Like return a result from ```one``` and ```two```, then sum the results up and check them at the end. That way the times are at least comparable.

[2016-06-03 08:34] iskiselev commented on #1083
Updated test:
[code]
My results:

Edge: ~400ms
Chrome: ~80ms or ~270ms
Firefox: ~17ms

[2016-06-03 14:32] bterlson commented on #1083
Curious how adding a "use strict" to the top of your script will impact this. Strict mode arguments object is much more lightweight.

[2016-06-03 17:35] iskiselev commented on #1083
@bterlson, thank you. It was last piece of issue in sq/JSIL#978. In strict mode it is totally awful:
Edge: __~1380ms__
Chrome: ~65ms or ~250ms
Firefox: ~17ms

[2016-06-03 18:33] satheeshravi commented on #1083
This issue will be fixed in https://github.com/Microsoft/ChakraCore/pull/1023. This is a WIP item.

[2016-06-06 18:43] ianwjhalliday commented on #1083
Curious that strict mode is even worse

[2016-06-06 18:50] akroshg commented on #1083
@ianwjhalliday it seems we create the actual arguments object in a normal path and later we unmap them. Look for `ConvertToUnmappedArguments`

[2016-06-06 21:17] #804 closed

[2016-06-06 21:48] pleath commented on #1083
Yes, that’s a known badness. We do want to fix it, for this and other reasons.

--Paul

From: Akrosh Gandhi [mailto:notifications@github.com]
Sent: Monday, June 6, 2016 11:51 AM
To: Microsoft/ChakraCore <ChakraCore@noreply.github.com>
Subject: Re: [Microsoft/ChakraCore] Checking arguments.length slow (#1083)

@ianwjhalliday<https://github.com/ianwjhalliday> it seems we create the actual arguments

[2016-06-06 23:43] ianwjhalliday commented on #115
@dilijev do we think this issue has gone away now that it has been a few months?

[2016-06-06 23:45] ianwjhalliday commented on #571
@akroshg you might want to incorporate this idea when you tackle iterator closing in the built-in constructor APIs

[2016-06-07 02:01] dilijev commented on #115
@ianwjhalliday Yeah I haven't seen the issue in a while. We can reopen this bug if it comes back.

[2016-06-07 02:01] #115 closed

[2016-06-07 17:44] obastemur opened #1098 "Handling UTF-8 conversion/normalization internally"
Source buffer may have a broken/unsupported unicode entry that we could normalize / convert into UTF-8. At the moment, this is considered as a consumer problem rather than a feature that ChakraCore provides cross platform.

[2016-06-07 19:23] digitalinfinity commented on #1098
@yongqu @liminzhu  @curtisman @abchatra thoughts? The current model we have is, we have two APIs supported in Jsrt- either you pass in a valid UTF8 string, or a valid UTF16-LE string- the host is responsible for any conversions from other encodings into one of these encodings.
@obastemur points out that v8 is more generous in terms of the utf8 inputs they accept- for example, if a BOM is in the mi

[2016-06-08 00:42] abchatra commented on #1098
+ @bterlson

[2016-06-08 06:53] vumanimdabe opened #1100 "SCRIPT70: Permission denied"
Hi when I have an web app which calls js scripts on different domains when i run the app in doesn't load any of those scripts when I use Microsoft Edge debug tools, it shows "SCRIPT70: Permission denied" for all unloaded scripts. FYI this only happens on Microsoft Edge 25.10586.0.0
Thanks.

[2016-06-08 22:27] dilijev commented on #1100
Can you provide a simplified example project? Also this sounds like it might be an Edge issue, not a Chakra issue.

[2016-06-08 22:33] dilijev commented on #1071
Assigning @abchatra for triage.

[2016-06-09 02:16] obastemur commented on #1098
@digitalinfinity has already briefly explained what we had discussed prior to sharing this issue on Github.

Couple of extra pointers;

- We are/were unable to run one of the test cases or match the outputs of others on posix. (Aside from CRLF issues). Indeed, re-formatting them etc. should solve the issue but IMO it is not that developer friendly.

 - JSRT asks for wchar_t for some of the API whi

[2016-06-09 05:35] Cellule opened #1102 "WScript LoadScript memory leak"
At https://github.com/Microsoft/ChakraCore/blob/master/bin/ch/WScriptJsrt.cpp#L271
We preallocate `fullPathNarrow` to a buffer with `_MAX_PATH`, however the method `NarrowStringToWideDynamic` does a malloc and replaces that buffer.
We need to free the buffer returned by the helper call.

Also, we should check if the helper failed ie: `IfFailGo(Helpers::NarrowStringToWideDynamic(fullPathNarrow, &fu

[2016-06-09 06:36] Cellule opened #1103 "WASM copysign fix build"
I integrated master last night to the WebAssembly branch.
I had to comment out the copysign implementation (WasmMath.inl) because it doesn't compile in ChakraFull.
Need to investigate how to make it build in both solution.

[2016-06-09 06:38] vumanimdabe commented on #1100
Hi there, Thanks for the reply. The site opens using flash, after which it integrates the [nemid ](https://www.nemid.nu/dk-en/)login window inside an iframe for authentication. During the process it accesses scripts located at different domains some mine and other belong to the nemid client. Everything seems to work perfectly across other browsers except for Edge, when i debug using dev tools on E

[2016-06-09 15:57] BurtHarris opened #1106 "let vs var and closures"
In Chrome, using V8, using a **let** rather than **var** to declare a variable avoids a JavaScript closure behavior that often surprises developers.   In browsers based on Chakra, this distinction between **let** and **var** does not seem to apply.

The following fiddle demonstrates: http://jsfiddle.net/rmXcF/4/.   In Chrome, clicking on the red "3" div alerts with the number 3, but in IE and edge

[2016-06-09 16:55] bterlson commented on #1106
You are likely testing with an older version of Edge. This is fixed in the latest version (v. 25 at least).

[2016-06-09 16:58] jianchun commented on #1102
It is fixed in "Linux" branch. No more "fullPath": https://github.com/Microsoft/ChakraCore/blob/linux/bin/ch/WScriptJsrt.cpp#L257

[2016-06-09 18:05] Cellule commented on #1102
Alright thanks, I'll consider this closed then assuming we'll merge back to master sometime soon

[2016-06-09 18:05] #1102 closed

[2016-06-09 19:59] dilijev commented on #1100
Could you provide a set of source code files, a URL, and/or screenshots? Please detail expected versus actual behavior for the specific case that the source code represents.

[2016-06-09 20:00] dilijev commented on #1106
Tagged as fixed and will close soon unless @BurtHarris reconfirms that this is a current issue.

[2016-06-09 20:04] dilijev commented on #1071
@bterlson Do you have any context on the behavior of window.clipboardData.setData ?

[2016-06-09 20:46] Cellule opened #1109 "Wasm single eval stack"
Instead of having a stack of stack for the eval stack, change it to a single stack with delimiter between nested blocks

[2016-06-09 20:48] Cellule opened #1110 "Wasm block yielding"
Capture what is the next tmp register for all types when entering the block (do not acquire)
At the end of the block, if we have to yield something, move it to the corresponding location, release everything then yield that location.

[2016-06-09 20:50] Cellule opened #1111 "Wasm br yield"
Depends on #1110
Capture the next tmp locations when entering a block in a stack
When doing a BR of that block, move the yielding value to the location and give that block the corresponding type.
This way a block will have a type and you can type check with every br yields and also the last block statement

[2016-06-09 20:54] Cellule opened #1112 "Wasm unreachable EmitInfo"
Create a new type Unreachable for EmitInfo.
Unreachable is valid for typecheck.
If 1 statement is unreachable in a block all the following statement has to be unreachable (not really important at first, shouldn't happen in real code)

Also, this will allow to correctly invalidate the following
[code]

[2016-06-09 21:45] dilijev commented on #374
Starting work on this as a priority starting today.

[2016-06-09 22:17] bterlson commented on #1071
All I know is that it's a nascent API that Edge doesn't support. It should continue to work in IE, however, so if it is broken that is definitely an issue. However it seems very unlikely to be a chakra issue. @takahiroyoshi can you link to the connect bug you filed? I'm curious if whoever directed you here had some thoughts on why it could be a Chakra issue.

[2016-06-09 23:16] takahiroyoshi commented on #1071
Actually I have never filed it. But when I tried to post the bug at
https://developer.microsoft.com/ja-jp/microsoft-edge/platform/issues/new/
and select "Javascript Language/Chakra" as the Category,
both the title field and "steps to reproduce the issue" filed are disabled.
And I see the link to this github site.

![report_ie11_bug](https://cloud.githubusercontent.com/assets/3334552/15949510/13bc7

[2016-06-10 01:44] abchatra commented on #1071
@takahiroyoshi window.clipboard is a DOM feature. Select HTML/DOM: Events ... as the category. This issue does not belong to Chakra

[2016-06-10 01:44] #1071 closed

[2016-06-10 02:01] takahiroyoshi commented on #1071
Ok. Thank you for pointing me to the right place.
I re-posted this issue at
https://developer.microsoft.com/ja-jp/microsoft-edge/platform/issues/7844941/

Thank you all.

[2016-06-10 04:30] commonlisp commented on #1103
I actually do have a fix for this, but it seemed kind of ad hoc and temporary. Although Full does seem to be missing copysign, it has the earlier _copysign runtime function, which will work for both. This doesn't feel like the right fix though. We should figure out why the runtimes differ.

[2016-06-10 09:21] xanlpz commented on #1059
Should we close this now? I don't think we can do much better on Linux.

[2016-06-10 15:23] commonlisp commented on #1103
PR #1120 is a potential fix for the time being until CRT is updated/fixed.

[2016-06-10 15:28] commonlisp commented on #1112
There may be an overlap between this issue and an outstanding issue of type checking expressions (c.f. closed PR #735) such as xor (i32.const 1) (return (f32.const 0.0)) and if-else expressions with non-yielding control flow and yielding expressions. We have a pending fix for that which I'll rebase on the current WebAssembly.

[2016-06-10 17:56] #1106 closed

[2016-06-10 20:32] ljharb commented on #254
This is now stage 4, and Edge is the last browser to implement this method. It'd be great if someone could jump on it :-)

[2016-06-10 20:37] caitp commented on #254
I can send a patch, but it would be great for someone else to take it. Maybe @thejoshwolfe would be interested.

[2016-06-11 01:31] Cellule opened #1127 "Wasm todo"
This is a list of thing we need to implement for Wasm MVP
- [x] Br yielding values #1111
- [x] I32Popcnt
- [x] F32Min/Max #659
- [x] Trunc JIT
- [x] Nearest JIT
- [x] Int64 (@Cellule #1806)
- [x] Unreachable operator
- [x] Unreachable state
- [ ] Missing OpCodes
  - [x] current_memory (0x3b)
  - [ ] grow_memory (0x39) (@MikeHolman)
  - [x] f64.copysign (0x91)
  - [ ] i32.trunc_u/f32 (0x9f) (@Krova

[2016-06-11 02:30] BurtHarris commented on #1106
The version of edge I repro this on is 52.10586.0.0

[2016-06-12 06:45] kunalspathak opened #1128 "function.name doesn't return name if function is not defer parsed"
[code]

Above test case prints function name only if function is defer parsed.

[code]

[2016-06-12 06:45] kunalspathak commented on #1128
FYI - @pleath , @akroshg , @abchatra

[2016-06-12 18:57] possumdelight opened #1129 "Javascript keydown events not firing after .fadein()"
After fading in a modal div, the document looses focus causing keydown and keyup events to no longer fire.  This behavior is specific to Edge.  IE, Chrome, and Firefox do not have this problem.

They key events begin firing again if you click somewhere on the modal div or page, or if you use $(document).focus(); to reset focus on the page.

Some example code from my project:
----------------------

[2016-06-12 20:25] DigiTec commented on #1129
Hum, I haven't yet tried to reproduce the issue you are seeing, but this wouldn't fall under Chakra unfortunately. It would, however, fall into the Microsoft Edge issue tracker.

https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/

Would you mind reopening your issue there? Also, if it is possible to supply a more complete repro of some sort that would be super helpful. Once you

[2016-06-13 05:51] possumdelight commented on #1129
Hmm.  That's how i would up here.  When i clicked on the issue type as javascript, it forced me here.  I'll look again.

[2016-06-13 05:55] possumdelight commented on #1129
Yea.  If you try and submit an issue here:
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/new/

It says "For JavaScript Language / Chakra issues, please use Chakra's GitHub."  and will not allow you to go further.

[2016-06-13 18:22] ianwjhalliday commented on #1106
Thanks for reporting @BurtHarris.  I fixed this back in December IIRC, so indeed Windows 10 Nov update does not include the fix and has the bug.  This should be fixed in latest preview builds of Windows 10, and the next public release of Windows 10.

[2016-06-13 18:33] ianwjhalliday commented on #1129
That text is confusing.  It should clarify that DOM API issues should be filed under HTML/DOM and javascript language semantics and built-in API issues should be filed here on ChakraCore.

@DigiTec @bterlson do you guys know how we can get that text changed?

[2016-06-13 18:39] dilijev commented on #1106
So that everyone is on the same page:

Version 25.10586.0.0 is the version of Edge released with Windows 10 November Update (i.e. 1511 Build 10586.*). If you use the run box (WinKey+R) and run `winver` you will see something like the following if you're running the November Update:

![image](https://cloud.githubusercontent.com/assets/494055/16018819/072b5a18-315b-11e6-91e2-643e032a7240.png)

Not s

[2016-06-13 18:50] dilijev commented on #1129
Yes, @possumdelight please try that form again and try to file the issue under HTML/DOM

[2016-06-13 18:54] dilijev commented on #1129
@possumdelight in your bug report to them, also include additional info about what version of Windows 10 you're using (is it an insider build? what build number?) You can start `cmd` and read the header message or use the run box to run `winver` to find out the OS build number.

[2016-06-13 20:22] possumdelight commented on #1129
Thank you for the responses.  I will hop back over there and do it now.

[2016-06-13 21:43] dilijev commented on #374
@bterlson Maybe we're reading the spec incorrectly but @curtisman and I were going through the spec and it seems to us that for the original test case you included in the issue description (where the TypedArray is in the prototype chain), should actually continue walking the prototype chain and SHOULD result in `100/true`, whereas the case I posted later (calling get/has on the TypedArray directly

[2016-06-13 22:20] dilijev commented on #374
@bterlson @ianwjhalliday - ignore previous comment. A closer look showed that we were mistaken (cc @curtisman @Yongqu).

Fix in progress.

[2016-06-13 22:23] #1129 closed

[2016-06-13 22:24] dilijev commented on #1129
Thanks @possumdelight -- closing this issue as External.

[2016-06-14 12:51] brodybits commented on #989
I would like to see this documented. I am not sure when I would get a chance to contribute.

[2016-06-14 14:09] mathiasbynens opened #1136 "RegExp: case-insensitive matching not compatible with V8/JSC"
Chakra returns `false` for each of these tests, while V8 and JavaScriptCore return `true` for all of them:

[code]

https://mathiasbynens.be/demo/regex-i

(See also: [similar SpiderMonkey bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1280046).)

[2016-06-14 14:44] rcosnita commented on #989
@brodybits WAC tool fails only if I use the Debug configuration for my app. If I embed Chakra into an UWP app and build the release configuration everything it's fine so there is no issue.

[2016-06-14 17:50] liminzhu commented on #1127
Good list for tracking. Can we add debugging there as well?

[2016-06-14 17:56] Cellule commented on #1127
This is more to track what is missing to be spec compliant.
Debugging is, in my opinion, an extra feature that we need to look into

[2016-06-14 20:26] dilijev commented on #374
The needed fix is understood but would be a perf regression in Chakra. We will put the fix on hold until we can confirm whether this is really the desired behavior. @bterlson @curtisman

[2016-06-14 21:30] dilijev commented on #962
@mmitche I was just thinking about this and I wonder if you know offhand if there would be a problem if the $ was used in a single-quoted string, since Jenkins won't interpolate variables in single-quoted strings AFAIK?

[2016-06-14 21:32] mmitche commented on #962
@dilijev Nope it won't, so that makes it easy to do some of the shell scripting.  You can also do:

\$fooVar

[2016-06-14 21:35] dilijev commented on #1136
@bterlson for context in case there is specific text in the spec for cases like this
@digitalinfinity who was looking into unicode exceptions for cross-plat

I wonder whether the behavior has something to do with unicode text APIs on Windows in this case and whether we need to do something specific to comply with spec or cross-platform expectations.

[2016-06-14 21:36] agarwal-sandeep commented on #61
Closing as debugging APIs are now in master

[2016-06-14 21:36] #61 closed

[2016-06-14 21:42] dilijev commented on #1100
@vumanimdabe Were you by any chance redirected here after trying to file a bug at https://developer.microsoft.com/ja-jp/microsoft-edge/platform/issues/new/ which seemed to indicate that any issues with Javascript should be directed to this GitHub repo? The text there is somewhat confusing, see recently opened issues that we redirected back to that page:
https://github.com/Microsoft/ChakraCore/issu

[2016-06-14 22:06] ianwjhalliday commented on #1100
This sounds like it might be a security feature of Edge that needs to be acknowledged in the website, but I'm not deeply familiar with the web site security features of IE/Edge.  @Yongqu might know who to talk to.

[2016-06-14 22:18] dilijev commented on #1048
@claudepache is this pending spec change?

[2016-06-14 22:20] dilijev commented on #1048
@claudepache @bterlson Since many implementations differ here, and there's the ongoing discussion linked above, it's not clear what the desired/spec'd behavior should be exactly.

[2016-06-14 22:46] dilijev commented on #1048
Since it wasn't clear and I just skimmed that whole issue looking for some kind of resolution, the only relevant point is here:
https://github.com/tc39/ecma262/issues/562#issuecomment-221396833

The current implementation violates the current spec.

[2016-06-14 22:53] digitalinfinity commented on #1136
Assigning to @akroshg to investigate

[2016-06-14 23:14] dilijev commented on #1011
@Quethrosar do you have the corresponding HTML so we could verify whether this issue still exists?

[2016-06-14 23:28] obastemur commented on #1136
This looks like a duplicate of https://github.com/Microsoft/ChakraCore/issues/517 ?

[2016-06-14 23:50] dilijev commented on #1136
Looks like it. I say we dupe that one and keep this new one since it was filed by a community member, has more cases to test, Gorkem is no longer on our team, and this one has been assigned.

[2016-06-15 00:46] liminzhu commented on #1127
Yeah I agree.

[2016-06-15 06:53] vumanimdabe commented on #1100
@dilijev yes i was redirected here after trying to file a bug on Microsoft Edge, @ianwjhalliday initially I also thought this to be a security feature on Edge  because this is how the app runs

- Flash client hosts NemID in an iframe
- NemID hosts DanID in an iframe
- DanID executes some JavaScript (which works), and that cases NemID to execute some JavaScript (which fails in Edge).
**DanID/NemID*

[2016-06-16 16:06] xanlpz commented on #342
Just for the record: I did a quick implementation of this using backtrace(3) on Linux. It turns out this is not simple to test because apparently the Windows implementation just records backtraces internally in case the Windows debugger wants to show a previous stack trace of the runtime after a crash. Since to my knowledge gdb does not allow this, and we don't need any extra support to show the n

[2016-06-16 16:41] Yongqu commented on #1100
Hi @vumanimdabe Thanks for the description, but unfortunately it is hard to tell what's wrong from this description. having a repro would be really nice. Is this a regression from IE? Does your scenario works in IE11? Please note that IE/edge does not support CORS script element at this time, and without a repro it is hard for me to tell what is wrong.
Can you share the url for your Microsoft Edge

[2016-06-17 03:04] BurtHarris commented on #1106
Your are welcome.  I trust you're right that it's fixed in pre-release, but the version number situation has gotten really out-of-hand, making words like "current" quite ambiguous.      The old RAID based three-state model of bugs being OPEN, RESOLVED, or CLOSED is really not enough when something has been open-sourced.   Seems like a state of FIXED (or similar) needs to be inserted before CLOSED.

[2016-06-17 17:59] akroshg commented on #1128
-forcedeferparse is incorrect. https://tc39.github.io/ecma262/#sec-assignment-operators-runtime-semantics-evaluation
We should assign the name when the LHS is identifier ref.

[2016-06-17 22:53] iskiselev opened #1153 "Function invocation slow when stored by run-time calculated key"
I'm working on sq/JSIL#993 and try to find a way for fast invocation of method stored in object by run-time calculated key.  I've write some tests to found a way for finding proper JS form, and looks like Edge works much slower than other browsers. Please see my results in table https://github.com/sq/JSIL/pull/993#issuecomment-226718472.
What is really bad, it works very slow (30-50 times) for las

[2016-06-20 06:18] vumanimdabe commented on #1100
@Yongqu the problem is repro the error. It does work on IE 11

[2016-06-20 20:50] ianwjhalliday commented on #1153
@rajatd @LouisLaf

[2016-06-20 21:48] matejv1 opened #1157 "node-mssql unable to connect to azure db"
Hi,

is node-mssql already supported on ChakraCore? I'm unable to connect to Azure DB (simple select example). It will just crash an app - no part of it will work anymore - I need to restart / redeploy to run/debug.

[2016-06-21 03:35] dilijev commented on #1106
@BurtHarris Thanks for that feedback. We'll see if there's anything we can do to help the situation of knowing what is fixed in a given version of Windows or ChakraCore but this is a hard problem as there is some process between checking code into our repo and that code ending up in any particular Windows release.

Do note that keeping issues open (tagged as "Fixed") that are no longer actionable

[2016-06-21 04:21] Yongqu commented on #1100
@vumanimdabe Thanks for verifying that in IE11. Can you help answer the other questions? having a repro would be really helpful.

[2016-06-21 04:38] BurtHarris commented on #1106
The approach I'm suggesting would simply require developers to add '**no:fixed**' to their default issue query to exclude issues in a Fixed state.

As you probably know, the MS RAID model, developers generally only cared about bugs in the "Open" state, transitioning it to 'Resolved' meant it was out of the developer's hands and now belonged to test.   The tester would then "Close" the bug to mark

[2016-06-21 19:10] ianwjhalliday commented on #1106
We have been using GitHub issue labels to reflect the state of these issues with respect to ChakraCore's master branch or release/<milestone> branches so far.  They do not reflect at all what state Chakra in Windows releases is.  Once an issue is complete with respect to ChakraCore, we close the issue.  We separately track scheduling of payloads to Windows, but do not track the state of individual

[2016-06-21 23:24] dilijev commented on #1157
Sounds like this is an issue related to Node-ChakraCore. @kunalspathak  could confirm. You might want to move this issue report to https://github.com/nodejs/node-chakracore

[2016-06-21 23:26] kunalspathak commented on #1157
Thanks for reporting @matejv1 . Could you please open an issue in nodejs/node-chakracore? Also, please provide repro steps.

[2016-06-21 23:26] #1157 closed

[2016-06-21 23:28] akroshg commented on #1128
Fixed by #1151

[2016-06-21 23:28] #1128 closed

[2016-06-21 23:43] dilijev commented on #517
@mathiasbynens wrote in #1136:

[2016-06-21 23:43] #1136 closed

[2016-06-21 23:43] dilijev commented on #1136
Closed as duplicate of #517

[2016-06-22 14:36] johnbraden opened #1171 "Perf issues with CRC32 Calculation"
I am contributing to a project where we have to calculate CRC32 values for files to upload to a server:
https://github.com/blackcity/backload

The CRC32 value is also calculated on the server to ensure file integrity.

When we run the code on the client we have disappointing results for Edge (not to name IE). Chrome is very fast. Try this code:

<pre>
// Lookup table for the polynomial 3988292384

[2016-06-22 20:41] dilijev opened #1175 "Implement selected console.* methods in ch.exe (since it is a console host after all)"
Opened this issue to track discussion of adding things like this outside of the PR #1168 where `console.log` is added.

@obastemur suggested it might be nice to add other common `console` methods.

Most likely candidate is `console.error` but I don't know that this team has any real use for that since `ch.exe` is mostly used for testing and we look for any output being different.
- [x] Map `consol

[2016-06-22 20:45] Cellule commented on #1175
Are you referring to
https://msdn.microsoft.com/en-us/library/hh696634.aspx
or
https://nodejs.org/api/console.html
As in, do we want our host to be more like node or more like the browser ?

[2016-06-22 21:20] ianwjhalliday commented on #1175
I don't see a strong use case for this

[2016-06-22 21:32] ianwjhalliday commented on #1171
@LouisLaf @rajatd

This appears to have two separate perf issues, the first is the loop to initialize the data array with random values, and the second is the crc32 function.

[2016-06-22 21:37] dilijev commented on #1175
@ianwjhalliday Yes, it's definitely low-priority. Just wanted to track discussion on this particular issue outside of the PR.

[2016-06-22 21:46] liminzhu commented on #1064
Looks like we are approaching the node scenario with compile flags rather than an JSRT API. Do we still need an API for this?

[2016-06-22 21:48] kunalspathak commented on #1064
@liminzhu , don't think we need it for now.

[2016-06-22 21:53] liminzhu commented on #1064
Ok @kunalspathak. I'm going to close the issue and we can re-open this if one day we see a use case.

[2016-06-22 21:53] #1064 closed

[2016-06-22 21:56] dilijev commented on #1175
@Cellule - that's a good distinction to make. I hadn't considered it. There are a lot of methods in both lists that seem clearly excessive considering that ch.exe is a host intended mainly for testing, and they are uncommon in that scenario. For more complex coding, we'll have Node-ChakraCore, which obviously implements Node's set of console methods.

[2016-06-22 22:32] tcare opened #1176 "Single line delimited comment incorrectly parses an HTML comment"
Originally discovered in https://bugs.chromium.org/p/v8/issues/detail?id=5142#c3.

I misread the spec in one case with HTML comments, where a multiline comment has no line break:

/*
*/ --> This is a comment

/\* */ --> This is not a comment

[2016-06-22 23:47] LouisLaf commented on #1171
I think you have the F12 debugger opened.  We turn off some optimizations when the debugger is enabled that are crucial for Math heavy code.  I repro similar numbers to what you have when the debugger is enabled, but see Edge 10x faster than Chrome otherwise, and IE is 5x faster.

Chrome:
    rand: 5122
    crc32: 3971
Edge:
    rand:337
    crc32:317
IE:
    rand:931
    crc32:841

So please the

[2016-06-23 00:27] LouisLaf commented on #963
I don't like _M_X64 of _M_X64_OR_ARM64 as these are specific CPUs is the defines are just about 64 targets.  BIT64 is better but not that descriptive.  How about TARGET64 or HOST64?

[2016-06-23 06:29] lyh-kernel opened #1179 "[Question] How many threads exist simultaneously if ChakraCore executes interpreter only (build with /p:BuildJIT=False)?"
As title. I build ChakraCore with /p:BuildJIT=False. I am wondering how many threads exist simultaneously if I execute ".\Build\VcBuild.NoJIT\bin\x64_release\ch.exe test.js"?. I noticed there are _beginthreadex and WaitForSingleObject calls in wmain. Does it mean that the max number of threads is 2 during execution?

Thanks

[2016-06-23 07:59] iskiselev commented on #1153
Could anybody suggest me any any workarounds that may improve speed of sample code?

[2016-06-23 08:06] iskiselev opened #1180 "Are public nightly builds of ChakraCore available somewhere?"
It would be great, if Chakra will provide nightly builds (with ch), same as do Firefox SpiderMonkey (https://ftp.mozilla.org/pub/firefox/nightly/latest-mozilla-central/jsshell-win64.zip and others).
It will provide simple way to test big libraries with nightly builds and react early on potential Chakra, library or compatibility issues.

[2016-06-23 09:24] mathiasbynens opened #1181 "[RegExp] Match updated spec for `/\w/iu` and `/\W/iu`"
Now that https://github.com/tc39/ecma262/pull/525 has landed, `\u017F` (LATIN SMALL LETTER LONG S) and `\u212A` (KELVIN SIGN) are word characters for `/iu` patterns.

Expected vs. actual behavior:

[code]
#### See also
- V8: https://bugs.chromium.org/p/v8/issues/detail?id=5145
- JavaScriptCore: https://bugs.webkit.org/show_bug.cgi?id=159055
- SpiderMonkey: https://bugzilla.mozilla.org/show_bug.cgi

[2016-06-23 10:51] mathiasbynens commented on #517
This is no longer true now that https://github.com/tc39/ecma262/pull/525 has landed. The other bugs mentioned in this thread remain.

[2016-06-23 15:41] jianchun commented on #963
+1 TARGET64

[2016-06-23 20:48] rajatd commented on #1153
Hi @iskiselev ,

Thanks for reporting this issue. I looked at stable.html and observed that it was calling a method invoked via [] operator and the method name starts with 0. We try to convert constructs of the form `obj[foo]()` to `obj.foo()` as we generate better code for the latter. But in this case we don't do the conversion since the property name starts with a number and it is a syntax error

[2016-06-23 23:56] iskiselev commented on #1153
@rajatd, thank you for your advice. I've updated my test case with moving `key` to the end of propertyName. It's much better now.
Unfortunately, using of prototype will not be possible for virtual function invocation, so my real options are Signatures and Generate.
It's very strange for me, that Signatures version works 8 time faster than Generated version - as both of them are using runtime funct

[2016-06-24 00:43] dilijev commented on #1181
Related to #517

[2016-06-24 01:11] rajatd commented on #1153
@iskiselev, I was looking into Generated case with @LouisLaf. Like stable, it too invokes a method via [] operator but this time, it has a concat inside [ ]. Unfortunately, we don't generate optimal code for looking up property names that come from string operations (such as concat in this case). We discussed what would be required to optimize such cases in the JIT backend. Basically, the JIT will

[2016-06-24 01:34] iskiselev commented on #1153
@rajatd, really Generated case tried to avoid using of concat inside [], as I already found that it is slow.
There I generate function, that looks like (from developer tools):
[code]
I do concatenation of string to form key in string before invoking function constructor.

When we translate .Net sources, we may have virtual functions, besides function with same name may have several overload. In ru

[2016-06-24 16:27] CnSimonChan opened #1196 "URL constructor doesn't allow credential"
The code `new URL("http://username:password@127.0.0.1:80/jsonrpc")` throws `A security problem occurred.` on Edge (14.14372).

The standard never mentions about disallowing credential in URLs, and the code above runs successfully in Firefox (48) and Chrome (52) and returns `username` and `password` without problem.

I'm porting an extension from Chrome, it relies on this API to parse URL and make

[2016-06-24 22:53] johnbraden commented on #1171
@LouisLaf You are right. Seems that the debugger heavily influenced the compute time in IE and Edge, while it didn't in Chrome.
Chakra wins this CRC32 calculation test with a 50MB random file. Anyone interested can repeat the test here:
http://www.backload.org/lab/crc32/run.html

[2016-06-25 04:06] jordonwii commented on #254
I've been looking to contribute to Chakra for awhile now, and this has been sitting here for almost equally long - can I take a stab at this for a first contribution?

[2016-06-26 04:33] jordonwii commented on #254
I went ahead and tried, anyway. :)

There were a few things I wasn't sure about, so I took a guess. Here's a few, if anyone knows the answer:
- What's the relationship between property *names*, property *IDs*, and property *keys*?
- What is HostDispatch and remote invocation?
- What's the best way to test a change like this?

Let me know if the PR is on the right track.

[2016-06-27 01:37] iskiselev commented on #1153
When I changed generated function, to call function through dot-expression, it start working OK in Chakra (see generateForChakra.html). So, if we are talking about my previous sample:
[code]

It feels as lack in Chakra function optimization, that it was unable to found effective constant expression and make dot-optimization itself.
At least now I have some workaround to apply (I'm not fully happy

[2016-06-27 05:18] dilijev commented on #1180
@iskiselev see #85 https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore

We publish ch.exe and ChakraCore.dll for both x64 and x86 in those packages.

We are basically using those packages as a publication mechanism for the binaries since NuGet packages are just zip files with some metadata and standard arrangement of files inside the archive.

They are intended to be n

[2016-06-27 05:19] dilijev commented on #1180
@liminzhu Maybe we can add a link to the MyGet feed https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore added to the README?

[2016-06-27 05:21] iskiselev commented on #1180
@dilijev, thank you for provided information. It is what I've looked for!

[2016-06-27 05:58] dilijev commented on #1180
Great!

[2016-06-27 06:00] dilijev commented on #1180
I've rephrased the title and tagged as Question so that this is easy to find in the future for people looking for info.

[2016-06-27 06:00] #1180 closed

[2016-06-27 06:25] dilijev commented on #1196
The URL class is defined by the Edge host. Marking as external. I'll see how we can route this bug.

[2016-06-27 15:44] Yongqu commented on #1196
Seems like a regression. Can you file create an issue at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/ so we can track that? thanks.

[2016-06-27 16:01] CnSimonChan commented on #1196
OK, here it is: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8004284/

[2016-06-27 16:45] dilijev commented on #1196
Thanks @CnSimonChan - closing as External.

[2016-06-27 16:45] #1196 closed

[2016-06-27 23:21] dilijev commented on #85
@digitalinfinity - @liminzhu mentioned this to me and I wanted to get your thoughts on it / get it on your radar:

MyGet feed for preview builds of Linux targeted binaries (either for devs extracting binaries from the packages or for use in Linux version of NuGet). /cc @digitalinfinity

Also (very much future work): after we have something release-ready, getting the package added to Canonical's pa

[2016-06-28 00:18] ianwjhalliday commented on #254
Apologies for the silence last week.  @jordonwii please do give this a whirl!

Before the ES6 Symbol feature, property names could only be strings.  They could be any valid JavaScript string, but only strings. (Numeric indices are still considered strings in terms of the spec).

In our codebase, a PropertyId is the id number representing an interned string in a global PropertyID table.  I believe

[2016-06-28 00:37] dilijev commented on #1180
@iskiselev Just published a new one since you're looking for latest. See https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore

[2016-06-28 02:12] Yongqu commented on #254
HostDispatch: We have COM interface pointer (IDispatch) based binding for Javascript objects came from trident. In general you don't need to worry about them too much as you can just use the normal object vtable methods.
remote invocation, if we are thinking about the same thing, is for window.open style cross-process invocation that requires marshalling of Javascript objects. We have some invocat

[2016-06-28 09:37] mathiasbynens opened #1208 "[Unicode] Use Unicode 9’s `ID_Start` & `ID_Continue` for identifiers"
- Unicode 8 has 109,830 `ID_Start` symbols; Unicode 9 has 117,007, i.e. 7,177 more (no removals).
- Unicode 8 has 112,352 `ID_Continue` symbols; Unicode 9 has 119,691, i.e. 7,339 more (no removals).

E.g. these should not throw per Unicode 9:

[code]

I’ve attached a tarball containing `results.js` which contains the full list of new `ID_Start` and `ID_Continue` symbols in Unicode 9, and the Node.

[2016-06-28 17:07] aneeshdk opened #1209 "Unable to access arguments in eval inside an arrow method"
[code]

This throws an error saying arguments is undefined

[2016-06-28 17:30] jordonwii commented on #254
I see. Thank you both for the explanations! I'll make some updates to the PR to incorporate that.

[2016-06-28 18:38] dilijev commented on #1171
@johnbraden I updated the title to be more useful when searching in the future.

[2016-06-28 18:40] dilijev commented on #1171
@johnbraden I want to close this issue since we've seen that there doesn't seem to be an issue here with F12 closed. I would tag it as NoRepro but it would be a qualified NoRepro (since we *can* repro with F12 open).

[2016-06-28 21:27] dilijev commented on #1208
I'll add that ECMA 2017 has a stipulation for which Unicode Standard version must be supported:

https://tc39.github.io/ecma262/#sec-conformance

No reason we couldn't add this but it's not a high priority under the current version of the spec.

@bterlson Does that seem like a fair assessment?

[2016-06-29 06:36] mathiasbynens commented on #1208
The intent is to use the latest available Unicode version. See https://github.com/tc39/ecma262/pull/620 for some discussion. @bterlson Perhaps it would be clearer to merge that PR now, and then update to refer to the (version-less) _latest_ version in a future PR?

[2016-06-29 13:15] johnbraden commented on #1171
Ok. I updated the example with more performance data, so it is more useful for anyone interested.
http://www.backload.org/lab/crc32/run.html

[2016-06-29 13:15] #1171 closed

[2016-06-29 17:30] dilijev commented on #1171
@johnbraden Thanks!

[2016-06-29 23:36] bterlson commented on #1208
@mathiasbynens It's only a few weeks until we have the final consensus on version-less latest reference :) But I see your point. We should be tracking Unicode 9 at this point.

[2016-06-30 12:21] mdahamiwal opened #1222 "String accesses and comparisons using indexes not optimized in Chakra"
Character wise string matching performs bad on EDGE as compared to chrome or firefox. Even worst on IE. @LouisLaf already has context for the test case.

eg. string1[i] === string2[j] performs 3 times better on chrome as compared to EDGE. Firefox performs best overall.

[2016-06-30 15:17] laskoviymishka opened #1223 "Intl.DateTimeFormat doesn't format minutes and seconds properly in IE 11 and Edge"
Related to _https://github.com/angular/angular/issues/9524_
Seems like there is issue with Intl.DateTimeFormat.
When you try to format date with only minutes and/or seconds it ignore it and format as default.
It seems like there is only hour + minutes + seconds pattern support properly.
Here plnkr to describe issue: _http://plnkr.co/edit/OyjNyyb1fJhB1thtuEnA?p=preview_

Version:
IE 11.0.9600.18350

[2016-06-30 22:00] akroshg opened #1225 "SAL annotation for some JsRT APIs should be changed."
eg.
`JsSetCurrentContext `
takes `nullptr `as input but the API annotation has only` __In__, `so this raises the preFAST error. There are other APIs which have the same behavior. We need to look at other APIs and fix that.

[2016-06-30 23:48] rajatd commented on #1153
@iskiselev the reason for remaining perf difference between Edge and other browsers on generatedForChakra is most likely that we don't inline calls in functions created via Function("..."). For the string concat case, we have ideas of how to make it more performant but our resources are invested in higher priority perf work items at this point.
I'm going to keep the issue open for tracking that wo

[2016-07-01 00:25] kunalspathak opened #1228 "default constructor creation for derived class is not spec compliant"
As per [spec](https://tc39.github.io/ecma262/#sec-runtime-semantics-classdefinitionevaluation), if derived class doesn't have constructor, it should create a constructor something like this -
[code]
Instead we do something like this -
[code]
`...arguments` part loads argumentsObject on heap which is not performance efficient.

[2016-07-01 00:26] kunalspathak commented on #1228
FYI - @akroshg , @suwc

[2016-07-01 02:05] satheeshravi commented on #1083
@iskiselev , this issue is fixed. Can you please try with the latest binary and close this issue?

[2016-07-01 03:00] iskiselev commented on #1083
@satheeshravi, thank you for info. As soon as new build will be published to https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore I'll check it.

[2016-07-01 16:20] kunalspathak opened #1230 "Optimize OP_LdCustomSpreadIteratorList for arguments object"
I was looking into the [code](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Language/JavascriptOperators.cpp#L1405) of OP_LdCustomSpreadIteratorList and noticed that we optimize it by not creating SpreadArgument if parameter passed to OP_LdCustomSpreadIteratorList does not have user defined iterator. We do this check only for JavascriptArray and TypedArrayBase and we can expand i

[2016-07-01 16:50] pleath commented on #1230
Is someone actually using the spread operator combined with the arguments object? (Please say no.)

-- Paul
________________________________
From: Kunal Pathak<mailto:notifications@github.com>
Sent: ‎7/‎1/‎2016 9:20 AM
To: Microsoft/ChakraCore<mailto:ChakraCore@noreply.github.com>
Subject: [Microsoft/ChakraCore] Optimize OP_LdCustomSpreadIteratorList for arguments object (#1230)

I was looking int

[2016-07-01 18:17] liminzhu commented on #1225
Good finding @akroshg! Is there any test mechanism that can help us detect similar issues?

[2016-07-01 18:18] liminzhu commented on #1225
If not I can take a manual scan at the headers and check if something is wrong.

[2016-07-01 18:34] dilijev commented on #1223
Confirmed that the formats look wrong in Edge 38.14372.0.0 and IE.

For what it's worth, in Chrome, Edge, and IE, I'm seeing 7PM instead of 6AM. I'm thinking that has to do with the timezone you have set on your own machine versus where we are, since 7PM is correct for the given UTC date in the Pacific timezone.

[2016-07-01 21:29] ianwjhalliday commented on #1228
Is the use of rest and spread optimized in this case or do they also add perf overhead that may be avoidable somehow?

[2016-07-01 22:00] kunalspathak commented on #1230
I noticed this while investigating #1228 . Once #1228 is fixed, this will go away, but wanted to have tracking perf improvement we could do. Does spec says that we can't use spread operator with the arguments object?

[2016-07-01 22:01] kunalspathak commented on #1228
Probably. See #1230

[2016-07-02 00:00] dilijev commented on #1230
@kunalspathak If this will go away after #1228 do we want to advertise this as "Your First PR"?

[2016-07-02 00:09] kunalspathak commented on #1230
@dilijev , what I meant was we found the issue while investigating #1228. However there will be other cases like usage of `...arguments` which we should optimize in general.

[2016-07-02 00:34] dilijev commented on #1230
@kunalspathak got it, makes sense.

[2016-07-05 07:32] monutam91 opened #1237 "Is it possible to build ChakraCore into .so and .a to use it on Android and iOS?"
Hi!

I have an application in which I have to run JavaScript code and I intend to use ChakraCore to do so. My problem is that this application is a cross-platform Xamarin app, thus I should build ChakraCore into a Shared Object (.so) and into a static library (.a)

Is it possibly to build ChakraCore like this? If it is, could somebody help me in this, just a little direction would be much apprecia

[2016-07-05 12:57] obastemur commented on #1237
@monutam91 you can build ChakraCore for Ubuntu/Debian and very soon for OSX. https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore#linux

At the moment ChakraCore may not work on Android and currently there is no IOS support. We will soon  update our cross platform roadmap (/cc @digitalinfinity )

/cc @jasongin since he has been working on Xamarin/Cordova and combined JavaScript cross p

[2016-07-05 20:01] dilijev commented on #1237
FWIW I believe we already have the ability to build either static or dynamic libraries on Linux. Dynamic is the default. Try running `build.sh` on Linux with `--static` flag.

[2016-07-05 21:42] dilijev opened #1240 "DisableJIT linker warning (unused obj file)"
`AsmJsLink.obj : warning LNK4221: This object file does not define any previously undefined public symbols, so it will not be used by any link operation that consumes this library [D:\j\workspace\daily_disable---1fca0551\lib\Runtime\Language\Chakra.Runtime.Language.vcxproj]`

See e.g. http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_disablejit_x86_debug/98/consoleText (f

[2016-07-05 21:52] #36 closed

[2016-07-06 00:21] dilijev opened #1244 "Investigate whether TTBasic and TTExecuteBasic tests could be run in DisableJIT mode."
Currently ignoring these tests by using the tag `require_backend` (see #1242).

[2016-07-06 03:08] #1240 closed

[2016-07-06 20:45] #954 closed

[2016-07-06 23:34] ianwjhalliday opened #1251 "JavascriptConversion::ToPropertyKey should return void instead of BOOL"
See https://github.com/Microsoft/ChakraCore/pull/1202#discussion_r69828994

`ToPropertyKey` always returns `TRUE` making the `BOOL` return type confusing for callers about whether they need to check the return value in release builds.  If it always returns true, the return type should be void to remove that cognitive overhead when using this API.

[2016-07-06 23:36] ianwjhalliday opened #1252 "Use specific strong return types for JavascriptOperators::GetOwnPropertyKeys() et al"
Upon reviewing #1202 (see https://github.com/Microsoft/ChakraCore/pull/1202#discussion_r69828994) @Yongqu @tcare and I decided we should strongly type the return types of APIs used exclusively internal to the runtime rather than using `Var`.

Motivation comes from `JavascriptOperators::GetOwnPropertyKeys`.  Code review raised concern about assuming the return value is always a `JavascriptArray*` a

[2016-07-08 00:28] #1111 closed

[2016-07-08 00:28] #1110 closed

[2016-07-08 00:28] #1112 closed

[2016-07-08 00:28] #1109 closed

[2016-07-08 00:29] #1103 closed

[2016-07-08 19:46] #1228 closed

[2016-07-08 22:44] #254 closed

[2016-07-09 00:13] dilijev opened #1260 "[Tests] [Slow] [Legacy] Slow and Legacy Test Failures in master branch"
Tagging @kunalspathak and @akroshg as they are listed in the changes since the last good build: http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_slow_x64_test/99/changes

See e.g. https://github.com/Microsoft/ChakraCore/wiki/Build-Status#builds-with-slow-tests

Output below:

[code]

You can repro locally with:

[code]

(or `x86 debug` or `x64 test`)

-----

Also seeing

[2016-07-11 07:30] NiLSPACE opened #1262 "Chakra is slow on a project I'm working on."
With a project I was working on I noticed that Edge is more than 15 times slower than my Firefox.

Project: http://javascript.nilspace.nl/Cuberite/GrownVisualizer/index.html

The pixel rendering (gets activated when the size of the map gets larger than the canvas) is taking ~130ms while it's done in ~8ms on my Firefox, and ~20ms on Chrome. On my mobile Edge is taking over one second.

![edgeversio

[2016-07-11 19:03] akroshg commented on #1260
Fixed.

[2016-07-11 19:03] #1260 closed

[2016-07-11 22:14] dilijev commented on #1262
From profiling it looks like a large part of this time spent is in the DOM:

![image](https://cloud.githubusercontent.com/assets/494055/16748616/f89aebe6-4779-11e6-8d3b-9a9b9dbce859.png)

But plenty of time is used in JS as well.

For the DOM part, could you open a bug at  https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/ and tag it as an HTML/DOM issue?

[2016-07-11 23:00] dilijev opened #1266 "[DisableJIT] Test flakiness since Native Tests change"
See failures in DisableJIT builds here:

https://github.com/Microsoft/ChakraCore/wiki/Build-Status#disablejit-builds

Beginning with this commit:

https://github.com/Microsoft/ChakraCore/commit/19ad691f60fb2de1781ae657182505d9787174eb (@akroshg)

Builds since then have failed. See:

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_disablejit_x86_test/100/

Flaky failure

[2016-07-12 00:29] #1266 closed

[2016-07-12 00:54] Cellule opened #1268 "Wasm f64.promote/f32 /w SSE1"
f64.promote/f32 with SSE 1 on x86 currently asserts.

[2016-07-12 07:17] NiLSPACE commented on #1262
I created the issue: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8147766/

I changed the code to put the size of the canvas in a variable
[code]
Now the speed is comparable/just as fast as Firefox. That said, while Firefox is roughly constant at 10ms Edge jumps up to 50ms once the map gets to 2000x2000 which then slowly rises with a few milliseconds every time.

I'll wait

[2016-07-12 18:45] kunalspathak commented on #1262
@NiLSPACE , as @dilijev pointed, most of the time is spent in `context.fillRect` in `squareRender()` as seen below.
![snap1](https://cloud.githubusercontent.com/assets/12488060/16779095/b6769970-4825-11e6-8b72-aafde9d82cf9.PNG)

`pixelRender()` has much time spent in getting the `canvas.height` and `canvas.width` as seen below.
![snap2](https://cloud.githubusercontent.com/assets/12488060/16779140/

[2016-07-12 20:59] dilijev opened #1269 "Add native tests for new JSRT APIs"
https://github.com/Microsoft/ChakraCore/pull/1254 adds new JSRT APIs. Should add native tests for the following as per #1224

[code]

@Yongqu @akroshg

[2016-07-12 21:35] satheeshravi commented on #1083
@iskiselev We currently don't publish binaries built from master branch. The fix is in master branch. You can build privately and verify. Sorry about the inconvenience.

[2016-07-13 02:38] kunalspathak opened #1271 "No FastPath for new Array(constant)"
Today we don't generate fast path for below case.
[code]
That is because in [lowerer](https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/Lower.cpp#L4935) , we fetch the wrong source of instruction. I tried fixing it by extracting the right argument and based on that emit fast path. For below test case I saw 10% win.
[code]

However, I later realized that `Array` ctor can take multiple

[2016-07-13 02:38] kunalspathak commented on #1271
FYI - @LouisLaf , @curtisman

[2016-07-13 08:51] NiLSPACE commented on #1262
I know the `squareRender` gets really slow as the map gets bigger (that's why I switch to `pixelRender` after a while), but I noticed that `pixelRender` was way slower on Edge compared to Firefox or Chrome. That's why I initially reported this issue :)

As I said in my previous comment, once I changed the code to save the size of the canvas in a variable (as you guys suggested) instead of getting

[2016-07-13 09:31] monutam91 opened #1274 "How can I debug JS code running in an app which embeds ChakraCore?"
Hi!

We are developing an application for Windows 10 where we are using Chakra engine. In this application the end-user can write JavaScript code which we run inside our app.

We like to deliver the users some kind of possibility to debug their code. But I couldn't find any way yet as to how can I debug the code which I run on Chakra.

Now, we have a sample app about this, where I simply create a

[2016-07-13 18:23] liminzhu commented on #1274
// FYI @agarwal-sandeep

Hi @monutam91 and thanks for reaching out to us! First just to make sure, I'm assuming that we are talking about Chakra - the system component on Windows 10, not ChakraCore as there is a difference when it comes to debugging. In the sample case you mentioned, once you call JsStartDebugging, the Chakra should be in debug mode and VS will break at any unhandled exception or

[2016-07-13 18:27] liminzhu commented on #1274
@monutam91 and if you're comfortable with sharing the sample or a small repo with me, that'd also be fantastic and help me understand your scenario and setting better.

[2016-07-13 18:29] akroshg commented on #1274
@monutam91 when you do JsStartDebugging it will put the script code in the debug mode. That means you still need to attach the VS to the app to further debug the script. However as @liminzhu mentioned while attach you need to select the 'script' debugging option.

[2016-07-13 21:33] jordonwii commented on #1252
I likely won't have time for a few days, but I can take this one (and #1251), since they spun off of my PR.

[2016-07-13 21:43] ianwjhalliday commented on #1252
It's yours, have at :)

[2016-07-13 21:44] ianwjhalliday commented on #1252
*they're yours

[2016-07-14 07:09] monutam91 commented on #1274
Hi,
Yes, I'm talking about the Chakra and not the ChakraCore. I'm familiar with the Script option and I set it up, in debug time I can see the Script Documents part in the Solution Explorer, but there aren't any Script files in it, only the root of the Application exe can be seen, which I can't open.

[2016-07-14 20:13] liminzhu commented on #1274
@monutam91 we have a [UWP sample](https://github.com/Microsoft/Chakra-Samples/tree/master/Chakra%20Samples) where debugging is all set up and working. The [hosting part] (https://github.com/Microsoft/Chakra-Samples/blob/master/Chakra%20Samples/JSRT%20Universal%20Windows%20Apps%20Hosting%20Samples/C%23/JsRT_UWP_Sample/ChakraHost.cs) in the sample is fairly minimal and commented, and as in the sampl

[2016-07-15 02:16] gustavopinto opened #1280 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. However, I observed that some projects, like _ChakraCore_, deleted their software history when transitioning to open-source.

https://github.com/Microsoft/ChakraCore/commit/5d840

[2016-07-15 15:10] mubbasher opened #1281 "ChakraCore.dll should be available directly for use"
I'm on Windows 7 and VS2012 and tried to build the ChakraCore but no luck.

I prefer to have just ChakraCore.dll , plug that into my C# app and start using it ...

Can you guys provide the X86 and X64 ChakraCore.dll files...

Please don't make stupid like Linux that we have to build it all the time from source.

[2016-07-15 15:33] laskoviymishka opened #1282 "Intl.DateTimeFormat adds extra unicode empty characters in Edge"
Related to _https://github.com/angular/angular/issues/10080_
Seems like for formatting any component from `Intl.DateTimeFormat` it add and empty unicode character before result `&#x200E;`.
Reproduced in plnkr _http://plnkr.co/edit/57fHqSmRBsESgtJw79pq?p=preview_
In chrome - length of 19 is 2.
In edge - length of 19 is 3.
If you try to conert edge displayed result you may see `&#x200E;19`

[2016-07-15 17:33] kunalspathak commented on #1271
On the second thought, I was wondering if we can also emit array creation fast path for below scenario
[code]
We can have bound checks on argument passed to `Array` ctor and call helper if argument is beyond specific range. In acme-air benchmark, below are the js functions that call `Array` ctor specifying size through variable instead of constant.

![array_no_fastpath](https://cloud.githubusercon

[2016-07-15 19:08] dilijev commented on #1281
/cc @liminzhu

See #85

https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore

We are in the process of adding documentation about this to the README and Wiki as well. See PR #1253

[2016-07-15 19:09] dilijev commented on #1281
Duplicate of #1180

[2016-07-15 19:30] bterlson commented on #1282
See also: https://github.com/Microsoft/ChakraCore/issues/599

Summary: Intl formatters insert bidi control characters so that appending strings in mixed-direction scenarios (eg. appending an en-us formatted date in some RTL text) just works. In general, the strings retrieved from Intl APIs should be treated as opaque because you are actually not guaranteed per spec that the format you request will

[2016-07-16 01:34] dilijev commented on #1281
@mubbasher By the way, I see you're using VS2012 on Windows 7. We do support Windows 7 but we do not support building with VS 2012 (see https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore).

It should work, but we haven't tested whether binaries built with VS 2013 will run on systems that do not have VS 2013 installed. Please let us know if you have any problems.

[2016-07-18 07:38] #1251 closed

[2016-07-18 13:24] obastemur commented on #1281
Installing https://www.microsoft.com/en-us/download/details.aspx?id=48145 should take care of the C++ runtime dependencies.

[2016-07-18 18:38] mubbasher commented on #1281
@dilijev Thanks...  @obastemur Thanks.
I loved this and will be witching our app from V8 to ChakraCore. This is a huge relief ...
I was able to run the C# HelloWorld app using "msvcp140.dll" and "vcruntime140.dll" for X64 machine.
I don't know if installing the runtime will have impact on VS2012 or previous app. For now I will keep it like that.
I used the Build setting as , X64, Release mode for

[2016-07-18 18:41] dilijev commented on #1281
@mubbasher Great to hear! Glad we could help :)

[2016-07-18 18:42] #1281 closed

[2016-07-19 00:54] dilijev commented on #1274
Updated the issue title to make it easier to find this information in the future.

[2016-07-19 01:00] dilijev commented on #1237
Updated title to rephrase as a question and make it easier for others to find the answer later.

[2016-07-19 01:00] dilijev commented on #1237
@monutam91 Did we answer your question?

[2016-07-19 01:01] dilijev commented on #1237
Adding the waiting tag to track the OS X portion of this question.

[2016-07-19 01:08] digitalinfinity commented on #1179
Hi @lyh-kernel, sorry for the late response on this question. The number of simultaneous threads in the case of the NoJIT build can actually be greater than 2. We have at least one additional thread for concurrent garbage collection, and up to 2 more threads if the GC decides that we need to parallelize the mark step. I think there is also another thread created for background parsing.
Curious- do

[2016-07-19 18:01] rajatd commented on #1271
@kunalspathak , nice find that we are fetching the wrong argument! Getting src2 of the new array instruction and using it as length should work fine as long as you detect that it is the only argument passed to the constructor and call the helper if its not. Or, we can also walk the argument chain and count the number of arguments and emit the fastpath if the number is <= 8 (I don't know the reason

[2016-07-19 20:28] EdMaurer commented on #1280
Hi Gustavo,
Interesting research you’re doing! Hopefully the following will help you.
1.	Why did you decide to not keep the software history?
The ChakraCore history could not be easily brought from the proprietary source control system in which the sources resided for almost all of their existence. We moved to Git a couple of months before opening up the repo. During that time, we did extensive cl

[2016-07-20 03:05] #1252 closed

[2016-07-20 03:41] DemiMarie commented on #796
I can think of a few options, some rather wild:

- Option 1: Assuming that you only need to handle exceptions raised form C++ code within the runtime itself (not from external code or from Windows), and are OK with any such exceptions hard-crashing the process, the quickest(!) solution might be to create a custom version of clang(!) that has support for the calling convention you need.  This is ha

[2016-07-20 23:19] dilijev commented on #1175
Per discussion in #1168 also want to track adding a complete implementation of `console.log` which goes beyond the basics provided by `WScript.Echo` in the future (when/as needed).

[2016-07-21 21:39] dilijev commented on #110
@tcare Was there an internal workitem created for this? I'm planning to bring in #1300 so I'll end up doing that work.

[2016-07-21 21:46] tcare commented on #110
Not that I know of. Doubt we would track that internally.

[2016-07-21 21:59] dilijev commented on #110
@tcare ok thanks.

[2016-07-21 22:00] bterlson commented on #374
The original bug's expected behavior is indeed what is expected.

[2016-07-21 23:41] dilijev commented on #85
Question for those interested: do you think it would be worth using GitHub releases to make certain binaries available or is the MyGet/NuGet deployment story satisfying?

(/cc @liminzhu)

[2016-07-22 00:04] dilijev opened #1308 "[Legacy] Build failures in master"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#legacy-builds

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_dev12_x64_debug/109/consoleFull#85178576a82fefab-f698-416f-8fca-58544c94cd4e

[code]

**Edit:** Failing in all flavors.

[2016-07-22 20:10] commonlisp commented on #1127
f32min/max is done.

[2016-07-22 21:04] bterlson opened #1318 "Date.UTC should return NaN with < 2 arguments"
Currently, the spec says this behavior is implementation defined. We have decided that means to default these parameters to zero. All other implementations simply return NaN. I think we should align if possible and update the spec to mandate this behavior. Are there compelling reasons to keep our current behavior? It'd be a compat break for UWP/etc. but this behavior doesn't seem particularly usef

[2016-07-22 23:44] dilijev commented on #1318
I'll take a crack at this. :)

[2016-07-25 05:28] jordonwii commented on #1209
I'm taking at look this. This is what I have so far.
Using a non-arrow function with the arrow function's body works fine, and removing the eval works fine. The following also fails with a ReferenceError:
[code]
But this works as expected:
[code]

@ianwjhalliday suggested I look at the bytecode that gets generated. If I do that, it looks like in all the cases that work, the following two lines of

[2016-07-25 17:42] #1271 closed

[2016-07-25 19:11] ianwjhalliday commented on #1209
Yep, this is on the right track.  Sounds like we might not be propagating an AST node flag about direct eval calls from the arrow function to the parent function, or maybe not reconciling that with the appears of arguments in the parent.

I don't recall off hand whether these flags are all strictly computed in the parser or if some are done in the bytecode generator.  I suggest taking a look at `P

[2016-07-25 19:12] ianwjhalliday commented on #1209
Additionally (first) you can examine where `LdHeapArguments` is emitted in ByteCodeEmitter.cpp and see what controls it.  I suspect it will just be a flag which would then trace back to `FuncInfo` or `PnFnc`, but checking this would give you confirmation on my suspicions.

[2016-07-26 01:40] digitalinfinity opened #1334 "Regex/BoiHardFail.js fails on Fedora Debug Builds"
Test does pass on test builds. On debug builds, we hit the following assert:

ASSERT [THREAD ] at ../../pal/src/thread/pal_thread.cpp.2858: Expression: status == 0, Description: pthread_getattr_np call failed

[2016-07-26 01:40] digitalinfinity commented on #1334
Note that this test passes on Ubuntu

[2016-07-26 19:06] bterlson opened #1340 "For-in initializer should be a syntax error in strict mode"
[code]

Expected: syntax error
Actual: x is initialized to 0

(This should remain working in sloppy mode. See also: https://github.com/tc39/ecma262/pull/614).

[2016-07-26 21:41] claudepache commented on #1318
... with < 2 arguments (??)

[2016-07-26 21:43] ljharb opened #1342 "Update `Object.getOwnPropertyDescriptors` with spec changes"
Per https://github.com/tc39/ecma262/pull/593 - if the result of `[[GetOwnPropertyDescriptor]]` is undefined, it should *not* be stored on the returned descriptors object.

[2016-07-26 21:48] bterlson commented on #1318
Uhh yeah, title is wrong (and so is PR). @claudepache you rock.

[2016-07-26 21:56] dilijev commented on #1318
@bterlson Yes, I was wondering about this aspect when I compared behavior with Chrome. The PR is easy to fix. I'll await concensus before making fixes.

[2016-07-26 22:06] ianwjhalliday commented on #1342
@ljharb double not intentional or typo?  That is to clarify, you are saying it should be stored on the returned descriptors object?

fyi @jordonwii

[2016-07-26 22:15] ljharb commented on #1342
Typo, sorry - updated.

`undefined` descriptors must not be present on the return of `Object.getOwnPropertyDescriptors`.

[2016-07-26 22:17] ianwjhalliday commented on #1342
@ljharb cool

@jordonwii want to take this?

[2016-07-26 22:30] jordonwii commented on #1342
@ianwjhalliday Yep - it should be a straightforward change.

[2016-07-27 01:09] #1340 closed

[2016-07-27 21:32] bterlson opened #1348 "new.target inside eval has bad error message"
[code]
Actual: ReferenceError: '<_lexicalNewTargetSymbol>' is undefined
Expected: ReferenceError: new.target is not allowed here (or something)

[2016-07-27 23:19] tcare commented on #1348
@boingoing @suwc

[2016-07-27 23:27] tcare commented on #1230
@pleath Arguments object has an @@iterator property, in which case we need to have the iterator calls. Do we have plans for general iterator optimization?

See https://tc39.github.io/ecma262/#sec-createunmappedargumentsobject Step 7
and https://tc39.github.io/ecma262/#sec-createmappedargumentsobject Step 23

[2016-07-28 00:55] FireSlash opened #1351 "date.toLocaleString shows duplicate 月‎ character when 'month' is specified as 'long'"
[code]
The second 月‎ is redundant.

This affects both IE11 and Edge. There are various permutations of this bug across Japanese and Chinese.

[2016-07-28 06:46] WebReflection opened #1352 "ArchLinux undeclared identifier min / max"
ArchLinux usually builds out of the box whatever other distro can build.

In this case there is a good old problem about undeclared identifier via mbstring
[code]

[2016-07-28 14:19] obastemur commented on #1352
@WebReflection are you using the `linux` branch or `master` AFAIK this problem was solved in `linux` branch

[2016-07-28 14:25] WebReflection commented on #1352
I've completely missed the `git checkout linux` point of [this list](https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore#linux)

I'll try again this evening and eventually reopen but I'm sure it'll be fine if it's something known.

Thank you.

[2016-07-28 14:25] #1352 closed

[2016-07-28 16:19] bterlson commented on #1351
I'm not seeing this in Edge 14 (and vaguely recall this getting fixed but I'm not finding the bug). What version of Edge are you testing with?

[2016-07-28 18:14] FireSlash commented on #1351
This was tested against Edge 13.

If this is already resolved in 14 then I'll go ahead and close this (and make a mental reminder to test against dev versions before filing bug reports)

Thanks!

[2016-07-28 18:14] #1351 closed

[2016-07-28 22:39] cosinusoidally opened #1353 "ThreadContextTLSEntry::InitializeThread Assert hit when dynamically linked to libChakraCore.so"
Under Ubuntu 16.04 I built the Hello World sample from here: https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Linux_OSX/sample.cpp (I took a copy of the Linux_OSX directory and put it in my ChakraCore directory) . That worked fine, but when I attempted to instead dynamically link to libChakraCore.so I am getting a failed assert in ThreadContextTLSEntry::In

[2016-07-29 17:55] digitalinfinity commented on #1353
Hi @cosinusoidally, thanks for reporting this issue. Right now, I believe that we only support static linking for the JSRT embed scenario on Linux- @obastemur and @jianchun have looked at this space more closely before. We can look at enabling support for dynamic linking here, but I'd love to understand why you want dynamic linking here instead of static.

[2016-07-29 18:05] obastemur commented on #1353
@cosinusoidally `linker` ordering matters. See https://github.com/Microsoft/ChakraCore/blob/linux/bin/ch/CMakeLists.txt

I had prepared https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Linux_OSX/Makefile for static library usage. Just a little bit change and same should work for shared on linux.

@digitalinfinity I don't know any problem with shared linkin

[2016-07-29 18:15] jianchun commented on #1353
@obastemur Shared lib does not work on Linux currently, recall https://github.com/Microsoft/ChakraCore/pull/1220/files#diff-d0f520c2211bf00adadf86f513327861R94. That was exactly the same issue as this thread. I attempted with that temp change and it broke ch, and I had to revert it.

[2016-07-29 18:18] obastemur commented on #1353
@jianchun I've referenced CH and indeed CH works on linux with shared library. It is not a preferable way and we don't have samples around but it works.

[2016-07-29 18:37] jianchun commented on #1353
CH is internal and uses PAL directly, which external host cannot do.

For record, @digitalinfinity had some comments in https://github.com/Microsoft/ChakraCore/pull/1226 about the missing part. As I understand, CH works because it directly calls PAL's LoadLibrary(chakracore), then PAL calls DllMain. External hosts won't trigger that path, thus InitProcess is missing.

[2016-07-29 19:08] obastemur commented on #1353
@jianchun DllMain can also be called without using PAL. That is just like any other method. However, there are undocumented things here (including that part) / no sample provided hence this is not a preferred way as I already mentioned above. If we are going as far as (quoting you) `shared lib does not work on Linux Currently` then at least we should make `static` build the default one.

However,

[2016-07-29 20:30] #1342 closed

[2016-07-29 22:29] Cellule opened #1359 "WebAssembly wrong error message without LazyTrap"
Somehow the error message is not correctly propagated when not using -on:WasmLazyTrap or -on:WasmDeferred

[code]
instead of
[code]

[2016-07-30 09:28] cosinusoidally commented on #1353
Just the usual reasons for wanting dynamic linking of libraries. The ability to modify/update a library without forcing the users of that library to recompile and/or relink their code.

The way I initially ran into this crash is probably more interesting. I was trying to call ChakraCore from Python using Ctypes. I wrote something along the lines of the following and ended up hitting this crash:

[

[2016-07-31 21:51] gorg84 opened #1364 "Commissioner for Justice"
Server Error in '/' Application.

A potentially dangerous Request.Form value was detected from the client (ctl00$ctl00$ctl00$ctl00$cphRoot$cphSite$cphLC$cphC$txtCandidate_Notes_Web="...Maghsoudi <dralireza.maghsoudi...").
Description: Request Validation has detected a potentially dangerous client input value, and processing of the request has been aborted. This value may indicate an attempt to com

[2016-07-31 21:58] #1364 closed

[2016-08-01 12:43] obastemur commented on #1353
@cosinusoidally See https://github.com/Microsoft/Chakra-Samples/pull/34/commits/d03b98f6ab8c7e2f3518964e25ff0483294bf37f

It works with ChakraCore shared library on linux.

[2016-08-01 17:59] dilijev commented on #1318
Note: TC39 did not reach a consensus on this and may not have a further decision for a while (see https://github.com/whatwg/javascript/issues/31). Still it seems worth changing to the implementation currently provided by the other browsers (return NaN for 0 or 1 argument).

[2016-08-01 18:01] ianwjhalliday commented on #1318
Agreed

[2016-08-01 21:34] bterlson commented on #1318
Agreed.

[2016-08-04 01:21] dilijev commented on #85
Forgot to make a comment about this but there is now a Wiki page containing info about our NuGet packages (which we will update as we improve and make changes):

https://github.com/Microsoft/ChakraCore/wiki/NuGet-Packages

[2016-08-05 17:43] bterlson opened #1391 "Implement TypedArray updates to index handling"
[ECMAScript unified the handling](https://github.com/tc39/ecma262/pull/410) of indexes across all the TypedArray and related data structures. A number of minor semantics have changed.

[2016-08-05 20:57] commonlisp commented on #1127
trunc and nearest done.

[2016-08-05 22:15] jhasselkus commented on #903
Here's a simple example that reproduces the problem on Edge 38.14393.0.0, EdgeHTML 14.14393:

[Plunkr](http://plnkr.co/edit/2zg4JuXIF3Gjf8QDNTpk?p=preview)

[code]

The Plunkr properly displays the PDF file on Chrome and FF, but on Edge the object element stays blank.

[2016-08-05 22:19] dilijev commented on #903
@jhasselkus Oh hey, PDF995 is a blast from the past.

Yes, I can confirm the repro in Edge. However, this is not a JS issue, but rather an issue with Edge. Could you submit your issue here? https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/

[2016-08-05 22:25] jhasselkus commented on #903
@dilijev Understood -- will do. PDF995 was just the best sample file I could find :)

[2016-08-05 22:51] dilijev commented on #903
@jhasselkus By the way, for the Javascript and DOM manipulation part of this repro, it seems to work. If you put a breakpoint on the statement that changes the data attribute and then look at the DOM Explorer, you can see that the data property has not been set to the PDF, and then if you step over that statement and look at the DOM again, you can see that the property has been updated.

Therefore

[2016-08-06 00:44] dilijev opened #1397 "[Slow] [Linux Branch] {x64,x86} x {debug,test} Test failure: TypedArrayPrototype"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28linux%29#builds-with-slow-tests

[code]

How to repro locally: https://github.com/Microsoft/ChakraCore/wiki/Jenkins-Repro-Steps#windows-daily

[2016-08-06 00:47] dilijev opened #1398 "[Legacy] [Linux Branch] {all flavors} Build Error"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28linux%29#legacy-builds

[code]

Repro locally: https://github.com/Microsoft/ChakraCore/wiki/Jenkins-Repro-Steps#legacy-builds-windows-only