[2018-04-16 02:37] digitalinfinity commented on #4991
Hi @fatcerberus - which version of VC++ and the Windows SDK are you using, and which branch? I see that https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/x64_debug/ indicates that the master branch is currently building fine, and our internal build pages are showing green as well.

As far as I can tell, the file in question hasn't been changed in a while. @Cellule can you take a look here

[2018-04-16 02:42] fatcerberus commented on #4991
master branch, nothing unusual there.  MSVC version is 2017 v15.6.6.  Not sure on Windows SDK version as I used the default config when installing but I assume it’s the correct one since the release build works...

[2018-04-16 18:44] Cellule commented on #4991
Release build is fine because we don't build `wabt` in Release builds.
It seems that your version of the SDK doesn't support Virtual Terminal for console coloring.
However, I don't think we really need it in our project.

You can try to change
`#define HAVE_WIN32_VT100 1` to `#define HAVE_WIN32_VT100 0` in [config.h](https://github.com/Microsoft/ChakraCore/blob/a1d1dd8a92ffb60b1d15226c8d22ba2b4964

[2018-04-16 19:09] fatcerberus commented on #4991
Is this a recent change?  This is a clean checkout of CC and I used to be able to build debug builds okay...

[2018-04-17 00:05] #2899 closed

[2018-04-17 04:17] alexlamsl commented on #2899
@irinayat-MS thanks for the fix :+1:

[2018-04-17 04:47] kfarnung opened #4997 "Infinite loop in get property for shared deferred types"
While investigating another issue I came across the following situation:

[code]

What appears to be happening is that since the types of `func1` and `func2` are deferred, the order that they are undeferred can create a self-referential prototype loop.  From what I was seeing when `func2` gets undeferred it will create a type with a prototype pointing to `func1` (which is still deferred). When `fu

[2018-04-17 04:48] kfarnung commented on #4997
@pleath Can you take a look?

[2018-04-17 09:55] KrofDrakula opened #4998 "Argument deconstruction and default assignment broken for functions with more than one argument"
Arrow functions argument deconstruction seems to exhibit a bug with deconstructing arguments with default values when the first argument isn't deconstructed. It works so long as the first argument is deconstructed with a default value, else all subsequent deconstructions will not allow setting a default value to the argument.

Here's an example that works:

[code]

Here's the same example with arr

[2018-04-17 13:48] sethbrenith commented on #4998
Thanks for the report! This sounds like #4919, do you agree?

[2018-04-17 15:34] sethbrenith commented on #4998
closing as duplicate of #4919

[2018-04-17 15:34] #4998 closed

[2018-04-17 16:44] rhuanjl opened #4999 "runtests.py isn't aware of "exclude_ch" flag"
Rather minor issue but annoying for xplat contributors (like me)

runtests.py doesn't honour the flag "exclude_ch" this flag is currently used only once:
https://github.com/Microsoft/ChakraCore/blob/1df947920775b7a91a1eb3ca35f83ae8992a778d/test/es5/rlexe.xml#L197

This specific test will reliably fail when run offline with runtests.py as it's meant to be excluded.

I'll submit a fix for this.

[2018-04-17 17:10] rhuanjl commented on #4989
Issue is with when a bound function has:
a) "extra arguments" FrameDisplay or New.Target object. AND
b) 1 or more bound arguments

In these cases the extra argument was not being copied into the new arguments object used for calling the actual function BUT the call flag to say it existed was being set - so CC could then attempt to access that non-existent extra argument (normally new.target) and s

[2018-04-17 21:08] kfarnung commented on #4997
This may have been caught more easily with a new assert in `DynamicObject::ReplaceType` which ensures that the `prototype` doesn't match the `this` pointer.

[2018-04-17 21:26] pleath commented on #4997
...or that "this" doesn't appear anywhere in the prototype chain starting with the new type. (I think the language allows us to reject Object.setPrototypeOf calls that create cycles.)

[2018-04-17 21:29] MSLaguana commented on #4997
Yeah, currently if you try to create a cycle via `Object.setPrototypeOf` you get an error thrown.

[2018-04-17 21:44] #4989 closed

[2018-04-17 21:59] benjamin-bader commented on #4822
Hi, has there been any additional work here?  I'm seeing this bug surface not just in unit tests, but also in stress testing under only moderate load.  As always, I'm happy to provide as much info as I can, but I'm a little out of my depth in this codebase.

Am I correct in thinking that `JsRun` sees more usage than `JsRunSerialized`?  If so, maybe we should abandon the latter in favor of the form

[2018-04-17 22:02] MSLaguana commented on #4822
I don't think that anyone has had a chance to dig into this significantly yet. It is true that `JsRun` is much more commonly used. The main use of the serialization code that I'm aware of is to produce the bytecode for our intl and builtin code, but that doesn't get fed through the JSRT interface; that gets compiled in via headers.

[2018-04-17 22:11] benjamin-bader commented on #4822
OK, thanks - I'll look into using that, instead.

I don't know if I ever explained my use-case here.  What I'm doing is keeping a pool of several chakra runtimes in a server process; request threads pick up a runtime, use it, then return it to the pool.  I thought to use `JsRunSerialized` to parse scripts once, then re-use the values everywhere.  In our case, it's probably fine to parse the script

[2018-04-17 22:48] MSLaguana commented on #4822
Oh, that may tie into why you were seeing issues possibly! I believe that our runtimes have thread affinity, so you should only ever interact with a given runtime from one thread. If you are creating the runtimes with one thread and accessing it with another, this might be causing a race condition that causes the problem you see here.

[2018-04-18 02:09] #4991 closed

[2018-04-18 05:49] #4997 closed

[2018-04-18 17:17] benjamin-bader commented on #4822
So, I've only partway implemented this - currently, serialized scripts are _not_ shared between runtimes or threads.  Each runtime has an associated cache of serialized bytecodes.  Once this was working, I figured sharing would have been a simple-ish refactor.

[2018-04-18 18:49] liminzhu commented on #3293
It seems like you're right. @akroshg do you know who was the original author of `JsConstructObject`? We might want to look into the current behavior.

Is there anything that you think would be helpful for us to add in the documentation? Many of those APIs are somewhat self-explanatory so if there's anything that may confuse you (like this API), I'd love to fix it.

[2018-04-18 18:53] akroshg commented on #3293
@liminzhu  I am not aware of who is author. Perhaps you can look at the usage at https://github.com/Microsoft/ChakraCore/blob/master/bin/NativeTests/JsRTApiTest.cpp#L748

[2018-04-18 19:29] gh-andre commented on #3293
@liminzhu Thank you for confirming. Much appreciated. Took me a bit to figure out why I wasn't getting my object in the constructor function - I thought at first I was calling something incorrectly.

Here's a couple of points off the top of my head:

Anyone who worked with the v8 will struggle to implement properties in C++. It took some digging to find some discussion where you advise to use the

[2018-04-19 02:02] vikrem opened #5013 "Native background processing + ChakraCore Promise API"
Hi all,

I'm looking for a bit more clarity on using the JSRT Promise API.

I've read the Promise overview in the embedded JSRT overview (https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#promises)
and the PR involving JsCreatePromise (https://github.com/Microsoft/ChakraCore/pull/2581#issuecomment-281875736)

From what I've gathered so far, the following process i

[2018-04-19 03:27] jackhorton commented on #5013
I believe the way this should, if not must, work is to use an event loop, similar to how Node.js uses libuv. Basically the event loop keeps looping until it gets word back from the background thread about a piece of queued work finishing. When that piece of work finishes, the native code will call back into javascript (in your case, it will call resolve or reject, basically), at which point javasc

[2018-04-19 04:59] #4961 closed

[2018-04-19 14:42] kumpera opened #5015 "crash running System.Core under mono+wasm"
Found during CI of mono WebAssembly.
This is on 64bits linux and ChakraCore 1.8.3.

Build log: https://jenkins.mono-project.com/job/test-mono-pull-request-wasm/7/parsed_console/log.html

Error:
[code]

To reproduce it you need to build & run mono in the wasm configuration.
Instructions here:  https://github.com/mono/mono/blob/master/sdks/wasm/README.md

[2018-04-19 16:53] irinayat-MS commented on #4927
Because the OOM frame is ignored, heap corruptions and OOM failures might end up being bucketed together (as they are attributed to down level symbols such as HeapAllocator::AllocZero). We'd like to have a separate signal for heap corruptions.

[2018-04-19 17:40] irinayat-MS commented on #4927
Other methods with _fatal_ substr in their names. Should fix all of them?

core\lib\Common\CommonDefines.h:#define TTDAssert(C, M) { if(!(C)) TTDAbort_fatal_error(M); }
core\lib\Common\Exceptions\ReportError.h:void JavascriptDispatch_OOM_fatal_error(
core\lib\Common\Exceptions\ReportError.h:void CustomHeap_BadPageState_fatal_error(
core\lib\Common\Exceptions\ReportError.h:void Amd64StackWalkerOutO

[2018-04-19 18:01] #5013 closed

[2018-04-19 18:25] benjamin-bader opened #5017 "Memory leak in JsSetCurrentContext"
Hi folks,

I've noticed that `JsSetCurrentContext` seems to leak small amounts of memory; see the screenshot below for a backtrace from Instruments on macOS.  We're using ChakraCore in a server process, and during stress testing yesterday I noticed that we were leaking memory.  Instruments shows that `JsSetCurrentContext` calls appear to be the cause; all roads lead to `ThreadContextTLSEntry` in t

[2018-04-19 19:13] jackhorton opened #5020 "String.prototype.toLowerCase and toUpperCase are nearly 2x slower when using ICU"
Microbenchmark:

[code]

On my dev machine, jshost.exe with ICU takes about 2200ms to finish that test, while jshost.exe with WinGlob takes about 1200ms. These functions basically boil down to u_strToUpper/u_strToLower and LCMapStringEx, respectively, so there is evidence that ICU is simply a lot slower than Win32 in this case. /cc @Microsoft/target-dev

I will try to fix this with a fast-path for

[2018-04-19 20:16] VSadov commented on #5015
the log seems missing.

[2018-04-19 20:42] VSadov commented on #4486
possibly the same as https://github.com/Microsoft/ChakraCore/issues/3505

[2018-04-19 22:09] VSadov commented on #4953
Reproducible on win10/x64:

[code]

[2018-04-19 22:17] rhuanjl commented on #3869
Thought I'd take another look at this now I know a bit more of how CC works. Still don't know enough to improve it (yet).

**But update for future reference:**
ES6 class constructors and ES5 constructors (in the above examples at least) BOTH go through LowerNewScObject.

**BUT when ES6 class constructors get there:**
HasBailOutInfo() AND IsProfiledInstr() are both false -> which results in LowerNe

[2018-04-19 22:25] jdalton commented on #4730
Ok so it looks like the points of contention have passed as tests land in test262 https://github.com/tc39/test262/commit/c55d2ab7c344e35a3ceb93cf1d4d30019584db82.

[2018-04-19 23:25] benjamin-bader commented on #5017
FYI, I did a quick spike of a different architecture, where each runtime is confined to a single thread.  I didn't change any code that calls ChakraCore functions, just which threads do the calling.

The leak disappeared - makes me think that TLS entries are not freed when their associated thread dies.  I don't know if this is by-design, but this approach seems to fix my immediate problem.  Thanks

[2018-04-20 01:40] VSadov commented on #4953
Seems like `EnsureNoRedeclarations` should add a check for redeclaration of `foo`. It does if `foo` is a `var`, but does not if it is a `function`.

[2018-04-20 04:27] jackhorton commented on #5015
@Cellule may know more about this

[2018-04-20 17:06] #5020 closed

[2018-04-20 19:38] #4978 closed

[2018-04-20 19:49] #4999 closed

[2018-04-20 19:53] jackhorton commented on #5017
I believe all access to ChakraCore runtimes is supposed to happen on the same thread on which it was created (literally "the script thread" or, in browsers, "the UI thread"), so I am actually surprised this is the only issue that you ran into by calling Js* functions from thread A for contexts/runtimes in thread B

[2018-04-20 20:28] jackhorton commented on #5017
Ill wait until someone with more knowledge on the JsRT chimes in before closing it to make sure.

[2018-04-20 21:16] liminzhu commented on #3293
Really appreciate the feedback!

Not sure what you mean by implement `properties in C++`. If you mean attach properties to objects natively, [this doc] shows a short sample of how to attach the `log` function on `console` object.

[This](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#exception-handling) is perhaps what you look for. This is also some code in th

[2018-04-20 21:46] MikeHolman commented on #5015
This is a bug with SWB, which assumes any pointer size write to a field is updating a recycler Object (which is not the case in wasm). Consequence is writing to the card table at an invalid index.

[2018-04-20 22:11] liminzhu commented on #5017
Nah you can definitely move runtime around and use it from different threads. The threading model is called [rental threading](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#concepts).

[2018-04-20 22:26] jackhorton commented on #5017
I see. So then this leak sounds like a bug on our end?

[2018-04-20 22:42] gh-andre commented on #3293
I mean a concept similar to v8 accessors - you can just bind a callback to a JS property in C++ without using `Proxy` objects. From the object setup perspective it is more straightforward. The `Proxy` object makes it similar to v8 interceptors, except that you would use the latter only if you create flexible bindings where you don't know property names beforehand, like an object representing an ar

[2018-04-20 22:45] EdMaurer opened #5025 "Reduce recycler egregious allocation size limit from 2GB to something smaller"
We'd like to catch allocations that are too large, and 2GB is not aggressive enough. Please experiment with something much smaller.

[2018-04-20 23:41] gh-andre commented on #3293
@rhuanjl

Good to know. Thank you for mentioning. I managed to implement all properties via the `get` and `set` methods of a `Proxy`, but this did require extra work around member function calls because the target object and its member functions had to be wrapped in a `bind` call. Using `defineProperty` would be more straightforward indeed. I wish it was mentioned in the docs. I picked up the `Pro

[2018-04-21 01:25] #5015 closed

[2018-04-21 22:58] curtisman commented on #5025
Make sure it doesn't introduce interop issue.

[2018-04-22 21:08] curtisman commented on #5017
On windows, the TLS entry will be deleted when the thread exits.  That is by design.

[2018-04-23 08:56] Tigge opened #5030 "Using shorthand method name in constructor with super"
Using a shorthand method name in an object in a constructor with a super does not work in `Microsoft Edge 41.16299.371.0`, `Microsoft EdgeHTML 16.16299`. It results in a `Invalid use of the 'super' keyword` error.

Does not work (with shorthand method name):

[code]

Works (without shorthand method name):

[code]

[2018-04-23 10:01] Tigge commented on #5030
The same issue seems to happen on ChakraCore master as well:

[code]

[2018-04-23 15:29] sethbrenith commented on #5030
Thanks for reporting!

[2018-04-23 20:47] #4927 closed

[2018-04-23 21:52] EdMaurer opened #5031 "Add FailFast that triggers when commit reaches "unreasonably large" value like 3GB"
Should be something embedders can disable without rebuilding.

[2018-04-23 22:01] curtisman commented on #5031
@VSadov can you take a look at this.  Thanks.

[2018-04-23 22:09] VSadov commented on #5031
Will take a look. Can't assign to myself yet though...

[2018-04-23 23:35] igor-simoes commented on #3394
This inconsistency still exists.
V8, Spidermonkey and Javascriptcore throws the expected TypeError.

[2018-04-24 00:08] igor-simoes opened #5033 "Chakra should throw TypeError when try to set property of an object which has only a getter"
Hi everyone,
I found an inconsistency when we try to set a getter-only property of an object.

OS: Ubuntu 16.04 x86
Chakra: 1.9

Step to reproduce:
[code]
Actual results:
Error: Should throw TypeError

Expected results:
pass without errors

V8, SpiderMonkey and JavascriptCore throws a TypeError when attempted to assign to readonly property.

[2018-04-24 19:28] Funkwai opened #5037 "Occur argument passing error in interpreter mode in AArch64 Linux"
I modified some code to be able to compile and execute ChaKraCore in AArch64 Linux.
Currently, I run the following simple code in interpreter mode, but occur argument passing error when calling into function test(num)

  function test(num) {
    return num;
  }
  var sum = 1;
  for (var step = 0; step < 500000; step++) {
    sum += test(step);
  }

In this case, because of the parameter number is

[2018-04-25 04:05] igor-simoes opened #5038 "Unary plus with invalid hexadecimal value"
Hi everyone,
I found this inconsistency when I try to use unary plus with invalid hexadecimal value.

OS: ubuntu 16.04 x86
chakra: 1.9

Steps to reproduce:
[code]
Actual results:
Error: expected NaN but found 0

Expected results:
Pass without failures

According to documentation [Unary plus](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Unary_plus

[2018-04-25 15:38] obastemur commented on #5037
Please take a look at the https://github.com/Microsoft/ChakraCore/pull/4452

[2018-04-25 15:57] MSLaguana commented on #5033
Looks like the problem is we are considering the whole prototype chain to maybe find a setter, rather than discovering the non-settable property and stopping there (throwing an error).

[2018-04-25 16:37] jdalton commented on #950
Just a heads up chakra-node has shipped v10 so now beyond `util.inspect()` with `showProxy` not working there is also `util.types.isProxy()` which doesn't work either.

[2018-04-25 18:32] MSLaguana commented on #5033
In fact, it looks like it's to do with how we handle the shorthand getter there. If you change your declaration of `a` to be `var a = {length: 1}; Object.defineProperty(a, "0", {get: function () { return 1;}, enumerable: true, configurable: true});` then it works as expected.

[2018-04-25 18:47] MSLaguana commented on #5033
Actually, I had tweaked the case when I was playing around and I mislead myself. The actual difference here is that the `Array.prototype.fill` method is strict in v8, and non-strict in chakracore.

[2018-04-25 22:45] rhuanjl opened #5046 "Bug:Strict mode write to indexed getter only prop no error"
I would expect both of the below tests (1 and 2) to throw errors in strict mode, but only the 2nd one does.
[code]

eshost output:
[code]

[2018-04-26 00:31] liminzhu commented on #3293
@gh-andre I think I misunderstood your initial point. Indeed we don't have a interceptor API to bind callbacks on properties natively, but as you already know you can achieve this in JS by using Proxy or getters/setters, which in turn can be added through JsDefineProperty natively as pointed out by @rhuanjl . I think this is an interesting enough scenario to be covered by docs so I added a note [h

[2018-04-26 02:03] #3228 closed

[2018-04-26 03:12] tkiryu opened #5048 "Date.prototype.toLocaleString() - "月" character is missing when "month" is specified as "short" and "year" is not specified."
## Environment
- WIndows 10 Enterprise / 1709 / 16299.371
- Microsoft Edge 41.16299.371.0 / Microsoft EdgeHTML 16.16299
- IE 11.371.16299.0 / 11.0.6(KB4092946)

## Symptom
Both MS Edge and IE11 have problem with `Date.prototype.toLocaleString()`.
"月" character is missing  when `month` is specified as `short` and `year` is not specified.

#### OK when neither `month` nor `year` are specified.
[code

[2018-04-26 15:59] jackhorton commented on #5048
This looks like a format selection issue in Windows Globalization. @Microsoft/target-dev may be interested, but in Edge's case, there is not much we can do about this in currently-released versions of Windows.

_However_, you will be happy to know that the next version of Edge (releasing sometime later this year) will use ICU for Date.prototype.toLocaleString rather than Windows Globalization, and

[2018-04-26 19:28] jefgen commented on #5048
@jackhorton Do you have a pointer to where Chakra is obtaining the data from Windows Globalization handy?
This is likely due to how Windows.Globalization handles months when you specify "abbreviated" for the month style/type. It might be possible to modify Chakra to handle the case of the month all by itself, but handling the month + day (numeric) case would be trickery with WinGlob.
(Though this

[2018-04-26 22:24] jackhorton commented on #5017
Looks like this is a "known" issue: https://github.com/Microsoft/ChakraCore/blob/5f4fe230acc4c8e99dee252382b2b20ae1f0a0fd/bin/ch/ch.cpp#L813

[2018-04-27 20:33] jackhorton commented on #5048
I dont understand any of the WinGlob code and its all very roundabout, but it looks like we explicitly use month.abbreviated: https://github.com/Microsoft/ChakraCore/blob/ddf2d6a8075d7c4e0630255620eb4624a5fed790/lib/Runtime/Library/InJavascript/Intl.js#L3181

[2018-04-27 20:33] billti opened #5059 "uint16_t undefined with 1.8.3"
I'm seeing the same issue as #4320 again. Using the latest VS 15.7 preview, and referencing via the ChakraCore NuGet package in a C++ Console app, I get the below error (on the parameter `_In_ const uint16_t *content` in the declaration for `JsCreateStringUtf16`).

[code]

The fix at #4322 seems to have been changed, and now the inclusion of `stdint.h` (which defines the type) is only present in t

[2018-04-27 21:05] MSLaguana commented on #5059
Actually the issue is that #4322 put the fix into master at the time, which became part of release/1.9, while the nuget package is coming from release/1.8 still which doesn't have the fix. For now you can add the `#include <stdint.h>` to your project, but we should probably backport the fix to 1.8 so our next release doesn't have the same issue.

[2018-04-27 22:27] benjamin-bader opened #5062 "Linux build fails in FixedBitVector due to -wtautological-compare"
The macro `MAKE_MASK` uses a construct that clang 5.0.2 fails with `-werror`, which ChakraCore uses.  The expansion on line 299, along with the error, reads:

[code]

If I add `-Wno-tautological-compare` to the list of warning suppressions in CMakeLists.txt, the build appears to work.

I'm happy to make a PR if this is an acceptable workaround.

[2018-04-27 22:48] VSadov commented on #5031
Is that in addition to `JsSetRuntimeMemoryLimit` or to change the behavior to track committed memory?

I think it might be more common to care about committed size than about reserved VM.

[2018-04-27 23:37] MSLaguana commented on #5031
Currently we have configurable behavior on OOM; by default we failfast on OOM, so this might be exactly the right mechanism here.

[2018-04-27 23:57] jefgen commented on #5048
Thanks Jack.
I was going to suggest that you might be able to 'special-case' having a single "month" element all by itself within `EcmaOptionsToWindowsTemplate` to get it to work...
However it seems that "month.solo" isn't actually documented thought... :(
So I can't really suggest doing something that isn't even documented.
https://docs.microsoft.com/en-us/uwp/api/windows.globalization.datetimefo

[2018-04-28 00:31] VSadov commented on #5031
Yes, we do currently failfast on OOM. I can't find where the behavior is configurable though. Is that through some JsRt ?

[2018-04-28 00:38] MSLaguana commented on #5031
It's controlled through `EnableFatalErrorOnOOM` in https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/ConfigFlagsList.h#L1172

In debug and test builds you can pass flags to chakracore to toggle that value, but in release builds it looks like we don't allow configuring it without recompiling.

[2018-04-28 00:46] VSadov commented on #5031
Yes, just found it - `JsRuntimeAttributeDisableFatalOnOOM`

[2018-04-28 00:58] VSadov commented on #5031
`JsCreateRuntime` can pass the attributes. I do not think it requires rebuilding, but the behavior is set once the runtime is created. Host still can change the limit.

[2018-04-28 01:00] VSadov commented on #5031
I think we actually have all what is requested in the bug.

The only caveat is that the default limit is `-1` , which is `unlimited` and that is what documentation specifies, so I am not sure we want to change that.

Perhaps we just want to set the limit to be 3GB in `ch.exe` and tell hosters to do the same?

[2018-04-28 14:28] sethbrenith commented on #5062
Thanks for bringing this up! I'd much prefer to disable the warning for that line only, as described [here](https://stackoverflow.com/a/7897467), rather possibly missing important warnings by disabling it in CMakeLists.txt.

[2018-04-28 14:34] obastemur commented on #5062
Agree with @sethbrenith . Actually, back in the day, I had implemented a macro for that. ie see https://github.com/Microsoft/ChakraCore/blob/aaf454b8c6efeede0b940decfc087f36066ac8e4/lib/Common/TemplateParameter.h#L20

@benjamin-bader Thanks for bringing this up and appreciate if you may send a PR!

[2018-04-29 03:41] jackhorton commented on #5062
I can't find it right now but I remember seeing us disabling tautological compares before. I think this is a good change regardless since we use so many macros that this is bound to come up again.

[2018-04-29 10:34] benjamin-bader commented on #5062
There are a number of tautological warnings suppressed in CMakeLists.txt, which is why I suggested it.  I'm happy to make a more localized change, since presumably this warning can be useful in other situations - I'll make a PR on Monday when I'm back at my work computer.

[2018-04-29 23:02] fatcerberus commented on #5038
Note that the repro above is incorrect: it will always throw because nothing is === NaN, including NaN itself.

[2018-04-29 23:07] igor-simoes commented on #5038
Yep, my fault. Sorry about that.

[2018-04-30 01:05] gfablima opened #5065 "Reflect.getPrototypeOf(TypeError) should return the Error prototype"
Hi everyone,

when we try to get the prototype of an TypeError with Reflect.getPrototypeOf(TypeError) or Object.getPrototypeOf(TypeError) is expected that these functions should return the Error function.

OS: Ubuntu 16.04 x86
Chakra: 1.9

Step to reproduce:
[code]
Actual results:
expected: function Error() {[native code]}, got: function () {[native code]}

Expected results:
pass without failures

[2018-04-30 04:56] fatcerberus opened #5066 "Clang6: Build fails on Ubuntu 18.04 LTS"
Just installed Ubuntu 18.04 on a virtual machine and tried to build ChakraCore on it, got the following errors that caused the build to fail:

[code]

[code]

Don't know if there are any more errors since these two caused the build to abort.

[2018-04-30 05:01] fatcerberus commented on #5065
[code]

Behavior looks correct to me.

[2018-04-30 12:13] gfablima opened #5067 "Inconsistence when try to access an property inside the "with" scope"
Hi,
there's an inconsistence when we try to access an property inside the "with" scope.

OS: Ubuntu 16.04 x64
Chakra: 1.10.0.0-beta

Step to reproduce:
[code]
Actual results:
Error: expected: undefined, got: function f() {
  return "bar";
}

Expected results:
Pass without failures

V8 and Spidermonkey pass as expected, but Chakra and JavascriptCore returns the function f() inside "with" scope.

[2018-04-30 15:37] adudov opened #5068 "Global object with a custom prototype"
Is it possible to make a global object with a custom prototype?
If so, how?

[2018-04-30 16:18] jackhorton commented on #5066
This is a somewhat aggressive micro-optimization on my part when I was re-organizing this code for ICU recently. @obastemur , in the interest of unblocking 18.04, I can make a PR for this specific issue now.

[2018-04-30 16:36] jackhorton commented on #5065
@gfablima , were you running this test using Node-ChakraCore? If so, I believe this may be caused by our monkey-patching of the error object in order to support custom V8 APIs.

[2018-04-30 16:41] fatcerberus commented on #5066
I assume that going forward this would have affected any system with clang 6, not just Ubuntu 18.04 so it'll be good to get this fixed.

[2018-04-30 17:08] VSadov opened #5070 "var declaration in eval should conflict with outer block-scoped let declaration"
The following should be an error and it is an error in v8 and sm

[code]

We do handle this correctly when outer `let` is at the top scope, but not if it is in an intermediate block scope.

[2018-04-30 18:07] liminzhu commented on #5068
You can set prototype to any custom object you want through either JS or native in ChakraCore, given the host doesn't prevent you from doing this by e.g. freezing the global object.

[code]

or equivalently

[code]

[2018-04-30 18:25] #5059 closed

[2018-04-30 20:14] obastemur commented on #5066
@jackhorton sounds good and also PR looks good. Thanks!

[2018-05-01 02:53] baac opened #5076 "Chakra should throw SyntaxError when a variable is already declared inside the "with" scope"
Hi,

there is an inconsistency when a variable is declared twice as "var" and "let" inside the "with" scope. Chakra should not accept the redeclaration and indicate an error.

OS: Ubuntu 17.10
Chakra: 1.10.0.0-beta

Step to reproduce:
[code]

Actual result:
Pass without failures

Expected result:
SyntaxError: Cannot declare a variable twice

V8 and SpiderMonkey raises an exception as expected.

[2018-05-01 06:18] dilijev commented on #5048
In keeping with the rest of the issues that will be fixed when we finish the move to ICU, I'd recommend closing this issue and tracking under #3644

[2018-05-01 07:10] dilijev commented on #4730
@bterlson can you confirm whether tc39 has reached consensus here?

[2018-05-01 16:39] jackhorton commented on #5048
I vote not tracking it at all. It is fixed for all intents and purposes, its just a matter of getting all flavors of chakra/core to use ICU.

[2018-05-01 16:50] #5066 closed

[2018-05-01 17:41] #5038 closed

[2018-05-01 18:13] liminzhu commented on #5076
This looks like a variation of https://github.com/Microsoft/ChakraCore/issues/5070.

[2018-05-01 20:59] Cellule opened #5078 "WASM: Global SIMD incorrectly handled"
It looks like we don't handle global simd correctly.
It is unclear if global simd are allowed, but regardless we are missing explicit checks of the globals we support and this can lead to all sort of badness.
Either properly support global simd or make sure we have a compile error if the user tries to use global with the simd type

[2018-05-01 21:57] arunetm commented on #5078
ref: https://github.com/WebAssembly/simd/issues/9

[2018-05-01 22:38] vikrem opened #5079 "Raising an exception when promise rejection is unhandled"
I'm trying to replicate implementation-specific behaviour in ChakraCore to mirror behaviour found in v8.

In v8, a Promise that `.reject()`s, wherein the rejection lacks a handler, will cause an exception.
ChakraCore has a `JsHostPromiseRejectionTrackerCallback` hook to define host behaviour in this situation.

The ChakraCore docs (https://github.com/Microsoft/ChakraCore/wiki/JsHostPromiseRejectio

[2018-05-01 22:41] #3275 closed

[2018-05-01 22:41] #4953 closed

[2018-05-01 22:50] dilijev commented on #5048
Fair enough. Closing.

[2018-05-01 22:50] #5048 closed

[2018-05-01 22:59] lizhengxing commented on #5078
Hi, Cellule:
I will work on this issue. Could you assign it to me?
Thanks!

@arunetm FYI!

[2018-05-01 23:02] gfablima commented on #5065
I don't know if I'm running node-chakracore. I got the binary from master branch, running "./build.sh --static"

[2018-05-01 23:04] dilijev commented on #5079
As a simplification, let's take as an assumption that a spec-compliant host will not throw from that callback.

My understanding is that what should actually happen is that the callback is merely a means for the engine to **notify** the host that a promise rejection occurred (and whether the operation was 'reject' or 'handle'). The actual action the callback may take, then, is to schedule an event

[2018-05-01 23:15] rhuanjl commented on #5079
**Firstly a little background on why HostPromiseRejectionTracker should not create an exception:**
[code]
If your HostPromiseRejectionTracker implementation throws an exception the above code would error out which you probably wouldn't want as there is a handler in the code it's just later on.

**Note on the v8 Comparisons**
v8 on it's own shouldn't throw an exception here it should depend on the

[2018-05-01 23:37] tkiryu commented on #5048
I got it.

[2018-05-02 01:10] dilijev commented on #5076
I'm not sure this is a duplicate, since that has to do with `eval` and this has to do with `with`. @VSadov to confirm.

[2018-05-02 02:50] VSadov commented on #5076
I think it is a separate issue.
It may look related, but since the other one is in eval (and thus conflict check is deferred), the bugs will most certainly need different fixes.

[2018-05-02 03:46] digitalinfinity commented on #5065
It looks like this is controlled by the flag -ES6PrototypeChain which is defined as false in https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/ConfigFlagsList.h#L613. I'm going to have to ask around as to why this is false- if I run `ch -ES6PrototypeChain test.js` the test behaves similar to other engines. Without that flag, error constructor functions are provided the function protot

[2018-05-02 03:48] fatcerberus commented on #5065
Ah, that explains it: My runtime initialization includes `JsRuntimeAttributeEnableExperimentalFeatures` which presumably enables that flag (and, well, everything else).

[2018-05-02 03:51] digitalinfinity commented on #5065
@fatcerberus that makes sense 😄 - I'll follow up on whether we can turn this on by default. @gfablima does @fatcerberus's pattern work for you?

[2018-05-02 11:09] adudov commented on #5068
Thank you for the response, we do it exactly that way(via C++), but we have a problem:

We set the prototype of the global object to be the one of our window object.
We added a property called "window" to the global object with a value the global object itself.

We added some of the window methods like this:
[code]

and we have a page with the following:
[code]

The `setTimeoutCallback` method is

[2018-05-02 14:08] fatcerberus commented on #5079
The callback is not allowed to throw.  In practice you wouldn't want to anyway: You may get an unhandled rejection for a promise which has its handler attached later in the same tick it gets rejected.  For example you wouldn't expect this to crash your process:
[code]

For the above you get two calls to HostPromiseRejectionTracker:
1. "reject" for `Promise.reject()` (as it's indeed unhandled at th

[2018-05-02 14:36] fatcerberus commented on #5067
Isn't this the expected behavior?  `function f()` gets hoisted and since it's in global scope it's assigned to the global object to be picked up by `getOwnPropertyDescriptor`.  V8 and SpiderMonkey's behavior seems stranger to me.

[2018-05-02 14:40] fatcerberus commented on #5067
With that said, your repro crashes outright in Node.js v10:
[code]

[2018-05-02 16:01] dilijev commented on #2658
@kfarnung we have this catch-all for error message improvements. Maybe we can dupe any other error-message issues to this one and track as a group?

[2018-05-02 16:07] dilijev commented on #178
@sigatrev should we close as no repro?

[2018-05-02 17:38] liminzhu commented on #5076
I thought the other issue was let/var redeclaration in a block scope and has not much to do with eval?

You won't get an error even with

[code]

eval just avoids hoisting, but you get error all the same.

[2018-05-02 19:24] fasttime opened #5084 "No TypeError thrown in strict mode when Proxy set trap returns falsy"
As the title says. The following snippet should throw a `TypeError`, and it does so in most JS engines but not in Chakra/Edge.

[code]

I noticed this behavior in previous versions already, but could reproduce it in current `Microsoft Edge 42.17134.1.0` `Microsoft EdgeHTML 17.17134`.

[2018-05-02 20:17] dilijev commented on #5084
Confirmed repro:

[code]

[2018-05-02 20:26] dilijev commented on #5076
The issue with let/var redeclaration with eval is here: https://github.com/Microsoft/ChakraCore/issues/3405

[2018-05-02 20:28] dilijev commented on #5076
If there is no enclosing scope we correctly throw.

[code]

[2018-05-02 20:33] dilijev commented on #5076
In that case, this issue is exactly duplicate of https://github.com/Microsoft/ChakraCore/issues/849

[2018-05-02 20:35] dilijev commented on #5070
Confirmed with reduced to bare blocks and no try/catch

[code]

[2018-05-02 20:36] pleath commented on #5076
Yes, we should be raising an exception, but we fail to do that when the let is declared in a scope other than the one the var is being hoisted into (if that makes sense). We should not hoist the var past the let declaration without throwing redeclaration. @aneeshdk and I have discussed possible fixes.

The eval case is related, though as @VSadov says the fix will be rather different, so it probabl

[2018-05-02 20:45] dilijev commented on #5067
Confirmed behavior difference.

[code]

[2018-05-02 20:58] dilijev commented on #5033
Confirmed repro on Windows.

[code]

[2018-05-02 21:01] pleath commented on #5067
Chakra's is the behavior I would expect in sloppy mode. A binding for f is added to the global object.

[2018-05-02 21:03] dilijev commented on #5067
Maybe @bterlson can weigh in on spec?

[2018-05-02 21:20] gfablima commented on #5065
Hi @fatcerberus and @digitalinfinity.
Thanks for this workaround, it works with the flag -ES6PrototypeChain

[2018-05-02 22:10] dilijev commented on #5030
Confirmed repro. Looks like a parser issue for object-method syntax.

[code]

[2018-05-02 22:18] acaroliny opened #5087 "Chakra should throw TypeError if [[OwnPropertyKeys]] returns duplicate entries"
Hello,
according ES6 specification (https://github.com/tc39/ecma262/pull/833), the engine should throw a TypeError if ownKeys have duplicate entries.

OS = Ubuntu 17.10 x64
ChakraCore: 1.10.0.0-beta

Steps to reproduce:

var proxy = new Proxy({}, {
    ownKeys: function (t) {
        return ["A", "A"];
    }
});
var keys = Object.keys(proxy);

Actual results:
Pass without failures

Expected result

[2018-05-02 22:27] dilijev commented on #5087
Confirmed with spec:

https://tc39.github.io/ecma262/#sec-invariants-of-the-essential-internal-methods

From what I can tell it doesn't require that it throw a `TypeError`, but that seems reasonable.

[2018-05-02 22:40] fatcerberus commented on #5087
I personally would read that spec text as implying an exception of some sort should be thrown - otherwise why specify the invariant at all?

[2018-05-02 23:13] rhuanjl commented on #5030
@dilijev I've made a PR to fix this #5036

[2018-05-02 23:54] liminzhu commented on #5068
Yeah this is the same as https://github.com/Microsoft/ChakraCore/issues/3276. Basically a better description of what `args[0]` would be what's literally on the LHS. In your case if you call `setTimeout`, you'd get `undefined` as `args[0]`. Try `window.setTimeout` you will get `window` back.

I will update the documentation to make it more explicit.

[2018-05-03 04:41] gtk2k opened #5089 "Edge Screen Capture API. I got MediaStreamError(abortError)"
I made a [sample page](https://turbographics2000.github.io/screencapture_test/) of Edge's Screen Capture API and tried it, but in my environment a MediaStreamError (abort) error occurs.
It is said that it worked in friends' environment when friends tried it.
How can I solve this problem?
https://youtu.be/2-1l7QfPkXo

[2018-05-03 07:59] adudov commented on #5068
Thank you for the response.
But, it is not the same behaviour as in some other virtual machines, like V8 or JavaScriptCore. There if you just call a global object's method, i.e. if you call it plainly - you are getting the correct 'this' object(the global object).
It will be really very convinient for embedders.

[2018-05-03 15:56] RootUp opened #5090 "Static sized arrays may lead to overflows"
Hi Team,

This issue was observed while analysis of source code :
`https://github.com/Microsoft/ChakraCore/blob/master/pal/src/thread/process.cpp#L743`

Statically-sized arrays can be improperly restricted, leading to potential overflows or other issues (CWE-119!/CWE-120). Perform bounds checking, use functions that limit length, or ensure that the size is larger than the maximum possible length.

[2018-05-03 16:12] MSLaguana commented on #5090
Which statically-sized array are you referring to there? I see accesses to the environment (a null-terminated sequence of null-terminated strings) and a dynamically allocated buffer of pointers to those environment strings.

[2018-05-03 16:39] sethbrenith commented on #5090
Looks fine to me, since we use `snprintf` to ensure that any access to that array is restricted to valid locations.

[2018-05-03 17:12] RootUp commented on #5090
Then this looks fine to me, closing this issue!

[2018-05-03 17:12] #5090 closed

[2018-05-03 17:16] RootUp opened #5092 "No checks for overflow's"
Hi Team,

`https://github.com/Microsoft/ChakraCore/blob/master/pal/inc/pal.h#L4821`

Does not check for buffer overflows when copying to destination [MS-banned] (CWE-120).
Consider using snprintf, strcpy_s, or strlcpy (warning: strncpy easily misused).

Request team to please have a look.

Cheers!

[2018-05-03 17:39] MSLaguana commented on #5092
We don't use lstrcpy anywhere in our codebase, and we do actually mark it as deprecated to avoid accidental uses of it. It is defined in the PAL for completeness sake only.

[2018-05-03 19:51] rhuanjl commented on #5046
Traced this through, the set attempt reaches:
https://github.com/Microsoft/ChakraCore/blob/fb2dbf1469189d42cf6859401b553d692a962566/lib/Runtime/Types/ES5ArrayTypeHandler.cpp#L401-L412
Which returns true.

There's no handler there for the case of there not being a setter so it just ends up returning true - as a simple fix that appears to fix this can add an else case there that returns CantAssign()

[2018-05-03 20:00] rhuanjl commented on #5033
I had a quick look at this, and found two issues to solve in order to resolve it, I don't have a fix to submit but thought I'd write up for now in case it's useful:

1. similar to #5046 the set instruction reaches this point and finds no code to handle the situation of there not being a setter so just returns true:
https://github.com/Microsoft/ChakraCore/blob/fb2dbf1469189d42cf6859401b553d692a9625

[2018-05-03 21:31] dilijev commented on #5087
@fatcerberus yes I agree it implies we should throw something, I was just saying the spec doesn't specify that `TypeError` in particular should be that thing.

[2018-05-03 22:53] fatcerberus commented on #5087
Reading more into the specification text, it looks like the spec wants to treat violations as undefined behavior:

Based on this text, if the invariants are violated then the engine is basically free to do anything it wants as long as memory safety is assured.

On the other hand, the paragraph immediately afterward suggests leniency is not a valid interpretation of the aforementioned UB:

This is

[2018-05-04 04:32] fasttime commented on #5084
I think the relevant spec is in **PutValue** (6.2.4.9 step 6. c.): https://tc39.github.io/ecma262/#sec-putvalue

The **PutValue** operation itself is called when performing the assignment (12.15.4 step 1. f. in my example): https://tc39.github.io/ecma262/#sec-assignment-operators-runtime-semantics-evaluation

So it's not evaluating the trap that should throw an error according to the spec, but rat

[2018-05-04 16:51] jackhorton opened #5097 "Intl-ICU: "a".localeCompare(null) throws TypeError"
Noticed this while investigating nightly failures. Should be a simple fix.

[2018-05-04 20:37] lizhengxing commented on #5078
Hi, Michael:

   The initial PR for this issue was done. the implementation is based on Arun's proposal on github.
   1. In WebAssemblyInstance::LoadImports()
       a) Check the signature of the imported functions, if encounter a simd value, throw error.
       b) Check the imported variable type, if a simd value, throw error.

   2. In WebAssemblyInstance::CreateExportObject()
       a) Check th

[2018-05-04 20:42] lizhengxing commented on #5078
It seems that global exported simd variable will be checked earlier in WebAssemblyInstance::InitialGlobals().
In current WebAssemblyInstance::InitialGlobals(), it will throw the error when encountering simd or I64 variable.

Anyway, I still add the global simd variable checks in  WebAssemblyInstance::CreateExportObject().

[2018-05-04 22:19] #5030 closed

[2018-05-04 23:38] rhuanjl commented on #3798
The points being discussed here were fixed some time ago:
1. Revising function to do what the documentation said was considered here - but was not feasible:
https://github.com/Microsoft/ChakraCore/issues/4740
2. Therefore documentation for function was wrong, re-written in https://github.com/Microsoft/ChakraCore/pull/4739/
3. the actual behaviour of the function was slightly problematic corrected

[2018-05-04 23:41] michael-hawker opened #5103 "Unhelpful Error Message - Should be missing 'async' keyword instead of Expected ';'"
(Originally reported through VS forum, told to report here instead.)

If I have the following JavaScript Vue.js code in a UWP app:

[code]

Then I get an error message running my app:

    JavaScript critical error at line 94, column 19 in ms-appx://js/mycode.js \n\nSCRIPT1004: Expected ';'

(that's the line with the await on it)

The real problem is I'm missing the 'async' keyword on the line bef

[2018-05-04 23:50] fatcerberus commented on #3798
As @rhuanjl says above, the current behavior is by-design based on both the existing documentation and the result of the discussion in #4740 so I’ll close this.

[2018-05-04 23:50] #3798 closed

[2018-05-05 03:16] jackhorton commented on #5103
Agreed, that's a pretty lackluster error message. I imagine its because outside of async functions, await is treated like any other identifier name, so `function () { await call() }` no different than saying `function () { x call() }`. With that being said, Firefox seems to special-case this and provides a much better error as a result.

[2018-05-06 00:17] sethbrenith commented on #3406
Yes, this is in progress, so I'd recommend choosing a different feature to work on, but thanks for your interest!

[2018-05-07 09:14] forderud opened #5107 "Low delay playback of fragmented MP4"
Other browsers, like. Chrome, contains heuristics to reduce playback delay/latency when encountering fragmented MP4 files with unknown duration. This is typically encountered in live video streaming. Opening a such video will cause `"Video rendering in low delay mode."` to be displayed in the `chrome://media-internals/` page. Edge does not seem to support anything similar, and instead buffers exte

[2018-05-07 09:16] cyberphone commented on #149
Since this behavior breaks the now published https://tools.ietf.org/id/draft-erdtman-jose-cleartext-jws-00.html I would consider re-branding this as a bug.

[2018-05-07 11:43] rhuanjl commented on #149
I'll see if I can contribute a fix for this.

[2018-05-07 14:09] cyberphone commented on #149
That would be great!

There is now a 100 million test value file:
https://github.com/cyberphone/json-canonicalization/tree/master/dotnet/es6numberserialization

[2018-05-07 16:04] sethbrenith commented on #5107
Hi @forderud, thanks for the feedback! However, this is not a Chakra issue but an Edge issue- please open an issue at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/ and the Edge team members should be able to help you.

[2018-05-07 16:04] #5107 closed

[2018-05-07 16:13] forderud commented on #5107
Thanks.

The issue have now been moved to https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/17410767/

[2018-05-07 22:26] MikeHolman commented on #5092
Maybne we should consider removing from PAL so that no one accidentally uses it?

[2018-05-07 22:33] MikeHolman commented on #4844
@jackhorton does #5029 resolve this?

[2018-05-07 22:39] jackhorton commented on #4844
Yes, sorry.

[2018-05-07 22:39] #4844 closed

[2018-05-07 23:02] rhuanjl commented on #149
So I've taken a look and identified that in the following case within FDblToRgbFast:
https://github.com/Microsoft/ChakraCore/blob/2fb482839c651f4f599c837cdbd01585aec9479e/lib/Common/Common/NumberUtilities_strtod.cpp#L1805-L1814
The result frequently differs from what the other engines produce; the only reliable fix appears to be dropping down to the slow path when you would take this path; the met

[2018-05-07 23:05] MSLaguana commented on #149
I believe that @irinayat-MS looked into some of these issues recently

[2018-05-07 23:34] irinayat-MS commented on #149
Yes, please see https://github.com/nodejs/node-chakracore/issues/498 and #2512
Comments to 498 have the data on perf benchmarks if the fast path is replaced with precise.

[2018-05-07 23:43] rhuanjl commented on #149
The fix only requires dropping to the slow path in the case ```bHL - bLH > 1 ``` as per my comment above - I assume this won't impact benchmarks as badly?
It will effect only cases that involve the maximum number of digits and not quite all of those cases.
Though I guess this would need testing.

[2018-05-07 23:56] MikeHolman commented on #4893
Closing this since it has been inactive for a while. @stuart-beattie Feel free to reactivate if this is still an issue.

[2018-05-07 23:56] #4893 closed

[2018-05-08 01:53] jackhorton commented on #1549
Closing this since we have --no-icu in CI now.

[2018-05-08 01:53] #1549 closed

[2018-05-08 02:05] PhoebeHui commented on #4849
The toolset is released, you can could fix this issue.

[2018-05-08 02:12] jackhorton commented on #4885
Consensus here was that for the specific issue for which this bug was opened for, we shouldn't have been taking calendars into account when creating the date pattern, but also that we should be handling "r" as a new part type, `"relativeYear"`. I the former is fixed, but I will keep this open to track the latter.

[2018-05-08 02:13] PhoebeHui opened #5112 "Chakra failed with error C4596 when build with permissive- + MSVC on windows."
Chakra failed with error C4596 when build with permissive-  by msvc on Windows, I use latest source on master branch. Could you please help take a look at this? this issue involved by commit https://github.com/Microsoft/ChakraCore/commit/ff4d7e93aea9b8d2d5c6d1ff020def2a0055ee16

We reported multi similar issues last year, some fixed some are still occurred.

The issue in https://github.com/Microso

[2018-05-08 05:34] VSadov opened #5114 "AllocationPolicy should be made more straightforward to use"
From the issues found in https://github.com/Microsoft/ChakraCore/pull/5099  `AllocationPolicy` seems fairly confusing to use. Especially when external allocations are involved.

- it is not very clear what `AllocationPolicy` applies to. - Is it process-wide, per script host or per-thread?
This need to be made more apparent.
- it is not easy to obtain `AllocationPolicy`. There are several patterns

[2018-05-08 05:45] infinnie opened #5115 "Strict mode does not prevent implicit global variables from being created in Edge"
Evaluating
[code]
in Edge causes a global variable `aa` to be created, instead of an error being thrown.

User agent:
`Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.140 Safari/537.36 Edge/17.17134`

[2018-05-08 13:06] lmy375 commented on #5046
See code at `JavascriptOperators::ValidateAndApplyPropertyDescriptor`. It seems that when we define a getter to an object  a default setter, which is `JavascriptOperators::DefaultAccessor`,  will be set to the object.

[2018-05-08 15:32] fatcerberus commented on #5115
Okay so this works as expected when the code above is run normally:
[code]

However I can reproduce it with an eval (debugger eval in this case):
[code]

[2018-05-08 15:36] fatcerberus commented on #5115
The plot thickens.  It appears this doesn't actually create a global variable in the usual sense:
[code]

[2018-05-08 16:44] #4799 closed

[2018-05-08 16:46] zbraniecki commented on #4799
Congratulations! :champagne:

[2018-05-08 16:51] jackhorton commented on #4799
NumberFormat.formatToParts should go in today too :)

[2018-05-08 18:39] Cellule opened #5117 "typeof swallows too much exceptions"
According to [ecma typeof operator](https://tc39.github.io/ecma262/#sec-typeof-operator) we are never supposed to swallow exceptions.
Instead we should check if the reference exists, if not return `"undefined"` otherwise let all other exceptions flow.

[code]

[2018-05-08 18:40] rhuanjl commented on #149
Correction to my comment above to match the other engines the slow path is only required when:
```(bHL - bLH > 1 && (bHL + bLH) %2 != 0)```

So the change would be to change this:
https://github.com/Microsoft/ChakraCore/blob/2fb482839c651f4f599c837cdbd01585aec9479e/lib/Common/Common/NumberUtilities_strtod.cpp#L1805-L1814
To:
[code]
I can't make a more narrow condition than this I've tried looking

[2018-05-08 20:17] Cellule commented on #5117
There might be a perf factor where we didn't want to do a
```if (hasProperty(prop)) return getProperty(prop).type else return "undefined"````
and do instead
```try { return getProperty(prop).type } catch(e) { return "undefined" }```

[2018-05-08 20:39] dilijev commented on #149
@rhuanjl re: large test case -- we **could** archive this test case as a Slow test we run in our Nightly test suite, rather than every check in, but it's probably not necessary. A sampling of some of cases that were previously incorrect is probably sufficient to track regressions. Changes to this area could manually verify with the large test, and any other issues will be opened as new bugs.

[2018-05-08 22:50] pleath commented on #2334
This was done a while ago. Strings passed to the ScriptEngine entry point that parses setTimeout arguments get cached.

[2018-05-08 22:50] #2334 closed

[2018-05-09 02:05] infinnie commented on #5115
Yes, something like the `eval`-context.

[2018-05-09 02:53] infinnie commented on #5115
So
[code]
is compiled into
[code]

However, in the compiled result of the source code
[code]
`a` is correctly declared ahead of the function execution.

[2018-05-09 02:55] infinnie commented on #5115
Sorry for my having commented on the wrong issue 😿

[2018-05-09 18:04] #5097 closed

[2018-05-09 18:36] MikeHolman commented on #5114
Adding @curtisman @leirocks @atulkatti for visibility.

[2018-05-09 18:51] liminzhu commented on #5068
Sorry for the late response @adudov . I do appreciate the feedback, but it's a bit hard for us to do since this behavior existed for many years in both ChakraCore and Chakra and changing it may break some other folks (this is especially bad for Chakra b/c of windows backwards compatibility). We'd always want to interop with other VMs in terms of JavaScript support, for hosting APIs it's more of a

[2018-05-09 19:41] rhuanjl commented on #149
The code in my previous comment is the fix for this. But I'm going to hold off on submitting anything for now as it seems that some of the code here needs optimising before this fix (which will incur a performance cost) is added.

I will see if I can do something on optimising it but that's going to take more thought and be significantly more involved than the logical fix.

[2018-05-09 21:41] dilijev commented on #2964
Looks like there's a warning leftover:

test/Intl/GetCanonicalLocales.js:122:            // TODO (doilij): Investigate what is correct/allowable here (Microsoft/ChakraCore#2964)

Next time you're in the area, can you remove that?

[2018-05-09 22:08] jackhorton commented on #2964
I suppose. With that being said, the issue isn't exactly _fixed_, I just think its at a state where we don't need to care about it. There were active discussions during the last Intl meeting about the variability of the behavior here across engines.

[2018-05-09 23:48] kfarnung commented on #5115
@infinnie Can you provide a full-fledge repro? We weren't seeing this behavior in our console host (`ch.exe`), so more information would help narrow it down.

/cc @dilijev

[2018-05-10 00:56] infinnie commented on #5115
@kfarnung See @fatcerberus’s comment.

[2018-05-10 01:03] kfarnung commented on #5115
@infinnie We'd like to see a repro scenario in the browser, if possible.

Running the following script in `ch.exe`:
[code]

[code]

Which I believe is the expected behavior.

[2018-05-10 01:05] fatcerberus commented on #5115
@kfarnung The issue is specifically when the code is run using `eval` (or JsDiagEvaluate), it doesn’t repro when run as program code.

[2018-05-10 01:14] infinnie commented on #5115
So what’s the mysterious debugger-eval? @fatcerberus

[2018-05-10 02:16] MSLaguana commented on #5115
I believe that if you use an indirect eval that it may also reproduce in ch.

[2018-05-10 02:27] MSLaguana commented on #5115
I might be mis remembering; I can see it with this:

[code]

but I'm not sure how strictness is supposed to propagate within eval; if I add some `"use strict";` inside the eval, then it gives the expected error.

[2018-05-10 02:43] fatcerberus commented on #5115
@MSLaguana I can't reproduce using `ch.exe` and pure JavaScript `eval` (not even indirect) which is very frustrating.  Best I can tell the issue *only* manifests when one executes the code in the OP using `JsDiagEvaluate`.

[2018-05-10 02:52] fatcerberus commented on #5115
Repro in Edge console:
[code]

[2018-05-10 12:49] adudov opened #5127 "Problem with a custom object and 'instanceof'."
We have the following setup: (the objects are created but 'instanceof' does not work)

[code]
(where `SetChakraCoreProperty` just sets the property, `DefineChakraCoreProperty` defines the property with the descriptor and `MakeChakraCoreBooleanValue` creates a js bool variable)

In JavaScript we have the following:
[code]
Which results to 'false'.
What is the correct way of creating and setting an

[2018-05-10 15:10] igor-simoes opened #5128 "Chakra should throw an exception when evaluate an invalid "for" statement"
Hi everyone,
I found an inconsistency when try to evaluate a "for" statement without the body statement.

OS: Ubuntu 16.04 x64
Chakra: 1.10.0.0-beta

Step to reproduce:
[code]
Actual results:
[code]
Expected results:
[code]
I ran the second statement without  `eval` function and Chakra passes without throw an Exception also.
[code]
V8, SpiderMonkey and JavascriptCore works as expected.

cinfuzz

[2018-05-10 22:58] jackhorton commented on #5127
@MSLaguana and I discussed this and realized that it doesn't seem like this is possible today. We should be able to add some information to JsCreateEnhancedFunction callbacks to get the info needed for this, though.

[2018-05-10 23:03] MSLaguana commented on #5127
More specifically, it's not possible in an easy way.
What you need to do is set `Comment.prototype` as the prototype of the `jsObject` in your constructor, but the native constructor isn't given the js function object so there is a bit of a chicken-and-egg problem. You could pre-initialize your `Comment.prototype` object and pass a reference to that in the `callbackState` argument, and then after

[2018-05-10 23:18] rhuanjl commented on #5127
My friend @fatcerberus does this in his miniSphere game engine https://github.com/fatcerberus/minisphere
See this function:
https://github.com/fatcerberus/minisphere/blob/master/src/shared/api.c#L333-L392

It's a bit hard to follow directly as he wraps all of his Jsrt calls in an abstraction jsal layer designed to mimic duktape's api (except as jsal_methodName instead of duk_methodName) (as the en

[2018-05-11 01:56] dennis-yemelyanov opened #5134 "ScriptTerminated error not returned"
After disabling runtime execution the script completes successfully with no error, although I expect ScriptTerminated to be returned. This seems to be happening only when the script has no other commands to execute after runtime execution is disabled. For example, when I try this script, the error is printed as expected (here 'sleep' is a custom callback function that simply does Thread.Sleep, and

[2018-05-11 06:28] fatcerberus commented on #5134
If runtime execution is disabled *after* the script has already finished ("has no other commands to execute", as you say), why would you expect an error?  It indeed completed successfully.  I wouldn't want to be the person that has to debug time-traveling errors... 😝

[2018-05-11 06:32] fatcerberus commented on #5128
Sounds like overzealous ASI.

[2018-05-11 06:44] dennis-yemelyanov commented on #5134
I guess that depends on whether "return" statement should be considered as a separate command?

In the second example I would expect all execution to stop and "return 'Hello world!'" to never be executed, and an error to be returned instead (similarly to the first example, which has no return value, but has an error).

[2018-05-11 06:48] fatcerberus commented on #5134
Stopping runtime execution does depend on hitting designated breakpoints in the bytecode; I don’t remember where this is documented but I know it’s documented somewhere.  It’s probably just that `new Date()` causes such a breakpoint to be injected while the bare `return` doesn’t.

[2018-05-11 06:51] fatcerberus commented on #5134
Found it:
https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#runtime-resource-usage

“Shortly afterwards” in your second case just happens to be “after it’s already completed”.

[2018-05-11 07:14] dennis-yemelyanov commented on #5134
Thanks! Yeah I've seen this page before and I actually pass JsRuntimeAttributeAllowScriptInterrupt, but looks like it's not enough to cover this scenario. I guess this behavior does align with the documentation... Maybe there is really no reason for the runtime to treat a `return` specially. In the worst case I could probably add some meaningless operation right before the `return`, which would gu

[2018-05-11 07:44] infinnie commented on #5128
Reproduced on Edge.
OS: Windows
User agent:
[code]

[2018-05-11 09:51] adudov commented on #5127
Thank you all for the fast response.
I tried the @rhuanjl's suggestion and it worked.

[2018-05-11 14:31] fatcerberus commented on #5134
AllowScriptInterrupt from what I understand just adds a few extra guards in loops so that you don’t get stuck in an infinite loop.  You wouldn’t want one after every instruction or your code would run insanely slowly.

[2018-05-11 19:18] #5031 closed

[2018-05-12 00:31] liminzhu commented on #5134
@dennis-yemelyanov curious is there any reason you want termination to happen at a specific line? The common use case for resource management that the host shuts things down once a certain CPU/time threshold is crossed, in which case you don't really care which specific line of code termination happens.

[2018-05-12 00:38] Cellule opened #5141 "WASM - Limits"
Align with agreed upon limits
https://github.com/WebAssembly/spec/issues/607

[2018-05-12 01:37] dennis-yemelyanov commented on #5134
Thanks @liminzhu. In my case termination can be user-initiated, so if some command takes longer than expected and the user decides to cancel, I thought it would be nice to stop right after that command. But now I understand why it might not be possible without slowing the script down, and I think it makes sense.

[2018-05-12 03:06] liminzhu commented on #5134
Thanks for sharing!

[2018-05-12 03:08] liminzhu commented on #5134
Seems like the issue is resolved so I'm closing it, but feel free to re-open if you have any other issue with this.

[2018-05-12 03:08] #5134 closed

[2018-05-12 17:55] jdalton opened #5145 "exported class declarations are treated as hoistable declarations"
With the source here:

#### a.js
[code]
#### b.js
[code]
I would expect that loading a.js would throw an error when attempting to console.log("B",B), but instead B is resolved and the error occurs at console.log("c",c).

Spec via
https://tc39.github.io/ecma262/#sec-exports
https://tc39.github.io/ecma262/#prod-Declaration
the ClassDeclaration is not a HoistableDeclaration.

Repro https://jsbin.com/

[2018-05-12 21:17] rhuanjl commented on #4918
So I've had a look at this, I do not have a working fix but as I've taken a bit of time working through what the issues are posting them in case useful to anyone else looking at this.

**There are two different errors to look at in order to fix the above test:**
**Firstly - new boundProxy -> Reflect.construct -> throws**
1. Calling new on a boundFunction leads to:
BoundFunction::NewInstance creati

[2018-05-13 16:02] jdalton commented on #5145
Thanks @rhuanjl!

I think this was a case of me looking at an issue in flux, and limited time to evaluate the issue.
I'll close as invalid for now.

[2018-05-13 16:02] #5145 closed

[2018-05-14 15:16] #5127 closed

[2018-05-14 16:33] sethbrenith opened #5151 "newTarget ignored when constructing bound function"
The following test should pass.

[code]

If `newTarget` is supplied, it should be passed unmodified through all of these steps:

* [Reflect.construct](https://tc39.github.io/ecma262/#sec-reflect.construct)
* [Construct](https://tc39.github.io/ecma262/#sec-construct)
* Bound function exotic object [[[Construct]]](https://tc39.github.io/ecma262/#sec-bound-function-exotic-objects-construct-argumentsl

[2018-05-14 20:47] MSLaguana commented on #5127
I just realized that I misspoke before: The `callee` argument to the native function is the javascript function, so you could access `callee.prototype` and set that as the prototype of the constructed object, then you don't need to set up the prototype object up front if you don't want to.

[2018-05-14 21:13] fatcerberus commented on #5127
In my experience it’s better to use JsCreateExternalObjectWithPrototype from the get-go than to set the prototype afterwards; the latter is quite expensive.  I found this out when optimizing my own codebase, in native constructor-heavy code I was spending a significant amount of time in JsSetPrototype, switching to CreateObjectWithPrototype in these cases granted a significant speedup.

[2018-05-14 23:33] curtisman opened #5155 "Use different fail fast when hitting 3gb limit to improve watson bucketing"
Also identify whether the number of closed script engine is high and if the number of pinned object is high and use different fail fast functions as well.

[2018-05-15 00:56] boingoing opened #5156 "Support skip nested deferred for functions defined in parameter scope"
https://github.com/Microsoft/ChakraCore/pull/5133 added support for skipping nested deferred functions when undeferring but disables the optimization for functions nested inside parent functions with default arguments due to complications with function ordering for such parent functions.

It should be possible to get the nested function ordering correct such that these nested functions can also be

[2018-05-15 04:12] Funkwai opened #5159 "Can ChakraCore on MacOS be built for arm-Windows platform with VS 2017?"
Can ChakraCore on MacOS be built for arm-Windows platform using Visual Studio Community 2017? e.g. arm Chromebook

I import the Build\Chakra.Core.sln into VS 2017 on MacOS, and seems cannot build, occur "This project type is not supported by Visual Studio Community 2017 for Mac".

Thanks.

[2018-05-15 07:48] PhoebeHui commented on #5112
Similar issue that involved by https://github.com/Microsoft/ChakraCore/commit/9c8394ff8971fd7ad4bf60a4104fe66f0307cf21

Failures:
d:\chakra\src\lib\backend\IRBuilder.h(325): error C4596: 'GetEnvironmentOperand': illegal qualified name in member declaration
To fix this issue, please remove the 'IRBuilder::'

[2018-05-15 11:51] dimitrovp opened #5160 "Problem while switching contexts"
Hi all, I have a problem when I am trying to switch a context.
I have two contexts in a single runtime and everything is happening on the same thread, but when I am trying to change the current context the operation failed. I am using "JsSetCurrentContext" It seems that there is a running script in the active context and "ThreadContextTLSEntry::ClearThreadContext" returns false. What can I do to c

[2018-05-15 20:42] digitalinfinity commented on #5160
Can you share the callstack at the point at which you call `JsSetCurrentContext` please?

[2018-05-15 20:44] kfarnung commented on #5160
Hi @dimitrovp, do you have some sample code that reproduces the issue?

It sounds like you're trying to change the context from another thread.  Changing the context can only be done from the engine thread, so by definition no JavaScript code can be running when the call to `JsSetCurrentContext` occurs.

If you'd like to have a call from one context call into a function in another context you can

[2018-05-16 05:30] fatcerberus commented on #5160
Hypothetically, what happens if one calls `JsSetCurrentContext` during execution of a native host function which was called from JS code?

[2018-05-16 11:10] ragzovskii opened #5171 "Imported function is undefined"
Hello.
I have recently updated from Edge 16 to Edge 17 and now I began to experience issue with imports from momentjs. You can reproduce this issue easily. Assuming you have installed momentjs from npm, create two files:
**index.html**
[code]

**test.js**
[code]

This snippet works fine in chrome and edge 16, but fails in edge 17.

[2018-05-16 15:38] jackhorton commented on #5159
I haven't tested this yet but my initial guess is that Build\Chakra.Core.sln is not intended to work in VS for Mac (I was surprised to hear that VS for Mac uses .sln files at all). It has historically been used only on windows. Normally, we recommend using `build.sh` in the root of the repo for building ChakraCore on Linux and macOS (see https://github.com/Microsoft/ChakraCore/wiki/Building-Chakra

[2018-05-16 15:57] dimitrovp commented on #5160
Thank you @fatcerberus. @kfarnung my case is exactly what @fatcerberus has said.

[2018-05-16 16:03] pleath commented on #5067
Last I looked, V8 had left some aspects of block-scoped functions unimplemented due to compat concerns, though that may no longer be true.

[2018-05-16 16:28] MSLaguana commented on #5160
Calling `JsSetCurrentContext` when you are already in a context, even executing other JS, is fine. We do this in node-chakracore to implement `vm.runInContext`. There are some constraints, like if the GC is enumerating the heap then it fails, but that would give a relevant error code.

You mention that you are calling into `ThreadContextTLSEntry::ClearThreadContext`; what stack do you have there?

[2018-05-16 18:18] #4918 closed

[2018-05-16 18:18] #5151 closed

[2018-05-16 21:44] kfarnung commented on #5171
@boingoing Do you have any idea what changed here?

[2018-05-16 22:01] #2607 closed

[2018-05-16 22:02] #1794 closed

[2018-05-16 22:07] #2611 closed

[2018-05-16 22:11] #2575 closed

[2018-05-16 22:12] ragzovskii commented on #5171
While looking up solution for this strange bug, I learned, that issue may be caused by exception in imports. E.g. if imported js has exception in it, it may fail silently and result in undefined export. I have no idea why exception is swallowed in this case.

[2018-05-16 22:14] kfarnung commented on #2837
Ping @mrkmarron

I know we've made a bunch of improvements in dev inner loop TTD for node-chakracore. I think these would also be applicable to ChakraCore.

VS Code extension for node-chakracore TTD: https://marketplace.visualstudio.com/items?itemName=ttd-trace-tools.node-chakracore-time-travel-debugger

[2018-05-16 22:31] #963 closed

[2018-05-16 22:32] #1597 closed

[2018-05-16 22:34] kfarnung commented on #342
@digitalinfinity Is this still something we want?

[2018-05-16 22:53] rhuanjl commented on #4068
I'm going to close this issue - as really the key point was resolved in 4080 as I noted above.

The remaining point was just that some error messages aren't great but they're not terrible either and I couldn't see a way to present a more helpful message without some invasive changes which seemed more effort than they were worth.

[2018-05-16 22:53] #4068 closed

[2018-05-17 03:17] Penguinwizzard commented on #2944
Yeah; although it'd be nice, the added value is very little compared to the needed increase in testing complexity.

[2018-05-17 03:17] #2944 closed

[2018-05-17 05:32] mrkmarron commented on #2837
+1 Yes, the support we have for inner-loop TTD in Node should also work for the React case as well.

[2018-05-17 05:56] fatcerberus opened #5178 "Uninformative error message for extra semicolon in method chain"
It's common in JavaScript to find method call chains like the one below, particularly when using query libraries like Lazy.js or jQuery:
[code]

If one accidentally adds an extra semicolon in the middle of such a chain--a mistake I myself make way too often--like so:
[code]

The resulting error message is pretty much as vague as they come:
[code]

[2018-05-17 06:00] fatcerberus commented on #5178
For comparison, Node.js prints in this case:
[code]

While I think I would ultimately prefer flagging the previous line with "unexpected semicolon", this is still infinitely better than ChakraCore's error message.

[2018-05-17 15:38] dimitrovp commented on #5160
Sorry guys but I have one more question about JsSetCurrentContext.
When can I use JsSetCurrentContext(nullptr or JS_INVALID_REFERENCE)?

[2018-05-17 15:50] dimitrovp opened #5179 "Switching a context from different runtime while running a script"
Hi all :)
Is it possible to make a native function call from one context where the native function makes a call which switches the context and the runtime? In this example, every context has a different runtime and everything happens on the same thread.

[2018-05-17 15:55] fatcerberus commented on #5160
It's safe to do that as long as there are no JavaScript functions on the callstack of the thread making the call.

Note `JS_INVALID_REFERENCE` is ultimately just an alias for `nullptr`.

[2018-05-17 15:56] fatcerberus commented on #5179
I'm not positive but I think you can only have one runtime per thread.

[2018-05-17 15:58] MSLaguana commented on #5160
The main restriction on `JsSetCurrentContext(JS_INVALID_REFERENCE)` is that no script can be on the stack at the time. Note that if you do change the running context and you don't make sure to add a reference to the previous context, it may be GCd and go away.

I think that typically we expect that you'll do it when the javascript session is over (e.g. in node-chakracore it happens once the progra

[2018-05-17 16:03] fatcerberus commented on #5171
I'm not able to reproduce in miniSphere (throwing in any module causes the engine to crash with an uncaught exception), so this sounds like an Edge bug.

[2018-05-17 16:04] MSLaguana commented on #5178
If you use `JsGetAndClearExceptionWithMetadata` then you can get some additional information, including the line that caused the issue and the location on that line. With that, a host can produce an error looking like this (from node-chakracore):

[code]

However I do agree that it'd be nice if the error was more descriptive.

[2018-05-17 16:07] fatcerberus commented on #5178
Right, the issue is when the method chain is on multiple lines, then that error looks more like
[code]
Which is misleading.

[2018-05-17 16:11] ragzovskii commented on #5171
Are you suggesting me to report this to the Edge issue tracker?

[2018-05-17 16:12] fatcerberus commented on #5171
Yes, this doesn't seem to be a bug in ChakraCore per se.

[2018-05-17 16:27] MSLaguana commented on #5179
Why do you want to have multiple different runtimes running in the same thread? The runtime includes things like the recycler (aka garbage collector), and I'm not sure I can see a reason to have several of those shared resources around.

To answer the other parts of your question: Yes it is possible to have a native call made from one context switch to another context and call back into javascript

[2018-05-17 17:49] igor-simoes opened #5182 "Chakra throws SyntaxError if RegExp pattern has a quantifier prefix with a long number"
Hi everyone,
Chakra throws a SyntaxError when I instantiate a RegExp class with a pattern that have a long number quantifier prefix, the same occurs with the regular expression literal.

OS: Ubuntu 16.04 x86
Chakra: 1.10.0.0-beta

Step to reproduce:
[code]
Actual results:
[code]
Expected results:
[code]

V8, SpiderMonkey and JavascriptCore works as expect.

Maybe this stderr output can help to deb

[2018-05-17 20:25] igor-simoes opened #5187 "Chakra cannot override RegExp.prototype.exec property"
OS: Ubuntu 16.04 x86
Chakra: 1.10.0.0-beta

Step to reproduce:
[code]
Actual results:
[code]
Expected results:
[code]

V8, SpiderMonkey and JavascriptCore works as expected.

cinfuzz

[2018-05-17 21:08] rhuanjl commented on #5128
Was thinking of trying to fix this but first I took a quick look at it with eshost:
Firstly without eval none of the 4 throw an error:
[code]
Then with eval CC still throws no error but the others do throw errors:

[code]
It seems that with no eval present all 4 engines happily apply ASI  whereas without an eval only CC applies ASI - IMO CC's behaviour seems more logical than the other 3 engines h

[2018-05-18 06:45] dimitrovp commented on #5160
Thank you very much, guys :)

[2018-05-18 06:45] #5160 closed

[2018-05-18 06:46] dimitrovp commented on #5179
Thank you, guys :)

[2018-05-18 06:46] #5179 closed

[2018-05-18 08:46] QuellaZhang opened #5189 "Chakra failed with error C2760 when build with permissive- by msvc on Windows"
Chakra failed with error C2760 when build with permissive- by msvc on Windows, I use latest source on master branch. Could you please help take a look at this? Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

**You can repro this issue as the steps below:**
 1.git clone -c core.autocrlf=true https://github.com/microsoft/C

[2018-05-18 15:35] dimitrovp opened #5190 "JsCollectGarbage doesn't do a garbage"
Hi, all again :)

I have a problem with the garbage collection.

I need to create and destroy a lot of contexts which use one runtime and after that,
I want to uninitialize my system where I am trying to invoke  JsDisposeRuntime,
but it seems that on "ClearObjectBeforeCollectCallbacks" there are still data, but all my resources and data is released.

When I destroy a context I just release it and

[2018-05-18 15:49] MSLaguana commented on #5190
Because we have a concurrent GC, it is possible that a GC was triggered in the background earlier on, and then the `JsCollectGarbage` call may just wait until that collection has finished. In that case, when the collection started the object was still reachable, so it was marked and not collected.

I suspect that if you add a second call to JsCollectGarbage that it might end up calling your finali

[2018-05-18 17:23] VSadov opened #5191 "Temporary disable asserts in AllocationPolicyManager"
It appears that we have some rare cases when allocation/free reporting to the allocation manager is not balanced. That causes spurious failures in integration tests.

It does not look like a recent regression. We only started seeing this because we have enabled allocation manager in more scenarios.

At this point we know that there is a problem, so let's disable the asserts temporarily to not bloc

[2018-05-18 18:09] akroshg commented on #4919
@psavur thanks for reporting this issue.
It is fixed now.

[2018-05-18 18:09] #4919 closed

[2018-05-18 19:08] dilijev commented on #2837
@mrkmarron is it fair to say we can close this issue now?

[2018-05-18 19:59] mrkmarron commented on #2837
Yes, I think we can do that.

[2018-05-18 21:49] MSLaguana opened #5196 "Declarations involving destructuring return the wrong value"
This is most obvious in repl type environments, but you can also see it with eval:

[code]

In v8 and spidermonkey this results in undefined, while in chakracore it prints the value of the right hand side.

[2018-05-19 04:57] ppenzin opened #5199 "FreeBSD port"
Encouraged by [a comment in ByteSwap.h][b], I am trying to understand what it would take to build ChakraCore on FreeBSD.

I understand that this might not be a priority, but I will appreciate any pointers or suggestions.

[b]: https://github.com/Microsoft/ChakraCore/blame/master/lib/Common/Common/ByteSwap.h#L72

[2018-05-19 14:38] viccon opened #5200 "Build Error on Microsoft Visual Studio Community 2017"
Clone the latest ChakraCore and build,
[code]
But the https://github.com/Microsoft/ChakraCore/releases/tag/v1.8.4 build properly without any error,
IDE: Microsoft Visual Studio Community 2017  Version 15.7.1
OS: Windows 10

[2018-05-20 00:29] justinfagnani opened #5201 "Cache template literals per site, not by contents"
Template literal caching was changed in https://github.com/tc39/ecma262/pull/890 to cache per source location, rather than by literal string contents.

V8, SpiderMonkey and JSC all seem to implement the new semantics.

This behavior is very important to template tag functions that caching work based on templates.
  1) Because with the old global behavior keying by template literal would cause a me

[2018-05-20 04:31] VSadov commented on #4839
It seems it depends on what is more frequent - creating/destroying the projections or comparing their identities. If comparing is common/important enough, then having "uniqueness" map could be worth it.

It is also likely that a duplicate projection has larger memory footprint than an entry in a map would have. It all depends on the actual use patterns, but if "duplicate" projections are common oc

[2018-05-21 04:46] digitalinfinity commented on #5199
Hi @ppenzin - my advice would be to just try it out and see what you run into- we currently depend on clang 4, libc and ICU60. Additionally, a lot of platform specific code is abstracted away under /pal, which was forked from the CoreCLR which does support FreeBSD.

I don't know the details of differences between FreeBSD and Linux but if those components are available on FreeBSD, the port shouldn'

[2018-05-21 06:02] ppenzin commented on #5199
@digitalinfinity thanks for the reply! Clang is used to build FreeBSD (11.1 comes with clang 4), and something ICU related is available, I would need to check. Unless there is a dependency on a specific LIinux feature or on a library that is hard to build, it should work.

So far I am sorting through undefined errors due to differences in build process. I did enable byteswap the way @obastemur sug

[2018-05-21 07:27] dimitrovp commented on #5190
I've tried to call JsCollectGarbage twice but the result is the same.

Is it possible to force garbage collection for a certain context or how can I force all finalizers for a certain context?

[2018-05-21 12:55] igor-simoes opened #5203 "Chakra throws a SyntaxError on for...in statement"
Hi everyone,
it was observed that Chakra throws a SyntaxError when we use the `for...in` statement with `yield` inside a generator function.

OS: Ubuntu 16.04 x64
Chakra Version: 1.10.0.0-beta

Step to reproduce:
[code]
Actual result:
[code]
Expected result:
[code]
V8, SpiderMonkey and JavascriptCore works as expected.

[2018-05-21 16:12] MSLaguana commented on #5190
GC isn't managed per-context, it is per-runtime. The Recycler doesn't really care what context something comes from, the only way that the context plays into things is that the current context is considered to be reachable, while others won't be unless you `JsAddRef` them or similar. Are you sure that there are definitely no references to the context sticking around, perhaps on the stack? I know o

[2018-05-22 07:39] ragzovskii commented on #5171
5 days without any reaction on edge issue tracker. Do you have influence on issue tracker team? I would appreciate if someone would take a look, pretty serious issue.

[2018-05-22 17:06] rhuanjl commented on #5203
I had a quick look at this to see if it was an easy fix I could submit a PR for. It doesn't appear to be.

But for reference if anyone else is looking at it here's what I found:

This gets to: ```Parser::ParseTerm``` having just parsed the ```yield``` keyword however ```Parser::ParseTerm``` has no case for handling a term beginning with the ```in``` operator hence the Syntax error.

I note that
[c

[2018-05-22 17:08] rhuanjl commented on #5159
I had a go at this quickly, running build.sh on a mac doesn't seem to allow targeting windows - well it tries but the build fails, not sure if it's designed for that.

Easy enough to build for mac on a mac and easy enough to build for windows on windows - but can't see a working way to build for windows from mac.

[2018-05-22 17:10] rhuanjl commented on #5178
@MSLaguana I was thinking it may be good to add nicer error messages for most of the instances of ERRsyntax within parse.cpp would a PR to add ~20 more specific error messages be welcome? If yes I will prepare one. If no I could do just this one (assuming it would be wanted).

[2018-05-22 17:12] akroshg commented on #5203
@rhuanjl it's all yours if you want to submit PR for this.

[2018-05-22 17:16] rhuanjl commented on #5203
I'll see if I can fix this but it may be a bit beyond me - I know where the fix needs to go but I don't yet know what it needs to do

[2018-05-22 18:20] boingoing commented on #5178
There are typically no compat issues related to the contents of error messages. We have a lot of syntax error messages in our test baselines which will probably need to be updated, though.

[2018-05-22 18:58] sethbrenith opened #5210 "optional catch binding"
[This proposal](https://github.com/tc39/proposal-optional-catch-binding) is now in stage 4, and is being used in node.js core.

[2018-05-22 22:19] dilijev commented on #5182
RegexParser.cpp

[code]

CommonTypedefs.h

[code]

We don't support strings longer than `MaxCharCount`, so coding a range check into a regex for some specific repeat count which would require a string longer than `MaxCharCount` to satisfy is not going to be helpful for your program.

Perhaps this error could be more helpful (it's really more of a RangeError than a SyntaxError).

IMO an error here

[2018-05-23 08:06] #5200 closed

[2018-05-23 14:48] dimitrovp commented on #5190
No, there are no references to the context. OK thank you. It seems that I can't trust on JsCollectGarbage and I will try to figure out how to deal with it

[2018-05-23 14:48] #5190 closed

[2018-05-23 19:29] rhuanjl commented on #5171
I'm not a member of the team but I've had a quick look at this - I think the change in behaviour between Edge 16 and Edge 17 does relate to a CC change.

Specifically this change: https://github.com/Microsoft/ChakraCore/pull/4574
This change among other things reversed the load order for ESModule dependency trees.

I actually think this is an error in the ESM version of the moment library which wa

[2018-05-23 22:36] rhuanjl commented on #5178
OK I'll put something together to improve this and a few other error messages.

[2018-05-24 07:27] ragzovskii commented on #5171
I re-tested that code in latest firefox 60.0.1, it works (logs function to console):
![image](https://user-images.githubusercontent.com/1575279/40469416-23b69f40-5f39-11e8-8bb6-2f10ed29f3f0.png)
I checked this in safari, on virtual machine in saucelabs, it works. My colleague also tested this piece on macbook, he says console displays this method. He didn't see it first, because filter was enabled

[2018-05-24 11:36] rhuanjl commented on #5171
Hmm my tests were in latest Firefox and latest Safari on macOS, curious that it wouldn’t work for me but does for you)

That aside using node as a comparator i’ll see if I can discover why the execution order is different in current CC and if/how it can be changed to work in this case.

(Note i said above i’m not a member of the team , to clarify further i’m not from Microsoft, I’m just an externa

[2018-05-24 16:18] sethbrenith opened #5225 "Exception when constructing proxied class"
Minimum repro:

[code]

My VSO branch user/sethb/bound-class-2 has a bunch of new test cases based on suggestions in #5218. I think all of the failures boil down to this same problem. Reflect.construct passes new.target as an extra arg on the end, but the class constructor expects new.target as arg zero. Proxy probably needs to be responsible for putting the argument in the correct place when call

[2018-05-24 22:41] rhuanjl commented on #5171
OK dug a little and got a simple proof of concept for the incompatibility - note the error being encountered above is due to modules being executed in the wrong order.

[code]

When ChakraCore runs mod.js as a module it will print:
[code]
Conversely when v8 runs it it will print:
[code]

CC reverses the order but I can't at the moment see how exactly the code causes the reversal. (Note it is nothi

[2018-05-25 13:33] rhuanjl commented on #5171
@kfarnung if I can fix this would it be possible to get a bug fix into edge 17 at this stage?

[2018-05-25 14:52] fatcerberus commented on #5203
This is legal syntax?

[2018-05-25 14:58] fatcerberus commented on #5182
The other engines don’t throw in this case (it’s a legal regex even if it can’t be satisfied due to technical limitations on string length) so that seems like a compatibility issue by definition.

[2018-05-25 15:03] fatcerberus commented on #5128
I don’t think ASI should apply here at all: if you put the offending code into a function block then all engines will produce a syntax error.

[2018-05-25 16:28] kfarnung commented on #5171
Ping @digitalinfinity for that question.  I think at this point a fix like that would be targeting the next release of Edge.

[2018-05-25 21:11] rhuanjl commented on #5171
@ragzovskii I've looked at this more and have a few things for you:
**1. A possible workaround in your example above try adding**
[code]
Before importing getSetHour. This extra import changes the import order and should cause it to resolve - bit awkward but seems to work.

**2. Follow up question - where you actually doing**
[code]
Without a different import first successfully in edge 16? - I've t

[2018-05-26 10:01] ragzovskii commented on #5171
I was importing moment (option 3), yes. Then I was able to narrow down the test case to importing single method which I reported here.

As a workaround we are using bundles now, but hoping modules will work soon.

[2018-05-26 10:05] rhuanjl opened #5236 "Module function exports not hoisted"
Raising this as a separate issue from #5171 though it's related. #5171 was specifically talking about a regression - the only change having been module load order.

But this is the reason why the load order mattered in that case - in CC module function exports are not treated as hoistable exports. (In fact I don't think CC has a concept of a hoistable export)

Illustration:
[code]
Results
1. Load

[2018-05-26 15:34] rhuanjl opened #5237 "Module imports in ch should be relative to the current module"
For comparison of esmodule behavior to any other environment imports should really be relative to the current module. (e.g. to investigate #5171 I had to use @fatcerberus miniSphere as my test harness to be able to try and load the ESM version of moment.js as it assumed relative imports so could not test in ch)

Currently in ch all imports are relative to the CWD instead.

I note that there was a

[2018-05-27 10:46] symeonp opened #5239 "Cannot instrument libChakraCore.so with AddressSanitizer"
Hi team,

Quick question, I've spent many hours trying to compile the shared library with AddressSanitizer, however I'm not having luck. Am running on Ubuntu 16.04.4 x64 with clang 7 using the following command:

```./build.sh --cxx=/usr/bin/clang++ --cc=/usr/bin/clang --sanitize=address```

Once the compilation is finished am getting the following error:
[code]

Running the nm command reveals tha

[2018-05-27 23:35] rhuanjl opened #5240 "Proposal: implement seperate/additional module API for node-chakracore"
Note, I have a working implementation/proof of concept of this proposal that passes all existing module tests.
See this commit for CC changes https://github.com/rhuanjl/ChakraCore/commit/db4daf7b1e21c952c6bd256291f987f0fd428069 and
See this commit for adding it to ch https://github.com/rhuanjl/ChakraCore/commit/cb316f62575ed02920bc774cc87663d3daa6790a

**Background**
I spent some time looking at w

[2018-05-28 05:10] MSLaguana commented on #5240
@liminzhu what do you think of this?

[2018-05-28 18:40] jackhorton commented on #5239
@Penguinwizzard IIRC you had acknowledged issues with *SAN on the shared version of ChakraCore, right? Was that ever resolved?

(I believe our workaround is to compile ChakraCore as a static library to use the clang sanitizers, if it is blocking you).

[2018-05-28 19:01] jackhorton commented on #5199
For what its worth, ICU _should_ work on FreeBSD without too much fanfare. I would be happy to know what issues you run into with it :)

[2018-05-29 03:31] arjunasuresh3 opened #5241 "Code cache"
Is there any plans to implement code cache which is used by V8 (https://v8project.blogspot.in/2015/07/code-caching.html)?

[2018-05-29 05:49] fatcerberus commented on #5241
I think that’s what the `JsSerializeScript` API is for, see this page:
https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview

[2018-05-29 06:12] PhoebeHui commented on #5112
Similar issue in d:\chakra\src\lib\backend\lower.h:
d:\chakra\src\lib\backend\lower.h(365,48): error C4596:  'HoistIndirOffset': illegal qualified name in member declaration
d:\chakra\src\lib\backend\lower.h(366,53): error C4596:  'HoistIndirOffsetAsAdd': illegal qualified name in member declaration
d:\chakra\src\lib\backend\lower.h(367,56): error C4596:  'HoistIndirIndexOpndAsAdd': illegal qualif

[2018-05-29 08:45] symeonp commented on #5239
Hi Jack, thanks so much for your reply!
Well, I think the ```build.sh``` script does also compile the library as static, however I'm not quite sure if I can then use the ```ch``` binary as well. Let's see if @Penguinwizzard has a workaround for this!

[2018-05-29 18:11] Funkwai opened #5243 "Source code is missing for arm64 build"
I'm trying to make ChakraCore running on arm64 properly. Although it seems to ChakraCore doesn't support arm64 officially (at least can't build for arm64 using build script), but the codes for arm64 is almost ready in code base except for unixasmmacrosarm64.inc is used by others but doesn't exist in the project.

What is the good way to complement these missing files to ChakraCore code base? Can't

[2018-05-29 20:32] rhuanjl commented on #5240
Thanks for the comments @MSLaguana I understand not wanting to make CC more like v8 - in particular for this case as I note above I think the existing CC module API is nicer than v8s.

It's just that for node-chakracore shimming v8's behaviour on top of the existing CC API will be beyond difficult - hence the proposal here of implementing this secondary module loading pathway/extra APIs basically

[2018-05-29 21:33] liminzhu commented on #4745
Btw sign-extension ops moved to phase 4 this morning so I updated your table.

[2018-05-29 22:50] Penguinwizzard commented on #5239
@jackhorton Yeah, we have issues with *SAN in shared builds, and the workaround is just to pass `--static` to `build.sh`. There hasn't been a resolution since it doesn't come across as too significant of an issue (we don't really have any significantly different behavior in static builds, afaik).

[2018-05-29 23:33] MikeHolman commented on #5243
I assume you're trying on Linux? Arm64 support is only available on Windows right now. We haven't done any work for arm64 support on xplat.

[2018-05-29 23:36] MikeHolman commented on #5241
In some scenarios we already cache bytecode, and @boingoing has been working on improving this and getting this hooked up for normal websites in Edge.

[2018-05-29 23:48] boingoing commented on #5241
Yes, we have such plans. Please check out the `JsSerializeParserState` and `JsRunScriptWithParserState` APIs for details on the implementation and how to use this in ChakraCore. We are working on enabling this feature for Edge as well.

[2018-05-30 01:13] liminzhu commented on #5240
// cc @digitalinfinity

Appreciate the writeup @rhuanjl !

I'm similarly uninformed on how v8 module API works but I assume once we start working on module support for Node-ChakraCore someone will take a look at V8 APIs and form an educated opinion on the matter (I'd love to weigh in once I got some cycles to study how v8 and node work as well). For now, I share similar concern as @MSLaguana .

On

[2018-05-30 01:29] liminzhu commented on #5243
@MikeHolman We should document how to build on arm64 since we didn't talk about in [Building ChakraCore](https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore#platforms). Who is familiar with it?

[2018-05-30 01:38] MikeHolman commented on #5243
@sigatrev @Penguinwizzard would know best.

[2018-05-30 16:57] fatcerberus commented on #4733
@JohnMasen Not too familiar with how this looks under the hood but I assume ChakraCore just avoids creating an `arguments` object at all if it’s not referenced in the function (creating this object for every function call is expensive, especially for non-strict functions where it has “magic” behavior).  In case of a direct eval the engine no longer knows this for sure and creates `arguments` to pl

[2018-05-30 22:09] dilijev commented on #4774
Lowering severity since this bug is understood as the "expected" worst case for regex backtracking (other engines seem to have optimized this particular case in a way not necessarily expected of a regex evaluator) and it is not a critical issue.

[2018-05-30 22:11] dilijev commented on #5182
True, and as a second pass, it therefore seems fine to do

[2018-05-30 22:13] dilijev commented on #5187
Most likely has to do with this property being `configurable: false`

[2018-05-30 22:16] dilijev commented on #5196
See "completion record" in the spec.

[2018-05-30 22:17] dilijev commented on #5196
[code]

[2018-05-30 22:29] rhuanjl commented on #5240
@liminzhu thanks for the comments couple of things to note:
1. I don't think wasm interop should have any significant impact on these sorts of changes - as this is to do with controlling the list of modules you need to load and the order you load not really how you load them.

2. To be clear I was/am offering to make a PR to implement ESModules in node-chakracore if this suggestion is accepted - i

[2018-05-30 23:11] Penguinwizzard commented on #5243
No clue about license issues; @liminzhu, do you know more on that? Since that's where we got the pal originally, I suspect that it'll be pretty straightforward to get the new files, although we may want to more generally update the pal, since they've done other work in there in the meantime.

[2018-05-30 23:15] MSLaguana commented on #5243
We have touched the PAL ourselves as well though, so taking a larger update from elsewhere might not be trivial.

[2018-05-30 23:18] dilijev commented on #5191
@VSadov did that PR complete this task, or is this tracking the bug?

[2018-05-31 00:06] dilijev commented on #5017
@leirocks @curtisman Since this is by design, should we close this issue?

[2018-05-31 03:18] curtisman commented on #5017
Seems to be a xplat only issue.

[2018-05-31 05:45] jackhorton commented on #5017
Well, by design may be a bit aggressive, since the design seems to be "we don't know how to do this on xplat right now". If there is a comment in the code base acknowledging that there is an issue, I think there should be an actual open issue for it.

[2018-05-31 08:53] XadillaX commented on #1435
https://github.com/ry/deno

[2018-05-31 17:38] VSadov commented on #5191
@dilijev yes it did and I kept the bug to track that the assert will be eventually enabled. Considering that it is enabled in internal branch as of today, we can close the bug.

[2018-05-31 17:38] #5191 closed

[2018-05-31 19:26] dilijev commented on #2319
@Penguinwizzard can we see about revisiting this? Seems like a serious issue. Feel free to assign to @LouisLaf if you're not sure about whether you should be investing in this.

[2018-05-31 19:30] dilijev commented on #2914
[code]

[2018-05-31 19:32] dilijev commented on #3505
[code]

[2018-05-31 19:43] pleath commented on #3505
This could/should be done along with sharing of types with deleted properties. It will require changing the way we handle deletion in dynamic type handlers.

[2018-05-31 19:46] #4278 closed

[2018-05-31 19:46] #4801 closed

[2018-05-31 19:46] #4839 closed

[2018-05-31 19:48] #4859 closed

[2018-05-31 19:48] #4904 closed

[2018-05-31 19:48] #5037 closed

[2018-05-31 19:49] #5068 closed

[2018-05-31 19:49] #5079 closed

[2018-05-31 19:49] #5159 closed

[2018-05-31 19:49] #5199 closed

[2018-05-31 19:50] #5239 closed

[2018-05-31 19:50] #5241 closed

[2018-05-31 19:51] dilijev commented on #5243
@liminzhu is this a documentation task or a work item?

[2018-05-31 19:59] dilijev commented on #3242
[code]

[2018-05-31 20:05] pleath commented on #3242
We fail to throw early errors on many such cases. I've been holding off on fixing it because we couldn't fix "f() = 1" without breaking compat. But we should fix all the other ones and leave assignment-to-call-result for another day.

[2018-05-31 20:12] fatcerberus commented on #4944
@dilijev I see you closed this as Answered - but is this actually a bug?  I don’t think this is by-design especially since it’s perfectly fine to use FPO optimization on Windows.

[2018-05-31 20:31] Penguinwizzard commented on #2319
Reassigned as per Doug's suggestion.

[2018-05-31 20:33] dilijev commented on #3127
@Cellule is this still planned for 1.8 or should we move it to 1.10?

[2018-05-31 20:34] dilijev commented on #4760
Is this still planned for 1.9 or should we move to 1.10?

[2018-05-31 20:34] dilijev commented on #5046
@tcare is this still planned for 1.9 or should we move it to 1.10?

[2018-05-31 21:14] rhuanjl commented on #5046
Quick note I thought I should add - I didn't make a PR following my comment above on an apparent fix as I was fairly sure it was an insufficient or inappropriate fix and I don't sufficiently understand your type system to be sure.

Also nothing I'm doing needs this to be fixed it was just something I stumbled across.

[2018-05-31 21:27] rhuanjl commented on #5236
Extra note to add to this - it can cause code to throw an exception that shouldn't.

E.g. if in the above example instead of logging func you were to call it:
- in v8 this will complete normally (and if func did something it would do it)
- whereas in CC this will throw an error that func is not an object.

[2018-05-31 23:41] benjamin-bader commented on #5017
I agree with @jackhorton - this definitely seems to be a known deficiency, rather than intended behavior.  If you all decide that this isn't worth fixing, "wontfix" would be more appropriate than "By Design".

...I'd still vote for fixing, though 🙏 🙏 🙏

[2018-06-01 01:09] sigatrev commented on #3127
This should be fixed. Running on latest I see:
`Rejit Reason,                             Count
FailedEquivalentTypeCheck,                    1
FailedEquivalentFixedFieldTypeCheck,          2
ArrayCheckHoistDisabled,                      3
ExpectingNativeArray,                         2
LdLenIntSpecDisabled,                         3
NoProfile,                                    2
TOTAL,

[2018-06-01 06:45] rhuanjl commented on #5236
One more note add. I believe this is related to https://github.com/Microsoft/ChakraCore/issues/3251

In that TDZ’d imported  bindings should throw TDZ errors, whereas hoistsbke ones should be available instead both TDZ’d imports and hoistable imports are undefined.

[2018-06-01 12:55] mjoyce91 commented on #1415
Can confirm that the solution provided by @jharris4 resolves this issue for me in Microsoft Edge version number:

Microsoft Edge 38.14393.0.0
Microsoft EdgeHTML 14.14393

For me, the issue was having multiple d3 visualizations responding and recalculating based on changes. The more visualizations there were, the sooner the site would crash.

Thanks!

[2018-06-01 23:40] SiamAbdullah opened #5259 "Increase JSRuntimeMemoryUsage for a static script"
Hey,

I wrote a simple ChakraCore [app](https://github.com/SiamAbdullah/sampleChakraCoreApp.git) where I executed a method over 100K times and I observed JSRuntimeMemoryUsage increase over period of execution.

       public static void Main(string[] arguments)
        {
            using (var runtime = JavaScriptRuntime.Create(JavaScriptRuntimeAttributes.None, JavaScriptRuntimeVersion.VersionEdge

[2018-06-02 02:33] MSLaguana commented on #5259
How much do you see the memory increase? I believe that each time you invoke `RunScript` the string that you pass in is copied into a new internal buffer and parsed to distinct bytecode, and I think we don't ever free source buffers until the context goes away because we have no way of getting it back and it's always possible that later on you might try to `toString` a function, etc.

Instead of i

[2018-06-02 02:38] antonkh opened #5261 "High heap fragmentation caused by sparse arrays"
In react native apps there are usually 1-3K elements stored in the [instanceCache](https://github.com/facebook/react-native/blob/master/Libraries/Renderer/oss/ReactNativeRenderer-prod.js#L988) array. Pattern: declared as an object/dictionary, used as an array, frequent add/delete operations, indexes grow continuously (i.e. they are not random hash values). This causes Chakra to create a highly spa

[2018-06-02 02:43] MSLaguana commented on #5259
Ah, I see you linked to the memory growth. It looks like your memory is growing by ~256 bytes per iteration, and I would believe that comes from the storing the source buffer + bytecode + some slop and other overhead.

[2018-06-02 04:33] fatcerberus commented on #5187
`RegExp.prototype.exec` seems to actually be both configurable and writable so I don't think that's the problem:
[code]

[2018-06-02 16:55] fatcerberus commented on #5187
One thing I don’t understand about the repro above is why there should be six calls to `.exec`?  I’d expect two at most.

[2018-06-03 17:27] fatcerberus opened #5262 "Debug protocol is not 100% JSON compliant"
Don't know whether this is known or not but I figured I'd bring it up in case this was a bug or oversight: I've found that when inspecting values using the debugger API (for example, a result of JsDiagEvaluate), for at least `NaN` and +/- `Infinity`, these values are provided directly as the "value" property of the serialized object.  NaN and Infinity are not encodable in JSON and will be coerced

[2018-06-03 19:18] MSLaguana commented on #5262
I think this was a choice, but it's a little unclear from looking at the code. There is a `JsrtDebuggerObjectProperty::GetJSONObject` method which ends up calling into `JsrtDebugUtils::AddPropertyType` and that directly adds numeric properties to an object, but it also acknowledges that NaN and Infinity and -0 need special handling, and so for those is also adds a `display` property as well which

[2018-06-03 19:29] fatcerberus commented on #5262
I agree it’s very convenient. :smiley:  I just thought it might be a bug as there seemed to be a general tendency not to try to encode values at all which aren’t JSON compatible, e.g. there is no “value” field for `undefined`.

The reason I brought this up is that I currently take advantage of this behavior so I want to make sure it’s by-design so that a later bugfix doesn’t cause mysterious break

[2018-06-03 19:32] MSLaguana commented on #5262
@liminzhu do you know what the intended spec/contract here is?

[2018-06-03 19:41] fatcerberus commented on #5262
On a related note: `null` is serialized as type: object (mirroring `typeof`) but also has a nonzero “handle” field, which tripped me up for a bit as SSj was displaying null variables as objects.  It took me a little while to figure out what caused that.

[2018-06-04 09:34] theseanl opened #5263 "navigator.plugins object's named property become non-enumerable on certain circumstances"
`navigator.plugins` object behaves in an odd way in certain edge cases.

I suppose the specification relevant for the `navigator.plugins` object is https://heycam.github.io/webidl/#es-legacy-platform-objects, and  https://html.spec.whatwg.org/multipage/#pluginarray . Since these do not specify whether the object should "support named property setters"  and what "named property visibility algorithm

[2018-06-04 17:10] fatcerberus commented on #5263
`navigator.plugins` is a web API and therefore not directly relevant to ChakraCore, which only provides the basic ECMAScript-specified APIs.  Unless I'm misunderstanding what this issue is about, you should probably post this on the Edge bug tracker instead.

[2018-06-04 18:55] liminzhu commented on #5240
Oh thanks for offering to help! I will spend some time looking into it. Maybe @boingoing and some other folks will join in as well.

[2018-06-04 19:27] pleath commented on #3242
Fixed by https://github.com/Microsoft/ChakraCore/pull/5256.

[2018-06-04 19:27] #3242 closed

[2018-06-04 22:10] #5171 closed

[2018-06-04 22:31] SiamAbdullah commented on #5259
Thanks @MSLaguana. After calling JsCallFunction, it looks pretty stable. I did the same test and it looks the memory consumption gets stable around 10000 execution.

          using (new JavaScriptContext.Scope(context))
                {
                    string script = "function GetNumber(){return '1';}";
                    string runMethod = "GetNumber();";
                    var max = 100

[2018-06-04 22:46] liminzhu commented on #5262
[ECMA-404](http://www.ecma-international.org/publications/files/ECMA-ST/ECMA-404.pdf) (JSON spec) definitely says,

but the behavior does look intentional. + @kfarnung who is a lot more familiar with that part of the codebase for comments.

[2018-06-04 22:53] #5259 closed

[2018-06-05 03:27] curtisman commented on #5261
In Chakra, one SparseArraySegment is one continue chunk of memory.  Even if there are index unassigned, it still occupies memory.   There are heuristic to start using multiple "segments", but it is not the case in the example above.    So the optimization you show above with `instanceCache = {...instanceCache}`, it should only serve to reduce "allocated" memory, and should affect fragmentation.

S

[2018-06-05 17:33] rwaldron opened #5270 "Dynamic Imports: import() must produce a SyntaxError"
While writing Test262 tests for dynamic import, I discovered the following incompatibility:

[code]

Should produce a SyntaxError, given the grammar:

`import (` _AssignmentExpression_ `)`

Does not expand to `import()`

[2018-06-05 19:17] rhuanjl commented on #5171
@ragzovskii This issue has now been closed as my fix for the regression is in Chakracore master but I don't know when that will flow through to a released version of Edge.

[2018-06-05 20:03] rwaldron opened #5271 "Test262 Agent feature request: $262.agent.monotonicNow()"
Hello!

I've been trying my own hand at implementing `$262.agent.monotonicNow()` (as a function exposed on `WScript` when `-Test262` is used), which is necessary for testing Atomic operations that involve wait/wake with specified timeouts. I was attempting to use `std::chrono::steady_clock` with the appropriate included, but that results in the following `no member named 'PAL_ctime' in the global

[2018-06-05 20:10] ragzovskii commented on #5171
Awesome! Thank you

[2018-06-06 00:17] fatcerberus commented on #5270
This already appears to produce a SyntaxError.

[code]

Output
[code]

[2018-06-06 07:10] seanl-adg commented on #5263
Ok, by Edge bug tracker you meant https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/, right?
I created an issue several times before but none of them got approved. I created about this one though, but it is still not approved by moderators.

[2018-06-06 07:14] fatcerberus commented on #5263
Yeah, it's just there's not much we can do about this if it's specific to `navigator.plugins` since that API, like the rest of HTML5 is not actually part of ChakraCore.  Those APIs from what I understand are implemented by ChakraFull, which is part of Edge.  ChakraCore is only a subset of that.

[2018-06-06 07:18] seanl-adg commented on #5263
Got it, then this issue may be closed.
Would there anything I can do for to have issues created by myself getting approved by the issue tracker moderators? It seems that something is wrong there, since none of my issues were approved.

[2018-06-06 14:35] rwaldron commented on #5270
Ok, I've narrowed it down further... this only happens when the `-ESModule` flag is present. Incidentally, that flag appears to cause other strangeness:

[code]

There's no output at all for `ch -ESModule dynamic-import.js`, which makes me think I might be doing something wrong here. I will close this for now and re-open if necessary.

[2018-06-06 14:35] #5270 closed

[2018-06-06 14:45] fatcerberus commented on #5270
I see no change if I rename my test file to `test.mjs` (miniSphere will run it as a module), I still get a SyntaxError without reaching the `print()`.

I think I see the problem though: `ch -ESModule filename.js` doesn't run the file as a module, it just enables module support while still loading the script as traditional code (I hit this pitfall myself in the past).  You instead need to write a s

[2018-06-06 14:50] rwaldron commented on #5270
Lol, I just came back to post this same update. Thanks for preemptively confirming :D

[2018-06-06 15:00] rwaldron opened #5274 "Test262/eshost runtime feature request: -module flag for ch"
TL;DR:

`eshost` needs a way to invoke `ch` with a flag that instructs `ch` to treat the `<source file>` as module code. e.g. `ch -module source.js`

All other ECMAScript hosts presently expose a flag that enables this "mode":

| Engine | Host | Existing Mechanism |
| ---- | ---- | ---------------------|
| ChakraCore | ch  | Must wrap source in a call to `WScript.LoadModule(code)` or `WScript.Load

[2018-06-06 17:36] rhuanjl commented on #5274
If wanted by the team I could make a PR to implement this. Please let me know if you’d like me to.

[2018-06-06 18:30] rhuanjl commented on #5270
-ESModule isn't a flag that does anything in master.

-ESDynamicImport is the flag to enable import() - without it any dynamic import is a syntax error

[2018-06-06 18:35] fatcerberus commented on #5270
@rhuanjl Right, this issue was specifically about `import()` (with no specifier) incorrectly *NOT* being a syntax error; I’ve already verified that it is.

[2018-06-06 18:47] MikeHolman commented on #3127
We've done a bunch of work improving infinite bailouts. Closing as fixed.

[2018-06-06 18:47] #3127 closed

[2018-06-06 18:58] MikeHolman commented on #2561
Closing for now, since bug isn't actionable without a repro. Please reopen if this is still an issue/you can provide a repro.

[2018-06-06 18:58] #2561 closed

[2018-06-06 19:29] dilijev commented on #398
@Penguinwizzard I think you did some work in this area. Is this fixed / by design / still an issue we need to look at?

[2018-06-06 20:06] dilijev commented on #1048
Some work has been done in the area of caller/arguments that may have partially or completely resolved this issue. Please verify there is still an issue.

[2018-06-06 20:30] jackhorton commented on #5274
I had looked into making this change in the past because I wanted Intl tests to be modules. The logic in `ch` is far too complicated right now, so it diverged into a major refactoring of how scripts ran in `ch` before I spent too much time on it and gave up. @rhuanjl , if you are interested, I think its a great feature to have; otherwise, I can look into it.

[2018-06-06 20:36] rhuanjl commented on #5274
@jackhorton I've got 2 hours free now will see if I can do it in that time, if not I'll leave it to you.

[2018-06-06 20:51] jackhorton commented on #5263
Could you post a link to the Edge issue you created?

[2018-06-06 21:16] MikeHolman commented on #2788
Closing as fixed, since we are no longer excluding the test and CI is passing.

[2018-06-06 21:16] #2788 closed

[2018-06-06 23:32] liminzhu commented on #2339
#### Chakra
RangeError: Array length must be a finite positive integer

#### SpiderMonkey
RangeError: invalid array length

#### V8 --harmony
RangeError: Array buffer allocation failed

[2018-06-06 23:36] MikeHolman commented on #1262
Looks like we are still slower than Chrome, but maybe by 1.5x instead of 15x. Considering the issue is mostly external (edgehtml not chakra), I'm going to close out this issue.

[2018-06-06 23:36] #1262 closed

[2018-06-06 23:41] dilijev commented on #526
@jianchun should we make a separate issue to improve JSRT API test coverage?

[2018-06-06 23:44] dilijev commented on #1209
Looks like this has been resolved.

[code]

[2018-06-06 23:46] MikeHolman commented on #5067
We should figure out whether this is really a bug or not. (And if it isn't a bug in our engine we should open bugs on FF/Chrome).

[2018-06-06 23:48] kfarnung commented on #5262
I think that the original intention was that these values would also have a "display" property that would take precedence, but I'd have to do some digging into the old, now deleted, node-chakracore code.  I don't think the serialization behavior is intentional, but probably never caused an issue in the overall flow.

I don't intend to change this behavior, we don't really depend on the objects bei

[2018-06-06 23:49] dilijev commented on #1745
Chrome interop confirmed.

[code]

[2018-06-06 23:53] jianchun commented on #526
@dilijev You could though that new issue may look too broad. May be fine to have this one issue about numeric propertyId with Array.

[2018-06-06 23:53] fatcerberus commented on #5262
@kfarnung Any idea why `null` values get a valid “handle” property?  As mentioned above, this makes them indistinguishable from actual objects over the wire (because typeof null === object) unless you also inspect the “display” string, which feels less than ideal (this string is ostensibly for display only)

[2018-06-06 23:57] dilijev commented on #3532
Still repros (included `jsc` in this output):

[code]

[2018-06-06 23:58] MikeHolman commented on #4822
I thought we do support this model (e.g. using JsSetCurrentContext). @liminzhu?

@benjamin-bader Are you still seeing crashes?

[2018-06-06 23:59] dilijev commented on #3600
This is a case of being more lenient than other engines. Moving to Sev 3.

[code]

[2018-06-07 00:05] dilijev commented on #4538
@rodrigoamicrosoft Feel free to reopen this issue if you confirm that this still repros.

[2018-06-07 00:05] #4538 closed

[2018-06-07 00:06] MikeHolman commented on #4596
Closing out, since @jackhorton says it has likely been fixed. @hackerlib feel free to reopen if you are still hitting this.

[2018-06-07 00:06] #4596 closed

[2018-06-07 00:41] MikeHolman commented on #5274
@rhuanjl I think your implementation looks fine, and don't think it needs TTD support.

[2018-06-07 00:53] kfarnung commented on #5262
It looks like every object gets a `handle` regardless of type.  It also looks like node adds a subtype for `null` values:

[code]

There's definitely room for improvement here, for ChakraCore the configurable and enumerable values aren't provided from the API, so I just always set them to true currently.

To answer the original question, the CrDP protocol at least provides a string property called

[2018-06-07 01:17] benjamin-bader commented on #4822
Hi Mike,

I think that I've largely mitigated crashing in our project by abandoning the attempt at rental threading.  In working around #5017, I've confined ChakraCore runtimes to dedicated threads.  In concert, I've also stopped using `JsSerialize` and `JsRunSerialized` in favor of just `JsRun` with plain old strings.

It's definitely not our ideal outcome, but at least we are not seeing random s

[2018-06-07 02:05] liminzhu commented on #4822
Yeah runtime pool is an intended use case. Serialized bytecode can also be used on any runtime and any context.

[2018-06-07 02:51] seanl-adg commented on #5263
The issue submitter in https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/ did not provide a link of the new issue, it merely provided a text `The content of this issue will be manually approved. Thanks for your patience.`

On my end this issue is manifested on IE11 as well.

[2018-06-07 05:58] digitalinfinity commented on #5271
hi @rwaldron - for a variety of reasons, we implement our own versions of some CRT functions by using a library called PAL that we forked from the CoreCLR when we were adding Linux/macOS support. It does some unsavory things with functions such as ctime. Take a look at pal/src/include/pal/palinternal.h and maybe pal/src/cruntime/misctls.cpp to make sure that the latter is actually being compiled.

[2018-06-07 09:43] GregSlazinski commented on #4099
Cool, the page loads now, but the screen is black. Do I need to wait another 6 months until this is fixed?
Works fine on Chrome and Opera.

[2018-06-07 13:46] rwaldron commented on #5271
@digitalinfinity thanks for the support and advice! I will get back to you as soon as I have a chance to follow these leads.

[2018-06-07 14:00] rwaldron commented on #5274
@rhuanjl

All of Test262's module tests are required to have _ImportSpecifier_ written as: `'./foo.js'` ([INTERPRETING.md#modules](https://github.com/tc39/test262/blob/master/INTERPRETING.md#modules)), but any disparity in host path resolution can be handled by `eshost` as needed.

[2018-06-07 16:40] jackhorton commented on #5274
I think that looks fine -- I had run into issues with the host path issues that #5237 and wasn't satisfied with not fixing both when I looked into it, but for this more urgent case, 5237 can stay a separate issue.

[2018-06-07 18:03] rhuanjl commented on #5274
@rwaldron The issue with #5237 would be if you had a test that involved multiple files in different folders as ch will evaluate each module specifier as being relevant to the CWD as of when ch was launched - ignoring the path of the parent module. If all your files for each test are in the same folder it will be fine (as long as ch is run with that as the CWD).

[2018-06-07 18:05] rhuanjl commented on #5237
I could have a go at implementing this if wanted; I haven't done anything on it yet as I was unsure why this was implemented and then reverted again. Let me know if a PR to implement this in ch would be wanted.

[2018-06-07 18:27] rwaldron commented on #5274
@rhuanjl thanks for the clarification—since Test262 requires that module code tests keep their dependencies in the same directory, this will be no problem. I appreciate the super quick feedback and feature implementation turnaround :)

[2018-06-07 19:29] farzonl commented on #4951
There was a compat break issue in 2014 reported by the edge team. At the time a decision was made to hold off on full es6 function name support until other browsers had fully adopted this feature. Its been 4 years now, most browsers have full function.name support. It may be worth a revisit.

[2018-06-07 20:38] jdalton opened #5282 "A function wrapped in 2 or more proxies is seen as `typeof` a `object`."
[code]

[2018-06-07 23:18] dilijev commented on #5274
See Microsoft/ChakraCore#3284

[2018-06-07 23:18] dilijev commented on #5237
See Microsoft/ChakraCore#3284 addressing CWD issue

[2018-06-08 02:41] #2837 closed

[2018-06-08 15:01] rwaldron commented on #5271
[code]

If I remove that line, I get the same error:

[code]

I checked pal/src/cruntime/misctls.cpp, and [`PAL_ctime( const PAL_time_t *clock )`](https://github.com/Microsoft/ChakraCore/blob/master/pal/src/cruntime/misctls.cpp#L88-L130) is defined, however it's not defined in pal/inc/pal.h. It's not yet clear to me where PAL_ctime should be added in pal/inc/pal.h, but I'll work on it a bit more a

[2018-06-08 21:59] Cellule commented on #4099
@MikeHolman I have checked and the page does show a black screen in insider builds.
I do remember that it was working when we fixed this initially. I fear that a bug in Edge was introduced afterward. The Wasm seems to be fine at least as I can hear sound and the GUI does show up.
Can you verify to see if we need to escalate this to another team?

[2018-06-08 22:22] MikeHolman commented on #4099
@GregSlazinski Chrome and Opera use the same engine so it's expected that they would have the same result. I'm also seeing a black screen on Firefox. Has the demo page changed since February?

[2018-06-09 00:39] GregSlazinski commented on #4099
Hi,

http://esenthel.com/site/Esenthel%20Fantasy%20Demo/Esenthel%20Fantasy%20Demo.html
Latest version of demo from June 2018, compiled with latest Emscripten
uses WebGL 2.0, if not available then falls back to 1.0
Chrome - all OK
FireFox - I'm guessing that older FireFox would work OK since the old demo worked fine, new FireFox has completely black screen (no 2D UI)
Edge - latest Edge has only 2D

[2018-06-11 04:39] VictorQueiroz opened #5289 "Is it possible to embed ChakraCore in a game framework?"
Let's imagine that I'm building a game and I want to handle a specific part of the game using code processed by ChakraCore. How would I invoke JS and take all of it's advantages and also build bindings so this JS code could access other bindings to other functionality of the game framework? Is it possible or I'm talking nonsense? If not, can somebody guide me to the right direction? Just so you kn

[2018-06-11 05:13] jackhorton commented on #5289
It is possible to embed JS in _any_ C/C++/Language-that-has-access-to-C-APIs application :) You may want to look at the [miniSphere](https://github.com/fatcerberus/minisphere) game engine by our friends @fatcerberus and @rhuanjl, which embeds ChakaCore.

[2018-06-11 17:11] bradenhs commented on #1435
Even if TypeScript was just supported by the parser it would be great for development. The parser could accept typescript syntax but strip out all typescript specific things and run the code as it typically would normal javascript. People typically run a typescript type checker in a different process while in development anyhow to get a faster feedback loop. If Chakra were to do this I imagine a l

[2018-06-11 17:55] Cellule commented on #1435
@bradenhs That would mean to have the whole typescript compiler embedded in Chakra to transpile the code. Unfortunately, Typescript is not just type annotation that we can strip out. Additionally, how would we know which version of Typescript to use.

The likely scenario is that a lot of dev would have to keep using Typescript themselves because of version mismatch between their normal workflow an

[2018-06-11 18:15] liminzhu commented on #5289
Allow scripting in native apps is definitely an intended and supported use case. Something to help get you started:

1. [Embedding ChakraCore](https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore) and [JSRT Overview](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview) docs should help you get a bit familiar with the engine. You should know how to do a

[2018-06-11 18:30] liminzhu commented on #5282
Yep this is an interop and spec compliance bug. Thanks for reporting @jdalton !

// eshost output of test script
#### Chakra
function
object

#### V8 --harmony
function
function

#### SpiderMonkey
function
function

[2018-06-11 18:49] bradenhs commented on #1435
Yeah there would be some major complications depending on how you decided to do it. I would imagine Chakra would just extend it's current parser to support the latest ts syntax as opposed to embedding typescript inside of it. There may be some issues there since there would be more than one source of truth for how the parsing was done. The whole process however would be simplified by the fact that

[2018-06-11 19:39] MikeHolman commented on #4099
Thanks for the details! I think this is a WebGL issue, so I've opened a bug internally and assigned it to our WebGL people.

[2018-06-11 20:21] mike-kaufman opened #5293 "Review Implementation of Async/Await"
This code will log `1, 2, 3` on chakra.  On v8, it will log `2, 3, 1`.  Believe that the difference here is Chakra is not creating a new promise for the await.  Spec section on [await](https://tc39.github.io/ecma262/#await) claims that we should be creating two new promises when we await, but we're only creating one.

[code]

[2018-06-11 22:19] MSLaguana commented on #5293
I just tried this out, and I see some strange behavior. If I copy what you have there into a node (v8) repl environment, then I see the `2, 3, 1` behavior that you mention, but if I put it in a file and run it then I get `1, 2, 3`, using the exact same node binary. Trying it out in chrome's devtools I do see the `2, 3, 1` as well, but I haven't tried making a page and running it there yet.

[2018-06-11 22:57] MSLaguana commented on #5293
Ah; when I had node v8 print `1, 2, 3` it was with node 9.5, but with node 10.4.0 it consistently prints `2, 3, 1`.

[2018-06-12 22:13] MSLaguana commented on #5293
This has been bugging me so I've been poking around at it. I think the difference is only if we await a promise. I've been using this snippet as a testing ground:

[code]

where I change the thing that is `await`ed and see how many promise 'ticks' it takes in both chakra and v8. If I use a plain value, or a non-promise thenable, then both chakra and v8 seem to agree on the number of ticks (1 for `

[2018-06-12 22:16] MSLaguana commented on #5293
@zenparsing any ideas on whether thenables should be treated differently to promises here, and does v8's behavior where a `Promise.resolve(thenable)` doesn't take any longer than `Promise.resolve(1)` make sense?

[2018-06-12 22:38] MSLaguana commented on #5293
@zenparsing Something that I don't understand is why `Promise.resolve(1)` and `Promise.resolve(thenable)` behave the same for v8 but not for chakra. From my reading of the spec, a `Promise.resolve(thenable)` will need to queue a `PromiseResolveThenableJob` or something which then calls into the thenable and eventually schedules a `PromiseReactionJob, while `Promise.resolve(1)` directly schedules a

[2018-06-12 22:58] zenparsing commented on #5293
I'm seeing the same behavior for v8 and Chakra for `Promise.resolve` with respect to native and thenables.

For this test case:

[code]

both engines log:

[code]

We can see that for the thenable case, "then" is getting called in a job, and creates an extra delay relative to a native promise.

But perhaps there's another test case that might show a difference?

[2018-06-13 05:19] #5155 closed

[2018-06-13 14:39] MSLaguana commented on #5293
I see the difference when using async functions as I showed above:

[code]

[2018-06-13 17:27] #5274 closed

[2018-06-14 00:59] dilijev commented on #5282
[code]

[2018-06-14 07:37] jaykrell opened #5314 "RtlVirtualUnwind last parameter is optional and not needed here."
https://github.com/Microsoft/ChakraCore/blob/99f04016d044360b637a654a274c167d026cb020/lib/Common/Core/FaultInjection.cpp#L153

[2018-06-14 12:51] jtaylor100 commented on #2578
I am currently building a product written in a windows environment and deployed to linux docker containers. Having the latest linux binaries distributed through Microsoft.ChakraCore would greatly simplify our build process.

[2018-06-14 18:39] curtisman commented on #5067
@zenparsing can you confirm that Chakra's behavior matches the spec?

[2018-06-14 20:30] zenparsing commented on #5067
Annex B is tricky.

I think there is a spec violation in Chakra related to block scoped functions in sloppy mode (and unrelated to `with`):

For the following test case:

[code]

I see:

[code]

According to [B3.3.2](https://tc39.github.io/ecma262/#sec-web-compat-globaldeclarationinstantiation), the global "var" binding should be initialized to `undefined`, and only set to the block-level value of

[2018-06-14 21:14] fatcerberus commented on #5067
Kind of interesting that JSC produces the exact same error message as us.

[2018-06-14 21:15] #5182 closed

[2018-06-14 23:15] dilijev commented on #5067
@fatcerberus the error is coming from the test case :P

[2018-06-17 11:57] vovkasm commented on #3179
May be its time to make PR? )

[2018-06-18 23:45] mike-kaufman commented on #4630
See PR #5328 for a fix here.

[2018-06-19 18:37] #4728 closed

[2018-06-19 18:37] #4730 closed

[2018-06-19 18:37] #5282 closed

[2018-06-19 21:11] DrEight opened #5333 "Problem with r(v) function"
I have the chakracore hosted in a windows application. I 'm running a JS script with defined a function r(v). The script throws the error: 'object expected' when the r() function is called. So it seems that r() is a predefined chakra function. Am I correct ?
How can I fix the problem ?

[2018-06-19 21:41] MSLaguana commented on #5333
We don't have a built-in function `r`, but I can reproduce the error you report if I try to invoke undefined:

[code]

Are you sure that you have defined your `r` function correctly?

[2018-06-20 12:56] fumfel opened #5338 "Invalid write in ThreadContext::SetNoJsReentrancy()"
After some fuzz testing, I found crashing test case.

Git HEAD: 0fe9eb90a69fa4d148013241276d1824676f628e
OS: Ubuntu 18.04 x64
Compiler: clang / clang++ 6.0.0, installed from repo

Crashing test case: `function o(){}async function af0(a){await 0;return await arguments/**/}async function a(){0()}af0();function f(){}function Run(){}WScript.Attach(Run);WScript`

To reproduce: `ch chakra_iw.js`

Valgri

[2018-06-20 18:23] akroshg commented on #5338
@aneeshdk isn't it something you have looked at it?
@fumfel thanks for reporting the issue.

[2018-06-20 18:54] aneeshdk commented on #5338
Yes this looks like the same issue as mentioned in https://github.com/Microsoft/ChakraCore/issues/3453

[2018-06-20 19:27] dilijev commented on #5338
@aneeshdk can you confirm whether this is a dupe and then close it?

[2018-06-20 22:53] curtisman commented on #5067
@zenparsing True enough. We should have a separate issue tracking that if there isn't one already.
But if this case inside the "with" is to spec, then we will close this particular issue.

[2018-06-20 23:04] fatcerberus commented on #5067
If the case @zenparsing describes is indeed a spec violation then the original case in this issue is too, since the `getOwnPropertyDescriptor` call comes before the function declaration and should therefore return a descriptor with `value: undefined`.

[2018-06-20 23:15] zenparsing opened #5340 "Global var set before evaluating function declaration in non-strict block"
For the following test case:

[code]

I see:

[code]

According to [B3.3.2](https://tc39.github.io/ecma262/#sec-web-compat-globaldeclarationinstantiation), the global "var" binding should be initialized to undefined, and only set to the block-level value of f when the function declaration is evaluated.

[2018-06-20 23:18] zenparsing commented on #5067
@curtisman I've created a new issue at #5340 to capture the function-in-block case.

@fatcerberus I think if we fix #5340 this one will be fixed as well.

[2018-06-20 23:35] zenparsing commented on #5340
Annex B3.3 is crazy stuff.

It says that if there's a function in a block scope in non-strict code, then when we begin executing the script we initialize a global var with that identifier to undefined. When we enter the block, we create a block-scoped, hoisted binding for the function. When we reach the function definition, we set the outer (global) var binding to the current value of the inner sh

[2018-06-20 23:37] MSLaguana commented on #5340
Ah; so the bug in this case is that we aren't distinguishing between the block-scoped binding of `f` and the global binding of `f`, we are just directly setting the global binding of `f` when we enter the block scope?

[2018-06-20 23:54] pleath commented on #5340
We set both the global and the block-scoped bindings at the same time. We almost certainly have the same issue with non-global code. It should be a pretty simple thing to fix. Does anyone actually implement the spec today?

[2018-06-21 00:09] fatcerberus commented on #5340
Based on the test results above it appears that both SpiderMonkey and V8 implement this properly.

[2018-06-21 16:41] fatcerberus commented on #5340
I feel it's worth noting that the reason Annex B exists at all is simply for the sake of legacy Web compatibility; not implementing it properly WILL break a lot of existing code (in fact it's my understanding that implementing Annex B is only required if you're writing a browser).  In this particular case, block-scoped functions are specified the way they are because many devs in the past would co

[2018-06-21 19:33] pleath commented on #5340
You're right, the annex is crucial for backward compat. Our divergence from the spec is pretty subtle, though. We're doing the important thing correctly, which is to instantiate the function only if awesomenessIsAvailable is true and to let people call it later, from outside the block, by referring to the global. The fact that we're assigning the right value to the global on entry to the if block

[2018-06-22 00:27] #5289 closed

[2018-06-22 16:29] rwaldron opened #5349 "Rename Atomics.wake to Atomics.notify per ES standard change"
At the May 2018 TC39 meeting, consensus was reached to rename Atomics.wake to Atomics.notify (while the API is temporarily disabled).

The spec change can be found here: https://github.com/tc39/ecma262/pull/1220

[2018-06-22 17:00] DrEight commented on #5333
Thank you for your help, after days of debugging, I figured out the problem in my code.

[2018-06-22 17:08] MSLaguana commented on #5333
Glad you've solved your problem!

[2018-06-22 17:08] #5333 closed

[2018-06-22 21:28] dennis-yemelyanov opened #5353 "JsCreateExternalObject returns ArgumentNotObject"
We have some code that calls JsCreateExternalObject (through the .NET wrapper) to get a reference to external C# objects. It works fine most of the time, but it looks like one time it returned ArgumentNotObject. Is there any valid scenario where this error would be returned from this method?

I looked at the [implementation](https://github.com/Microsoft/ChakraCore/blob/6c2c8a78420e9bcc0b126ea05a6f

[2018-06-22 21:39] MSLaguana commented on #5353
If you are using ChakraCore 1.8.4 then you're actually using an implementation closer to this: https://github.com/Microsoft/ChakraCore/blob/release/1.8/lib/Jsrt/Jsrt.cpp#L1291

I can't see any obvious reason that you'd get `JsErrorArgumentNotObject` from that function. Are you sure it was that and not an adjacent call which returned the error?

[2018-06-22 21:52] dilijev commented on #2753
Fixed in #5027

[2018-06-22 21:53] #2753 closed

[2018-06-22 21:57] dennis-yemelyanov commented on #5353
Thanks, @MSLaguana . I think it could also be coming from the following line that sets the prototype (I guess the line numbers in the call stack might be a little off due to optimizations etc.):

[code]

And the prototype object is created as `Prototype = JavaScriptValue.CreateObject();` (and then setting some properties on this Prototype) before the above code executes.

[2018-06-22 22:10] MSLaguana commented on #5353
That also looks like it should work, unless the .net wrapper is doing strange things. `JsCreateExternalObject` should always result in a `JsrtExternalObject`, which is a valid object, and similarly `JsCreateObject` should always result in a valid object, so calling `JsSetPrototype(jsObject, Prototype)` should also always work. Is it possible that you have a race condition such that your `Prototype

[2018-06-22 22:19] dennis-yemelyanov commented on #5353
I don't think there is a race condition since the `Prototype` is basically initialized at application startup and `CreateJsObject` calls are made later. I'm also checking if there could be some garbage collection happening leading to this state (unlikely)... I'll also add some logging to get `Prototype.ValueType` right before using it.

[2018-06-22 23:34] dennis-yemelyanov commented on #5353
Actually garbage collection might be a likely candidate... After debugging this further I noticed that sometimes JsSetPrototype throws AccessViolationException, and from [this](https://github.com/Microsoft/ChakraCore/issues/1033) thread any object created with `JsCreateObject` should be "pinned" by calling `.AddRef()`, unless it's used explicitly by the JS runtime (placed on some JS call stack etc

[2018-06-22 23:44] MSLaguana commented on #5353
Right; whenever you hold onto a reference to a javascript object in a way that chakracore can't detect (basically, if it isn't on the stack or referenced by another object known to chakracore) then you need to explicitly add a reference to it (and then later dereference once you're done with it, to avoid leaking memory). If you fail to do that, it may be considered unreferenced and then garbage co

[2018-06-22 23:57] MSLaguana commented on #5353
Ah, there's one path that I hadn't considered and could result in that: the check doesn't just check for tagged values, it does go and try to fetch the internal type of the object, and so if that type happens to be a small number (< ~20) then it could cause that error. So it may be that the object was collected, something else allocated in its place, and after following a chain of bogus pointers t

[2018-06-23 00:52] dennis-yemelyanov commented on #5353
Great, thank you for confirming that it could happen. I'll try the .AddRef() fix, hope it solves the problem.

[2018-06-23 01:07] SiamAbdullah opened #5355 "app crash while executing same Serialized Scirpt multiple times. Exception : System.AccessViolationException:"
Hey, I wrote a sample [app ](https://github.com/SiamAbdullah/sampleChakraCoreApp) where I serialized JavaScript into byte array and executed serialized script in different runtime. The app is getting crashed after a period of time. It is throwing AccessViolationException.

**Unhandled Exception: System.AccessViolationException: Attempted to read or write protected memory. This is often an indicati

[2018-06-23 04:42] farzonl opened #5359 "webcrypto generateKey promise does not resolve."
Not sure if this is an Edge or F12 issue, but in any case I'm having a hard time porting a web app that uses web crypto to Edge. Below please find a similar simpler use case that also does not resolve.
Sample code:
borrowed: from here: https://github.com/diafygi/webcrypto-examples#aes-ctr---generatekey
[code]
Chrome behavior:
prints out the CryptoKey
![image](https://user-images.githubusercontent.

[2018-06-23 06:42] liminzhu commented on #5355
Hey @SiamAbdullah . While nothing jumps out as wrong, it's really hard for me to tell as this is wrapped in some C# wrapper and has a bunch methods that aren't from ChakraCore (GenerateSerializedScript, ExecuteAction, etc.). Do you have a small repro project that we could take a look?

Also, you can look at some of our [docs](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%

[2018-06-23 06:44] MSLaguana commented on #5359
I just tried this out in edge, and the reason that it isn't resolving the promise is that it is instead rejecting the promise; if you add a `.catch` to the promise chain, you'll see that the catch handler is being called with the first argument passed to `generateKey`. If I change your example to use `{ name: "AES-CBC", length: 256}` instead, then it seems to work correctly. It seems like there ma

[2018-06-23 07:49] #5359 closed

[2018-06-25 06:49] sunlili opened #5360 "Inconsistent output compared with V8 and SpiderMonkey"
Hello,
The following code behaves incorrectly (inconsistent with the standard and other engines).
ch version 1.8.5.0
[code]
The output is:
arg 1:get Symbol(Symbol.isConcatSpreadable)
arg 1:get length
arg 1:has 0
arg 1:has 1
arg 1:has 2
arg 1:has 3
arg 1:has 4
arg 1:has 5
arg 1:has 6
arg 1:has 7
arg 1:has 8
arg 1:has 9
1,2,3,,,,,,,,,,

However, it should be:
arg 1:get Symbol(Symbol.isConcatSpreadab

[2018-06-25 07:38] sunlili opened #5361 "Inconsistent output compared with other JS engines: syntax error on large integer literal in regexp"
Hello,
The following code behaves incorrectly (inconsistent with the standard and other engines).
ch version 1.8.5.0
[code]
Output is:
SyntaxError: Syntax error in regular expression
	at code (55577775.js:1:26)

However, other engines output:
BT_FLAG

BT group
2018.6.25

[2018-06-25 08:18] sunlili opened #5362 "Inconsistent output compared with other JS engines"
Hello,
The following code behaves incorrectly (inconsistent with the standard and other engines).
ch version 1.8.5.0
[code]

The output is:
TypeError: Object doesn't support property or method 'undefined'
   at testToUint32InSplit (/home/xxx/temp/xxx.js:8:5)
   at Global code (/home/xxx/temp/xxx.js:19:3)

However, it should be:
BT_FLAG

BT group
2018.6.25

[2018-06-25 08:48] sunlili opened #5363 "string representation of floats larger than 2^53 differs from other engines"
Hello,
The following code behaves incorrectly (inconsistent with the standard and other engines).
ch version 1.8.5.0
[code]

The output is:
{"0":37,"1":42,"length":4,"9223372036854777000":0}
BT_FLAG

However, other engines' output are:
{"0":37,"1":42,"length":4,"9223372036854778000":0}
BT_FLAG

BT group
2018.6.25

[2018-06-25 15:10] curtisman commented on #5355
My guess is that your serialized byte code buffer got freed.

[2018-06-25 15:42] MSLaguana commented on #5361
This looks like a duplicate of https://github.com/Microsoft/ChakraCore/issues/5182

[2018-06-25 15:58] curtisman commented on #5187
This test case only make sense when RegEx symbols is enabled, because String.prototype.split is not defined based on Regexp.prototype[@@split].

Currently RegEx symbols is not fully implemented.   When I tried with the flag -ES6RegExSymbols, I ran into another exception:
SyntaxError: Syntax error in regular expression
        at Global code (blah.js:14:1)

The error comes form the implementation o

[2018-06-25 16:02] zenparsing commented on #5360
This is due to the fact that ES6 Regexp symbols are currently behind a flag (`Symbol.search` is undefined in that case). With `-ES6RegExSymbols` the test case works as expected.

[2018-06-25 16:04] zenparsing commented on #5362
ES6 Regexp symbol are currently behind a flag.

[2018-06-25 16:14] zenparsing commented on #5363
Minimum repro:

[code]

[2018-06-25 16:16] rhuanjl commented on #5363
Possibly a duplicate of this issue https://github.com/Microsoft/ChakraCore/issues/149

[2018-06-25 16:20] SiamAbdullah commented on #5355
Hey @liminzhu I made the app more simple. Here is the github link [https://github.com/SiamAbdullah/sampleChakraCoreApp](https://github.com/SiamAbdullah/sampleChakraCoreApp)

    public static class Program
    {
        public static string[] Library = new string[]
        {
            "ServerSideRenderingDataManager.js",
            "ServerSideRendering.LayoutWriter.js",
            "ServerSideR

[2018-06-25 21:36] SiamAbdullah commented on #5355
@curtisman I got this access violation when I run plain script after executing serialized script. I am not sure this is for byte code buffer freed or not.

[2018-06-26 00:58] SiamAbdullah commented on #5355
Thanks @kfarnung for clarification. It's also make sense why the crash happen randomly. I missed to hold bytecode buffer stays valid for the full lifetime of the runtime. I made the change and looks ok to me. Thanks a lot.

[2018-06-26 01:02] #5355 closed

[2018-06-26 01:05] dilijev opened #5365 "OS X builds failing in release/1.8"
See https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28release-1.8%29

[code]

[2018-06-26 01:13] #5363 closed

[2018-06-26 01:14] #5360 closed

[2018-06-26 01:17] dilijev commented on #5361
Confirmed the test case behaves as expected in release/1.10 as a result of the fix to #5182 (PR #5311)

[2018-06-26 01:17] #5361 closed

[2018-06-26 01:17] #5362 closed

[2018-06-26 01:21] dilijev commented on #5365
@MSLaguana it looks like we got a build on OSX and released 1.8.5 in any case. Maybe there's a difference in the installed version of ICU dev dependencies on the lab machines?>

[2018-06-26 14:34] rwaldron commented on #5349
Thanks @dilijev!

[2018-06-26 14:37] MSLaguana commented on #5365
Yeah, the bug here is fixed in newer branches since it is to do with the c++ ICU api, and we changed to use only the C API. It looks like the OSX machines no longer(?) have that c++ API present, and so the build fails, but the machine that we use to make the releases does have the correct dependencies and so we were able to do the release.

[2018-06-26 15:04] sunlili opened #5367 "Inconsistent output compared with other JS engines"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]

In Edge, cc is defined normally and x is defined too.
However, in V8 and Firefox, a ReferenceError is reported:
`ReferenceError: assignment to undeclared variable x`

BT group
2018.6.26

[2018-06-26 15:26] zenparsing commented on #5367
Chakra appears to correctly execute the extends expression in strict mode:

[code]

But is not correctly throwing on assignment to an undeclared variable in the extends expression:

[code]

[2018-06-26 15:45] rwaldron commented on #5274
Just want to say thanks for the quick work and excellent support here. ❤️

[2018-06-26 17:34] rwaldron opened #5368 "Atomics.wake(...) always returns 0 on non-win32 platforms"
While working on Atomics tests for Test262, I observed that any test which checked that the return value of `Atomics.wake(...)` was some non-zero value, the test would fail. I've tracked the cause:

https://github.com/Microsoft/ChakraCore/blob/c0723f4985c468937c6ac12260bdbe5da6d25539/lib/Runtime/Library/SharedArrayBuffer.cpp#L764-L780

[2018-06-26 17:36] dilijev commented on #5365
Sounds like it should be fine if users build with the correct documented dependencies, and it's not worth the effort of fixing up the CI machines for this older branch at this point.

[2018-06-26 17:36] #5365 closed

[2018-06-26 19:15] mike-kaufman opened #5370 "Debugger: Add support for breaking in debugger on unhandled promise rejection"
When we have a promise rejection and we don't have any reject handlers hooked up, we should break in the debugger if 2nd-chance exceptions are enabled.  Alternatively, we should provide a 2nd option which is to "break on unhandled rejections".

May potentially need to do some coordination w/ dev tools team to ensure this lights up correctly.

[2018-06-26 19:16] #5349 closed

[2018-06-26 19:20] mike-kaufman opened #5371 "Debugger: Support detecting pending promise reactions for "break on uhandled exceptions""
For reference, see
  - Throw in async function after await is not caught by debugger #4630
 -  Debugger: Add support for breaking in debugger on unhandled promise rejection #5370
  -  fixing issue where "uncaught" exceptions in promises wouldn't notify debugger #5328

Currently, when we resolve a promise with a thenable, we defer the call the to the thenable's then() method by putting a task in th

[2018-06-26 22:45] dilijev opened #5373 "Add Jenkins configuration for RS4 with Intl-ICU"

[2018-06-27 03:45] curtisman commented on #526
I think the introduction of numeric propertyId is a mistake.  It leads to the situation where you have to check everywhere.  I would much prefer that the two path be separate  (propertyId are non numeric only).

Currently, the only real usefulness of numeric propertyId is when it is used in ES5 array.  It can probably deal with it differently to avoid using proeprtyId as non numeric?

[2018-06-27 03:47] dilijev commented on #4944
@fatcerberus I may have misunderstood the discussion here. I'll open it back up as a bug and let the folks working on debugging APIs decide.

[2018-06-27 03:50] dilijev commented on #5353
Feel free to comment back if you have any further questions and we will reopen the thread.

[2018-06-27 03:50] #5353 closed

[2018-06-27 12:41] sunlili opened #5378 "Inconsistent output compared with other JS engines"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]
In Edge, output is
```{"y":"bar"}```
However, in V8 and Firefox, output is
```{}```

BT group
2018.6.27

[2018-06-27 13:32] sunlili opened #5379 "Inconsistent output compared with other JS engines when declare a function in try...catch"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]
In Edge, output is
```hi```
However, in V8 and Firefox, output is
```TypeError: g is not a function```

BT group
2018.6.27

[2018-06-27 15:03] styfle commented on #3406
@sethbrenith @tcare We are all looking forward to this feature, thanks! 👍

Even though there are only 8 upvotes on this issue, there are over 400 upvotes on [MS Edge UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/31257100-spread-operator-for-object-literals).

![uservoice](https://user-images.githubusercontent.com/229881/41982486-87399736-79f9-11e8-89fa-5

[2018-06-27 15:22] zenparsing commented on #5379
I believe this is a duplicate of #5340

[2018-06-27 15:45] zenparsing commented on #5378
In this case Chakra is spec-compliant (along with JSC).

See https://tc39.github.io/ecma262/#sec-integerindexedelementset

ToNumber should be called on the assignment RHS **before** the length check is performed on the TypedArray. It appears that V8 and SM are incorrectly performing ToNumber after the length check.

Test case:

[code]

Output:

[code]

[2018-06-27 15:45] #5378 closed

[2018-06-27 23:06] #5379 closed

[2018-06-27 23:15] dilijev commented on #2680
@digitalinfinity Do we still want to keep this issue around?

[2018-06-27 23:20] #346 closed

[2018-06-27 23:21] digitalinfinity commented on #2680
I don't see why not- it's improvements that are worth making to ChakraCore, just not scheduled against any milestone since it's not a bug but a work item. It's something we should get to eventually.

[2018-06-27 23:23] dilijev commented on #1225
@liminzhu want to take a look?

[2018-06-27 23:28] dilijev commented on #670
@tcare we run other test configs in nightlies. Is that enough to close this?

[2018-06-27 23:28] dilijev commented on #1721
@Cellule is this covered by the new verification test?

[2018-06-27 23:38] liminzhu commented on #3059
Close for inactivity. Feel free to open if this becomes an issue.

[2018-06-27 23:38] #3059 closed

[2018-06-27 23:43] sumitsahrawat commented on #4840
This should be closed according to #5264

[2018-06-28 00:04] tcare commented on #670
We do -forceserialize but not forcedeferparse / forceundodefer. They aren't really worth running all the time. Also we'd need to do some cleanup because some tests are expected fail under those flags. At the very least we shouldn't get asserts/crashes though.

[2018-06-28 03:43] sunlili opened #5381 "Inconsistent output compared with other JS engines when using sort()"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]
In Edge, output is
```[1, 2.2, 3.3]```
However, output should be:
```[3.3, 2.2, 1]```

BT group
2018.6.28

[2018-06-28 05:33] fatcerberus commented on #5381
In the example you give, the comparison function itself is not internally consistent as it always returns -1.  I'm not 100% positive but I think that might be undefined behavior?

[2018-06-28 05:36] fatcerberus commented on #5381
Yep, from MDN:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort

[2018-06-28 05:42] fatcerberus commented on #5368
On a related tangent, TC39 has apparently agreed to rename `Atomics.wake` to `Atomics.notify`.  See, e.g. this Node.js issue:
https://github.com/nodejs/node/issues/21219

[2018-06-28 06:20] sunlili commented on #5381
You are right, it is undefined.

[2018-06-28 15:41] jackhorton commented on #4840
You're right, thanks!

[2018-06-28 15:41] #4840 closed

[2018-06-28 16:47] jackhorton commented on #5381
@zenparsing , FYI

Sounds like this is not an issue, then?

[2018-06-28 17:01] rhuanjl commented on #5381
FYI with eshost:
[code]

[2018-06-28 17:02] zenparsing commented on #5381
The output of the `sort` function in this case is specified to the implementation-dependent. Specifically:

The comparison function here is not "consistent".

https://tc39.github.io/ecma262/#sec-array.prototype.sort

[2018-06-28 17:14] #5381 closed

[2018-06-28 17:34] Mosho1 opened #5382 "Non-enumerable property is enumerable under certain conditions"
If the object has 128 keys that include dashes, then the non-enumerable property will be enumerable (also writable, configurable).

Tested on Edge 42.17134.1.0

[code]

https://jsfiddle.net/q690m7w8/

[2018-06-28 17:53] MSLaguana commented on #5382
What version of chakracore are you using here? I don't see this reproduce in latest master.

[2018-06-28 18:05] Mosho1 commented on #5382
I tested it in Edge itself. The Edge issue tracker points to this repo to JS engine related issues.

[2018-06-28 18:06] MSLaguana commented on #5382
Ah ok. Looks like it should be fixed in a future release then :)

[2018-06-28 18:07] Mosho1 commented on #5382
I see, thanks!

[2018-06-28 18:09] jackhorton commented on #5382
@MSLaguana I am reproing this on 17704...

[2018-06-28 18:17] jackhorton commented on #5382
Oops, that's because the fix is new enough that it hasn't hit windows at all yet. This works properly on the tip of release/1.10.

[2018-06-28 18:17] #5382 closed

[2018-06-28 18:35] akroshg opened #5386 "Perf : filling the array is taking time"
[code]

Output:
[code]
This is strange - with 512 increment we should be filling less items to the array and we should be spending less time.
I suspect this may be due to more number of sparse array segment. I haven't created trace to support my theory.

[2018-06-28 18:39] akroshg commented on #5386
Ha - I should have tried that earlier.
but with -nonnative flag we get the right number
[code]

[2018-06-28 18:41] akroshg commented on #5386
@meg-gupta @rajatd probably due to jitloopbody?

[2018-06-28 19:33] Cellule commented on #1721
Yes the tests that we have in the private repo should cover this.
Also the work items in this issue regarding nojit build has been done a long time ago if I recall

[2018-06-28 19:47] igor-simoes opened #5388 "RegExp should call property "lastIndex" using Symbol.search"
Hi everyone,
there is an inconsistence on Chakra when I call this Proxy using Symbol.search.
The `-ES6Experimental` flag is activated.

Chakra: ch version 1.11.0.0-beta
OS: Ubuntu 16.04 x64

Steps to reproduce:
[code]

Actual results:
Error: Test failed

Expected results:
Pass without failures

It was observed that the array `get` contains only `"lastIndex,exec"`. The others engines (V8, SpiderMon

[2018-06-28 21:17] dilijev commented on #1721
Okay, I figured this was an old issue we'd already pretty much taken care of. Closing.

[2018-06-28 21:17] #1721 closed

[2018-06-28 22:22] rajatd commented on #5386
I think the root cause is that in the first case, the head segment has missing values while in the second it doesn't. For a store to an array whose head segment didn't have missing values before jitting, the jit emits a call to runtime helper `Jit_OperationCreatedFirstMissingValue` if it had to call a helper to do the set.

One of the conditions to call the set helper is that the index is greater

[2018-06-28 22:41] sigatrev commented on #5386
This is a result of heuristics. In the case of increments of < ~0x80 (MergeSegmentsLengthHeuristics), it will reallocate a larger head segment, growing exponentially and rarely have to allocate segments. If the increment is larger, it will allocate a new distinct segment for every single assignment.

[2018-06-28 22:41] dilijev commented on #5388
@tcare does/should `-ES6Experimental` include `-ES6RegExSymbols` ?

In any case `ch -ES6Experimental -ES6RegExSymbols test.js` still fails.

[2018-06-28 22:44] tcare commented on #5388
@dilijev at some point this corresponded with Edge feature staging in the settings dialog, but I don't think this is the case now. I'm not 100% sure though. I don't think any unit tests should be using -ES6Experimental...

[2018-06-29 00:18] Funkwai opened #5393 "View of the generated assembly code"
ChakraCore will output target backend assembly representation using "-dump:backend" option, but these dumped instruction are represented as kind of ChakraCore's code form.

for example, these look like.
s394(r7)[LikelyCanBeTaggedValue_Int].var = MOV s102(r6)[LikelyCanBeTaggedValue_Int].var
s395(r11).i64 = MOV s394(r7)[LikelyCanBeTaggedValue_Int].var
s395(r11).i64 = UBFX s395(r11).i64, 1048624 (0x1

[2018-06-29 02:09] dilijev commented on #5393
I think there are other `-dump:*` modes that will output something closer to native assembly (although probably still annotated). @Penguinwizzard @Cellule ?

[2018-06-29 21:40] Cellule commented on #5393
You can always see the assembly in a debugger.
If you know which function you are interested in, you can use `on:debug:<script id>.<func id>` e.g.: `-on:debug:1.32`. The id is printed at the top of the dump from `-dump:backend`
That will insert an `int 3`(breakpoint) at the beginning of the function and you can use your favorite debugger to inspect the assembly.

[2018-06-29 22:55] Funkwai commented on #5393
I'd like to understand the code generation of JITed code in ChakraCore, investigate if there is an optimization opportunity in that level, also hope to compare the corresponding native code come from other JS engines.

The target instruction in ChakraCore's annotated form has better type and source-level information, in the other hand, it isn't easy to do instruction comparison directly, and for e

[2018-06-30 00:19] Cellule commented on #5393
I understand that for analysis using the debugger is not very practical.
Having a dumper that is machine dependent to dump the asm code would be nice, however we rarely have the need for it since we are usually using a debugger when that happens.

[2018-06-30 13:03] rhuanjl commented on #4122
Taking a look at this, seems to be several related problems:

| Issue   | normal Function  |  boundFunction |
|:----------|:-------------|:------|
| Length should be configurable| passes | fails |
| Deleting length should succeed |    fails   |   fails  |
| Deleting length should not throw| fails (in strict mode) | fails (in strict mode) |
| value after deletion = 0 | fails | fails |
|using define

[2018-07-02 05:45] dilijev commented on #5117
Dupes:
https://microsoft.visualstudio.com/OS/_workitems/edit/17352551
https://microsoft.visualstudio.com/OS/_workitems/edit/17199641

[2018-07-02 22:44] #5196 closed

[2018-07-02 22:58] akroshg commented on #5201
@boingoing is the expert on the template literal. looking for his opinion on this one.

[2018-07-03 01:22] justinfagnani commented on #5201
@boingoing The Test262 test for this is here: https://github.com/tc39/test262/blob/master/test/language/expressions/tagged-template/cache-differing-expressions.js

...but I haven't actually run that test specifically on Edge yet.

[2018-07-03 20:20] #122 closed

[2018-07-03 23:07] rhuanjl opened #5419 "Async/Generator function lengths can't be configured"
Issue I noticed whilst working on #5405 async/generator functions report that their length properties are configurable but attempting to delete them or redefine with Object.defineProperty silently fails.

I intend to submit a PR to fix this after #5405 is merged - issue created as a reminder/in case #5405 can't be merged.

Example:
[code]

Eshost output:
[code]

Starting point - Delete property ha

[2018-07-04 18:02] MikeChou opened #5425 "Confirm how dynamically built `ch` binary looks for the library"
It seems to me that, under Linux/macOS, dynamically built `ch` binary will only looks for the dynamic library (`libChakraCore.so`/`libChakraCore.dylib`) under the same directory as the binary itself.

However, Linux/macOS usually put binaries and libraries under different directories (`bin` and `lib`).

If that's the case, when packaging ChakraCore for Linux and macOS, we have to build two times i

[2018-07-05 20:10] rhuanjl commented on #238
Had a quick look at this, the error is here:

https://github.com/Microsoft/ChakraCore/blob/a584034afbbed4c81d9bd1b397a5663a3fc82682/lib/Runtime/Library/JavascriptRegularExpression.cpp#L1502-L1512

Currently no data is stored to confirm if the property is writeable or not will need to assess how best to add that information - should probably check if the other RegExp builtin properties are handled

[2018-07-06 04:47] lmy375 opened #5428 "Compile failed with code page 936."
Hi,
I just found that error occurs when compiling latest version ChakraCore with code page 936 (which is default code page on Windows Chinese-Simplified version).

VS print this.
[code]
It seems that `JsBuiltIn.js.bc.64b.h` is encoded in UTF-8 (code page 650001).  I have to `save-as` it with encoding GB2312(code page 936) every time before compiling the latest commit.

[2018-07-06 10:39] pallammadhukar commented on #4616
Is this feature available today?

[2018-07-06 15:30] MSLaguana commented on #4616
It is in development at https://github.com/Microsoft/ChakraCore-Debugger, but you are welcome to try it out.

[2018-07-06 16:20] MSLaguana commented on #4616
I just noticed that I was somewhat premature; it is still private for now, but we are working on taking it public. Apologies for any confusion!

[2018-07-07 02:33] pallammadhukar commented on #4616
Thank you. When is the tentative Plan for Public.

[2018-07-07 10:18] rhuanjl opened #5432 "Performance: Modulus operator is slow"
I recently wrote a prime number generator which I noticed ran significantly slower on Chakra than on other engines:

[code]

Testing on my MacBook pro in Jsc that takes around 2 seconds to run, in v8 around 2.1 seconds and in ch around 3.8 seconds.

Replacing the use of the modulus operation '%' with the following function equalised jsc and ch at 2.1 seconds:
[code]

Examining JavaScriptCore's sou

[2018-07-08 21:02] vainamov opened #5434 "Fetch errors not displayed correctly"
I am currently developing an Angular application fetching data from an GraphQL server. When the GraphQL server throws an error and does not return data, the console in Edge would show a simple "Error on "fetch"" message whereas a browser like Firefox would show the correct error returned from the GraphQL server. As both browsers access the same Angular project connecting to the same GraphQL server

[2018-07-08 21:08] vainamov commented on #5434
Quick update: When the GraphQL server is responding with valid data, Edge also throws a fetch error while all other major browsers correctly receive and parse the data.

[2018-07-09 09:29] vainamov commented on #5434
Second update: Upon further investigation, similar issues also occur when using plain Xhr requests instead of fetch. Right now, I am not able to make any http request from my Angular application whatsoever in Edge.

[2018-07-10 00:39] kfarnung opened #5440 "Support for BigInt"
BigInt support is currently at Stage 3:  https://github.com/tc39/proposal-bigint

Node is starting to take a dependency on it:  https://github.com/nodejs/node/pulls?q=is:pr+bigint
There's currently an N-API change in PR:  https://github.com/nodejs/node/pull/21226

[2018-07-10 15:36] gfablima opened #5442 "Date constructor with negative value argument"
OS: Ubuntu 16.04 x86
chakra: 1.11.0.0-beta

Hi everyone,

I found an inconsistence on Date() with a negative value.
I was looking on ES6 specification about this issue but I didn't found an answer, maybe the correct way is convert the -0 to +0
as V8 and SpiderMonkey do.

Steps to reproduce:
[code]

Actual results:
false

Expected results:
true

V8 and SpiderMonkey works as expected.

[2018-07-10 15:40] gfablima opened #5443 "Error constructor with more than one argument"
Hi everyone,

I found an inconsistence on Error() with more than one argument.
According to [ES6 Error constructor](https://tc39.github.io/ecma262/#sec-error-message) the Error is called with only one argument (message).
The other engines returns the first argument, chakra returns the second argument.

Steps to reproduce:
[code]

Actual results:
Error: null
Error: test failed

Expected results:
Er

[2018-07-10 16:59] rhuanjl commented on #5442
I took a quick look at this. Relevant spec https://tc39.github.io/ecma262/#sec-date-value in particular point 4.(d) and then https://tc39.github.io/ecma262/#sec-timeclip

I believe that v8 and spidermonkey are correct and the fix would be to edit the date constructor here (after the if/else):
https://github.com/Microsoft/ChakraCore/blob/d5479383f757b86676ef30ec50b1a8050d325e13/lib/Runtime/Library/

[2018-07-10 17:03] rhuanjl commented on #5443
Is this used for some internal error handling features?

https://github.com/Microsoft/ChakraCore/blob/bcc695afbcba34a53cbaad294cb1018b6715bb03/lib/Runtime/Library/JavascriptError.cpp#L97-L115

[2018-07-10 21:52] #258 closed

[2018-07-10 22:45] dilijev commented on #5442
Confirmed we're the only engine that diverges from spec here.

[code]

[2018-07-11 00:10] dilijev commented on #5443
Confirmed incorrect behavior.

[code]

[2018-07-11 18:13] kfarnung commented on #4616
It's now public, but currently Windows-only at this point.  Getting it cross-platform is on the backlog.

https://github.com/Microsoft/ChakraCore-Debugger

[2018-07-11 21:51] #4616 closed

[2018-07-12 01:06] dilijev commented on #5428
We try to keep ASCII-only sources to avoid code page issues.

The problem is:

[code]

Which propagates to the generated header files.

[code]

[2018-07-12 14:26] baac opened #5453 "Chakra should throw SyntaxError when declaring function twice with "use strict""
Hi everyone,
I would like to report an issue when using "use strict" and declaring a function twice on same scope the others engines raises a SyntaxError, maybe this issue is a dupe of #5076.

Chakra: 1.10.1
OS: Ubuntu 16.04 x86

Steps to reproduce:
[code]
Actual results:
pass without failures

Expected results:
SyntaxError: redeclaration of function

SpiderMonkey, V8 and JavaScriptCore works as e

[2018-07-12 17:25] jackhorton commented on #5442
I believe TimeClip is new -- I added it in Intl.cpp for use in DateTimeFormat, but it looks like it should be moved to somewhere more common and used in regular date parsing too.

[2018-07-12 19:39] jackhorton commented on #5425
Sorry for the silence here! I took a quick browse and it looks like we make the same assumptions on posix as we do on Windows here, and windows has historically always had Chakra(Core).dll sitting next to the host in the same folder.

I am not sure what the right fix is -- looking at http://tldp.org/HOWTO/Program-Library-HOWTO/shared-libraries.html, perhaps we should have CMake and/or build.sh set

[2018-07-12 20:11] kfarnung commented on #5453
Confirmed in eshost:

[code]

@dilijev @VSadov Is this the same as #5076?

[2018-07-13 10:52] NDobrev opened #5458 "Bad performance when disable concurrent GC"
Hi everyone,

I decide to disable ENABLE_CONCURRENT_GC, because in our application we don't want extra reserved memory for barriers table, but this result in serious performance implications.Basicly our application spend 95% of the time in GC, because it looks like every API call trigger cleanup.
So i decide to disable it for function ContextAPIWrapper_Core, but this result in a crash in Javascrip

[2018-07-13 21:57] davisp opened #5461 "Segfault in RecyclerWriteBarrierManager::WriteBarrier"
This is a bit of an odd one. I've narrowed things down with a reproducer for investigation but I'm not at all sure how to really debug this further. The end result is a segfault on this line:

https://github.com/Microsoft/ChakraCore/blob/de80038b6ce0d224e121ff2439564a95dfbcd3a6/lib/Common/Memory/RecyclerWriteBarrierManager.cpp#L331

I have to say that I ended up finding this in a round about way i

[2018-07-13 23:13] MSLaguana commented on #5461
Thanks for the detailed report! I'll see if I can reproduce the error with your code.

[2018-07-14 02:01] kfarnung commented on #5076
From #5453 it looks like the same issue exists for functions, make sure to test function redeclaration when fixing this issue:

[code]

[2018-07-14 02:04] kfarnung commented on #5453
Closing as duplicate of #5076, thanks for the report @baac!

[2018-07-14 02:04] #5453 closed

[2018-07-14 06:45] MikeChou commented on #5425
@jackhorton

Thanks for your reply.

To my understanding dynamically built `ch` binary is currently not direct linked to the dynamic library `libChakraCore.dll/so/dylib`, and will use `dlopen` API (or something equivalent) to explicitly and programmatically load it instead. For example, `ch -v` will run successfully even when the dynamic library is not present.

Is this behavior intentionally desi

[2018-07-16 00:22] nullbus opened #5463 "Some tips for multithread debugging?"
Hello, I am working on some porting from V8 implemented [Unreal Engine Javascript plugin](https://github.com/ncsoft/Unreal.js-core) to [ChakraCore implementation](https://github.com/ninemcom/Unreal.js-core).

Its primary objective is supporting mobile devices(iOS, Android) and I got success from most devices. But I got reports about thread hanging issue for some old Samsung Android devices(like Ga

[2018-07-16 09:33] jaimecbernardo commented on #5458
Hi,

I've also observed this behavior with concurrent GC off. The best solution for my case was turning the concurrent GC on, but I've collected some info that might helpful.

This behavior seems to be caused by heuristics that try to aggressively clean memory if your case is using memory above a certain threshold / has allocated lots of memory in a small time period. For parallel GC, that's ok, s

[2018-07-16 12:43] rhuanjl commented on #5458
As a user of CC I've found that if I want to limit GC calls the best way is to cut down the number of objects being created and disposed of in my JS code - work out ways to reuse objects rather than continually making new ones etc.

[2018-07-16 14:13] NDobrev commented on #5458
Yeah, but we don't have control over the code of our users, so we can just reduce the amount of garbage with good practices.

[2018-07-16 16:55] jackhorton commented on #5425
If I had to guess, it would be that we were emulating the behavior of ch on windows, which probably was emulating the behavior of jshost (our internal host for ChakraFull), which probably had some legacy reason for doing this. I know we also do things in `DllMain()` and load test hooks, which may also be related. I will defer to Hitesh (or possibly @obastemur ?) on what the rationale was here.

[2018-07-16 17:09] obastemur commented on #5425
As @jackhorton said, the intention was to make it similar to what we have on Windows to reduce the effort and future complexity.

The necessary change there may not be trivial but no rocket science either. I'm not sure what others would say but; If you think it's gonna pay off and want to contribute it then go ahead and do it under a new build option. i.e. `build.sh --no-dlopen....` <-requires bet

[2018-07-16 18:56] #5428 closed

[2018-07-16 19:09] rhuanjl commented on #5458
One other suggestion I've thought of that may help - you could try creating your runtime with JsRuntimeAttributeEnableIdleProcessing and then include a JsIdle call at some point in your workflow/event loop. (This attribute tells CC that there will be a good time to recurring tasks like GC calls and so not to do them all the time and then JsIdle tells it when to do them)

[2018-07-16 23:30] dilijev commented on #4268
See PR #5452 (Fix #5428) -- we should also enforce ASCII-only in Intl.js and JsBuiltins.js

[2018-07-16 23:44] dilijev commented on #4268
FWIW I don't think this check needs to be any more strict than one which prevents errors related to encodings (so, check for and block all non-ASCII only in C++ source files and any text which would end up in generated C++ source files)

[2018-07-17 02:38] curtisman commented on #5458
You mentioned that you want to disable concurrent GC because you don't want to the write barrier table.
Did you disable the write barrier table?   You probably need to disable partial GC as well, since that relies on write barrier as well.

[2018-07-17 02:44] curtisman commented on #5458
As for frequency of GC, you may want to create the runtime with `JsRuntimeAttributeEnableIdleProcessing`.
Without it the CC assumes every call to be the last call to the engine and try to collect very aggressively.

If you create runtime with `JsRuntimeAttributeEnableIdleProcessing`, CC will assume that the next call to  it will be very soon and GC heuristic will only activate sparingly.  It is yo

[2018-07-17 17:11] #2973 closed

[2018-07-17 19:16] akroshg commented on #5084
This is fixed.

[2018-07-17 19:16] #5084 closed

[2018-07-17 19:52] dimitarcl opened #5470 "Buiding and using ChakraCore for UWP applications"
I can't find instructions on how to build ChakraCore as a library for UWP and I am not sure whether is better to use the ChakraRT that is part of the UWP platform or build and embed your own.

- Is the regular build UWP compatible or there is something that I am missing?

- What are the differences between using ChakraCore from the OS vs embedding own version?
I know  that if I build my own, I wil

[2018-07-17 22:02] #2914 closed

[2018-07-17 22:45] digitalinfinity commented on #5470
Hi @dimitarcl - just to be clear, the version that comes with the OS is not ChakraCore.dll but Chakra.dll- the former is the engine that is in this repo, the latter is not open-source, not cross-platform and is the engine that ships with Edge.

For UWP, it's probably better to use Chakra.dll that ships with the OS. ChakraCore.dll is not WACK compliant- it's not a lot of changes to get it to be com

[2018-07-18 11:04] Funkwai commented on #328
I would like to enable ETW for profiling the stack frames of both JavaScript and C/C++ code at runtime, to find out which part of a program is a hotspot or bottleneck.

can you tell me simple instruction how to enable ETW to log the event? (I'm new to Windows development environment) I built ChakraCore for x64 with ENABLE_JS_ETW from VS 2107 and run a command line "ch.exe" in my use case, do I hav

[2018-07-18 14:28] sunlili opened #5477 "Inconsistent output compared with other JS engines"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]
In ChakraCore, the output is
`BT_FLAG`
However, in V8 and SpiderMonkey, output is
`ReferenceError: d is not defined`

BT group
2018.7.18

[2018-07-18 14:44] sethbrenith commented on #5477
Thanks for reporting. It looks like we're evaluating the property name in sloppy mode.

[2018-07-18 15:20] davisp commented on #5461
Cool. I can confirm that that PR does fix the test case I posted here. I'm rebuilding a non-debug/sanitizing built to test my bindings and will report back if I'm still seeing oddness there.

[2018-07-18 15:50] dimitarcl commented on #5470
Thank you very much for the info.

@digitalinfinity Do you have a list of items that will be required for the WACK compliance?

I think in the long run we will prefer to have a single version of ChakraCore across all plaforms.

[2018-07-18 16:33] MSLaguana commented on #5461
Please do let us know if you run into any other issues!

[2018-07-18 16:33] #5461 closed

[2018-07-18 17:21] davisp commented on #5461
Just another bit of evidence. I've had a soak test of my language bindings running for a couple hours now with zero failures. Given that it used to fail nearly 50% of the time I'd call this fixed.

Thanks for your help!

[2018-07-18 17:41] igor-simoes opened #5478 "Chakra should eval function with comma after params"
Hi everyone,
I found a case of inconsistency using `eval` to evaluate a function that have a comma after function params.

OS: Ubuntu 16.04 x64
Version: 1.10.1

Step to reproduce:
[code]
Actual results:
[code]
Expected results:
[code]

V8, SpiderMonkey, JSC and XS works as expected.

[2018-07-18 17:44] antross opened #5479 "Calling `String.prototype.replace` stringifies a `Proxy` of a `function` instead of invoking it"
Another variation of #4730 and #5282 where a `Proxy` to a `function` is not treated as callable. Unlike those issues this still repros after building the latest ChakraCore from master today.

Repro:
[code]

See step 5 in http://www.ecma-international.org/ecma-262/#sec-string.prototype.replace

[2018-07-18 17:46] akroshg commented on #5478
I think this is inconsistency on the arrow function.
As this works
[code]
Thanks @igor-simoes for reporting this.

[2018-07-18 17:51] antross opened #5480 "Calling `Array.from` fails when passed a `Proxy` of a `function`"
Found from searching the spec for uses of `isCallable` after hitting #5479. This repros on the latest ChakraCore from master today.

Repro:
[code]

See step 3.a in http://www.ecma-international.org/ecma-262/#sec-array.from

[2018-07-18 22:57] digitalinfinity commented on #5470
Thanks for your feedback- your interest in a single version of ChakraCore for all platforms has been noted.

Here is the list that I have from a couple months ago:
[code]

In some cases (e.g CreateFile/VirtualAlloc) we need to switch to using the *FromApp variant of the API. For some of the localization related APIs, we could probably use ICU APIs (@jackhorton can confirm). The rest, we understand

[2018-07-18 23:43] Penguinwizzard commented on #4849
Fixed in 1fc4e1f.

[2018-07-18 23:43] #4849 closed

[2018-07-18 23:43] Penguinwizzard commented on #5189
Fixed in 1fc4e1f.

[2018-07-18 23:43] #5189 closed

[2018-07-19 05:11] nullbus commented on #5463
I didn't do the whole porting jobs. I just found somebody did and do some minor fixes to get build and work properly with armv7.
For Android: [gashtio's port](https://github.com/gashtio/ChakraCore/tree/feature/android)
For iOS: [chakrashim part of node-chakracore](https://github.com/nodejs/node-chakracore/tree/master/deps/chakrashim)

I am possible to get memory dump of hanged application with thi

[2018-07-19 05:48] nullbus commented on #5463
@digitalinfinity I shared some log with memory dump from my [drive](https://drive.google.com/open?id=16WfXwReyBLkoUzUmgDMlXKCSfcqFduP4). You can view the content of dump using the [parser script](https://github.com/friendlyJLee/pmdump#pmdump_parserpy). I will add more files as issue reproduced again.

[2018-07-19 20:30] #4841 closed

[2018-07-19 20:30] #4843 closed

[2018-07-19 20:46] rajatd opened #5487 "Redeferral should update the total jitted code size, so new functions don't hit the max jitted code cap."
Specifically `processNativeCodeSize` and `nativeCodeSize` on ThreadContext.

[2018-07-19 22:55] akroshg commented on #5480
We should have
```!JavascriptConversion::IsCallable(args[2])```
instead of
```!JavascriptFunction::Is(args[2]))```
at https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/JavascriptArray.cpp#L10244

[2018-07-19 23:59] #2452 closed

[2018-07-20 05:10] #5478 closed

[2018-07-20 11:04] SimonKovac opened #5491 "TypeScript class extending Set returns error."
When trying to extend a set to allow unique custom objects, I found an error stating:
`Set: 'this' is not a Set object`

Recreation:
https://jsfiddle.net/9xknubyj/

[2018-07-20 14:38] MSLaguana commented on #5491
I just tried running that jsfiddle, and I didn't get any errors. If I add the lines

[code]

then I do get an error, but the error is to do with the use of `super` (or more specifically, `_super` once converted to javascript) in the `add` method, which looks correct to me. Where were you seeing the error you report? What version of Edge are you using, and does the error show up in the console when

[2018-07-20 16:20] sethbrenith opened #5492 "proxy property enumeration can skip items"
This code should print both properties but only prints one:

[code]

This is because JavascriptProxy::ProxyOwnkeysEnumerator::MoveAndGetNext is using a hash set of null-terminated strings, so it doesn't handle embedded nulls correctly. Most places we use CharacterBuffer or similar to do string hashing and comparisons correctly.

[2018-07-20 17:00] tcare commented on #3187
Had a look at this. The fix seems simple but has some potential perf implications.

It's currently not easy to disable the optimization that bypasses the set trap on a per object basis. For prototype objects with getters/setters we disable this globally per scriptContext since it's simpler and we don't expect it to happen much in real code.

Proxies are different because we do expect this pattern

[2018-07-21 10:38] SimonKovac commented on #5491
I got the error when running the exact piece of code in a separate project, or when running it through the typescript playground(http://www.typescriptlang.org/play/). The error doesn't show up on IE11, which is why I posted the issue here.
Edge version is 15, the error you got is showing up in the console of the Jsfiddle, but I'm not sure what kind of compilers they are using.

[2018-07-21 20:44] MSLaguana commented on #5491
Ah I see; using the typescript playground I do get the error that you report. However, I also get a similar bug if I try to repeat the same thing using v8 (using node 10.6.0 as a host):

Do you see this code working as you expect anywhere? This may be a bug in the way typescript is converting to javascript?

[2018-07-21 20:47] MSLaguana commented on #5491
Also to clarify: you say that it works in ie11, but I believe that will be because ie11 doesn't have full ES6 support, and so ie11 doesn't have the notion of classes. Edge does have ES6 support which changes the behavior of things like `Set` and `Map`, and that may be what is causing the discrepancy here.

[2018-07-22 08:30] jdalton commented on #5225
I'm seeing this error in node-chakracore 10.6.0 when testing for [this bug](https://github.com/Microsoft/ChakraCore/issues/4729).

[code]

[2018-07-22 15:42] sethbrenith commented on #5225
@jdalton good point. I think I need to port this fix from master to 1.10 so it can show up in Node builds.

[2018-07-22 17:59] fatcerberus opened #5499 "Module namespace object when examined in debugger has no value, type, etc."
I had an issue with my debugserver crashing when attempting to examine module namespace objects, so I investigated.  It turns out that the ChakraCore debugger serializes module namespace objects quite a bit differently than it does for any other object.

I ran the following in miniSphere while under control of SSj:
[code]

I added a bit of code to miniSphere to print the `JSON.stringify`'d object

[2018-07-22 18:15] fatcerberus commented on #5491
The same error occurs when using the TypeScript Playground in Chrome.  The behavior is unfortunately correct per the ECMAScript specification.

The issue appears to be that the transpiled constructor does:
[code]

This is not legal for class constructors (they **must** be called using either `new` or `Reflect.construct()`).
 Setting the TS compiler to target ES6 or higher would probably fix it.  S

[2018-07-23 08:21] NDobrev commented on #5458
Thank you very much for the info and suggestions. Looks like JsRuntimeAttributeEnableIdleProcessing  flag have good impact.

[2018-07-23 16:31] antross opened #5500 "String.prototype.split with RegExp "/u" flag breaks surrogate pairs"
I found this via [an example on StackOverflow](https://stackoverflow.com/a/34717402/3918980) using the `RegExp` "/u" (Unicode) flag with `String.prototype.split` to convert a string into an array of characters without destroying surrogate pairs. The author noted this does not work in Edge (which I confirmed).

Repro:
[code]

[2018-07-23 16:31] rhuanjl opened #5501 "BUG: Module namespace objects have undefined Indirect exports"
There is a bug in the initialisation of module namespace objects when the module contains an indirect export.

Simple proof of concept
[code]

Credit @fatcerberus for finding that there was a CC bug here

EDIT: deleted info on where I thought the bug came from as I think what I'd posted was wrong.

[2018-07-23 17:19] d3x0r opened #5502 "Failure to parse date strings with timeone"
[code]

The above results (in Edge console) `[date] Invalid Date: `

Firefox and chorme have supported this for 8+ years.

https://stackoverflow.com/questions/2182246/date-constructor-returns-nan-in-ie-but-works-in-firefox-and-chrome

[code]

all of those work in Node, chrome, firefox, my C library that parses javascript times.

[2018-07-23 17:20] SWW13 opened #5503 "Crash in ProfiledNewScObjArraySpread_Jit on linux"
I have attached crashing inputs [crashes-jit.zip](https://github.com/Microsoft/ChakraCore/files/2220301/crashes-jit.zip) with backtrace and context during crash.

To reproduce the issue run `ch` on **linux** with the crashing input as script:
[code]
The crash only occurs when `new Array(...[])` is executed as JIT code, so you may have to increase recursion.

Here is a dump of the produced JIT code

[2018-07-24 00:37] #352 closed

[2018-07-24 08:02] sunlili opened #5508 "Inconsistent output compared with other JS engines when handling global property of RegExp"
Hello,
The following code behaves incorrectly (inconsistent with other engines).
[code]

In ChakraCore, the output is
`TypeError: Cannot redefine non-configurable property 'global'`

However, in V8 , SpiderMonkey and JSC, output is
`BT_FLAG`

BT group
2018.7.24

[2018-07-24 08:14] sunlili opened #5509 "Regex replace with proxied function attempts to stringify proxy instead of call it"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]

In ChakraCore, the output is
`TypeError: Function.prototype.toString: 'this' is not a Function object`

However, in V8, SpiderMonkey and JSC, output is
[code]

BT group
2018.7.24

[2018-07-24 08:21] sunlili opened #5510 "Support for regexp symbols like Symbol.split not enabled by default"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]

In ChakraCore, the output is
`TypeError: Object doesn't support property or method 'undefined'`

However, in V8 and SpiderMonkey, output is
`BT_FLAG`

BT group
2018.7.24

[2018-07-24 09:49] rhuanjl commented on #5501
Note I cannot work out what condition ought to be being checked here - the only way I can fix the above error at the moment introduces an additional error so I have no fix to submit with this bug report at the moment.

[2018-07-24 13:52] sunlili opened #5511 "Inconsistent output compared with other JS engines"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]
In ChakraCore, the output is
`BT_FLAG`
However, in V8 and SpiderMonkey, output is
`SyntaxError: redeclaration of var ss:`

BT group
2018.7.24

[2018-07-24 14:00] sunlili opened #5512 "Incorrect realization of lastIndex of RegExp"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]

In ChakraCore, the output is
[code]
However, in V8 and SpiderMonkey, output is
[code]

BT group
2018.7.24

[2018-07-24 14:07] sunlili opened #5513 "Global object has no toStringTag unlike other engines"
Hello,
The following code behaves strangely (inconsistent with other engines).
[code]
In ChakraCore, the output is
[code]
However, in V8 and SpiderMonkey, output is
[code]
BT group
2018.7.24

[2018-07-24 14:51] fatcerberus commented on #5513
I’m rather confused by the test - it can’t possibly ever succeed because `result` is a number and `check` is set to`this`, i.e. either the global object (sloppy mode) or `undefined` (strict mode).

That said, to clarify for everyone else, the actual inconsistency here is that ChakraCore stringifies the global object as `[object Object]` whereas the other engines stringify it as `[object global]`.

[2018-07-24 14:53] fatcerberus commented on #5513
By the way, could you be more specific in your issue titles?  They’re all just “inconsistent output with other engines” so if you look at the issue page it just seems like you’re spamming.

[2018-07-24 15:29] fatcerberus commented on #5513
Specification for `Object.prototype.toString`:
https://tc39.github.io/ecma262/#sec-object.prototype.tostring

There is no special case here for the global object; what seems to be happening is that V8 and SpiderMonkey have a `@@toStringTag` on the global object while CC does not.

Test code:
[code]

Node (V8):
[code]

ChakraCore:
[code]

There is no specification requirement for the global object

[2018-07-24 15:58] MSLaguana commented on #5509
I believe that this is the same issue as https://github.com/Microsoft/ChakraCore/issues/5479 where we don't detect a proxied function as callable.

[2018-07-24 16:05] MSLaguana commented on #5510
This is because by default chakracore does not enable support for some of the regex symbols, like `Symbol.split`. If you specify the `-ES6RegexSymbols` flag then it turns on that support, and this test case behaves as expected.

[2018-07-24 16:16] MSLaguana commented on #5508
This is because we have not yet enabled the ES6 regex prototype properties by default. If you run with `-ES6RegexPrototypeProperties` then it behaves as expected.

[2018-07-24 19:16] MikeHolman opened #5516 "don't emit LdNativeCodeData if function doesn't use any"
Most JS functions will have a bailout or something that uses native code data, but wasm functions never will (or almost never). We should change to only emit this instruction only if we actually need it. It's a bit tricky to track, since most of the uses are introduced during lowerer or later, but it should be doable.

[2018-07-24 20:58] Penguinwizzard opened #5517 "Potential improvement for virtual typed array access"
Currently, if we're doing virtual typed array access and don't know whether the offset for the load of an element is necessarily within the 4GB reserved region, we insert bounds checks. However, we seem to do this too often, and in ways that don't give the best perf possible. Consider the following code under `-mic:1 -msjrc:1 -bgjit- -oopjit- -dump:globopt`:

[code]

The typed array load in foo ge

[2018-07-24 22:28] kfukuda2 opened #5520 "Investigate and possibly fix asserts failing in baseline"
ChakraCore/test/typedarray/Uint8ClampedArray_es6.baseline
contains output of asserts failing. The corresponding js file should be changed to assert based on expected behavior.

[2018-07-24 22:30] MikeHolman commented on #5502
@jackhorton FYI. Seems like this might be winglob/ICU issue?

[2018-07-25 10:09] rhuanjl commented on #2720
Is there any update on this feature/plan for when it will be implemented?

[2018-07-25 10:10] rhuanjl commented on #5520
There's a previous issue https://github.com/Microsoft/ChakraCore/issues/2020 to cleanup all of the typed array tests as they're rather messy - I was thinking of doing this but hadn't got around to it yet.

[2018-07-25 12:56] sunlili opened #5523 "Throw TypeError when new an object extends Proxy object"
Hi,
The following code behaves incorrectly (inconsistent with other engines).
[code]
In ChakraCore, the output is
`TypeError: Object doesn't support this action`

However, in V8 , SpiderMonkey and JSC, output is
`BT_FLAG`

BT group
2018.7.25

[2018-07-25 15:47] MSLaguana commented on #5523
I believe that this is a duplicate of #5225 and has been fixed in master, but not in release/1.10. @sethbrenith do you think it's worth backporting to release/1.10?

[2018-07-25 15:52] sethbrenith commented on #5523
Yes, I reopened #5225 to track backporting.

[2018-07-25 18:03] #5503 closed

[2018-07-25 22:20] LouisLaf commented on #2319
This is a dup of #3532, which has more details.

[2018-07-25 22:22] LouisLaf commented on #3532
Looks like we'll need to duplicate all the typed arrays vtables to fix this and maintain perf.

[2018-07-25 23:42] kfarnung commented on #5491
If I run the code sample using `tsc` set to `es5` mode then I get the following build errors:

[code]

If I switch my `tsconfig.json` to `es2015` then I get correct output which uses class syntax.  Since Set wasn't introduced until ES2015, you'll likely need to take another approach.

[2018-07-25 23:43] #5491 closed

[2018-07-25 23:52] kfarnung commented on #5500
@dilijev Can you take a look?

[2018-07-25 23:58] kfarnung commented on #5509
Narrowed down the repro to just:

[code]

Closing as a duplicate of #5479.

[2018-07-25 23:58] #5509 closed

[2018-07-26 00:00] kfarnung commented on #5523
Thanks for the report! We'll use #5225 to track the backport work.

[2018-07-26 00:00] #5523 closed

[2018-07-26 00:01] kfarnung commented on #5419
Thanks @rhuanjl!

[2018-07-26 00:10] dilijev commented on #5500
Dupes of https://github.com/Microsoft/ChakraCore/issues/98

[2018-07-26 00:10] #5500 closed

[2018-07-26 00:12] dilijev commented on #5500
[code]

[2018-07-26 01:57] sunlili opened #5531 "proxy [[OwnPropertyKeys]] shouldn't return duplicate entries"
Hello, executing following code
[code]
Output of ChakraCore:
[code]
However, in ecma, 6.1.7.3Invariants of the Essential Internal Methods, [[OwnPropertyKeys]] must not contain any duplicate entries.

BT group
2018.7.26

[2018-07-26 02:15] fatcerberus commented on #5531
Known issue, see #5087.

[2018-07-26 11:04] zhunki opened #5532 "null pointer dereference in EmitBooleanExpression"
the following js code fragment can lead to a null pointer dereference.
[code]

==10216==ERROR: AddressSanitizer: SEGV on unknown address 0x000000000000 (pc 0x55b703964384 bp 0x7ffd0824e480 sp 0x7ffd0824e430 T0)
    #0 0x55b703964383 in EmitBooleanExpression(ParseNode*, int, int, ByteCodeGenerator*, FuncInfo*, bool, bool) (/media/b/ext/ChakraCore-1.10.0/out/Release/ch+0x170a383)
    #1 0x55b7039660

[2018-07-26 13:11] rhuanjl commented on #5419
EDIT: see above added an additional related error.

Note: the fix I have ready to submit fixes the additional error too. (BUT I can't yet submit the fix as it is dependent on #5405 )

[2018-07-26 16:59] #5025 closed

[2018-07-26 22:09] Funkwai opened #5541 "How to do profiling with"
I discovered that ChakraCore has supported ETW (https://github.com/Microsoft/ChakraCore/pull/1986
, https://github.com/Microsoft/ChakraCore/issues/328)

I want to leverage this powerful tool for CPU profiling and further analysis, for example, which is the hotspot in JS program/runtime, but I still can't find a way to get useful profile data.

According to the ETW introduction here (https://channe

[2018-07-26 23:12] MSLaguana commented on #5541
Yes, ChakraCore shares a GUID with Chakra (and I believe with jscript9 as well, the javascript engine in internet explorer). If you change the guid, then you'll need to register your new GUID with an appropriate manifest using `wevtutil`.

Instead of doing that, I would recommend keeping the same GUID but using WPA to filter down to only events from the process that you care about. That way WPA sh