[2016-01-05 20:05] MikeHolman opened #1 "performance tab crashes in f12 on pages with asm.js"
Looks like some state is not changed correctly on debugger detach, so when reattaching debugger after the profiling completes, the asm.js->js frame conversion still happens.

[2016-01-06 18:25] ianwjhalliday opened #6 "Remove oldest ES6 feature switches"
Here's my reasoning:
- switches were provided for allowing disabling unstable features for engineering infrastructure and RI
- **old features are now stable and any bugs in them are not going to cause us to disable the feature**
- I cannot think of any reason else why we would want to disable a given feature
- oldest switches do not necessarily even work anymore due to future changes requiring the

[2016-01-06 18:49] kunalspathak opened #7 "Chakra doesn't throw SyntaxError if function is declared in statement context"
As per [this](http://tc39.github.io/ecma262/#sec-functiondeclarations-in-ifstatement-statement-clauses) section of ECMA spec, chakra should throw syntax error for below code, but it accepts it without errors.

[code]

[2016-01-06 19:19] dilijev opened #8 "Allocation failed silently in some AsmJs tests"
When an OutOfMemory error occurred in ch.exe, the program crashed without logging an error message.

The exception in this particular case is thrown within the ArrayBuffer::ArrayBuffer constructor, but it is handled by code within ch.exe and it seems to be swallowed up without logging a message before the process dies.

The call stack that catches the OOM exception is here:

[code]

[code]

A usef

[2016-01-06 19:44] dilijev opened #9 "Revive IR Viewer"
Search for IR_VIEWER macro etc in the code. Make this tool work with the ch.exe binary.

[2016-01-06 19:45] dilijev opened #10 "[Continuous Integration] Jenkins Daily Build Tasks"
Add additional build tasks which will only run once per day but will test additional scenarios.

Daily task for each of [ {x86,x64,arm} x {debug,test,release} ] which are done for every commit to master and every pull request. These tasks use Windows Server 2012 R2 + VS 2015 (the default configuration of windows build machines).

Additionally, daily tasks for [ {x86,x64} x {debug,test,release} ] r

[2016-01-06 19:46] dilijev opened #11 "[Continuous Integration] Add check for Microsoft copyright headers in committed files"
Include support for exceptions for files that should not contain the Microsoft copyright notice for various reasons (e.g. would be rendered in markdown, format of file doesn't support comments, included in this repo under a different license, etc.)

This should run as a separate Jenkins CI task from the already existing tasks to make it immediately clear what the issue is.

Also provide a script t

[2016-01-06 19:47] dilijev opened #12 "Add auto code-review checks: tabs, trailing whitespace, etc."
@tcare has suggested adding an auto-code-review service via chakrabot account for this type of issue rather than blocking PRs on non-functional issues.

Details:

We don't want to block builds by having an extra check for style. What we would like to have instead is an auto code-review bot that will make comments about that sort of thing, and which the author has the freedom to ignore if necessary

[2016-01-07 01:16] abchatra opened #20 "Support HTML-style comments"
ES [spec](http://tc39.github.io/ecma262/#sec-html-like-comments) has detailed semantics of HTML style comments.

Test case
[code]
Expected: true
Actual: Syntax error

[2016-01-07 01:17] abchatra opened #21 "String.prototype.toLowerCase and String.prorotype.toUpperCase built-ins should support unicode"
This is a [kangax](http://kangax.github.io/compat-table/es6/) [test case] (https://kangax.github.io/compat-table/es6/#test-String.prototype_HTML_methods)
[code]
Expected: true
Actual: false

[2016-01-07 01:18] abchatra opened #22 "Typed array constructors should accept generic iterables"
Following test should should return true.
[code]
Expected: 1,2
Actual: TypeError

See duplicate OS bug [5027123](https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=5027123)

I believe following [kangax](https://kangax.github.io/compat-table/es6/#test-typed_arrays_constructors_accept_generic_iterables) test case is dupe of this too:
[code]

[2016-01-07 01:19] abchatra opened #23 "Enable Array.prototype.includes by default"
Array.prototype.includes ([spec](https://github.com/tc39/Array.prototype.includes)) is in stage 4 of ES2016 spec. This needs to be enabled by default for ChakraCore and Edge.

This built-in is currently under -ES7Builtins flag and can be enabled through experimental flag.

Note Array.prototype.includes should be added to @@unscopables (See raw [TC39 notes](http://oksoclap.com/p/nov-17-2015))

[2016-01-07 01:19] abchatra opened #24 "Exponentiation operator should throw early syntax error for unary negation without parens"
As per exponentiation stage [3 spec] (http://rwaldron.github.io/exponentiation-operator/#unary-operators) -5**2 should be an early error. This is a spec update from [September TC39 meeting](https://esdiscuss.org/topic/september-tc39-meeting-notes).

[2016-01-07 01:20] abchatra opened #25 "Assignment to new.target should be an early error"
Following test case is failing in [kangax](https://kangax.github.io/compat-table/es6/)
[code]

[2016-01-07 01:21] abchatra opened #26 "Generate fast path for both LdSuper and LdSuperCtor"
Lowerer::Lower ([Lower.cpp](https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/Lower.cpp)) doesn't generate any fast path for loading super and super constructor. It just delegates to C++ helper. Generating a simple fast path will improve the performance of jit code for constructors with super call.
[code]
Refer OS bug [5244353](https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb

[2016-01-07 01:22] abchatra opened #27 "Object destructuring issue: Initializer on shorthand should not throw syntax error"
Following should parse
[code]
Actual: Syntax error

Refer OS bug [3887967] (https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=3887967)

[2016-01-07 01:24] abchatra opened #28 "arguments and eval should be allowed as parameter names of arrow functions in non-strict mode"
Test case
[code]
Similar behavior for *eval* in place of *arguments*

This also affects *yield*.  Looks like the bug is because we are treating arrow parameters as always in strict mode.

Refer duplicate OS bug [5042642](https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=5042642)

[2016-01-07 01:24] abchatra opened #29 "TypedArray constructors do not perform proper super-call to %TypedArray%"
As per ES spec [22.2.4.1](http://tc39.github.io/ecma262/#sec-typedarray)

We should be loading super from the current function [[prototype]] slot. Instead we always assume super is %TypedArray%. Similarly, we do not pass new.target into %TypedArray% since we do not properly call Construct abstract operation. We need some refactoring in TypedArray constructors to support this behavior.

[code]

Exp

[2016-01-07 17:17] abchatra opened #31 "Update Math.random to use xorshift128+"
Chakra implements [LCG] (https://en.wikipedia.org/wiki/Linear_congruential_generator) algorithm for Math.random. Firefox has switched to [XorShift128+] (http://vigna.di.unimi.it/ftp/papers/xorshiftplus.pdf). Chrome used to implement MWC1616 and they have switched to xorshift128+ as well. This is a request to update Chakra Math.random implementation to use xorshift128+. Xorshift128+ is an improveme

[2016-01-07 22:54] dilijev opened #36 "Class name in extends clause should be ReferenceError"
Adapted from test262
https://github.com/tc39/test262/blob/master/test/language/statements/class/name-binding/in-extends-expression-assigned.js

[code]

The error seen looks like the following:

[code]

Details about the expected behavior can be found in [ECMAScript 2015 14.5.14](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-runtime-semantics-classdefinitionevaluation).

**UPDATE:**

[2016-01-09 01:14] #1 closed, assigned to MikeHolman

[2016-01-09 05:17] #10 closed, assigned to dilijev

[2016-01-11 22:41] MikeHolman opened #46 "Include slow tests in some configuration"
We are adding a bunch of new configurations with #18 and #42. With this, I'm wondering if we can include slow tests in some configuration? Right now seems like we are arbitrarily excluding a number of tests.

[2016-01-12 01:07] #11 closed, assigned to dilijev

[2016-01-12 01:23] dilijev opened #48 "Move jenkins.*.* scripts into a jenkins directory off the project root."
This will make the contents of the root of our project more legible, and effectively bring the `README` into view sooner on the main page of the project.

It will require modifications to most of those scripts and to the `netci.groovy` script itself.

The build checks will break on the PR for this change because the Jenkins task definitions will be out of sync with the actual locations of the file

[2016-01-12 01:52] dilijev opened #50 "Refactor netci.groovy to reduce code duplication."

[2016-01-12 22:00] tcare opened #58 "Remove ES6 flag baselines"
We probably don't need es6\es6_stable.js and friends anymore - can we remove them?

akroshg  commented on Nov 30 2015
Agreed.
Should we also remove all stable flags from the .xml files?

tcare  commented on Nov 30 2015
We could, but if we turn a feature off by default (e.g. due to spec change) then we would have to add them back again for that test. That has been fairly rare, so I'm ok with removi

[2016-01-13 00:33] agarwal-sandeep opened #61 "Provide JavaScript debugging support (API) in ChakraCore"
ChakraCore should provide APIs to debug JavaScript

[2016-01-13 17:57] abchatra opened #65 "Remove change-heap support in asm.js"
See Luke Wagner's reasoning [here](http://discourse.wicg.io/t/request-for-comments-switching-resizing-heaps-in-asm-js/641/22).

"While this feature works without issue or slowdown in FF/Edge, the change-heap function interferes with the generic closure analysis that allows V8/JSC to detect and optimize the immutability of the heap view variables [11]. In V8, this causes a drastic performance penal

[2016-01-13 18:14] lukeasrodgers opened #66 "Typo in CODE_OF_CONDUCT.md"
I was looking over the code of conduct, out of curiousity and noticed some odd language:

I assume this is a typo, based on https://github.com/todogroup/opencodeofconduct/blob/gh-pages/index.md:

cheers

[2016-01-13 18:19] bterlson commented on #66
Thanks so much for pointing this out!

[2016-01-13 18:22] jaredfaris opened #70 "Build URLs in README.md are broken"
Visiting http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/Microsoft_ChakraCore_x86_release/ or any of the other links results in a 404. Also, the images in the Build Status area are missing.

![missing images](https://s3.amazonaws.com/f.cl.ly/items/393b312R021T0n2K3S05/Image%202016-01-13%20at%201.21.52%20PM.png?v=2ee7f17c)

[2016-01-13 18:24] liminzhu commented on #70
@dilijev

[2016-01-13 18:28] bransorem commented on #70
#68 will fix this once merged.

[2016-01-13 18:35] dilijev commented on #70
Now merged. Closing as duplicate.

[2016-01-13 18:35] #70 closed

[2016-01-13 18:38] jaredfaris commented on #70
Cool, didn't see the dupe. Sorry about that.

[2016-01-13 18:48] #66 closed

[2016-01-13 19:14] ThomsonTan opened #75 "Typo in wiki page build chakracore"
In page https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore, there is a typo in below step. (thtough->through)

Clone ChakraCore thtough git clone https://github.com/Microsoft/ChakraCore.git

[2016-01-13 19:18] tcare commented on #75
Thanks for the report @ThomsonTan! fixed in https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore/7a8df67ead61d46dc0a024b1be52b37f3d06530c

[2016-01-13 19:18] #75 closed

[2016-01-13 19:43] jeremiahlee opened #76 "Change license to ISC"
There is no reason for Microsoft to align itself with the institution of MIT. The [ISC License](https://opensource.org/licenses/ISC) is a functionally equivalent license approved by the Free Software Foundation and is compatible with Node core's license. The ISC License is the preferred license of OpenBSD, among other projects.

[2016-01-13 20:43] leeter opened #78 "C++ code should follow the C++ Core Guidelines"
Except where required for performance/API reasons the c++ code should follow the [C++ Core Guidelines](https://isocpp.github.io/CppCoreGuidelines/) and use the [Guidelines Support Library](https://github.com/Microsoft/GSL) to ensure safer code and reduce complexity and security risks

Related:[C++11 Language features allowed in Chrome](https://chromium-cpp.appspot.com/)

[2016-01-13 20:46] leeter commented on #78
@hsutter

[2016-01-13 22:17] dancingfrog opened #79 "ChakraCore.jar"
Build solutions is working great to produce ChakraCore.dll, but will there ever be an option to create a Java library so we can use this JS engine in our Java applications? Would love to see a portable version of Chakra (one that runs on OS X, Linux, etc.), similar to V8 and Mozilla's JS engines

[2016-01-13 22:23] brakmic opened #80 "Small typo in Embedding Chakra Wiki: "CharkaCore.h""
Hi,

There's a small typo in the C++ code example at: https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore

"CharkaCore.h" should be "ChakraCore.h".

Was just wondering why my VS2015 couldn't find any classes, functions etc. :)

![charka](https://cloud.githubusercontent.com/assets/56779/12309713/8930123c-ba4c-11e5-9600-0353337e5f3c.png)

Regards and many thanks for the Engine :+1:

[2016-01-13 22:26] Garbee commented on #76
So what is the benefit of changing the license if it provides the same rights to users and coverage to the producer?

[2016-01-13 22:30] abchatra commented on #80
Fixed. Thanks a ton @brakmic

[2016-01-13 22:30] #80 closed

[2016-01-13 23:16] dilijev opened #83 "Add ChakraCore to http://up-for-grabs.net/"
http://up-for-grabs.net/ has a curated list of tasks which are simple enough to help the community get involved in open source projects.

Refer to instructions here for how to get our repo added to the list. https://github.com/up-for-grabs/up-for-grabs.net#add-your-project

Thanks to @RichiCoder1 on Gitter for suggesting this.

[2016-01-13 23:44] dilijev commented on #79
We will evaluate the Java layer option.

Re cross-plat: We are working on porting to Linux. See [Roadmap](https://github.com/Microsoft/ChakraCore/wiki/Roadmap) and the [linux branch](https://github.com/Microsoft/ChakraCore/tree/linux).

[2016-01-13 23:45] dilijev commented on #78
General guidelines are great to have. Is there a tool available to detect deficiencies in adhering to the guidelines? That would definitely help in a code base this size.

If you see specific issues you'd like to correct, please open a PR.

[2016-01-13 23:51] leeter commented on #78
At this point I wanted to get the conversation started, I have noticed a few spots where the guidelines are being violated. But I didn't want to get started on anything because I had noticed a few things:

* ChakraCore does not seem to reference the C++ standard library at all even when it might be better to do so e.g. `unique_ptr` vs. Chakra's `AutoPtr`
* Other C++11/14 features don't seem to be

[2016-01-14 00:09] DerFlatulator commented on #76
Does adopting a license _really_ imply alignment?

[2016-01-14 00:12] ormico opened #85 "ChakraCore NuGet package"
I didn't see this already so I hope it isn't a duplicate.
I also didn't see it in the roadmap.

I read the quick-start guide on embedding ChakraCore, but following this guidance will make it hard to keep an embedded version up to date.
https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore

A better solution would be if MS created a NuGet package for ChakraCore and auto-published it fro

[2016-01-14 00:23] dilijev commented on #83
Opened a PR to add our project to up-for-grabs.net: https://github.com/up-for-grabs/up-for-grabs.net/pull/333

[2016-01-14 00:28] dilijev commented on #85
Thanks for the suggestion. We will look into the possibility of creating a ChakraCore Nuget package.

[2016-01-14 00:37] MikeHolman commented on #83
What is the advantage of this over tagging issues as "Accepting PRs"?

[2016-01-14 00:39] esnard commented on #31
Safari now uses Xorshift128+ too:
https://bugs.webkit.org/show_bug.cgi?id=151641

[2016-01-14 00:49] dilijev commented on #83
We will use the tag Accepting PRs. This is yet another avenue for people to look for issues they might want to help solve. It doesn't require any extra work on our part besides getting our repo added to that website, so it seems like a worthwhile one-time effort.

[2016-01-14 01:24] kasajian opened #88 "ActiveX"
Since Internet Explorer use Chakra, and in Internet Explorer one can new-up an ActiveXObject instance to access safe-COM objects, does that mean that this open source version of Chakra can do the same?   If so, does that mean I can execute that type of code from within version of node that's bound to Chakra?

I want to be able to execute code that looks like this:
    var xmlHttp = new ActiveXObje

[2016-01-14 01:28] taspeotis commented on #76
There is no reason for Microsoft to align itself with the institution of ISC. The MIT License is a functionally equivalent license...

[2016-01-14 01:38] kasajian opened #90 "Building x64_release: ch.exe doesn't do anything"
Built x64_release Using Visual Studio 2015 Update 1.   When running ch.exe from the command prompt it says:

    Try 'ch.exe -?' for help

When issuing 'ch.exe -?', program reports error:

    The binary chakracore.dll is not test enabled, please use chakracore.dll from debug/test flavor

[2016-01-14 01:39] dilijev commented on #88
We only do maintenance work on old versions of Chakra as needed for security issues (Windows Update patches).

The current version of Chakra (used in Edge) uses the open source version of ChakraCore and does not support ActiveX as that is one of the features we dropped as a legacy feature.

See: https://blogs.windows.com/msedgedev/2015/05/06/a-break-from-the-past-part-2-saying-goodbye-to-activex-v

[2016-01-14 01:42] ianwjhalliday commented on #90
Are you building release configuration?  ch.exe does not work with release builds of chakracore.dll, hence the error message.  Test is the same as release except it enables test switches.

[2016-01-14 01:45] dilijev commented on #90
Ah I just tried it. It **is** a bit disconcerting that ch.exe builds in the release configuration but it can't even run a JS file, much less display the help message. We should probably remove the `ch.exe` binary from the release build configuration as it's not intended to do anything.

[2016-01-14 02:17] ianwjhalliday commented on #90
Removing ch.exe from release build is a good idea

[2016-01-14 02:37] ianwjhalliday commented on #90
@MikeHolman and I discussed offline and decided it would be better to improve the error message and then perhaps in the future make ch.exe work with release builds.  I'll submit a PR with a better error message shortly and open a new issue to track allowing ch.exe to work with release builds.

[2016-01-14 02:39] ianwjhalliday opened #93 "Enable ch.exe to work with Release builds of ChakraCore.dll"
Re #90, it would be nice to allow ch.exe to work with Release builds of ChakraCore.dll.

[2016-01-14 03:02] mcfi opened #95 "A simple javascript factorial function does not produce expected results"
I tried the x64-debug ch.exe to execute the following javascript code, but nothing was output. The expected output should be "Infinity".

[code]

[2016-01-14 03:09] MikeHolman commented on #95
I am pretty sure what happened is that you ran out of stack. This is similar to issue described in #8, where we weren't seeing message on out of memory.

[2016-01-14 03:11] mcfi commented on #95
Thanks, that's also what I suspected.

[2016-01-14 03:16] MikeHolman commented on #95
No problem, thanks for the test case! Closing as duplicate for now. @kunalspathak, you might want to validate this repro as well when you make your fix.

[2016-01-14 03:16] #95 closed

[2016-01-14 03:18] obastemur commented on #95
https://github.com/Microsoft/ChakraCore/pull/96 solves this issue.

[2016-01-14 03:20] mcfi commented on #95
Just curious, if the Chakra could do tail-recursion optimization at an earlier stage, could we avoid the some stack overflow issues such as the simple factorial function?

[2016-01-14 03:26] MikeHolman commented on #95
We've discussed this, and I'm sure we'll do something for them in the future, but we don't have any specific plans right now.

[2016-01-14 03:27] mcfi commented on #95
Wonderful!

[2016-01-14 05:07] Yaffle commented on #31
[code]
(see https://bugs.webkit.org/attachment.cgi?id=266302&action=diff#Source/WTF/wtf/WeakRandom.h_sec1 )

a little strange conversion of uin64 to double:
1) you will get `1` sometimes;
2) distances between numbers are not equal

https://github.com/v8/v8/blob/085fed0fb5c3b0136827b5d7c190b4bd1c23a23e/src/base/utils/random-number-generator.h#L93
V8 will have only random 52 bits, seems

and only mo

[2016-01-14 05:32] dilijev commented on #90
Sounds good all around.

[2016-01-14 05:37] dilijev commented on #83
Creating the 'Accepting PRs' issues will be an ongoing effort so there's no need to have an issue tracking it.

[2016-01-14 05:37] dilijev commented on #83
We're now visible on up-for-grabs.net.

![image](https://cloud.githubusercontent.com/assets/494055/12316634/cdf7d274-ba3d-11e5-8aa5-8a535b007f61.png)

[2016-01-14 05:37] #83 closed

[2016-01-14 05:39] dilijev commented on #83
To see the corresponding issues: https://github.com/Microsoft/ChakraCore/labels/Accepting%20PRs

[2016-01-14 06:01] Yaffle commented on #31
[code]
(see https://bugs.webkit.org/attachment.cgi?id=266302&action=diff#Source/WTF/wtf/WeakRandom.h_sec1 )
Will they have `1` sometimes in Safari and not equal distance between values?

[code]

[2016-01-14 06:10] jeremiahlee commented on #76
For people who were active in open source advocacy, defense of civil rights online, intellectual property reform, and online privacy in the oughties, [Aaron Swartz](https://en.wikipedia.org/wiki/Aaron_Swartz) was a hero. Unfortunately, his activism led to a situation with MIT that motivated his suicide. For people who care about these issues, there is still great sensitivity with anything associat

[2016-01-14 06:37] Radle241 commented on #76
I don't see then need to distance oneself from the people who wrote the MIT license, in order to distance oneself from the people at MIT that Aaron Schwartz was involved in.

MIT was founded 1861, it would be quite difficult to distance oneself from everything that they were involved in.

[2016-01-14 06:40] jasnell commented on #76
Equating the use of the MIT license with the circumstances around Aaron's death is ... odd. The MIT license is perfectly suitable.

[2016-01-14 06:59] kasajian commented on #90
Perfect.  It wasn't immediately obvious to me that I couldn't use it from a release build.   I build debug and it worked.

[2016-01-14 06:59] kasajian commented on #88
Okay, thank you.

[2016-01-14 07:02] yangguo-chromium opened #98 "unicode regexp incorrectly matches lone surrogates"
This is from I was able to observe in Edge 25.10586.0.0

/[\ud800-\ud805]+/u.exec("\u{10000}\ud801\ud802") should return ["\ud801\ud802] but instead returns["\ud800"], which is the first half of "\u{10000}".

The spec requires the input string to be interpreted as a sequence of code points, i.e. surrogate pairs to be combined. So matching the lead surrogate of "\u{10000}" is incorrect.

[2016-01-14 07:09] leejingbo opened #99 "Compiler Error under Windows 7 SP1 32-bit Chinese Simplified"
这三个文件：
\lib\common\Memory\PageAllocator.h

\lib\Runtime\Library\ArgumentsObject.h

\lib\Runtime\Library\MathLibrary.cpp

warning C4819: 该文件包含不能在当前代码页(936)中表示的字符。请将该文件保存为 Unicode 格式以防止数据丢失

需要修改上述三个文件的编码才能正确编译。

[2016-01-14 07:28] bnavarma commented on #78
Am I missing something https://www.nuget.org/packages/Microsoft.CppCoreCheck. This tool is from MS itself.

[2016-01-14 07:41] MikeHolman commented on #99
Maybe an issue with file encoding? I see that PageAllocator.h and ArgumentsObject.h are ANSI (where as far as I can tell the rest of the files are UTF8). However, MathLibrary.cpp looks to be UTF8, so I don't know what's going on there.

[2016-01-14 07:46] leejingbo commented on #99
MathLibrary 原来是 UTF-8 无签名， 我改成 UTF-8带签名 之后就可以编译了。

[2016-01-14 07:50] MikeHolman commented on #99
Ok, great. Would you be able to send a pull request with your changes?

[2016-01-14 09:20] Studio384 commented on #76
Someones death is a very weird reason to not use a certain license...

[2016-01-14 09:22] #88 closed

[2016-01-14 09:35] dilijev commented on #61
See [JsRTDebugging branch](https://github.com/Microsoft/ChakraCore/tree/JsRTDebugging) for the work in progress.

[2016-01-14 13:19] resnyanskiy commented on #85
If there was a 'vote' button, I would pressed it for sure. Nuget package is a 'must have' for such project. Please, ensure that this package could be used in [dnx project](http://docs.asp.net/en/latest/dnx/projects.html).

[2016-01-14 15:45] Croydon commented on #48
:+1:

[2016-01-14 16:11] gabereiser commented on #76
Keep the MIT license please.

[2016-01-14 16:39] liquidboy commented on #76
Terrible reason to move off MIT..

[2016-01-14 16:45] Senjai commented on #76
Close this please. Keep politics out of code, it doesn't belong here. OSS is a poor medium to be an activist about completely unrelated things.

[2016-01-14 17:08] gabereiser commented on #79
There are java based javascript engines already (Rhino), I would rather see linux/osx support first w/ cmake before trying to wrap this for java so you can run javascript.

[2016-01-14 17:14] dancingfrog commented on #79
@gabereiser I whole-heartedly agree in terms of priorities, but I was specifically asking if there were any plans for a java implementation and affirming that it would be very useful to a great many devs and system architects.

[2016-01-14 17:41] mitchellknight opened #103 "Code of Conduct"

[2016-01-14 18:10] wmhilton commented on #76
The Aaron Swartz bit is a really interesting argument for using ISC over MIT. I hadn't heard that before. (I'm fine either way though- to me they are equivalent. Maybe ISC is more politically correct these days...)

[2016-01-14 18:15] ljharb commented on #103
(added in #54)

That's not accurate imo. The purpose of the Code of Conduct to me is to help ensure a level playing field and **fair** treatment of everybody. Since the playing field is already not level, that *requires* placing the rights of disadvantaged groups over the rights of advantaged groups so as to make things [**fair** - not equal](http://twitter.com/haytibbs/status/634084533000896512/p

[2016-01-14 18:51] Taritsyn opened #104 "Support of `JsVariantToValue` and `JsValueToVariant` methods"
Do you plan to implement `JsVariantToValue` and `JsValueToVariant` methods? In general, will there be added any possibility to embed custom .NET objects into JavaScript engine?

[2016-01-14 18:57] Studio384 commented on #76
I'm really curious about this: why is this a good argument? Why is this even an argument?

[2016-01-14 18:59] gabereiser commented on #76
it's not...  MIT legalese is more specific about sharing/forking/selling/derivatives than ISC and therefore is a better license (imho).  I use it a lot as well.  Bringing up a political/personal reference on why the license should be changed (that has nothing to do with the license) is a straw-man.

[2016-01-14 19:07] mitchellknight commented on #103
I completely disagree with this. Everyone should be treated equally and fairly. Placing the rights of any group over another is appalling.

I've made my point. The ChakraCore team is welcome to address it or ignore it. If they chose to ignore it, they should understand that some people will feel unwelcome to contribute because the Code of Conduct uses unnecessarily inflammatory language that place

[2016-01-14 19:17] RyanCavanaugh commented on #103
I think you've missed some words when reading this.

The statement is:

See also: We prioritize the safety of pedestrians over the comfort of car drivers by having crosswalks. We prioritize the safety of consumers over the comfort of restaurateurs by requiring food inspections.

This shouldn't be controversial, unless you really think that privileged people deserve comfort more than marginalized p

[2016-01-14 19:17] kunalspathak commented on #88
Related discussion out here : microsoft/node#7

[2016-01-14 19:30] Ivoz commented on #31
For reference for anyone, current generator is [here](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Math/JavascriptMath.cpp#L1022-L1088) in the code, which is the 5DEECE66D LCG.

[2016-01-14 19:36] robpaveza commented on #104
Variant is a [COM Automation concept](https://msdn.microsoft.com/en-us/library/windows/desktop/ms221627(v=vs.85).aspx) that is primarily around the IDispatch interface.  ChakraCore is very much intended to be specifically geared towards going cross-platform, and probably won't incorporate such Windows-specific APIs into the main branch.

Embedding custom .NET objects is a different problem, though

[2016-01-14 19:40] suwc opened #105 ""new ArrayBuffer()" should throw a RangeError"
Per ECMA262:
24.1.2.1ArrayBuffer( length )#

ArrayBuffer called with argument length performs the following steps:
1.If NewTarget is undefined, throw a TypeError exception.
2.Let numberLength be ? ToNumber(length).
3.Let byteLength be ToLength(numberLength).
4.If SameValueZero(numberLength, byteLength) is false, throw a RangeError exception.
5.Return ? AllocateArrayBuffer(NewTarget, byteLength).

[2016-01-14 19:40] mitchellknight commented on #103
Shouldn't you prioritize the *safety of anyone* over another persons *comfort*? This can be said without placing people in to groups based on their perceived status in society.

[2016-01-14 19:41] pleath commented on #95
ES6 specifies Tail Call Optimization for JS, but Chakra hasn't implemented it yet. Note that this affects all calls in what the spec defines as tail position, not just recursive ones.

[2016-01-14 19:44] mcfi commented on #95
Thanks for your information, Paul. Does this imply that Chakra will support Tail Call Opt when it is feature-complete?

[2016-01-14 19:45] RyanCavanaugh commented on #103
Absolutely. [Everyone's safety matters](http://chainsawsuit.com/tag/all-lives-matter/). The statement speaks to the fact that, historically, *this has not been the case*, and the CoC intends to be part of changing that.

[2016-01-14 19:48] pleath commented on #95
It's something we'll get to, yes.

[2016-01-14 19:54] EdMaurer commented on #78
Our coding conventions are documented here [https://github.com/Microsoft/ChakraCore/wiki/Coding-Convention](https://github.com/Microsoft/ChakraCore/wiki/Coding-Convention). The team is not interested in grand changes to the coding style. However, we would entertain targeted use of some of these constructs provided the change delivered a proven performance win.

[2016-01-14 19:58] leeter commented on #78
I'm not recommending a change in coding style per say. I'm recommending having clear resource lifetimes, coding in a way that is less likely to create bugs. What I see is C with classes or at best c++98. It is not even close to safe coding practices.

[2016-01-14 20:11] Flyingmana commented on #76
A lot of very big Projects in the PHP Ecosystem use MIT very successfully and without problems yet.
Its well known by many open source contributors and is also often preferred from from big corporations.

[2016-01-14 20:17] #103 closed

[2016-01-14 20:21] leeter commented on #78
@dilijev based on @EdMaurer 's comment I'm going to close this, I'm very concerned about the security of the code the way it is written. I will not be using ChakraCore in any project I'm involved with as a result.

[2016-01-14 20:21] #78 closed

[2016-01-14 20:30] metathinker opened #108 "Plug in ChakraCore to the Windows Script host so it/Chakra can replace JScript 5.8 [suggestion]"
Many Windows applications such as AutoCAD have long embedded the Windows Script Host to allow scripting in VBScript, JavaScript, and other installed Windows Script languages, and there are a lot of system administration scripts written in JavaScript to run under WSH.

But Chakra has never been a Windows Script script engine since it was introduced in Internet Explorer 9. As a result, while IE 9-11

[2016-01-14 20:38] liminzhu commented on #99
Translating title from "Windows 7 SP1 32位简体中文版下编译出错" to "Compiling Error under Windows 7 SP1 32-bit Chinese Simplified"

[2016-01-14 20:42] #76 closed

[2016-01-14 20:45] tcare commented on #108
@curtisman @Yongqu

[2016-01-14 20:53] gabereiser commented on #108
Another recommendation, static link ChakraCore with a "ChakraScriptHost" or some other bridge that will provide this functionality to those who need it while still keeping Core clean of legacy win32 stuff.  That way, the IActiveScript API can be provided but as a separate lib and can keep Core on track to be cross-platform.

[2016-01-14 21:08] kunalspathak commented on #98
@goyakin  - FYI.

[2016-01-14 21:11] bterlson opened #109 "ch.exe needs --version"
At a minimum it could simply pull the current commit's metadata and report commit hash and commit date.

[2016-01-14 21:11] goyakin commented on #98
@yangguo-chromium Thanks for reporting this. This is a known issue and in our backlog, but we've been tracking it internally.

[2016-01-14 21:15] #104 closed

[2016-01-14 21:28] tcare commented on #109
I believe we already store this sort of data in the DLL - it shouldn't be too hard to get it out. @curtisman and @digitalinfinity know the details of the encoding.

[2016-01-14 21:50] ianwjhalliday commented on #90
Fixed, ch.exe now works in Release builds (without flag support) via #97.

[2016-01-14 21:50] #90 closed

[2016-01-14 21:51] ianwjhalliday commented on #93
Fixed via #97

[2016-01-14 21:51] #93 closed

[2016-01-14 22:00] dhusemann commented on #79
Why close this. while a lower priority the community may pick up and write the proposal??

[2016-01-14 22:03] dancingfrog commented on #79
Oh, OK. I thought "We will evaluate the Java layer option" meant it would be handled elsewhere, but you're right @dhusemann, this is a community project now, so this seems as good a place as any to continue the conversation.

[2016-01-14 22:18] dilijev commented on #109
@curtisman recently made a change in this area. https://github.com/Microsoft/ChakraCore/commit/0813dc1d3847478e420842dbf6ee9015ad1ce4c6

See: https://github.com/Microsoft/ChakraCore/blob/master/lib/common/CommonDefines.h

[2016-01-14 22:52] schipplock commented on #79
@gabereiser nashorn is the new rhino in java 8 :).

[2016-01-14 22:54] gabereiser commented on #79
I know that, I was just making a point...

[2016-01-14 23:06] schipplock commented on #79
@gabereiser, in fact I just wanted to say the nashorn rhino thing :). Your point is valid as rhino and nashorn offer the best "interface" to java from javascript right now. The other way around works well as well. But I understand the request to have chakra even in the java world as chakra offers more es6 features compared to nashorn e.g. but I read that oracle is working hard to extend nashorn to

[2016-01-14 23:50] ianwjhalliday opened #110 "rlexe.xml tags: add support for new build architecture and type terms"
Tests use legacy build architecture and type terms for exclusion tags:
- `exclude_amd64`
- `exclude_chk`
- `exclude_fre`

[`test/runtests.cmd`](https://github.com/Microsoft/ChakraCore/blob/master/test/runtests.cmd) uses the new terms as input but shims them to the old terms for the exclusion tags.  It would be nicer to change all the rlexe.xml files to use the new terms and remove the shim from `r

[2016-01-14 23:53] dilijev opened #111 "[Discussion] Linux / Cross-platform planning"
This is for general discussions on the cross-platfrom effort. Please open individual issues for tasks clearly identified from this discussion, or PRs if they are small and you can do them quickly.

Please see the [Roadmap](https://github.com/Microsoft/ChakraCore/wiki/Roadmap#enhancing-host--platform-support) for our cross-platform checklist and progress.

Related issues:
* [ ] #197
* [ ] #198
* [

[2016-01-14 23:59] dilijev opened #112 "Daily builds of DisableJIT (x86, x64) are broken."
See table at: https://github.com/Microsoft/ChakraCore/wiki/Build-Status#disablejit-builds

Confirmed the compile error locally.

[code]

Looks like it might be related to https://github.com/Microsoft/ChakraCore/commit/c6c4de4104526e4cb5203a73394d3345a2fa0476 by @rajatd

[2016-01-15 00:08] ianwjhalliday commented on #109
This should be better defined.  After a quick discussion with @curtisman the version should at least be the major and minor numbers and build flavor and whether it is prerelease or not.

I believe all this information can be read from the resource file in chakracore.dll so ch.exe need not directly reference macros to get this information.

The `FileDescription` and `FileVersion` resource fields in

[2016-01-15 00:59] dilijev opened #115 "[Test failure] [Daily] [Dev12 x64_debug] Test timeouts are causing the legacy daily build to fail on x64_debug"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#legacy-builds

It seems specific to x64_debug.

While we investigate why they are timing out after 60s (despite running individually in under 10s), we will disable these tests in this configuration.

Tests I've seen affected so far:
[code]

Edit 3/7/16: We did not end up disabling the tests because we wanted to monitor the failures and havi

[2016-01-15 04:46] curtisman commented on #109
There is actually an mechanism to embed commit hash in the version description in the resources already; by defining CHAKRA_VERSION_BUILD_COMMIT in the environment.  Our internal build system defines it for us, but in order to get it automatically, the msbuild project needs to be update to get it from the git repo.

Note that the commit hash is still not 100% accurate, as it may be built with unco

[2016-01-15 04:47] gabereiser commented on #111
personally, I prefer cmake chains but yeah, getting away from .sln msbuild is priority for me at least.  Then we can `#define` our way through the headers to get it built for linux/osx.  it shouldn't be that hard, just need to work around the `windows.h` stuff and maybe a redef here and there.

[2016-01-15 06:43] robpaveza commented on #108
There are a lot of difficulties with using WSH as the desired programming model, which are things that we've learned as part of evolving jscript and IE/Edge.

One of these is the security model.  WSH didn't enforce any kind of security around what was required; IE added this (if I recall correctly) around the IE 5.5 timeframe, which was well after WSH first shipped.  It was done [via the IObjectSe

[2016-01-15 07:05] Taritsyn commented on #104
Thanks for information!

[2016-01-15 07:37] dilijev commented on #31
Specifically here: [JavascriptMath.cpp#L1023](https://github.com/Microsoft/ChakraCore/blob/6649f328269d6ccf5e567dd52d4f89411bfaef26/lib/Runtime/Math/JavascriptMath.cpp#L1023)

[2016-01-15 08:51] digitalinfinity commented on #111
Hi @gabereiser- yup, cmake chain is what we're going for. We need the sln stuff for Windows too for some other reasons so we'll have to maintain parallel build definitions. We're doing this incrementally but check out the Linux branch for what we have so far. Cc @jianchun

[2016-01-15 09:27] digitalinfinity commented on #109
Brian, what exactly is the use case here? Is it for internal build system binaries or ones built locally?

-Hitesh.

On Jan 15, 2016, at 10:16, Curtis Man <notifications@github.com<mailto:notifications@github.com>> wrote:

There is actually an mechanism to embed commit hash in the version description in the resources already; by defining CHAKRA_VERSION_BUILD_COMMIT in the environment. Our internal

[2016-01-15 09:30] dilijev opened #119 "The trigger regex 'daily.*' for all dailies also matches 'daily_...' causing extra builds to be triggered."
There's no need to have the trigger phrases `daily` or `dailys` (regex: `dailys?`) when `dailies` works and doesn't accidentally get matched for individual test triggers.

[2016-01-15 12:11] polygonplanet opened #120 "String.prototype.lastIndexOf broken"
String.prototype.lastIndexOf is broken when passed with the Unicode characters and second argument specified.

[code]

expected: -1
actual: 3

According to [ECMA 21.1.3.9](http://www.ecma-international.org/ecma-262/6.0/#sec-string.prototype.lastindexof) - the `position` argument is used for the end of the string to look *left* from - ie, it is indeed spec-compliant behavior for `'abcあい'.lastIndexO

[2016-01-15 15:16] Michael-S commented on #78
I haven't read all of the commits, but according to Microsoft's own official blogs the project was started in 2008, right?  That's a pretty good reason for not using C++11 standard features throughout the project - some of those features didn't exist yet when the project launched.

[2016-01-15 15:29] goyakin commented on #120
Looks like we aren't taking `position` into account when the `searchString` argument has at least two characters and contains non-ASCII characters.

If anyone wants to work on this, the fix would be in [JavascriptString::EntryLastIndexOf](https://github.com/Microsoft/ChakraCore/blob/4e4d4f00f11b2ded23d1885e85fc26fcc96555da/lib/Runtime/Library/JavascriptString.cpp#L1104).

[2016-01-15 15:52] obastemur commented on #111
@digitalinfinity It will be eventually gypified for node.js build system integration right? Hope this question is not a total none-sense but why separate effort for cmake ? (I'm not arguing CMAKE vs GYP)

I already started to prepare that to integrate it into JXcore. Besides, once it works for Windows (quite) the same script will be very helpful on my effort to port Chakra to OSX/iOS.

[2016-01-15 15:55] gabereiser commented on #111
GYP is how you can build C/C++ libs for node.js, to run in V8.  You do NOT want to do that with Chakra.  Chakra is a javascript engine, like V8.  You don't embed a javascript engine in a javascript engine...

[2016-01-15 15:59] obastemur commented on #111
@gabereiser  You are mixing it with `node-gyp`. Wikipedia -> https://en.wikipedia.org/wiki/GYP_%28software%29

[2016-01-15 16:01] gabereiser commented on #111
@obastemur indeed I am, nevermind then...

[2016-01-15 16:03] caitp commented on #27
these sorts of frontend fixes are probably good first bugs, if you want to attract volunteer contributors to work on actual language features.

I'm hoping I can encourage some local youth to tackle some of these bugs.

[2016-01-15 17:14] curtisman commented on #78
@Michael-S That's correct.  Actually, some of the code (e.g. parser) are ported over from the old jscript engine, which is even older (late 90's).

We have been introducing C++11 features to the code base (e.g. lambda), but if the existing code is already working, we generally don't go back and update them unless we are going to touch the code for some other reason to avoid the unnecessary risk of

[2016-01-15 18:17] ljharb commented on #120
[es5-shim test cases](https://github.com/es-shims/es5-shim/blob/master/tests/spec/s-string.js#L248-L264) - same bug applies to `indexOf` ([tests](https://github.com/es-shims/es5-shim/blob/master/tests/spec/s-string.js#L233-L246))

[2016-01-15 18:27] Michael-S commented on #78
@curtisman  thank you for the response, and the confirmation.  Then I completely understand why ChakraCore is not completely written in idiomatic C++11.

[2016-01-15 18:40] goyakin commented on #120
@ljharb `indexOf` tests pass for me both on Edge and using `ch.exe`.

[2016-01-15 18:48] rajatd opened #122 "Setting whether a function body's native entry point is used should be BGJIT_STATS agnostic"
See ScriptFunction constructor. Only the background-jit-stats related updates should be made inside the BGJIT_STATS macro scope

[2016-01-15 19:01] metathinker commented on #108
@robpaveza, your first two concerns - the difficult security model of scripting and the performance loss due to the Automation/IDispatch dependency - are valid, but they become much less important if you do not have the luxury to start from scratch in choosing an embedded script engine.

The hosting apps for which plugging in Chakra to Windows Script would be helpful are the ones which are already

[2016-01-15 19:05] leeter commented on #111
just curious what `--std=` will the port be targeting? I'm assuming `--std=C++14`? since that's actually complete with clang on 15.10

[2016-01-15 20:29] deluxor commented on #111
I hope to see it compiled for ARM running as the core of nodejs on a linux machine :+1:

[2016-01-15 21:11] tcare commented on #110
We'll need an internal workitem for this as well.

[2016-01-15 21:30] zoryn opened #125 "[Discussion] Does Chakra expose parser information?"
Does Chakra exposes parser information?

For example, assuming I have script like this:

[code]
I want to be able to get argument names ("x" and "y").

Alternatively, assuming I have script like bellow and already ran it and got "f1" as a value. Can I get argument names of f1 from runtime?

[code]

[2016-01-15 22:43] ljharb commented on #120
Cool, it's possible the indexOf bug is in an older Edge version or a different engine. Thanks for checking :-)

[2016-01-15 23:02] pleath commented on #125
We don’t have a back door for extracting this kind of information, no, but there’s a very good front door in the form of “foo.toString”. Converting a function object to a string will give you back the original source, and from there you can scan past the “function” keyword and optional name to pull out all the names of the formal parameters.

--Paul

From: zoryn [mailto:notifications@github.com]
S

[2016-01-15 23:35] zoryn commented on #125
Thanks for your response! This is what I was thinking as well, just wanted to check if there is a better way not involving regex or manual string parsing.

[2016-01-16 00:20] dilijev commented on #111
@deluxor It's definitely a good goal to try to get ARM tests running on linux devices. Our CI doesn't run ARM tests (only builds) since the build machines are all Intel Windows machines. Internally we run ARM tests, but still it would be nice to get some ARM testing visible to the public.

[2016-01-16 00:53] ariya commented on #111
I saw that CoreCLR's PAL code is being reused in `pal/`. I am curious if the plan is to import PAL wholesale or to pick only the necessary parts? I am inclined to think it is the latter, but I want to confirm my understanding.

[2016-01-16 00:56] jianchun commented on #111
@ariya It is the latter. We are picking only what we need and probably will make necessary changes.

[2016-01-16 01:01] jianchun commented on #111
@leeter  Currently we are targeting ```-std=c++11```. We could reevaluate if that does not suffice.

[2016-01-16 01:24] dilijev commented on #46
Closed by https://github.com/Microsoft/ChakraCore/pull/84

[2016-01-16 01:24] #46 closed

[2016-01-16 01:28] #125 closed

[2016-01-16 02:23] gxlmyacc opened #128 "a question about JsDeleteProperty"
<pre>/// &lt;summary&gt;
    ///     Deletes an object&#39;s property.
    /// &lt;/summary&gt;
    /// &lt;remarks&gt;
    ///     Requires an active script context.
    /// &lt;/remarks&gt;
    /// &lt;param name=&quot;object&quot;&gt;The object that contains the property.&lt;/param&gt;
    /// &lt;param name=&quot;propertyId&quot;&gt;The ID of the property.&lt;/param&gt;
    /// &lt;param name=

[2016-01-16 02:34] ianwjhalliday commented on #128
The API returns an error code in case there is a failure or runtime error is thrown etc.  The bool result from the delete operation regarding whether or not the property was deleted is returned in the `result` parameter as a javascript value, `JsValueRef`. This value can be converted to C++ bool via `JsBooleanToBool`.

[2016-01-16 03:21] dilijev opened #129 "x64_debug -includeSlow (one of the daily builds) fails a unit test."
[code]

See: http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_slow_x64_debug/1/

[2016-01-16 04:00] dilijev commented on #108
If the various security concerns are not an issue and you're looking for a console app from which to run ChakraCore's implementation of JavaScript, you can build ChakraCore, copy `ChakraCore.dll` and `ch.exe` into a directory and add that directory to your `%PATH%`, and use `ch.exe` as your script host. It's not the ideal solution but you have the advantage that ch.exe is literally the executable

[2016-01-16 04:52] gxlmyacc commented on #128
OK, I just want to make sure that the interface is not wrong. because the result of other functions are directly returned to the bool type,such as JsSetProperty, JsDefineProperty, JsHasIndexedProperty etc.

[2016-01-16 04:52] #128 closed

[2016-01-16 04:55] metathinker commented on #108
That doesn't cover the scenario of another app hosting the script engine to provide extensibility. I am also not sure if it would work as well as cscript.exe/wscript.exe  for the kinds of ad hoc scripts used in system administration.

[2016-01-16 05:04] ariya commented on #111
Is there a shared check list that can be used to track the progress? That way if someone wants to jump and help, we can avoid duplicated effort?

[2016-01-16 05:11] jordonwii commented on #105
Hi folks,
Can I take this issue, or has it not yet been accepted (since it's missing "accepting-prs")?

I have a draft PR nearly ready, but this looks like it would be a breaking change - code that currently works would now be crashing.

[2016-01-16 18:59] obastemur commented on #105
I don't agree.

Let's start with the part we all agree. numberLength = NaN.

`numberLength` was `NaN`. Looks like ToLength(NaN) should define the result.

*7.1.15 ToLength (https://tc39.github.io/ecma262/#sec-tolength)*

1.    Let len be ? ToInteger(argument).
2.    If len ≤ +0, return +0.
3.    If len is +∞, return 2^53-1.
4.    Return min(len, 2^53-1).

1. > len = NaN, ToInteger(NaN) ==> NaN , 2

[2016-01-16 19:03] ljharb commented on #105
@obastemur NaN is indeed a number - see `typeof NaN`.

[2016-01-16 19:06] obastemur commented on #105
@ljharb you got me. But that doesn't change the result

7.2.10 SameValueZero(x, y) (https://tc39.github.io/ecma262/#sec-samevaluezero)

2 . If Type(x) is Number, then
    If x is NaN and y is NaN, return true.

[2016-01-16 20:43] ljharb commented on #105
Definitely. both `ToLength` and `toInteger` of `NaN` return `+0`. `ToNumber(undefined)` returns `NaN`. Step 4 of https://tc39.github.io/ecma262/#sec-arraybuffer-constructor indeed says that since `NaN` is not SameValueZero to `+0` that a RangeError should be thrown.

[2016-01-16 20:48] ljharb commented on #105
I will point out that Safari, Chrome, and Firefox all do not throw when `new ArrayBuffer()` is invoked - they just return a buffer with a byteLength of zero. It's possible that this part of the spec is (or has become) web-incompatible, which may necessitate a spec change.

[2016-01-16 21:02] obastemur commented on #105
@ljharb Makes sense. Although abstract `toInteger` returning 0 for `NaN` is just another exception.

Suggested PR #131 optionally fixes this issue along with the others.

[2016-01-16 23:32] ljharb commented on #105
Linking to https://github.com/tc39/ecma262/issues/265

[2016-01-17 00:25] Yongqu commented on #108
To me, there are two Javascript extensibility stories: developers can use either node.js, or Windows Scripting Host+ActiveX. In general, we are more concern about the backward compatibility in WSH. We don't want to see factory floor stop working when they upgrade to a newer version of script engine and break their automation. On the other hand, in node.js, we do provide node+chakracore support to

[2016-01-17 00:42] joduskame opened #132 "Add ability to create an ES6 class using JSRT APIs"
Hello,

how would one approach creating a ES6 class using the JSRT C++ API? I've looked through the sample codes, no luck tho.

Thanks

[2016-01-17 05:01] dilijev commented on #105
@jordonwii The `Accepting PRs` tag is something we add to issues we believe the community could reasonably tackle, but it's not an exhaustive list of such issues (since if someone looks at an issue and thinks they know what to do, then that's perfectly fine). Typically if an issue is assigned to someone it means they're working on it or planning to work on it soon, for those issues you should ask

[2016-01-17 22:46] frabert opened #134 "Implementing js-style callbacks in C# using async/await"
I'm trying to implement js callbacks (à la [node.js fs API](https://nodejs.org/api/fs.html) ) using async/await in C#, but I'm having difficulties due to threading. This is my situation: I have a method
[code]
which I would like to use in a non blocking manner like this:
[code]

For this reason I set up my context like this:
[code]
If I omit that line, I get an exception because there is no curren

[2016-01-18 07:05] kunalspathak commented on #132
@joduskame , Thanks for the interest. Currently there is no way of creating ES6 classes using JSRT APIs. I will mark this as a Suggestion so we can re-evaluate this task.

[2016-01-18 07:19] kunalspathak opened #135 "JSRT: Improve JsGetValueType API"
Current JsGetValueType only recognizes high level types. Improve it to recognize other types like RegExp, Date, Map, Set, etc.

[2016-01-18 12:31] smourier commented on #104
You're wrapper is fine, but what logic should we use if we want to implement the equivalent of JsValueToVariant (the reverse is easier)? That is, if I follow your JavaScriptConverter.cs sample, how should I implement a method such as `public object ToObject(JavaScriptValue value)` method? especially if I want to be compatible with legacy IE9x/Jscript9 API? For example, if I have a js number, when

[2016-01-19 00:28] bterlson opened #137 "Incorrect .throw() result on generator with yield* to another generator with try/catch"
Repro:

[code]

Expected per spec is `iterator result object { value: undefined, done: true }` as yield* has a return completion value when received is a throw completion. However, v8/sm do differently and https://github.com/tc39/ecma262/issues/293 proposes changing the expected result to `{value: 3, done: false }` by returning a normal completion for this case.

[2016-01-19 02:34] bterlson opened #139 "Incorrect .return() result on generator with yield* to another generator with try/finally"
[code]

Expected is above. However in our implementation we give { value: 2, done: true} for the 2nd result. I believe spec says .return(42) should invoke .return(42) on the inner generator, whose signal is handled by try/finally and yields { done: false, value: 2 }, which is then yielded as-is in [step 5.c.viii](https://tc39.github.io/#sec-generator-function-definitions-runtime-semantics-evaluati

[2016-01-19 09:29] Junkern opened #140 "[Question] Integration to node.js"
The roadmap contains a point about the inclusion of ChakraCore to node.js.
Do you already have a more specific ETA for that?

[2016-01-19 13:47] mathiasrw commented on #140
:+1:

[2016-01-19 16:51] EdMaurer commented on #108
I can say from the team's experience with Node.js, that writing a robust shim is not cheap. We've spent well over ten months of dev time building up our V8 shim.

Another thing to consider is debugging. My guess is that it would be challenging to bridge IActiveScript debug APIs to JSRT. Plus we've got to finish the JSRT debugging APIs in the first place!

I agree that there is a useful project sug

[2016-01-19 17:21] kunalspathak commented on #140
We have sent out the PR few minutes back at nodejs/node#4765 .
You can try the binaries from [here](https://github.com/Microsoft/node/releases).

[2016-01-19 18:19] Yongqu commented on #132
Agree we should take a look to support class construction in JSRT.

[2016-01-19 18:58] robpaveza commented on #135
I don't think this is a good idea.

When we were discussing the design of `JsGetValueType`, the real question was *what are the special kinds of values that the host needs to know about?*  The host needs to be able to do special things, for example, for ArrayBuffer (in order to access the underlying memory), the primitive types supported by JavaScript (for marshaling), Objects (because they can ha

[2016-01-19 19:09] robpaveza commented on #132
An ES6 class is really just syntactic sugar for a constructor function and prototype inheritance.  The really special thing you get with class is access to the `super` keyword, but since the host can't access 'super' via native, that's kind of pointless.

It seems like the best way to define an ES6 class would be just to execute some script code that defines the class.  What is special about defin

[2016-01-19 19:40] liminzhu opened #141 "Relayout JSRT headers to top-level \include folder"
Currently JSRT headers are in .\lib\jsrt. Move them to a top-level folder to make it easier for JSRT users.

[2016-01-19 21:39] ianwjhalliday commented on #132
Agree with Rob.  Is there a strong motivating usage case for needing such an API?

I'm not intimately familiar with the JsRT APIs yet.  Are there analogous APIs for creating functions and objects?

[2016-01-19 21:45] kunalspathak commented on #132
@ianwjhalliday  - There are APIs like `JsCreateObject` , `JsCreateArray`, `JsCreateFunction`.
I somewhat agree with @robpaveza , but curious to know from @joduskame  about the use case.

[2016-01-19 22:41] mcfi opened #143 "ch.exe crashes when running "ch.exe -Dump:Encoder ..\..\..\..\test\benchmarks\Octane\pdfjs.js""
I observed ch.exe crashes when running "ch.exe -Dump:Encoder ..\\..\\..\\..\test\benchmarks\Octane\pdfjs.js". The crashes consistently happen regarding x64debug and x86debug builds.

[2016-01-19 22:44] bterlson opened #144 "Duplicate function declarations in blocks should throw early error in sloppy mode"
[code]

Expected: Early syntax error. Actual: no error, second function wins always near as I can tell.

Duplicate function names are allowed at top level but not in blocks. Spidermonkey [came across web compat issues](https://bugzilla.mozilla.org/show_bug.cgi?id=1235590) trying to implement this, so are going to go more slowly. V8 has it in Canary and will test out these semantics in their Beta c

[2016-01-19 22:59] liminzhu commented on #134
JSRT is [rental-threaded](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#concepts), i.e. a runtime can only live on one thread at a time. What you can do is before jumping to another thread with Task.ContinueWith, let the current thread give up its control on the runtime by ```JavaScriptContext.Current = JavaScriptContext.Invalid;```. Before Task.ContinueWith f

[2016-01-19 23:09] suwc commented on #31
https://github.com/Microsoft/ChakraCore/pull/145

[2016-01-19 23:09] #140 closed

[2016-01-19 23:40] SamuelEnglard opened #146 "[FeatureRequest] Strong Mode"
The V8 team have started looking in to a "Strong Mode" subsection of JavaScript (https://developers.google.com/v8/experiments). I was wondering if there are any plans to include this is in ChakraCore?

[2016-01-19 23:51] ljharb commented on #146
big -1 unless it gains progress in the TC39 standards process. We wouldn't want another `Object.observe` on our hands.

[2016-01-20 00:10] bterlson commented on #146
Strong Mode is very interesting, but is not something we would plan to include without seeing more work on prototypes and, especially, standardization. Strong Mode seems a long way off from this as yet AFAICT.

[2016-01-20 00:20] SamuelEnglard commented on #146
Reasonable issues

[2016-01-20 00:28] ianwjhalliday opened #147 "for-of loop incorrectly recognizes Expression grammar for iterable expression; should be AssignmentExpression"
See tc39/test262#473

For example this should be a `SyntaxError`:

[code]

[2016-01-20 00:32] dilijev commented on #85
Thanks for reminding me @edmaurer. I'll look into this asap.

[2016-01-20 00:33] liminzhu commented on #135
Agree with Rob. Another reason is that this would be a breaking change and unless there's a really compelling reason we shouldn't do it.

[2016-01-20 00:35] kunalspathak commented on #135
Why would this be breaking change? We will be returning more JsValueTypes than today.

[2016-01-20 01:01] ianwjhalliday commented on #135
I presume because today we return "object" for Map instances for example

[2016-01-20 01:10] kunalspathak commented on #135
That way, sure.

[2016-01-20 01:12] ianwjhalliday commented on #143
@LouisLaf

[2016-01-20 02:12] abchatra commented on #146
I am closing this issue for now until we have more concrete data on prototype\standardization.

[2016-01-20 02:12] #146 closed

[2016-01-20 02:35] MikeHolman commented on #129
Looks like it’s related to work done to change IntConstOpnd to be native width (i.e. int64 on 64bit machines). Here we try to copyprop 0xffffffff, but when we call IntConstOpnd::New that extends to 0xffffffffffffffff. Ultimately, this assert shouldn't lead to any functional problems (at least for now), because we will always truncate top 32 bits.

@LouisLaf, I’m thinking the reasonable fix might b

[2016-01-20 03:40] mcfi commented on #143
Since I cannot send pull requests, I just paste the simple diff for fixing the issue. The fix does not cause any regression on unit tests. Please see below.

--- a/lib/Backend/Encoder.cpp
+++ b/lib/Backend/Encoder.cpp
@@ -547,7 +547,6 @@ void Encoder::TryCopyAndAddRelocRecordsForSwitchJumpTableEntries(
[code]

[2016-01-20 04:04] kepta commented on #27
Hey, I'm a newbie.
Can I work on this bug and also get some help on how to tackle thing bug ?

[2016-01-20 04:46] bterlson commented on #109
Sorry @digitalinfinity missed your comment. The use case is knowing what version a .exe comes from, whether built locally at some point or pulled from a build server.  A specific use case is for https://github.com/bterlson/eshost - I want to report a version hash next to the host name in the output.

[2016-01-20 06:33] frabert commented on #134
Will try that as soon as I can... However I don't understand how this can be nonblocking: if I invalidate the main thread to run the async one, how is the main thread supposed to continue running even when the other is blocked? Wouldn't that throw another exception?

[2016-01-20 06:56] cyberphone opened #149 "Make number serialization compatible with V8"
In order to create signed JavaScript objects, you need to normalize data.

The JCS specification https://cyberphone.github.io/openkeystore/resources/docs/jcs.html accomplish this automatically by relying on ES6 for property order (which Chakra implements), but also depends on the extended number formatting algorithm used in the Google V8 engine which after testing with 100 million values appears t

[2016-01-20 14:03] abchatra commented on #27
@kepta absolutely. Tracing from the parser is the easiest thing to do. Add breakpoint at Parser::Parse. Also look at the call sites of IsES6DestructuringEnabled. That code amounts to destructuring related.

See [this](https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore) for building instructions. Let me know if you have more questions.

[2016-01-20 17:31] dilijev commented on #149
Node.js uses V8 by default so I'm not surprise the behavior is the same. I wonder if the behavior still matches V8 when using [Node with ChakraCore](https://github.com/Microsoft/node/releases)

[2016-01-20 17:35] dilijev commented on #111
@ariya Right now the closes thing we have to a checklist is our [Roadmap](https://github.com/Microsoft/ChakraCore/wiki/Roadmap). If it starts to change more frequently, we can explore another option. Do you have a preference or suggestion?

As for tasks that arise from this conversation beyond what the Roadmap indicates, please open issues and link to them from this issue so people can find their

[2016-01-20 17:38] dilijev commented on #111
I've just updated the cross-platform checklist to show which items are completed to my knowledge.

[2016-01-20 17:46] dilijev commented on #112
All but ARM builds are fixed as of #114

[2016-01-20 17:50] rwaldron opened #151 "Create label that indicates and encourages a new contributor to take on the issue"
This was originally mentioned by @caitp [here](https://github.com/Microsoft/ChakraCore/issues/27#issuecomment-172001001) and @bterlson added the "Accepting PRs" label, but I think an additional label that both indicates _and_ encourages a new contributor to dig in would be a helpful distinction. There are many different ways this label is written, a quick ask on Twitter came up with:

- starter
-

[2016-01-20 17:53] abchatra commented on #149
@cyberphone Is it possible to add javascript snippet which fails with console binary such as ch.exe  for this?

[2016-01-20 17:55] abchatra commented on #149
I believe this is a bug in precision in parseFloat on edge cases.

[2016-01-20 18:06] dilijev commented on #151
@rwaldron as for http://www.firsttimersonly.com, it links to http://up-for-grabs.net/ which we're a part of (using the `Accepting PRs` label): http://up-for-grabs.net/#/tags/chakra. I'm personally open for changing the name of that label or adding a new one. It's fairly easy to update the label that is used for that website.

[2016-01-20 18:15] ljharb commented on #151
("good first task" is another possibility). I think that "Accepting PRs" and something like "your-first-pr" should be two separate labels - because there's a difference between the skill level required.

huge +1 for this idea

[2016-01-20 18:38] ashleygwilliams commented on #151
completely agree that `PRs-welcome` and `your-first-pr` should be separate.
i also recommend defining them in `CONTRIBUTING.md`, a la https://github.com/npm/docs/blob/master/CONTRIBUTING.md

some reasoning behind the `your-first-pr` label:

- positive, not negative. not all people new to open source are new to programming. `beginner` is, sadly a perjorative term in the industry still.
- works for

[2016-01-20 18:39] dilijev commented on #151
@ashleygwilliams good points. Thanks for the feedback and suggestions.

[2016-01-20 18:40] dilijev commented on #151
I looked into adding multiple labels to our listing on http://up-for-grabs.net/ and it doesn't look like that's supported right now. I opened a question there to ask how they recommend proceeding. https://github.com/up-for-grabs/up-for-grabs.net/issues/344

[2016-01-20 18:51] dilijev commented on #151
CC @ianwjhalliday

[2016-01-20 18:57] liminzhu commented on #134
Yeah sorry you're right. In this case, you only get your code to not throw but it's not really non-blocking.

A better solution I can think of is instead of running the callback on a spawned thread, you can dispatch the callback back to main thread, queue it and run it after your current script is finished. This mechanism is similar to [handling promises](https://github.com/Microsoft/ChakraCore/wi

[2016-01-20 18:58] #120 closed

[2016-01-20 19:20] liminzhu commented on #134
This is similar to node's event loop if that makes sense.

[2016-01-20 19:33] ianwjhalliday commented on #27
@kepta also take a read through [test/runtests.cmd](https://github.com/Microsoft/ChakraCore/blob/master/test/runtests.cmd) to learn how to run tests.  Of particular note, consider providing the options `-dirs es6 -variant interpreter` to reduce the number of tests run to those surrounding the new language features and running them against front end, so you can have quicker code, build, test, debug

[2016-01-20 19:46] ianwjhalliday commented on #151
Sounds like a good idea.  Not sure what sorts of issues will be best for starters.  Minor syntax parsing issues in the front-end certainly.  Semantic error checking sometimes.  Minor bugs with trace and dump output. Runtime API bugs that are fairly obvious.

There are also then trivial issues that come up, house keeping stuff, or nice to haves like rename changes (e.g. #110).  Such issues to me do

[2016-01-20 19:49] ashleygwilliams commented on #151
hey @ianwjhalliday i'd say try a few and see how it goes. often the need for a label emerges from experience. no need to make that label til you feel the pain of its absence IMO.

[2016-01-20 19:49] ashleygwilliams commented on #151
fwiw, those "chores" are great first prs. remember: a first pr is often about the pr process and not the change itself.

[2016-01-20 20:28] rajatd opened #153 "Function.name property is non-writable. It should be initialized as such."
SimplePropertyDescriptor const JavascriptLibrary::SharedFunctionPropertyDescriptors[2] =
    {
        SimplePropertyDescriptor(BuiltInPropertyRecords::prototype, PropertyWritable),
        SimplePropertyDescriptor(BuiltInPropertyRecords::name, PropertyConfigurable | PropertyWritable)
    };

[2016-01-20 21:38] ianwjhalliday commented on #115
Sounds like this might be a bug in the way rl.exe does its timeout.  I believe I have a consistent repro on my laptop fortunately.

[2016-01-20 21:41] LouisLaf commented on #129
I think a better fix is to have CopyProp() appropriately cast to IntConstType or UIntConstType beforehand.  I like to keep the assert to find possible overflows from the caller.

[2016-01-20 21:51] ianwjhalliday commented on #7
Fixed by #30

[2016-01-20 21:51] #7 closed

[2016-01-20 23:32] ianwjhalliday commented on #151
That makes sense.  I've added a `Your first PR` label and described this and the `Accepting PRs` label in CONTRIBUTING.md.  See PR #154.

Let me know what y'all think.

[2016-01-20 23:44] rwaldron commented on #151
@ianwjhalliday @dilijev thanks for giving this as much attention as you did today! The new label and contributing.md notes hit the spot for me, but I'll defer to @ashleygwilliams (who knows more about executing on these plans than I do)

[2016-01-20 23:50] ashleygwilliams commented on #151
:100: i think this is awesome (i left some notes on the PR w/language nits)

would like to reiterate how excellent the whole chakracore team has been about accessibility and inclusivity issues. not just great reactions to suggestions like this, but your pre-emptive work to make this a safe space. :clap: :clap: :clap:

[2016-01-21 00:03] liminzhu commented on #151
Absolutely love the idea of another label indicating easy tasks for starters :+1: .

[2016-01-21 02:59] #99 closed

[2016-01-21 06:01] frabert commented on #134
Thanks. I will try that way!

[2016-01-21 06:14] cyberphone commented on #149
@abchatra I think the sequence below shows that it is the output formatting of the very last digit that is the problem:

var v1 = 33333333.3333333
console.log(v1);
var v2 = 0.000000036;
console.log(v2);
console.log(v1 + v2);

Chrome, Firefox, Safari: 33333333.333333336  IE11: 33333333.333333335

@dilijev I would assume that node.js with Chakra would exhibit the same problem.

[2016-01-21 06:27] farzonl commented on #153
this line also needs to changed  SimpleTypeHandler<1> JavascriptLibrary::SharedFunctionWithoutPrototypeTypeHandler(BuiltInPropertyRecords::name, PropertyConfigurable | PropertyWritable); And probably clarify that this effects built in function names so creating a test case is easier.

[2016-01-21 06:44] rajatd commented on #153
Yes you are right, that needs to be changed as well. I'll look into the existing test case to see what kind of coverage we have there and how can I augment that.

[2016-01-21 06:45] rajatd commented on #153
Oh btw, you are welcome to make the change ;)

[2016-01-21 08:41] ianwjhalliday commented on #153
@farzonl doooooo it :P

[2016-01-21 13:34] tfarina opened #160 "s/BOOL/bool"
Is there a reason not to use bool type? Isn't ChakraCore implemented in C++?

[2016-01-21 14:07] tfarina opened #161 "Why there is a mix of filenames?"
Some are named using CamelCase others are lower case. This is very annoying.

[2016-01-21 15:23] mcfi opened #162 "MultiBrInstr IR instructions are not correctly dumped after lowered to JMP/B machine instructions"
After applying the fix (#150) of issue #143,
```.\ch.exe -Dump:Encoder ..\..\..\..\test\benchmarks\Octane\pdfjs.js```
produces wrong output for MultiBrInstr IR instructions, see below for an example (x64debug).

[code]

Notice that the last JMP machine instruction still dumps (wrong) labels. Instead, it should just be
```JMP s581(rax).u64```.

[2016-01-21 17:00] EdMaurer commented on #108
Thanks for the good discussion, y'all. If there's nothing more to discuss on this topic, tomorrow I'll close it as "out of scope" for ChakraCore.

[2016-01-21 17:52] robpaveza commented on #160
Chakra, being based on Windows, has occasion to use the Windows [BOOL](https://msdn.microsoft.com/en-us/library/windows/desktop/aa383751(v=vs.85).aspx) type over the ABI.

One example reason is that various compilers can implement the `bool` C++ type differently at the ABI.  Windows' definition is consistent among compilers that want to target Windows.

It might conceptually be possible to s/BOOL/

[2016-01-21 18:02] LouisLaf commented on #160
There are performance advantages to BOOL over bool.  The main situation is for return values, where bool values need to be coerced to 0 or 1, as BOOL can be 0 or not 0.  'bool' also only sets the low byte of RAX, so AL often needs to be zero-extended at the call-site.
Unfortunately however, BOOL is typedef'd to 'int' on Windows.  So 'bool' is more compact in data-structures than 'BOOL'...
So bool

[2016-01-21 18:29] dilijev commented on #161
We do most of our development on Windows, which uses NTFS, which is not a case-sensitive file system. Most of the files were created in an older source control system, and moving them between that system and Git probably could have been smoother than it was. Also renaming files to the same name with different casing is not a straightforward operation on Windows.

So when we migrated to the open re

[2016-01-21 19:09] dilijev commented on #161
Considering that casing is going to be more important in the cross-platform effort, this transformation might fall under that effort, but I think the best way to mitigate long-term impact, merge-conflicts, and so on would be to make those changes in `master` and merge them into the `linux` branch as needed. I believe Git is case-sensitive and so making this change would could as a file move, which

[2016-01-21 19:31] bterlson opened #165 "`let undefined` in global scope should be an early Syntax error"
[code]

* Expected: Syntax error with nothing printed.
* Actual: not early is printed, then Syntax error is thrown.

See [GDI step 5.c+d](http://tc39.github.io/ecma262/#sec-globaldeclarationinstantiation).

[2016-01-21 19:31] #129 closed

[2016-01-21 19:33] dilijev opened #166 "Reduce the logic in the Copyright Check"
In `jenkins.check_copyright.sh`, see the following line:

[code]

In PR #51 @goyakin suggested modifying this line like so:

Additionally, in `jenkins.check_copyright.py`, @goyakin recommended the following change:

[code]

[2016-01-21 19:48] sankha93 commented on #153
Hi, I am not able to reproduce this on current master. My test case is as follows:

[code]

Am I doing something wrong?

[2016-01-21 19:50] robpaveza opened #167 "JsRT: When calling resolve, the resolve function is thrown if JsSetPromiseContinuationCallback hasn't been called"
Example case:

[code]

If this code is evaluated and `JsSetPromiseContinuationCallback` has not been called, the failure case (`catch` branch) is invoked, and the following is output:

[code]

The thrown thing appears to be the resolve function itself instead of a meaningful error.  A meaningful error should be thrown instead, e.g., `TypeError: Promises may not be executed because the host has not

[2016-01-21 19:56] obastemur opened #168 "Replace all the instances of uintptr to uintptr_t"
Current usage of `uintptr` and `uintptr_t` separately fails on cross platform.

Option 1) fix `uintptr` typedef for other platforms

Option 2) use only `uintptr_t`

Opinions ?

[2016-01-21 20:00] rajatd commented on #153
Ah yes. That's because although we are initializing the *name* property as writable, when setting the actual name  to this property, we set the property attributes as only configurable. So, not a functional bug I guess. But, good to fix as setting attributes different from what were originally there on the property may disable type sharing. For reference, you could see the following code in `Simpl

[2016-01-21 20:02] #112 closed

[2016-01-21 20:03] dilijev opened #169 "Daily builds of DisableJIT (ARM) are broken."
See daily build table at https://github.com/Microsoft/ChakraCore/wiki/Build-Status#disablejit-builds

Originally opened in https://github.com/Microsoft/ChakraCore/issues/112, all but ARM have been fixed.

Build errors:

[code]

[2016-01-21 20:07] dilijev commented on #8
@kunalspathak did #96 fix this issue or is there more to do?

[2016-01-21 20:10] kunalspathak commented on #8
Yes. The output would be like:
[code]

[2016-01-21 20:32] #8 closed

[2016-01-21 21:02] tcare commented on #161
@tfarina as Doug mentioned, it is a legacy thing that was just not a priority to fix. Off the top of my head I don't think we would have much break, but as we work more on Linux support this may be harder to integrate. If it's low impact @digitalinfinity and @jianchun may prefer to make this change now. However I suspect this will just be 'best effort' going forward and all new files will need to

[2016-01-21 21:07] tcare commented on #160
Also, changing this is quite a lot of effort. We've tried to do this in the parser multiple times as a drive-by cleanup, but it ends up spiraling out into having to fix compiler breaks everywhere. At least for parser/bytecodegen which I primarily work on, we tend to use bool in new code unless we have to interface with something that would require a conversion, or there is some other explicit reas

[2016-01-21 21:13] ianwjhalliday commented on #160
Yeah this is a topic that comes up whenever we get new eyes on the code base.  BOOL is so ugly imo.  Perhaps with the linux port happening now we can move to something a little less ugly for the return type usage of BOOL?  A typedef named something explicit like `boolret` perhaps?

I don't know if there is a conversion penalty to go from `bool` to an `int` type.

[2016-01-21 21:20] ljharb commented on #165
presumably `const undefined = 3` in the global scope should do the same?

[2016-01-21 21:27] ianwjhalliday commented on #165
I believe this is the let/const shadowing global non-configurable properties issue that we discussed months ago.  I have a fix for this if I'm not mistaken about its correctness, however right now it is throwing a ReferenceError rather than a SyntaxError.  I'll touch it up and send a PR.

[2016-01-21 21:31] bterlson commented on #165
Just to confirm, yes const should behave same as let. `var undefined` should not throw an error and `var undefined = 1` should throw in strict mode (assignment to non-writable property).

[2016-01-21 21:35] ianwjhalliday commented on #165
I also just noticed that the error is referring to line 1 column 1, which I presume is because the preamble bytecode that performs the check happens to be source mapped to the first line of source.  I can probably fix that up too.  I'll investigate.

[2016-01-21 22:12] liminzhu commented on #167
I agree. The current error is not pointing people at the right direction. @Yongqu would you mind taking a look?

[2016-01-21 23:24] dilijev commented on #161
@tcare as for impact I was thinking mainly about the general impact of moving a file. True the casing won't affect windows, but I believe the fact that git will register the change as a file move will cause issues in moving files. For files with relatively little activity, renaming them should have no impact except to the casing of header includes on the `linux` branch.

[2016-01-22 03:06] fcharlie commented on #99
@dilijev @liminzhu  This Bug still exists
File:  https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/arm/ARMEncode.h

[2016-01-22 03:53] sankha93 commented on #153
@rajatd I opened PR #170.

[2016-01-22 03:58] jianchun commented on #168
Could you please specify the exact failures you saw?

[2016-01-22 04:03] obastemur commented on #168
https://github.com/Microsoft/ChakraCore/pull/159 fixes `uintptr_t` problem on osx (ARM, ia32) while `uintptr` is defined separately and has the same issue. So options are given above.

Is there any reason to use them separately ?

[2016-01-22 11:44] SvyatoslavRazmyslov opened #177 "Static analysis of ChakraCore with PVS-Studio"
To demonstrate the capabilities of our analyzer, we regularly perform analysis of open source projects. We had recently checked the ChakraCore project.

Here is the link to the article about it: http://www.viva64.com/en/b/0370/
Official page of the analyzer: http://www.viva64.com/en/pvs-studio/

If you have any questions, or if you are interested in the evaluation of our static analyzer or in any

[2016-01-22 15:29] Yaffle opened #178 "`Math.round` is buggy for integers between 2**52+1 and 2**53-1"
`Math.round` is implemented like `Math.floor(x + 0.5)` seems, and so is buggy for some values:

`Math.round(0.5 - Number.EPSILON / 4)` - should give 0, not 1
`Math.round(1 / Number.EPSILON + 1)` - should give `1 / Number.EPSILON + 1`
`Math.round(-(1 / Number.EPSILON + 1))` - should give `1 / Number.EPSILON + 1`

Actually, there is no need to "round" values which has absolute value >= `1 / Number.E

[2016-01-22 15:57] kunalspathak opened #179 "Memory related APIs in JSRT"
I would like to start a discussion for adding few Memory specific APIs in JSRT:

* JSRT currently has [JsSetRuntimeBeforeCollectCallback](https://github.com/Microsoft/ChakraCore/wiki/JsSetRuntimeBeforeCollectCallback) API that lets host set a callback that gets called **before** GarbageCollection happens. It would be good to have an equivalent `JsSetRuntimeAfterCollectCallback` API that will let h

[2016-01-22 16:42] mcfi commented on #178
Neither of the ES5 and ES6 standards says anything special about the value of Math.round(1 / Number.EPSILON + 1). Please see http://www.ecma-international.org/ecma-262/5.1/#sec-15.8.2.15, and http://www.ecma-international.org/ecma-262/6.0/#sec-math.round

[2016-01-22 17:02] EdMaurer opened #180 "Investigate static analysis findings from PVS"
This [blog](http://www.viva64.com/en/b/0370/) discusses a number of issues the PVS tool found. Some look like real bugs. Please investigate and fix or assign to the appropriate area expert.

[2016-01-22 17:35] Yaffle commented on #178
@mcfi ,
1) `Returns the Number value that is closest to x and is equal to a mathematical intege`
2) see Note 2 `Math.round(x) may also differ from the value of Math.floor(x+0.5)because of internal rounding when computing x+0.5.`

[2016-01-22 18:10] abchatra commented on #180
This is duplicate of #177

[2016-01-22 18:10] #180 closed

[2016-01-22 18:11] abchatra commented on #177
Thank you @SvyatoslavRazmyslov I am investigating.

[2016-01-22 18:23] #50 closed

[2016-01-22 18:23] #119 closed

[2016-01-22 18:31] Cellule commented on #179
Regarding `JsSetRuntimeBeforeCollectCallback` I see no reason why we should/could not do it. We already have the callback mechanism for after garbage collection
We could change [lib/jsrt/jsrtRuntime.cpp#L93](https://github.com/Microsoft/ChakraCore/blob/9229c3387b695b2e2fb247681b26d6e6514bc6d1/lib/jsrt/jsrtRuntime.cpp#L93) to check for `Collect_End` and call an after `callback`.
Or we could change

[2016-01-22 18:50] kunalspathak commented on #179
That's right. Adding `JsSetRuntimeAfterCollectCallback` should be trivial.

We could expose memory stats through mechanism present in [LogMemProtectHeapSize](https://github.com/Microsoft/ChakraCore/blob/master/lib/common/Memory/Recycler.cpp#L363).

@liminzhu , @robpaveza - Thoughts?

[2016-01-22 19:04] mcfi commented on #178
@Yaffle , I see what you mean, thank!

[2016-01-22 19:30] ianwjhalliday commented on #151
@rwaldron @ashleygwilliams thanks for the gratitude.  We've been getting a lot of positive interest and a wonderfully warm welcome from the community.  It has been absolutely amazing and encouraging.  I for one am glad to be here.

I'll wrap up this issue shortly.

[2016-01-22 19:35] liminzhu commented on #179
I like ```JsSetRuntimeAfterCollectCallback``` and it can close a gap between us and v8 (v8 has [AddGCEpilogueCallback](http://izs.me/v8-docs/classv8_1_1V8.html#a37aadf3536c772eb5bbf67fa7822679a)). The API addition seems very natural.

For ```JsGetRuntimeMemoryUsage```, I have to admit ignorance on memory management. What information would be considered useful and how would someone use these inform

[2016-01-22 19:41] liminzhu commented on #179
Adding @Yongqu to discussion.

[2016-01-22 20:07] Yaffle commented on #178
@mcfi , thank you, I wan unclear

[2016-01-22 21:49] EdMaurer commented on #135
@kunalspathak are you in agreement that this suggestion is a no-go?

[2016-01-22 21:50] EdMaurer commented on #108
Out of scope for ChakraCore.

[2016-01-22 21:50] #108 closed

[2016-01-22 23:38] ajklein commented on #144
We ran into another compat issue with foxnews.com (serving Akamai's media player): https://code.google.com/p/chromium/issues/detail?id=579395

[2016-01-22 23:46] #169 closed

[2016-01-23 01:42] ianwjhalliday commented on #151
Alright, we've got the new label and few issues labeled with it, and the CONTRIBUTING.md file is updated.  Thanks everyone for the good ideas!

[2016-01-23 01:42] #151 closed

[2016-01-23 02:35] ianwjhalliday commented on #144
Thanks @ajklein. @bterlson sounds like we should leave ChakraCore as is and TC39 should amend the spec.

[2016-01-23 03:18] ianwjhalliday commented on #128
@gxlmyacc ah interesting. It looks like this might have just been an artifact of the fact that the delete API is just a wrapper around our implementation of the javscript delete operator, which returns a javascript boolean, whereas the other APIs are wrappers of internal functions that are not tied to a javascript operator and happen to return BOOL.

Perhaps an unfortunate inconsistency.  However,

[2016-01-23 03:35] kunalspathak commented on #179
Exposing memory usage information would help host to do better memory profiling and make decisions based on that.

[2016-01-23 03:45] bterlson commented on #144
@ianwjhalliday Depends. I tend to think that not throwing an error here is bad for many reasons. If we are forced to support it due to web compat then we have no choice, but let's wait and see what data @syg's telemetry finds. Also perhaps Canary has telemetry enabled (@ajklein)? But I think it's safe to add ye olde pending TC39 consensus label :)

[2016-01-23 05:16] kunalspathak commented on #135
I agree with @liminzhu that this is breaking change. However `constructor` check mentioned by @robpaveza doesn't guarantee that the underlying object is of that type. There are two scenarios in which it could fail. Correct me if I am wrong here.

**Scenario 1**

[code]

Right way to do this would be by using `Object.prototype.toString.call(o)` as explained in [this](http://web.mit.edu/jwalden/www/

[2016-01-23 05:25] Yongqu commented on #179
The API was design for memory metering such that some kind of application manager can throttle the runtime's memory usage. I don't think we have profiler/debug helper style API builtins. We need to take a look from that perspective to see if anything need to be done there. Maybe my question is how can JSRT use these profiler information programmatically?

[2016-01-23 05:30] kunalspathak commented on #179
[JsSetRuntimeMemoryLimit](https://github.com/Microsoft/ChakraCore/wiki/JsSetRuntimeMemoryLimit) is one JSRT API that can be used for throttling. So basically you could programmatically get memory usage and then throttle runtime memory if it exceeds certain threshold?

[2016-01-23 08:11] cyberphone commented on #149
Related issues in .NET:
https://github.com/cyberphone/jsondotnet

[2016-01-23 16:20] frabert commented on #134
I am approaching this issue using jsrt-dotnet, see the issue here: https://github.com/robpaveza/jsrt-dotnet/issues/2

[2016-01-23 19:18] Yongqu commented on #179
the two APIs, get and set, is a pair. yes you can do that.

[2016-01-24 01:17] ariya commented on #111
@dilijev Rather than doing it on the wiki page, here's my suggestion. Create a new issue for every platform, i.e. "Linux port", "OS X port", "BSD port", etc. For each issue, create a checklist. For every item in the checklist, link it to a more detailed issue or the corresponding pull request.

It seems tedious but a little-bit of project management aspect like this allows any interesting party to

[2016-01-24 18:21] Yongqu commented on #167
Agree. It's a good error to have.

[2016-01-25 02:35] mcfi commented on #178
#74

[2016-01-25 02:41] mcfi commented on #178
In my fix, I reuse the test cases given by @Yaffle in https://github.com/tc39/test262/blob/26e6fd7c1779a63913cc7720cbc6c87b3b7b3285/test/built-ins/Math/round/S15.8.2.15_A7.js, are there any possible license issues? @dilijev , @MikeHolman , @abchatra . Thanks.

[2016-01-25 02:43] mcfi commented on #178
Since I don't have an ARM test environment, it would be nice that someone else could work on the ARM JIT code generator fixes. Sorry about this.

[2016-01-25 06:08] liminzhu commented on #179
What information would be useful in addition to used memory returned by [JsGetRuntimeMemoryUsage](https://github.com/Microsoft/ChakraCore/wiki/JsGetRuntimeMemoryUsage)?

[2016-01-25 06:43] joduskame commented on #132
Hello,

I guess I will just follow @robpaveza approach and assign the object a prototype.

[2016-01-25 06:43] #132 closed

[2016-01-25 06:51] ianwjhalliday commented on #6
In PR #86 I have removed the commits that removed `-ES6Object -ES6String -ES6Promise -ES6Unscopables`.  @abchatra noted that these switches control built-in APIs that are often polyfilled, and being able to turn these built-ins off have proved useful in the past for website bug reduction (i.e. to quickly identify issues due to new built-ins being present).

Those commits did remove some reasonable

[2016-01-25 06:51] ianwjhalliday commented on #6
I also added new commits that remove `-ES6Classes -ES6ObjectLiterals -ES6Generators -ES6Rest -ES6Spread`

[2016-01-25 06:55] ianwjhalliday commented on #6
In the near future we can expect to be able to remove or consolidate `-ES6Species -ES6DefaultArgs -ES6Destructuring -ES6ForLoopSemantics`.

`-ES6FunctionName -ES6FunctionNameFull -ES6Proxy` we should keep for now.

[2016-01-25 18:00] ianwjhalliday commented on #115
Turns out my consistent repro was a legitimate timeout.  On my laptop and actually my desktop, our internal unit test `Debugger\promise_deferNestedAttach.js` takes almost two minutes to run to completion for `x64debug`.  I'm not sure why it doesn't time out on the internal CI machines.  Perhaps they are faster CPUs.

@satheeshravi had a repro where a test that was timing out did allegedly run way

[2016-01-25 18:56] satheeshravi commented on #115
In my case, they were Date\parseISO.js and typedarray\samethread.js. Both timed out under rl.exe.

[2016-01-25 19:59] ianwjhalliday commented on #115
@satheeshravi and I took a look and it turned out that the `Date\parseISO.js` test took longer than 60 seconds on his machine and so it legitimately timed out.  The `typedarray\samethread.js` test appeared to take around 25-30 seconds, so my suspicion is that it occasionally gets stalled off the CPU and trips over the 60 second threshold.

I'll look at the Jenkins failure to see if that test might

[2016-01-25 20:46] kunalspathak commented on #179
Most fields returned by [LogMemProtectHeapSize](https://github.com/Microsoft/ChakraCore/blob/master/lib/common/Memory/Recycler.cpp#L363) to start with.

[2016-01-25 21:34] #153 closed

[2016-01-25 22:06] jianchun commented on #168
I just discussed this with other people... Defining custom ```uintptr``` might be due to legacy reason (```uintptr_t``` wasn't available). We can consolidate to ```uintptr_t``` now.

[2016-01-25 22:07] dilijev commented on #115
Added a list of tests I've seen affected by this issue so far (I haven't checked in about a week, but that's from my notes).

[2016-01-25 22:18] dilijev commented on #115
@ianwjhalliday Sounds good about moving them to slow tests. Still, we might try decreasing the number of CPUs used by rl.exe on those test machines first and see if that helps with any potential hypervisor-related CPU reclamation or stalling out.

[2016-01-25 22:46] dilijev commented on #111
It sounds good. I recently learned that GitHub picks up on checkboxes in an issue's description and marks it a percentage complete by how many are checked off. Meta-issues seem like the right idea.

It might be redundant but I think we'd still like to keep that progress tracked on the Wiki as well.

@EdMaurer what do you think?

[2016-01-26 00:55] d3x0r opened #189 "Failure to report line of error"
while testing to see if node-chakra supported ES6 modules, found a difference in errors.
Of course it would be better if there weren't an error.

Reported first to Microsoft/Node; they said I should make a error here since apparently the error text comes from the engine.  https://github.com/Microsoft/node/issues/15#issuecomment-174741458 and they've already made a work around to bypass unit tests

[2016-01-26 01:18] rajatd opened #190 "Typo in `Js::InternalPropertyIds::TypeOfPrototypObject'"
A missing 'e' :)

[2016-01-26 02:59] Yongqu commented on #179
It sounds like you are asking for a Debug object for various helper utilities. How does node solve this problem? I assume you can ask for more information like GC size, JIT code size, CollectGarbage() call etc.

[2016-01-26 05:10] gulbanana commented on #85
this would be great for allowing asp.net core apps to use isomorphic javascript

[2016-01-26 07:44] kunalspathak commented on #179
We just need memory related information like heap size, available physical memory, etc. v8 engine has [HeapStatistics](http://v8.paulfryzel.com/docs/master/include_2v8_8h_source.html#l05092) and [HeapSpaceStatistics](http://v8.paulfryzel.com/docs/master/include_2v8_8h_source.html#l05117) structures that node modules uses to extract heap specific information. If we could get some JSRT API extract s

[2016-01-26 19:18] Yongqu commented on #179
Adding a native method extension using JsCreateFunction might be better here.

[2016-01-26 19:35] #143 closed

[2016-01-26 19:40] bterlson commented on #109
FWIW, commit hash would also make it easier to know which branch a build was produced from.

[2016-01-26 19:49] jianchun opened #197 "linux: GetVersionInfo from resource"
On Windows `AutoSystemInfo::GetVersionInfo` reads major/minor versions from module resource. It is used by `ByteCodeSerializer`, `SourceDynamicProfileManager` etc. to read jscript dll version info and store together with other data.

How do we make this cross-platform?

Can we change all the usage to use `CHAKRA_CORE_MAJOR_VERSION` etc. instead?

[2016-01-26 19:50] ianwjhalliday commented on #109
@bterlson what does the --version output look like from the other engine console hosts?

+1 for commit hash.  Brian and I were trying to determine if his build contained a particular commit and it would have been very quick if we could just --version to get the hash and compare with the commit in question.

[2016-01-26 19:53] bterlson commented on #109
Node, V8, and jsshell gives a version number. None of them seem to include a commit hash.

[2016-01-26 19:54] jianchun opened #198 "linux: Switch from IsWindows8OrGreater to feature detection"
Instead of testing IsWindows8OrGreater, we should examine each usage and switch to enable/disable feature instead. That'll make code cleaner.

[2016-01-26 19:56] kunalspathak opened #199 "Add test for Intl in Chakracore"
Need to add test for `Intl` object in ChakraCore.

[2016-01-26 20:00] jianchun opened #200 "linux: detect number of physical/logical CPU cores"
`AutoSysInfo` has code to detect physical/logical CPU cores. The code primarily cares about number of physical cores. Linux port currently uses PAL implementation. Need to verify if it works/suffices.

[2016-01-26 20:02] #190 closed

[2016-01-26 20:08] kunalspathak commented on #179
Sure, but we still need other GC specific information that can only be extracted from within ChakraCore. So I propose to have single API that would extract all the information (system memory, GC memory, etc.).

[2016-01-26 21:44] phistuck commented on #160
@robpaveza -

Weird - I thought I read that Chakra was written from scratch (for Internet Explorer 9)?

[2016-01-26 21:52] tcare commented on #160
Parts of Chakra were ported from the legacy JScript/VBScript engine, in particular some of the parser/scanner code. The difference is huge now, but you can still see some remnants of the old engine in files like lib\Parser\rterrors.h. We should probably clean that up at some point.

[2016-01-26 22:02] dilijev commented on #109
I think version number would be very helpful for debugging and triage. I'm not sure if being alike is the best answer in this case. :+1: for commit hash

[2016-01-26 22:45] bterlson commented on #109
If we're pulling commit hash, we could also pull branch name and commit data as well! Something like:

<script engine major>.<script engine minor> <branch>@<short commit hash> (<commit-date>)

eg:

Would be so awesome!

[2016-01-26 23:17] dilijev commented on #109
I don't remember where it was asked, but there was a question somewhere about how people would know if their changes had made it into a flight. Should we make this version string available in a release build in such a way that someone could check Chakra.dll to see what version of ChakraCore was included?

[2016-01-26 23:20] bterlson commented on #109
That would of course be very handy, but may open other concerns (like, do you reflect security fixes in the version string?)

[2016-01-27 00:11] #162 closed

[2016-01-27 00:26] dilijev commented on #160
Yeah, conceptually rewritten from the ground up. But, for the parts that worked and weren't tied to legacy support modes, we reused some code. The code style around code that interacted with that code and nearby code would have been written to match the style. Sometimes there may be good reasons for `BOOL` and in other places it might be "just because".

[2016-01-27 00:27] dilijev commented on #160
As it happens, I was recently one of the "new eyes" @ianwjhalliday mentioned since I'm relatively new to the team. I found a couple of the "just because" cases and converted them.

[2016-01-27 01:01] LouisLaf commented on #160
Also, early on in IE9, the register allocator didn't handle 8bit registers (like AL), so we couldn't generate the right code for a call to a helper returning bool.  All helpers called from the JIT used BOOL.

[2016-01-27 01:11] dilijev commented on #197
See discussion here https://github.com/Microsoft/ChakraCore/issues/109

[2016-01-27 01:25] ianwjhalliday commented on #160
@LouisLaf is that something we can support now then? Would it have a negative impact on performance?  I wouldn't entertain the idea of removing usage of BOOL if we weren't doing the linux port but it does sound like a nice ideal to strive for platform independent code base that does not use windows.h types.

I know we've got the PAL thing, so this is just a conversation about ideals at the moment.

[2016-01-27 21:52] noh626 opened #212 "Failed to initialize COM interfaces"
Hi,

Before I replace v8 in our server app with chakra core, I am going to test simple javascript.

When I tried hello world sample, SEHException was occured in creating an context.

When native code debugging is enabled I can see it failed to initialize COM interface.

AssertMsg(false, "Failed to initialize COM interfaces, verify correct version of globalization dll is used.");

This only happens

[2016-01-27 22:03] ianwjhalliday commented on #212
@kunalspathak is tihs related to what you've been working on recently with Intl on Win7?

@noh626 what OS version are you using?

[2016-01-27 22:09] ianwjhalliday commented on #212
Sounds likes #202

[2016-01-27 22:09] noh626 commented on #212
@ianwjhalliday Windows7 Pro

[2016-01-27 22:10] ianwjhalliday commented on #212
Ah, okay yeah, definitely sounds like #202.  Could you try using the commit from PR #202 and see if that fixes it?

[2016-01-27 22:11] ianwjhalliday commented on #212
And then there also seems to be a question of do we have a general problem with engine failures resulting cryptic error messages that could perhaps be improved @curtisman

[2016-01-27 22:19] noh626 commented on #212
@ianwjhalliday All right!  I am gonna try soon. I will let you know after then. Thanks!

[2016-01-27 22:29] kunalspathak commented on #212
Yep, as #202 mentions, this happens if you don't have IE11 installed on your Win7 Pro machine. If you install IE11, this problem should go away automatically.

[2016-01-27 22:38] dilijev commented on #160
re @tcare's comment on cleanup in `lib\Parser\rterrors.h` see #214

[2016-01-27 22:57] noh626 commented on #212
@ianwjhalliday @kunalspathak I just tried with the commit from #202 and could get it work. Thanks guys!

[2016-01-27 23:21] ianwjhalliday commented on #212
Awesome, great to hear!

[2016-01-27 23:21] #212 closed

[2016-01-28 16:58] jianchun opened #217 "linux: unix version of _mul128 to optimize Int64::Mul"
In #206, @obastemur has implemented unix version of _mul128 using inline assembly. Consider getting this in to optimize Int64::Mul.

[2016-01-28 18:39] alex4998 opened #218 "OutOfMemoryException calling CallGlobalFunction"
There is a strange thing. When I call _Engine.CallGlobalFunction("Decipher", new[] { _Engine.Converter.FromString(strSignature) }) I get OutOfMemoryException after approximately 5 seconds delay on the method. "Decipher" function is rather simple. Besides it works fine if I call _Engine.Execute(new ScriptSource("Inline", $@"Decipher('{strSignature}');"));. What am I doing wrong?

Thanks,
Alex

[2016-01-28 18:40] #218 closed

[2016-01-28 18:45] suwc commented on #25
No repro.
@farzonl, you committed a fix for this on 10/8/15?

[2016-01-28 19:59] farzonl commented on #25
not sure about the date, but the test case looks very similar to a bug I fixed. I don't have a chakracore dev environment atm or a way of reviewing the PR that fixed the issue, so i'm unable to confirm. wouldn't a 10/8 fix have made it into the th2 version of edge?

[2016-01-28 20:01] abchatra commented on #25
I see its fixed in the latest bits as well. I will close the issue. We don't need to figure out the exact date. Thanks Farzon & Suwei.

[2016-01-28 20:01] #25 closed

[2016-01-28 20:12] dilijev opened #220 "[Discussion] [Meta] How to enable community contribution to the wiki."
Last night there was a brief discussion on Gitter about community contributions to the wiki. Even though the wiki is a git repo itself, GitHub does not allow pull requests to the wiki. We either allow everyone in the open to edit freely or restrict contributor access to contributors only, so the community cannot edit at all. As a point of order, it seems that the latter is the only option that rea

[2016-01-28 20:17] Cellule commented on #220
I remember talking about this a while back, but I do think readme files in a doc folder is better suited since
- it is source controlled
- it follows the version (ie: you can see matching doc for older versions)
- it doesn't rely on Github's wiki
- you can search the code base for api methods or anything and find the doc (I'm not sure about this, does github search looks in the wiki ?)

[2016-01-28 20:20] dilijev commented on #220
From what I can tell search on the github repo does not search the wiki. The wiki has a limited search to help you find pages but that's it.

In practice, I think documentation will lag behind the code. Keeping them perfectly in sync is not really necessary. Keeping that class of changes completely out of the source repo would seem to make sense to me.

Maybe we could have the docs directory be a

[2016-01-28 21:50] MikeHolman opened #222 "Not hoisting fixed field checks out of loop (at least in some cases)"
For PR #215, I was looking at codegen on test\benchmarks\Kraken\audio-oscillator.js to try to understand perf regression, and I see this is essentially the entire benchmark:
[code]

surprising thing is we are emitting a fixed field check for Math.round inside the loop, but I'd think it should be provable that it is loop invariant.

I spoke with @LouisLaf and it seems because this isn't value produ

[2016-01-28 22:58] ianwjhalliday opened #223 "Change ch.exe to comply with gnu getopt_long argument syntax"
http://www.gnu.org/software/libc/manual/html_node/Getopt-Long-Options.html

ch.exe accepts both forward slash and a single dash for all switches recognized.  Reasonable given Chakra has been a Windows only project up until.

However, now that we are porting to linux and expect to later port to other POSIX platforms it feels like a good idea to consider conforming command line syntax to that of gnu

[2016-01-28 22:58] ianwjhalliday commented on #223
@digitalinfinity @jianchun cc @bterlson

[2016-01-28 23:10] akroshg opened #225 "Native for loop does not raise error when head has destructuring declaration without initializer"
`
for (let []; ;) { }
`
Above code should throw `Syntax error `as in declaration head the array destructuring pattern does not have initializer.

[2016-01-28 23:11] akroshg commented on #225
I am already working on the fix - so assigning to @akroshg

[2016-01-28 23:46] LouisLaf commented on #160
Well, the codegen would need to be changed to match the return type, but yes we do support it now.
As I said, bool is often slower because of the explicit coercion to 0 or 1.  On a lot of code paths it does not matter.

[2016-01-29 03:40] ianwjhalliday commented on #28
I'm taking this issue.  This ties into a very similar issue I'm working on with async functions.  Will fix both together.

[2016-01-29 08:36] obastemur commented on #223
+1

In addition to this, ch.exe can be extended for handling command line arguments (separate github issue?). This is disabled for now for release builds.

[2016-01-29 14:30] abchatra commented on #177
Fixed by #207

[2016-01-29 14:30] #177 closed

[2016-01-29 17:51] kunalspathak commented on #135
@Yongqu , thoughts?

[2016-01-29 20:29] jianchun commented on #135
So far we don't have very compelling reasons to add this capability, other than that node uses v8 API and exposes the capability to scripts. We have very inefficient shim implementations for it. Assuming performance doesn't matter here, this is low priority. We can revisit if performance issue does show up.

If we really need to add this, we could consider a new API.

[2016-01-29 20:34] akroshg commented on #225
This is fixed. Closing this issue.

[2016-01-29 20:34] #225 closed

[2016-01-29 21:32] kunalspathak commented on #135
The proposed JSRT APIs will not only benefit the performance, but will also avoid having workarounds (and possibly bugs) we currently have in shim to extract same information without APIs.

E.g. Microsoft/node-uwp#13 is happening because shim tries to execute `isRegExp` by calling the `Object.prototype.toString` and fails. We could avoid this by having JSRT API.

[2016-01-29 22:24] liminzhu commented on #179
What would be 'all the information'? It would be kinda ugly if later we find that more information is needed and we have to either change API shape or add another similar API.

[2016-01-29 23:06] liminzhu commented on #135
Again as I mentioned before this would be a breaking change: wherever ```JsObject``` appears, there is a potential bug after this change. ```JsGetValueType``` was originally designed to mimic ```typeof```, but we added arrays and typedarrays because as Rob suggested they do special things: indexed properties behaved differently and you can access underlying memory of typearrays. You get perf gains

[2016-01-29 23:09] tcare commented on #223
Yes!! I would love this. In fact I would love for many of our internal tools to adopt this. I was talking about this to some team members the other day. All my tools are now being written to conform to this format.

@obastemur typically we would use Test builds for that purpose. I think that issue may have been discussed elsewhere on here though, I don't remember the outcome.

[2016-01-29 23:21] kunalspathak commented on #135
The small script doesn't work in all scenarios and breaks as pointed in node-uwp example.

I am ok to not modify `JSGetValueType` , but we should consider adding new APIs that can tell us type of object based on [internal slots](http://tc39.github.io/ecma262/#sec-object-internal-methods-and-internal-slots) of objects.

[2016-01-30 00:14] suwc commented on #22
https://github.com/Microsoft/ChakraCore/pull/233

[2016-01-30 00:23] tcare commented on #189
@akroshg @ianwjhalliday, we should be able to pass along language service info here fairly easily, right? As long as it's a parse time error we should have detailed enough information.

[2016-01-30 01:25] abchatra opened #235 "Destructuring assignment target should obey const semantics"
The assignment target should obey `const` semantics.

Test262 bug es6id: 12.14.5.4
features: [const]

[code]

[2016-01-30 01:27] akroshg commented on #235
We throw ReferenceError here.

[2016-01-30 02:52] ariya commented on #111
@dilijev If the task list is nicely being tracked in the meta issue, is there a need to track it from the wiki?

[2016-01-30 18:07] dilijev commented on #111
Fair point. We could link to the meta issue from the Roadmap page in the wiki.

[2016-01-30 18:08] dilijev commented on #111
I noticed @caitp is tracking subissues related to her efforts in a similar way. https://github.com/caitp/ChakraCore/issues/1

[2016-01-31 00:30] caitp commented on #111
the linux-posix work is pretty much a dead-end, so I probably won't be updating that checklist anymore, but it probably does highlight some common pain points of the cross-platform work.

[2016-01-31 02:19] dilijev commented on #223
@obastemur The test builds include all of the flags as well as the performance of release. The release build removes those flags because they are unneeded and cause binary bloat to support them.

[2016-02-01 17:36] obastemur commented on #217
I've been testing the solution on other platforms / compilers. What would be the best place (header file) to define linux/unix version of `__mul128` ?

[2016-02-01 17:36] goyakin opened #238 "Can't make "lastIndex" property of a RegExp instance non-writable"
According to the spec, the `lastIndex` property of a RegExp instance has attributes `{[[Writable]]: true, [[Enumerable]]: false, [[Configurable]]: false}` and, as per [Section 6.1.7.1 Property Attributes](https://tc39.github.io/ecma262/#sec-property-attributes), it is possible to change `[[Writable]]` to `false` even when `[[Configurable]]` is `false`. However, on ChakraCore, it isn't possible.

R

[2016-02-01 22:17] Cellule opened #244 "Add node like api in ch.exe"
Right now it's really painful when trying to run a script both in node and in ch the main reason is with the way the global scope it populated.
See https://nodejs.org/api/globals.html for current list of what node exports.

I don't suggest we implement them all, maybe some simple ones like `console`, `global`, `__dirname`, `__filename`.
I would love to be able to simply write `console.log` in a sc

[2016-02-01 23:07] obastemur commented on #244
use `if (typeof print === 'undefined')` instead

[2016-02-02 00:34] ianwjhalliday commented on #244
What sorts of scripts do you run in both?  I'm curious since ch.exe is obviously not node, so it doesn't have the APIs and eventing that node does.

Re LoadScriptFile I feel like it was an oversight that it does lookup relative to the current working directory rather than the script file's path.  We could consider that a separate bug worth fixing.  This has bugged me in the past too.

[2016-02-02 00:36] Cellule commented on #244
Right now I work a lot with Node+Chakra and sometimes I hit bugs and I need to modify the test file a lot to make it work with ch.exe.

[2016-02-02 00:38] Cellule commented on #244
You may be right that we should simply fix this behavior. I highly doubt anyone depends on this method to be relative to current working directory, but I could be wrong which is why I didn't propose this in the first place.

[2016-02-02 00:42] ianwjhalliday commented on #244
Ah, so you run it with ch.exe to debug why ChakraCore is broken, is that it?  That sounds legit.  Though could you stub out the globals at the top of your script in this situation?

I don't feel strongly one way or the other about adding these, but I do feel a nebulous, instinctive hesitance about adding random globals.

Afaik LoadScriptFile is only used for our tests so I think it is safe to chan

[2016-02-02 00:57] jianchun commented on #217
Since it will be used only by Int64Math.cpp and other code should probably just use Int64Math wrapper, maybe also put it in lib/common/common? (No strong opinion.)

[2016-02-02 01:38] #168 closed

[2016-02-02 01:53] ianwjhalliday opened #246 "Already strict functions do not emit syntax error for non-simple parameter list mixed with "use strict" directive"
The ES spec has this static semantics early error text for all function types (declaration, expression, arrow, generator, method):

 - It is a Syntax Error if ContainsUseStrict of FunctionBody is true and IsSimpleParameterList of StrictFormalParameters is false.

The parser only throws a SyntaxError when there is a transition to strict mode but the spec is stating that it should always be an error

[2016-02-02 01:55] ianwjhalliday commented on #246
This was discovered while reviewing @bterlson's async function test262 tests tc39/test262#479

[2016-02-02 02:40] bterlson opened #248 "Function.prototype.caller/arguments should be configurable"
Currently they are non-configurable.

Possible good candidate for "Your First PR"

[2016-02-02 02:41] bterlson opened #249 "Built-in functions should not have properties 'caller' or 'arguments'"
Currently the properties exist, are non-configurable, and always return null.

[2016-02-02 09:41] obastemur commented on #22
Guess this needs to be closed.

[2016-02-02 16:42] ianwjhalliday commented on #22
Fixed by #233

[2016-02-02 16:42] #22 closed

[2016-02-02 18:00] #31 closed

[2016-02-02 19:00] Yongqu commented on #244
we have WScript.Echo, and we should be able to override console/console.log use that. you might need to create console object first and/or do something similar to what @obastemur suggested. similar with global/this/window object. __dirname and __filename is something we can add though. We can do it in ch.exe or as our node.chakracore extension thunk?

[2016-02-02 19:00] #28 closed

[2016-02-02 19:03] #246 closed

[2016-02-02 19:18] sankha93 commented on #244
Note that the other JS engines - the d8 shell of V8 or the js shell of SpiderMonkey also don't implement the same. Generally these functions are implemented by the runtimes embedding the engine.

[2016-02-02 19:57] obastemur commented on #244
@Yongqu

Without additional cross platform tooling, this wouldn't be much usable.

@sankha93

Agreed.

[2016-02-02 21:42] bterlson commented on #244
It should be a non-goal of ch.exe to support node APIs. It is difficult to run scripts across hosts, that much I true, but it seems unlikely right now that everyone (d8, jsshell, jsc, etc) could agree on any one API.

That is why I created https://github.com/bterlson/eshost and related libraries. It can probably help you here.

Yes, I have to work around this in eshost presently. Would like to get

[2016-02-03 16:51] ljharb opened #254 "Implement Object.getOwnPropertyDescriptors"
[`Object.getOwnPropertyDescriptors`](https://github.com/tc39/proposal-object-getownpropertydescriptors) is stage 3. At this time, Webkit has implemented it and v8 has an open patch.

Would be a good first PR!

[2016-02-03 18:50] jianchun opened #255 "Move WinRTDate code from DateUtilities.cpp"
lib/common/common/DateUtilities.cpp has some WinRTDate utilities that seems not used in ChakraCore. Consider move them.

[2016-02-03 19:16] ianwjhalliday commented on #254
This is a bit beefy for a first pr, but a little help from folks familiar with `JavascriptLibrary.cpp` should be enough to get someone started.

[2016-02-03 19:21] nojvek commented on #161
Does this mean the chakra teams works on their own repo and periodically syncs with the git repo?

[2016-02-03 20:14] liminzhu commented on #220
Just saw this today...

I like the idea of a mirroring repo actually, mainly because it allows forks/PRs while keeping the perks of a wiki
* easy to view and navigate with sidebars
* easy for collaborators to make small edits and previewing edits has been helpful for me

I know TypeScript did something similar with [TypeScript-wiki](https://github.com/Microsoft/TypeScript-wiki).

[2016-02-03 21:32] goyakin opened #258 "[RegExp] /[\s-a-c]/ is parsed incorrectly"
Currently, Chakra parses `/[\s-a-c]/` as:
- The character class `\s`
- The character `-`
- The range `a-c`

However, other engines parse it as:
- The range `\s-a`, which is treated as the union of class `\s`, and the characters `-` and `a`
- The character `-`
- The character `c`

As a result, Chakra matches the character `b` with this pattern whereas others don't.

Annex B of the spec has been [ch

[2016-02-03 23:23] jianchun opened #260 "Missing FPU state save/restore"
According to @Yongqu, our script execution needs certain FPU states, so we should save/set/restore FPU states for script execution. ```SmartFPUControl``` class is intended for that task. However, ChakraCore JSRT calls apparently do not conform. We don't have ```SmartFPUControl``` usage at all. We should review/refactor/add to any code path that could lead to script execution.

[2016-02-03 23:23] kunalspathak commented on #260
That makes sense!

[2016-02-03 23:29] MikeHolman commented on #178
Note this now only needs to be fixed for ARM JIT.

[2016-02-04 01:02] bterlson opened #261 "Object.prototype should be an immutable prototype exotic object"
You should not be able to change its prototype with `Object.setPrototypeOf`, `__proto__`, or any other means. See also: https://github.com/tc39/ecma262/pull/308.

[2016-02-04 02:05] ianwjhalliday opened #263 "ES6 `let let` and `const let` declarations are supposed to be a syntax error"
_Originally this issue mentioned only the syntax error for `for (let let ...` but the issue actually applies to all `let` and `const` declarations containing a variable named `let`.  See the general static semantics rule here: https://tc39.github.io/ecma262/#sec-let-and-const-declarations-static-semantics-early-errors_

---

[code]

I think this was at one time decidedly not going to be an error b

[2016-02-04 02:23] ianwjhalliday opened #265 "Generator function yield* incorrectly unwraps and rewraps iterator results instead of passing them through"
When `yield*` iterates over an iterable, it is supposed to pass the iterator result object on to the caller of the generator as it is, when its done property is falsy.  Looks like we are currently unwrapping the iterator result from the iterable, taking its value, and rewrapping it in a new iterator result object, that happens to have a `done: false` property added to it.

This was discovered via

[2016-02-04 02:33] ianwjhalliday commented on #189
I don't know how the chakra-shim for node handles printing errors and stack traces.  This might just be a hosting API issue.

@kunalspathak do you know if we can improve this easily?

[2016-02-04 02:53] rajatd opened #266 "Remove BailOutExpectingObject"
I don't see any instance where we assign this bailout to an instruction. All the instances in the current codebase deal with checking for this bailout. Maybe it was needed at some point but not anymore? @LouisLaf @pleath @curtisman

[2016-02-04 07:24] kunalspathak commented on #189
Even chakra-shim doesn't handle this correctly and it was reported earlier in https://github.com/Microsoft/node/issues/15#issuecomment-174741458 and I suggested to open issue here. I think the `JavascriptExceptionObject` need to be populated with source information and that has to come from engine.

[2016-02-04 19:04] Cellule commented on #244
Okay, so looking at people's opinion, I think I will close this issue for now. It is true that there are no common API between the main hosts (which I think is sad) and we can shim most of them.
I will however open another issue regarding `WScript.LoadScriptFile`

[2016-02-04 19:04] #244 closed

[2016-02-04 19:08] Cellule opened #269 "`WScript.LoadScriptFile` search relative to the script location"
Right now, `WScript.LoadScriptFile` will search relative to the current working directory.
After the discussion in #244, I believe this was an oversight and this makes running test files without `rl` more difficult than it should be.
Unless someone as a valid use case to use current working directory, we should change it to use the current script's location.

[2016-02-04 19:18] Cellule commented on #161
The main problem with casing when working on Windows is that it doesn't matter for the OS.
Therefor, git might have checked in a file `somefile.cpp` but in our explorer we see `SomeFile.cpp` and this works fine, until we go cross platform.
I have seen very problematic case where some file would have different casing for their folder.
eg: `somepath\SomeFile.cpp` and `SomePath\otherfile.cpp`
On Wind

[2016-02-04 21:31] caitp commented on #254
I've got a version locally, I'd be happy to help someone land it as their first PR

[2016-02-04 23:11] jianchun opened #270 "linux: Implement SmartFPUControl for cross-platform"
#252 (https://github.com/Microsoft/ChakraCore/commit/5e560731bd5cc383e07710122550a6dcbcea4ad2) temporarily made SmartFPUControl no-op on non-Windows systems. With fix of #260, we may need to implement it.

[2016-02-04 23:38] bterlson opened #271 "Proxy setPrototypeOf returning false throws wrong error"
[code]

Expected: TypeError from Object.setPrototypeOf that doesn't mention invariant check

Actual: TypeError: Invariant check failed for setPrototypeOf proxy trap

[2016-02-05 00:19] obastemur commented on #200
`cpuid` is a processor instruction and specific to Intel x86. I can't think of a cross platform issue.

[2016-02-05 00:20] obastemur commented on #200
I haven't check yet, is there anything specific done or needed for ARM ?

[2016-02-05 00:56] jianchun commented on #200
This issue primarily refers to the number of cores, from [PAL code](https://github.com/dotnet/coreclr/blob/df70149df5440ac409a3792aa0eca5d27a105d8b/src/pal/src/misc/sysinfo.cpp#L121), and also [related GetLogicalProcessorInformation calls on Windows](https://github.com/Microsoft/ChakraCore/blob/linux/lib/common/core/SysInfo.cpp#L99).

Seems we are not using it on ARM, not sure either.

[2016-02-05 15:02] DA40 opened #272 "How do you return a string or struct from a callback to JavaScript?"
New to ChakraCore so have been playing with the ChakraCoreHost sample to get a feel for how things work. This shows how to use DefineHostCallback to create a callback to which the JavaScript provides some data, but not the reverse.  For example, how do you return a string or struct from the callback to JavaScript?
Thanks.

[2016-02-05 22:32] ianwjhalliday commented on #272
A `JsNativeFunction` callback always returns a `JsValueRef`.  Use the JSRT APIs which create `JsValueRef` values to return what you need to return.  E.g. `JsCreateObject` (and `JsDefineProperty`), or `JsCreateArray`, or `JsBoolToBoolean`, etc.

[2016-02-05 22:58] bterlson opened #274 "Remove [[Enumerate]] and associated reflective capabilities"
At the January TC39 meeting and subsequent conversations we got consensus on removal of the [[Enumerate]] MOP operation and the associated Reflect.enumerate and proxy trap `enumerate`. A PR implementing this consensus is here: https://github.com/tc39/ecma262/pull/367.

[2016-02-06 00:06] rajatd opened #277 "Bug with lossy int type specialization"
We dont kill type specialized values across calls for perf reasons. This can be a problem when we lossy int type specialize an object. If a call following the conversion overrides, for example, valueOf on the  object and the object is used as an int after the call (for example, in a shift), we will use the already available int version and end up not executing valueOf.

[2016-02-06 00:46] dilijev commented on #220
@liminzhu Oh, excellent find. I like that there's a precedent. I'll discuss with @curtisman @tcare and @digitalinfinity and try to get this coordinated.

[2016-02-06 02:09] dilijev commented on #220
I discussed offline with @EdMaurer and @bterlson and they agreed that the wiki mirror ChakraCore-wiki is a good idea. @EdMaurer expressed concern about the potential need for extra machinery to keep them in sync. I will discuss sync machinery needs (if any) with @tcare on Monday and then hopefully we can get this coordinated.

[2016-02-06 02:19] dilijev commented on #220
@tcare For sync machinery there are a few possibilities to consider:

1. All edits to the wiki are done via the `ChakraCore-wiki` repo.
  1. All changes are reviewed as PRs.
  2. External changes will be reviewed as PRs.
  3. [hybrid] Any large changes will be reviewed as PRs and otherwise small edits can be committed directly (as now).
2. Edits to be reviewed are done via the `ChakraCore-wiki` re

[2016-02-06 02:27] dilijev commented on #220
@caitp I believe you were interested in making community contributions to the wiki when the discussion came up on Gitter. How does this solution sound?

[2016-02-06 02:44] caitp commented on #220
:+1:

[2016-02-06 14:06] DA40 commented on #272
Thanks to your help, Ian, I was easily able to implement this test callback:

JsValueRef CALLBACK GetString(JsValueRef callee, bool isConstructCall, JsValueRef *arguments, unsigned short argumentCount, void *callbackState)
{
	std::wstring	str(L"Got this from GetString");
	JsValueRef	stringValue;

	IfFailThrow(JsPointerToString(str.c_str(), str.size(), &stringValue), L"invalid argument");
	return s

[2016-02-06 23:10] nojvek commented on #161
Have you folks tried running git config core.ignorecase false

Is this something I can help with? If I change case, and all tests pass,
does that mean nothing else will break?

Thanks.

On Thu, Feb 4, 2016 at 11:19 AM, Michael Ferris <notifications@github.com>
wrote:

[2016-02-08 18:27] ianwjhalliday commented on #272
Awesome, glad to hear it @DA40.

[2016-02-08 18:27] #272 closed

[2016-02-08 18:55] suwc commented on #21
https://github.com/Microsoft/ChakraCore/pull/253

[2016-02-08 18:56] suwc commented on #21
Leave a comment

[2016-02-08 18:56] #21 closed

[2016-02-08 18:56] #277 closed

[2016-02-08 21:14] ninlar opened #279 "Add project that produces a static library version of ChakraCore"
When creating projects that target PaaS offerings in Azure such as Service Fabric or Classic Worker Roles, it is more desirable to have a version of ChakraCore that can be statically linked.
In addition it would be nice if the static library also statically linked its dependencies such as the MSVC runtime. This prevents users from having to create VM Extensions that deploy these dependencies.

[2016-02-08 23:26] ianwjhalliday opened #280 "Class setters do not fail to parse when they have zero or more than one formal parameters"
The grammar for setter and getter methods is such that they only allow exactly one and zero formal parameters respectively.  We appear to get this correct for object literals, and correct for getters in classes, but we allow any number of parameters for class setters.

[code]

https://tc39.github.io/ecma262/#sec-method-definitions

[2016-02-09 02:15] dilijev commented on #220
I'm getting approvals and setting this set up within the next day or so.

[2016-02-09 02:25] liminzhu commented on #220
Great to see this progressing :+1: . Do we know which model you mentioned before are we going for?

[2016-02-09 03:05] ianwjhalliday commented on #280
Turns out I fixed an issue I found while testing async function parsing that was very closely related to this, so I just fixed this one as well.  PR coming soon.

[2016-02-09 03:23] dilijev opened #283 "Enable -includeSlow on Legacy daily builds."
Currently -includeSlow is only specified on the [Builds with Slow Tests](https://github.com/Microsoft/ChakraCore/wiki/Build-Status#builds-with-slow-tests) configuration.

Since the Legacy builds also run once per day it makes sense to add -includeSlow to increase coverage.

[2016-02-09 03:29] dilijev commented on #283
@tcare @digitalinfinity Was there a reason we decided against this previously?

[2016-02-09 04:46] dilijev commented on #220
I asked around about how the wiki was handled on coreclr and TypeScript and after discussions with those teams and various people on Chakra, we decided that the mirror repo wiki a la [TypeScript-wiki](https://github.com/Microsoft/TypeScript-wiki) is the least risky and least overhead option. Assuming no objections from legal, I'll get that set up tomorrow. Thanks for pointing me to the TypeScript

[2016-02-09 04:52] dilijev commented on #220
To be more specific:

We will create the repo `ChakraCore-wiki` and mirror the wiki (https://github.com/Microsoft/ChakraCore/wiki) there.

We will allow our team to make changes directly to the wiki as they do now, to remove any friction for small edits. If someone wishes to have the changes reviewed, they can open a PR on `ChakraCore-wiki`. The PR and merge process via that repo will be much simp

[2016-02-09 22:47] dilijev commented on #115
Just observed another file timing out:

`d:\j\workspace\Private\Microsoft_ChakraCore_daily_x64_debug\test\bailout\bailout-args.js`

[2016-02-10 00:14] EdMaurer commented on #279
This is not the only time we've heard interest in this.

[2016-02-10 00:28] jianchun commented on #279
One problem is that we have initialization/termination code attached to DLL_Process/Thread _Attach/Detach. To offer a static lib, we may need new explicit initialize/terminate hosting APIs.

[2016-02-10 16:48] curtisman commented on #279
You can build ChakraCore with MSVC dependency statically linked with the msbuild build flag /p:RuntimeLib=static_library.

As for ChakraCore as a static library, we can convert the attach/detach initialization into global object ctor initialization (or __declspec(thread) object with ctor/dtor for thread attach/detach)

[2016-02-10 21:38] ianwjhalliday commented on #6
Removed the commits that removed `-ES6Classes -ES6ObjectLiterals -ES6Generators -ES6Rest -ES6Spread`. @abchatra feels it is too early to remove control over these newer features.

Added commit removing `-TDZ`.

[2016-02-10 21:40] #280 closed

[2016-02-10 22:27] dilijev commented on #161
@nojvek To your earlier question about our code flow from here to internal: we use ChakraCore as a git submodule of our internal Chakra repo which includes the internal components that connect with Edge etc, and we update the submodule hash continuously (every time there is a commit to master), so the version of ChakraCore we use internally is exactly the version that is worked on here.

I don't t

[2016-02-10 22:54] dilijev commented on #220
Update: waiting on approvals.

[2016-02-11 17:50] ninlar commented on #279
Ah I see. That's why using lib.exe to combine all the dependencies into single lib didn't work. I assume the static library could also leave out the test hooks.

[2016-02-11 18:33] suwc opened #299 "Assignment to class name inside class body should be type error"
From test262

test262\test\language\statements\class\name_binding\const.js

[code]

[2016-02-11 18:47] jianchun commented on #161
Yes, we've run into this problem on Linux. I talked to @digitalinfinity the other day and we thought we should fix this, probably standardizing (at least most) filenames to CamelCase. I'm trying it out.

[2016-02-11 19:03] ianwjhalliday opened #300 "Generator function default parameter value initializers should be evaluated when the generator function is called not at first next() call"
Currently default parameter value initializers are evaluated on the first call to `next()` on the resulting generator object from a call to a generator function.  The ES spec says they should be evaluated on the call to the generator function itself, before it returns the generator object.

E.g.

[code]

One simple solution might be to put a yield between the default parameter initializers and the

[2016-02-11 19:21] ljharb commented on #300
If I've modified `%IteratorPrototype%.next`, wouldn't that be observable?

[2016-02-11 19:31] ianwjhalliday commented on #300
We would call the generator next function directly for this purpose. Indeed we'd only do it this way if we can guarantee no observable effects. I believe this is possible but haven't explored the idea in depth.

[2016-02-11 23:47] jianchun commented on #161
Sent #303

[2016-02-12 05:01] nojvek opened #306 "Chakra JS data structure documentation"
It would be great if there was some documentation on how chakra implements the JS datastructures such as arrays and objects and what goes on in the JIT world.

[2016-02-12 23:26] liminzhu commented on #220
A reminder to myself that once the mirror is created, I should add a [footer](https://github.com/Microsoft/TypeScript/wiki#want-to-contribute-to-this-wiki) in the wiki linking to the mirroring repo.

[2016-02-13 00:54] kunalspathak opened #309 "Chakracore build break on VS2013 RC"
I cloned chakracore on a machine that has VS2013 12.0.21005.1 REL. The build fails because VS2013 doesn’t support `constexpr` that was recently added by @leirocks in 5619992ce85358277b744bd8317ba8546d83d654. This is also mentioned in [compatibility table](https://msdn.microsoft.com/library/hh567368.aspx#corelanguagetable) and mentioned [here](http://herbsutter.com/2013/09/09/visual-studio-2013-rc-

[2016-02-13 00:58] leirocks commented on #309
I can remove constexpr if we can’t use it, just move the calculation into the template definition. The only reason I use it is about readability.

Thanks,
Lei

From: Kunal Pathak [mailto:notifications@github.com]
Sent: Friday, February 12, 2016 4:55 PM
To: Microsoft/ChakraCore <ChakraCore@noreply.github.com>
Cc: Lei Shi <leish@microsoft.com>
Subject: [ChakraCore] Chakracore build break on VS2013 R

[2016-02-13 00:59] kunalspathak commented on #309
Sure, we can remove it, but this issue is more about how to handle these things in future.

[2016-02-13 01:43] curtisman commented on #309
We already have daily build to check:
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#legacy-builds
To check all the configuration pre-check in requires a lot of machine resource.
It's ok to detect and fix it quickly for these configurations.

[2016-02-13 01:54] kunalspathak commented on #309
@mmitche , it seems that November 2013 update in not installed on Jenkins Win7 build machines that's why legacy builds are failing.

@curtisman  - Thanks for clarifying, but we should decide on what should be the guidelines here. @liminzhu, can you please take care of necessary documentation?

[2016-02-13 01:57] leirocks commented on #309
I submitted a PR to remove constexpr usage  #310

[2016-02-13 02:11] dilijev commented on #309
@mmitche Is it possible to update the Win7 machines to the latest Dev12 (with November 2013 update)?

How much use do those machines get outside of our team? Would it be unreasonable for us to ask for configuration changes to more closely model the setup we're anticipating and would like to support on behalf of the community?

[2016-02-13 02:31] ianwjhalliday commented on #309
Should we bother to continue supporting VS 2013 without the update? It would be nice to have as close to full C++11 support as reasonable.

[2016-02-13 04:26] liminzhu commented on #309
@kunalspathak, looks like @leirocks is removing ```constexpr```. Is Nov13 update still required?

[2016-02-13 10:10] kunalspathak opened #313 "Optimize LdHeapArguments in presence of formal parameters"
Today inside function that reads `arguments` object, we need to create heap object that copies arguments on the stack into this heap object. The reason being the function can return the `arguments` and caller should have access to those arguments. However for functions which don't return `arguments`, ChakraCore does optimization where it doesn't create heap object (and thus skip copying of stack a

[2016-02-14 00:16] kunalspathak commented on #309
@liminzhu,  not now, but might need in future if someone adds new c++ language features.

[2016-02-15 07:30] dn7q3b opened #314 "building with Microsoft Visual C++ Build Tools 2015 Technical Preview"
Building with just [Microsoft Visual C++ Build Tools 2015 Technical Preview](https://blogs.msdn.microsoft.com/vcblog/2015/11/02/announcing-visual-c-build-tools-2015-standalone-c-tools-for-build-environments/).

On Win 10 Pro with only the Build tools (both 8 and 10 SDKs installed via tool) using
- Visual C++ x64 Native Build Tools Command Prompt
- set VS140COMNTOOLS=C:\Program Files (x86)\Microsof

[2016-02-16 16:38] kunalspathak commented on #313
@LouisLaf , @satheeshravi  - FYI.

[2016-02-16 17:41] mmitche commented on #309
@dilijev For sure.  Want to make those changes yourself?

[2016-02-16 23:44] dilijev commented on #220
@liminzhu Yep, TypeScripts example you linked is a good way to handle this. You can copy their [_Footer.md](https://github.com/Microsoft/TypeScript-wiki/blob/master/_Footer.md) and make the necessary changes for our project.

[2016-02-16 23:44] dilijev commented on #220
Update: still working out details. Close to making it happen.

[2016-02-16 23:56] dilijev opened #319 "Fix timezone-sensitive tests (disabled in Jenkins)"
There are a handful of tests which by their nature are timezone-sensitive (testing Date APIs). Because the execution of some Javascript Date APIs is dependent on the system time zone, the tests only work when run in the time zone in which the baselines were created (in our case, Pacific Time [UTC-8]).

The Jenkins machines are configured with UTC time and so we noticed that these tests would fail

[2016-02-16 23:59] ianwjhalliday commented on #48
@dilijev how does this look? https://github.com/Microsoft/ChakraCore/compare/master...ianwjhalliday:mvjenkins

I did not test this at all. Just throwing it up there as a rough start.

[2016-02-17 00:00] bterlson opened #320 "`{get}` should be a valid object literal"
We currently throw a syntax error for the following case:

[code]

[2016-02-17 00:08] dilijev commented on #48
@ianwjhalliday Great! Exactly what I was planning. I would also like to remove the `jenkins.` prefix from them since it's redundant. Might as well make the folder name capitalized `Jenkins` to go with the new scheme.

That should work. Keep in mind your pull request will break the checks because they won't be able to find the scripts where expected (it uses the jobs generated by the current master

[2016-02-17 00:09] dilijev commented on #48
@mmitche FYI does @ianwjhalliday's change in https://github.com/Microsoft/ChakraCore/compare/master...ianwjhalliday:mvjenkins look good to you?

[2016-02-17 00:12] mmitche commented on #48
jenkins/jenkins.buildone.cmd looks like it need ~%dp0 in front of the script call?

[2016-02-17 00:16] ianwjhalliday commented on #48
@mmitche yep, thanks for catching that

[2016-02-17 00:20] dilijev commented on #48
For the linux scripts as defined, you'll want to make sure that the scripts are invoked relative to the working directory and not the script directory. I don't know if linux has an equivalent of `%~dp0` for that purpose.

[2016-02-17 00:24] dilijev commented on #48
In https://github.com/Microsoft/ChakraCore/commit/28c00648ddd98ec48d0fa176351aea32cf103d10 it looks like the execute bit was lost on the shell scripts when you renamed the files.

Please run `git update-index --chmod=+x [file]` on the shell scripts.

This is required for Ubuntu to be able to execute the scripts.

[2016-02-17 01:17] dilijev commented on #320
If this is a parser front-end issue and non-blocking I recommend adding "Accepting PRs"

[2016-02-17 01:18] ianwjhalliday commented on #320
I have a fix already, I'm just finishing writing tests.

[2016-02-17 18:25] tcare commented on #319
This is something that we've been meaning to fix for a while. @ianwjhalliday encountered some pain over this when he was working remotely a while back :)

[2016-02-17 18:49] ianwjhalliday commented on #319
@akroshg noticed it too on when he was working remote recently.

Afaik there is no way to change the timezone per process for easy spoofing.  The system's timezone can be changed but that would affect new processes and not be a robust solution in the face of concurrent testing via rl.exe (it would work if all tests used the same timezone for spoofing, which they do currently, but it would lead to

[2016-02-17 18:51] ianwjhalliday commented on #319
One test I ran into was using a Date to get a long string for use as a property name.  It didn't depend on the date itself, nor the timezone, so I hardcoded the string that new Date(...) produced to make it work across timezones.

[2016-02-17 19:29] dilijev commented on #319
@tcare Yep I had a bug open internally from when we set up Jenkins and I noticed this originally. I decided to move it here since it seems to be ChakraCore-specific. I should have added a link. Added that now.

@ianwjhalliday Good catch. Were you able to re-enable that test for Jenkins?

[2016-02-17 19:37] dilijev commented on #319
@ianwjhalliday Yes, it seems there's no way to do it from the OS but in test mode we could have a flag on ch.exe override what the OS would say about the timezone and have the Date APIs use the provided timezone if possible. This effectively means we won't test the code path which uses the OS APIs to retrieve the timezone. (We could duplicate the tests and have one version spoof the timezone and o

[2016-02-17 20:02] ianwjhalliday commented on #319
@dilijev I don't remember which test it was, but looking at the grep results for timezone-sensitive it doesn't look like it was any of those.  I might have fixed it before jenkins happened.

And yes, agreed, that is what I was saying about spoofing the timezone.

[2016-02-17 20:18] dilijev commented on #111
@ariya We've decided to keep the Roadmap in the wiki as-is. The Roadmap wiki page is an indication of our high level goals for approximately 6 months of work. We don't want to get into too much detail about the progress on those goals there. We'd prefer to track more detailed progress and coordinate with the community in an issue and let the Roadmap be comparatively static.

I'm not sure about spe

[2016-02-17 22:37] #320 closed

[2016-02-17 22:40] ianwjhalliday commented on #320
:cake:

[2016-02-17 22:52] goyakin commented on #274
https://github.com/tc39/test262/pull/496

[2016-02-17 23:15] dilijev commented on #283
Discussed offline with @digitalinfinity. disablejit dailies are mostly checking for build failures. It's already running a highly reduced set of tests so there's not much value in adding the slow tests to the mix as well.

So once #115 is resolved in such a way that all the builds are green and adding more tests will give real data, I'll add -includeSlow just to the Windows 7 builds and see how it

[2016-02-17 23:34] MikeHolman opened #328 "Add ETW support"
Currently ChakraCore disables ETW because of reliance on private manifests. I think we should look into making new instrumentation manifests for ChakraCore to enable ETW support.

[2016-02-18 03:46] ianwjhalliday opened #333 "yield should be reserved word in arrow functions within StrictFormalParameters"
[code]

This is an error by way of ArrowFunction passing the Yield parameter on to its StrictFormalParameters.  This is different from FunctionExpression which drops the Yield parameter entirely from its production.

https://tc39.github.io/ecma262/#sec-arrow-function-definitions
https://tc39.github.io/ecma262/#prod-FunctionExpression

[2016-02-18 03:46] ianwjhalliday commented on #333
Related open spec question https://github.com/tc39/ecma262/issues/397

[2016-02-18 23:11] liminzhu opened #341 "[JSRT] Default implementation for promise continuation & timers"
Recent feedback I've heard about Chakra, which applies to ChakraCore as well. I think tracking the issue here would be beneficial to confused users and serve as a good link for the future.

The current state of the world is,
- Promise continuation - To use promises in scripts, JSRT users need to supply a [JsPromiseContinuationCallback](https://github.com/Microsoft/ChakraCore/wiki/JsPromiseContinua

[2016-02-18 23:16] liminzhu commented on #341
@curtisman @Yongqu

[2016-02-18 23:44] digitalinfinity opened #342 "[linux] Enable STACK_BACK_TRACE on linux"
The STACK_BACK_TRACE Macro is disabled on Linux currently since the StackBackTrace class depends on the CaptureStackBackTrace and Symbol resolution Win32 APIs. We should re-enable it since it helps in debugging memory issues and is also used by the Exception object in the runtime.

[2016-02-18 23:47] digitalinfinity opened #343 "[linux] Re-enable static valid pointer maps"
Static valid pointer maps for the Recycler are disabled on Linux builds. This is because the maps (under lib\Common\Memory\ValidPointerMap) generated don't currently compile with clang. The generation code (GenerateValidPointersMap) in HeapInfo.cpp needs to be updated to generate cross-platform VPMs, after which we can re-enable the feature.

[2016-02-18 23:52] digitalinfinity opened #344 "[linux] Implement GetCurrentThreadStackBounds"
A stub API- GetCurrentThreadStackBounds- is defined in CommonPal currently. We need to implement it to replace instances in the code where we rely on the Win32 specific-NtTeb to get the current thread's stack base and limit. One possible implementation for this API would be to use the NtTeb approach on Windows and pthread_attr_getstack on platforms with pthread support. It's unclear if we can do t

[2016-02-18 23:53] digitalinfinity opened #345 "[linux] Build DateUtilities.cpp/NumberUtilities_strtod.cpp"
These two files rely on Win32 APIs for dealing with daylights-savings. We'll need to replace/augment this with a cross-platform solution.

[2016-02-18 23:55] digitalinfinity opened #346 "[linux] Add coloring to the Output class"
Output::DirectPrint relies on Win32 Console APIs to change the color to be used while printing to the Console. We should use a cross-platform approach here- perhaps ANSI control characters? @dilijev any ideas here?

[2016-02-18 23:57] digitalinfinity opened #347 "[linux] Get CustomHeap compiling on Linux"
CustomHeap.cpp is currently not built on Linux (for no particular reason other than it's not needed until we port the JIT/dynamically allocated code pages to Linux). This issue tracks re-enabling this in the CMakeList for lib\Common\Memory.

[2016-02-19 00:58] jianchun commented on #161
This is mostly fixed now. There are some small number of files remaining lowercase as no ideal / strong preference for them.

[2016-02-19 00:58] #161 closed

[2016-02-19 02:15] ianwjhalliday commented on #165
So I tried to do the line mapping but this screws with debugging, making the debugger think that those declarations should be stepped through before the first line of the script.  This is because debugger statement mapping and stack trace statement mapping are one and the same.

Splitting them is non-trivial so I opted to not fix this issue now.

[2016-02-19 16:46] AlexElting commented on #263
I'm taking a stab at this. I implemented a solution last night, I just need to write and run the tests.

Correct me if I'm wrong, but looking through the specs it seems like this is not just limited to `for ()` statements. The `LexicalDeclaration` is a `Declaration`, so this rule applies when `let` or `const` are used to declare in script bodies as well as in `for()`.

In a way this makes `let` th

[2016-02-19 18:19] #165 closed

[2016-02-19 18:35] ianwjhalliday commented on #263
@AlexElting awesome!  Yes, the change applies to all let/const declarations.  I don't know the reason this changed in the spec but I agree that it is strange that it turns `let` into a strange quasi-keyword.

@bterlson do you recall why this change was made during ES6?

I'll update the issue title and description to reflect the general bug

[2016-02-19 19:05] goyakin opened #351 "Intl built-in functions have wrong names"
[Test262 PR](https://github.com/tc39/test262/pull/505)

[2016-02-19 19:23] ianwjhalliday opened #352 "Lexical Declarations cannot appear after a label"
ChakraCore currently allows lexical declarations (let, const, class, function*) to appear after a label.  Labels can only prepend a Statement, not a Declaration, according to the ES spec.

See grammar at https://tc39.github.io/ecma262/#sec-ecmascript-language-statements-and-declarations

FunctionDeclaration gets an exception and is allowed, presumably for back-compat.  GeneratorDeclaration does no

[2016-02-19 19:44] goyakin commented on #352
Isn't `d: function w() { }` actually valid since the grammar for `LabelledItem` allows a function declaration?

[2016-02-19 19:44] ianwjhalliday opened #355 "Should be a runtime TypeError to assign to a const variable, not an early SyntaxError"
Our implementation of const semantics no longer match the final semantics settled upon in the ES6 publication.  Const assignment used to be an early error but now the spec deems it a late runtime error.

const declarations are created in an environment record via [CreateImmutableBinding](https://tc39.github.io/ecma262/#sec-declarative-environment-records-createimmutablebinding-n-s)(name, true).  T

[2016-02-19 19:45] ianwjhalliday commented on #355
@pleath is this change going to be difficult or have any gotchas?

[2016-02-19 19:52] ianwjhalliday commented on #352
Yes, good catch.

But ugh, this means it is not allowed for GeneratorDeclaration specifically.  And presumably AsyncFunctionDeclaration later on.

I'll update the description

[2016-02-19 19:59] dilijev commented on #346
There's a list of ANSI escape sequences for reference [here](http://ascii-table.com/ansi-escape-sequences.php) (there's a whole section on the colors).

Windows console supports ANSI color sequences. I just tried the following to make sure:

[code]

To try that you'll have to use something like vim to enter the escape character before each `[`. In vim enter the escape character by entering insert

[2016-02-19 20:02] dilijev commented on #346
I think it's a good idea to use ANSI sequences instead of Windows console APIs because it is supported on Windows and one less thing we will have to make a special case for in the xplat effort.

[2016-02-19 20:03] ianwjhalliday commented on #346
How does that affect redirection of stdout and stderr to a file though?

[2016-02-19 20:08] dilijev commented on #346
On Linux the redirect and pipe operators `>` and `|` eliminate the ANSI color sequences in-stream. You actually have to use a different command to capture a console session to actually capture them (so it's more of a pain if you actually want them).

On Windows it appears that the control sequences are included in the stream.

Funnily enough, my example uses bold red which didn't render as brighte

[2016-02-19 20:10] dilijev commented on #346
Screenshot for fun:

![image](https://cloud.githubusercontent.com/assets/494055/13187730/c30f2660-d701-11e5-9fd1-464eb1242b30.png)

[2016-02-19 20:15] ianwjhalliday opened #357 "Hoisting a var declaration past a lexical declaration of the same name should be a SyntaxError"
Second bullet point of [block static semantics](https://tc39.github.io/ecma262/#sec-block-static-semantics-early-errors) and similarly for function body static semantics.

E.g.
[code]

This applies for var declarations hoisting past all lexical declarations, i.e. `let`, `const`, `class`, `function` (and generators and async functions).

[2016-02-19 20:17] ianwjhalliday commented on #357
@bterlson if I am reading section B.3.3. correctly, it does not affect this rule.  Is that correct? E.g. the following should be an error?

[code]

[2016-02-19 20:19] ianwjhalliday commented on #352
This is notable: https://tc39.github.io/ecma262/#sec-labelled-function-declarations

[2016-02-19 21:44] digitalinfinity commented on #346
@dilijev does windows support them on Window 8.1 and below? The ANSI sequence support might just be on Win10...

[2016-02-19 21:53] dilijev commented on #346
I'll check. I may have been mistaken about the terminal emulators themselves trimming the escape sequences in those operators. Linux programs are able to detect when they are being directed to a non-console device.

I will try some experiments to find out the answers to that question and whether older windows versions support ANSI color sequences at all.

[2016-02-19 23:09] phistuck opened #359 "Reveal Windows Insider and ChakraCore (base) revision mapping"
I am not sure where is the best place to surface this. Perhaps multiple places -
1. Here in the wiki.
2. In the Edge change log.
3. In the Windows Insider announcement blog (https://blogs.windows.com/windowsexperience/2016/02/19/announcing-windows-10-mobile-insider-preview-build-14267/ for example).

Basically a table of

[code]

[2016-02-19 23:20] #271 closed

[2016-02-19 23:21] tcare commented on #359
This is hard to do, because ChakraCore.dll does not ship with Windows. There is an approximate correlation for what we build Chakra.dll from, but it is not exact.

[2016-02-19 23:45] tcare opened #360 "Add Issue and PR GitHub Templates"
GitHub now supports issue and PR templates: https://github.com/blog/2111-issue-and-pull-request-templates

Do we want to set some of these up? What would we want to put in them?

@abchatra

[2016-02-19 23:47] dilijev commented on #346
Using windows server 2008 R2 (~= Windows 7 SP1), looks like no support for ANSI color escapes:

![image](https://cloud.githubusercontent.com/assets/494055/13192377/1295fe20-d720-11e5-8be8-73cc74f07c9a.png)

[2016-02-20 00:01] dilijev commented on #346
Same result with Windows Server 2012 R2 (~= Windows 8.1).

So I guess it's new in Windows 10 and we can't rely on it if we support OSes before Windows 10.

[2016-02-20 00:21] dilijev commented on #346
Okay I did a couple of experiments on Linux and determined that it is indeed the programs themselves not the redirection or pipe operators that decide about the color sequences.

I tested with a basic C program using printf and with a bash script using echo.

![image](https://cloud.githubusercontent.com/assets/494055/13192795/bdf8d1f8-d724-11e5-9d4f-2816895ff840.png)

[2016-02-20 00:33] dilijev commented on #360
Eh, it's extra overhead for anyone opening a pull request to think about, but on the other hand it will 'push' the most important point of CONTRIBUTING.md rather than requiring the user to 'pull' that info by checking out the file on their own.

I'm ambivalent.

[2016-02-20 00:34] goyakin opened #361 "TypedArray constructors should fail when the object argument contains an element not convertible to Number"
[Test262 PR](https://github.com/tc39/test262/pull/509)

[2016-02-20 00:35] dilijev commented on #351
@goyakin Could you be more specific about expected versus actual behavior in the situations that are incorrect?

[2016-02-20 00:42] goyakin commented on #351
If I remember correctly, we differ in two ways:

  * Names of some functions, e.g. `Intl.Collator.supportedLocalesOf`, has the prefix `bound`
  * Getters **don't have** a name attached to them, e.g. `Intl.Collator.prototype.compare`
  * Bound functions returned from the getters **have** a name, e.g. `bound compare`

[2016-02-22 13:27] Francososa commented on #166
Can I claim this issue?

[2016-02-22 19:31] dilijev commented on #166
@Francososa you got it.

[2016-02-22 22:22] bterlson commented on #137
The v8/sm semantics won the day here, so the expected result is `{value: 3, done: false}`.

[2016-02-22 22:49] bterlson opened #374 "Incorrect results for [[Get]] and [[HasProperty]] with Typed Array in prototype"
There was previously an inconsistency between [[Get]]/[[Set]] and [[HasProperty]] as noted in https://github.com/tc39/ecma262/issues/347. However, we did not comply with the old semantics either (our [[HasProperty]] seemed to be guarded on the receiver as well). The new semantics remove all the receiver checks.

[code]

Expected: undefined/false (same as v8)
Actual: 100/true (same as sm)

[2016-02-23 18:23] nzakas opened #378 "Error thrown access new.target"
I'm not sure if this is the correct place to file this issue, so please feel free to redirect me.

I'm using Microsoft Edge 25.10586.0.0, EdgeHTML 13.10586.

This is the code I'm running in the console:

[code]

The console then reports a thrown error and outputs:

[code]

I expected that it would output the function. It seems like this has been somewhat implemented due to the content of that erro

[2016-02-23 22:14] bterlson commented on #378
You've come to the right place! This code sample does work fine in ch.exe, so likely it was fixed and will be available in insider builds soon. Will try to nail this down further for you.

Thanks!!

[2016-02-23 22:17] bterlson commented on #359
:+1:, I would also find this very handy :-P An approximation is fine.

[2016-02-23 22:18] bterlson commented on #360
I say no, not until we have an actual problem that these features address. It's not worth the overhead (and I'm skeptical whether we'd ever settle on one PR and one issue template to rule them all).

[2016-02-24 00:21] ianwjhalliday commented on #306
Agreed!  A blog would be a great forum for this.  I'm not committing to anything here, since it would definitely be pressure on resources, but I think this is something we should seriously consider.

[2016-02-24 00:30] nojvek commented on #306
I understand. Would it work if I interviewed the team and took some notes? May be turn it into a little gitbook or something. The value of this is when someone is working on performance sensitive javascript, its important to understand what is going on under the hood. e.g why is new Array(1000) a lot faster than a 100 array.push calls.

[2016-02-24 05:58] digitalinfinity commented on #306
We have some old blog posts and talks that are still somewhat relevant- are you thinking something along these lines?
https://blogs.msdn.microsoft.com/ie/2012/06/13/advances-in-javascript-performance-in-ie10-and-windows-8/
https://www.youtube.com/watch?v=OqnMmoF2GqM

[2016-02-24 06:37] nojvek commented on #306
Hi Hitesh,

That's still somewhat a high level overview. I was more interested in how a
JavaScript object is stored in memory? How do you ensure fast property
access? When do bailouts happen? What happens when more properties are
added to an object. How to make large hash maps efficient? . How does array
allocations work on .push? How do you ensure functions get inlined? How do
you profile chakra

[2016-02-24 07:36] sankha93 commented on #306
@abchatra has written some posts regarding this which provide some insight into JS engine internal data structures. You can find them at http://abchatra.github.io/

[2016-02-24 13:55] paladox opened #383 "Sometimes loading big diffs causes browser to crash or freeze"
Sometimes loading a big file through Microsoft edge or internet explorer causes the browser to crash or freeze and load the web page slowely.

For an example please see https://gerrit.wikimedia.org/r/#/c/272954/2/zuul/layout.yaml

Also this problem happened in webkit which I hope has been fixed with https://bugs.webkit.org/show_bug.cgi?id=154068

In google chrome the web page is loaded almost inst

[2016-02-24 15:03] abchatra commented on #306
Let me know if you have any questions. I will be glad to help. Also if you are interested in particular topic do let me know.

[2016-02-24 21:43] goyakin opened #387 "Remove "args.Info.Count == 0" checks"
It looks like the `args.Info.Count` would be at least `1` for `this`. If that's the case, we can safely remove those checks from our codebase.

[2016-02-25 01:43] tcare commented on #359
After discussing this a bit today, a hash is till quite hard for us to do since there's no direct correlation. However, a changelog or list of features going out might be doable. It's still quite hard for us to do this at a per-change level internally though. If there's demand we'll certainly look into it.

[2016-02-25 01:44] tcare commented on #360
Fine by me. We have the option at least :)

[2016-02-25 01:44] #360 closed

[2016-02-25 06:17] nojvek commented on #306
Thanks Abhijit,

Thanks for the blogs. There's some great stuff there.  Looking forward to
inline cache article.

This is the kind of technical stuff that I think is very interesting.

I'm personally interested to learn how arrays and object maps work. How is
their runtime and memory performance of different operations.

How functions get stored and called. When do they get inlined? How scope
inhe

[2016-02-25 07:16] mybios opened #390 "Map.get bug with hash code calc"
test case
[code]

[2016-02-25 18:06] dilijev commented on #390
Confirmed no throw from v8 in Canary (50) and Chrome (48).

[2016-02-25 18:24] ianwjhalliday commented on #390
Good catch.  Yep, a quick look shows that `SameValueComparerCommon::GetHashCode` incorrectly returns different hash values for tagged ints and equivalent untagged ints.  Probably also has this error with Int64 and UInt64 integers.

[2016-02-25 18:34] dilijev commented on #390
Tried another repro.

[code]

Replace print with console.log and it runs with no repro in Canary and Chrome.
Repros in latest Chakra by printing "2: not good"

[2016-02-25 20:03] goyakin commented on #352
Test262 [test cases for IterationStatement](https://github.com/tc39/test262/pull/510)

[2016-02-25 20:34] jianchun commented on #255
Similarly, ```NumberUtilities::DblFromDecimal``` seems not used in ChakraCore. Consider move as well.

[2016-02-25 21:13] ianwjhalliday commented on #390
This is my bug from years old code. I've assigned it to myself but if someone wants to grab it off me before I get to it I'm cool with that.  Probably will be a couple weeks at minimum before I can get to this.

[2016-02-25 22:49] akroshg commented on #27
This is fixed.

[2016-02-25 22:49] #27 closed

[2016-02-25 23:32] #26 closed

[2016-02-26 00:15] akroshg commented on #235
Closing this as it is similar to #355

[2016-02-26 00:15] #235 closed

[2016-02-26 18:00] bterlson opened #398 "NaN and -NaN can give different bit patterns"
AFAIK our intention is to always canonicalize so this should be fixed. Note that this only repros in Edge, not in ch.exe.

[code]

Output on Edge 25:
fff8000000000000
7ff8000000000000

[2016-02-26 22:29] phistuck commented on #359
Just to be clearer, can you clarify how is it that there is no direct correlation?

[2016-02-26 23:20] bterlson commented on #144
Consensus is we must allow duplicate func decls in blocks sloppy mode. tc39/ecma262#400 proposes a spec fix for this, but this issue can be closed!

[2016-02-26 23:20] #144 closed

[2016-02-27 01:58] tcare commented on #359
First some good news, after chatting with @EdMaurer it looks like we can work with some people internally to make this a bit easier for us to do. We'll give things a go next time we flight some major changes.

To elaborate on why this is currently difficult for us, I need to give a bit of background about how ChakraCore relates to Windows. Chakra.dll, which ships with Windows, is a superset of Cha

[2016-02-27 11:10] phistuck commented on #359
Feature level should already be exposed by the Edge changelog, right? So this is unnecessary, I think (and it takes more manual work, I believe).

One of the purposes of this is to know whether a contribution made into the flight so contributors could test (or brag about ;)) their contribution using a Windows Insider build or RemoteIE.
The other is to have a finely grained change log for a release

[2016-02-27 11:13] phistuck commented on #359
It is great to read that it is closer to being possible!

Feature level should already be exposed by the Edge changelog, right? So this is unnecessary, I think (and it takes more manual work, I believe).

One of the purposes of this is to know whether a contribution made it into a released (preview or not) build so contributors could test (or brag about ;)) their contribution using a Windows Insid

[2016-02-29 20:01] dilijev opened #410 "[Test failure] [Daily] [Dev12 x64_test] Access violation (0xc0000005) in some tests."
I've been tracking this for a while but realized there's no issue open for it.

There is an access violation (0xc0000005) in 14 tests in x64_test

Present since:
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_test/31/

Latest failure:
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_test/42/

[2016-03-01 01:03] dilijev opened #418 "Trigger phrases like "Windows 7 daily_dev12_x64_test" cause all Windows 7 dailies to be triggered"
"Windows 7 daily_dev12_x64_test" caused all of the dev12 dailies to be triggered in https://github.com/Microsoft/ChakraCore/pull/417

It matches the regex trigger for all Dev12 builds because "Windows 7" would match, and also "dev12" would match.

See set of regex triggers:

[code]

The fix to this is to change the trigger phrase for this entire set of builds to be something which isn't included i

[2016-03-01 18:10] goyakin opened #421 "Unicode: String.prototype.{toUpperCase,toLowerCase} don't handle characters that would increase the string length"
For example, `'ß'.toUpperCase() === 'SS'` should be true, but Chakra doesn't handle that character and it's `'ß'.toUpperCase() === 'ß'` instead.

The list of such characters are maintained in the [SpecialCasing.txt](http://unicode.org/Public/UNIDATA/SpecialCasing.txt) file.

[2016-03-01 20:11] rajatd opened #424 "Fix error message for changing [[Writable]] to true from false for non-configurable properties"
Currently the error message we print is "Cannot modify non-writable property" while it should be "Cannot redefine non-configurable property"

[2016-03-01 20:15] ljharb commented on #424
By spec, nonconfigurable properties certainly can be changed from `writable: true` to `writable: false` - it's only that nonconfigurable nonwritable properties can't be made writable.

You can see this with:
[code]

[2016-03-01 20:15] ljharb commented on #424
oops, never mind, I misread your issue title :-) will delete my comment

[2016-03-01 20:16] ljharb commented on #424
It might be useful to say something more specific like "Cannot make nonconfigurable property writable" when attempting to set `writable` to `true` - to highlight the difference where you can change it to `false`.

[2016-03-01 21:02] rajatd commented on #424
Thanks @ljharb . Sure, we could have that. However, we have a macro for the error message to be thrown when trying to redefine non-configurable properties (except for the cases where it is allowed). Having a different one just for this case doesn't really seem worth it. Other browsers also just say "cannot redefine....".

[2016-03-01 21:47] #418 closed

[2016-03-01 21:50] dilijev commented on #48
@ianwjhalliday FYI there are currently several open pull requests regarding changes to the scripts so you'll probably want to reapply the changes you made to move the scripts from scratch after those PRs are resolved.

[2016-03-01 21:54] ianwjhalliday commented on #48
Yeah, good idea. Thanks for the heads up.

[2016-03-01 22:49] ljharb commented on #424
Fair. I'd say every error message should be as helpful as possible, even if other browsers don't live up to that standard, but I don't truly understand the tradeoffs there.

[2016-03-02 00:37] #20 closed

[2016-03-02 22:58] dilijev commented on #410
Fixed as of http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_test/43/

[2016-03-02 22:58] #410 closed

[2016-03-03 01:35] akroshg opened #434 "Fix the message for implicit Symbol.toString to make it more descriptive"
say for
  `String(Object(Symbol()));`

We throw  : `TypeError: Object doesn't support property or method 'ToString'`
There were suggestion made in #422 to make it more descriptive.

[2016-03-03 02:15] akroshg opened #435 "Throwing an error causes ToString call on a property, and that property is a Symbol."
eg.
[code]
as `a `is undefined we throw a type error. While throwing, we are trying to get string from that property to populate error information, which makes `ToString `call to that property (in this scenario that property is `Symbol`).
Is this implicit `ToString `call on `Symbol `correct and as per spec?
Look for
`JavascriptError::ThrowTypeError(scriptContext, JSERR_Property_CannotSet_NullOrUnd

[2016-03-03 02:16] akroshg commented on #435
This issue raised from #422.

[2016-03-03 03:07] ianwjhalliday commented on #434
First `ToString` should be `toString`.
Second the error message should really be something like `cannot implicitly convert symbol to string` because the the current string is misleading since toString on a symbol does exist and work if it is explicitly called.

[2016-03-03 03:36] digitalinfinity commented on #345
Fixed with #391 (Commit d6835358fbe612dd36892c6d62097ee8f3aeb958)

[2016-03-03 03:36] #345 closed

[2016-03-03 03:39] digitalinfinity opened #437 "[linux] Get DaylightTimeHelper.cpp to compile"
Last remaining file in lib/Common/Common. This one is harder since it has dependencies on Win32 time APIs that are not implemented in the PAL (TzSpecificLocalTimeToSystemTime and friends)

[2016-03-03 04:24] ljharb commented on #435
The spec doesn't talk about how error message text is generated - so an observable `toString` on that property is probably not something that's expected.

[2016-03-03 20:51] Cellule opened #440 "WebAssembly pre-v1.0 update"
The WebAssembly spec changed quite a bit recently and we have to update our implementation.
This is a list of things to do

- [x] : Add `Wasm` Object to the global object (#430)
- [x] : Add `instantiateModule` method to the `Wasm` Object. (In review #486 + #430)
  - Takes 2 arguments
    - TypedArrayView with the bytes representing the wasm module
    - An Object representing the imports
- [x] : M

[2016-03-03 21:42] Cellule commented on #440
@commonlisp Can you mark which item you'll be working on?

[2016-03-03 22:28] dilijev opened #442 "jenkins.buildall.cmd ignores extra parameters"
jenkins.buildall.cmd is a convenience script for desktop users who want to build all of the flavors locallly in the same way that jenkins builds them. The script is not used by any automated systems. It defers to the same logic used by the other scripts but ignores any parameters passed.

Might be as easy as adding %* to each command invoked by that script. I'll look into it when I have the chance

[2016-03-04 10:53] sorgloomer opened #451 "Promise subscriptions fire in reversed order inside a Worker"
Hi,

Running the following code in Edge:

[code]

prints:
[code]

I think the expected output should be `#1 #2`, according to https://promisesaplus.com/  §2.2.6.1, §2.2.6.2. Interestingly, the same experiment logs `#1 #2` when run in the main worker.

Version:
[code]

Best regards

[2016-03-04 19:29] jianchun opened #456 "cross-plat: wrap wchar type and string literal"
```wchar_t``` and ```L"..."``` use 2-byte chars on Windows but 4-byte chars on Unix. We need a common representation for cross-platform. We have been experimenting with ```wchar16``` and ```CH_WSTR``` in "linux" branch, and realized that's a lot of code noise and would probably result in merge hell. We would like to do a batch replacement in "master" with better named typedef/macro.

C++11 has ```

[2016-03-04 19:30] jianchun commented on #456
@ianwjhalliday @tcare @suwc

[2016-03-04 19:31] tcare commented on #456
Have you tried building in SD with these changes to see if char16 works?

[2016-03-04 20:13] ianwjhalliday commented on #456
FYI @LouisLaf discovered that C++11 requires that function static variable initialization must be thread safe  this morning and really liked that benefit.  He was starting to agree that it might be really beneficial to min support C++11 compliant compilers.

I don't want to block this work nor stray offtopic, but do want to note that if we did jump to C++11 only compilers then we would be able to

[2016-03-04 20:18] digitalinfinity commented on #456
@ianwjhalliday that's a great point but I think that's a longer separate discussion that we should have (feel free to open a separate issue). We need to close on this particular issue more rapidly since it's currently impeding progress on the cross-plat efforts.

[2016-03-04 20:25] ianwjhalliday commented on #456
@digitalinfinity agreed.  I'll write up a new issue to discuss C++11.

I like `char16` and `_u`

[2016-03-04 20:26] dilijev commented on #456
+1 for `char16` and `_u`. They should be easy to find-and-replace if we switch to the C++11 compliant compiler requirement.

[2016-03-04 20:26] dilijev commented on #456
(Or just not replace since the macros will handle the job in any case.)

[2016-03-04 21:19] jianchun commented on #456
I had trouble referencing ```wchar_t```, but following worked so far (in Full):
[code]
@tcare Anything in particular or steps you want me to try? (Send offline if not applicable here.)

[2016-03-05 00:14] jianchun commented on #456
See PR #460

[2016-03-05 17:46] nicolo-ribaudo commented on #147
If none is working on this issue, I can do it.

[2016-03-05 18:01] caitp commented on #147
Suggest renaming this issue to specify "for-of" loops, to avoid confusing those of us who see this in email and worry about someone possibly landing something that breaks the web =)

[2016-03-05 18:10] ianwjhalliday commented on #147
Oops, thanks for catching that @caitp. Fixed

[2016-03-05 18:13] ianwjhalliday commented on #147
@nicolo-ribaudo it's yours. Let me know if you have any questions about the parser.

[2016-03-06 01:21] bendono opened #470 "Access violation -- Js::DebugManager::Close+0xf"
I have ProcDump set to create full minidumps whenever a process crashes.
Yesterday my girlfriend was using Edge and told me that there was a problem.
I do not know the problematic URL or reproduction steps.
But I checked dumps folder and sure enough one of the tabs had crashed.
I can provide the dump itself, but it is 119 MB when 7Ziped.

Below is a brief analysis of the dump.
Let me know if you n

[2016-03-06 02:07] digitalinfinity commented on #456
One other option which is worth considering is, we use char16_t everywhere since that's the standard type. And in the case of VS2013, we can typedef wchar_t to char16_t. What do others think? (We'll still need the _u macro).

[2016-03-06 06:41] ianwjhalliday commented on #456
That's a good idea.  I'm for trying that out.

[2016-03-06 09:50] dilijev commented on #456
That sounds like a good idea to me too. Then we would be one step closer to using all standard modern C++ types.

[2016-03-06 14:33] nicolo-ribaudo opened #472 "Expression shouldn't be allowed as computed property name"
Chakra doesn't throw a SyntaxError for this code:
[code]
but the specification defines [`ComputedPropertyName`](https://tc39.github.io/ecma262/#prod-ComputedPropertyName) as `[ AssignmentExpression ]`

[2016-03-06 19:12] obastemur commented on #456
+1 on `char16_t` *nix platforms. However isn't it better to use `wchar*` on Windows ?

[2016-03-07 09:25] ianwjhalliday commented on #472
Similar to #147. @nicolo-ribaudo feel free to tackle this one as well at the same time.  Thanks for finding and reporting this.

[2016-03-07 13:58] nicolo-ribaudo commented on #472
@ianwjhalliday Should I open a different pr or can I just add a commit to #471?

[2016-03-07 16:35] jianchun commented on #456
I'll try out ```char16_t```. ```WCHAR``` is probably easier than ```wchar_t``` on VS2013.

[2016-03-07 16:40] ljharb commented on #472
wait, why would that throw a syntax error? I thought computed properties could be any JS expression - `{ ['foo']: 3 }` is certainly valid, why wouldn't `{ [2]: 3 }` be?

[2016-03-07 16:46] nicolo-ribaudo commented on #472
`{ [2]: 3 }` is valid, but `{ [ 1, 2 ]: 3 }` isn't, because `1, 2` isn't an AssignmentExpression

[2016-03-07 17:30] DigiTec commented on #451
Wow great find! We knew that our timer implementation of Promises was bad, but I never found a use case where it actually reordered promises. Thank you so much for this report!

That said, we've recently upgraded our Promises to a micro-task checkpoint model similar to other browsers. Running your test case on unreleased bits I'm able to see that we've definitely fixed this issue and we get the ex

[2016-03-07 17:35] ianwjhalliday commented on #472
@nicolo-ribaudo one PR for both is fine

[2016-03-07 18:39] ljharb commented on #472
@nicolo-ribaudo Is the [comma operator](https://tc39.github.io/ecma262/#sec-comma-operator) not an AssignmentExpression?

[2016-03-07 18:45] ianwjhalliday commented on #472
@ljharb no it isn't. It is the only thing that is not an AssignmentExpression.  Expression is defined in the grammar as

[_Expression_](https://tc39.github.io/ecma262/#prod-Expression)[In, Yield]:
 - _AssignmentExpression_[?In, ?Yield]
 - _Expression_[?In, ?Yield] __,__ _AssignmentExpression_[?In, ?Yield]

[2016-03-07 19:11] ljharb commented on #472
gotcha, thanks for clarifying

[2016-03-07 19:30] jianchun commented on #456
I have tried ```char16_t```.

On VS 2013 this works:
[code]

On VS 2015, trying to use native ```char16_t``` runs into many issues as we suspected. Many APIs are based on ```WCHAR, LPCWSTR, LPWSTR, PWSTR, OLECHAR, LPCOLESTR```. These types are based on native ```wchar_t``` and are not compatible with native ```char16_t```. I can do following:
- Stage 1: Behind the scene use ```WCHAR / L``` on VS 2

[2016-03-07 19:41] DigiTec commented on #451
Closing. The fix for this issue will be in a future build of Edge.

[2016-03-07 19:41] #451 closed

[2016-03-07 19:52] ianwjhalliday commented on #456
A little awkward.  Stage 1 might be sufficient for a long time.  Sounds reasonable to me.

[2016-03-07 20:13] sorgloomer commented on #451
Awesome, thanks!

[2016-03-07 20:15] commonlisp commented on #440
[ ]: Add  Wasm  Object to the global object (In Review: #430)
[ ] : Add  instantiateModule  method to the  Wasm  Object. (In Review: #430) ◦Takes 2 arguments ◾ArrayBuffer with the bytes representing the wasm module
◾An Object representing the imports

[ X ] : Modules return an  exports  ◦ var m = Wasm.instantiateModule(buf, imports); m.exports.foo(); (In Review: #452)

[ X ] : Wasm magic number +

[2016-03-07 20:21] nicolo-ribaudo commented on #472
I just pushed the fix at #471

[2016-03-07 21:09] dilijev commented on #115
This build has been green for a few days. But since we didn't intentionally fix it I want to leave this issue open to track it until we figure out why the problem seems to be gone (or in case in comes back).

FYI @ianwjhalliday

[2016-03-07 21:12] dilijev commented on #470
@bendono could you upload the dump to a file share like OneDrive and email a link to ChakraCore@microsoft.com?

[2016-03-07 21:17] dilijev commented on #115
Information on the first build where the issue went away:

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_debug/44
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_debug/44/changes#detail8

[2016-03-07 21:48] bendono commented on #470
@dilijev I have shared it on OneDrive. You should receive an e-mail notice with a link.

[2016-03-07 22:11] obastemur commented on #456
+1 on Stage1

How about defining `wchar_t` for VS2013 ?
[code]

[2016-03-07 22:32] jianchun commented on #456
Thanks all for the discussion! I'll update the PR with ```char16_t / _u```.

One issue with typedef to ```wchar_t``` on VS 2013 was we have internal build flavors that conflicts with it. ```wchar_t``` may or may not be a built in type on VS 2013 depending on a compiler switch. I found ```WCHAR``` always worked thus was using ```WCHAR```. It is mostly equivalent to wchar_t on VS 2013.

[2016-03-07 23:01] obastemur commented on #456
@jianchun that makes perfect sense. Thanks for details.

[2016-03-07 23:34] jianchun commented on #456
Just ran into a problem on VS 2015 with ```#define char16_t WCHAR``` and couldn't work around. We have some standard headers template-specialized on both ```wchar_t``` and ```char16_t```. These are expected to be 2 different types.

Going back to ```char16```...

[2016-03-07 23:36] ianwjhalliday commented on #456
Bummer.  Oh well, sounds good.

[2016-03-07 23:58] dilijev commented on #470
@bendono Received. We are looking into it. Thanks.

[2016-03-08 00:00] dilijev commented on #456
Just a note: according to the C++ standard, types ending in `_t` are reserved for future use by the standard even if they are not already defined. I don't believe there is any machinery in the compiler to overload a builtin type so it would be ill advised to try. :P

[2016-03-08 00:21] dilijev commented on #12
See comments in https://github.com/Microsoft/ChakraCore/pull/473
I'll copy them below.

[2016-03-08 00:22] dilijev commented on #12
I had an OCD moment on tabs recently and checked myself: #425. It's not worth the time to bring in a small change like that. At some point, say around the time we implement an auto code-review system, it would be appropriate to do a pass over the whole code base and fix issues that the system would flag.

[2016-03-08 01:18] jianchun commented on #456
Thanks all for the discussion and ideas. I have pushed PR #460 with ```char16/_u```.

[2016-03-08 01:18] #456 closed

[2016-03-08 01:22] #442 closed

[2016-03-08 01:37] agarwal-sandeep commented on #470
Thanks @bendono, I have downloaded the attachment and is investigating the issue. If you want you can remove the file from OneDrive.

[2016-03-08 02:54] MikeHolman commented on #383
This doesn't look like a Chakra issue. Almost 60% of main thread time is spent in DOM handling text replacement:
![image](https://cloud.githubusercontent.com/assets/4925255/13590366/212be9d2-e494-11e5-90be-0f894102f804.png)

Correct location to report Edge bugs is https://connect.microsoft.com/IE.

[2016-03-08 02:54] #383 closed

[2016-03-08 04:26] digitalinfinity commented on #383
Bringing to the attention of @digitec so he can chime in if this is known.

[2016-03-08 17:56] nicolo-ribaudo commented on #24
Isn't this issue fixed by 81356aaec1f268d4b2ca51d1c12fbc8799db9bf6?

[2016-03-08 18:06] abchatra commented on #24
Yes, fixed by #427

[2016-03-08 18:06] #24 closed

[2016-03-08 20:51] dilijev opened #484 "Add check for case conflation in directories or files"
To catch situations where files are introduced where some portion of the path differs only in casing under e.g. both `Lib` and `lib` directories, or files which have the same name except casing being introduced under Linux (non-case-sensitive file system), which can cause problems in case-insensitive file systems like on Windows.

Pseudocode:

[code]

[2016-03-08 23:42] Cellule commented on #440
@MikeHolman @commonlisp
Could you guys comment here to update what you are working on.
I am working on updating instantiateModule to use TypedArray instead of ArrayBuffer

[2016-03-08 23:50] MikeHolman commented on #440
Right now working on fixing up parsing function bodies, currently parsing of br_table. There were some discrepancies between our implementation and the spec. should be able to have pr out soon.

[2016-03-08 23:51] Cellule commented on #440
PR #486 makes the change to the instantiateModule method

[2016-03-09 00:01] Cellule commented on #440
I will do the `Memory in exports object` item

[2016-03-09 00:20] Cellule commented on #440
I will look into the Export Table

[2016-03-09 01:15] commonlisp commented on #440
Modules return an exports (#452) is merged. Both LEB128 items and part of split functions section (Names Section remaining but do we need it?) are merged #477. PR #487 for decoding import table. Exports namespace merged.

[2016-03-09 01:16] commonlisp commented on #440
Heh, I had memory in exports object before but then I rolled it back since it wasn't specified. Guess we'll go back to that.

[2016-03-09 01:27] Cellule commented on #440
Well apparently @MikeHolman already added the memory to the exports object

[2016-03-09 13:55] zbitname opened #494 "Do you have plan to support native (or without transpiling) TypeScript in ChakraCore?"

[2016-03-09 13:56] anthrax63 commented on #494
+1It would be great

[2016-03-09 17:01] yuhong commented on #359
What about things like security updates?

[2016-03-09 17:50] huodon commented on #494
+1
We need full native TypeScript supported dev platform alter node.

[2016-03-09 17:52] bterlson commented on #494
There are no plans. You can read about our plans on the [roadmap](https://github.com/Microsoft/ChakraCore/wiki/Roadmap). Thanks!

[2016-03-09 17:52] #494 closed

[2016-03-09 18:59] dilijev opened #496 "Augment EOL Check to catch missing newline at EOF"

[2016-03-09 19:37] Cellule commented on #440
I will look into the Indirect function calls

[2016-03-09 20:15] #166 closed

[2016-03-10 00:48] jianchun opened #504 "JSRT: JsDeleteIndexedProperty does not tell successful or not"
```JsDeleteIndexedProperty``` API does not tell if the deletion is successful or not, unlike ```JsDeleteProperty``` which returns that info in "result". The former also misses "useStrictRules" flag which exists in the later.

[code]

These 2 APIs should be comparable and consistent.

[2016-03-10 01:34] akroshg opened #505 "Use before declaration error has wrong line number."
[code]
Emits
[code]
The line number should be 3.
`EmitUseBeforeDeclaration `does not have enclosing `Start/End Statement`.

[2016-03-10 02:09] ianwjhalliday opened #507 "`await` incorrectly disallowed as identifier in strict mode"
[code]

throws a SyntaxError.

`await` is being treated as a FutureReservedWord in all scripts, like `yield`, meaning it is disallowed in strict mode.  However, the ES6 spec states that `await` is only treated this way for module scripts.

[2016-03-10 02:28] ianwjhalliday commented on #505
This is a symptom of the use before declaration check occurring at the beginning of `Emit()` in `ByteCodeEmitter.cpp`, before individual nodes are processed and their corresponding start/end statement calls made.

I would like to move the use before declaration check into those individual cases for this reason and a few other reasons.  This issue should be fixed when I do that.

[2016-03-10 03:17] #147 closed

[2016-03-10 03:17] #472 closed

[2016-03-10 03:18] #507 closed

[2016-03-10 03:47] ianwjhalliday opened #510 "yield* does not forward .next() argument to iterable's .next() call"
[code]

From VSO bug [6790309](https://microsoft.visualstudio.com/web/wi.aspx?pcguid=cb55739e-4afe-46a3-970f-1b49d8ee7564&id=6790309)

This bug repros for any iterable passed to yield*.

[2016-03-10 03:59] ianwjhalliday commented on #139
Reviewing `EmitYieldStar` I see that we simply do not look for nor call `return` on the iterator operand.  We call `next` always, regardless of the way the generator was called into.  So same problem for `throw`.

This is related to #137 and #510

[2016-03-10 04:37] commonlisp commented on #440
Inline data segments is done. Signed LEB128 for i32.const and i64.const is done.

[2016-03-10 18:27] commonlisp commented on #440
Actually, it seems that we don't have i64.const at all right now, so signed LEB128 is only for i32.const though it is ready for i64.const. Was the i64 register implementation resolved?

[2016-03-10 18:37] Cellule commented on #440
@commonlisp we don't have an implementation for i64 in the backend now. We don't need it in the near future however. I'll mark this work item as closed and we'll probably have a bigger work item for int 64 in the future

[2016-03-10 19:58] goyakin opened #517 "[RegExp] case-insensitive matching misses characters"
When we generate the character casing equivalence sets for RegExp using [UnicodeData.txt](http://ftp.unicode.org/Public/UNIDATA/UnicodeData.txt), we start from lowercase letters and then add the characters that they map to. However, this misses non-letter characters. For example, '\u0345', which is in the "Mn" (Mark, Nonspacing) category, should match '\u0399' when the case-insensitive flag is pas

[2016-03-10 20:02] goyakin opened #518 "Exceptions for RegExp in Annex B of the ES2015 spec shouldn't be applied when the "unicode" flag is present"
Annex B.1.4 contains exceptions that allow web browsers to diverge from the normal RegExp grammar. These exceptions aren't allowed when the "unicode" flag is present, but our current implementation doesn't take this into account.

There are many exceptions, but a few examples would be:

  * PatternCharacter: {
  * CharacterClassEscape: [\d-a]
  * DecimalEscape: \3 when the number of capturing pare

[2016-03-10 21:11] commonlisp commented on #440
I'll work on testing and Names section unless there is something more pressing.

[2016-03-10 21:21] nicolo-ribaudo commented on #510
Can I work on this issue?

[2016-03-10 21:36] ianwjhalliday commented on #510
Sure!  This looks like a bytecode issue so I suggest running the repro with `ch.exe -dump:bytecode` and taking a moment to take all the bytecode in.  `EmitYieldStar(...)` in `ByteCodeEmitter.cpp` is where you'll find the code that emits the bytecode for `yield*`.

I didn't look too closely at it but it seemed it is overwriting the next argument at the top of the loop with undefined always and/or i

[2016-03-10 22:13] ianwjhalliday commented on #510
You might while looking at this also see a solution to #265.  If you do please feel free to tackle that one as well.

[2016-03-10 22:18] abchatra commented on #421
Does this has potential to break websites?

[2016-03-10 22:18] nicolo-ribaudo commented on #510
I just opened the pr - #525

The problem was exactly this :+1:

I'll comment on the issue in few minutes if I can fix it.

[2016-03-10 22:20] agarwal-sandeep commented on #470
Closing issue as fixed by commit 1da8b0b8d62f9820ffbc88de759b401a0f572b5f

[2016-03-10 22:20] #470 closed

[2016-03-10 22:22] abchatra commented on #378
@suwc  can you verify this is fixed and close the issue?

[2016-03-10 22:29] abchatra commented on #23
Fixed by #400

[2016-03-10 22:29] #23 closed

[2016-03-10 22:37] goyakin commented on #421
@abchatra We never supported such mappings, so this isn't something new.

[2016-03-10 22:53] suwc commented on #378
Yes, this has been fixed in our current ChakraCore master branch and should be included in the next release.

[2016-03-10 22:53] #378 closed

[2016-03-10 23:16] ianwjhalliday commented on #36
@dilijev I can help you with this Tuesday next week

[2016-03-10 23:37] #510 closed

[2016-03-10 23:42] jianchun opened #526 "JavascriptArray bugs in numeric propertyId handling"
There is an issue in multiple JavascriptArray methods when handling numeric propertyId. Needs a thorough review of JavascriptArray/ES5Array methods. We rarely hit these code paths because we usually call uint32 index methods. With JSRT, one can create a numeric propertyId and use it to access an array.

E.g., compare 2 methods:

[code]

`DeleteProperty` is missing numeric propertyId handling avail

[2016-03-10 23:43] ianwjhalliday commented on #510
Thanks for knocking this one off so quickly, @nicolo-ribaudo

[2016-03-11 00:02] dilijev commented on #36
@ianwjhalliday Thanks, sounds good.

[2016-03-11 00:25] #263 closed

[2016-03-11 01:05] dilijev opened #528 "[Test failure] [Daily] [dev12] Legacy build fails unit tests"
Since the same issues have been there for a while I wanted to open an issue to track.

@nmostafa is investigating and can potentially provide more info on the investigation in this issue.

When these breaks are resolved we can move forward with #330.

See: https://github.com/Microsoft/ChakraCore/wiki/Build-Status#legacy-builds

[2016-03-11 01:06] dilijev commented on #528
@abchatra I don't know whether this should be assigned the 1.2 milestone but @curtisman approves of getting these fixes into master whenever they are available.

[2016-03-11 01:28] nmostafa commented on #528
@leirocks is looking into testSimdLink-2.js failures. Recently merged #444 should fix the rest.

[2016-03-11 01:33] dilijev opened #529 "CI: Follow-up #48: Remove defunct stubbed jenkins scripts from root directory"
Follow-up #48
Depends on #512

After #512 is merged in, the stubbed-out scripts in the root directory will not be needed anymore for CI checks to pass. They can (and should) be safely deleted.

[2016-03-11 02:01] ianwjhalliday commented on #48
The redirection stub scripts are still in the root directory.  This will be fixed by #531.

[2016-03-11 02:14] dilijev commented on #528
@nmostafa Is anyone looking into the PreFAST failures?

[2016-03-11 06:51] #48 closed

[2016-03-11 06:51] #529 closed

[2016-03-11 07:48] ianwjhalliday commented on #526
To me this suggests that we are lacking thorough test coverage of the JavascriptArray APIs.  If there are numerous instances of this problem _at a glance_, then we should write a thorough test suite to hit all the APIs in the numeric property cases to flush out as much of these problems as possible, and ensure we do not regress them in future.

[2016-03-11 18:11] nmostafa commented on #528
Are you referring to this:
`e:\chakra5\core\lib\runtime\language\dynamicprofileinfo.cpp(214): warning C6011: Dereferencing NULL pointer 'functionBody'.  [e:\nagy\git\chakra5\core\lib\Runtime\Language\Chakra.Runtime.Language.vcxproj]`

We are not looking into this. Not related to SIMD.js

[2016-03-11 18:24] jianchun commented on #526
Related issue is that we are lacking JSRT API test coverage. One reason is the tests were in native code (TE) and hard/verbose to author, so we have little coverage of API/runtime combinations.

[2016-03-11 18:57] abchatra commented on #137
This is failing a kangax test case as well.
[code]

[2016-03-11 18:58] dilijev commented on #528
Okay.

Full list of PreFAST warnings for reference:

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_release/51/consoleFull#1026559514ac1851af-571d-472f-b664-6657b078a5dd

[code]

[2016-03-11 19:00] abchatra commented on #274
@Yongqu
This is failing following ESNext kangax test case as well

[code]
Expected: true
Actual:Exception.

[2016-03-11 19:10] abchatra opened #535 "Proxy traps not triggered for __lookupGetter and __lookupSetter_"
Expected true from both the following test cases. Actual: false
This is a kangax test case

[code]
[code]

[2016-03-11 19:30] abchatra opened #538 "Symbol.species does not work with Promise.prototype.then"
See the following kangax test case

[code]
Expected: true
Actual: false

[2016-03-11 19:35] abchatra opened #539 "Incorrect name for class function member"
See the following kangax test case
[code]
Expected: foo
Actual: prototype.foo

[2016-03-11 21:02] commonlisp commented on #440
I have the Names Section ready but will defer the PR until after things settle.

[2016-03-11 23:02] boingoing commented on #435
Fixed by #540

[2016-03-11 23:02] #435 closed

[2016-03-11 23:27] dilijev commented on #528
I'm looking into the PreFAST errors.

[2016-03-11 23:54] liminzhu commented on #504
Interesting....Before we change the API shape, does the JsErrorCode returned show any indication of successful/failed deletion?

[2016-03-12 00:21] jianchun commented on #504
No.

I thought we couldn't change API shape due to compat requirement?

[2016-03-12 01:11] suwc opened #548 "Assertion: default parameter with class expression"
`function foo(a=class { }) { }`

Expected: no error

Actual:

`ASSERTION 17108: (E:\core\lib\Runtime\ByteCode\FuncInfo.cpp, line 453) childScope == scope->GetEnclosingScope()`
`Failure: (childScope == scope->GetEnclosingScope())`
`FATAL ERROR: ch.exe failed due to exception code c0000420`

[2016-03-12 14:37] EdMaurer commented on #134
Hi @frabert, is there more to add to this issue? If not, I'd like to close it.

[2016-03-12 14:40] EdMaurer commented on #160
@tfarina, if there's nothing more to add to this issue, then I'd like to close it.

Ed

[2016-03-12 14:51] EdMaurer commented on #179
Let's only add these APIs if there is a consumer. At present, I don't see a need.

[2016-03-12 14:51] #179 closed

[2016-03-12 15:52] suwc commented on #548
https://github.com/Microsoft/ChakraCore/pull/552

[2016-03-13 03:16] dilijev opened #553 "[Test failure] [Daily] [dev12] Legacy build PreFAST errors"
Branched from issue #528

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/daily_dev12_x64_release/51/consoleFull#1026559514ac1851af-571d-472f-b664-6657b078a5dd

[code]

[2016-03-13 03:16] dilijev commented on #528
I split off the PreFast errors issue to #553

[2016-03-13 10:35] frabert commented on #134
Yes, I will continue the discussion on the linked issue. This can be closed.

[2016-03-13 10:35] #134 closed

[2016-03-13 14:50] tfarina commented on #160
Do whatever you think it is best for the project. I don't anything to add here.

I will just look foward to see how this is going to work on Linux.

[2016-03-14 01:57] Cellule opened #555 "Wasm i32.trunc_u/f32 invalid in jit"
The current IR for i32.trunc_u/f32 is
`s20[CanBeTaggedValue_IntAndLikelyUntagged].u32 = Conv_Prim  s26[CanBeTaggedValue_Float].f32 #0003`
However, `Conv_Prim` is invalid with a `uint32`

[2016-03-14 02:12] EdMaurer opened #556 "The ChakraCore Team Is Hiring"
If you're looking at issues in this repo then you might be a candidate to work for Microsoft on ChakraCore. We're looking for code-generation and VM enthusiasts. Holler at me EdMaurer AT microsoft.com

[2016-03-14 17:39] bterlson commented on #556
With so many issues this will get lost in the noise and be annoying to have open all the time. Perhaps we should have a link to our open positions in the readme?

[2016-03-14 17:55] suwc commented on #299
Pull request
https://github.com/Microsoft/ChakraCore/pull/557

[2016-03-14 17:55] suwc commented on #355
Pull request
https://github.com/Microsoft/ChakraCore/pull/557

[2016-03-14 18:21] liminzhu commented on #556
+1 on adding it to readme.

[2016-03-14 20:27] nmostafa opened #560 "Asm.js tests failing link-time validation crash"
Observable only with ch.exe using Dev'12.
[code]

1. When calling the AsmJsModule function, the call-logic invokes EnsureDynamicProfileInfo on the function body. This is before ProcessAsmJsModule gets called. This adds a profile to profileInfoList in the ScriptContext.

2. In ProcessAsmJsModule, link fails and we call ReparseAsmJsModule, which generates a new dynamicProfile and attach it to the fu

[2016-03-14 21:08] commonlisp commented on #440
Names Section is in PR #562 which implements the current design. If and when design PR #596 is accepted, we can revise.

[2016-03-14 21:51] liminzhu commented on #504
Right. Any proposal on how to fix it?

[2016-03-14 23:27] jianchun opened #564 "function.name not used in stack trace"
[code]

Edge output:

[code]

Expected:

[code]

[2016-03-15 18:14] Cellule opened #568 "WebAssembly cleanup"
Now that pre-v1.0 is completed (#440)
There are some items that needs to be fixed before we move on.
The purpose of this issue is to keep track of things we know about and intend to change.

- [x] : Break `ScripContext::LoadWasmScript()` into smaller functions
- [x] : Check if default export should be supported by spec
- [ ] : Allow `-off:jitloopbody` for wasm functions (currently causes crash in