[2016-11-23 21:39] liminzhu commented on #1033
@mortenab You still have a native stack reference to the JavaScriptValue s.t. GC won't collect the object.

[2016-11-24 03:35] bjconlan commented on #1616
Oh absolutely I'd love to help test these changes (unfortunately I can only help on the linux/ubuntu front at this time). Will respond with any feedback over the next day or so.

[2016-11-24 10:30] mortenab commented on #1033
@liminzhu thanks for the reply.

So I guess the .NET stack is seen as part of the native stack?

If I for example implemented the function call in this way:
[code]
I would not need to call `AddRef` on the `jsStr`, since it is on the stack?

Thanks,

Morten

[2016-11-24 15:18] cumakeen commented on #2058
@obastemur I also confirm debugger works on linux now. Thanks

[2016-11-24 22:43] fantaclaus opened #2092 "Isolation of Execution Contexts"
I've executed the following code both with JSRT Legacy (jscript9.dll) and with the release version 1.3.0 of ChakraCore and have received very different results.

In case of version 1.3.0 the code has successfully completed.

In case of JSRT Legacy the code has thrown an exception of type `JavaScriptUsageException` with a message "Invalid argument." on the invocation of `obj.GetProperty`.

[code]

[2016-11-27 04:34] matthargett opened #2096 "neither master nor release/2.0-pre build with VS2017 RC"
Both the in-solution build in react-native-windows and from the Developer Command Prompt for VS2017 RC, I get this message:

1>       "C:\Users\matt.hargett\Source\Repos\rnw-mh\ChakraCore\Build\Chakra.Core.sln" (Core\Bin\ChakraCore target) (1) ->
1>       "C:\Users\matt.hargett\Source\Repos\rnw-mh\ChakraCore\Build\..\bin\ChakraCore\ChakraCore.vcxproj.metaproj" (default target) (2) ->
1>       "C:\

[2016-11-27 22:09] darfink commented on #2092
I also stumbled upon this behaviour just now, and I am eager to know what is exactly isolated between different contexts.

[2016-11-28 17:47] liminzhu commented on #1033
No you're fine as long as the object is still on the C# stack.

[2016-11-28 17:53] liminzhu commented on #2072
Hi @FettLuo. A GC call is asynchronous, which is probably why you're not seeing the finalizer being called right away. There is no guarantee on when a GC call would finish. Also, GC can only happen during scripting so you can try running some random scripts a few times and see if the disposable object you created in the first place is being collected.

[2016-11-28 18:20] xanlpz commented on #2009
The bit that could be somehow compiler dependent in that code snippet is the call to __register_frame actually. I think on Linux you are just supposed to call the glibc implementation, but perhaps there is some difference in how this is handled between clang 3.8 and 3.9 and we end up doing something subtly different.

[2016-11-28 19:06] mortenab commented on #1033
@liminzhu thanks for the clarification. I have created another issue in the samples repo: https://github.com/Microsoft/Chakra-Samples/issues/49
You are welcome to close that issue.

[2016-11-28 20:21] Cellule opened #2101 "WASM - exported function properties"
Exported Functions also have the following data properties: the length property is set to the exported function's signature's arity
the name is set to index as a Number value

[2016-11-28 23:20] #1991 closed

[2016-11-29 01:31] FettLuo commented on #2072
@liminzhu  谢谢，thank you

[2016-11-29 01:31] #2072 closed

[2016-11-29 17:50] arunetm commented on #2049
This problem change the bits for the nan's when some are stored and read back. not a problem for js as the read back value is still a nan. wasm nan's has a more stricter layout than js nan's making this a problem for wasm.
Would it make sense to canonicalize wasm nan's? or should we fix the above issue with FloatConstOpnd?
@Cellule @MikeHolman

[2016-11-29 19:18] obastemur commented on #2049
I had spent some time on this. Actually we may even have a workaround PR fixing an issue on xplat. The bigger problem here is that nan is not a single signed/non-signed value. However internally we convert any `nan` value to a single representation and the rest of the solution behaves based on that constant.

[2016-11-29 19:31] ThomsonTan commented on #2049
Probably we need some special check before converting `FloatConstantOpnd` to float32 NaN?

[2016-11-29 19:32] Oceanswave opened #2112 "xplat: Missing ES6 Module functionality in Linux and macOS"
I'm using the master branch + PR #2056,  latest of a few moments ago.

The following methods seem to be missing from both 'nix and macOS:

 - JsInitializeModuleRecord
 - JsSetModuleHostInfo
 - JsParseModuleSource
 - JsModuleEvaluation

The following tests are passing in windows, but failing on ubuntu/osx CI builds:

Windows (Passing):
https://ci.appveyor.com/project/Oceanswave/baristacore/build/1.

[2016-11-29 19:47] Cellule commented on #2048
@arun-etm For some reason I can't assign this to you, but I'll keep track that you are working on it

[2016-11-29 20:05] arunetm commented on #2048
Thanks. :)
The handle "@arunetm" should work as that is the one that I actively use for PR's.

[2016-11-29 20:08] Cellule commented on #2048
It works for mentions, but it doesn't show in my list to assign... Seems like a GitHub bug

[2016-11-29 23:12] liminzhu commented on #2112
Hey @Oceanswave . The module functionalities are experimental and Windows-only as you've noticed. We are waiting for the nodejs module story to crystalize and that may lead to some changes to our module interface.

[2016-11-30 00:30] ljharb commented on #1658
Ping! This would be great to get implemented ASAP.

[2016-11-30 00:33] Oceanswave commented on #2112
Thanks for the clarification @liminzhu. Looking forward to seeing module functionality solidify.

[2016-11-30 01:05] ianwjhalliday opened #2119 "Remove parser allowance of parenthesized label names"
The parser for legacy reasons allows parenthesized label names.  ECMA262 spec doesn't allow this in the grammar nor in Annex B.  Likewise, Chrome and many other JavaScript parsers do not recognize it.

This appears to be an old IE specific behavior, and changing it in Chakra is highly unlikely to break the web.  Could have potentially have impact on WWAs.  Therefore fix post 2.0.

E.g.

[code]

Th

[2016-11-30 03:35] dilijev opened #2120 "[RegExp] Remove U+180E MONGOLIAN VOWEL SEPARATOR from Whitespace classification."
This character was recategorized from Zs to Cf in Unicode 6.3, and remains categorized as such in Unicode 9.0 (current target version). The current version of ECMAScript requires that only characters classed as Zs in the target version of Unicode be recognized as Whitespace. This change is now reflected in Test262 so making this change will improve our Test262 score rather than regress it.

See: h

[2016-11-30 11:22] kphillisjr commented on #1811
I submitted a pull request that provides a highly usable fix for this bug under #2124. The only dependency is that pull request #2111 be applied first. The reason for this is that I have already patched the ChakraCore samples to take advantage of pull request #2111, and these samples require pull request #2124 to run properly. The changes for the ChakraCore Samples are located at [GitHub: kphillis

[2016-11-30 12:56] kphillisjr commented on #1616
I added a different approach to fix the issue that is more likely to get accepted. The new approach is in pull request #2111. To use this approach you would have the following as a cmake example.

[code]

I forgot to mention this, but I have not completed support for the static library yet. The current approach for this is to link against what is shown in the [Microsoft/Chakra-Samples: ChakraCore

[2016-11-30 17:59] meg-gupta opened #2125 "Wasm: Inconsistent representation of signalling NaNs in x86 test"
The C++ compiler in x86 generates fstp instruction for float return values. This instruction changes the bit pattern of signaling float NaN (For example: from 0x7f80f1e2 to 0x7fc0f1e2). This is problematic in Wasm, as it relies on NaN bit patterns. In x86 debug all signaling NaNs will be canonicalized and we see uniform behavior. In x86 test however, due to optimizations, fstp instruction can get

[2016-11-30 20:01] #1671 closed

[2016-11-30 20:13] Penguinwizzard commented on #1832
Fix is in PR https://github.com/Microsoft/ChakraCore/pull/2117

[2016-11-30 22:41] Penguinwizzard commented on #1832
Fix merged in with https://github.com/Microsoft/ChakraCore/commit/972b43a8bbcc26ab81d666d498370d65fe2e4675

[2016-11-30 22:41] #1832 closed

[2016-12-02 00:40] obastemur opened #2135 "SlowTest-Fail: typedarray/samethread.js fails after #2016"
New xplat CI found that `test/typedarray/samethread.js` fails after #2016 is being merged.

Repro: (on any distro or osx)

- Build [test-build]
- `test/runtests.py -t --include-slow test/typedarray`

Assigning this to @ianwjhalliday as [#2016] PR is the reason.

[2016-12-04 01:35] DemiMarie opened #2139 "Feature request: Expose ChakraCore machine code allocator via JSRT"
As a JIT, ChakraCore has its own allocator for executable machine code.  This is a feature request to expose this to embedders.

[2016-12-04 06:01] kphillisjr commented on #1616
I'm currently in the process of makeing a single static library on xplat for ChakraCore called ChakraCoreStatic. This simply makes it to where you link to libChakraCoreStatic.a instead of having to link to libChakra.Pal.a, libChakra.Common.Core.a, and libChakra.Jsrt.a to get all of the ChakraCore symbols.

Also as a quick note on this, I put this change as pull request #2138.

[2016-12-04 19:30] kphillisjr commented on #1616
@bjconlan - I finished merging all of the static libraries into a single library. With the latest commit in pull #2138 libChakraCoreStatic contains almost all relevant symbols. The only external dependencies are primarily libUUID, ICU libraries, and libunwind.

[2016-12-05 00:10] bjconlan commented on #1616
Great! Thanks for the heads up @kphillisjr. I'll give this a quick whirl today. (And thanks for the cmake snippet).

[2016-12-05 06:46] kphillisjr commented on #1616
I forgot to mention that the completion of this bug report ( except for fixing windows support ) is driven by 3 different pull requests. #2138, #2124 ( only needs these two commits... 68beb62a605efe253e23794da1d145a2e758d18c and 7d49290aa8f83bad4437f08dceaac37bdb1a327d), and #2129. The Headers patch just needs to have the ChakraCoreHeaders target added as a dependency to the ChakraCoreStatic targe

[2016-12-05 15:00] SBuder opened #2141 "Syntax Error on Ubuntu v. 16 (ChakraCore v. 1.3.1)"
When executing JS script on Linux we get an error saying "SyntaxError: Invalid character"

Script|Succeeds|comment
---|---|---
$global.data[1];|false|Seems to fail due to semicolon|
$global.data[1]|true|Succeeds without semicolon|
function foo(){ var a = [true,false]; return a; } |true|
function foo(){ var a = [1,2]; return a; }|true|This works, but when it comes to an objects array it again raise

[2016-12-05 21:10] Cellule opened #2142 "WASM - Spec tests with nonative"
Add a test run with -nonative on wasm spec tests

[2016-12-05 22:42] #2142 closed

[2016-12-05 22:44] bjconlan commented on #1616
Hey @kphillisjr, I gave this a whirl and works as advertised! I'm getting all the ch.dir failures on the static build but it doesn't concern the outcome. (and I'm sure its probably because I've just done as advertised with regards to just taking the `xplat_static_lib_improvement_v3` branch and applying https://github.com/Microsoft/ChakraCore/commit/68beb62a605efe253e23794da1d145a2e758d18c to it.

[2016-12-05 22:54] kphillisjr commented on #1616
@bjconlan, The build errors are due to the lack of integration between the three pull requests. I plan on fixing all of these once the largest of the three is integrated ( #2138). If ya find this good, by all means post a comment on the pull request so that @obastemur can see it.

[2016-12-05 23:56] Cellule commented on #2048
This is correctly found invalid, deferred parsing was the source of the confusion on this one.

[2016-12-05 23:56] #2048 closed

[2016-12-06 00:04] arunetm commented on #2048
Also, we correctly return "false" for WebAssembly.validate and a validation error will be thrown if the function is called into.

[2016-12-06 00:53] Cellule opened #2145 "WASM - f64.mul/div interpreter precision on x86"
The compiler we use in ChakraFull doesn't generate the same thing for mul/div with doubles as it does for ch.exe
The instruction set generated is
[code]

The instructions we should use are
[code]

After fixing this, need to re-enable tests
test\WasmSpec\testsuite\float_misc.wast:313-317,404-409

[2016-12-06 04:03] obastemur commented on #1918
We've been discussing this internally. We decided to use `char` type and drop `Utf8` from names.

[2016-12-06 04:07] obastemur commented on #2141
@SBuder I suspect a problem with measuring the string length. If you could share some part of your code, that could help us to identify.

[2016-12-06 07:55] SBuder commented on #2141
[code]
We use this method of the native library, by calling it like this:

[code]

[2016-12-06 15:24] SBuder commented on #2141
I was able to solve this issue by terminating the string / UTF8 bytes explicitly with a 0

So something like:

[code]

Would work.

[2016-12-06 15:24] #2141 closed

[2016-12-06 18:51] liminzhu commented on #2112
Np.

Close as the issue is answered.

[2016-12-06 20:23] Oceanswave commented on #2112
Although there's an apparent dependency on the V8 implementation, I wouldn't quite say resolved as it would still be a plus to be able to have this functionality on xplat albeit experimental. It would be great if progress could be tracked - somewhat like the V8 tracking bug on ES6 modules here https://bugs.chromium.org/p/v8/issues/detail?id=1569

[2016-12-06 22:04] liminzhu commented on #2112
@Oceanswave sure I can leave this open and update progress in the future.

[2016-12-06 23:05] liminzhu commented on #2139
@DemiMarie can you tell us a bit more on why you need this feature?

[2016-12-06 23:28] aneeshdk commented on #1679
Sorry I didn't quite understand the question. Can you please clarify which test are you specifically asking about?

[2016-12-07 00:51] #2120 closed

[2016-12-07 03:21] Penguinwizzard opened #2159 "Fix tests/typedarray/samethread.baseline"
Due to the difference in argument permissibility for TypedArray constructors now, the baseline for this test no longer matches up with the output generated by running the test. I believe that the new output is correct, but assigning to Ian because he knows this change better.

[2016-12-07 03:29] dilijev opened #2160 "Add tests (here or in Chakra-Samples) to ensure ChakraCore Samples don't break."
Previously it has been noted by some members of the community that [ChakraCore Samples in the Chakra-Samples project](https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples) have not worked with the current ChakraCore master. These could be temporary regressions but they are not tracked by any automation or with any visible build badges, so it is not possible for the communit

[2016-12-07 04:01] dilijev opened #2161 "Update usage of JsTTDGetSnapTimeTopLevelEventMove in xplat branch"
As mentioned in https://github.com/Microsoft/ChakraCore/pull/2001#issuecomment-263711770

/cc @jianchun @mrkmarron

[2016-12-07 06:21] obastemur commented on #2160
1 - We weren't testing native tests before. Added them after the first wave of `sample break` reports.

2 - We had updated most JSRT.. Between merge here and updating the samples there, small delay and expected break.

Repeat: We have native tests on this very repository now. Those tests use the same code and compile script as we have on ChakraSamples repository. What else do we want here?

[2016-12-07 06:27] dilijev commented on #2160
@obastemur - I guess I didn't realize that they were exactly the same code. Is the plan to always keep them in sync? Is all the sample code represented in our unit tests?

From a community perspective, a badge showing the build is good and the automation scripts seems like they would still be nice.

But anyway it sounds like we're pretty much covered. I didn't understand the full scope of the nati

[2016-12-07 19:49] Cellule commented on #1883
Fixed by #2116

[2016-12-07 19:49] #1883 closed

[2016-12-07 20:33] Penguinwizzard opened #2163 "Legacy builds failing on illegal sizeof"
Legacy builds are failing with the following error:

D:\j\workspace\daily_dev12_x---55cdd258\lib\Runtime\Library\WebAssemblyTable.cpp(124): error C2070: 'unknown': illegal sizeof operand [D:\j\workspace\daily_dev12_x---55cdd258\lib\Runtime\Library\Chakra.Runtime.Library.vcxproj]

Assigning as per last person to change the line, but PRs welcome.

[2016-12-08 02:08] Cellule opened #2167 "WASM - StackOverflow error as WebAssembly.RuntimeError"
Are stack overflow exception supposed to throw WebAssembly.RuntimeError if they happen on a webassembly frame?

[2016-12-08 02:41] dilijev commented on #2096
(Added to the Cross-platform milestone because that's the next milestone for the master branch.)

Note: release/2.0-pre branch and master will likely be merged at some point in this future.

[2016-12-08 18:25] kphillisjr commented on #1616
@bjconlan, I went ahead and applied all required changes for this issue on the branch [kphillisjr/ChakraCore at xplat_improvements_for_v2](https://github.com/kphillisjr/ChakraCore/tree/xplat_improvements_for_v2).

Just as a quick note, the headers are in the Cmake binary directory under the path ```"${CMAKE_BINARY_DIR}/include"``` with this branch, and I have updated the task listing.

[2016-12-09 20:10] Cellule commented on #1678
+1 to get updates on the issue

[2016-12-09 20:49] arunetm commented on #2167
As per the current spec, stack overflow within Wasm frame is a WebAssembly.RuntimeError.
(https://github.com/WebAssembly/design/blob/master/Semantics.md#traps &https://github.com/WebAssembly/design/blob/master/JS.md#traps)

However there is an ongoing discussion that leans towards leaving the wasm stackoverflow handling to be non-deterministic in spec and consistent with the Js stack overflow hand

[2016-12-09 20:56] dilijev commented on #1678
I think @mmitche's mitigation has mostly prevented us from seeing this issue (unless you happen to see it right before it retries. Since this is not a ChakraCore issue and @mmitche probably has it tracked on his end, maybe we should close this issue?

@mmitche is there a public issue open on your end we could track for updates?

[2016-12-09 21:35] Cellule commented on #2167
Thanks a lot @arunetm for your research.
We'll keep an eye out on the issue and it looks like the current consensus is leaning toward not making stack overflow a trap which would make thing much simpler for us.

[2016-12-09 23:33] dilijev opened #2183 "[x64 release] bin\ch\hostconfigflags.cpp(99): warning C6385: Reading invalid data from 'argv'"
`bin\ch\hostconfigflags.cpp(99): warning C6385: Reading invalid data from 'argv':  the readable size is 'argc*8' bytes, but '24' bytes may be read.`

git blame shows this was introduced a few months ago:

[code]

Discovered when running code analysis on x64_debug build by following [these steps](https://github.com/Microsoft/ChakraCore/wiki/Jenkins-Repro-Steps#windows-release-builds).

Repros in x6

[2016-12-09 23:37] dilijev commented on #2163
Duplicate of #2026.
Fixed by #1990, which revealed other issues and therefore hasn't been merged yet.

[2016-12-09 23:37] #2163 closed

[2016-12-12 02:35] kphillisjr opened #2186 "Simplify C/C++ Module Creation"
This may not be the same Module API as what is currently available, but I figured most users would like a straight forward method to register custom Modules using the current strings api. For the most part the custom modules should automatically get cleaned out by garbage collection, and are straight forward on usage. This is a slight variation on issue #2112, but has a different approach and is m

[2016-12-12 11:00] bjconlan commented on #1616
Thanks again @kphillisjr  (pardon the delay). I'll be sure to comment on the pull request also.

[2016-12-12 22:15] Cellule opened #2193 "WASM - global mutable value"
When reading mutable value for globals `bool isMutable = ReadConst<UINT8>() == 1;`, we have to explicitly check for value 0 or 1 and throw if anything else

[2016-12-12 22:54] dilijev opened #2194 "[Legacy] Missing type"
After #1990 fixed #2026, another unrelated issue was revealed. It would be helpful to coordinate with @MikeHolman re #1990 to make sure both issues are fixed.

See logs from the errored tests under #1990. Error copied below:

[code]

[2016-12-13 07:10] kphillisjr commented on #1616
@bjconlan -  I got the static library ChakraCoreStatic building on Windows and placed the changes for this on [kphillisjr/ChakraCore at xplat_improvements_for_v3](https://github.com/kphillisjr/ChakraCore/tree/xplat_improvements_for_v3). For the most part this library on windows is straight forward to use seeing as how I was able to get the OSX/Linux hello world example working on windows with only

[2016-12-13 22:24] #2145 closed

[2016-12-14 05:30] obastemur commented on #2079
This is already implemented. closing

[2016-12-14 05:30] #2079 closed

[2016-12-15 17:25] Oceanswave commented on #2058
Given that #2070 changed a few method signatures, it would be great if PR #2056 could be rebased  with latest so that downstream usages on Windows (latest) and non-windows (PR #2056) can maintain the calling mechanisms. Thanks!

[2016-12-15 21:05] johndugan opened #2212 "JavaScript Bug When Referencing Variable Storing Attribute Selector String"
I have an attribute selector stored as a string. I pass it as an argument to `querySelectorAll` as in the code below. An error is thrown. See screenshot.

[code]

![2016-12-15_1](https://cloud.githubusercontent.com/assets/1389303/21241851/3d128878-c2d7-11e6-88a0-7ea11a003259.png)

[2016-12-15 22:53] dilijev opened #2213 "pogo_training.ps1 using `-oopjit-` flag breaks POGO training for ChakraCore release builds"
In ChakraFull we POGO Test builds (rather than Release builds) because we need performance-optimized Test builds for testing purposes. The pogo_training.ps1 script is used to do the POGO training in ChakraFull as well. In the case of ChakraFull, extra parameters like `-oopjit-` work just fine.

We had not yet noticed the ChakraCore problem because we have not yet made a release of ChakraCore since

[2016-12-15 23:02] dilijev commented on #2212
Hi @johndugan, thanks for bringing up this issue. This looks like a bug with the DOM API `querySelectorAll` in Edge. Please open this issue on the Edge issue tracker as described [here](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues).

[2016-12-15 23:06] dilijev commented on #2186
/cc @boingoing

[2016-12-15 23:08] dilijev commented on #2026
Fixed by #1990 and #2207

[2016-12-15 23:08] #2026 closed

[2016-12-15 23:08] dilijev commented on #2194
Fixed by #2207

[2016-12-15 23:08] #2194 closed

[2016-12-16 00:35] ThomsonTan commented on #2213
I am wondering whether OOP JIT is necessary for ChakraCore. I expect the typical scenario of ChakraCore doesn't care our OOP JIT like for TypeScript, so I suggest run ChakraCore PGO training with -oopjit-.

[2016-12-16 00:44] Cellule commented on #2213
Not only don't we care about oopjit on chakracore, but it is already turned off by default so this flag was already redondant

[2016-12-16 00:54] Cellule commented on #2167
The change was merged and it looks like we don't have anything to change

[2016-12-16 00:54] #2167 closed

[2016-12-16 01:06] dilijev commented on #2213
@ThomsonTan yes, in ChakraFull, OOP JIT is turned on by default so adding a flag to disable it was necessary. Since it was redundant in ChakraCore, whoever added the flag probably expected that using the flag wouldn't be a problem, except they didn't realize we POGO ChakraCore Release builds, rather than Test builds. In practice, it was a problem. Now the flag has been moved to ChakraFull POGO aut

[2016-12-16 01:15] #2213 closed

[2016-12-16 02:20] Penguinwizzard opened #2220 "WASM: Linux Support"
Linux support would allow us to use a wider variety of static and dynamic analysis tools on the WASM code.

[2016-12-16 02:21] Penguinwizzard commented on #1885
Dependency on #2220.

[2016-12-16 08:43] obastemur commented on #2135
@ianwjhalliday I have disabled this test temporarily on xplat slow tests. In order to reproduce the problem you might have to enable the test back -> https://github.com/Microsoft/ChakraCore/pull/2223/files

[2016-12-16 23:41] dilijev opened #2229 "Add one flavor each of Legacy and DisableJIT builds to PR checks to catch regressions"
It is often the case that regressions in daily configurations go unnoticed in PRs. I believe we can pick a representative sample of builds from other configurations which will catch issues without significantly bloating the number of checks we run per PR.

The extra checks we add will not be exhaustive because they won't cover all possible configurations, but the intent is to cover the ones that b

[2016-12-17 00:00] dilijev commented on #110
I'm assigning this to @RexSong to track it.

[2016-12-17 00:34] dilijev commented on #1918
Can we get this nailed down before the 1.4.0 release coming next week? If there's going to be an API change for 1.4, especially a potentially breaking change, I'd rather have this in by 1.4.0 rather than violating SemVer even further by adding it in a the patch update 1.4.1.

[2016-12-17 01:10] liminzhu commented on #1918
We've made the decision as @obastemur [said](https://github.com/Microsoft/ChakraCore/issues/1918#issuecomment-265054960). For the record, we've decided to,
* Use char instead of uint_8 for utf8 for user friendliness
* Drop ASCII based string interfaces and drop 'utf8' in utf8 string API names. For example, JsCreateString now wraps a utf8 string (instead of an ASCII string) as a JS string and we no

[2016-12-17 02:00] Cellule commented on #2135
Fixed in #2228
@obastemur Can you confirm this fixed the issue on xplat as well?

[2016-12-17 02:00] #2135 closed

[2016-12-17 02:40] #2159 closed

[2016-12-17 02:57] mavsic opened #2235 "`NavigatorLanguage.language` property reports format language instead of Windows display language"
**Steps to reproduce:**

1. Go to Settings > Time & Language > Region & Language > Additional date, time, & regional settings > Change date, time, or number formats.
2. Choose any format other than "Match Windows display language". In my case format is Russian (Russia), and my display language is English (United States).
3. Run [this demo](http://www.w3schools.com/jsref/tryit.asp?filename=tryjsref

[2016-12-17 03:00] mavsic commented on #2235
This repository might be a wrong place to report this issue. In that case I've also [opened a similar issue](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10254685/) in Microsoft Edge bug tracker.

[2016-12-17 03:15] dilijev commented on #2235
Thanks for filing that issue over on the Edge issue tracker. You're correct that this issue is external to ChakraCore. I'll tag and close this issue. We'll track the status of the Edge issue you opened.

[2016-12-17 03:15] #2235 closed

[2016-12-17 09:27] dilijev commented on #2083
I believe this is fixed by #2089. @ThomsonTan can you confirm and close this issue?

[2016-12-17 09:31] ThomsonTan commented on #2083
Yes, fix https://github.com/Microsoft/ChakraCore/pull/2089 had been fixed.

[2016-12-17 09:31] #2083 closed

[2016-12-18 04:02] nth10sd opened #2237 "Assertion failure: "Deferring function parsing of a function does not handle lambda syntax" with "use asm" and arrow function"
[code]

$ ~/chakracore/BuildLinux/Debug/ch 1case.js
ASSERTION 65750: (/home/skywinlinvm/chakracore/lib/Parser/Parse.cpp, line 5147) Deferring function parsing of a function does not handle lambda syntax
 Failure: (!fLambda)
Illegal instruction (core dumped)

$ file ~/chakracore/BuildLinux/Debug/ch
/home/skywinlinvm/chakracore/BuildLinux/Debug/ch: ELF 64-bit LSB shared object, x86-64, version 1 (SY

[2016-12-18 21:29] dilijev commented on #2237
@rajatd re: deferred parsing

[2016-12-18 21:32] dilijev opened #2238 "[Legacy] Test failures: Assertion lib\Backend\DbCheckPostLower.cpp, line 156 [Dev12 Win7 x64_debug only]"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28release-1.4%29#legacy-builds

Only affects x64_debug:
https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.4/job/daily_dev12_x64_debug/

(@Cellule and I were not able to repro these failures using Dev12 on Win10. I was able to repro on a Win 7 VM.)

[2016-12-18 23:29] dilijev opened #2240 "Follow up #110: rlexe.xml tags: Remove support for old architecture and type terms."
Work item to follow up #110:

Summary:

At some point in the future (when all active development branches support the new terms), we will deprecate the use of the old terms and remove support for them. At that time, all remaining uses of the old terms will be replaced with the new terms and support will be dropped from the scripts.

Explanation:

At the moment, we have active development branches

[2016-12-19 00:38] dilijev commented on #2238
@Cellule I repro'd the errors on Win 7 + VS 2013.

[2016-12-19 01:02] dilijev commented on #2238
All errors are instances of the assertion at `lib\Backend\DbCheckPostLower.cpp, line 156`:

[code]

[code]

[2016-12-19 01:04] dilijev commented on #2238
Git blame shows:

[code]

Assigning this issue to @meg-gupta

[2016-12-19 14:24] obastemur commented on #1811
#2200 fixed this issue. Closing for now.

[2016-12-19 14:24] #1811 closed

[2016-12-19 19:51] Cellule opened #2241 "WASM - Custom Sections"
Support https://github.com/WebAssembly/design/blob/master/JS.md#webassemblymodulecustomsections

[2016-12-19 23:24] dilijev opened #2244 "NoJIT checks broken on master."
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#disablejit-builds

/cc @obastemur who said he might look into it.

[2016-12-20 00:27] dilijev commented on #199
Work in progress.

[2016-12-20 00:45] #2238 closed

[2016-12-20 01:23] Cellule commented on #2244
https://github.com/Microsoft/ChakraCore/pull/2200#pullrequestreview-13671397 for context when the break was introduced

[2016-12-20 02:57] dilijev commented on #518
Section in ES 2017 B.1.4 #sec-regular-expressions-patterns:
https://tc39.github.io/ecma262/#sec-regular-expressions-patterns

[2016-12-20 13:38] guybedford opened #2250 "Module object Object.prototype.toString value casing seems incorrect"
With the following inside of a `<script type="module">` tag:

[code]

The assertion here is returning false as the result is `[object module]` instead of what should I believe be `[object Module]` since the `Symbol.toStringTag` value is `Module` and not `module`.

Fixing this would help to ensure consistency across browsers for checking if a given object is a module namespace object, which may be

[2016-12-20 15:34] obastemur commented on #2074
Update: We have our custom qsort_r implementation on master.

[2016-12-20 15:38] obastemur commented on #2229
@dilijev I had updated netci.groovy to enable adding more custom test runs. i.e. https://github.com/Microsoft/ChakraCore/blob/master/netci.groovy#L175

I'm not sure if we need anything particular for xplat now. We were missing the no-jit checks or shared osx runs but now we have them too.

[2016-12-20 18:36] dilijev commented on #2229
@obastemur Thanks for the tip, I think we can definitely follow a similar approach for adding the checks for Windows.

[2016-12-20 22:15] #2193 closed

[2016-12-20 22:42] dilijev commented on #2250
@boingoing re: modules

[2016-12-21 02:10] dilijev opened #2259 "Update GUID for release/1.4 which has just been switched to RELEASE mode."
See 920f7867074e1165d1fd085cd0c12d1e65a3bf13: Set branch release/1.4 to RELEASE mode.

See this message: https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/ChakraCoreVersion.h#L7

[code]

/cc @boingoing

[2016-12-21 02:19] dilijev commented on #2250
Candidate line where the issue is:

[code]

[2016-12-21 02:24] dilijev commented on #2250
For this script:

[code]

Output:

[code]

It appears that our current implementation for @@toStringTag for modules is also lowercase (I think it uses the same string, so that's not surprising -- I just wanted to check on this since it sounded like you were saying our @@toStringTag for modules had different casing).

[2016-12-21 06:03] #2259 closed

[2016-12-21 06:39] MidoriYakumo commented on #1274
So how to debug **ChakraCore** embedded in my own C++ project? I have tried choosing different debug mode and using code like:

- JsDiagStartDebugging()
- enable flag ForceDiagnosticsMode
- WScript.Attach(func)

however Visual Studio does not hit the breakpoint.

[2016-12-21 07:07] agarwal-sandeep commented on #1274
ChakraCore provides just the debugging APIs and doesn't implement a debugger. We have implement debugging support in [Node-ChakraCore](https://nodejs.org/download/chakracore-nightly/) which can be used to debug using [VSCode](https://code.visualstudio.com/) as frontend.

[2016-12-21 09:34] MidoriYakumo commented on #1274
Will VS support be scheduled in the future?

[2016-12-21 09:55] #2244 closed

[2016-12-21 10:02] guybedford commented on #2250
Yes it seems both `@@toStringTag` and the display string should be using capital letters, as in the spec at https://tc39.github.io/ecma262/#sec-@@tostringtag.

Thanks for looking into this and so quickly. It would really help to avoid a painful edge case in detection.

[2016-12-21 10:04] ljharb commented on #2250
(fwiw, by convention every `Symbol.toStringTag` value should be PascalCased, a la `[object Object]`) Great catch!

[2016-12-21 16:00] obastemur opened #2262 "raspberry-pi: ChakraCore ARMv7 build - linker out of memory"
When compiling ChakraCore on Raspberry PI 2 B+ (clang 3.8 arm), linker fails with `out of memory` error.

A temporary solution is to `strip -x` the static lib files. However,  we need a proper solution here.

p.s.: This may not be a clang 3.8 for ARM issue. Cross compiling on a host with better resources don't show this problem.

[2016-12-22 02:12] #1896 closed

[2016-12-22 05:48] nth10sd opened #2268 "Assertion failure: "_cardTable" when memory address space is limited to 2GB"
Save the following code as a python file, create an empty "empty.js" file, update the path of the chakracore binary and run it:

[code]
You will get the following assertion failure:
ASSERTION 79532: (/home/skywinlinvm/chakracore/lib/Common/Memory/RecyclerWriteBarrierManager.cpp, line 69) _cardTable
 Failure: (_cardTable)

The assertion failure still exists if the resource.RLIMIT_AS value is increa

[2016-12-22 05:51] nth10sd commented on #2268
I had run this in a VM with 8GB RAM and the version of Ubuntu I have is a 64-bit version.

[2016-12-22 07:39] nth10sd opened #2269 "Crash [@ Js::AsmJsFunc::GetFncNode] involving "use asm""
[code]

$ /home/skywinlinvm/chakracore/BuildLinux/Debug/ch test.js
Segmentation fault (core dumped)

file /home/skywinlinvm/chakracore/BuildLinux/Debug/ch
/home/skywinlinvm/chakracore/BuildLinux/Debug/ch: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 2.6.32

Git hash: 3769053
OS: Ubuntu Linux 16.04.1 LTS
Arch: x86

[2016-12-22 07:46] nth10sd opened #2270 "Crash [@ Ident::GetPropertyId] involving "use asm""
[code]

$ /home/skywinlinvm/chakracore/BuildLinux/Debug/ch test.js
Segmentation fault (core dumped)

$ file /home/skywinlinvm/chakracore/BuildLinux/Debug/ch
/home/skywinlinvm/chakracore/BuildLinux/Debug/ch: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 2.6.32

Git hash: 3769053
OS: Ubuntu Linux 16.04.1 LTS
Arch: x

[2016-12-22 16:14] oguzhankarsli opened #2271 "creating an object from JavaScriptFunction and invoke different function."
Hi,
i written a script file and c# codes which is runned script.
i wanna invoke  different function in javascript from C#.
How can i do it?

c# code:

[code]

script.js file:

[code]

Example:

[code]

Is this example possible ?

[2016-12-22 16:50] obastemur commented on #2270
This issue is available on all the platforms.  #2272 fixes the crash

[2016-12-22 16:50] obastemur commented on #2270
@nth10sd Thanks for bringing this up!

[2016-12-22 16:52] obastemur commented on #2269
Duplicate of #2270 . Closing this one

[2016-12-22 16:52] #2269 closed

[2016-12-22 21:58] dilijev opened #2278 "Make official ChakraCore binaries easily available to developers on *nix platforms. (e.g. deb and brew feeds)"
As discussed in #85 (especially https://github.com/Microsoft/ChakraCore/issues/85#issuecomment-228905098), we should have developer feeds for Linux and OS X for the binaries we release for those platforms, since NuGet is probably not the primary choice for development for Native apps on those platforms.

Since the Linux flavor we primary support is Linux, we should start with an `apt-get` feed for

[2016-12-23 01:31] jianchun opened #2282 "xplat: JsDiagEvaluate signature"
Following up #2251, we plan to change `JsDiagEvaluate` signature to take `JsValueRef` string, and remove `JsDiagEvaluateUtf8`.

//cc: @liminzhu @agarwal-sandeep @obastemur

[2016-12-23 01:33] jianchun commented on #2074
SWB branch uses a different code (JsUtils::QuickSort template) when write barrier is needed, thus not using qsort_r. This caused Array/arr_qsortr.js unit test failure. Excluded from xplat temporarily.

[2016-12-23 14:34] obastemur commented on #2282
@jianchun Thanks for opening this issue.

Better land this one before 2.0 release? I will send a PR next week to speed things a bit up on this.

[2016-12-23 15:45] #2058 closed

[2016-12-23 16:09] obastemur commented on #2270
Fix merged to master. Closing.

[2016-12-23 16:09] #2270 closed

[2016-12-23 16:54] Fishrock123 opened #2284 "xplat(?): Undefined symbols for architecture x86_64 on OS X when building/linking to Rust"
_I'm finally back again, lol_

I'm trying to get my nucleus-js project built again with Chakra and Rust and I'm encountering some internal(?) symbol errors, which only occur when building with / linking to Rust.

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

... and more.

<details>
<summary>Full Log</summary>

[code]

</details>

---

The code I'm trying to build can be found at https:

[2016-12-24 12:20] woachk commented on #2262
You can try to add more swap space for the linker to not fail.
I don't really consider this as an project issue. :)

[2016-12-24 13:58] obastemur commented on #2262
@woachk see this issue is marked as 'Accepting PRs' . I would happily see your PR fixing this issue!

[2016-12-24 14:31] woachk commented on #2262
@obastemur it's simply that the project is too big to compile in whatever remains of 1GB of RAM after operating system usage. :)
Swap files can be used to continue the compilation, or simply making CMake error out with less than 2GB of RAM.

[2016-12-25 18:33] ericf01 opened #2286 "Missing function Element.closest(selector)"
Every web browser I've tested other than MS Edge supports JavaScript statements of the form:
    variable = Element.closest(selector)

Example: :    var targetElem = this.nodeField.closest('div');   // Get field's closest containing div

The list of supporting browsers includes Mozilla, Chrome, and Safari on desktop, iOS, and Android, and IE 11 on Windows.

However, executing the above JavaScript

[2016-12-27 07:04] dilijev commented on #2286
Looks like this is an API defined by the DOM:
https://developer.mozilla.org/en-US/docs/Web/API/Element/closest

Please open this issue on Edge as described [here](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues).

[2016-12-27 13:54] obastemur commented on #2284
@Fishrock123 looks like the linker flags missing the stdlib reference. BTW, what do you think about https://github.com/darfink/chakracore-rs ?

[2016-12-27 13:55] obastemur commented on #2284
Sample command to link JSRT with Rust libs -> https://github.com/Microsoft/ChakraCore/issues/1492#issuecomment-260598018

[2016-12-27 14:04] obastemur commented on #198
@jianchun a bit more details on this ? (if this needs to remain open)

[2016-12-27 18:31] obastemur commented on #2278
@dilijev we were considering another approach.

ChakraCore runs on many *nix distros without a problem and we would like to cover a wider range with our binary distro without dealing with all the distribution channels one by one.

We may end up with a bash script that detects the environment and installs the appropriate ChakraCore binary.

i.e. `$ curl https://aka.ms/abcd | bash`

No matter what *

[2016-12-27 21:44] EdMaurer commented on #2286
Not an issue in ChakraCore as indicated by dilijev.

[2016-12-27 21:44] #2286 closed

[2016-12-27 21:48] EdMaurer commented on #2271
See [this documentation.](https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore)

[2016-12-27 21:57] EdMaurer commented on #849
No breaks allowed in 1.4 at this point. Clearing milestone.

[2016-12-27 21:58] EdMaurer commented on #357
No breaking changes in 1.4 at this point.

[2016-12-27 22:02] EdMaurer commented on #2237
Not something to put in 1.4.1

[2016-12-27 22:04] EdMaurer commented on #1745
Has been in the product for a long time. Impact not large but effort to fix is. Not a  1.4.1 candidate

[2016-12-27 22:08] EdMaurer commented on #424
Not enough impact to add to 1.4.1

[2016-12-27 22:09] EdMaurer commented on #1048
Not something that is worth picking up in 1.4.1

[2016-12-27 23:02] ericf01 commented on #2286
As requested by dilijev, I’ve opened new Issue #10320716  Edge Browser missing function Element.closest(selector) at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10320716/

I appreciate your response, and  apologize that it was not obvious to me that this is an Edge platform issue rather than a ChakraCore issue.

From: EdMaurer [mailto:notifications@github.com]
Sent: Tuesda

[2016-12-28 00:20] digitalinfinity commented on #2286
Thanks @ericf01- and no reason to apologize, it's not always obvious whether something is a Edge issue or a Chakra issue 😄 Thanks again for reporting the issue to both us and Edge!

[2016-12-28 11:39] DzmitryShylovich opened #2290 "Select with selectedIndex = -1 still shows the first option"
**Current behavior**
As u can see on the screenshot http://prntscr.com/dotsln select has `selectedIndex` equals to -1 `value` is empty, but it shows the first option.
I can workaround it by explicitly calling `document.getElementById('test').selectedIndex = -1;`, but I can't write a test for it because select has all correct properties (`selectedIndex = -1`, `value = ''`).

**Expected behavior**
I

[2016-12-28 19:15] digitalinfinity commented on #2290
Hi @DzmitryShylovich - thank you for opening this issue. However, this does not appear to be an issue in Chakra- this sounds like an Edge issue. Please open an issue on the Edge team by following these [steps](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues).

[2016-12-28 19:41] DzmitryShylovich commented on #2290
@digitalinfinity done. should I close this one?

[2016-12-28 19:42] digitalinfinity commented on #2290
Yes please- thanks again for reporting the issue!

[2016-12-28 19:43] #2290 closed

[2016-12-29 01:24] tcare opened #2294 "Classes extending null should bind a 'this' value"
class Foo extends null { constructor() {} };

new Foo(); // use-before-decl, should not throw

See tc39/test262#813 and https://github.com/tc39/ecma262/issues/543#issuecomment-210191577

[2016-12-29 11:03] sidkshatriya opened #2295 "Q: Nested Contexts -- Arbitrary depth? Different scripts?"
On https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview

This is followed by a diagram
<img src="https://github.com/Microsoft/ChakraCore/wiki/images/context.png">

- Is the nesting possible only 2 levels deep? Or can it be arbitrarily deep?
- Can the two contexts run _different_ scripts or do they need to run the same script? In other words, can a single chakracore r

[2016-12-29 12:32] obastemur commented on #2295
@sidkshatriya AFAIK there is no soft limit on depth.

Context used to separate script A from script B (environment). They can't be executed simultaneously. (under the same Runtime)

[2016-12-29 12:44] alexgwolff commented on #2271
You can try something like this
In this example I wanna use JSON.parse() and JSON.stringfy() from javascript.

### Get Global Object
[code]

### Get object JSON from Global Object
[code]

### Get parse function  - JSON.parse()
[code]
### Get stringify  function - JSON.stringify()
[code]

### Now use
[code]
or
[code]

In your case, you should add your script file in context
See [JSRT](https://githu

[2016-12-29 16:03] Fishrock123 commented on #2284
Oh, was that updated? I din't want to have to rely on something that may not be maintained / beyond me though.

... hmmm looking at the `build.rs` in there, it's pretty big so maybe I should use it?

[2016-12-29 17:16] obastemur commented on #2284
If it works for you, sounds like a good idea :)

[2016-12-29 21:05] obastemur opened #2297 "PAL: Cleanup GetModuleFileName** and implement corresponding interface"
This is a follow-up issue for #2296

[code]

~~Waiting for #2288~~

Move `GetBinaryLocation` (https://github.com/Microsoft/ChakraCore/blob/7541e228ef42a97895a88f46d5427d07bf2675ba/bin/ch/Helpers.cpp#L577) into PlatformAgnostic and use that instead of `GetModuleFileName*`

edit-2, Some more details:

- Create `SystemInfo.cpp` under `lib/Runtime/PlatformAgnostic/Platform/Common/`

[code]

- After mo

[2016-12-29 23:03] alexhultman opened #2299 "Linux performance issues"
Hi,

We talked about the GC features not yet implemented on Linux. Following is an example of where JsCreateString in a hot path can severely harm perfomance:

[code]

[2016-12-30 11:24] obastemur commented on #2299
I was suspecting from Utf8 encode/decode stuff at first. However, testing the sample above with different inputs show GC is the real cause. (note: we don't have high performance GC features available on xplat yet.)

20K -> original loop
[code]

30K
[code]

50K
[code]

@alexhultman Thanks for the test case.

[2016-12-30 19:47] dilijev commented on #2278
@obastemur sounds great! However, maybe there's still an opportunity to aid ease of entry for developers on some platforms by integrating with the existing package services?

[2016-12-31 01:44] dilijev commented on #2294
Duplicate of #829

[2016-12-31 01:44] #2294 closed

[2016-12-31 15:41] Oceanswave commented on #85
+1

This is already mentioned in the roadmap, but would be great if xplat builds were also included with the nuspec -- similar to how netcore distributes libuv, having the package be the combination of platform specific builds, which can be taken independently if desired.

https://github.com/aspnet/libuv-package
https://github.com/aspnet/libuv-build/tree/dev/build

(Note that this doesn't referenc

[2016-12-31 21:02] dilijev commented on #85
Thanks for the reference to libuv, @Oceanswave -- it's good to know which layouts by other packages are preferred by our users. We'll look into this!

[2017-01-01 05:07] liminzhu commented on #2282
Thanks for driving this guys 👍 . Would external arraybuffer also work as valid input?

[2017-01-01 22:56] obastemur commented on #2278
I don't know how that would be easier than the option I have mentioned above. Could you please clarify?

[2017-01-02 01:09] cosinusoidally opened #2302 "test/benchmarks/Octane/typescript.js segmentation fault"
I built ChakraCore on Linux (Ubuntu 16.04) as per the instructions here: https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore/da4ffbc0ac4598f211fee4fb40b6657210b84ac1

I was on the master branch (dce349e3192fcebd9f8d889c858a60845f7a12bd). This issue occurred on Test and Release builds. I was unable to test on a Debug build as Debug builds could not run the test case in a reasonable amo

[2017-01-02 01:32] cosinusoidally commented on #2278
How about distributing a single binary that works across every supported Linux distribution (for a given architecture)? Much the same as how node.js is distributed. The Linux versions of node.js are distributed as gpg signed tarballs (one per architecture). Their binaries work on a wide range of Linux distributions as they build their binaries on a CentOS 6 system (therefore avoiding depending on

[2017-01-02 01:40] obastemur commented on #2302
@cosinusoidally Thanks for the report. /cc @leirocks IIRC you were mentioning this on one of the emails recently.

[2017-01-02 01:55] obastemur commented on #2278
@cosinusoidally that's the plan though and we already have ChakraCore single binary is working on all the recent distros. (once it combined with `--embed-icu --static` options)

IIRC libc adds aprox 1mb to file size. So, we are not actually worried on this one.

So.. The one-liner I was mentioning above is going to detect unix/posix and target-arch and then download the tarball / print sha / insta

[2017-01-02 04:32] cosinusoidally commented on #2278
Just to clarify, are you planning on distributing ChakraCore as a shared library (say libChakraCore.so) plus some headers?

I assume you mean libstdc++ ? I can see that the build.sh script defaults to statically linking libstdc++. Or are you planning to statically link libc (which is glibc on the majority of Linux distros)? I'm finding it difficult to find good info on this but apparently it is a

[2017-01-02 14:15] obastemur commented on #2278
@cosinusoidally Yes, that's the plan. BTW; fixed the typo above.

[2017-01-02 14:28] chicoxyzzy commented on #2278
Would be great if ChakraCore will be available with Node ChakraCore via nvm. Related nvm issue https://github.com/creationix/nvm/issues/1067

[2017-01-02 23:01] obastemur commented on #2262
https://github.com/Microsoft/ChakraCore/commit/6a8f26e fixes the memory usage issue.

In addition to limited memory, empty disk space was an issue too. I have 32 GB SD card and somehow forgot expanding the disk image. Following the steps below on Ubuntu MATE (armv8) took care of the problem.

First, you better check whether the disk was already expanded or not -> ```df -h```

If not;

IMPORTANT: I

[2017-01-02 23:01] #2262 closed

[2017-01-03 01:14] digitalinfinity commented on #2299
@leirocks @jianchun FYI, worth running this test case as part of SWB/Partial GC validation

[2017-01-03 01:16] digitalinfinity commented on #2302
@pleath redeferral related?

[2017-01-03 02:02] dilijev commented on #2278
@obastemur It's definitely the case that a general script that works for all platforms is the most value and lowest cost to maintain for the value. It may be the case that platform-specific feeds which require setup in any case would be any additional value. Your discretion :)

[2017-01-03 02:04] dilijev commented on #2295
FYI @liminzhu

[2017-01-03 02:50] obastemur commented on #2262
Another option;

I wanted to give a shot with a board with 512Mb RAM on it and this time I needed a swap file to boost the available memory on the system.

In order to create a 1Gb swap file on a Debian/Ubuntu etc.. (I assume it should also work for some others)

[code]

Now, run ```free`` command and you will see the additional resources there.

[2017-01-04 01:21] revskills opened #2305 "issue in Helpers::GetTTDDirectory"
Repro:
ChakraCore/BuildLinux/Release/ch -

[code]

[2017-01-05 00:58] EdMaurer opened #2311 "Ensure parsing heuristics are producing desired outcome when given Closure-produced content"
Also, possibly add some telemetry if there is a reasonable measure to report.

[2017-01-05 01:01] toddreifsteck opened #2312 "Add ETW for diagnosing parse time of scripts"
Today, it is possible to diagnose the execution time of scripts but understanding which scripts are contributing to Parse/ByteCodeGen/JIT CPU costs can be difficult and requires correlation with other events.

It would be ideal if there were Events in Chakra that allows Parse/ByteCodeGen code to be timed and associated with a "user-friendly string" identifier for the script that is being acted upo

[2017-01-05 01:05] toddreifsteck opened #2313 "IIFE parsing heuristics/performance could potentially be improved"
We've seen a number of sites with significant impact in parsing from altering IIFEs to trigger immediate vs. deferred parsing.

@nolanlawson documented a few of these at [https://nolanlawson.com/2016/08/15/the-cost-of-small-modules/], but we've seen many others while reviewing sites including Facebook, Office and PowerBI.

Investing some time to investigate this area of the Parser may be helpful g

[2017-01-05 01:18] EdMaurer commented on #2313
Accounted for here: #2311

[2017-01-05 01:18] #2313 closed

[2017-01-05 02:27] dilijev opened #2316 "[Slow Tests, Legacy] UnifiedRegex failures in {x64,x86}_{debug,test} (branches: release/1.4, master)"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#builds-with-slow-tests

https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_slow_x86_debug/changes
Shows @boingoing's recent commits as the most likely source of the break.

Note: The Slow Tests issue is showing up in Legacy Tests.

[2017-01-05 02:32] dilijev opened #2317 "[DisableJIT] Link Error (branch: master)"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#disablejit-builds

For example:
https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_disablejit_x64_debug/
Broken since build 41

Changes between a successful build and the broken build:
https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_disablejit_x64_debug/changes

[code]

@obastemur @MikeHolman @atulkatti

[2017-01-05 02:34] dilijev opened #2318 "[Legacy] Build Error (branch: master)"
https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_dev12_x64_debug/

[code]

Broken since build 35

https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/daily_dev12_x64_debug/changes

[code]

@obastemur @MikeHolman @atulkatti @tcare

[2017-01-05 03:17] dilijev commented on #2311
/cc @Penguinwizzard re: telemetry

[2017-01-05 04:28] ianwjhalliday opened #2319 "TypedArray length incorrectly reported in JITed code"
[code]

Run with `ch -mic:1 -off:simplejit`

Prints
[code]

Should be 100 always.

@Penguinwizzard @boingoing

[2017-01-05 08:06] obastemur commented on #2284
Closing this for now.

[2017-01-05 08:06] #2284 closed

[2017-01-05 08:08] obastemur commented on #2009
@xanlpz Thanks for all the details and follow ups. This should be fixed on master.

[2017-01-05 08:08] #2009 closed

[2017-01-05 17:21] Krovatkin commented on #2318
:rofl:  I tried to build a master branch today; hit the very same issue. Switched the header order to

[code]
to only find out afterwards that there is already a PR for this issue. Dang!

[2017-01-05 18:40] kfarnung opened #2321 "TTD - Improve scanning of well known persistent pointers"
We currently use a workaround in TTRuntimeInfoTracker.cpp to scan and track well known persistent pointers.  This doesn't scale well and is currently missing a number of properties on JavascriptLibraryBase.

Ideally we would like a "JsWellKnownObject" macro + list of fields that would notify us of what these fields/objects are (and give us stable names/ids for them).

See #2309 for more info.

[2017-01-05 19:43] Penguinwizzard commented on #2319
Turns out this has been a bug for a while. Fix is now being checked by automation.

[2017-01-05 22:14] Penguinwizzard commented on #2319
Unfortunately the easy fix has a >200x slowdown on some of our tests (0.5s->137s). Fixing it in a performant manner is also significantly more complex; it'll likely take a bit of time and engineering to do. As this isn't a recent regression, it's likely going to be tackled after the next release.

[2017-01-05 22:43] dilijev commented on #2318
Fixed by #2320

[2017-01-05 22:43] #2318 closed

[2017-01-05 23:42] kunalspathak opened #2324 "Collect profile information of array's length"
We should collect profile information of array's length created by user so we can use it to allocate array of appropriate size while JITing.

[2017-01-06 00:10] dilijev commented on #2212
Looks like @johndugan opened this issue on the Edge issue tracker:
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10232708/

Thanks! Closing this issue.

[2017-01-06 00:10] #2212 closed

[2017-01-06 02:06] bterlson commented on #587
@RichiCoder1 can you expand?

[2017-01-06 03:37] RichiCoder1 commented on #587
I'm not sure how well I can explain, but this issue relates:
https://github.com/petkaantonov/bluebird/issues/1274

TL;DR appears to be that Bluebird tries to use Error.captureStackTrace, and failing that (new Error()).stack. Apparently the most recent version of edge doesn't populate `stack` when Error isn't throw, so Bluebird simply fails.

[2017-01-06 13:23] goleoh opened #2328 "Float32Array memory leak problem"
If run below code, Edge's total memory increases continuously.
But the memory size of snap shot doesn't increase.

Our web-app game is crashed and refreshed because of this memory problem.
We suspect that there is the same problem at Uint8Array, Float16Array, etc..

[code]

[2017-01-06 18:58] kunalspathak commented on #2328
@goleoh - It is expected that memory grows because you are creating objects in loop.
Did you check this test case on other browsers like Chrome and Firefox?

[2017-01-06 19:58] Penguinwizzard commented on #2328
I think the issue is that the code intends to make it such that all of the views on the buffer are automatically freed at the completion of testMemFunc, and that this apparently isn't happening. The edge instance I'm writing this from is slowly growing in memory usage after running that snippet, up to 2.9GB from ~300MB right now.

[2017-01-06 22:47] toddreifsteck opened #2334 "setTimeout(<string>) could be much faster when same <string> is used multiple times"
Run the 'RUN LONG STRING' test from the following test page and it can be observed that Microsoft Edge could be faster at running this code.
https://github.com/toddreifsteck/webtests/blob/master/setTimeout/setTimeout.html

Per conversation with @pleath , it appears that the Chakra team has the power to optimize this without any work from the EdgeHtml team.

[2017-01-06 22:52] #2305 closed

[2017-01-06 23:27] suwc commented on #829
Merged.

[2017-01-06 23:27] #829 closed

[2017-01-07 00:23] goleoh commented on #2328
@kunalspathak - memory is freed at the end of testMemFunc by "bufList.length = 0". The total memory usage doesn't grow up at Chrome. If we use Float32Array with no buffer, it works well. But if we use buffer the memory usage grows up continuously.

[2017-01-07 08:18] kunalspathak commented on #2328
Thanks @goleoh for checking. I overlooked your test case. I too verified and the problem persist even on IE11. The problem is that every time typed array is created with `buffer` , we [add the typed array to the list of parents](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/ArrayBuffer.cpp#L119) of that `buffer` but never remove its entry from parents list of `buffer`. Th

[2017-01-07 12:25] revskills opened #2336 "issue in utf8::DecodeTail"
[code]
Minimized sample:

ff7/Cg==

[2017-01-09 10:23] humeafo opened #2338 "[xplat] Out of tree build support"
I'm building on macOSx, the command I used is:
some_dir/build.sh --xcode --static --icu=/usr/local/opt/icu4c/include --test-build -j=2

after some while console shows:
....
build files have been written to: ~/ChakraCore/BuildLinux/Test

obviously no out of tree build support is added, it's easy for cmake to build out of tree, it'd be more useful if building is default in current dir or there are o

[2017-01-09 18:04] toddreifsteck commented on #2311
Unsure if it is related to Closure-produced content but https://foxsports.com has ~1 second of parse/ByteCodeGen and only 650 ms of execution. It may be a good site to investigate.

[2017-01-09 18:31] boingoing commented on #2336
This looks like the same issue fixed by https://github.com/Microsoft/ChakraCore/pull/2304 in the release/1.4 branch. I tested-out this minimized sample with the binary built from release/1.4 and we no longer read past the end of the source buffer. Thanks for reporting it, I'm going to close this issue.

[2017-01-09 18:32] #2336 closed

[2017-01-09 18:35] revskills commented on #2336
This issue was reported to Microsoft on Jan 2, 7 days ago and after no ticket updates I've reported here #TRK:0901002828

[2017-01-09 20:03] suwc opened #2339 "new ArrayBuffer((-1 >>> 0) + 1) should not throw RangeError in 64-bit"
Snippet: console.log(new ArrayBuffer((-1 >>> 0) + 1))
Expected output: ArrayBuffer { byteLength: 4294967296 }
Actual output: RangeError: Array length must be a finite positive integer

[2017-01-10 00:01] obastemur commented on #2338
@humeafo `--xcode` option is there to create XCode project. If you want to build Debug/Release etc. you may remove that argument and it should be done.

`Out-of-tree` : We set target build path from build.sh, if you want to provide a custom path option there, it should be fairly easy to contribute. Actually if you directly use our CMake / make stuff, you have all the out-of-tree etc. stuff out of

[2017-01-10 00:40] bakkot opened #2344 "Lift template escape sequence restrictions in tagged templates"
The [template literal revision proposal](https://github.com/tc39/proposal-template-literal-revision) reached [stage 3](https://github.com/tc39/proposals) in July.

This allows
[code]
etc. Invalid escapes remain a syntax error in untagged templates.

[2017-01-10 05:44] #2317 closed

[2017-01-10 09:27] Aqours opened #2347 "ES Module: import error "Let/Const redeclaration""
OS: Windows 10 Ver 1607 (14393.567)
Edge: 38.14393.0.0 (EdgeHTML: 14.14393)
Flags: Enable experimental JavaScript features [Ref](https://blogs.windows.com/msedgedev/2016/05/17/es6-modules-and-beyond/#9ezxJCRJPZxvBl1g.97)

Code-1
[code]

It will report an error: Let/Const redeclaration.

Code-2
[code]

It will report an error: Let/Const redeclaration.

[2017-01-10 10:52] PaulGGriffiths opened #2348 "Compiling on Visual Studio 2017 RC (apparently requires Win 8.1 SDK)"
I'm receiving compiler errors on Visual Studio 2017.
Updated configuration Windows SDK Version to 10.0.14393.0.

[code]

[2017-01-10 20:28] dilijev commented on #2347
Could you check if this repros on a recent preview build of Windows?
/cc @boingoing re: modules

[2017-01-10 21:41] kunalspathak opened #2352 "Intl should cache and re-use various formatters"
[InitializeDateTimeFormat](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/InJavascript/Intl.js#L1113) method takes an empty object dateTimeFormat and sets various properties on it
based on `options` and `localeList`. Inside `platform.createDateTime()`, it caches an instance of `dateTimeFormatter` as `hiddenObject` property on `dateTimeFormat` object.
If InitializeDateTimeF

[2017-01-10 21:51] digitalinfinity commented on #2348
@PaulGGriffiths where did you install VS2017 from?

[2017-01-10 21:54] PaulGGriffiths commented on #2348
Visual studio.com is where i got it from.

Sent from my Windows Phone
________________________________
From: Hitesh Kanwathirtha<mailto:notifications@github.com>
Sent: ‎10/‎01/‎2017 21:51
To: Microsoft/ChakraCore<mailto:ChakraCore@noreply.github.com>
Cc: PaulGGriffiths<mailto:paul.g.griffiths@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Microsoft/ChakraCore] Compiling on

[2017-01-10 21:55] digitalinfinity commented on #2348
Sorry, what version? The RC?

[2017-01-10 22:05] boingoing commented on #2347
This looks like https://github.com/Microsoft/ChakraCore/pull/1292 which has been fixed and released via Windows Insider flights. The fix has not made it into a retail Windows release, yet, though. If you install a Windows Insider flight such as the recently released build 15002, this should be working as expected.

[2017-01-10 22:06] #2347 closed

[2017-01-10 22:08] PaulGGriffiths commented on #2348
Yes

Sent from my Windows Phone
________________________________
From: Hitesh Kanwathirtha<mailto:notifications@github.com>
Sent: ‎10/‎01/‎2017 21:55
To: Microsoft/ChakraCore<mailto:ChakraCore@noreply.github.com>
Cc: PaulGGriffiths<mailto:paul.g.griffiths@outlook.com>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [Microsoft/ChakraCore] Compiling on Visual Studio 2017 (#2348)

Sorry, wha

[2017-01-10 22:10] dilijev commented on #2344
(Not in the official spec yet so I'm removing the ES Spec Changed tag.)

[2017-01-10 23:01] michaelficarra opened #2353 "exponentiation incorrect for inputs that produce subnormal numbers"
In Edge 14 on Windows 10, `Math.pow(2, -1074)` produces `0`, while on all other engines, it returns the subnormal double value `5e-324`. This is not the only set of inputs that causes this behaviour. It appears that all inputs which should produce a subnormal number instead produce `0`.

[2017-01-11 03:57] #2268 closed

[2017-01-11 04:04] obastemur commented on #2268
@nth10sd Thanks for reporting this issue!

[2017-01-11 04:17] obastemur commented on #2353
I'm unable to observe this problem with ChakraCore `ch`. Result there is also `5e-324`

[2017-01-11 04:53] #2112 closed

[2017-01-11 08:09] dilijev commented on #2353
Current flights of edge also produce `5e-324`

Closing as Fixed / No Repro.

[2017-01-11 08:09] #2353 closed

[2017-01-11 08:12] dilijev commented on #2348
Related to #2096

[2017-01-11 15:23] Oceanswave commented on #2112
Thank you!

[2017-01-11 15:35] alexgwolff opened #2359 "Error on ch.exe using -ES6Module"
I'm trying to use a simple JS file that includes this:

### moduleExport1.js

[code]
But I get this error 

### Console output

[code]
### cmd 

Any ideia?

[2017-01-11 15:38] obastemur commented on #2112
@Oceanswave Thanks!

[2017-01-11 15:39] obastemur commented on #2065
This one is also fixed

[2017-01-11 15:39] #2065 closed

[2017-01-11 18:28] akroshg commented on #2359
Please see usage as in
https://github.com/Microsoft/ChakraCore/blob/master/test/es6/moduletest1.js#L5

So you need to create another file say test.js
and put
[code]
call
```ch.exe -ES6Module test.js```

[2017-01-11 19:11] alexgwolff commented on #2359
Okay, this is working.
But i wanna use "import"
like here https://github.com/Microsoft/ChakraCore/blob/master/test/es6/passmodule.js

[2017-01-11 19:16] michaelficarra commented on #2353
I've also confirmed that in a recent build of ChakraCore I also get `5e-324`. Looks like the problem has been fixed somewhere between the version included in Edge 14 and `master`. FWIW, I have not tested on a variety of architectures, so this problem may still exist in non-x86 architectures or on CPUs without `AutoSystemInfo::Data.SSE2Available`.

[2017-01-11 19:17] akroshg commented on #2359
You need to create another file which has your exports, and from a different file you can import those exports.
in your example
**test.js**
[code]

**test2.js**
[code]

/cc @boingoing

[2017-01-11 22:09] dilijev commented on #1391
Fixed by #2289, reverted by #2350

[2017-01-11 22:12] atulkatti commented on #1391
The PR #2350 only reverted some changes that may cause integer overflow. However, other spec changes for issue #1391 have not been reverted. So this issue can be closed.

[2017-01-11 22:12] #1391 closed

[2017-01-12 03:30] luxiao6620217 opened #2365 "Run a specified function in js file using ChakraCore?"
If my scripts in js file. how  do I  run a specified function in this js file.please give me the code ,thank a lot.

[2017-01-12 07:30] dilijev opened #2367 "Update CaseInsensitive table to Unicode 9.0"
See #517, #2356

[2017-01-12 12:37] #1594 closed

[2017-01-12 18:25] digitalinfinity commented on #2365
Hi @luxiao6620217 - can you provide more details? Are you trying to run your js file inside of Edge?

[2017-01-12 23:29] delmarwichnieski opened #2373 "es6 modules - problems with circular dependencies"
Hi all

this is my firts post

I'm having problems with circular dependencies
Microsoft Edge 39.15002.1001.0
Microsoft EdgeHTML 15.15002

Version 1607
Build SO 15002.1001

What is the right forum for edge support?

Could it be here?
If not, sorry!
If yes, could I send link from pastebindotcom with sample code?

Thank you very much

[2017-01-13 00:32] dilijev commented on #1181
Just to clarify, I'm seeing in the following in ChakraCore for expected vs. actual behavior:

[code]

[2017-01-13 01:19] luxiao6620217 commented on #2365
Hi, @dilijev . For example, the script in js file(many functions in this file) is:
function processLine(line) {
    return line.trim()
        .replace(/[<>&"'\u0000-\u001F\u007E-\uFFFF]/g, function(x) {
            return '&#' + x.charCodeAt(0) + ';'
        })
       .replace(/\*(.*?)\*/g, function(x, m) {
            return '<b>' + m + '</b>';
       };
}
In c++ project(windows system), I want

[2017-01-13 02:06] digitalinfinity commented on #2373
Hi @delmarwichnieski - welcome to the ChakraCore repo! It's not clear what your issue is so feel free to post a link to your sample code and we can give guidance.

For future reference, if it's a JavaScript/Chakra issue, then this is the right forum. If it's an issue with Edge itself, you can follow the [instructions here](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues) t

[2017-01-13 02:06] dilijev commented on #2365
Maybe you could load the script and then run a new script with a call to that function, and process the result that way.

@liminzhu do you have any suggestions?

[2017-01-13 02:22] digitalinfinity commented on #2365
@luxiao6620217 you can use the JSRT APIs in ChakraCore to achieve your goal. Here is a [sample Hello World](https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore) application that you can use to get started. Once you load your script using either `JsRunScript`, you can try something like the following order of operations:
1. Call `JsGetGlobalObject` to get the global object
2. Get the

[2017-01-13 02:42] luxiao6620217 commented on #2365
@digitalinfinity  good answer, thank you for your help. It is very useful for me.

[2017-01-13 08:05] #2282 closed

[2017-01-13 08:13] mathiasbynens commented on #1181
The expected behavior you’ve outlined is correct.

One minor correction, though:

They’re not (as far as `\w` goes in JavaScript), but with the `i` flag set they canonicalize to `S` and `K` which are.

[2017-01-13 13:14] delmarwichnieski commented on #2373
Sorry, the code is in pt-br. But the important parts are easy to understand.

index.html
http://pastebin.com/ZcfazmPB

main.js
http://pastebin.com/9Fp4fpUk

login.js
http://pastebin.com/FgcMC4TY

login.escola.js
http://pastebin.com/LiKQ5m5m

login.utils.js
http://pastebin.com/ukAT8aaM

ajax.js
http://pastebin.com/JZmapfeU

The problem occurs when I uncomment the 3rd line in the login.escola.js fil

[2017-01-13 15:34] dilijev commented on #1181
@mathiasbynens Oh, I see. That makes sense. I still think the simplest / most efficient way to get this behavior is to add them to the char set we use for `\w` when both /i and /u flags are set.

[2017-01-13 15:35] #2338 closed

[2017-01-13 22:06] #1181 closed

[2017-01-13 22:34] Penguinwizzard opened #2378 "AsmJs/WAsm calling convention issues on xplat"
When attempting to pass a floating-point argument to an asmjs/wasm function on xplat, the caller and callee don't agree on the calling convention. This causes correctness issues, as we end up often using the wrong value. This occurs in JITted code.

**Repro:**
Remove these lines from test/runtest.py ([link](https://github.com/Microsoft/ChakraCore/blob/master/test/runtests.py#L129-L130)):
[code]
Ru

[2017-01-13 22:39] jianchun commented on #2378
@Penguinwizzard Indeed, didn't get to complete Simd when I worked on xplat JIT. That's why Simd tests were disabled on xplat by that line.

[2017-01-13 22:49] Cellule commented on #2378
From what I was able to gather this happens because `LowererMDArch::LowerCallArgs` calls in `LowererMDArch::GetArgSlotOpnd` which tries to use xmm registers for float argument when we are supposed to put them on the stack on xplat

[2017-01-13 22:50] Cellule commented on #2378
@jianchun The problem is almost all asm.js test have that flag even though simd is not used (I am not entirely sure the reason why, but I think there's a good one).

[2017-01-13 22:53] Penguinwizzard commented on #2378
@jianchun If Simd doesn't work on xplat, should we disable building Simd/not recognize the flag on xplat?

[2017-01-13 23:06] jianchun commented on #2378
@Penguinwizzard @Cellule At the time I felt Simd was close to completion, but I was not exactly sure of the calling conventions. Left Simd code in build so it would not diverge further (Simd code kept introducing build failures at the time).

[2017-01-14 00:05] #517 closed

[2017-01-14 00:50] MobWiMetro opened #2379 "MouseEvent and dispatchEvent doesn't trigger the event in Edge extension"
The extension's purpose is to programmatically move the progress slider of Netflix movie using JavaScript. It does move the slider but always to the start of the movie, not the desired point.

manifest.json
[code]
content-script.js
[code]
background.js
[code]

I attached the complete sample here(https://www.dropbox.com/s/wv3tjb3oow914xf/edge-extension-sample2.zip?dl=0).

[2017-01-14 01:47] digitalinfinity commented on #2379
Hi @MobWiMetro- thank you for opening this issue. At this point, this sounds like an issue in Edge itself, not in ChakraCore. Please open an issue on the Edge team by following these [steps](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues). If the Edge team determines this to be a Chakra issue, please feel free to reopen this issue. Thanks again for using Edge, and reporti

[2017-01-14 01:47] #2379 closed

[2017-01-14 01:48] digitalinfinity commented on #2373
@boingoing @bterlson can one of you take a quick peek at this issue please?

[2017-01-14 02:24] bterlson commented on #2373
@delmarwichnieski do you see any errors in the console?

[2017-01-14 16:57] delmarwichnieski commented on #2373
@bterlson There are no errors in the console. I will test in 15007 and I will come back with new status.

[2017-01-17 18:59] alexgwolff commented on #2359
But use 'WScript.LoadScriptFile ' is always necessary? I ask this because doing an engine using the Chakra, and want to use the ' import ' but that will be declared in my 'main' script doesn't want to have another js file using 'WScript.LoadScriptFile ' or any other similar method

[2017-01-18 00:39] Cellule opened #2385 "WScript.LoadScript variable name conflict assert"
`const a = WScript.LoadScript("function a(){}");` causes assert

ASSERTION 26992: (c:\projects\chakra\core\lib\runtime\Language/InlineCache.inl, line 256) !isRoot || RootObjectBase::FromVar(object)->GetRootPropertyIndex(propertyId) == DynamicObject::FromVar(object)->GetTypeHandler()->InlineOrAuxSlotIndexToPropertyIndex(u.local.slotIndex, false)

Same happens with `let a`, but not with `var a`. We

[2017-01-18 13:26] obastemur opened #2386 "Utf8 encoding fails to encode"
Utf8 encoding fails for the test case below. This introduced to master recently.

[code]

[2017-01-18 14:38] mgetzbw commented on #825
The c++ way to do it would be to do a `using size_type = std::size_t;` (for pre-C++11: `typedef std::size_t size_type;`) on the type itself, and then use the type alias on all the methods. If you're going to do that however I would consider also considering defining a `buffer_traits` template that knows how to get all this information or what to fall back to if the aliases aren't defined for that

[2017-01-18 18:28] obastemur commented on #825
Closing this. ChakraCore no longer asks for buffer size.

[2017-01-18 18:28] #825 closed

[2017-01-18 19:21] #2241 closed

[2017-01-19 01:11] delmarwichnieski commented on #2373
same issue with build 15007.

[2017-01-19 08:54] Aqours commented on #2347
Can I use Microsoft edge insider without Windows insider?

[2017-01-19 17:06] obastemur opened #2392 "Utf8Codec always on SlowPath and need more test cases"
Sent #2387 to fix #2386 however, there is more work there.

Condition below always (len >=4) ends up in slow path;

[code]

Good news is that slow path does the task. Still, we should replace fast path to something similar to new algorithm.

In addition to this problem, we need more test cases to make sure we don't buffer overrun or corrupt strings.

[2017-01-19 20:36] bterlson commented on #2373
@delmarwichnieski would it be possible to get a .zip of the repro? Email me (see my profile) or join us on gitter...

[2017-01-19 22:42] cumakeen opened #2394 "ChakraCore on ARM OpenWRT possible?"
Heard about ChakraCore / ARM at a dev. meetup lastweek. Is there a particular plan on reducing memory consumption in a limited environment? Couldn't find much details online.

[2017-01-20 00:59] obastemur commented on #2394
@cumakeen IIRC not so many `arm` devices around for open-wrt (mostly MIPS)..

So.. what is the origin of interest? How limited? (16?/32Meg flash / ram??)

[2017-01-20 09:41] cumakeen commented on #2394
16mb ram, armv7 chipset, no fpu. Flash storage is less restricted.

Interest; move our application to node v > 0.10.x

[2017-01-20 10:19] obastemur commented on #2394
@cumakeen hard to say yes/no or possible/impossible at this very moment. The arm work is experimental and we are focused on our upcoming cross platform release. Thanks for opening this. Surely we are going to take this issue into consideration prior to releasing our next cross platform roadmap.

Keep in touch!

Closing for now.

[2017-01-20 10:20] #2394 closed

[2017-01-20 15:11] obastemur opened #2397 "Strange String.fromCharCode behavior"
[code]

Spec (http://www.ecma-international.org/ecma-262/6.0/#sec-string.fromcharcode) says `Let length be the number of elements in codeUnits.`

Output(length) is matching to what spec says. However, see other cases above as the rest of it feels unexpected.

Shouldn't we, at some point drop char(0) ?

[2017-01-20 18:55] akroshg commented on #2359
For now that is only way it is supported from ch.exe. You can try WScript.LoadModule (some example can be found at core\test\es6 folder).

[2017-01-21 17:11] delmarwichnieski commented on #2373
@bterlson I sent to your email.
I'm running with Apache Lounge 2.4.25 x64 VC14 e PHP 7.1.0 x64 TS
Apache and php are working perfectly.
The php code is ok although it is not POO.
From the server comes JSON only.
This project is SPA, with fetch API, modules and template strings / template literals.
Everything is ok, the only problem is the circular reference between the modules.
When programming th

[2017-01-21 18:40] erikdesjardins opened #2401 "Arrow function parameter destructuring "Use before declaration" error when parameter is only used in an inner function"
Edge 39.15014.1000.0 / EdgeHTML 15.15014

These both error:
[code]

But these don't:
[code]

[2017-01-22 19:39] akroshg commented on #2401
Did you try with chakracore? @aneeshdk it seems this is fixed, can you clarify?

[2017-01-22 20:37] BenMcGarry commented on #2401
Do you know which version of Chakra is shipping with 15014?

[2017-01-22 20:39] erikdesjardins commented on #2401
Ah, yep, it works with ChakraCore v1.4.0, v1.3.2 and v1.2.3. I assumed that Edge would have one of those versions since they came out a month before 15014; sorry about that.

[2017-01-23 12:44] roman-petrov opened #2402 "Creating 'Date' object from string in 'YYYY.MM.DD' format"
When trying to creating 'Date' object in JavaScript from string in in 'YYYY.MM.DD' format Edge creates 'Invalid Date' object, Chrome/Firefox parse such date strings fine.

Example JSFiddle:
https://jsfiddle.net/ncfzqhb8/

[2017-01-23 12:59] roman-petrov commented on #2402
Seems that YYYY.MM.DD in invalid according to RFC for Date object, so closing this request.

[2017-01-23 12:59] #2402 closed

[2017-01-23 16:49] Oceanswave commented on #2160
If you're needing an automated way of generating the [P/Invoke layer for the C# hosting samples](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/JSRT%20Hosting%20Samples/C%23/ChakraCoreHost/Hosting/Native.cs) to get full coverage, I'm using [CppSharp](https://github.com/mono/CppSharp) to do so over [here](https://github.com/BaristaLabs/ChakraSharp) with a sample usage

[2017-01-23 18:26] obastemur commented on #2160
@Oceanswave looks nice, Thanks!

[2017-01-23 20:00] gabrielschulhof opened #2403 "ld cannot find -lstdc++, even though it's there"
I have
[code]
and yet `./build.sh` fails to link libChakraCore.so:
[code]
What am I missing? I'm running Fedora 24 x64.

[2017-01-23 20:56] obastemur commented on #2403
You may try re-installing `libstdc++-devel`

BTW; could you please share the build steps (all of them) ?

[2017-01-24 07:35] gabrielschulhof commented on #2403
Well, I have
[code]

[2017-01-24 08:04] gabrielschulhof commented on #2403
I've tried reinstalling libstdc++-devel and re-building, and I'm getting the same link failure.

[2017-01-24 13:35] delmarwichnieski commented on #2373
This week, I will test build 15014 and also the new SystemJS 0.20.0 / es-module-loader 2.0.0 release at the same code, to see if I get any errors.

[2017-01-24 22:21] delmarwichnieski commented on #2373
I'm happy to announce that the code is working with SystemJS 0.20.0 and the plugin-babel 0.0.19. No erros in console.

![esmodules_systemjs_babel-plugin_01](https://cloud.githubusercontent.com/assets/5343722/22269400/54916ee6-e272-11e6-8fee-fd6151eff082.png)
![esmodules_systemjs_babel-plugin_02](https://cloud.githubusercontent.com/assets/5343722/22269405/5e414420-e272-11e6-98d4-e6e72ea343e7.png)

[2017-01-25 00:03] obastemur commented on #2386
Fixed by #2396

[2017-01-25 00:03] #2386 closed

[2017-01-25 00:03] obastemur commented on #2392
Fixed by #2396

[2017-01-25 00:03] #2392 closed

[2017-01-25 00:09] obastemur commented on #2397
We have a similar behavior with SM. V8 drops `char(0) and the rest` on string concat.

[2017-01-25 20:58] ljharb opened #2411 "`[1, 2].sort({})` has unhelpful error message"
`[1, 2].sort(true)` and `[1, 2].sort({})` throw a TypeError with the `message` "Array.prototype.sort: argument is not a JavaScript object".

This is unhelpful for `true`, and incorrect for `{}`. A better error message would perhaps be, `Array.prototype.sort: comparefn argument must be a function or undefined".

(discovered while looking into https://github.com/tc39/ecma262/pull/785)

[2017-01-25 22:28] Penguinwizzard opened #2412 "Change runtests.py such that it doesn't consider flags passed to ch"
Currently, runtests.py contains a check as follows ([link](https://github.com/Microsoft/ChakraCore/blob/master/test/runtests.py#L129-L130)):
[code]

This is unclear and overly broad - we were working under the assumption that certain tests were being run, because the -simdjs special case isn't documented elsewhere. This resulted in most of the asmjs tests not being run, due to them having (usually

[2017-01-26 15:55] mathiasbynens opened #2417 "[homebrew] Default install environment gives linker errors"
While working on a Homebrew formula for ChakraCore, I ran into an issue when running `./build.sh --static --test-build --no-icu`. Running that command on its own (outside of the Homebrew sandbox) works fine, but within the sandbox, the linking step fails with the following error:

[code]

Since the command works outside of the sandbox, I figure I’m doing something wrong here. Any ideas what to loo

[2017-01-26 16:16] mathiasbynens commented on #2278
I ran into an issue while putting together a Homebrew formula for ChakraCore: #2417 Any help there would bring us closer to a working formula.

[2017-01-26 20:52] gullerya opened #2419 "Proxy object fails to be a key in WeakMap"
Way to reproduce:
[code]

[2017-01-26 22:01] akroshg commented on #2419
@gullerya , could you verify if this is fixed with this PR #2019 ?

[2017-01-27 08:30] gullerya commented on #2419
I'm not familiar with interim Chakra implementation, so it's hard to me to judge if the changes are really resolving the issue, but from the changes and the tests along the changes are indeed looks like it's addressing the issue.
I'm experiencing this problem on Microsoft Edge 38.14393.0.0 (Microsoft EdgeHTML 14.14393), so it's not shipped yet to this release?
I not - when the fix is expected to b

[2017-01-27 09:46] mathiasbynens commented on #1619
IMHO `-e` and REPL are two different features. One does not imply that the other isn’t needed anymore. I’d like to have both!

Ideally `ch` would support piping as well, e.g. `echo 'print(1+2)' | ch`.

Note that the `--repl` flag doesn’t seem necessary — `ch` could default to the REPL when invoked without getting a file passed to it.

[2017-01-27 12:15] obastemur commented on #2417
IIRC Homebrew pushes for recent libc++ for osx 10.9+..

While installing with homebrew, you should use `--env=std` argument with `brew install ...` command. The rest should be just fine.

[2017-01-27 14:11] MikeMcQuaid commented on #2417
Homebrew lead maintainer here: can you elaborate on what this means as I'm not sure I understand.

We consider `env :std` to be deprecated and anything that requires it to either be a `env :super` or upstream build system bug.

[2017-01-27 14:45] obastemur commented on #2403
Looks like you are missing `libstdc++-static.x86_64` package.

[code]

[2017-01-27 14:59] obastemur commented on #2403
Added Centos/Fedora dependency list. https://github.com/Microsoft/ChakraCore-wiki/pull/21

[2017-01-27 15:23] mathiasbynens commented on #2417
@ilovezfs [figured it out](https://github.com/Homebrew/homebrew-core/pull/9323#issuecomment-275676170):

[2017-01-27 15:25] ilovezfs commented on #2417
Incidentally, the fact that -Os doesn't work "should" be considered a bug worth fixing by upstream and "should" be reported to them.

[2017-01-27 15:28] ilovezfs commented on #2417
Also, it's a bit sketchy a new formula is using libstdc++ and that ENV.cxx11 kills it.

[2017-01-27 15:45] obastemur commented on #2417
I might remember this wrong but Homebrew build sets `mmacosx-version-min` explicitly to latest. No?

[2017-01-27 15:56] ilovezfs commented on #2417
We set the environment variable MACOSX_DEPLOYMENT_TARGET to the same as the host.

[2017-01-27 19:16] JohnathanNorman opened #2422 "Can't build on VS2015 when paths have spaces , missing 'microsoft-scripting-chakra-instrumentationevents.h'"
following the instructions in the doc and I can't build. I also can't seem to find this header file in the repo.

Severity	Code	Description	Project	File	Line	Suppression State
Error		0x2 trying to open file <Studio>.	CoreManifests	C:\Users\bill\Documents\Visual Studio 2015\Projects\ChakraCore-master\ChakraCore-master\manifests\mc	1
Error	C1083	Cannot open include file: 'microsoft-scripting-chakra-

[2017-01-27 20:02] akroshg commented on #2419
The fix is in for chakracore release v1.4 and this fix will certainly be available on the next Edge release. However I am not aware of the timelines and dates for next Edge release. You could try the latest Windows 10 insider preview.

[2017-01-27 20:34] akroshg commented on #2401
@BenMcGarry I am not aware of that.
The latest Windows 10 insider preview should have the fix.

[2017-01-27 20:34] akroshg commented on #2359
Closing this issue.

[2017-01-27 20:34] #2359 closed

[2017-01-27 23:02] #1593 closed

[2017-01-27 23:39] Penguinwizzard commented on #2220
Significantly improved with #2381; however, proper support depends on #2378.

[2017-01-28 11:23] JdeH opened #2428 "Exponential function reports overflow in MS Edge JavaScript"
I am using plotly.js to plot an exponential plot with MS Edge.
It runs fine on Firefox, Safari, Chrome and Internet Explorer, but on Edge it reports the argument of the exp function being out of range, reporting:

The code is compiled from [Transcrypt](http://www.transcrypt.org).

The Python / Transcrypt source is:

[code]

The generated JavaScript, running directly on Edge is:

[code]

You can ru

[2017-01-28 13:51] obastemur commented on #2417
CC build script sets macos deployment target to 10.7 in order not to introduce libc++/libstdc++ mix into ChakraCore dependent solutions. These solutions similarly target 10.7 SDK. Apart from that, there is no particular reason for us to pick libstdc++ over libc++ at the moment. At least, I'm not aware any other reason.

In that case;

Upcoming change to our build script; `if 'MACOSX_DEPLOYMENT_TAR

[2017-01-28 13:58] ilovezfs commented on #2417
@obastemur cool. It would be great if we could build with ENV.cxx11 set, which passes `-std=c++11 -stdlib=libc++` because we've been considering turning that on as a default at some point.

Any idea why ChakraCore isn't happy with `-Os`? That's pretty unusual. In Homebrew, only eleven of the 3,804 formulae have to specify their own optimization setting to override the default `-Os`.

[2017-01-30 07:19] guybedford commented on #2250
Just checking if there's any movement here?

[2017-01-30 07:21] dilijev commented on #2347
@Aqours I think that is not possible, unfortunately.

[2017-01-30 07:33] dilijev commented on #1619
@mathiasbynens - Agreed. On the issue of time investment, though, the `-e` flag would be minimal effort and add a lot of value, whereas the REPL will take a much more significant engineering effort. We would still very much welcome PRs for that, though!

[2017-01-30 08:25] boingoing commented on #2250
Sorry for being late to the party on this one. Doug is right, this is just a simple oversight. Quick fix is over here https://github.com/Microsoft/ChakraCore/pull/2430

[2017-01-30 12:21] obastemur commented on #2417
No particular reason, just a bug. Fixed on CC end. Suspicious behavior though.

All these changes will be part of upcoming xplat release.

[2017-01-30 14:15] ilovezfs commented on #2417
@obastemur nice work! With the patch, -Os succeeded.

However, if I (on macOS 10.11)
[code]
I get
[code]

[2017-01-30 14:22] navidR commented on #1619
Sorry for the delay, I was so busy in recent month, I do have a personal implementation for "-e", let me polish it a little bit, I will submit a patch. I think pipe idea is very good too.

But repl do need a little bit restructuring of code in Ch.

[2017-01-30 18:00] #2401 closed

[2017-01-30 18:09] dilijev commented on #1619
@navidR `p1 | p2` sends stdout of `p1` to stdin of `p2`. In order to get piping to ch to work, you would just have to implement handling for stdin. stdin processing could take an entire script followed by EOT (`^D` / `\x04`) or EOF and basically behave like `-e`, OR (possibly later) behave like a REPL except not to display a prompt until stdin is empty of all input lines (thus effectively behaving

[2017-01-30 18:19] dilijev commented on #2316
Fixed by #2396 in `release/1.4` and `master`.

[2017-01-30 18:19] #2316 closed

[2017-01-30 19:26] liminzhu commented on #2302
@pleath iirc this is fixed a couple of weeks ago?

[2017-01-30 19:30] pleath commented on #2302
Is it passing now? The issue came up over the holidays, and I didn’t see it at the time.

-- Paul

From: Limin Zhu [mailto:notifications@github.com]
Sent: Monday, January 30, 2017 11:27 AM
To: Microsoft/ChakraCore <ChakraCore@noreply.github.com>
Cc: Paul Leathers <pleath@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Microsoft/ChakraCore] test/benchmarks/Octane/typescript.js se

[2017-01-30 20:32] #2417 closed

[2017-01-30 20:35] liminzhu commented on #2302
@pleath may be worth checking again. I just remembered we did something for typescript.js two weeks ago so I thought this was the issue.

[2017-01-30 20:36] obastemur commented on #2403
@gabrielschulhof Thanks for bringing this up. Closing this for now. Feel free to open if the problem persists

[2017-01-30 20:36] #2403 closed

[2017-01-30 20:37] obastemur commented on #2417
@ilovezfs you don't need to replace anything. Right now, on the master branch, if `MACOSX_DEPLOYMENT_TARGET` is set, we don't set `mmacosx-version-min` at all.

[2017-01-30 20:40] obastemur commented on #2417
@mathiasbynens Thanks for opening this up! @ilovezfs @MikeMcQuaid Thanks for all the help to figure out the issues.

Merging the PR closed this issue automatically. Both `-Os` and `osx sdk target` issues should be fixed on the master.

[2017-01-30 21:26] liminzhu commented on #2302
I just built master and run typescript.js on Linux and it was working fine. Maybe it was something you already fixed with re-deferral @pleath ?

[2017-01-30 22:34] #2229 closed

[2017-01-30 23:17] dilijev commented on #2397
In latest Chakra, Edge 38.14393, Firefox Nightly 56, and Chrome 56 - I'm seeing all the same behavior as defined by this modified test case:

[code]

All print PASSED and no failures. So, I'm not sure what difference in behavior you're seeing. I think in JavaScript strings, we don't treat a null character `\x00` as a null terminator (truncating the string at that point), but instead we treat it as

[2017-01-30 23:23] dilijev commented on #2419
Verified the fix in the latest ChakraCore with the following modified test case:

[code]

Output: `{"a":42}`

[2017-01-30 23:23] #2419 closed

[2017-01-30 23:25] dilijev commented on #2422
Since we all use VS 2015 (dev14) and build and test with the same, I'm going to assume this is not a build bug and is most likely a client config issue. I'm tagging this issue with Question so people can chime in to help.

Nothing jumps out at me as a possible explanation.

Which operating system are you using?

@tcare @boingoing Any idea what might be happening here?

[2017-01-30 23:40] obastemur commented on #2397
This is the part has confused me. I'm not sure if v8 version I had checked was the part of latest Chrome. If they all have the same behavior and this doesn't sound like an issue, I also don't see a reason to keep this open on CC repo though.

It's just `char(0)` is NULL (ASCII) and having it represented in a JavaScript String as if it's just another char made me think there is something wrong ther

[2017-01-30 23:40] #2397 closed

[2017-01-30 23:48] ljharb commented on #2397
If v8 is terminating on char 0, then please file a bug with v8 - null characters don't mean anything in JS.

[2017-01-31 03:41] JohnathanNorman commented on #2422
Windows 10 , Self hosting RS2
 I’m simply downloading the zip from GitHub, setting my release and build (x64/release) and compiling.  Same issue on both my desktop and laptop.
Both running VS 2015 enterprise.

From: Doug Ilijev
Sent: Monday, January 30, 2017 3:26 PM
To: Microsoft/ChakraCore
Cc: JohnathanNorman; Author
Subject: Re: [Microsoft/ChakraCore] Can't build on VS2015 , missing'microsoft-sc

[2017-01-31 03:44] dilijev commented on #2422
Alright, I'll also tag this as a Build Bug to get more attention until we can rule out an issue on our end.

[2017-01-31 04:04] #2250 closed

[2017-01-31 08:26] WickedA commented on #2422
Unless I'm missing something, this looks like an issue related to how the build system handles paths with spaces. I can build ChakraCore just fine, either through Visual Studio or msbuild, from paths without spaces.

When the path has a space in it, on the other hand, I get the same errors @JohnathanNorman is:

[code]

Build logs: [Visual Studio](https://gist.github.com/WickedA/15d04dc606599b42bba

[2017-01-31 16:34] JohnathanNorman commented on #2422
Yes that is the issue
 I changed directories and it works now.

From: Andy C.
Sent: Tuesday, January 31, 2017 12:26 AM
To: Microsoft/ChakraCore
Cc: JohnathanNorman; Mention
Subject: Re: [Microsoft/ChakraCore] Can't build on VS2015 , missing'microsoft-scripting-chakra-instrumentationevents.h' (#2422)

Unless I'm missing something, this looks like an issue related to how the build system handles pat

[2017-01-31 20:46] Cellule opened #2437 "Yield register change after reparse for debugger"
If the debugger is attached while running a yielded function, it is possible to modify the YieldRegister while reparsing for debugger.
When resuming the yield, we use the incorrect register and read wrong data resulting in undefined behavior (crash in the repro code).

Repro Code
[code]

[2017-01-31 23:45] dilijev commented on #2422
Good to know there's a workaround! I imagine we should be able to fix the build to work with paths with spaces.

[2017-02-01 00:27] dilijev commented on #85
We've created preview packages using the new dfefinitions from #2266 and published them to the MyGet feed:

.NET: https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore
Native: https://www.myget.org/feed/chakracore-preview/package/nuget/Microsoft.ChakraCore.vc140

We welcome your feedback!

Thanks @matthargett and @pre10der89 for all your help in making this a reality!

[2017-02-01 00:56] Cellule commented on #2035
#2255 fixed the second part of the issue

[2017-02-01 00:56] #2035 closed

[2017-02-01 02:15] dilijev opened #2440 "regex-unicode-CaseInsensitive-all-*.js tests timeout infrequently."
example: https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/osx_osx_debug_static_prtest/499/consoleFull#-6979763608e0874ef-d7b9-48c9-8534-651e263c5754

[2017-02-01 02:30] dilijev opened #2442 "Wasm: [Legacy] Build Failure: Wasm::SectionInfo default constructor could not be generated (branches: release/1.4, master)"
https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.4/job/daily_dev12_x64_debug/46/consoleFull#444524246a82fefab-f698-416f-8fca-58544c94cd4e

[code]

[2017-02-01 02:31] dilijev commented on #2442
@Cellule Can you look into this?

[2017-02-01 06:25] matthargett commented on #85
Our pleasure! Thanks to @bluejeans for encouraging us to collaborate on upstream projects in the process of making an awesome next-generation experience for our customers 😃

[2017-02-01 22:49] #2442 closed

[2017-02-02 01:55] Cellule opened #2452 "Wasm/Asm.js: Entrypoints sharing"
We have been working under the assumption that every Function object for the same FunctionBody share the same entry points.
This is wrong in some scenario, including when we queue for jit and if the type of the function is changed (e.g.: adding a property to 1 of the function)
This mixed with deferred parsing in WebAssembly can have some unforeseen  consequences.
#2451 fixes the known issues super

[2017-02-02 02:20] #2440 closed

[2017-02-02 11:13] yGuy commented on #1496
As of today with the current Fast Ring version of Edge (40.15025.1000), I am still seeing this issue, though the behavior changed slightly: In my test-case the problem reproduces as soon as I open the developer tools. It does *not* happen anymore when the tools stay closed. Once they are open, the constructor does not return the instance but the class. Is this expected? Is there a different versio

[2017-02-03 03:01] dilijev opened #2462 "xplat: Although Python 2 is required, allow build.sh to take a path to a Python 2 binary in case `python` refers to Python 3."
From discussion in #2420

Enable support environment configurations such that `python` will invoke a Python 3 binary. As long as they have a Python 2 binary installed, build.sh (which invokes jstoc.py) should still work, or provide reasonable instructions for enabling it to work which doesn't require rewriting the script.

This requires detecting whether `python` is a Python 2 binary. If so, use i

[2017-02-03 03:01] dilijev commented on #2462
@greysAcademicCode might be interested in tackling this issue.

[2017-02-03 03:34] dilijev opened #2463 "Operators/instanceof.js timed out on OS X (might consider marking test as Slow)"
https://ci.dot.net/job/Microsoft_ChakraCore/job/release_1.3/job/osx_osx_debug_static_prtest/9/consoleFull#1955843533c7453dd6-bf4f-4ae9-9fca-50f9ec7ab19e

[code]

[2017-02-03 12:51] greysAcademicCode commented on #2462
The logic should probe both `python` and `python2` commands while looking for the required python 2.x executable.

[2017-02-03 13:52] pallammadhukar opened #2464 "ChakraCore support to Windows 8.1 store apps"
Hi Team,

Do you have plans to support chakracore for Windows 8.1 store apps,

Thanks,
Pallam Madhukar

[2017-02-03 15:34] obastemur commented on #2299
This is no longer an issue. @alexhultman could you please contribute this sample as a test case?

Create a new folder under `test/native-tests` and copy Platform.js and sample.cpp from `test-char`. Update the sample.cpp with your code above. `JsCreatePropertyIdUtf8` -> `JsCreatePropertyId`

[2017-02-03 15:34] #2299 closed

[2017-02-03 16:27] obastemur commented on #2463
Finished running the same config ~2000 times and avg was ~4secs. I would like to consider this as a temporary CI slowdown. We had similar problems in the past with the macOS CI.

@dilijev Thanks for opening this. Closing for now. If it repeats on the same test case, we may have more reasons to suspect from something else.

[2017-02-03 16:27] #2463 closed

[2017-02-03 16:51] mathiasbynens commented on #2278
ChakraCore can now be installed with Homebrew! `brew install chakra {--with-icu4c}`

Please consider adding the following item to the ChakraCore release checklist:

1. send a PR to update https://github.com/Homebrew/homebrew-core/blob/master/Formula/chakra.rb

[2017-02-03 16:55] mathiasbynens commented on #2278
Also, consider hosting pre-built binaries for each OS/architecture somewhere official. This would make it easier for developers to test different ChakraCore versions: instead of having to build them all from source, they could just `wget` and extract a `.tar.gz` file. (For example, the Homebrew formula could then be updated to just download + extract instead of building from source.)

[2017-02-03 19:31] angshuman opened #2466 "Modification of a object inside javascript"
I have a C# object that I convert to javascript and pass it on to chakra. The javascript code can modify the object. For example

element.active = false;

Is it possible to get a notification of the change/or the new state of the object?

[2017-02-03 19:40] pleath commented on #2466
@bterlson am I right in thinking Object.observe is DOA? Sounds like that is exactly what @angshuman is looking for. Is there a recommended replacement? My first inclination is to have the JS add a setter to the object, if the goal is just to track the toggling of this one property.

[2017-02-03 19:45] bterlson commented on #2466
Object.observe is indeed dead, though it's questionable that is the best solution for this. Setters are the typical way if you know the keys users will be setting in advance. If you don't, proxies are the answer.

[2017-02-04 00:07] dilijev commented on #2462
True. Although, depending on the system it might also be py2 versus py3 instead of python2 and python3 (or maybe that's just on Windows -- my Ubuntu VM has them at python2 and python3).

[2017-02-04 01:52] #1893 closed

[2017-02-04 02:02] dilijev commented on #637
@bterlson pointed me toward this discussion https://github.com/tc39/ecma402/issues/57

[2017-02-04 02:06] ljharb commented on #637
Could they be implemented as arrow functions, or do they need access to `this`?

[2017-02-04 02:21] mrkmarron opened #2471 "Symbol.for and strings with embedded nulls"
Symbol.for internally uses wcscmp for comparing contents of strings used as keys. Thus the following prints  `true` when it should be `false`:
[code]
Also verified that v8 prints `false`.

[2017-02-04 02:33] dilijev commented on #637
Unsure. I'll need to understand the spec and the linked discussion a bit better first.

[2017-02-04 02:33] dilijev commented on #637
For myself for future reference: [Intl documentation on MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Collator/compare)

[2017-02-04 06:05] ljharb commented on #2471
Wait, that should print `true` everywhere. Null chars should not be special.

[2017-02-04 07:09] mrkmarron commented on #2471
The problem is that any chars after the \0 are ignored (perhaps my example was not very clear). Consider the following program:
[code]
In the last line the lookup incorrectly determines the keys `'B\0AA'`  and `'B\0ZZ'` are equal due to null char termination in wcscmp (which is being used for the key comparison).

[2017-02-04 08:48] ljharb commented on #2471
ahh thanks, i missed the capital Z vs lowercase z. Thanks for clarifying :-)

[2017-02-04 09:16] mathiasbynens opened #2472 "Support -v / --version in `ch` binary"
There is currently no way to figure out the version of a given `ch` binary built in release mode:

[code]

Please consider making `-v` / `--version` (and possibly `-h` / `--help`) output something useful.

[2017-02-04 15:01] greyltc commented on #2462
FYI--
[python 2.x is EOL in 2020](https://www.python.org/dev/peps/pep-0373/)
and
[Ubuntu 18.04 LTS and children won't ship with a 2.x installed](https://wiki.ubuntu.com/Python)

Why not move this project to python3 now and be done with 2.x altogether?

[2017-02-05 19:22] Yaffle commented on #2428
It seems, that `(42).toExponential(undefined)` throws an error in IE 11 and in Edge, according to spec it should work the same way as with `0` instead of `undefined`

[2017-02-05 23:19] dilijev commented on #2462
2020 is still a fair ways off, but I see your point. I don't have a strong opinion on it other than inertia and engineering time maybe being better spent in other places. @obastemur thoughts?

[2017-02-05 23:27] dilijev commented on #2462
For the purposes of this issue, making this change to the script will enable easily switching the requirement to python 3 later, so this work will not be counterproductive no matter what the ultimate decision is on version requirement.

[2017-02-05 23:29] dilijev commented on #2462
As a separate work item, updating the rest of the python scripts to be compatible with both python 2 and python 3 is a good goal for now.

[2017-02-05 23:39] dilijev commented on #2472
Duplicate of https://github.com/Microsoft/ChakraCore/issues/109

[2017-02-06 09:35] mathiasbynens commented on #2472
Whoops, apologies! My GitHub issue-searching skills are lacking…

[2017-02-06 09:35] #2472 closed

[2017-02-06 14:23] obastemur commented on #109
@bterlson @dilijev What if someone compiles CC from source code distro? How about starting with a basic version support and then if we want to include everything else, improve it?

Besides, we have separate Github branches per each release.

[2017-02-06 14:40] d4nnyk opened #2475 "[Question] Running wasm code in ch.exe?"
Does running wasm requires special build/runtime flags?

Running `ch.exe test.js` gives error like `ReferenceError: 'WebAssembly' is undefined`

[2017-02-06 23:25] mkhatib opened #2479 "history.pushState updates page path to /undefined when optional URL is undefined"
[Reproduce here](https://output.jsbin.com/fuqukov/quiet).

Steps to reproduce:
* Call `history.pushState(anything, anything, undefined)`
* Notice the page path changes to `/undefined`

### Expected Behavior
The third URL parameter is optional and the current path should be used when URL is not passed.

### Versions
Edge 25.10586.672.0
EdgeHTML 13.10586

[2017-02-06 23:40] liminzhu commented on #2479
Hi @mkhatib , thanks for reporting the issue! I believe this is a browser API issue rather than a JavaScript issue so filing the bug on Edge issue tracker through [these steps](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues) would be the better action. Feel free to re-open the issue if it's determined as a Chakra issue. Thanks!

[2017-02-06 23:40] #2479 closed

[2017-02-06 23:43] mkhatib commented on #2479
Thanks @liminzhu - filed: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10825440/

[2017-02-06 23:47] dilijev commented on #2475
As per the [wasm tests](https://github.com/Microsoft/ChakraCore/blob/master/test/wasm/rlexe.xml), try the `-wasm` flag. @Cellule might have more context. I think it's not enabled by default yet.

[2017-02-06 23:59] dilijev commented on #109
At the moment we could easily expose MAJOR.MINOR.PATCH since they're [encoded directly in the source already](https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/ChakraCoreVersion.h#L18-L20).

As for branch, commit hash, and commit date, the build would have to extract that information from Git metadata at build time. I think we already do this to some extent for our official builds bec

[2017-02-07 00:25] liminzhu commented on #2365
Closing as the question seems to be addressed already.

[2017-02-07 00:25] #2365 closed

[2017-02-07 00:32] angshuman commented on #2466
Proxies look very interesting! Thanks. However is it possible in the C# land to create a proxy with a handler and pass it to the JS world?

[2017-02-07 01:07] Cellule commented on #2475
@dilijev is correct, at this time you need to pass the flag `-wasm` to add the global `WebAssembly` object in the script to make it available to you.
The pr #2447 is trying to make it on by default in master (needs to update test baseline files before it's ready to merge)

[2017-02-07 02:08] dilijev commented on #109
Example of the `Chakra.Generated.BuildInfo.props` file that is generated in `pre_build.ps1` and consumed by the build:

[code]

[2017-02-07 02:21] dilijev commented on #109
I guess the question is: is `<major>.<minor>.<patch>` enough for the scenarios where people are asking (@bterlson @mathiasbynens), or is the other metadata significant enough that we should put more thought into it at this time? Making the `-v` with only the `<major>.<minor>.<patch>` info is trivial and foolproof as it's data that is definitely available at compile time no matter what.

[2017-02-07 02:50] dilijev commented on #2472
@mathiasbynens - Note that `-?` displays help.

[2017-02-07 05:31] pallammadhukar commented on #2464
Hi ChakraCore Team,

We have existing Windows 8.1 applications and we wanted to run those applications on windows 8 .1and windows 10. For windows 10 we are using Chakra engine and we ideal for windows 8.1. Please suggest me?

Thanks,
Pallam Madhukar

[2017-02-07 08:05] mathiasbynens commented on #2472
@dilijev Not in release mode builds, it seems:

[code]

`-h` / `--help` is a more conventional, less surprising argument name. Please consider changing it + supporting it in release mode builds :)

Anyway, I meant to say that `-?` (for test builds) doesn’t output any version information either.

[2017-02-07 08:19] mathiasbynens commented on #109
I was only talking about `ch`, indeed.

The `<major>.<minor>.<patch>` info would be significantly more useful than the current output, which is nothing at all. :) For the use case of https://github.com/mathiasbynens/homebrew-ecmascript (which would only host official releases) it would be sufficient.

Being able to differentiate between a dev build and an official release would be useful too, thou

[2017-02-07 12:35] d4nnyk commented on #2475
`-wasm` was expected, but I tried only on release build.

Seems like on debug build it works, while release build it doesn't.

[code]

[code]

May be fix it?

[2017-02-07 17:54] Cellule commented on #2475
@d4nnyk Release builds do not support config flags. You can use test builds which has most debug/config option and optimized build.

[2017-02-07 18:43] d4nnyk commented on #2475
@dilijev  @Cellule Thank you for the info. I will use debug build as of now and wait for wasm to be enabled by default :)

[2017-02-07 18:43] #2475 closed

[2017-02-07 19:48] obastemur commented on #2462
python 2.x is EOL in 2020
and
Ubuntu 18.04 LTS and children won't ship with a 2.x installed
Why not move this project to python3 now and be done with 2.x altogether?

Wasn't that also part of the 12.04 / 14.04 LTS .... plans ? https://wiki.ubuntu.com/Python/FoundationsQPythonVersions

Once default `python` on Debian/Ubuntu LTS (or candidate) is no longer running our python scripts we may update/fi

[2017-02-07 19:51] obastemur commented on #2220
@Penguinwizzard #2473 might take care of this? We have some tests there not yet running on xplat. Added a xplat-todo there.

[2017-02-07 20:46] anba opened #2481 "Crash when yielding variable in TDZ in CatchParameter default expression"
Version: cb7817bda7e4b265e7a7364641123e20204facfd
Platform: Ubuntu x64

Test case:
[code]

Stack trace from gdb:
[code]

[2017-02-07 20:46] anba opened #2482 ""length" property assertion in JSON.cpp can be triggered with proxy"
Version: cb7817bda7e4b265e7a7364641123e20204facfd
Platform: Ubuntu x64

Test case:
[code]

Triggers this assertion:
[code]

[2017-02-07 20:46] anba opened #2483 "Crash/Assertion error when revoking proxy during proxy operation"
Version: cb7817bda7e4b265e7a7364641123e20204facfd
Platform: Ubuntu x64

Test case:
[code]

Results in nullptr-crash resp. assertion error in debug mode:
[code]

Similar issues are present for the other proxy traps.

[2017-02-07 20:46] anba opened #2484 "Crash/Assertion error when changing class prototype during super-call with proxy"
Version: cb7817bda7e4b265e7a7364641123e20204facfd
Platform: Ubuntu x64

Test case:
[code]

Results in nullptr-crash resp. assertion error in debug mode:
[code]

[2017-02-07 21:24] dilijev commented on #2472
@mathiasbynens That's correct, we don't support any flags in release builds. That decision is because of configuration flags but run-mode flags like printing help or version info should probably be supported in both. Thanks for reminding that any change in this area should enable those flags for release builds as well.

[2017-02-07 21:25] dilijev commented on #2472
(Also `-?` is probably because of the convention of `/?` in windows cmd commands. We support the leading slash for parameters on Windows only as a legacy feature, so in that sense it still makes sense. There's no conflict with `-h`, `--help`, `-v`, or `--version` so we can add those.

[2017-02-07 22:43] ThomsonTan commented on #109
To differentiate dev/private builds and help track the origin, I think it would also be useful if we add the build machine name to the version string (just expand some machine environment name in msbuild project file).

[2017-02-07 22:54] Penguinwizzard commented on #2481
This test case leads to the same crash on windows chakracore. The crash is immediately due to the threadContext reference on the scriptContext is null, but is needed for the exception handling.

[2017-02-07 23:20] bterlson commented on #109
@dilijev major minor patch is better than nothing but doesn't help differentiate intermediate builds which was the motivation for opening this in the first place.

[2017-02-07 23:53] suwc commented on #1496
Tried both (long and short) test cases above as JS code in HTML files, opened through Node http-server in Edge 40.15026.1000.0 with F12 opened. Couldn't repro. Do you have a repro you can share? Thanks!

[2017-02-08 00:06] dilijev commented on #109
@bterlson - Fair enough. It seems like we should add major minor patch ASAP, and continue to think about the best way to provide additional information. At present, it seems like it's easier to provide more information from official builds, and not so much from dev builds, but the dev builds are the ones for which it is more important to have more information.

[2017-02-08 01:25] ThomsonTan opened #2488 "-off:constfold is broken for many inline built-ins"
This is a follow up in https://github.com/Microsoft/ChakraCore/pull/2267.

[2017-02-08 02:44] dilijev commented on #109
I wasn't sure whether to include additional text or just the `<major>.<minor>.<patch>` so I went with the simplest option. This also brings up another point. If this output is to be consumed by a tool which expects a short-ish version number, wouldn't we want to keep as minimally verbose as possible? All of the information we're talking about adding (commit, build number, machine name, prefix indi

[2017-02-08 20:48] RByers opened #2494 "Built-in functions in Edge have 'prototype' properties"
I'm not sure if this belongs here or in the Edge bug tracker.
Built-in functions have a 'prototype' property in Edge, but no other browser (eg. `alert.hasOwnProperty('prototype')` is true in Edge, but false in every other browser).

I think this is defined by [CreateBuiltinFunction](https://tc39.github.io/ecma262/#sec-createbuiltinfunction) which doesn't say anything about adding a property named

[2017-02-08 21:53] Rastaban opened #2495 "Update Catch library to avoid compiler warning C4244"
When the next version of MSVC is released you will start getting a C4244 warning from the Catch library.  This has been addressed already in Catch, so you may want to move to the latest.  (see comments from philsquared on https://github.com/philsquared/Catch/pull/756)

[2017-02-08 22:11] akroshg commented on #2495
Thanks @Rastaban, appreciate the heads up.
I'll look into it and update it for the next chakracore release.

[2017-02-09 00:14] akroshg commented on #2428
@JdeH thanks for reporting the issue. Agreed with @Yaffle, that ```toExponential ``` is not handling ```undefined``` correctly.
Until the fix is made to ChakraCore sources, could you try workaround in the plotly-latest.min.js code?
if you change
```e:function(t,e){return t.toExponential(e)}```
to
```e:function(t,e){return t.toExponential(e===undefined ? 0 : e)}```
This should get rid of the range

[2017-02-09 00:23] ThomsonTan commented on #2428
@akroshg, convert `e===undefined` to 0 might not conform to the spec which need to output digits as possible as we can. I send a PR for this https://github.com/Microsoft/ChakraCore/pull/2497.

[2017-02-09 00:53] dilijev commented on #109
Copying some discussion from #2490 which seems broader than the PR and applies more to this general issue:

[2017-02-09 02:52] dilijev commented on #2472
@tcare Believes that this is potentially misleading as the version being reported is really just the version of ch, not the version of ChakraCore that ch loads. At a minimum, we should report `ch version 1.4.1` at this time and do the right thing. Will discuss with others on the team for opinions about how to proceed before merging this.

[2017-02-09 03:09] akroshg commented on #2428
@ThomsonTan correct, I was merely suggesting as a workaround for avoiding the range error.

[2017-02-09 04:53] dilijev commented on #2494
@RByers `alert` is an API defined by the browser host, but this might still be because of the implementation of a hosting API we expose. While we check on that, can you reconfirm whether you also see this behavior for any built-in ECMA 262 functions like `Object.prototype.hasOwnProperty` itself?

Here's a test case I quickly threw together which you could extend.

[code]

Output:

[code]

[2017-02-09 04:55] dilijev commented on #2494
Adding external because it might be something which needs fixing in Edge.

If you wanted to, you could also [file an issue on Edge](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues) so they can track this.

[2017-02-09 07:32] JdeH commented on #2428
Thanks for the quick reaction!

[2017-02-09 07:32] #2428 closed

[2017-02-09 08:22] hashseed commented on #1794
FWIW I don't think a debugging feature such as code coverage should be included in the language spec. If we do, it probably makes sense to start out with simple things such as Error.stack.

[2017-02-09 10:33] dilijev commented on #1794
@hashseed Agreed

[2017-02-09 14:07] michabaur commented on #1496
I'm a colleague of @yGuy . We have prepared a repro that works against our public URLs: https://gist.github.com/michabaur/2a627a3e7a5703dbd682b6ef3274e5dc. Just extract the two files, open test.html, and then open the dev tools. For us, this breaks after a few seconds in Edge 40.15025.1000

[2017-02-09 16:32] RByers commented on #2494
Thanks.  Yes the built-in functions are fine.  I should have thought to check that before guessing that this was a Chakra issue.  Filed [an Edge issue here](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/10885992/).

[2017-02-09 19:51] suwc opened #2499 "ES6 constructor returns class instead of object while switching F12 on or off"
https://github.com/Microsoft/ChakraCore/issues/1496#issuecomment-276930383

Repro here: https://gist.github.com/michabaur/2a627a3e7a5703dbd682b6ef3274e5dc

Also repros without 'require.min.js'.
No repro if class is defined/declared in the same scriptContext.

[2017-02-09 22:36] dilijev commented on #109
@liminzhu Also, see the implementation I just added to the PR which reads the version of ChakraCore.dll directly from the binary. That's probably the best way for an implementer to know.

[2017-02-09 23:02] liminzhu commented on #109
It looks like a good sample until we have the `ChakraCoreVersion.h`.

[2017-02-09 23:16] akroshg commented on #2482
Thanks @anba, the assert is indeed wrong. PR is on the way.

[2017-02-09 23:43] dilijev commented on #109
@bterlson @mathiasbynens  #2490 Has landed in `release/1.4` for v1.4.1.

Output on Windows:

[code]

Output on Linux:

[code]

# Additional Work Items
(Will be followed-up in `master`.)

* [ ] Windows Official Builds: Additionally report branch, hash, build number, build date.
  * Trivially, this could be the file description directly: `release/1.4:6b404ca7761420ec8634ce7888c6fd2ca1ed01f5.00009.64

[2017-02-09 23:47] suwc commented on #2499
https://github.com/Microsoft/ChakraCore/pull/2504

[2017-02-09 23:48] dilijev opened #2505 "Follow-up items: ch -v and --version"
Follow-up from issue #109
Initial implementation merged into `release/1.4` in time for v1.4.1. (PR #2490)
See also issue #2472

---

@bterlson @mathiasbynens #2490 Has landed in `release/1.4` for v1.4.1.

Output on Windows:

[code]

Output on Linux:

[code]

# Additional Work Items
(Will be followed-up in `master`.)

* [ ] Windows Official Builds: Additionally report branch, hash, build number, bu

[2017-02-09 23:48] #109 closed

[2017-02-09 23:52] dilijev commented on #109
@bterlson @mathiasbynens #2490 Has landed in `release/1.4` for v1.4.1.

Output on Windows:

[code]

Output on Linux:

[code]

[2017-02-10 00:45] akroshg commented on #2483
@anba, this is a good find. I'll work on this one.

[2017-02-10 01:08] #2499 closed

[2017-02-10 01:10] suwc commented on #1496
@michabaur @yGuy thanks for the test case.
Fix is merged in release/1.4

[2017-02-10 01:24] liminzhu commented on #2464
You can embed ChakraCore on Win8.1 store apps similar to using Chakra on Win10. There are some APIs that are Chakra-only though, e.g. JsStartDebugging and JsProjectWinrtNamespace.

[2017-02-10 07:37] dmunch commented on #2186
Looks nice and handy! Any estimation on when this could be available?

[2017-02-10 08:45] r12f opened #2510 "Following "Embedding ChakraCore" and meet compile errors while building on windows"
The error I met looks like following:

And it is because of the

The reason is because of the uint16_t is not defined in the following function in ChakraCore.h.
[code]

The root cause of this issue is that, I am using Visual Studio 2015 and the _MSC_VER is 1900, so the following check will fail, and uint16_t will not be defined.
[code]

[2017-02-10 08:50] r12f commented on #2510
After changing the "_MSC_VER < 1900" to "_MSC_VER <= 1900", this issue is gone. Both the sample project and ChakraCore builds well.

The pull request is here: https://github.com/Microsoft/ChakraCore/pull/2511.

[2017-02-10 09:37] PeterW5 opened #2512 "Number of significant figures displayed when converting floats to base 5 with (float).toString(5) differs from other engines"
Tested with the following:

(0.88).toString(5)
(1.88).toString(5)
(10.88).toString(5)

and the results were:

0.420000000000000000000004
1.41444444444444444444443
20.4200000000000000000001

The result for (1.88).toString(5) seems to be incorrect.  Was expecting something closer to 1.42

[2017-02-10 18:30] bterlson commented on #2482
I think this is fixed now?

[2017-02-10 18:31] #2482 closed

[2017-02-10 18:32] akroshg commented on #2482
@bterlson yup.

[2017-02-10 19:34] bterlson commented on #2512
[code]

Looks like our results are half-way between v8 and jsc/sm. I haven't consulted the spec yet.

[2017-02-10 19:45] liminzhu commented on #2466
@angshuman I don't think the [current API surface](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Reference) supports creating a proxy natively, but you can walk around this by calling,

[code]
And this case you can get the handler to the proxy object in C#.

[2017-02-11 01:42] dilijev commented on #2512
`

Dat precision tho

[2017-02-11 01:45] dilijev commented on #2512
In base 5, `1.414...` is very close to `1.42` -- it looks like this is simply a matter of sig-figs and rounding.

[2017-02-11 01:46] dilijev commented on #2510
@r12f Thanks!

[2017-02-11 01:54] dilijev opened #2517 "Exit code -11 causing xplat tests to fail intermittently"
Example:

https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/osx_osx_debug_static_prtest/549/consoleFull#-1719471233c7453dd6-bf4f-4ae9-9fca-50f9ec7ab19e

Snippet:

[code]

(Test output is correct, it's only the exit code that's a problem.)

Tor reference -11 = 0xFFFFFFF5, but I haven't gone looking for the error code yet.

[2017-02-11 02:01] jianchun commented on #2517
Not sure if relevant, we found wasm code has software write barrier bugs. I'm working on fixing those issues.

[2017-02-13 03:09] still-dreaming-1 commented on #1794
To put this into perspective you are saying an engine specific implementation would be a bad idea because it is engine specific, but your concerns actually run deeper than that. You actually think it would be a bad idea for this to be included in the language spec and therefore required of all engines. Why do you think that? So far the only clue I have been given is that it is considered a debuggi

[2017-02-13 04:57] hashseed commented on #1794
Setting break points is not part of the language either.

[2017-02-13 15:46] still-dreaming-1 commented on #1794
@hashseed Ok Does different JavaScript engines provide their own debugging implementation or is the ability to set a break point coming from a separate tool that is not part of the language and independent of the particular engine being used?

[2017-02-13 17:16] hashseed commented on #1794
come again?

[2017-02-13 19:20] dilijev commented on #1794
I think a dead issue on ChakraCore is not the best place to discuss this. Maybe open an issue on https://github.com/tc39/ecma262 (the ECMAScript spec repo).

From our perspective, this comes down to a spec issue. In an effort to be standards-compliant, when it comes to the engines themselves (not the tooling built around them), language innovation happens in the spec first, then the engines implem

[2017-02-13 19:27] dilijev commented on #1794
@hashseed I think his question relates to the level at which breakpoints are supported in the engines. They are not a spec feature, but break points are implemented by tools which use the engines (like the browsers, VS Code, etc.). Is there any standard around how this should be done or is it a tooling issue which is supported by some other standard? (I believe it is the latter -- at least as far

[2017-02-13 22:08] #2483 closed

[2017-02-13 22:58] bterlson commented on #1794
If you want to propose a language feature for ECMAScript, the right approach is to follow ECMA262's [contributing.md](https://github.com/tc39/ecma262/blob/master/CONTRIBUTING.md). Notably, to begin the process you should bring your ideas to es-discuss rather than simply opening an issue.

I'm not clear on what is being proposed here, though. The spec is not in the business of telling implementatio

[2017-02-13 23:15] dilijev commented on #1794
@still-dreaming-1, I apologize for misinterpreting your question at first as a language spec issue, and then getting muddled in the details of a language change. It's clear now from the discussion here that this doesn't necessarily fall in the realm of the ECMAScript spec and is a suggestion for a feature along the lines of other existing debugging features.

Since we didn't have any plans to supp

[2017-02-13 23:44] dilijev commented on #2328
Closed by #2465

[2017-02-13 23:44] #2328 closed

[2017-02-14 13:22] still-dreaming-1 commented on #1794
No problem, these things are complex things to reason about. I think it is more helpful to explain the end result I am hoping to have rather than the details of how I want an engine to expose these capabilities because that helps people to think in terms of the reason why it would be useful.

From JavaScript code, the same code that is my project, I would like to be able to create multiple, indepe

[2017-02-14 20:33] #2510 closed

[2017-02-15 00:11] jianchun commented on #2517
@MikeHolman There is a release order dependency. FunctionEntryPointInfo cleanup needs to deregister debug data (only on xplat). Debug data exists in native code generator managed memory. ScriptContext close cleans up known FunctionBodies/EntryPointInfos then destroys native code generator. In your case the order doesn't guarantee -- When cleaning up your FunctionEntryPointInfo from finalizer, scri

[2017-02-15 01:27] MikeHolman commented on #2517
Ah, I see. Ok I guess we should be registering the source info (and unregistering when it goes out of scope). Also, where exactly is the issue happening for unregistering debug data?

[2017-02-15 03:03] saschanaz opened #2530 "Detect unhandled promise rejection"
http://www.ecma-international.org/ecma-262/7.0/#sec-host-promise-rejection-tracker

The following should log an error or warning on console:

[code]

(Moved from [UserVoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/16665397-detect-unhandled-promise-rejection?tracking_code=4f4e218df62afae7db37fb5be5f4ff1c))

[2017-02-15 09:16] alexzhaosheng opened #2532 "ES6: Create a lot of instances: error Object doesn't support property or method"
I've noticed there's a similar issue has been reported here: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/6664966/, but it's marked "NOT REPRODUCIBLE".  Therefore I'd like to report it here with more detailed information:

I have a class like this:

[code]

We have a really complex system, therefore there will be thousand of Point instance, and after a lot of instances are

[2017-02-15 17:55] jianchun commented on #2517
https://github.com/Microsoft/ChakraCore/blob/e5ef2d118ad948afe51cd369a7117425ee914d23/lib/Common/Memory/amd64/XDataAllocator.cpp#L178 (search callers)

Don't know if there is unregistering code. I recall it is weakly referenced in sourceList.

P.S. Not sure if there are other features relying on this. E.g., script debugger updates all scriptContext->sourceList->FunctionBodies on debugger attach/de

[2017-02-15 19:42] akroshg commented on #2484
There are two problems here when I investigated further.
The Reflect.construct invokes the get trap for the proxy, which shouldn't happened.
second problem, the super tries to ```new``` the new.target which failed for proxy (and return nullptr).  According to spec we need to do the Constuct with new.target.
I couldn't understand much about super. @suwc has more knowledge about this.

[2017-02-15 20:18] ianwjhalliday commented on #2532
@suwc this sounds familiar. Was this a JIT bug that was fixed a while back?

@alexzhaosheng I cannot repro in the console using ch.exe.  Is there more code to your repro? This is what I tried:
[code]

[2017-02-15 21:15] dustinsoftware opened #2536 "Array destructuring throws an error"
This throws an error: Destructuring expressions can only have identifier references
[code]

This works:
[code]

Microsoft Edge 38.14393.0.0
Confirmed working in Firefox and Chrome

[2017-02-15 21:51] suwc commented on #2532
This appears to be duplicate of the issues that have been fixed:

(back in Sept. '16) ES6 constructor returns class instead of object
https://github.com/Microsoft/ChakraCore/issues/1496

and

(2/14/17) ES6 constructor returns class instead of object while switching F12 on or off
https://github.com/Microsoft/ChakraCore/issues/2499

@alexzhaosheng Please advise if F12 is involved in your repro case.

[2017-02-15 21:59] ianwjhalliday commented on #2536
Note this repros in any context, not just class methods.  Minimal repro at global scope:
[code]

[2017-02-16 00:48] akroshg commented on #2536
below code works
[code]
but this does not.
[code]

[2017-02-16 01:02] akroshg commented on #2536
ah, found it.
@dustinsoftware thanks for reporting this. Fix is on the way.

[2017-02-16 06:45] alexzhaosheng commented on #2532
@ianwjhalliday  I've also tried the similar testing code and failed to reproduce. It only happens inside our system. Our system is a complex SVG based engineering drawing platform which uses quite a lot resources, I assume this bug only happens when browser is under heavy load

@suwc  It happens no matter F12 is pressed or not.  And it happens when visual studio debugger is attached with Edge

[2017-02-16 08:44] jaredwy opened #2541 "[JSRT] Promise API enhancements"
I apologies if this is the wrong place to ask this question.  I couldn't find a more appropriate place.

I am looking to create a function from C++ that will return a promise to the callee in JS. Then be able to resolve/reject it when a async task has been completed natively. Something similar to `v8::Promise::Resolver`

I can't see anything in the docs, nor the source. Is there a way to do such a

[2017-02-16 17:17] suwc commented on #2532
@alexzhaosheng Based on your comment "And it happens (*only*?) when visual studio debugger is attached with Edge", this looks like https://github.com/Microsoft/ChakraCore/issues/2499, which was fixed only a couple of days ago.

[2017-02-16 20:04] liminzhu commented on #2541
I don't believe we have it in JSRT now. These's an active discussion about this on [Gitter](https://gitter.im/Microsoft/ChakraCore?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&utm_content=badge).

@galvesribeiro @ReubenBond @boingoing @dilijev maybe we should continue in this issue?

[2017-02-16 20:07] jaredwy commented on #2541
Great thanks. I can ask my follow up question in gitter.

[2017-02-16 20:13] akroshg commented on #2481
@anba thanks for reporting this. I understood the issue. The fix is coming soon.

[2017-02-16 20:15] galvesribeiro commented on #2541
For the record, that is the API we are reffering to https://v8docs.nodesource.com/node-7.4/d3/d8f/classv8_1_1_promise.html

[2017-02-16 21:31] simply-jos opened #2546 "Question: Binding properties to C++?"
Is creating a Proxy via JsDefineProperty really the only way to do this? That seems really inefficient, accessing the get/set members of the proxy each time, dispatching a function call, etc?

Am I wrong in assuming that it's using the Proxy backbone, and it's handled more efficiently internally?

Or is this something that would traditionally be done lower level than JSRT? Am I wrong in using only

[2017-02-16 23:09] liminzhu commented on #2530
The spec reads as `implementation-defined` behavior. Edge & ch.exe don't give warning/error, Chrome (v8) throws, and Node 6 (also v8) gives warning. @bterlson is this supposed to be host-defined behavior or JS VM-defined behavior?

[2017-02-16 23:17] alexzhaosheng commented on #2532
@suwc  Sorry I didn't make myself clear.
This problem happens when:
1.Open the site in Edge without develop tools window and Visual studio debugger (pressing F12)
2.Open the site in Edge with develop tools window
3.Open the site in Edge when Visual studio debugger is attached

So basically it happens in all situations.

I'd be very happy to do the test again after #2499 being released, could you t

[2017-02-16 23:28] suwc commented on #2532
@alexzhaosheng Sorry I cannot comment on release dates. (Feel free to search "Windows 10 Creators Update" though)
Could you share your Edge version number?
If it is 38.14393.0.0 or something like that, that is "Anniversary Update", in which #1496 and #2499 are expected to repro.

[2017-02-16 23:46] ianwjhalliday opened #2549 "Proposal: Become C++11 code base, Remove Support for VS 2013 builds"
_TL;DR: Remove VS 2013 support in ChakraCore so we can use the full C++11 feature set, following suit with the rest of the C++ community._

# Proposal

Drop support for ChakraCore build using VS 2013 tools.

Require VS 2015 toolset.

# Proposed Plan

Remove VS2013 support as part of v2.0 release of ChakraCore.

Maintain VS2013 support in v1.x release branches.

# Impact

No impact on JSRT consumer

[2017-02-16 23:50] liminzhu commented on #2541
Let me post a short summary for the conversation with Orleans folks (@galvesribeiro @ReubenBond) and @jaredwy on Gitter from [here](https://gitter.im/Microsoft/ChakraCore?at=589e70b5567b0fc8138d1ba0) to [here](https://gitter.im/Microsoft/ChakraCore?at=58a63573de50490822da2d55) and let's discuss further matters here to preserve context. And folks, feel free to suggest edits if I miss anything.

The

[2017-02-16 23:53] #2517 closed

[2017-02-16 23:56] liminzhu commented on #2541
Okay, my takes,

1. JsCreatePromise - Makes sense. Only concern is that this is already doable by running a script even if it's not as handly.
2/3.

[2017-02-17 00:03] jaredwy commented on #2541
Hi all. Going to attempt 1 and 2 from at least a c++ side this weekend. See how it feels and make some recommendations for any changes based on that.

Been a while since I've written any c# so may need a hand with 3 but I will see what I can do.

[2017-02-17 00:06] ReubenBond commented on #2541
Thanks, @liminzhu! We aren't asking for C# interop specifically, just a path for us to create better interop ourselves.
Promise & Task<T>/TaskCompletionSource<T> are a natural fit, even if they're inverted a little.
They approximately map as follows:
[code]
In C#, the construction is the like so:
[code]

[2017-02-17 00:29] dilijev commented on #2549
I definitely support this.

FWIW, very little work is required on our part to follow this proposal. We already mainly use VS 2015 (dev14). We simply drop the dev12 part of the legacy configuration and switch to dev14 on Windows 7 for Legacy build & test. AFAIK, dev14 is already configured on the Win 7 CI machines. @mmitche can confirm.

Other things this would enable, although none are necessary t

[2017-02-17 00:33] kfarnung commented on #2541
@jaredwy I have a prototype I put together that should make a good starting point.

https://github.com/kfarnung/ChakraCore/commit/c1810a5a27419220496ca13e9de7d77eec1621ed

Basically it adds two functions:
* JsCreatePromise - Creates a new promise object that can be resolved/rejected in native code
* JsCreateThenPromise - Takes a source promise (from either native or script) and exposes fulfilled/r

[2017-02-17 00:38] jaredwy commented on #2541
Well that certainly makes life easier :) what do you think is remaining
other than consensus on the API?
On Fri, 17 Feb 2017 at 11:33 am Kyle Farnung <notifications@github.com>
wrote:

[2017-02-17 00:38] alexzhaosheng commented on #2532
@suwc  Thanks for the reply, my Edge version is 38.14393.0.0

[2017-02-17 00:38] dilijev commented on #2541
I'm not sure I understand the naming of `JsCreateThenPromise` -- could you explain a bit more?

[2017-02-17 00:41] ReubenBond commented on #2541
I think `JsCreateContinuation` would be a more suitable name, taking an `antecedentPromise` and returning a `continuationPromise` (via an output param).

To keep naming consistent, the `fulfillmentHandler` could have `resolve` in its name somewhere. They could be called `onResolve` and `onReject`, but I'm not sure what's consistent with this codebase.

[2017-02-17 00:49] akroshg commented on #2536
This is merged.

[2017-02-17 00:50] #2536 closed

[2017-02-17 00:52] kfarnung commented on #2541
@dilijev @ReubenBond I just mirrored the internal naming for now to see if this concept would work for people.  I fully intend to update the names of the methods and parameters if this were to become a real pull request, for now it's just a prototype.

For reference the internal method signature is:
`static Var CreateThenPromise(JavascriptPromise* sourcePromise, RecyclableObject* fulfillmentHandle

[2017-02-17 00:57] kfarnung commented on #2541
@jaredwy Only naming and documentation really, assuming this unblocks the scenario.

@liminzhu Assuming this solves the issue are there any blockers to adding these two APIs (with naming cleanup) to the API surface?

[2017-02-17 00:59] liminzhu commented on #2541
Thanks for the clarification @ReubenBond!

Adding my take on all 3 asks based on my perceived JSRT design principle (providing a small interface that has the basic building blocks for more complex use cases),

1. JsCreatePromise - this can be done with current APIs by running a script that returns a Promise. But given the code for attaching native handlers is long and messy, I can see that having

[2017-02-17 00:59] jaredwy commented on #2541
@kfarnung I will try it out and see how it feels for my needs. I can turn into a c++ sample.

[2017-02-17 01:03] Cellule commented on #2549
Same, I definitely support this!
More features and less work. From what I understand, the reason we kept it was to support some customers that still supported VS 2013, which from what you mentioned is not needed anymore.

[2017-02-17 01:03] liminzhu commented on #2541
@kfarnung I don't see any big issue (assuming sign-off from a few other Chakra folks and adding proper tests ofc 😄), but I'd like to hear from the folks asking for this whether this fits their needs.

[2017-02-17 01:08] dilijev commented on #2549
I opened a PR to `master-ci` to remove dev12 support from legacy and a PR to update the Wiki. We can wait to merge them until there's consensus on this issue.

[2017-02-17 01:09] liminzhu commented on #2541
Btw any additional APIs we implement in ChakraCore for promises, I probably would want to ship them to Chakra.dll on Windows as well. So until I get sign-off from Windows folks, they will remain experimental in ChakraCore and may have breaking changes depending on the feedback I get.

[2017-02-17 01:12] ReubenBond commented on #2541
@liminzhu efficiency is important to us - particularly when it comes to GC pressure and marshalling, so any feasible reduction in allocations and managed<->native<->JS transitions are valuable.

That being said, if you think the solution involving creating is workable today, then perhaps it's sufficient. We'd have to make another attempt at adding support using the method you suggested to see if i

[2017-02-17 01:49] dilijev commented on #2541
I think it would also make sense to mark these APIs as experimental for now so that we're not locked in to a particular interface going forward if we realize that the API doesn't fully suit the needs.

[2017-02-17 02:15] liminzhu commented on #2541
@ReubenBond It probably can work with my mental model. The only problem I see is that a runtime can only be on one thread at a time, which creates some complication for an implementation that may fetch promise continuations to different threads (is that how Task works?) and have to move runtime around. You need to implement a message pump that's more complicated than what I had in Chakra-samples t

[2017-02-17 02:20] ReubenBond commented on #2541
@liminzhu

Our intention is to execute this JS code from within actors in Orleans and each actor is effectively single-threaded. We will need to ensure that we fulfil promises on the OS thread which they were started on (is that right? I assume there's no way around it). We don't intend to mess with the single-threaded nature of JS, in fact it fits very well with our model.

[2017-02-17 02:30] liminzhu commented on #2541
Got it (that's a relief 😄).

Is part of the problem that you guys want to be able to await on JS execution (that's a generalization of resolving a promise), but with promises, JS execution doesn't necessary finish when JsRunScript returns? That should be solved with my [suggestion](https://github.com/Microsoft/ChakraCore/issues/2541#issuecomment-280516470).

Exposing APIs to handle promises native

[2017-02-17 02:31] kunalspathak opened #2556 "Printing object from Object.assign throws TypeError"
[code]

[code]

[2017-02-17 02:32] #1888 closed

[2017-02-17 05:32] agarwal-sandeep commented on #2556
For above test Firefox and Edge shows "{A: 1}" in console when using console.log(x) (Chrome throws TypeError). All throw Type Error when using alert(x);

Check console.log implementation to see how they get "{A:1}" even though JSON.stringify(x) throws. More of a feature for ch.exe EchoCallback.

[2017-02-17 08:22] ondras commented on #2532
I believe I have the problematic behavior reproducible on this fiddle: http://jsfiddle.net/0k59gbL8/5/ . It happens both with and without devtool open.

@suwc can you please confirm that the link above exhibits the bug reported in this issue?

[2017-02-17 13:42] ravisharma1987 opened #2561 "Cannot create a list of objects"
Hello,
I have a piece of code where I need to create a list of empty objects with the keys from -8 to 8 and values for these keys needs to be {value: i} objects. For the most part, the code works fine until suddenly the edge browser stops the creation of the object lists.

Normally the object always has keys from -8, -7, -6 .... 0 .... +6, +7, +8 with corresponding objects.
But after the (kind of)

[2017-02-17 15:40] littledan commented on #352
Another case where a label is inappropriately allowed is a label immediately before the end of script, e.g., `eval("x:")` (which JSC, V8 and SpiderMonkey reject, but ChakraCore allows).

[2017-02-17 17:26] suwc commented on #2532
@ondras thanks for the test case. Yes this is the issue mentioned above that will be fixed in "Creators Update".

[2017-02-17 18:54] ondras commented on #2532
@suwc thank you very much for confirming this! 👍

[2017-02-17 19:04] akroshg commented on #2481
The fix is merged.

[2017-02-17 19:04] #2481 closed

[2017-02-18 21:21] dennis-yemelyanov opened #2565 "ChakraCore vs Edge security"
Is it true that ChakraCore provides the same level of security as the Edge browser? Are there any additional precautions that should be taken when running scripts with ch.exe?

[2017-02-19 00:03] atefshehata opened #2566 "Is it possible to pause and resume script execution in JSRT?"
Hi,

I’m trying to use the built in JSRT engine to build a simple non-visual browser for crawling and data scraping solution. I’m following HTML5 WHATWG specifications.

One point that I don’t know whether it is possible in  JSRT or not is the ability to pause the execution of a script, execute another one and then resume the paused script.  This is one of the requirements defined in HTML5 specs a

[2017-02-20 03:39] jaredwy commented on #2541
@liminzhu this is indeed part of my problem.

I have some work on a second thread that i need to then let JS know has finished. Your suggestion will work but it is messy and non obvious to implement.

[2017-02-20 05:14] JohnMasen opened #2567 "Get an ArrayBuffer created by [ExternalArrayBuffer] may cause memory access violation exception"
Repro Steps:
[TestMethod]
1. Create a new JavascriptContext _[ContextA]_
2. allocate memory in user code
3. Create an ArrayBuffer[_Buffer1_] by calling JsCreateExternalArrayBuffer with memory pointer in step 2
4. Set the ArrayBuffer to a javascript variant and hold the variant with JSAddRef
5. Read ArrayBuffer[_Buffer2_] from same javascript variant by calling JsGetProperty
6. release the allocate

[2017-02-20 21:20] obastemur commented on #2505
[code]

@dilijev I'm not sure why we need this? Don't we also ship version header file along with the package? Besides, apart from providing a runtime interface, IIRC .so file doesn't have a dll/dylib like package features.

[2017-02-21 07:37] dilijev commented on #2505
Distinction between ch version and ChakraCore version. It would be good to have ch read the actual version from the ChakraCore library.

[2017-02-21 07:38] JohnMasen commented on #2567
After modified the test project, it seems related to the unit test framework.
I will close this issue until I found solid repro steps without using unit test framework.

[2017-02-21 07:38] #2567 closed

[2017-02-21 09:51] jaredwy commented on #2541
The `JsCreatePromise` seems to suit my immediate needs creating and resolving promises from C++.I need to change things up with how I handle threads and will have some more time tomorrow but as a first pass this looks to solve my needs.

Haven't found a use for CreateThenPromise yet :D

[2017-02-21 11:32] obastemur commented on #2549
I also support this but I would go for this after GCC support. Our Clang requirement (3.7+) is a pain on some of the distros and raising the compiler bar even more is something I would like to avoid.

[2017-02-21 12:41] obastemur commented on #2566
Others may answer this better. I will try to approach to this problem generally.

Lets consider a JavaScript loop logic below;

[code]

This will keep the thread busy until the loop ends. In order to pause this at any given time, we may have to pause the execution from another thread.

AFAIK, There is no magical solution to this.

1 - Decide on order prior to running any script. I know, there are

[2017-02-21 19:24] dilijev commented on #2549
Is the default GCC in most distros not C++11 compliant?

[2017-02-21 19:41] liminzhu commented on #2546
Hey @simply-jos thanks for posting the issue!

I'm not sure why you need proxy. You can call `JsSetProperty`/`JsDefineProperty` directly to bind properties natively. If you want to expose a native object to JS, you can use `JsCreateExternalObject` which binds your c++ object to an opaque object in JS. You can bind methods to the object to do more interesting things. If these are not what you need,

[2017-02-21 20:26] liminzhu commented on #2566
AFAIK there's no direct way to pause & resume in JSRT. Pausing in the middle of an execution actually leaves the engine in a weird intermediate state and in most cases we don't allow script re-entrancy as it could mess up our internal state.

[2017-02-21 21:40] Penguinwizzard commented on #2565
I wouldn't advise running untrusted code in ch. The ch.exe wrapper adds a number of calls that are useful in running test suites; among these are calls that allow reading arbitrary files from your filesystem (as bound by user permissions). This would allow a malicious script to upload files from your system to the internet.

[2017-02-21 23:10] Penguinwizzard commented on #2505
@obastemur: We could just drop a .note.chakra or .note.buildinfo section into the output elf file with all that version information. It's not standardized, but that'd be the place to put it.

[2017-02-21 23:24] Krovatkin opened #2572 "Stackoverflow checks (interrupts) in loops by default in ch.exe"
By default, ChakraCore inserts stackoverflow checks into loop headers even though there doesn't seem to be any logic in ChakraCore, taking advantage of these "interrupts".

This simple testcase triggers this behaviour

[code]

[code]

A stackoverflow check inserted in a loop header.
[code]

We were wondering if this behaviour could be disabled by default since these checks are worth a couple %s in

[2017-02-22 01:18] dennis-yemelyanov commented on #2565
Thank you. Didn't realize ch.exe was adding file system functions. Then if I build my own tool that calls into ChakraCore APIs and only exposes a couple of methods (written in C# and supposedly secure), would that be good enough for untrusted code?

[2017-02-22 02:50] simply-jos commented on #2546
Oh okay, if that binds them directly, that's good to know.

But what about binding something like an array or map, where you don't necessarily know which property is going to be accessed? To be more specific, overriding the [] operator and any key iterators.

[2017-02-22 06:20] jaredwy commented on #2541
Using @kfarnung code.

[code]

Calling code looks like `"var a = application.doSomethingPromisey(); (()=>{return a.then((b)=>make{application.log(b);});})()"`

It does mean that i need to carry around the resolve/reject functions but that isn't too bad. I can typedef a std::pair for that. It certainly feels like it fits with the rest of the API.

I have no complaints. Marking it as experimental so

[2017-02-22 11:05] obastemur commented on #2505
@Penguinwizzard node.buildinfo IIRC is used for compiler version and tend to be discarded.

I might be missing the point here. Let me try again; we provide [ChakraCoreVersion.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/ChakraCoreVersion.h) and embedder knows the version of ChakraCore static/shared lib.

@dilijev why `ch` doesn't read the actual ChakraCore version from that he

[2017-02-22 17:28] ThomsonTan commented on #2505
@obastemur, Probably because we could use `ch` to load to ChakraCore in slightly different version if compatible?

@dilijev for dev builds, beyond static information for the source code, I think put some environment information like build machine name or current user name would be helpful, because private version hash doesn't make a lot of sense.

[2017-02-22 17:32] davisp opened #2574 "Duplicate symbols from constants when linking"
This is fairly easy to demonstrate. I believe that declaring these three symbols as constants in ChakraCommon.h is a mistake as you can then never include ChakraCommon.h in multiple compilation units. Then again I don't have the greatest familiarity with the minutiae of C standards.

a.c
[code]

b.c
[code]

Link failure
[code]

[2017-02-22 17:33] davisp commented on #2574
Also, I don't have a PR for this cause I'm not sure on the best fix. If it were me I'd probably move those to `#define`s but I'm not sure if there's a valid reason to keep them as `const` declarations and I haven't the foggiest if its valid to have an `extern const` or not.

[2017-02-22 18:07] dilijev opened #2575 "[Community] What are you building with ChakraCore?"
With our efforts to enable cross-platform development, and recently, to enable the use of NuGet packages for ChakraCore development with .NET and Native apps (#85), as well as other work we've been doing to enable other scenarios, we're interested in hearing from the community about what you've been building with ChakraCore, and what you would like to build.

Besides the issues you file, the feedb

[2017-02-22 18:34] liminzhu commented on #2565
Yep, ChakraCore by itself is a sandboxed environment. It's usually the host environment which due its own requirement exposes methods like fs access and network methods that require extra security.

[2017-02-22 19:51] obastemur commented on #2549
It's not strictly about `C++11 compliance` (that is another issue though..)

It's more about introducing some new things and ending up with compiler bar is raised up even more.

[2017-02-22 21:34] dilijev commented on #2505
@obastemur: @ThomsonTan has the idea right. On Windows, we don't statically link `ChakraCore` into `ch` and `ch` will try to load the `ChakraCore.dll` in the same dir. See listings in this comment: https://github.com/Microsoft/ChakraCore/pull/2490#issuecomment-278541195

If the version of ch exactly matches the version of ChakraCore, there's no problem. In most cases this is how  ChakraCore+ch wil

[2017-02-22 21:58] dilijev opened #2578 "ChakraCore NuGet: Follow-Up Items"
From #85

### Possible Work Items
- Include a `change.json` file in the NuGet packages to provide easily-accessible information about the commit the package was built from.
- Integrate with [MyGet's SymbolSource infrastructure](http://docs.myget.org/docs/reference/symbolsource) to enable debugging when needed without having to ship the debugging symbols with every binary package.
- Split NuGet fee

[2017-02-22 21:58] dilijev commented on #85
Closing this issue as all of the main functionality work items have been completed. I created a an issue for any follow-up items: https://github.com/Microsoft/ChakraCore/issues/2578

[2017-02-22 21:59] #85 closed

[2017-02-22 22:17] kphillisjr commented on #2575
Just as a quick Note, I tend to be blunt, but Here's the feedback...

Nothing involving ChakraCore... I lost interest in ChakraCore due to issues with getting changes into the main development branches.

Poor. Although some of this is timezone differences and lack of feedback, but in general things are in a fashion where things mostly feel like things are being completely ignored. Although Some of

[2017-02-22 22:34] jackTheRipper commented on #2575
Hi,

Currently I am discovering the technology on my side.

I am really interesting in it because of your benchmarks.

I have been thinking about distributing my own NodeJS binary embedding my business logic in order to provide a way to write some code in Javascript as it follows:

[code]

All the transactions with my APIs are done with a faster protocol than HTTP. My customer can focus on his API

[2017-02-22 22:37] kfarnung commented on #2541
Thanks @jaredwy!  We'll discuss a timeline on our end and report back.

A sample would be great!  Once we have the feature submitted we can add it to the samples repository.

[2017-02-22 22:52] jasongin commented on #2575
@jackTheRipper , the [`node-uwp`](https://github.com/microsoft/node-uwp) module does not work with Node-ChakraCore. It requires Node-Chakra, which is different (and is not being developed anymore as far as I know).

If you're working with bluetooth on Node.js on Windows, you might take a look at my [`noble-uwp`](https://github.com/jasongin/noble-uwp) project, which works with both Node-ChakraCore 

[2017-02-23 01:05] ReubenBond commented on #2575
For context, I work on [dotnet/orleans](https://github.com/dotnet/orleans) with @galvesribeiro. Orleans is a framework for building distributed systems with .NET, used by a bunch of teams within MS (Halo, Skype, & teams in Azure).

The intention is to build support for writing Actors using JavaScript/TypeScript, currently we support .NET languages. Actors are inherently distributed, so strong supp

[2017-02-23 01:25] kfarnung commented on #2541
There is a PR out now.  I removed JsCreateThenPromise since you can just query for the "then" property and continue it  that way.

[code]

[2017-02-23 01:47] Oceanswave commented on #2575
I work on [BaristaLabs/barista-sharepoint](https://github.com/BaristaLabs/barista-sharepoint) which is a SharePoint service application that allows devs to create microservices using JavaScript at runtime without requiring additional deployments to the farm environment.

The current version of Barista uses [Jurassic](https://github.com/paulbartrum/jurassic) as a JavaScript engine. I'm aiming to cr

[2017-02-23 06:17] dennis-yemelyanov commented on #2565
Cool, thank you for confirming.

[2017-02-23 06:17] #2565 closed

[2017-02-23 10:54] obastemur commented on #2574
@davisp this is a valid issue in case multiple `c` source files includes ChakraCommon.h header file. This is a platform independent issue and I will send a PR shortly to fix it. Thanks for details!

[2017-02-23 12:15] obastemur commented on #2220
Closing this one. Wasm is enabled on xplat. The state of wasm support is not as well as it is on Windows yet but there are other open items to track that and todo notes to complete.

[2017-02-23 12:15] #2220 closed

[2017-02-23 17:08] JohnMasen commented on #2575
something is wrong with the GitHub editor, can't preview and set the format.

[What projects are you working on?]
A dotnetcore project target to add scripting feature to dotnetcore applications. https://github.com/JohnMasen/ChakraCore.NET

[What have your experiences been when working with ChakraCore?]
fun and challenging, intergrating 2 runtimes requires very a large effort.

[Is our documentatio

[2017-02-23 17:11] #2074 closed

[2017-02-23 17:22] JohnMasen opened #2585 "Calling to [resolve] function inside the Promise constructor function will crash if you call from JSRT API"
I'm working on a dotnetcore project which adds scripting feature to dotnet applications.
while working on support expose a `Task<T>` dotnet function to a JavaScript which returns a Promise instance.
I've managed to map an `Action<Action<T>,Action<String>>` as the Promise constructor, call to the first argument `Action<T>` will be translated to a JSCallFunction call to the javascript "resolve" anon

[2017-02-23 17:25] JohnMasen commented on #2585
something is wrong with the GitHub editor. all '<T>' are disappeared, 'Task' should be 'Task<T>'.
Action<Action,Action  should be 'Action<Action<T>,Action<String>>'
can't edit previous post

[2017-02-23 17:27] JohnMasen commented on #2585
it's disappearing again, preview function is still not working.
'Action<Action,Action>' should be Action《Action《T》,Action《String》》

[2017-02-23 17:50] alexhultman commented on #2575
* What projects are you working on?
  * I played with the idea of a JS server
* What have your experiences been when working with ChakraCore?
  * Very minimal interface, fast compilation and minimal library and number of dependencies. C interface reminds me of Lua.
* Is our documentation helpful? If not, how can we improve? Were you able to find answers to your questions?
  * It certainly lacks in

[2017-02-23 19:24] jaredwy opened #2590 "Running native tests xplat"
In an attempt to write some unit tests for #2581 I hit a slight snag. The native tests that test the JSRT api is driven by a windows only build.

I managed to get the driver to compile, this took a few #defines and an update to catch.hpp. Also I had to use libc++ as the version of stdlib++ doesn't seem to support some of the features that are needed by catch. I would need to look on linux to see w

[2017-02-23 20:04] joeltine commented on #1496
What Edge version/release will contain this fix?

[2017-02-23 21:52] bterlson commented on #2530
There is no spec mandated work here. The promise rejection tracking is implementation defined. We could consider adding a rejection tracking mechanism to ch.exe. If this is a request for the dev tools (F12) to add rejection tracking capabilities, then this is out of scope for this repo I think.

[2017-02-23 23:19] dilijev commented on #2585
Angle brackets are rendered as HTML tags, so it would make sense if they're disappearing. Try putting code inside of \` like `Action<T>`

[2017-02-23 23:24] dilijev commented on #2585
@liminzhu

[2017-02-24 00:43] digitalinfinity commented on #2590
Thanks @jaredwy - talked offline with @curtisman and we don't see any problems moving these tests to the new Chakra API path- we would welcome a PR here 😄

sidenote- curious, what was the issue with catch and stdlib++ (cc @akroshg)

[2017-02-24 00:46] jaredwy commented on #2590
Happy to spin up a PR. Ill have some time this weekend.

Any issues with MS just dropping in the latest version of catch from github?
I may need a hand just checking the windows side of things, as I don't have a windows machine at present.

I don't think it is a problem with stdlib++ per say, just an issue with the version that ships in osx. I was getting a bunch of missing symbol errors. I didn't

[2017-02-24 00:49] akroshg commented on #2590
@jaredwy I haven't dropped the latest version of the catch. You are welcome to try with the new version.

[2017-02-24 00:57] digitalinfinity commented on #2590
@jaredwy happy to help with the windows side of things- you can share your branch here (or if you open a PR against our master branch, our CI will run the Windows and Linux builds automatically anyway)

[2017-02-24 01:04] jaredwy commented on #2590
Are these run on linux?  I couldn't find any evidence that they were.

[2017-02-24 01:15] digitalinfinity commented on #2590
No, the native tests are not run on Linux (they will be after your PR hopefully 😄). The entry point to invoke them on Windows is test\runnativetests.cmd and I believe they run in our Jenkins CI (@dilijev/@akroshg, correct me if I'm wrong here)

From your PR perspective, I think you'll need to do the following:
- Switch our native unit tests to run using the xplat Jsrt APIs (or better still, two-pa

[2017-02-24 01:16] jaredwy commented on #2590
No problem.
I will see what makes sense. I will also probably need to add the building of the executable to cmake. Might make it standalone than attempting to wire it into the rest of the cmake infrastructure for now.

[2017-02-24 02:39] JohnMasen commented on #2585
thanks dilijev, I've removed the unnecessary comments to leave the question more clear.

[2017-02-24 05:00] JohnMasen commented on #2585
Update:
I found the problem is how to set the thisArg while calling to an anonymous method passed from javascript.

[2017-02-24 05:22] gulbanana commented on #2575
i'm building enterprise web applications using ChakraCore for SSR of React uis. for my purposes it's a nice alternative to V8

[2017-02-24 07:02] JohnMasen commented on #2585
Update:
not about the thisArg either, seems about threading. Still digging up.

[2017-02-24 07:25] JohnMasen commented on #2585
That's it , I found it's related to GC, haven't figure out if it's related to .NET GC or chakracore GC. anyway Promise function is fine.

[2017-02-24 07:25] #2585 closed

[2017-02-24 08:02] dilijev commented on #2549
So basically you're saying that for now the VS 2013 support keeps us from raising the bar higher which could make it difficult to support other compilers?

How far away is GCC support?

[2017-02-24 10:25] obastemur commented on #2590
@digitalinfinity we already have native tests setup for xplat. https://github.com/Microsoft/ChakraCore/tree/master/test/native-tests

@jaredwy You may just create another folder there and copy the `Platform.js` from one of the folders. After that;

- introduce the source files under https://github.com/Microsoft/ChakraCore/blob/master/test/native-tests/test-static-native/Platform.js#L44

- add new

[2017-02-24 11:32] dianahinz commented on #2575
full-stack projects.

Seamless. I've been using chakracore to test script blocks on my mac. Kudos @obastemur

I didn't need any documentation so far. Only build instructions.

Not yet :/

 - Appreciate a clear explanation among the chakracore and edge browser versions.

 - Nightly builds for OSX

I am interested. If you set ...Accepting PR... label to simpler issues I can gladly take one or two.

[2017-02-24 14:47] delmarwichnieski commented on #2373
The same problem with
Microsoft EdgeHTML 15.15031
Microsoft Edge 40.15031.0.0

[2017-02-24 18:22] digitalinfinity commented on #2590
@obastemur why do we have a different set of native tests for xplat vs Windows? Should we combine the two? Seems like if @jaredwy moves NativeUnitTests to xplat, it should be fairly straightforward to merge that with native-tests?

[2017-02-24 19:57] kfarnung commented on #2541
The PR was committed to release/2.0 as 96cb1034ef7092b9d602817cce62e83cc1795c3a.

[2017-02-24 22:00] obastemur commented on #2590
Agree we better have one native test approach across all the platforms. My choice would be the xplat native tests approach.

Current xplat native tests are individual applications. We need them to be that way to test various build alternatives (in addition to feature tests)

So, we test both embedder side and API

We may use xplat tests approach for Windows as well and combine under tests/native-t

[2017-02-24 22:41] liminzhu commented on #2561
@ravisharma1987 thanks for the report! That's a weird issue and I find it hard to repro... @LouisLaf maybe someone on the JIT team can look into it a bit?

[2017-02-24 23:31] jaredwy commented on #2590
@obastemur those tests are rather limited in what they can achieve as it stands. They simply compile and execute a basic file and check for a success/failure message and the return code.

While this assures that the apis are exposed there is nothing in them to the various apis behave correctly. test_native.sh would have to be extended to read the output from catch.

[2017-02-25 01:24] liminzhu commented on #2546
@simply-jos not 100% percent sure the ask here so could appreciate a bit more clarification. If you have a native array and want to expose it as a JS array, you need to create an array in JS, iterate the native array and `JsSetIndexedProperty` for each element.

[2017-02-25 07:26] obastemur commented on #2590
@jaredwy They are unit tests, designed to do one thing at a time but that doesn't mean the subsystem can't be used for more complicated tests.

- Makefile is automated from Platform.js

- Test is executed by test_native.sh

You will endup creating a makefile and and sh connection, why do the work from scratch ? I really didn't understand what is better if you do this under bin/... folder?

You do

[2017-02-25 07:28] obastemur commented on #2590
BTW; I'm around during the weekend, ping me from `gitter` in case you want to chat.

[2017-02-25 07:37] jaredwy commented on #2590
I at the mercy of catch.hpp output as it stands.
Is your intention to remove the dependency on catch?

[2017-02-25 07:40] jaredwy commented on #2590
It's easy enough in the passed case but it certainly helps dev speed to have easy access to output of the various asserts from catch. So would probably have to dump stdout/err on failure.

[2017-02-25 07:47] obastemur commented on #2590
Dev can visit the folder and call `make;./sample.o` and get the output.

[2017-02-25 07:48] obastemur commented on #2590
Also see https://github.com/Microsoft/ChakraCore/blob/master/test/native-tests/test_native.sh#L30 for dumping errors.

[2017-02-25 09:20] jaredwy commented on #2575
I will write up a bigger list in the near future. Something that could be addressed for xplat is marking the win32 only functions. https://github.com/Microsoft/ChakraCore/wiki/JsPointerToString for example. This took me a while to figure out why a simple sample wasn't compiling.

[2017-02-25 12:12] jackTheRipper commented on #2575
@jasongin Node-Chakra is build from a fork (https://github.com/ms-iot/node/releases) of the Node-ChakraCore. Anyway thank you for the tip !

[2017-02-26 00:58] kunalspathak opened #2604 "Intl.Collator('generic') fails"
[code]
gives following error.

[code]

This is happening because `Windows.globlalization.dll` [here](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Base/WindowsGlobalizationAdapter.cpp#L363) returns false and `Intl.js` [here](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/InJavascript/Intl.js#L289) throws. I tried debugging and it is the code inside `Bcp47

[2017-02-26 22:51] ravisharma1987 commented on #2561
@liminzhu Hi, So finally I figured it out myself. The chakra-engine is not crashing if I keep the for loop index always positive. So It seems to me that the problem only happens when I have a for loop with negative indices.

[2017-02-26 23:10] simply-jos commented on #2546
I'm asking if there's a way to override the [] operator and dot operator to return arbitrary values.

[2017-02-26 23:13] caitp commented on #2546
@simply-jos there must be some way, as it's required by web APIs (https://heycam.github.io/webidl/#idl-indexed-properties / https://heycam.github.io/webidl/#idl-named-properties), e.g. HTMLAllCollection

[2017-02-26 23:31] simply-jos commented on #2546
Yerr, I was hoping it could be done through JSRT. Thanks! I can consider this closed at this point.

[2017-02-26 23:31] #2546 closed

[2017-02-26 23:44] likle commented on #2575
I would like to use ChakraCore to filter data by user-submitted javascript snippets.
Currently I am trying to do that on Ubuntu and Windows 10.

I have had better experiences, but I am sure that's mostly bad luck.

Trying to embed ChakraCore in a cmake project seems more difficult than I thought it would be. To be honest, cmake was one of the reasons choosing ChakraCore over v8. I found the follow

[2017-02-26 23:49] jaredwy commented on #2575
@likle have you looked at the cmake PR on chakracore? Been meaning to check it out in an actual project but it appears to use cmake better and exposes the static library in a way consumable via cmake.

[2017-02-27 00:12] likle commented on #2575
@jaredwy yes I did. As far as I remember there were more than one PRs regarding cmake/static linking. I was hoping it would be merged. Thanks for pointing that out !

[2017-02-27 02:55] leanalcabasa opened #2605 "Overcome 1 Interface limitation for projected classes to Javascript?"
Hello,

Not sure if this is the best place to ask this (is there a forum for chakra)?

I have a problem with the limitation of only having the 1st interface projected to Javascript. I would like to know if there are any workarounds / methods of solving it.

I have around 20 classes I want to access in Javascript. These 20 classes inherit from a BaseModel, which contains code that are important and

[2017-02-27 14:05] obastemur commented on #2575
https://github.com/Microsoft/Chakra-Samples/pull/68

https://github.com/Microsoft/ChakraCore/issues/2038

[2017-02-27 18:58] erikdesjardins opened #2606 "Expression-body arrow function parameter destructuring "Use before declaration" error when parameter is only used in an inner function"
#2401 still happens for expression-body (but not block-body) arrow functions.

Reproduced with Chakra 1.4.0 and 1.4.1 (from the github releases).

[code]

[2017-02-27 20:24] davisp opened #2607 "Consider hiding the definition of JsRef"
I'm guessing this is a C vs. C++ type system issue but given that the definition of JsRef is available and defined as void*, the C compiler (at least, LLVM 8.0.0 on OS X 10.12.2, though I believe its part of the C spec) will happily convert void* pointers without complaint (even using -Wall -Werror like I do).

I personally tripped on this when trying to use JsCallFunction which takes a JsValueRef

[2017-02-27 22:18] obastemur opened #2608 "ICU-58: Compatibilty issues and Build Break"
We will ship ChakraCore 2.0 with ICU-57 (optionally). Opening this issue to track ICU-58 compatibility problems.

Checklist;

- `node-chakracore` icu-small version is 58.
- Post-Release2.0; update `--embed-icu` to ICU 58

[2017-02-28 18:46] liminzhu commented on #2575
We've got some amazing insights and feedback from you guys from the past week. Thanks everyone for replying!

[2017-02-28 18:53] liminzhu commented on #2575
@kphillisjr you were definitely right about improving cmake embedding experience and thanks for bringing that to us! Sorry to hear you dissatisfaction, I think there were some pointers given at the time ([1](https://github.com/Microsoft/ChakraCore/pull/2129#pullrequestreview-10979084), [2](https://github.com/Microsoft/ChakraCore/pull/2124#issuecomment-264055751), [3](https://github.com/Microsoft/C

[2017-02-28 18:58] liminzhu commented on #2575
@jackTheRipper fascinating usage of node-chakracore 😄 If you have any feedback, feel free to let @digitalinfinity or @aruneshchandra know.

[2017-02-28 19:02] liminzhu commented on #2575
@ReubenBond great to hear from you! It was fun chatting with you and @galvesribeiro on Gitter too. Hope you find the new JsCreatePromise useful.

Totally right. We will continue to publish samples and snippets and if you find a particular API reference is lackluster, I'm more than happy to edit it.

[2017-02-28 19:04] galvesribeiro commented on #2575
@liminzhu once it got released on ChakraCore we will start using it and will definitively reach you guys back with feedback.

[2017-02-28 19:06] liminzhu commented on #2575
@galvesribeiro awesome! Feel free to play with release/2.0 br now as well if you want to experiment early.

[2017-02-28 19:09] liminzhu commented on #2575
@Oceanswave great to hear your scenario and glad you seem to be having fun! You can actually find release notes on the [release page](https://github.com/Microsoft/ChakraCore/releases) but we usually keep things on a high level. In case you're interested in webassembly, consensus was reached by four browser vendors today on the MVP design (see [mail](https://lists.w3.org/Archives/Public/public-weba

[2017-02-28 19:11] obastemur commented on #2575
@liminzhu What @Oceanswave did with Mono/Net is interesting and could be helpful for others. I recall something similar for Rust from another user. We might have a part in wiki to promote those cool work though.

[2017-02-28 19:14] liminzhu commented on #2575
@obastemur yeah, I think having a derivative work wiki (or a sec in the [resource wiki](https://github.com/Microsoft/ChakraCore/wiki/Resources)) for interesting projects like what @Oceanswave has would be great. Let me look into it.

[2017-02-28 19:15] jaredwy commented on #2590
Just an update.

I have the majority of the tests inside `JsRTApiTest.cpp` compiling and passing on mac. Im working on the tests that require reading from a file at the moment and just chasing down getting palrt compiling :) (For some reason, clang reports it self as gnuc
[code]
 but doesn't provide __declytpe.

Which means that
[code]

takes the wrong path. This compiles fine in ch so I just need

[2017-02-28 19:21] dilijev commented on #2575
@Oceanswave to tag on to @liminzhu's reply: https://github.com/Microsoft/ChakraCore/wiki/Release-Notes contains the high-level release notes for all released versions.

[2017-02-28 19:24] dilijev commented on #2575
@obastemur

Looks like @Fishrock123 and @darfink had done some work on that. See #1492 and #1441 for some discussion.

[2017-02-28 19:26] liminzhu commented on #2575
@JohnMasen thanks for the feedback! I think you and I have already chatted on some thread to edit the `JsCallFunction`. If there're more things you'd wish to see, I'm happy to hear it.

`JsCallFunction` mimics Function.prototype.call which takes thisArg. I'm not that sure about shipping a similar extra API because JSRT is meant to be a small interface and only gives basic building blocks, but an i

[2017-02-28 19:29] liminzhu commented on #2575
@alexhultman glad to hear you're playing with ChakraCore and thanks for the feedback! Is there any documentation enhancement that you would've found helpful back when you were learning the basics?

[2017-02-28 19:32] dilijev commented on #2575
@liminzhu

I think the Resources page would be a good place for it. There have also been a few community projects which embed JSRT APIs in .NET and we could maybe link to those repos if we don't mind the "official" implication.

[2017-02-28 19:35] liminzhu commented on #2575
@gulbanana hope ChakraCore performs nicely for your case 😄

[2017-02-28 19:44] liminzhu commented on #2575
@dianahinz thanks for sharing!

I think for this one we deliberately separate ChakraCore & Edge conceptually b/c ChakraCore ships a lot more frequently than Edge/Windows, and there're usually small differences in what we ship in Chakra/Edge and in a nearby (time-wise) ChakraCore release. @tcare has explained it nicely somewhere before but I couldn't find it :/.

We'll try to identify more easy one

[2017-02-28 19:53] liminzhu opened #2611 "Marking experimental JSRT APIs"
We have a bunch of experimental APIs in JSRT (debugging, module, string-related ones, etc) and we should find an appropriate way to mark them as experimental. An obvious solution is to clarify in documentation, but do we want to do something extra, like hiding them behind a flag which JSRT devs should explicitly flip?

[2017-02-28 19:56] liminzhu commented on #2575
@jaredwy good call! I think all windows only APIs sit in [ChakraCommonWindows.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCommonWindows.h) and that's not at all discoverable. Opened https://github.com/Microsoft/ChakraCore-wiki/issues/27 to remind myself to document it, but if you're interested feel free to send a PR to https://github.com/Microsoft/ChakraCore-wiki as well.

[2017-02-28 20:03] liminzhu commented on #2575
@likle thanks for the feedback and hope this new [cmake sample](https://github.com/Microsoft/Chakra-Samples/pull/68) can help you!

My perspective is that adding snippets about [how to do basic things](https://github.com/Microsoft/ChakraCore-wiki/issues/5) would probably be more helpful than adding individual examples for each APIs. Thoughts?

@obastemur ?

[2017-02-28 20:14] jackTheRipper commented on #2575
@liminzhu it is really interesting.

Currently I am preparing a Docker image which builds only the `.o`

Another come image on top of that one adding my `.o`. My top level image run the build and make the binary available :D

It's not done yet but it looks _sexy_

[2017-02-28 20:17] jackTheRipper commented on #2575
In fact I described my stuff already to @matthargett

[2017-02-28 21:12] dmunch commented on #2574
Just stumbled over this one, happy to see it's already fixed! And I'm even more curious to see what @davisp might be cooking up for CouchDB here ;)

[2017-02-28 22:10] likle commented on #2575
@liminzhu thank you and of course @obastemur for the helpful example.

I personally really like the way others (e.g. [cppreference](http://en.cppreference.com/w/cpp/thread/lock_guard), [msdn](https://msdn.microsoft.com/en-us/library/dd267265(v=vs.110).aspx) and especially [mdn](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Promise/resolve)) provide basic usage examp

[2017-02-28 22:15] liminzhu commented on #2575
@dilijev opened an issue https://github.com/Microsoft/ChakraCore-wiki/issues/28 :).

[2017-02-28 23:19] dilijev commented on #2575
@likle I think we could probably arrange that. It's extra overhead to maintain documentation separate from the samples, so I'll leave the final call on that to @liminzhu but I've added this issue to track this request. https://github.com/Microsoft/ChakraCore-wiki/issues/29

[2017-03-01 00:29] liminzhu commented on #2607
Hey @davisp thanks for the feedback! I understand your pain here, but I'm not sure we can just hide type definition in a C API (it would be weird to just do it for JsRef as well imo).

[2017-03-01 02:19] ThomsonTan opened #2617 ""ch -v" doesn't complain even if chakracore cannot be loaded?"
When running `ch -v`, it shows version of `ch` and `chakracore` which is expected. But it doesn't complain if `chakracore` is unavailable to load and just output version of `ch`. Do we need error message to imply that `chakracore` cannot be loaded?

[2017-03-01 09:05] voidstorm commented on #2575
Adding debug support outside of nodejs. Not being able to debug scripts when embedding the runtime into a C/C++ application is really almost a showstopper. It would really be great if chakracore offered a possibitly to just attach vs code without having to run the scripts inside chakra node js.

[2017-03-01 09:23] jaredwy commented on #2590
Ok i have got the majority of tests working on mac (it should in theory work for linux as well) over at
https://github.com/jaredwy/ChakraCore/tree/update-native-tests-xplat

It needs some cleaning up, but wanted to get them working to start a discussion on the approach before i start moving tests around.

Some of the tests are commented out until I can figure out the cross plat apis. The documenta

[2017-03-01 13:17] obastemur commented on #2590
What do you mean by this? an example?

`#define SAFECRT_DEPRECATED __declspec(deprecated)`

Under pal_mstypes.h ->

[code]

So, it always takes that path and doesn't fail.

BTW; I saw you also updated Catch. Can we do it without updating?

[2017-03-01 13:20] navidR commented on #2575
I am saying this as senior year student who reads ChakraCore source code for learning purpose.
Lack of through documentation is the most difficult barrier I have faced.

I do understand ChakraCore is not community driven project like Linux kernel or FreeBSD kernel or Rust (They document everything in source code, almost "everything"). But if you don't document your code and reader should figure it

[2017-03-01 14:49] obastemur commented on #2590
[code]

this is also fine.

[2017-03-01 14:58] hleumas opened #2620 "[Question] Speaking at Reactive2017?"
Hello folks!

You are doing amazing job with ChakraCore. Particularly time traveling debugger really got me.

I read this piece:
https://github.com/nodejs/node-chakracore/blob/xplat/TTD-README.md

I would love to invite somebody from your team to speak at [ReactiveConf 2017](https://reactiveconf.com), on 26–27 of October in Bratislava.

What do you think?

[2017-03-01 18:41] jaredwy commented on #2590
Nope, the version in the code base wouldn't compile using clang on osx seirra.

the easiest way to show it is by example http://cpp.sh/7pl65. Hit run and look at the output. Length etc count bytes not characters. We need a utf-8 aware container if we want to support non ascii chars :) and allow people to count the characters in a test.

pal_mstypes.h is a preprocessor macro so it will work, this f

[2017-03-01 19:03] jaredwy commented on #2611
+1 to hiding them behind a flag until they are ready.

[2017-03-01 19:16] panarasi commented on #2620
Here is time travel debugging with React Native - http://blog.nparashuram.com/2016/08/time-travel-debugging-with-reactnative.html

[2017-03-01 22:00] liminzhu commented on #2575
@voidstorm thanks for the suggestion! What we have now is debugging APIs sitting in [ChakraDebug.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraDebug.h), which is one of the headers that need to be included for embedding ChakraCore. Our team is using it to [shim](https://github.com/nodejs/node-chakracore/blob/05e0f044bc7ad2510a4f22e6c0659756de229c1b/deps/chakrashim/src/jsrtd

[2017-03-01 22:08] dilijev commented on #2575
@navidR

https://github.com/Microsoft/ChakraCore/wiki/Coding-Convention

That's the style we adhere to when coding ChakraCore. Microsoft at large leaves style up to the individual teams and we're happy to have that flexibility. We made the deliberate decision not to arbitrarily restrict the kind of code developers should write, preferring this minimal Coding Convention (i.e. style guide) to make c

[2017-03-01 22:17] jaredwy commented on #2575
@liminzhu @voidstorm this is correct. V8 for example provides the api for interfacing with the engine via a debugger https://v8docs.nodesource.com/node-0.8/de/d13/classv8_1_1_debug.html , but does not implement it for you.  You can see the implementation of the node debugger here https://github.com/nodejs/node/blob/master/src/debug-agent.cc   This uses the new chrome inspector protocal that is bei

[2017-03-01 22:23] dilijev commented on #2575
@navidR

We definitely would not turn away PRs which add non-trivial doc comments. We don't especially like the pattern of documenting Every Single Method™ because if a method is short or the naming is good, its purpose is largely self-explanatory. Generally, we like (or don't dislike) having some internal source code documentation for long or unintuitive methods, as a doc-style comment near the d

[2017-03-01 22:32] dilijev commented on #2575
@navidR

The test output (i.e. baselines) were not really designed to be human-readable. We acknowledge this is a deficiency and are slowly converting tests as they need it. For the tests which have baseline files, the best approach is to diff the output (piped to a file) with the baseline file. Usually reducing the test to a simpler script with a repro of the exact issue is the best way to diagno

[2017-03-01 22:35] dilijev commented on #2575
@navidR

Agreed. Will add though: GitHub issues are good for relatively slow-moving topical discussions. Gitter is best for quick Q&A on various topics.

[2017-03-01 23:41] dilijev commented on #2620
@liminzhu @bterlson @aruneshchandra @sethgaurav

[2017-03-01 23:41] dilijev commented on #2617
Probably a good idea but not a huge priority, I think.

[2017-03-01 23:44] digitalinfinity commented on #2620
@mrkmarron

[2017-03-01 23:45] aruneshchandra commented on #2620
@panarasi would be a good candidate for this.

[2017-03-01 23:45] dilijev commented on #2607
Also, IIRC all instances of `T*` in API params where T is typedef'd to `void*` should be `_Out_` params, right? That's probably a fair hint as to the usage.

[2017-03-02 11:41] #1933 closed

[2017-03-02 11:45] obastemur commented on #2574
👍  -> `And I'm even more curious to see what @davisp might be cooking up for CouchDB here ;)`

BTW; fix is merged into `release/2.0`

[2017-03-02 11:45] #2574 closed

[2017-03-02 12:05] dmunch commented on #2574
Great, thanks! Btw., what's the story behind `release/2.0` and `master`, i.e. is there a 2.0 release coming up soon? Tried to figure that out from the roadmap but the only information I could find was concerning `release/2.0-pre`

[2017-03-02 13:14] davisp commented on #2607
@liminzhu I worded that a bit wrong. I was thinking to just make it a struct typedef that never gets defined. Ie, instead of `typedef void* JsRef` we'd have `typedef struct _js_ref JsRef` and you'd never define the actual struct (assuming that in C++ land you're really using classes instead).

@dilijev All of them except JsCallFunction as far as I know.

Also to be clear this isn't a high priority

[2017-03-02 18:21] dilijev commented on #2607
@davisp They are actually treated as `void*` internally and the actual type is determined dynamically by inspecting that value (for example, we encode JavaScript Numbers directly in the number the pointer represents, otherwise it is assumed to be a JavaScript String or Object type and its vtable tells us what we need to know).

[2017-03-02 19:10] davisp commented on #2607
I wouldn't think this is high enough priority to add if we're looking at breaking the API compatibility. And this might all be fixed by a simple note that the parameter is an array of JsValueRef's in the docs for JsCallFunction given that's the only place (that I know of) that uses this as an input parameter.

[2017-03-02 20:55] liminzhu commented on #2295
Apology for joining the party late @sidkshatriya .

Arbitrary depth. The graph may be kind of confusing.

Yes two contexts can run completely different scripts and a runtime represent a single thread of execution and has access to all affiliated contexts (although all the contexts are isolated from each other in principle for obvious security reason).

[2017-03-03 00:26] kfarnung commented on #2541
Resolved by #2594 and slated to be part of the 2.0 release.

[2017-03-03 00:26] #2541 closed

[2017-03-03 08:59] MikeHolman commented on #2312
@pleath FYI

Considering we have etw support already for other parts of the engine, it makes sense to add parser into the mix. I know at least jit has start/stop events, I'd think we could easily add pretty similar code for parser.

[2017-03-03 09:04] MikeHolman commented on #1733
@LouisLaf FYI

[2017-03-03 09:11] MikeHolman commented on #2572
I noticed this as well when looking at wasm codegen last week. Given how tight some of these loops are, I wonder if it's worth investing in work for loop unrolling.

[2017-03-03 09:15] JohnMasen commented on #2575
hi Guys,
I created a dotnet wrapper which supports dotnet code interop with chakracore.
the target is create a easy to learn and use library which brings scripting feature to dotnet application.

[https://github.com/JohnMasen/ChakraCore.NET](https://github.com/JohnMasen/ChakraCore.NET)
## key features:
Read/Write javascript values
Call javascript function from dotnet, support callback to dotnet
Ex

[2017-03-03 09:28] MikeHolman commented on #1679
Closing due to lack of activity. Feel free to reopen if you think we should take some action.

[2017-03-03 09:28] #1679 closed

[2017-03-03 09:44] MikeHolman commented on #2092
I guess we have made marshaling fields between contexts more permissive, but not really sure. I think this requires a bit of arcane knowledge.

@CurtisMan may be able to help clarify what's going on.

[2017-03-03 09:46] MikeHolman commented on #2271
Closing this as it seems to be answered, feel free to reopen if you are still having issues.

[2017-03-03 09:46] #2271 closed

[2017-03-03 09:58] MikeHolman commented on #2302
Can we close this? Sounds like it's fixed.

[2017-03-03 10:02] MikeHolman commented on #2378
Is wrong calling convention still an issue?

[2017-03-03 10:05] MikeHolman commented on #2437
@agarwal-sandeep FYI

[2017-03-03 12:04] cosinusoidally commented on #2302
Do you have some kind of automated regression test suite that you run on each branch (similar to Mozilla's Treeherder)? If so, wouldn't it be green if this was fixed?

[2017-03-03 15:40] curtisman commented on #2092
@fantaclaus Yes.  In ChakraCore all versions, and Chakra shipped in Win10 November Update (2015) or after, we added support to allow object to be used across different `JsContext`  For all versions, JsContext from the same JsRuntime reside on the same GC heap anyways. For complete isolation, you can create separate `JsRuntime`

@darfink You are correct. `JsInstanceOf` is equivalent of the `instanc

[2017-03-03 18:27] pleath commented on #2312
@kunal / @digitalinfinity , do we not already have such a thing? Or is it marking the parse script entry point from the host, rather than invocations of the Parser?

[2017-03-03 20:08] dilijev commented on #2607
@davisp Thanks for the feedback, I think we can definitely update the documentation to make this clearer.

[2017-03-03 20:10] dilijev commented on #2295
Closing this question as answered.

[2017-03-03 20:10] #2295 closed

[2017-03-03 20:12] dilijev commented on #2575
@JohnMasen Thanks for posting the link to the project here! I've had my eye on that project and reference it occasionally among the team as an example of a third-party .NET wrapper for JSRT.

[2017-03-03 20:18] dilijev commented on #2572
Since #2569 addresses this, should this issue still remain open?

[2017-03-03 20:22] MikeHolman commented on #2572
No, we can close this.

[2017-03-03 20:22] #2572 closed

[2017-03-03 21:33] Cellule commented on #2378
@MikeHolman AFAIK it hasn't been fixed yet, but maybe @obastemur has more info on this

[2017-03-03 23:40] liminzhu commented on #2607
Made a doc change.

https://github.com/Microsoft/ChakraCore/wiki/JsCallFunction/_compare/776013002b865aea72628d7ddb14d7a73b9ab870

[2017-03-04 00:08] dilijev commented on #2607
Thanks for that, @liminzhu! I think we should leave this page open until we investigate the `struct` approach discussed above and decide if that's something we can pursue.

[2017-03-04 00:29] liminzhu commented on #2607
sgtm

[2017-03-04 00:39] MikeHolman commented on #2378
Then can we increase the priority on this issue? It is essentially blocking our wasm fuzzing and generally is a pretty high impact issue for wasm/asm.js code.

[2017-03-04 01:45] simply-jos opened #2635 "Question: Getting the prototype of the caller of "super"?"
I'm writing a binding generator for C++ <-> ChakraCore. Right now, I'm struggling to support extending native classes from JS-defined classes like so:

[code]

However, when I return the object generated from NativeSuperClass's native constructor, I have to call JsSetPrototype on it in order to properly bind the native class to its JS prototype.

I'd like to attach the prototype of "JavascriptChil

[2017-03-04 02:54] dilijev commented on #2566
Looks like this question is answered. Closing.

[2017-03-04 02:54] #2566 closed

[2017-03-04 02:54] dilijev commented on #2466
Looks like this question is answered. Closing.

[2017-03-04 02:54] #2466 closed

[2017-03-04 02:56] dilijev commented on #2464
Looks like this question is answered. Closing.

[2017-03-04 02:56] #2464 closed

[2017-03-04 02:57] dilijev commented on #2422
Removing question as this has been identified as a build bug and there is a fix in review.

[2017-03-04 02:57] simply-jos commented on #2635
I managed to figure this out.

The "arguments[0]" object (this) passed in is actually the function that represents the class (JavascriptChildClass constructor in this case, somewhat unintuitively, but maybe only because I'm not super experienced with Javascript), so the "prototype" property on arguments[0] ("this" object) is what I'm looking for here.

Closing and hopefully this knowledge might he

[2017-03-04 02:57] #2635 closed

[2017-03-04 02:59] dilijev commented on #2092
Looks like there is no compatibility concern because the question references legacy jscript9 behavior. Also looks like this question is answered. Closing.

[2017-03-04 02:59] #2092 closed

[2017-03-04 14:04] JohnMasen commented on #2575
@dilijev  My Pleasure ：）

[2017-03-04 14:38] jods4 commented on #2606
I stumbled upon this today with Edge 14.4393.
It impacts Aurelia framework, see aurelia/bootstrapper#59.
I came up with the following minimal repro:
[code]
As noted by OP the bug is quite specific. Not having nested lambdas, or using a block instead of an expression after the arrow makes it go away.

Code above works in Firefox.

[2017-03-06 08:15] dmunch opened #2638 "JSRT: Promises, continuation callback and garbage collection"
I just started playing with promises and implemented a simple continuation callback like the one documented in the [JavaScript Runtime Overview](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#promises). While at first everything worked smoothly I quickly ran into cryptic stack traces from inside ChakraCore.

Luckily I've seen those before and I knew that garbag

[2017-03-06 17:18] #2532 closed

[2017-03-06 23:15] dilijev commented on #2638
@liminzhu

[2017-03-06 23:59] akroshg opened #2645 "ES6 module : unable to find an object from imports"
If we have import and export for a module and if that module is exported as namespace object then we unable to find that export from the namespace object.
consider this
**test.js**
[code]

**test1.js (R)**
[code]

**module1.js (D1)**
[code]

**module2.js (D2)**
[code]

ch -es6module test.js produces
TypeError: Object doesn't support property or method 'simpleExport'
   at test (:4:5)
   at Anonymo

[2017-03-07 00:13] liminzhu commented on #2638
Thanks for opening the issue @dmunch ! This is certainly the right thing to do. I made an [edit](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-(JSRT)-Overview/_compare/3523ae78f98becf70011e683204e42e6e45e3ed8) to the doc just now and will open an issue to fix that in the samples.

[2017-03-07 08:38] xiaoyinl commented on #2607
Maybe I am wrong or misunderstand your point, but I think if you have `typedef struct _js_ref JsRef`, you can only write `JsRef *localVariable;`, but not `JsRef localVariable;`?

[2017-03-07 17:22] akroshg commented on #2645
Fix pushed.

[2017-03-07 17:22] #2645 closed

[2017-03-08 00:16] dilijev commented on #2607
I think it would look something like this (in C to demonstrate the fact that this change would still be C-compatible):

[code]

https://ideone.com/xaVQEf

[2017-03-08 02:46] xiaoyinl commented on #504
How about creating a new API `JsDeleteIndexedPropertyWithResult` or `JsDeleteIndexedPropertyV2`?

[2017-03-08 12:09] JohnMasen commented on #2575
@dilijev
I don't know how to send private message. so leave my message here.
Can I ask you a favor to spread my library chakracore.NET. I spend many times on that, I believe you can identity that is a good library. It supports a lot of features and I believe by looking into it's source, it can answer many integration questions here.
I can't do it may self now, as I need to take care of my wife fro

[2017-03-08 23:16] MikeHolman opened #2653 "add arm support for folding pattern of a+(b<<pow2) into lea"
#2629 adds x86 and x64 support, but arm encoder requires some additional work to get this working. Right now we don't have arm support for wasm/asm.js, and as an optimization targeted mainly for them, arm support is lower priority.