[2018-07-26 23:15] #5225 closed

[2018-07-26 23:51] VSadov opened #5542 "Add an `IsRevoked` helper to JavascriptProxy for more code clarity"
The code uses `handler == null ` all over the place as the way to check for revocations.
That is a very confusing practice as it came up in https://github.com/Microsoft/ChakraCore/pull/5529

[2018-07-27 06:15] Funkwai commented on #5541
Thanks for your advice.
I do the profiling with ETW using the original GUID, but almost all the profile information from my process is still shown as "unknown" except the name of Javascript program, do you know why?

my command in cmd is "> {PATH}\ChakraCore\Build\VcBuild\bin\x64_debug\ch.exe -bgjit- box2d.js"

![wpa2](https://user-images.githubusercontent.com/22340022/43304618-aeb381e0-9129-11e8-

[2018-07-27 10:30] keithamus opened #5543 "Implement Array.prototype.flatMap, Array.prototype.flat"
flatMap and flat are now Stage 3. https://github.com/tc39/proposal-flatMap

[2018-07-27 16:53] rhuanjl commented on #5543
I'd be keen on implementing this if it's not already planned for. Please let me know if an external contribution would be welcome here.

[2018-07-27 17:31] digitalinfinity commented on #5541
Hi @Funkwai - can you remind me how you're collecting the ETW trace again? It looks like you're missing loader events- if you use WPRUI, you can check Edge Browser and that should get you a useable trace

![image](https://user-images.githubusercontent.com/158390/43337281-3b15aeb6-9188-11e8-9fe2-eb5bf474b018.png)

[2018-07-27 18:17] CheloXL opened #5544 "Invalid procedure call or argument on Intl.DateTimeFormat"
If I try to instantiate a Intl.DateTimeFormat with very specific values (see below) I get the above exception.
So far this only happens with these values. Tried others combinations (for dates, times) and they all seems to be working.

This is not locale specific. It happens with any available locale.

[code]

[2018-07-27 18:35] CheloXL commented on #5544
@MSLaguana Microsoft Edge 41.16299.547.0, Microsoft EdgeHTML 16.16299

[2018-07-27 18:35] igor-simoes commented on #5076
Hi everyone, I think this is a similar case to test when fixing this issue.

[code]

[2018-07-27 18:39] MSLaguana commented on #5544
I don't see that behavior in a more recent version of edge, Microsoft Edge 42.17134.1.0, so this might have been fixed already.

[2018-07-27 18:39] CheloXL commented on #5544
The only thing that I can add is the errorcode (`-2146828283`). The stacktrace doesn't seems to have anything useful `'TypeError: Invalid procedure call or argument at Global code (file:///D:/Code/ExtremeFX/edge.html:8:3)'`

[2018-07-27 19:04] igor-simoes opened #5548 "DataView.setFloat32 should convert undefined value to NaN"
Hi everyone,
according to [24.3.4.13](https://www.ecma-international.org/ecma-262/8.0/index.html#sec-dataview.prototype.setfloat32) DataView.setFloat32 should cast to NaN when value argument is not present.

OS: Ubuntu 16.04
version: 1.10.1

steps to reproduce:
[code]
Actual results:
TypeError: Invalid arguments in DataView

Expected results:
NaN

V8, SpiderMonkey and JSC works as expected.

cinfu

[2018-07-27 19:04] jackhorton commented on #5544
Perhaps an RS3 bug in WinGlob? I don't think we ever report invalid procedure call except for on COM errors. @Microsoft/target-dev FYI, we can also discuss this offline to figure out if we can get a good repro.

[2018-07-27 19:07] jackhorton commented on #5502
Oops, completely missed this one. We actually use custom parsing for the date constructor (since I think the JS spec at least hints at the algorithm, if it doesn't define it outright), so this should be a problem regardless of the Intl implementation.

[2018-07-27 21:01] igor-simoes opened #5549 "Chakra should returns false if key is a numeric index and desc.writable is false"
Hi everyone,
according to [9.4.5.3](https://www.ecma-international.org/ecma-262/8.0/index.html#sec-integer-indexed-exotic-objects-defineownproperty-p-desc) it is possible define a property key if it is a numeric index, Chakra throws a TypeError instead.

OS: Ubuntu 16.04
version: 1.10.1

Steps to reproduce:
[code]
Actual results:
TypeError: Cannot redefine non-configurable property '0'

Expected r

[2018-07-27 21:15] huaiyudavid opened #5550 "Differing behavior with other engines for nested destructuring in array rest"
The unit test in destructuring_bugs.js, "Rest as pattern at param with arguments/eval at function body" yields differing values from other engines. The eshost output is attached below:

[code]

Generated by:
[code]

[2018-07-27 21:20] huaiyudavid opened #5551 "Destructuring unrecognized when nested in Array Rest"
Currently, the parser does not recognize the destructuring object/array as an array rest parameter and as such, everything in the object/array remains uninitialized. However, the specific case of having object destructuring works syntactically (see issue #5550). For example:
[code]
results in rest being empty, when it should be {0:2, 1:3}.

The parser currently treats the `{...rest}` as a var decl

[2018-07-27 21:50] #5203 closed

[2018-07-27 22:14] kfarnung commented on #3710
Looks like this causes a difference in behavior with other browsers:

[code]

[2018-07-27 22:14] kfarnung commented on #3711
Looks like this causes a difference in behavior with other browsers:

[code]

[2018-07-27 22:17] rhuanjl commented on #5549
I don't think this should succeed - it should return false (and fail to set the property) - which the other engines do. Though it should not be throwing an error.

[code]
eshost Results:
[code]

[2018-07-27 22:31] rhuanjl commented on #5548
Same issue applies to all other data view set methods (setFloat16, setInt8 etc). Should be a simple fix though, I can make a PR for this if wanted, let me know.

[2018-07-28 17:18] CheloXL commented on #5544
Just tested in Microsoft Edge 42.17134.1.0/Microsoft EdgeHTML 17.17134. Same behavior. Please note that I have enabled "Break on all exceptions" on the debugger.

[2018-07-28 17:46] MSLaguana commented on #5544
Hmm, even with 'break on all exceptions' I still don't see this. How are you running the code? I was just using the f12 console to type it in, but it looks like you are using some html page; can you provide a complete repro?

[2018-07-28 17:57] CheloXL commented on #5544
Well, yes, but that's not something quite complicated :)
Here you have:
[code]

[2018-07-28 22:15] rhuanjl commented on #5543
OK - I'll make a start and see how I get on, I think that for CC mechanics I can follow the model used for Array.prototype.filter so hopefully won't need much assistance. I'll also endeavour to test against all of the relevant test-262 tests before submitting anything.

[2018-07-29 05:16] fatcerberus commented on #5532
I tried but can't reproduce this - the script just runs indefinitely in both miniSphere and `ch` (ChakraCore 1.10.0)

[2018-07-29 16:45] jackhorton commented on #5544
For what its worth, I am seeing this as working on windows build 17728, though I suspect it will work with any ICU-enabled build of Chakra/Core.

[2018-07-30 08:07] meg-gupta commented on #5543
ChakraCore/lib/Runtime/Library/JsBuiltIn/JsBuiltIn.js  - has our builtins written in Javascript. Array.prototype.indexOf is also a good implementation to follow via the Js route.

[2018-07-30 08:08] zhunki commented on #5532
there was a typo, see the correct sample:

function g()
{
for (var i = 0;;++i)
{
for (var j =0;;++j)
{var a =0;}
}
}

g();

[2018-07-30 13:46] fatcerberus commented on #5532
You should edit the OP to put the correct code.  Note you can also put a triple-backtick on the line above and below the code to get it to format as code.

[2018-07-30 14:13] zhunki commented on #5532
sure. edited.

[2018-07-30 14:16] fatcerberus commented on #5532
Yep, that reproduced it.
[code]

[2018-07-30 15:48] zenparsing commented on #5549
Specifically, `defineProperty` will only work on a TypedArray if:

- the property key is a "number string"
- configurable is false
- enumerable is true
- writable is true
- the descriptor is not a getter or setter

Otherwise it should return false (but not throw).

[2018-07-30 18:28] sethbrenith commented on #5541
You might also need to do "Configure symbol paths" and add whatever folder is holding chakracore.pdb, so that the "Load symbols" button can then find it.

[2018-07-30 19:35] akroshg commented on #5531
@sunlili thanks for reporting it - as @fatcerberus pointed out this is dupe for 5087. it is being fixed. Closing this as a duplicate.

[2018-07-30 19:35] #5531 closed

[2018-07-30 20:27] sethbrenith opened #5558 "support `-forceSerialized` command line switch in ch"
As @huaiyudavid recently pointed out, jshost respects `-forceSerialized` (checked in `ScriptEngine::CompileUTF8Core`), but ch seems to have no corresponding code.

[2018-07-30 20:41] MSLaguana commented on #5558
Is that correct? I checked in a change recently that uses `forceSerialized` in a test: https://github.com/Microsoft/ChakraCore/commit/ad5c19ccb975975740e6041d0c0968f1d1b34eb5#diff-a9b1789717914bc449c3d7444e424c42

[2018-07-30 20:54] sethbrenith commented on #5558
If those tests are using exclude_jshost, then I doubt we're getting any serialization coverage from them.

[2018-07-30 21:00] MSLaguana commented on #5558
@boingoing do you know what's going on here? Seth told me offline that while this flag exists in ch, it never seems to actually force the serialization, that code only appeared in jshost.

[2018-07-30 23:05] kfarnung commented on #5558
@boingoing and I looked into this recently and it doesn't appear to be implemented in ch.  It would be helpful to have.

[2018-07-30 23:17] rhuanjl commented on #5532
I had quick look at this, error occurs here inside EmitInvertedLoop:
https://github.com/Microsoft/ChakraCore/blob/714924736dfb3f2cab2377a12a5be03f4811d134/lib/Runtime/ByteCode/ByteCodeEmitter.cpp#L9263-L9266
When the for loop's condition is empty the testNode there will be a nullptr.

I assume need to skip the label and the expression in those cases - that is what the EmitLoop i.e. non-inverted ve

[2018-07-30 23:30] Funkwai commented on #5541
@MSLaguana @sethbrenith Thanks, the trace log looks great after the symbols are loaded, the internal function of ChakraCore and JITed functions are shown properly.

A further question, is this profiling method with ETW also supported in win10-arm platform? I downloaded WPR & WPA on ASUS NovaGo TP370QL (Arm-processor based) laptop and do the same profiling process, but occur an unexpectedly quit in

[2018-07-31 02:13] boingoing commented on #5558
Yeah, this is the case. Ch.exe has a different flag (-serialied I think) which uses a slightly different, ChakraCore only code path. This is a similar situation to the -UseParserStateCache Ch.exe flag.

[2018-07-31 16:54] dilijev commented on #3710
Ah yes, the Turkish i problem.

[2018-07-31 16:56] dilijev commented on #3710
@kfarnung @jackhorton possibly because it's not implemented yet?

[2018-07-31 17:11] kfarnung commented on #3710
Yup, that's what it looks like.  We don't currently look at the parameters to the `toLocaleLowerCase` function.  Just calling out the explicit difference in behavior between us and other browsers.

[2018-07-31 18:58] aneeshdk opened #5559 "Super property access in eval cases should throw SyntaxError not runtime error"
Following up on the discussion in this PR https://github.com/Microsoft/ChakraCore/pull/5471. Right now for eval cases we always assume superpopertyallowed status and then throw a runtime error for error cases. Ideally is should be a Syntax Error.

function foo() {
    print(eval("print('Inside eval');super.a"));
}
foo();

This shouldn't print 'Inside eval' at all. We should only get a SyntaxError.

[2018-07-31 20:25] sigatrev commented on #2319
This issue is different from 3532

[2018-08-01 00:43] digitalinfinity commented on #5065
Change is ready but the compat risk is high for 1.10- moving to vNext so that we have additional cushion for compat testing

[2018-08-01 17:45] akroshg commented on #5551
The other case which is not supported is
[code]

[2018-08-01 20:02] irinayat-MS opened #5564 "Assertion when deleting indexed property from frozen array"
'use strict';
var o = [1,2,3]
Object.freeze(o);
console.log(delete o[1]);

Result: Assert: (result || !(propertyOperationFlags & (PropertyOperation_StrictMode | PropertyOperation_ThrowOnDeleteIfNotConfig)))

[2018-08-01 22:48] zenparsing commented on #5559
[code]

[2018-08-01 22:52] zenparsing commented on #5564
See https://tc39.github.io/ecma262/#sec-delete-operator-runtime-semantics-evaluation Step 1.5.d.

[2018-08-01 23:54] #5564 closed

[2018-08-02 03:37] #4287 closed

[2018-08-02 04:37] nullbus commented on #5463
For followup:

I had a chance to get a device that native debugger is attachable. So I narrowed down the problem to this line https://github.com/Microsoft/ChakraCore/blob/v1.8.0/pal/src/map/virtual.cpp#L1188
Actually a thread hanged during `memset`, I think some kind of memory access violation occured.

The address in `StartBoundary` is `mprotect`ed before calling `memset`. I changed `MMAP_DOESNOT

[2018-08-02 04:37] #5463 closed

[2018-08-03 15:13] #5492 closed

[2018-08-03 18:27] crdumoul opened #5570 "Proper use of name parameter for JsCreatePropertyId"
The documentation for JsCreatePropertyId at https://github.com/Microsoft/ChakraCore/wiki/JsCreatePropertyId indicates that the 'name' parameter may consist of only digits.

I'm confused as I expect the name to be the name of whatever property you're going to get/set, and not just a string representation of an integer.

[2018-08-03 18:40] MSLaguana commented on #5570
I believe that the intention of that is to say that it is permissible for the name to consist only of digits, not that it is required that it consist only of digits. You are certainly correct that it is not clear though!

[2018-08-03 18:43] MSLaguana commented on #5570
@liminzhu What do you think about rephrasing the documentation there to

[code]

[2018-08-04 06:37] leeswimming opened #5571 "ChakraCore crashes with assertion failure in Scan.h:495"
Debug build of ChakraCore received SIGILL with an ASSERTION FAILURE.

[code]

OS: Ubuntu 18.04 LTS
Arch: x86_64

[2018-08-04 07:14] leeswimming opened #5572 "ChakraCore crashes with assertion failure in ScriptContext.cpp:2809"
Debug build of ChakraCore received SIGILL with an ASSERTION FAILURE.

ASSERTION 15614: (/data/ChakraCore/lib/Runtime/Base/ScriptContext.cpp, line 2809) this->threadContext->GetRecordedException() == nullptr || GetThreadContext()->HasUnhandledException()
 Failure: (this->threadContext->GetRecordedException() == nullptr || GetThreadContext()->HasUnhandledException())

[code]

OS: Ubuntu 18.04 LTS
Ar

[2018-08-04 13:50] rhuanjl commented on #5543
One question I could do with help with, implementing a ethodwithin JsBuiltIn.js is it possible to have another JavaScript Function that it calls?

Motivation is that I cannot see a good way to .flat or .flatMap without using the FlattenIntoArray function described in the spec - I've written this function in JavaScript but for some reason including this inside JsBuiltIn.js and then trying to call i

[2018-08-04 14:45] meg-gupta commented on #5543
A good example for such a helper function would be CreateArrayIterator in JsBuiltins.js. We register them via registerChakraLibraryFunction and which adds them to the  __chakraLibrary object. Functions on  __chakraLibrary will be treated internal and will not be visible outside. Unfortunately we have not added documentation on the process of adding a Js builtin, I'll try to make that happen soon.

[2018-08-04 16:43] rhuanjl commented on #5543
Thanks for the help, it all seems to be working now, I'll sort out some appropriate tests then submit it.

[2018-08-06 18:29] liminzhu commented on #5570
Yeah I think that'd be more accurate.

[2018-08-06 18:40] liminzhu commented on #5570
Just updated the wiki. I will make a PR to adjust the comment in the header as well.

[2018-08-06 22:26] crdumoul commented on #5570
Thanks for the clarification!

[2018-08-07 10:18] igor-simoes opened #5576 "Chakra should not redeclare "undefined" keyword"
Hi everyone,
this is a inconsistency on Chakra that can declare global binding `undefined`.

OS: Ubuntu 16.04 x64
chakra: 1.10.1.0

steps to reproduce:
[code]
Actual results:
Test failed
Test failed

Expected results:
SpiderMonkey: TypeError: Property must be configurable or both writable and enumerable (Early error)
V8: SyntaxError: Identifier 'undefined' has already been declared (Early Error)
J

[2018-08-07 14:02] igor-simoes commented on #5576
Similar case with NaN function pass without failures.
[code]

[2018-08-07 14:35] crdumoul opened #5577 "Seg fault when accessing Context from multiple threads"
I've got a test program that does the following in two separate threads. I understand that the runtime and context can only be accessed by one thread at a time.

In the main thread, create a runtime and a context, and execute some JavaScript code to add a function called "square" to the global object. The JavaScript code being run is very simple:
`function square(number) { return number * number;

[2018-08-07 14:39] crdumoul commented on #5577
I'm wondering if what I'm doing wrong here is calling JsAddRef (to prevent the Context from being garbage collected) without any active context.

[2018-08-07 15:55] zenparsing commented on #5576
See https://tc39.github.io/ecma262/#sec-candeclareglobalfunction

Among other things, if there is a property on the global object whose configurability is `false`, then a TypeError should be thrown.

[2018-08-07 19:14] crdumoul commented on #5577
To add a little more information to the backtrace, I built a debug version of libChakraCoreStatic.a. This is the updated backtrace:
#0  0x000055bb40b6bf43 in Memory::RecyclerWriteBarrierManager::WriteBarrier (address=0x7f39f4dfdc90) at /home/vagrant/work/ChakraCore/lib/Common/Memory/RecyclerWriteBarrierManager.cpp:331
#1  0x000055bb40be62c9 in Memory::WriteBarrierPtr<char16_t const>::WriteBarrierS

[2018-08-07 20:02] igor-simoes opened #5579 "RegExp.prototype.compile with incompatible Object"
Hi everyone,
according to [es6 specs](https://tc39.github.io/ecma262/#sec-regexp.prototype.compile) chakra should throw a TypeError if  the object does not have a RegExpMatcher.

OS: Ubuntu 16.04 x64
chakra version: 1.10.1.0

steps to reproduce:
[code]
Actual results:
pass without failures

Expected results:
TypeError: Method RegExp.prototype.compile called on incompatible receiver [object Object]

[2018-08-07 20:31] MSLaguana commented on #5577
This looks to me like it's an issue with `JsUtil::CharacterBuffer`; at https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Base/ThreadContext.cpp#L1186 one is stack allocated, but according to https://github.com/Microsoft/ChakraCore/blob/cc115671134153e9996b2c9f7fffb2c2f861e125/lib/Common/DataStructures/CharacterBuffer.h#L76-L77 it has `Field`s which try to set write barrier bits. Sinc

[2018-08-07 20:34] MSLaguana commented on #5577
I'm surprised that this hasn't come up before, since this appears to have been there for years.

I do see that the `Field` annotations were explicitly added in https://github.com/Microsoft/ChakraCore/commit/ae27ef3b1572ad55f0d3c07f1042ed5aeea2cb0a

Perhaps instead we should have the write barriers check if the index is in bounds? Although that will definitely add some overhead.

[2018-08-07 20:40] MSLaguana commented on #5577
This might be what I was missing: https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/Memory/RecyclerWriteBarrierManager.cpp#L52-L55

There is some per-thread handling of the card table, and it may be that was somehow missed on the second thread, so its stack isn't accounted for.

[2018-08-07 21:41] MSLaguana commented on #5577
I've just put out a PR which I think will fix the issue for you. Are you able to pull my branch and try it out yourself @crdumoul ?

[2018-08-07 22:14] crdumoul commented on #5577
@MSLaguana, thanks. I should be able to try that branch tomorrow, and I'll let you know how it goes.

[2018-08-08 14:07] yuzurihara opened #5585 "The source property of exception-metadata may be wrong."
Hello.
The following script will raise a compile error.
`trace("摩天楼"2222, true, 3.14);`

And the source property of exception-metadata is wrong.
like this:
`trace("摩天楼"2222, true, m File`

In Scanner::SysAllocErrorLine(), `pEnd` calculation is failed with two or more bytes character.
It makes insufficient string and we can see uninitialized memory.

environment: ChakraCore v1.10.1/Win10/64bit

[2018-08-08 14:38] chicoxyzzy commented on #3406
Isn't it implemented already? https://github.com/Microsoft/ChakraCore/pull/5498

[2018-08-08 14:39] chicoxyzzy commented on #3406
O_O how did I unassigned someone?

[2018-08-08 15:18] sethbrenith commented on #3406
@chicoxyzzy No worries about unassigning. Object spread and rest are implemented, but not yet enabled by default, so I'd personally prefer to leave the issue open until they're enabled. A feature that exists in the code but is inaccessible doesn't seem like it should be marked as complete.

[2018-08-08 15:19] igor-simoes commented on #5442
cinfuzz

[2018-08-08 15:47] styfle commented on #3406
See this comment for more info: https://github.com/Microsoft/ChakraCore/pull/5268#issuecomment-411438657

[2018-08-08 16:28] crdumoul commented on #5577
@MSLaguana those changes seem to have fixed the problem.

[2018-08-08 16:32] MSLaguana commented on #5577
Great, thanks for confirming that!

[2018-08-08 18:04] igor-simoes commented on #5443
cinfuzz

[2018-08-08 20:38] rhuanjl commented on #5443
Looking at this again my comment above may be unclear - what i saw by looking at the code is that ChakraCore intentionally implements a non-standard Error constructor it:

a) if called with 1 argument behaves per spec BUT
b) if called with 2 arguments it assumes that argument 1 = error number/code and argument 2 = error message

This behaviour for 2 arguments is not per spec BUT looks very intenti

[2018-08-09 15:21] MSLaguana commented on #4822
Seems plausible; the stack-allocated SRCINFO in JsSerializeScriptCore would trigger write barriers when created, and if it was off the main thread then prior to my fix the thread stack didn't have the card table region set up correctly.

[2018-08-09 15:28] #5577 closed

[2018-08-09 15:29] MSLaguana commented on #4822
Just merged in https://github.com/Microsoft/ChakraCore/pull/5580 so if you pull master and retry your rental threading approach then I believe it should work now.

[2018-08-09 16:21] ciscoo commented on #2720
@rhuanjl See the link posted by @BobChao87

It is currently marked as `UNDER CONSIDERATION` and:

So to answer your question, no idea when really, but soon. 🤷‍♂️

[2018-08-09 16:30] benjamin-bader commented on #4822
Awesome!  I'll try to make time this week to verify.

[2018-08-09 21:27] rhuanjl commented on #4268
If I wanted to address this issue would it be as per instructions here:
https://github.com/Microsoft/ChakraCore/wiki/Jenkins-CI-Checks#making-changes-to-the-jenkins-ci-configuration

Including opening a PR to master-ci initially?

[2018-08-09 23:48] psavur opened #5587 "Symbol.for and usage as Map key do not work as expected"
Try the following in console:

[object Map]: {size: 0}

[object Map]: {size: 1}

undefined

Actual: undefined
Expected: "v1"

Same works in Chrome and returns "v1".
Symbol.for() should have created an entry in the global symbol registry.

Screenshot below
![image](https://user-images.githubusercontent.com/36400213/43931382-f90a7ba8-9bf2-11e8-8102-b8ded17f8b26.png)

EDGE version:
Microsoft Edge 42.

[2018-08-10 00:37] #5078 closed

[2018-08-10 01:29] psavur commented on #5587
Thats good that newer builds have this working.
Do you know when this would be released in public/GA Edge builds?

[2018-08-10 01:57] kfarnung commented on #5587
That's pretty bizarre, I tried on an 1803 machine (17134.191) and didn't repro at first, but on the second attempt I got a slightly weird behavior:

![image](https://user-images.githubusercontent.com/931192/43934837-06c90396-9c06-11e8-9469-9462de9d59d2.png)

@boingoing @MSLaguana any ideas?

[2018-08-10 02:54] boingoing commented on #5587
Seems to work ok for me in the latest RS5 flight. I don't know when the bug was fixed, though. That behavior on 1803 doesn't look right. I wonder if that script was somehow executed on a different ThreadContext? The symbol global registry is per-ThreadContext.

[2018-08-10 07:31] psavur commented on #5587
I repeated using Symbol.for couple of times and see inconsistent behavior.
It sometimes allows me to set the same key twice in the map. This happens ~50% of the time.

I get a feeling Symbol.for() is having some issue where it sometimes does not see the symbols already created in the global registry.

![image](https://user-images.githubusercontent.com/36400213/43944502-fa3d96ae-9c33-11e8-9f13-f761

[2018-08-10 15:17] MSLaguana commented on #5587
I don't think that this can be an issue with running on a different thread; I tried this:

[code]

and that ends up printing "Get difference" with i either 0 or 1. Since it can happen with `i=1` that says to me that `m1.get` isn't stable somehow.

[2018-08-10 16:06] MSLaguana commented on #5587
It looks like the bug was fixed by @sethbrenith in 1c0c67e01475aa3a83cba1e1312275ad59498076 when he tweaked how symbols were created.

[2018-08-10 16:09] MSLaguana commented on #5587
This will be fixed in the next release of edge. As a workaround in the current version of edge, if you only create a symbol once and keep re-using the same reference (e.g. instead of `m1.set(Symbol.for("n1"),...)` you did `var sym = Symbol.for("n1"); m1.set(sym, …);`) then I believe it should work as expected.

[2018-08-10 17:42] sethbrenith commented on #3406
Perf looks fine compared to other engines, at least based on a very simple test.

[code]

[code]

[2018-08-10 21:10] rhuanjl commented on #496
I've made a PR to respond to this #5588

[2018-08-10 21:15] MSLaguana commented on #496
I think you mean https://github.com/Microsoft/ChakraCore/pull/5583

[2018-08-10 21:17] rhuanjl commented on #496
@MSLaguana indeed, sorry for the typo and thanks for the correction (fixed above)

[2018-08-10 22:05] rhuanjl commented on #1230
I had a look at this - despite being marked "good first issue" it's not exactly simple.

The idea is to use the medium pace path for spread of an arguments object when it's "standard" i.e. its iterator has not been overwritten and it has no getters on its properties (which could alter its length.

I could handle the first check but can't see an obvious way to check for getters without extra machin

[2018-08-10 23:47] #5513 closed

[2018-08-11 05:31] ljharb opened #5590 "Implement Object.fromEntries"
Object.fromEntries is a stage 3 proposal: https://github.com/tc39/proposal-object-from-entries

It'd be great to get it implemented in Chakra soon!

Test262 tests are here: https://github.com/tc39/test262/pull/1676

Ref: https://github.com/tc39/proposal-object-from-entries/issues/21

[2018-08-11 09:48] rhuanjl commented on #5590
I could do this one if an external contribution would be welcome?

Looks like it would be particularly easy as a JsBuiltin though I could do it native as well.

Let me know if you want me to do it andvwhich approach (JsBuiltIn or native) would be preferred.

[2018-08-11 13:32] rhuanjl commented on #2787
I'll give this a go, doesn't look too complex.

[2018-08-11 18:25] rhuanjl opened #5591 "RegenAllByteCodeNoBuild.cmd regens JsBuiltIns twice"
This issue is as minor as they come - no impact on CC when you're running it.

But slightly annoying redundancy when running the script a lot e.g. when developing any new JsBuiltIn (unless I'm misunderstanding and the repeat is needed):

https://github.com/Microsoft/ChakraCore/blob/f5c33acaf24f5899435ac295ab8597611e743103/RegenAllByteCodeNoBuild.cmd#L31-L39

[2018-08-13 17:40] akroshg commented on #5590
@rhuanjl go ahead and have a stab at it. I'd prefer JsBuiltIn approach.
/cc @sigatrev incase you need any help on that.

[2018-08-13 18:26] #5591 closed

[2018-08-13 18:49] pleath commented on #1230
I think the idea was that we could treat arguments objects as arrays for the purpose of spreading them and that it ought to be really simple to do so, since spreading of arrays is fully functional (though, as you say, not fully optimized). The way we handle accessor elements and user iterators for arrays *should* just work for arguments objects. Are you finding that that's not the case?

[2018-08-13 19:03] rhuanjl commented on #1230
In order to check that it's safe to use this optimisation on an array the following checks are done on it:
https://github.com/Microsoft/ChakraCore/blob/294015c40a027b368ed6461de0a148233a725245/lib/Runtime/Language/JavascriptOperators.cpp#L1409-L1413

Most of those methods don't exist for an arguments object so I couldn't use them directly. Key thing I couldn't see how to check as above is whether

[2018-08-14 12:02] thoneu opened #5595 "Crashes on 2008 R2"
ChakraCore 1.10.1 does not work anymore on Windows Server 2008 R2. The server is fully patched. Just try to run the ch.exe running a simple script and it will crash.

ChakraCore 1.10.0 works fine.

[2018-08-14 15:42] MSLaguana commented on #5595
I just tried this out on a Windows Server 2008 R2 SP1 machine and I didn't see a crash with a simple `console.log("Hello world")` test script. Did you try it on an SP1 machine, or just plain 2008 R2 without SP1?

[2018-08-14 16:32] psavur commented on #5587
The above commit mentioned in @MSLaguana post was merged in January 2018. Do you know which version of Edge will have that merged fix? (fyi: To restate, this is still seen in version 42, the latest release)

Regarding the workaround, if I end up re-using the same reference to the Symbol by passing the reference around, then essentially it defeats the purpose of Symbol.for().

[2018-08-14 17:01] MSLaguana commented on #5587
It is fixed in current insider builds, so the next (non-security patch) release of edge should have the fix.

[2018-08-14 17:25] psavur commented on #5587
Would that release be version 43?

[2018-08-14 17:29] boingoing commented on #5587
I don't believe the Edge team has committed to the next version number, yet. It looks like current Insider flights of Windows include Edge version 44.

[2018-08-14 22:40] boingoing commented on #5571
Thank you for the report. I believe this is a dupe of https://microsoft.visualstudio.com/OS/_workitems/edit/17117705 which has been pretty hard to create a simple repro for. I am looking into it.

[2018-08-15 04:42] telnetgmike opened #5598 "seems a optimization bug when an object escaped"
Seems only can effect the js code logic:
Maybe the stack obj memory should be discarded after the deep copy, and redirect the ref to the stack obj data to the new heap obj memory.
otherwise, the optimized code execution result "heap_arr[index] == stack_arr[index]" not true, which changed the code logic.

[seems_a_bug_but_not_security_one.js.txt](https://github.com/Microsoft/ChakraCore/files/228921

[2018-08-15 06:06] thoneu commented on #5595
Here are some more details:

It is a Windows Server 2008 R2 Enterprise with SP1 running 64-bit. It is used as a build server, so IIS is installed, Java and Jenkins. Also SQL Server 2008 R2 is installed.

ch.exe run in a command prompt started with administrator rights.

Here is what Windows reports when running ch.exe:

Problem signature:
  Problem Event Name:	APPCRASH
  Application Name:	ch.exe

[2018-08-15 08:16] thoneu commented on #5595
I have just tried to make a fresh install of Windows Server 2008 R2 Enterprise with SP1 on a virtual machine (VirtualBox). Taken the image from MSDN. No updates are made. It still crash with same error.

Can it have something to do when running in a virtual machine? Our build server is also a virtual machine.

[2018-08-15 13:11] jeromegn opened #5599 "Multi-threaded synchronization"
I started playing with ChakraCore in a multi-threaded environment (Rust, using a multi-threaded HTTP server) and stumbled into frequent `JsErrorWrongThread` errors. It seems to happen when trying to `JsSetCurrentContext` in a thread while it's active in another thread.

After chatting on gitter, I came to understand there's no synchronization going on in ChakraCore and it's the host's responsibili

[2018-08-15 19:48] jeromegn commented on #5599
This is called a "reentrant mutex" (I've been told)

[2018-08-15 20:09] #5549 closed

[2018-08-15 23:58] #5571 closed

[2018-08-16 00:23] jefgen opened #5603 "Intl ICU: Call ucal_getType instead of calling ucal_setGregorianChange and checking for failure?"
This issue is regarding a bit of code the ICU implementation for Intl. (cc: @jackhorton).

Currently, it looks like ChakraCore calls `ucal_setGregorianChange` and sees if it *fails* with `U_UNSUPPORTED_ERROR ` in order to detect non-Gregorian calendars.

Link to the code:
https://github.com/Microsoft/ChakraCore/blob/c567e4e674e1d1e6af0006060c0277846fe1f862/lib/Runtime/Library/IntlEngineInterfaceEx

[2018-08-16 07:09] PhoebeHui commented on #4848
Any updates?

[2018-08-16 07:10] PhoebeHui commented on #5112
Any updates?

[2018-08-16 15:28] MSLaguana commented on #5595
Thanks, that was exactly what I was after.

It looks like we are failing to initialize winglob which we use for classifying Unicode characters. Does your VM have IE 11 installed on it? There is a dll that gets installed with ie11 that we use for globalization support, and we may be failing to find that.

I am surprised that this only started happening with 1.10.1 though, we've had this dependency

[2018-08-16 16:06] MSLaguana commented on #5595
I spoke with @jackhorton and it turns out this is something that had been reported elsewhere, and should also be fixed in 1.10.2 which went out yesterday. Prior to 1.10.1 we didn't crash if we couldn't access the globalization libraries, but we did potentially have wrong behavior. In most cases this doesn't have an impact, but if you have a script with non-ascii Unicode characters in some location

[2018-08-16 18:45] #5502 closed

[2018-08-17 02:50] QuellaZhang opened #5607 "Chakra failed with error C2760 when build with permissive- by msvc on Windows"
Chakra failed with error C2760 when build with permissive- by msvc on Windows, I use latest source on master branch. Could you please help take a look at this? Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

**You can repro this issue as the steps below:**
 1.git clone -c core.autocrlf=true https://github.com/microsoft/C

[2018-08-17 02:53] PhoebeHui commented on #5607
Similar issue:
d:\chakra\src\lib\runtime\base\threadcontext.h(1579): error C2760: syntax error: unexpected token 'identifier', expected ';'
d:\chakra\src\lib\runtime\base\threadcontext.h(1579): note: This diagnostic occurred in the compiler generated function 'Js::Var ThreadContext::ExecuteImplicitCall(Js::RecyclableObject *,Js::ImplicitCallFlags,Fn)'
d:\chakra\src\lib\runtime\base\threadcontext.h

[2018-08-17 06:30] thoneu commented on #5595
1.10.2 works fine. After installing IE11, 1.10.1 works again. Thanks.

[2018-08-17 12:51] #5595 closed

[2018-08-17 17:33] jackhorton commented on #4798
Not worth keeping open without a known use case, and the failfasts haven't been noisy in flights.

[2018-08-17 17:33] #4798 closed

[2018-08-17 17:34] jackhorton commented on #3810
@kfarnung this is done now right?

[2018-08-17 17:34] #3764 closed

[2018-08-17 19:01] jackhorton commented on #3810
I'll call that done for the purposes for this issue.

[2018-08-17 19:01] #3810 closed

[2018-08-17 23:03] #5543 closed

[2018-08-18 01:34] styfle commented on #3406
@sethbrenith The quote about "additional work" needed was from @MSLaguana

It looks like you are both "members" so I assume you have discussed what work is needed to move this forward. Can you give an update here? 😄

[2018-08-18 04:49] mazong1123 opened #5609 "Consider using Grisu3 + Dragon4 for double.ToString() conversion."
I saw we are using library function [swprintf_s](https://github.com/Microsoft/ChakraCore/blob/701d1af560cf0060df493c65c596d86bed708d4b/lib/Runtime/Library/JavascriptNumber.cpp#L931) to convert a double value to string, which has performance issues that have been discussed in [.NET Core](https://github.com/dotnet/coreclr/issues/10651).

In .NET Core 2.0, there's a new implementation that combined G

[2018-08-20 00:59] #4122 closed

[2018-08-20 07:39] rhuanjl commented on #5590
Sorry for the delayed response - I should have a PR to submit for this at some point this week or next.

[2018-08-20 12:41] sunlili opened #5611 "Incorrect realization of Array.prototype.push"
Hi, following code behaves different from other JS engines.
[code]

In ChakraCore(ch version 1.10.0.0), the output is
[code]
However, since setter is not defined, the exception message should be printed. Other JS engines' output :
[code]
BT group
2018.8.20

[2018-08-20 20:56] sigatrev opened #5614 "OpHelpers returning non-int values lead to Infinite bailouts on some array operations"
[code]

[2018-08-20 21:43] RealTrisT opened #5615 "Undocumented functions. Also getters and setters."
Hi, I'm sorry if this has been said before or if this is not the place to in fact say it, I'm not too much of a github guy.
So, there are some short but useful examples in the overview, but this is my first time doing stuff with interpreters, and I've found out I'm not as comfortable with javascript as I thought. All I'm trying to do is an interface for my c++ stuff. Allow anyone to be able to put

[2018-08-20 21:52] sethbrenith commented on #3406
Yes, there's still some work to do on this feature. In particular, we need to update our internal fuzzing tools so that they exercise object spread and rest, so we get some additional test coverage. We also need to verify interaction with the debug tools.

[2018-08-20 22:14] rhuanjl commented on #5615
(Note I'm an external contributor and a user of CC, I'm not a member of the team here)

Firstly: the wiki documentation is basically the comments from ChakraCore.h and ChakraCommon.h but in a slightly nicer format so generally any missing bits can be found in those headers.

As for how to do getters:
JsObjectDefineProperty is probably the easiest option here (it's the same as JsDefineProperty but

[2018-08-21 13:57] RealTrisT commented on #5615
@rhuanjl Thank you so much.
Though you made a mistake on your code at step 5, object is the parent, you'd wanna set the getter on the descriptor, then the descriptor to the parent's key-"represented" object.
Still took me like 20 minutes to figure it out :P  Wasn't until I went looking for how the deprecated [\_\_defineGetter__](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Glo

[2018-08-21 15:34] MSLaguana commented on #5615
With the code that @rhuanjl provided above, the native call `AddGetter(jsObj, "name", func, data)` is roughly equivalent to the javascript `Object.defineProperty(jsObj, "name", {get: func })` where `func` is also passed `data` as well. That will result in `jsObj.name` invoking the `func` getter when you try to read from it in script.

We have a couple of ways that native functions can be called fr

[2018-08-21 17:50] igor-simoes opened #5617 "String.padStart and String.padEnd should return the original string if filler is an empty string"
Hi everyone,

according to ecma specs [String.padEnd](https://www.ecma-international.org/ecma-262/8.0/index.html#sec-string.prototype.padend) on step `8. If filler is the empty String, return S.`
V8 and Chakra throws a RangeError instead of return the original string.
In specs, if the maxLength is reached the maxLength should be converted to min(len, 2**53 - 1) but in this case the filler is an em

[2018-08-21 18:33] rhuanjl commented on #5615
@RealTrisT sorry for the error in the example (I've updated it in case anyone else reads it)

[2018-08-21 21:39] yloubry opened #5619 "Edge and IE 11 - Date format for ja-JP locale is incorrect when using Month + Day in short and narrow options"
Hi MS team

We are seeing an issue with Edge / IE11 date format for ja-JP when using only Month and Day as an option. This is potentially coming from the CLDR version used by the Intl API but not sure.

Win 10 Microsoft Edge 42.17134.1.0:
Options: short, narrow for date without year results in missing month char in ja-JP
Expected: 8月5日 no matter which option is chosen for month
<img width="597" al

[2018-08-21 22:09] jackhorton commented on #5619
Looks like a dupe of #5048? If so, this should be fixed in the next version of Edge (available this fall) and in ChakraCore 1.10. Unfortunately, there is no way for us to fix this in existing versions of Edge and IE.

[2018-08-21 22:14] yloubry commented on #5619
Oh ok, yeah it's the same issue. I'm closing this then. Thanks @jackhorton

[2018-08-21 22:14] #5619 closed

[2018-08-22 00:38] liminzhu commented on #5572
@digitalinfinity who is our xplat expert now?

[2018-08-22 02:48] digitalinfinity commented on #5572
Not an xplat issue (I can repro on windows), likely a ch issue. @duongnhn can you take a look please?

[2018-08-22 02:55] dilijev commented on #5615
@liminzhu can you double check the wiki for any documentation present in the source but omitted from the wiki?

[2018-08-22 12:28] RealTrisT commented on #5615
@MSLaguana I am `JsSetProperty`ing what would be an external object `name` to `jsObj` (which would make it a property that is also an object, and then basically doing addgetter, and passing to it as a key the string "name", with the external object as the callbackstate.
So what I meant with `NameOfObject` was what is effectively `name`.
Which seems to work because then the getter gets called, and

[2018-08-22 17:00] crdumoul opened #5620 "Clarification on JsRef tracking"
The remarks in [the JsRef reference documention](https://github.com/Microsoft/ChakraCore/wiki/JsRef) say,
"A Chakra runtime will automatically track JsRef references as long as they are stored in local variables or in parameters (i.e. on the stack). Storing a JsRef somewhere other than on the stack requires calling JsAddRef and JsRelease to manage the lifetime of the object, otherwise the garbage

[2018-08-22 17:15] liminzhu commented on #5620
This is referring to the C++ stack, I guess [this](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#memory-management) is a better explanation.

[2018-08-22 17:18] crdumoul commented on #5620
Thanks for the response.

I'm working with a host program in Rust that is calling into the ChakraCore library. Do you know if this will affect the JsRef reference tracking of stack variables?

[2018-08-22 18:07] liminzhu commented on #5615
@dilijev there are quite a few actually. I guess we should've added other docs as we put APIs on the header.

When I get some time, I will write a sync tool between wiki and header (I know I've been saying this for a while...)

[2018-08-22 18:10] kfarnung commented on #5617
Confirmed:

[code]

[2018-08-22 18:33] kfarnung commented on #5617
Looks like the length of the pad is confirmed before the content of the filler:

https://github.com/Microsoft/ChakraCore/blob/d58fa97d1303dde5ebae30ce4b4bd101b882088f/lib/Runtime/Library/JavascriptString.cpp#L2085-L2088

It doesn't seem obvious from the spec how an out-of-bounds fill should be handled, `ToLength` in the spec just confirms the range 0 to 2**53-1, but ChakraCore's `MaxCharLength` ca

[2018-08-22 19:55] soterojunior opened #5621 "Array.toLocaleString should return typeof string instead string value"
Hi everyone,

I find out an inconsistency in Array.toLocaleString when `typeof this` is called  the return is `test`. V8, SpiderMonkey and JavaScriptCore return `string` as expected.

Chakra version: 1.10.2.0
O.S: MacOS High Sierra version 10.13.6

step to reproduce:
[code]
actual result:
test

expected result:
string

cinfuzz

[2018-08-22 19:59] kfarnung commented on #5621
ESHost repro:

[code]

[2018-08-22 20:02] kfarnung commented on #5621
/cc @jackhorton @dilijev

[2018-08-22 21:45] RealTrisT commented on #5615
Just gonna leave this here:
JsRelease has "The object to add a reference to." as a description for the first parameter in both the header and the reference.

[2018-08-22 21:51] jackhorton commented on #5621
Array.prototype.toLocaleString already needs to be updated to Intl spec, [which explicitly calls out that toLocaleString should be invoked on each element](https://tc39.github.io/ecma402/#sup-array.prototype.tolocalestring). The current fix is only one line, though, so ill probably throw it in with my current Intl PR

[2018-08-22 23:01] liminzhu commented on #5599
I think we operate on a different model. ChakraCore is designed to supply a runtime pool.

There's no mechanism to check if the runtime is ready to be adopted by a different thread (I assume this is what you want from `v8::locker`). Rather, each thread using a runtime is responsible to set the runtime free by `JsSetCurrentContext(JS_INVALID_REFERENCE)` (my understanding is that you can't do this f

[2018-08-22 23:07] kfarnung commented on #5544
@jackhorton Please confirm this is fixed and close if so.

[2018-08-22 23:35] kfarnung commented on #5611
/cc @zenparsing

[2018-08-22 23:58] jefgen commented on #5544
FWIW, I could repro this on RS4. Not sure if the ask is if this is fixed in RS5 though?

[2018-08-23 00:04] jackhorton commented on #5544
This is fixed in RS5 with the move to ICU

[2018-08-23 00:04] #5544 closed

[2018-08-23 02:55] igor-simoes opened #5624 "Object.seal(TypedArray) should not freeze object as well"
Hi everyone,
there is an inconsistency in Chakra if we seal a TypedArray the object is frozen as well. According to [specs](https://tc39.github.io/ecma262/#sec-setintegritylevel), Seal level should set only properties configurable to false.

version: 1.10.2
OS: Ubuntu 16.04 x64

steps to reproduce:
[code]
Actual results:
Error: Object.isFrozen should be false

Expected results:
pass without failur

[2018-08-23 13:43] tecywiz121 commented on #5620
Is it possible to disable stack walking, and manually track all references?

[2018-08-23 14:06] viccon opened #5625 "macOS Build doesn't support ch -? parameter"
macOS Build doesn't support ch -? parameter

[2018-08-23 14:27] macdonaldr93 opened #5626 "The URL class in JavaScript doesn't implement the full spec (search params)"
I recently hit a bug where Edge doesn't expose `searchParams` as a property on the URL class. According to the URL spec, `searchParams` is supposed return an instance of URLSearchParams.

Reference: https://url.spec.whatwg.org/#url-class

Codepen: https://codepen.io/macdonaldr93/pen/wEKwLa

[2018-08-23 15:10] MSLaguana commented on #5620
It isn't possible to disable stack walking, but if you make sure to `JsAddRef` and `JsRelease` all references manually at the correct times, then it will be safe regardless of whether the stack walk finds any references or not.

[2018-08-23 15:49] zenparsing commented on #5611
Yes, this is a duplicate of #5033.

The set operation should fail when it encounters an accessor property for `Array.prototype.0` with no setter. `Array.prototype.push` is specified to throw if the set operation fails.

[2018-08-23 16:44] rhuanjl commented on #5625
It works for me on macOS - though you need to be using a test or debug build to get the full flag list; on a release build it gives a much smaller help text. I reccomend building a test build for most testing purposes (use the --test-build flag to the build.sh script)

[2018-08-23 17:47] #5611 closed

[2018-08-23 17:52] kfarnung commented on #5626
Thanks for the report @macdonaldr93! Unfortunately this is an issue in Edge (as opposed to Chakra). Can you please open an issue in their tracker (https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/) so they can investigate?  Feel free to paste the link to the new issue here once it's open.

[2018-08-23 18:36] dilijev commented on #5625
That's correct, -? displays the full list of test-flags on debug/test builds but only displays the same message as -h|-help on release builds, because there are no test-flags.

[2018-08-23 18:45] macdonaldr93 commented on #5626
Sounds good! Thanks for the response. In there issue tracker, when I selected JavaScript, it told me to open the issue here. Not sure what the category should be otherwise...

[2018-08-23 18:45] #5626 closed

[2018-08-23 19:36] kfarnung commented on #5626
For lack of a better option I'd use "Network: XHR, Web Sockets, Fetch" since that's the closest category.  Since `URL` isn't part of the JavaScript language it's not implemented as part of Chakra.

[2018-08-23 19:46] kfarnung commented on #5626
Just to make sure I understand the issue, what is the expected output from your test page supposed to be?

In a recent Insider Preview build of Edge it looks correct to me:

I don't have access to an older build at the moment, so it's possible this was fixed at some point or there's something else going on.  I'd still open an issue on the Edge issue tracker.

[2018-08-23 21:36] #5572 closed

[2018-08-23 23:40] macdonaldr93 commented on #5626
Okay thanks! And yeah I was getting `undefined` in the place of the search params. We were tophatting on older laptop so that might be why.

[2018-08-24 01:43] sunlili opened #5629 "Incorrect realization of RegExp.prototype.toString()"
Executing following code :
[code]
Output of ChakraCore(ch 1.10) :
[code]
However, the output should be :
[code]

BT group
2018.08.24

[2018-08-24 11:44] jeromegn commented on #5599
What's the recommended way to run ChakraCore in a highly-concurrent environment (like a high-traffic HTTP server) where isolation is required for each site.

Also, before it comes up: I wish I could run on a single `JsRuntime` but I need to be able to limit heap per site. A `JsContext` per site for isolation is not possible until resources can be limited per context.

As far as I understand, I'd n

[2018-08-24 16:23] igor-simoes opened #5630 "Switch statement without reached the case block"
Hi everyone,
there is an inconsistency in Chakra if a switch statement with only one case block evaluation that could be not  reached.

version: 1.10.2
OS: Ubuntu 16.04 x64

steps to reproduce:
[code]
Actual results:
f 1

Expected results:
f 0

if we try to add the default block (`default: ` or `default: break;`), the same occurs as above.

V8 and SpiderMonkey works as expected.

cinfuzz

[2018-08-24 17:52] VSadov opened #5631 "Tracing ETW events for the JIT queue may crash in stress scenarios."
Only a problem when producing `JSCRIPT_FUNCTION_JIT_QUEUED` or `JSCRIPT_FUNCTION_JIT_DEQUEUED` events.

That calls `GetDisplayName` helper that may miscalculate the length of the source name and read extra chars, causing a crash in stress scenarios.

[2018-08-24 21:39] #5631 closed

[2018-08-24 22:27] fatcerberus commented on #5620
For the record, there’s no real degree of separation between the JavaScript and native stacks: one is embedded within the other.

[2018-08-24 23:37] dilijev opened #5633 "RegExp memory efficiency: built-in negated character classes could use NegatedSet"
See https://github.com/Microsoft/ChakraCore/pull/5592#discussion_r211013233

[2018-08-24 23:51] liminzhu commented on #5599
I don't know if this is directly applicable to you and I'd like to know more about use case and architecture. But to have truly concurrent JS execution you need multiple runtimes and you can build a runtime/thread pool. When a service request comes up, you can
1. grab one free runtime/thread in the pool
2. create a fresh context for sandboxing purposes (or re-use old ones with associated risk)
3.

[2018-08-25 18:04] rhuanjl opened #5636 "Modified test: Xplat Debug only Recycler crash on"
See these comments:
https://github.com/Microsoft/ChakraCore/pull/5622#issuecomment-415905651
https://github.com/Microsoft/ChakraCore/pull/5622#issuecomment-415908077

After implementing Object.fromEntries the AsmJS parameters out of memory test would crash on xplat debug builds when calling WScript.Quit(0) - this issue only repros on xplat debug builds.

Fixed the test by avoiding the use of WScri

[2018-08-26 08:08] sunlili opened #5637 "Wrong to change 'this' when using super to access method"
Executing following code  :
[code]
Output of ChakraCore :
[code]
However, output of other JS engines :
[code]

BT group
2018.08.26

[2018-08-26 09:21] sunlili opened #5638 "Wrong output of %TypedArray% 's constructor"
Executing following code :
[code]
Output of ch is :
[code]

However, output(v8, spm, jsc) should be :
[code]

BT group
2018.08.26

[2018-08-26 09:33] sunlili opened #5639 "Fail to throw TypeError when using typeof to access %TypedArray% Intrinsic Object's byteOffset"
Executing following code in ch 1.10:
[code]
Output of ChakraCore:
[code]
However, output should be :
[code]

BT group
2018.08.26

[2018-08-26 17:20] jackhorton commented on #5638
Looks like #3332 -- we are technically spec compliant, but I think we all agree that including the name would be better.

[2018-08-26 17:20] #5638 closed

[2018-08-27 05:21] enclairfarron opened #5641 "confusing block"
### html
`<button id="upload">upload</button>`
### js
`let button = document.getElementById('upload');`
`let input = document.createElement('input');`
` input.type = 'file';`
`button.onclick = function () {`
`        input.click();`
`        console.log('unblock')`
`    };`

### problem
   When i run this demo in Chrome or Firefox,unblock will be shown after clicking.But in Edge,opening upload inp

[2018-08-27 16:03] #5112 closed

[2018-08-27 18:03] jackhorton opened #5642 "Accessing `arguments.callee.caller` in sloppy callback to JsBuiltIn throws"
[code]

This throws with Array.prototype.forEach as a JsBuiltIn, but passes with the native version. Same thing for .filter and .flatMap. V8 and SpiderMonkey do not throw.

[2018-08-27 18:03] jackhorton commented on #5642
cc @yullin-ms

[2018-08-27 18:20] jackhorton opened #5643 "JsBuiltIns show as `funcName` rather than `Constructor.prototype.funcName` in stack traces"
[code]

This shows a line for `forEach (native code)` with jsbuiltins enabled, while it shows `Array.prototype.forEach (native code)` with jsbuiltins disabled. Same for .filter.

[2018-08-27 18:22] jackhorton opened #5644 "JsBuiltIn internal functions are shown in stack traces"
[code]

This shows a line for `FlattenArrayIntoMapped (native code)`, which should be excluded from the stack trace.

[2018-08-27 18:32] MSLaguana commented on #5642
It looks like this is a function of the `forEach` argument being strict or not; you can replicate this kind of behavior very simply via
[code]

The strict mode function throws, while the sloppy mode function doesn't.

[2018-08-27 18:33] jackhorton commented on #5642
Correct -- since it applies to library functions now with JsBuiltIns, though, I thought adding that would bring more attention to the issue :)

[2018-08-27 19:41] leobalter opened #5646 "Functions 'length' is configurable but can't be deleted."
Works on built-in functions and other non ECMAScript forms:

[code]

Same works for __some__ built-in functions, not all of them.

[code]

[2018-08-27 19:43] leobalter commented on #5646
This is described in tests like `test/built-ins/Array/prototype/filter/length.js` but I couldn't find any matching bug here.

[2018-08-27 19:47] rhuanjl commented on #5646
Was this testing vs master or vs a release? I believe I fixed this in master with #5405

[2018-08-27 19:49] leobalter commented on #5646
I'm using jsvu to fetch chakracore so I imagine this should be a release version and I'm out of date and hopefully this problem is fixed.

I'm also planning to add a few tests on Test262 for checking the length property in function forms, it should prevent any regression and confirm everything is fixed.

[code]

[2018-08-27 19:52] MSLaguana commented on #5646
Yep, jsvu is using the releases that we publish, while the fix has landed in master which doesn't have a release yet. It should be fixed with @rhuanjl's change, but it won't show up in a release for a while.

[2018-08-27 19:52] leobalter commented on #5646
@rhuanjl @MSLaguana  feel free to close if you believe this is a duplicate or fixed, but if it's possible I'd appreciate if someone could confirm these cases are also fixed from #5405.

[2018-08-27 20:29] jackhorton commented on #5646
I can confirm that this is fixed in my local copy of master(ish):

[code]

[2018-08-27 20:29] #5646 closed

[2018-08-27 20:43] rhuanjl commented on #5646
Just for reference #5405 made "length" of functions (and bound functions) a normal configurable property - prior to this it had lots of special casing all of which has now been removed so it should behave like any other configurable property.

Note this has not yet been done for async functions and generator functions there is a follow up PR #5610 open to fix for those.

Also the following test ca

[2018-08-27 20:48] #5419 closed

[2018-08-27 20:58] rhuanjl commented on #5642
Is the fix just to remove "use strict" from all the jsbuiltins that take callbacks or would that cause other problems?

[2018-08-27 21:00] jackhorton commented on #5642
I believe there were other issues with the fact that all built-in functions assumed psuedo-strict mode (they don't assume javascript semantics but strict mode emulates spec-ese better than sloppy mode, I think?)

@sigatrev or @meg-gupta may know why theyre all strict.

[2018-08-27 21:01] leobalter commented on #5559
@zenparsing:

This gets even worse if foo is a property (non method):

[code]

but I guess it might be fixed in the #5471.

---

@aneeshdk to support your case, this is well defined in the specs:

https://tc39.github.io/ecma262/#sec-performeval

[code]

So your thoughts are correct and ChakraCore should print a parse error evaluating the statements in the eval call.

[2018-08-27 21:04] leobalter commented on #5559
Btw, these tests from Test262 can help supporting a fix for this:

[code]

[2018-08-27 21:11] sigatrev commented on #5642
I don't think that strict mode is **strict**ly required for the built-ins. The real question is, are sloppy functions called by strict functions supposed to be considered strict or sloppy? If they are supposed to be sloppy, we should fix our strict-mode behavior and leave the built-ins as strict. If they are supposed to be strict, we should not use strict mode in any JsBuiltIns that makes callback

[2018-08-27 21:26] pleath commented on #5642
Strictness of the caller shouldn’t be a factor. Strict- or sloppiness is a static declarative property.

[2018-08-27 21:51] liminzhu commented on #5641
Thanks for opening the issue @enclairfarron! This looks like a DOM issue rather a JavaScript engine bug tbh, and the best way to get it sorted out would be filing an issue on [Edge Issue Tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/).

[2018-08-27 22:28] zenparsing commented on #5559
Thanks, @leobalter!

[2018-08-27 22:30] jackhorton commented on #5642
For what its worth, `xs` agrees with V8 on calling sloppy functions from a strict function. I can't get JSC to run, otherwise it would be the tiebreaker. Paul's point would make it seem like no matter which behavior is more popular, sloppy functions should always behave sloppily, regardless of their caller -- which sounds reasonable.

[2018-08-27 22:34] rhuanjl commented on #5643
This should be simple to fix - just need to update:
https://github.com/Microsoft/ChakraCore/blob/0b13df812da459410db7adde83e1b17ac12c4152/lib/Runtime/Library/JsBuiltInEngineInterfaceExtensionObject.cpp#L357

I note that the update would have to be slightly different to accommodate Object.fromEntries (which is static) compared with the other builtins which are properties of the prototype.

[2018-08-27 22:43] jackhorton commented on #5643
Yup -- I was going to wait for fromEntries before doing anything to it, since we can use the new prototype property to say whether to add ".prototype" to the middle of the string. Also, it looks like theres no standard for native functions (V8 shows Array.forEach, SM/Firefox show... nothing? Stack traces in FF don't make a ton of sense to me), it would just be to not change our existing behavior.

[2018-08-27 22:53] pleath commented on #5642
Look at it this way. There are early errors that apply only in strict mode.

[2018-08-27 23:31] zenparsing commented on #5642
The only rules here are at:

https://tc39.github.io/ecma262/#sec-forbidden-extensions

So there isn't a spec violation here.

Since the functions in JsBuiltIn are strict, Chakra is installing some kind of throwing "caller" on the callback function, whereas v8 installs `null`.

[2018-08-27 23:47] jackhorton commented on #5642
Oh, interesting... I just tried with deleting Object.prototype and setting `false.x = 2` in the callback instead of accessing arguments.callee.caller. Everyone agrees that the callback takes sloppy `delete` semantics and returns false/silently fails in those other sloppy cases. Something is special about arguments.callee.caller, where we are incorrectly propagating strict semantics to the callback

[2018-08-28 01:15] enclairfarron commented on #5641
@liminzhu thanks for reply,this repo is the only one i found in MS open source on Github  about Edge.I will switch to Edge Issue later.

[2018-08-28 01:18] #2787 closed

[2018-08-28 15:50] #637 closed

[2018-08-28 15:50] #3427 closed

[2018-08-28 15:50] #3513 closed

[2018-08-28 15:50] #3692 closed

[2018-08-28 15:50] #5603 closed

[2018-08-28 16:24] jackhorton opened #5648 "Chakra does not respect `usage` option for Intl.Collator/String.prototype.toLocaleString"
See https://github.com/tc39/ecma402/issues/256. A test262 issue has already been created as well.

[2018-08-28 16:31] jackhorton commented on #5621
Since its a simple fix, I am going to label this as a good first issue instead.

[2018-08-28 16:35] jackhorton commented on #4664
I am going to assume this is resolved; feel free to re-open it in the future if something similar comes up. I am not sure if 14.04 works yet but at this point that should probably be a different issue if someone still wants it, and can probably be worked around with --embed-icu regardless.

[2018-08-28 16:35] #4664 closed

[2018-08-28 16:43] liminzhu commented on #5641
No problem @enclairfarron . I'm closing the issue now since this will move to Edge issue tracker, but feel free to re-open if you have more questions.

[2018-08-28 16:43] #5641 closed

[2018-08-28 21:38] dilijev commented on #4268
Hey, I didn't see this notification. Yes, that's correct. Let me update master-ci to match latest master for you.

[2018-08-28 21:39] dilijev commented on #4268
Done, have at it!

[2018-08-29 13:22] sunlili opened #5653 "Wrong realization of TypedArray's toLocaleString()"
Executing following code in ch 1.10 :
[code]
The output is ""
However, in [specific](https://www.ecma-international.org/ecma-262/9.0/index.html#sec-%typedarray%.prototype.tolocalestring) :
 "ValidateTypedArray is applied to the this value prior to evaluating the algorithm. "
So, a TypeError should be thrown.

BT group
2018.08.29

[2018-08-29 20:55] #5624 closed

[2018-08-30 21:49] rhuanjl commented on #238
I've opened a PR to fix this issue.

[2018-08-31 17:43] #5532 closed

[2018-09-01 14:39] rhuanjl commented on #5615
I've opened a PR to add the missing APIs to the wiki.

I've also opened a PR to fix a few typos in the headers including the JsRelease one mentioned by RealTristT above.

[2018-09-02 12:59] luboslenco opened #5660 "Unable to print exception message"
First I just want to congratulate on your work on Chakra, thank you for making it available to us. We recently switched from v8 to chakra as our main driver in [Krom](https://github.com/Kode/Krom) / [Armory](https://armory3d.org/) game engine and we are quite excited!

With our [current setup](https://github.com/Kode/Krom/blob/master/Sources/main.cpp#L2476) I am able to print out this error messag

[2018-09-03 11:28] dimitarcl commented on #5470
Hi,

I have started the porting efforts and find several other functions  that need to be replaced for UWP for x86_64:

- `RtlVirtualUnwind`
- `RtlCaptureContext`
- `RtlAddFunctionTable`
- `RtlDeleteFunctionTable`

Do you have any suggestions how to address these?
So far I have got plan only for the `RtlCaptureContext` - to reimplement that in assembler as it is done for x86/arm.

[2018-09-03 18:15] jdalton opened #5661 "Stable sort for Array#sort."
Now that V8 has patched their `Array#sort` to be stable _(see [here](https://twitter.com/mathias/status/1036626116654637057))_ it appears that Chakra may be one of the last _(or the last)_ of the browser JS engines _(JS Core, SpiderMonkey, V8, etc.)_ to [perform a **non**-stable sort](https://twitter.com/mathias/status/1036629033583345670) _(see [demo](https://mathiasbynens.be/demo/sort-stability-

[2018-09-03 21:53] pleath commented on #5661
Have the stable-sorting engines converged on a single behavior, or are they differently stable?

[2018-09-03 23:05] jdalton commented on #5661
I don't believe folks have normalized on the type of stable sort. For example JavaScriptCore and SpiderMonkey uses a MergeSort algorithm while V8 now uses [Timsort](https://en.wikipedia.org/wiki/Timsort) _(hybrid of MergeSort and  InsertionSort)_. \cc @mathiasbynens

[2018-09-04 14:13] mathiasbynens commented on #5661
Stability is the important bit here, as it’s observable by JS developers. The exact sorting algorithm used behind the scenes is an implementation detail.

[2018-09-04 20:48] #4268 closed

[2018-09-04 23:01] sethbrenith commented on #5660
How are you getting the `message` property? I tried adding the following code to our test function `ExceptionHandlingTest`, and it passed:

[code]

[2018-09-04 23:02] sethbrenith commented on #5660
Also, thanks for the feedback and I'm glad to hear you're excited!

[2018-09-04 23:27] sethbrenith commented on #5660
Never mind, you already answered my question in your link. Your code looks fine to me, and `message` should be present, so this seems likely to be a bug on our side.

[2018-09-04 23:53] MSLaguana commented on #5660
I see that you aren't checking the return code of the JSRT calls, such as `JsCopyString`. Are they perhaps returning an error for some reason?

[2018-09-05 16:44] ptorr-msft commented on #5470
@dimitarcl, thanks for your interest. Those APIs are not currently allowed by the Store but they should be added in a future update to the WACK Supported APIs check (sorry I can't give you exact timing).

[2018-09-05 17:20] fatcerberus commented on #5661
Yep, that's the point of a stable sort: Because the relative order of same-comparing items isn't altered, then given identical comparer functions, the same input always produces the same output regardless of the underlying algorithm.

[2018-09-05 17:27] fatcerberus commented on #5653
Interestingly there's a spec note here that if the ECMA-402 Intl API is present (which CC does implement) then the algorithm should instead be based on that of `Array.prototype.toLocaleString` - does that then invalidate the requirement to invoke ValidateTypedArray, I wonder?  Intuitively one would expect that caveat to still apply but specifications can be fickle things.

[2018-09-05 17:37] zenparsing commented on #5653
@fatcerberus It is a bit oddly worded, but in this case ValidateTypedArray must still be applied to the typed array, since the algorithm will need to access internal slots instead of a "length" property, and will need to make sure that the typed array has not been detached.

[2018-09-05 17:39] fatcerberus commented on #5661
In other words, a stable sort means that:
[code]
Never moves a single item, by definition.  There is no such thing as “differently stable” because all comparison results between two items are well-defined w.r.t. where the item ends up (assuming they return values are self-consistent, at least).

[2018-09-05 17:43] fatcerberus commented on #5653
Alright, thanks - that’s what I intuitively expected but you can never be too sure with cases like this. :)

[2018-09-05 18:07] sethbrenith commented on #5660
Okay, we investigated some more (thanks @MSLaguana and @irinayat-MS) and the issue is that your output binaries don't include the ChakraCore string resources, so when constructing an exception the program fails to find the string. When we build ChakraCore.dll, we include jserr.gen: the [vcxproj](https://github.com/Microsoft/ChakraCore/blob/3daa56768f45594ec3461731e68865323900acf1/lib/Parser/CMakeL

[2018-09-05 22:26] rhuanjl opened #5667 "BUG: xplat Array.prototype.sort produces incorrect results when length > 512"
Run the below script with eshost on macOS and it will throw in Ch but pass in all other engines - from reading CC's source there is a different sort algorithm used on xplat for arrays > 512 elements in length than on windows and I think there's an error in it's logic.

[code]

[2018-09-05 22:45] kfarnung commented on #5667
Confirmed on Ubuntu 16.04:

[code]

[2018-09-05 22:51] #5660 closed

[2018-09-05 23:05] MSLaguana commented on #5660
One other thing I'll note here: We don't currently support statically linking chakracore on windows. There are a number of things which trigger on DLL load, and with the way you've linked things in that is probably not happening, so you may end up with strange GC behaviors or other issues.

[2018-09-05 23:07] kfarnung commented on #5636
@MikeHolman Can you triage this bug?

[2018-09-05 23:11] kfarnung commented on #5639
@zenparsing Can you look into this behavior?

[2018-09-05 23:27] zenparsing commented on #5639
The relevant section is https://tc39.github.io/ecma262/#sec-get-%typedarray%.prototype.byteoffset step 3.

It looks to me like this is fixed in master. Confirm?

[2018-09-06 06:07] RobDangerous commented on #5660
We already hook into the code in bin/ChakraCore/ChakraCoreDllFunc.cpp but I'll have a closer look to make sure we call all the things. Thanks for the hint and super thanks for figuring the exception message thing out for us.
Would you be interested in pull requests to support static linking and similar portability/build-versatility fixes? We also got this running on an Xbox.

[2018-09-06 07:20] #5590 closed

[2018-09-06 13:16] mathiasbynens commented on #5661
@fatcerberus I think @pleath might have been referring to the remaining differences in observability. The order in which getters/setters are called is observably different depending on the sorting algorithm used behind the scenes. E.g.

[code]

[code]

As stated before, I think these differences are less important than the differences w.r.t. stability.

[2018-09-06 14:12] MSLaguana commented on #5660
We have been considering adding support for statically linking chakracore on windows, so if you have done the work and are willing to PR it back we'll certainly take a look at it!

[2018-09-06 15:21] kumpera opened #5668 "[WebAssembly] Improve abort exception messages"
While porting mono to wasm, it's really unproductive to have to deal with this sort of errors:
[code]

It would be AMAZING if a call_indirect failure message included: the table slot, the expected signature, the signature found and what function exists at the slot used.

This can be hidden under a debug flag that would be accessible under the release mode shell:
[code]

[2018-09-06 16:51] MSLaguana commented on #5115
Ok; Finally getting a chance to dig into what's going on here, and it seems like the specific cause of this issue is that the function defined in the console environment isn't considered to be strict mode. Still trying to work out why that is at the moment.

[2018-09-06 17:01] fatcerberus commented on #5115
@MSLaguana See my repro above; It doesn't actually create a property on the global object, which is odd.  Nonetheless the variable is accessible by simply eval'ing its name.  I don't think it's as simple as not running the code in strict mode, something more insidious might be going on.

[2018-09-06 17:35] fatcerberus commented on #5667
Ouch, this is a nasty bug.  This is the kind of thing I might have spent hours futilely trying to find the bug in my own code... only to finally realize it was an engine bug... 😰  Needless to say, I'm glad someone else discovered it before me!

What's worse, there's no workaround except to implement your own sort...

[2018-09-06 17:44] MSLaguana commented on #5115
There's a few things going on; one is that we have some additional scopes injected while debugging so variables don't end up on the global, but they end up in some near-global scope that follows the debugging session around. But this particular issue here is actually because the function isn't in strict mode; I was following the execution of the interpreter and when it goes to execute the bytecode

[2018-09-06 17:47] fatcerberus commented on #5115
What I don't understand is that, normally in sloppy mode, any assignment to an undeclared variable automatically becomes global -- but in this case it doesn't.  It instead seems to stop at the "near-global" scope you describe, which is bizarre.

[2018-09-06 19:33] fatcerberus commented on #5661
Okay, that makes sense, thanks. :)

I would be surprised if there was much real-world code that depended on the exact order of comparisons (particularly because the specification doesn’t mandate an algorithm—and even with the same algorithm the order will change with the number of items in the list), so I’m inclined to agree that stability is the important thing here.

[2018-09-06 20:47] #4007 closed

[2018-09-06 20:47] #5648 closed

[2018-09-06 21:19] kfarnung commented on #5639
Confirmed to be fixed in master:

[code]

[2018-09-06 21:19] #5639 closed

[2018-09-06 21:35] fatcerberus commented on #5642
Interestingly, V8 does not throw for the example given in the OP but *does* throw for:
[code]

[2018-09-07 01:03] kfarnung commented on #5667
I think I have a fix for this, I'm still testing it out.

[2018-09-07 10:36] lbuchs opened #5672 "ES6 class name not set when defined in window object"
When defining a class with ES6, if you define the class in the window object, the class name is not set:

[code]

Expected output:
[code]

Actual output:
[code]

Tested in Microsoft Edge 42.17134.1.0 / EdgeHTML 17.17134

[2018-09-07 14:56] sethbrenith commented on #5672
Thanks for the report! I can reproduce this issue on Edge 42 but not Edge 44 (insiders preview version), so it looks like this bug is already fixed in the upcoming version.

[2018-09-07 14:56] #5672 closed

[2018-09-07 19:50] MSLaguana commented on #5115
Here we go, this is the specific reason for this behavior:

https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Language/JavascriptOperators.cpp#L3073-L3106

None of this is specced out from what I understand, but at one point a decision was made that when console-eval-ing scripts it shouldn't "accidentally" pollute the global object, so running `x = 1` shouldn't make `global.x == 1`.

[2018-09-07 21:10] fatcerberus commented on #5115
I think I would prefer it to pollute the global scope over the current behavior, myself.  Ideally when eval’ing code in the debugger I expect it to work exactly as though the same code were inserted into the source at the point execution is paused—or at least as close to that behavior as possible.

[2018-09-07 23:40] #5667 closed

[2018-09-07 23:42] jackhorton opened #5674 "Implement spec-compliant CanonicalizeLocaleList"
V8 relies on ICU for seemingly the same things that we do, and we both fail a lot of test262 tests because of it.

[2018-09-08 00:12] RobDangerous commented on #5660
Sure thing, will do.

[2018-09-08 01:18] kfarnung commented on #5667
Thanks for the report @rhuanjl!

[2018-09-08 07:37] kfarnung commented on #5115
Thanks for digging in @MSLaguana! I suspected the behavior was related, but didn't have a chance to dive in.  I think the changes I have should be relatively close to landing, I'll take another pass and see what's needed to land it.

FWIW the current evaluate behavior deviates significantly from Chrome and Firefox, creating a bunch of complexity along the way.  It will be nice to remove a bunch of

[2018-09-08 18:11] jackhorton commented on #5674
@jefgen I noticed that ICU has a hardcoded list of grandfathered language tags and their replacements, and some of them are simply _wrong_ as of https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry. Do you know the rationale there and/or ICU's general thoughts towards RFC5646/UTS35 canonicalization? Aka, is there a specific reason why ICU doesn't canonicalize (either

[2018-09-08 18:30] jefgen commented on #5674
Sadly, I think it is more a case of nobody has has time to implement/update and/or change things.

Though recently Jungshik filed several bugs and tasks in JIRA for better handling of BCP47 tags. For grandfathered tags there is ICU-13650, which also has a number of linked tickets...

WinGlob used to rely on another component, Bcp47Langs.dll which actually had a full copy of the IANA Subtag Registr

[2018-09-08 20:13] jackhorton commented on #5674
I see. If I feel like writing some python/powershell I may write a script to go and parse the registry and generate a version of the data that we can use, but its good to know that its at least possible in ICU (in that there isn't a philosophical or back-compat reason for having custom canonicalization)

[2018-09-08 20:16] jackhorton commented on #5668
Just wondering, is there any reason that this _needs_ to go behind a flag? I don't know much about wasm but that information seems like it should be useful to expose by default (perhaps that info is normally hidden in wasm? I have no idea)

[2018-09-10 01:37] sunlili opened #5677 "TypeError shouldn't be thrown when function's argument is an empty array using spread operator"
Hi, executing following code, ChakraCore will throw a TypeError. It seems that ch treats the empty array as undefined or null.
[code]
The output of ChakraCore:
`TypeError: Unable to get property 'Symbol.iterator' of undefined or null reference`

However, the output should be:
`BT_FLAG`

BT group
2018.09.10

[2018-09-10 02:48] sunlili opened #5678 "Wrong property setting of Array's element"
Hello, executing following code:
[code]
Since 'enumerable' and 'writable' default to false, the output should be:
`{"value":10,"writable":false,"enumerable":false,"configurable":false}`

However, output of ch is:
`{"value":10,"writable":true,"enumerable":true,"configurable":false}`

BT group
2018.09.10

[2018-09-10 03:41] sunlili opened #5679 "Realization of String.prototype.split is inconsistent with ecma-262"
Hello, executing following code:
[code]
In [ecma-262](https://www.ecma-international.org/ecma-262/9.0/index.html#sec-string.prototype.split),  seperator's Symbol.split should be got firstly. However, ch get Symbol.toPrimitive firstly.

Output of ch:
[code]
Output of other engines:
[code]

BT group
2018.09.10

[2018-09-10 06:49] sunlili opened #5680 "Wrong realization of Object.defineProperty"
Hello, executing following code:
[code]
Output of ch:
[code]
However, the output should be:
[code]
It seems that chakracore call  [ToPropertyDescriptor](https://www.ecma-international.org/ecma-262/9.0/index.html#sec-object.defineproperty) twice.

BT group
2018.09.10

[2018-09-10 09:15] QuellaZhang opened #5681 "Chakra failed with error C2440 when build with permissive- by msvc on Windows"
Chakra failed with error C2440 when build with permissive- by msvc on Windows, I use latest version a3737b0 on master branch. Could you please help take a look at this? Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

**You can repro this issue as the steps below:**

1. git clone -c core.autocrlf=true https://github.com/m

[2018-09-10 14:14] kumpera commented on #5668
Hi Jack,

There's no reason for it to be behind a flag. I was overly conservative based on my own observations.

First, the error message is consistent across vendors, which made me wonder if this is somehow mandated by the spec. If it's not, great, better error messages are aways a joy to have. :)

Second, out of my own experience with a similar problem on mono, improving exception messages for t

[2018-09-10 15:32] MSLaguana commented on #5679
This is because by default we disable support for the ES6 regex symbols. If you enable that support (such as we do for node-chakracore, or via `-ES6RegExSymbols` in a test or debug build) then this case works as expected.

[2018-09-10 15:36] MSLaguana commented on #5681
@duongnhn can you take a look at this please?

[2018-09-10 15:46] duongnhn commented on #5681
will do

[2018-09-10 15:48] jackhorton commented on #5679
I feel like we should just take the jump and enable all of the ES6 bits at this point...

[2018-09-10 17:40] akroshg commented on #5677
This works if we pass the empty array during call
[code]
or

[code]

[2018-09-10 18:08] zenparsing commented on #5677
Related to #5551

[2018-09-10 21:15] #5681 closed

[2018-09-10 22:37] sethbrenith commented on #238
The JIT has a fast path assuming writable to be true on this property; see `GenerateFastStFldForCustomProperty`. Unless there's a known compat problem, we may want to leave this as it is for now.

[2018-09-11 03:05] fatcerberus commented on #5677
I actually didn't even realize `function f(...[]) {return 23}` was legal syntax.  Huh.

@akroshg Interestingly, your second case actually throws in Node 10.9:
[code]

[2018-09-11 05:16] fatcerberus commented on #5679
This is pretty much why I have `JsRuntimeAttributeEnableExperimentalFeatures` in my runtime creation for miniSphere (well... that, and also for `import()`).  I'd be giving up too much spec compliance to leave it off.

[2018-09-11 05:18] jackhorton commented on #5679
Hosts _can_ get more fine-grained control the same way that ch.exe does with the HostConfigFlags/TestHooks infrastructure, I believe. If you wanted to be more precise about what you enabled.

[2018-09-11 05:28] jackhorton commented on #5679
Ah yes, I forgot that they required test builds.

[2018-09-11 15:49] #5065 closed

[2018-09-11 20:53] bakkot commented on #4486
The spec does not actually require this (or any) order for `for-in`, though I would like it to and may try to get consensus on a normative change. But this is observable with for example `Reflect.ownKeys`, which uses [OrdinaryOwnPropertyKeys](https://tc39.github.io/ecma262/#sec-ordinaryownpropertykeys) directly without the "The mechanics and order of enumerating the properties is not specified" es

[2018-09-11 21:02] bakkot commented on #3505
Pedantry:

@jdalton, @MikeHolman was right the first time. [`Object.keys`](https://tc39.github.io/ecma262/#sec-object.keys) defers to [`EnumerableOwnPropertyNames`](https://tc39.github.io/ecma262/#sec-enumerableownpropertynames), which says

That is, `Object.keys` is required to match `for-in`, the enumeration order for which is [explicitly unspecified](https://tc39.github.io/ecma262/#sec-enumerat

[2018-09-11 21:29] dilijev opened #5690 "Implement trimStart/trimEnd"
Ported from OS#18780560

Stage 3 Proposal: https://github.com/tc39/proposal-string-left-right-trim
We already have implementations of trimLeft and trimRight, so we simply need to add trimStart and trimEnd as aliases to those.

[code]

[2018-09-11 21:51] pleath opened #5692 "Missing proto cache invalidation on repeated setting of new prototype"
Writing to __proto__ can leave the TypeHandler::protoCachesWereInvalidated set, and writing to __proto__ again with the same type on the RHS object can skip proto cache invalidation.

[2018-09-11 22:58] Penguinwizzard commented on #5661
The original message implies that there'd be a change to the sort spec after this change is made - is there any indication that this would be the limit of the change to the spec? It'd be unfortunate if we went through the work of replacing the sort implementation, only to then have to re-implement it again if the sort specification gets narrower. Currently, the sort spec allows a great deal of lat

[2018-09-11 22:58] sigatrev opened #5694 "Debugger: stepping out into JsBuiltIn functions"
Stepping out from callbacks called by JsBuiltIn functions results in some frame information from the built in being visible.

Repro: change the ```every``` call to ```forEach``` in DebuggerCommon/returnvaluetest1.js

[2018-09-11 23:55] wyrichte opened #5696 "Error not thrown when calling eval() on an assignment expression that is not valid in strict mode within a computed property name within a class"
#5477 showed that ChakraCore does not throw an error when an assignment expression that is not allowed in strict mode is used as the computed property name of a member function within a class.

#5689 fixed many cases that arise from the issue stated above.

A case that is not fixed is when the invalid strict mode assignment expression is within a call to eval:

[code]

Testing against other engine

[2018-09-12 01:20] bakkot opened #5697 "Property enumeration order of String exotic objects is wrong"
Consider:

[code]

Per the overload for [`[[OwnPropertyKeys]]` for String exotic objects](https://tc39.github.io/ecma262/#sec-string-exotic-objects-ownpropertykeys), and in accord with every other browser, this should print

[code]

But in fact it prints

[code]

See also [this open spec PR](https://github.com/tc39/ecma262/pull/1242) about very large integer indices and [this related ChakraCore is

[2018-09-12 07:33] mathiasbynens commented on #5661
Discussing `Array.prototype.sort` stability is on the agenda for this month's TC39 meeting: https://github.com/tc39/agendas/blob/master/2018/09.md We'll update this issue based on the committee's feedback.

[2018-09-12 07:42] fumfel opened #5699 "Stack overflow in ParseNode::Grfnop()"
Git Head: d1524ebc936a11e45125650fc92c9ab635b4f395

To reproduce: `ch so.js`

Crashing payload:

[code]
Extract from Valgrind log (full log available here: https://gist.github.com/fumfel/3c246644270ce2d6f486283a6b570347):

[code]

[2018-09-12 09:42] littledan commented on #5661
V8's change came after years of the lack of stability being a very frequent developer complaint about V8, both on Twitter and the bug tracker; I believe it'd be similarly developer-friendly to make this change in ChakraCore, and I support the proposed specification change. I believe previous specification discussions didn't get very far, with the argument that forcing a stable sort could be worse

[2018-09-12 15:23] tecywiz121 opened #5700 "When does Chakra require executable pages?"
Hey!

I'm looking at running Chakra under seccomp on Linux. Generally speaking, when does the VM need to allocate executable memory (ex. `mmap` with `PROT_EXEC`)?

I'm assuming most of that is limited to the JIT, but are there other cases?

Thanks!

[2018-09-12 15:27] MSLaguana commented on #5700
In addition to the JIT, we also have executable thunks used to identify interpreter frames uniquely rather than having a single trampoline location. This is so debugging can be simpler.

I'm not sure if there are any other executable pages... none come to mind at the moment.

[2018-09-12 16:19] jackhorton commented on #5700
One thing to note is that at least on Windows, both of these features can be turned off (JIT and dynamic thunks) to have absolutely 0 executable allocations. I know we support nojit versions of linux/macOS builds, but I am not sure if we support turning off dynamic thunks there too.

[2018-09-12 17:33] sigatrev commented on #5700
@jackhorton The dynamic interpreter thunks are disabled along with the JIT on all platforms.

[2018-09-12 18:54] wyrichte opened #5701 "Functions declared as methods define a `prototype` property"
ChakraCore fails [this test262 test](https://github.com/tc39/test262/blob/master/test/language/expressions/object/method-definition/name-prototype-prop.js)

This is because ChakraCore defines a prototype property in methods that are inside object literals:

[code]

[2018-09-13 18:01] rhuanjl commented on #5680
I've taken a quick look at this - it repros in latest master.

It's specifically an issue with Proxies that have a defineProperty trap that uses Reflect.defineProperty - ToPropertyDescriptor is called before the Proxy check and then the trap calls it again; I should be able to submit a fix tomorrow.

[2018-09-13 18:13] ProfNandaa commented on #5677
Same error is thrown on V8.

[2018-09-13 18:17] fatcerberus commented on #5677
@ProfNandaa Node.js *is* V8, unless using node-chakracore.

[2018-09-14 06:59] Fly-Style commented on #5621
Can I pick it?

[2018-09-14 07:34] rhuanjl commented on #5621
@Fly-Style from one external contributor to another - if an issue is marked help wanted, has no referenced PR and no one else has commented saying they're doing it just give it a try (and comment saying that you are) no reason to wait for someone to say you can - the help wanted label already tells you that.

[2018-09-14 16:15] jackhorton commented on #5621
Go for it! To start, I would look at the method Js::JavascriptArray::EntryToLocaleString, and follow along from there to the point where the conversion actually takes place.

[2018-09-14 20:13] jessebartels opened #5705 "Build issues with Ubuntu 16.04"
Hey folks,

Recently I've been trying to build ChakraCore for some dynamic analysis experiments and I have been running into build issues. I've installed all of the dependencies, but running ./build.sh gives me a linking error, specifically:

I have tried a few things to work around this:
- Adding -stdlib=stdc++ to command line option in CMake
- Using ninja
- Updating clang/lllvm/libc++
- Setting

[2018-09-14 21:38] jackhorton commented on #5694
This may also be causing flakiness in chakrafull\unittest\Debugger\intlib.js. Just disabled it but you may want to investigate.

[2018-09-14 21:42] sethbrenith commented on #5705
This sounds a bit like #2403, which was solved by installing a missing package. Could you please try the following, just to make sure all of these are installed?

[code]

[2018-09-14 21:55] jessebartels commented on #5705
Thanks for the quick response! I've run the command above but I am still getting build issues with:

On the bright side I no longer need the symlink.

[2018-09-14 22:54] sethbrenith commented on #5705
Hm, either you don't have type_traits or the include path doesn't contain the right directory. Could you please check the following and see if it turns anything up?

[code]

[2018-09-14 22:58] sethbrenith commented on #5705
If that search doesn't find anything, I believe you can get it with

[code]

[2018-09-15 00:37] #5477 closed

[2018-09-15 01:59] #5690 closed

[2018-09-15 16:17] rhuanjl commented on #5661
Adding a note to this topic - I've been experimenting with JS implementations of merge sort and timSort and running on macOS they're faster than CC's quick sort (now that the quickSort actually works properly i.e. since #5670 )

Could a JsBuiltin mergesort or timSort be a good answer to this question?

And... Let me know if you'd like a Pull Request to implement such.

[2018-09-17 14:51] jessebartels commented on #5705
I ran both commands and it appears that I have trait types (output from ls below). According to apt-get I already have the latest version

[2018-09-17 17:47] jackhorton commented on #4566
This is done, no?

[2018-09-17 17:47] #4566 closed

[2018-09-17 18:27] dilijev commented on #4566
Yep, thanks.

[2018-09-17 20:56] #5643 closed

[2018-09-17 20:56] #5644 closed

[2018-09-17 21:19] MSLaguana commented on #5705
What version of clang do you have installed?  `clang --version` should give that information. Could you also try creating a dummy file `test.cc` with contents `#include <type_traits>` and then try compiling that with `clang -v`? It won't link of course, but it should spit out the include paths that it is checking, and we'll see if it's an issue with the clang version or with the arguments that we

[2018-09-17 21:40] jessebartels commented on #5705
I have clang 6.0. Clang -v on the dummy files gives the following (my apologies for the wall of text):

The directory /usr/include/c++/5.4.0/ has type_traits in it. I decided to copy 5.4.0 to the directory /usr/include/c++/x86_64-linux-gnu and now the type_traits issue has gone away. Unfortunately there is now this error:

It would appear that /usr/include/c++/x86_64-linux-gnu has a bits directory

[2018-09-17 22:53] liminzhu commented on #5661
I know PSF is one of the more permissive licenses but I don't know the details :/. Will need to check with the lawyers on that if we use Python's implementation.

[2018-09-17 22:55] jessebartels commented on #5705
First off, I gotta thank you folks for helping out (seriously, these are not the fun kind of problems to be plugging away at). I decided to continue going down the rabbit hole by copying my bits directory (with the ++config.h) into a spot where clang was looking (from /usr/include/x86_64-linux-gnu/c++/5/bits to /usr/include/x86_64-linux-gnu/). Now I don't have any more dependency issues but the li

[2018-09-17 23:03] rhuanjl commented on #5661
If it's not considered a key performance target then merge sort would likely be a better choice:
1. ~150 lines of code for merge sort vs >1000 lines of code for timSort
2. merge sort is simple for someone else to understand/maintain whereas timSort implementations tend to look like some kind of eldridge creation
3. the license point (the licensing issue with timSort being that the algorithm was in

[2018-09-17 23:11] rhuanjl commented on #5680
Sorry for not submitting a fix for this yet as per my comment above - taking a bit of time to think how to do it neatly - my original fix was ugly.

[2018-09-18 18:40] jessebartels commented on #5705
I finally got the build process to work! It entailed getting /usr/lib/x86_64-linux-gnu/libstdc++.so.6.0.21 and following the steps from [here](https://stackoverflow.com/questions/39332406/install-libc-on-ubuntu). I then had to symlink libstdc++.so to point at 6.0.21 and including the flags "-std=c++11 -stdlib=libc++" in the CMakelists.txt

I seriously appreciate the help folks! Absolutely awesome

[2018-09-18 18:40] #5705 closed

[2018-09-19 00:45] dilijev commented on #5661
I'd lean towards MergeSort as a JsBuiltin -- if performance becomes an issue, we can re-evaluate. I'd also advocate for using the same sort across all platforms (which a JS BuiltIn would enable)

[2018-09-19 13:12] rhuanjl commented on #5697
Had a quick look at this:

1. Currently property keys are enumerates as:
i) Integer indexed keys
ii) string indexed keys (excluding builtins)
iii) Builtin keys
iv) Symbol indexed keys

The problem of course is the handling of builtins - in this case length is a builtin.

2. A simple update to move builtins before other string indexed keys would fix this case but may break other cases

3. A proper

[2018-09-19 17:33] Penguinwizzard commented on #5661
@dilijev idk, if we don't have a situation in which we really want to use the native fallback behavior, it's probably cleaner to just remove it now, imo - it'll be in our git history if we need it, and historically off-by-default features tend to rot quickly in our codebase for various reasons. Getting a mergesort implementation in and unifying our supported platforms' behavior would be good. In a

[2018-09-19 20:35] rhuanjl commented on #5661
I have an implementation that works BUT for some reason testing it as a JsBuiltin it runs at about half the speed it does if I put the same logic in an external JS file - going to spend a but of time trying to work out what causes the slow down.

[2018-09-20 17:04] vinay72 commented on #3357
I would like to contribute by sending a Pull Request.

[2018-09-20 18:10] wyrichte commented on #5699
A shorter repro:
`eval("a/("+Array(2**16).fill(0).join(",")+")");`

[2018-09-20 19:03] rhuanjl commented on #5617
I've created a PR to fix this issue.

[2018-09-20 19:26] guyio opened #5715 "Exposing GarbageCollection (GC) in ch binary"
Hey, is there an easy way to expose GC from withing a script in ch?
I'd like to run a js script that contains a statement - 'gc();'
and that this statement will run a GC cycle.

[2018-09-20 19:54] MSLaguana commented on #5715
If you are hosting ChakraCore yourself, then there is a `JsCollectGarbage` native method which you can call to trigger a garbage collection. You can construct a javascript wrapper function around that and expose it on the global object if you want.

[2018-09-20 20:15] guyio commented on #5715
I'll add a bit more info, sorry.

I'm fuzzing the js engine via the ch.exe binary.
my inputs are using the gc() function from js.

I'd like to do the minimal required changes to let the ch.exe expose the GC from js.

For example, in JavaScriptCore, V8 and SpiderMonkey it's supported with runtime flags or compilation flags.

If it's not supported in Chakra's builtin example - 'ch.exe', could you pl

[2018-09-20 20:19] MSLaguana commented on #5715
Ah, I see. If you are using a debug or test ch.exe binary, then if you pass it the `-collectgarbage` command line argument, then it will expose a global `CollectGarbage()` function which triggers a garbage collection.

[2018-09-20 20:21] #5715 closed, assigned to nobody

[2018-09-20 23:54] dilijev commented on #5661
@sigatrev @jackhorton might be able to help with figuring out performance issues in JsBuiltins

[2018-09-20 23:55] dilijev commented on #5661
Agreed on removing the native version from the history, if the JsBuiltin solution has acceptable performance.

[2018-09-20 23:57] dilijev commented on #5661
@rhuanjl - (Lack of) inlining of JsBuiltins is most likely the problem, yes. I also think that issue was being worked on, but not sure who was working on it. Maybe @sigatrev

[2018-09-20 23:57] dilijev commented on #5661
@rhuanjl Out of curiosity, what was the difference in performance between native sorting and the JS (external version)?

[2018-09-21 00:29] rhuanjl commented on #5661
I'll try and clean up my implementation sufficiently to open a PR tomorrow or the day after, it doesn't pass all tests yet - though this performance point likely needs to be resolved before it's merged.

On the performance point:
The JS implementation in a separate file was comparable to the native sort on windows - within margin of error of each other so can't say which is faster. But it was 20 t

[2018-09-21 03:27] jackhorton commented on #5661
I know @LouisLaf and @sigatrev both shivered at my suggestion of "turning on JsBuiltInForceInline for Intl and seeing what happens," since the Intl.js code has numerous helper functions and is generally extremely complex. I think in general, inlining complex functions was (originally?) an explicit non-goal, so I am not surprised if there are some issues.

I know my recent JsBuiltIn PRs force-enabl

[2018-09-21 03:54] fatcerberus commented on #5661
Just throwing in my two cents, I would guess that the default comparator isn't going to be particularly fast for most data sets regardless of whether it's implemented as a native or JS call as it roughly translates to (assuming my understanding of the spec is correct):
[code]
...which is to say that every comparison involves two string coercions, per specification.  Unless your data set is made up

[2018-09-21 04:17] fatcerberus commented on #3357
At a glance this seems like an Edge bug - that is to say ChakraCore *does* produce a syntax error for this case but the module loader swallows it.  I know I ran into similar issues with miniSphere when I was first integrating CC and it turned out I had just wired up the ES module machinery improperly.  There could be a similar bug in Edge's module loader.

[2018-09-21 14:39] crdumoul opened #5718 "JSRT API for creating a Proxy?"
I'm wondering if there's a JSRT API function for creating a [Proxy](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy) object from native code?

I could create the target and handler objects from JSRT APIs, but I don't see a way to do the equivalent of "new Proxy(target, handler)" using JSRT APIs.

Thanks,
Chris

[2018-09-21 15:17] MSLaguana commented on #5718
There isn't a specific function, but you can always grab the global object, access the `Proxy` property of it, and then you have the proxy constructor that you can invoke with the target and handler. That's how we've done it in node-chakracore at the moment if I recall correctly.

[2018-09-21 17:33] kfarnung commented on #5718
Yup, we just get the constructor and construct the object:

https://github.com/nodejs/node-chakracore/blob/676f33ce81951531ef2de36c744d123b500a1174/deps/chakrashim/src/jsrtproxyutils.cc#L96-L112

[2018-09-21 17:57] sigatrev commented on #5661
This is not necessarily the case. Callback inlining would require we inline sort into the function that called it. In test cases calling sort with a single sort functions you should see regular inlining kick in, but in the general case, if sort is called with numerous different sort functions you wouldn't get inlining.

[2018-09-21 23:49] rhuanjl opened #5719 "BUG: Array prototype values copied to non-array when using sort"
**Note I am intending to fix this bug as part of the pull request I'm working on to implement a stable array sort.**

Opening this issue as a reminder/record and also in case my upcoming pull request can't be accepted for some reason.

With the current Array.prototype.sort method in ChakraCore if an array-like object with missing properties has the sort method called on it ChakraCore will fill the

[2018-09-24 17:30] #5701 closed

[2018-09-24 17:52] dilijev commented on #3357
As @vinay72 indicated in #5713, this repro case might be improved by changing `import test from "./test.js";` to `import test from "./test";`

[2018-09-24 17:59] #5680 closed

[2018-09-24 18:22] taylorgordon20 opened #5725 "BUG: Math.cos and Math.sin function cause crash"
This seems a little ridiculous, but I am encountering a sudden crash in a very simple usage of the JSRT.

This is my complete usage:

[code]

When I run the program it gets to iteration 200 or so and then terminates with error code "1073807364". The unbelievable thing is that I can replace the actual JS script with some fairly arbitrarily complicated code and everything works fine. There is someth

[2018-09-24 18:28] taylorgordon20 commented on #5725
BTW this repros if I use a global function approach as well:

[code]

[2018-09-24 18:46] d3x0r opened #5726 "Support TextEncoder&TextDecoder"
TextEncoder and TextDecoder have been missing from IE/Edge forever.

This is a document of the api...
https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder

Here is your status compared to other's status.
https://caniuse.com/#search=uint8array

I did just notice that there's a 'in development' note on 'can i use'
https://developer.microsoft.com/en-us/microsoft-edge/platform/status/encodings

[2018-09-25 09:44] chicoxyzzy commented on #5726
This API is significant when one use WebAssembly<->JS boundary

[2018-09-25 15:36] fatcerberus commented on #5726
I've implemented TextEncoder/Decoder myself in miniSphere, albeit for UTF-8 only; it'd be great to have fully-featured versions available natively.

That said, these aren't part of ECMAScript so it might not make sense to have them in core.

[2018-09-25 16:58] MSLaguana commented on #5725
I can't seem to reproduce this issue on my machine. What version of ChakraCore are you using, and are you building for x86 or x64, release or debug, windows or Linux or mac?

The error code that you get is `0x40010004` which is used for `DBG_TERMINATE_PROCESS` which essentially means that we hit some kind of fatal error, but that can come from a number of different places and without being able to

[2018-09-25 17:13] jackhorton commented on #5726
cc @liminzhu

This is unfortunately a browser API rather than an ECMAScript API, and as Bruce said, is out of scope for ChakraCore. From https://developer.microsoft.com/en-us/microsoft-edge/platform/status/encodingstandard, you can see that the Edge team is aware of the issue, and that link will be the place to check for any status updates on it.

[2018-09-25 19:42] MSLaguana commented on #5725
Using the same dlls and libs that we published for 1.11, I still don't see this failure. Is it possible for you to make a self-contained repro, e.g. put your build files into a repo, or zip it up and put it somewhere I can see it?

[2018-09-25 22:02] #5700 closed

[2018-09-25 22:10] dilijev commented on #5551
@tcare Can I poach this issue?

[2018-09-25 22:40] sharmasuraj0123 opened #5728 "StringTemplate Caching in eval is incorrect."
[code]

[code]

Behavior Changed in #5727

[2018-09-25 23:32] taylorgordon20 commented on #5725
Made a repo: https://github.com/taylorgordon20/charkra_test

It's setup to use bazel to build (the chakra_test target builds the test executable with issues), The compilation is effectively some command like:

`C:/Program Files (x86)/Microsoft Visual Studio/2017/Enterprise/VC/Tools/MSVC/14.15.26726/bin/HostX64/x64/cl.exe /nologo /DCOMPILER_MSVC /DNOMINMAX /D_WIN32_WINNT=0x0600 /D_CRT_SECURE_NO_DEP

[2018-09-26 00:01] #5201 closed

[2018-09-26 00:13] tcare commented on #5551
Go for it

[2018-09-26 02:48] JiazhengXiong opened #5729 "error on building on release 1.5"
Here is the error I encountered when I was trying to build release 1.5 on Linux:

/scratch/.../.../.../ChakraCore-1.5.0/lib/Backend/IRBuilderAsmJs.cpp:1158:14: error: comparison of two values with different enumeration types in switch statement ('Js::AsmJsRetType::Which' and 'Js::AsmJsVarType::Which') [-Werror,-Wenum-compare-switch]
        case Js::AsmJsVarType::Which::Int64:
             ^~~~~~~

[2018-09-26 06:55] fatcerberus commented on #5726
That being said, I do very much wish there was some kind of text encoding facility in the specification; it feels like a major shortcoming that we have DataView providing a standardized way to poke arbitrary integer and float values into an arraybuffer, but no standard way to do the same with strings.  As it stands the Encoding API is a near-necessity if you want to process any kind of structured

[2018-09-26 15:07] MSLaguana commented on #5729
Why are you trying to compile such an old version of chakracore?

I believe what's happened here is that clang has changed some of their defaults, and so something which previously wasn't an error (perhaps it was a warning) is now treated as an error. You could probably disable that warning with something like `-Wno-enum-compare-switch`, but we don't support older versions of chakracore and there

[2018-09-26 15:33] MSLaguana commented on #5725
Using your repo I can reproduce the error, but the chakracore.dll that you've included there isn't one that we have published ourselves, and if I replace the chakracore.dll with one that we published, then the issue goes away.

I am not familiar with vcpkg, but looking at https://github.com/Microsoft/vcpkg/blob/master/ports/chakracore/portfile.cmake it seems like it is actually trying to compile c

[2018-09-26 15:55] taylorgordon20 commented on #5725
I've updated the git repo to include the ChakraCore.pdb file.

[2018-09-26 19:38] dilijev commented on #5692
I believe this is fixed by #5695?

[2018-09-26 19:38] #5692 closed

[2018-09-28 00:17] kfarnung commented on #5725
Thanks for the repro @taylorgordon20, it looks like this is an incompatibility between ChakraCore and the dynamically linked CRT.  When I tried this myself I ended up with a build which linked to `ucrtbase` rather than `msvcrt`.  That's not currently a supported configuration for building ChakraCore, which explains the fail fast you're hitting.

To work around the issue you can create a new [tripl

[2018-09-28 04:31] taylorgordon20 commented on #5725
Thanks for investigating! I'll try with the suggested triplet. :)

[2018-09-28 11:03] mintunitish commented on #2872
Is this issue still open?

[2018-09-28 11:07] mintunitish commented on #5621
I will be taking this.

[2018-09-28 17:25] penzn opened #5730 "WASM nested loop"
Program below executes outer WASM loop only once. However, removing one of the parameters to the function makes the issue go away.

[code]

Commenting out `$src2` parameter in wasm function (or `$src1`, depending on which is used) produces desired output:

[code]

The problem persists for other sizes, not only 2x2. This was found with WebAssembly/wabt@048e01a, but other versions might work as well

[2018-09-28 21:16] kfarnung commented on #5725
Let us know if you hit any other issues, but I've opened a [PR against vcpkg](https://github.com/Microsoft/vcpkg/pull/4371) to force static linking of the CRT.

[2018-09-28 21:16] #5725 closed

[2018-09-28 21:32] kfarnung commented on #5694
@yullin-ms Can you look into this as part of your JS built-ins work?

[2018-09-28 21:45] yullin-ms commented on #5694
I'm taking a look at it

[2018-09-29 15:02] mathiasbynens opened #5735 "Implement well-formed JSON.stringify proposal"
This proposal is at stage 3 and seeking implementations: https://github.com/tc39/proposal-well-formed-stringify

[2018-10-01 22:45] sethbrenith opened #5737 "review type checks that should be tautologically true"
As @Penguinwizzard mentioned [here](https://github.com/Microsoft/ChakraCore/pull/5456#discussion_r220382324),

This issue is a reminder to come back to check on calls to VarIsCorrectType.

[2018-10-02 18:22] zenparsing opened #5738 "Fix OwnPropertyKeys order for String objects"
See https://github.com/tc39/ecma262/pull/1243.

This specification change achieved consensus at the September 2018 TC39 meeting. Chakra is the only engine that does not implement the modified property order.

[code]

[2018-10-02 22:52] #5576 closed

[2018-10-03 13:11] guybedford commented on #5236
Note v8 handles this by treating the top-level execution as a two-phase generator execution to define the hoisted functions.

[2018-10-04 00:11] dilijev commented on #5730
/cc @MikeHolman

[2018-10-04 19:41] MikeHolman commented on #5730
Thanks for the report. Feel free to reach out to me if you have any questions while debugging the issue.

[2018-10-05 14:44] crdumoul opened #5756 "How to identify NaN?"
How can I indentify an NaN value with the JSRT APIs?
JsGetValueType returns JsNumber (which seems to be consistent with the expected behavior for "typeof NaN"), and JsNumberToInt returns 0. So, I'm having trouble distinguishing between NaN and a valid number.

[2018-10-05 14:46] crdumoul commented on #5756
I guess maybe I just have to call isNan()?

[2018-10-05 15:31] sethbrenith commented on #5756
Have you tried JsNumberToDouble()? I believe it should return a standard double NaN value. Alternately you could call Number.isNaN.

[2018-10-05 16:42] rhuanjl commented on #5756
I think you can use the JsStrictEquals API https://github.com/Microsoft/ChakraCore/wiki/JsStrictEquals

As NaN is the one value in Js which does not equal itself:

const val = NaN;
print(val === val); // prints false

[2018-10-05 18:13] jackhorton commented on #5756
From JSRT, I think JsStrictEquals is probably the most straightforward, though you should probably comment it since checking for `x === x` isnt particularly clear :)

[2018-10-05 20:42] #5621 closed

[2018-10-05 21:18] jdalton opened #5759 "Implement export-ns-from syntax."
Now that export-ns-from [has TC39 consensus](https://github.com/tc39/ecma262/pull/1174#issuecomment-425120082) the TC39 is looking for engines to implement.

*Related: [V8 issue](https://bugs.chromium.org/p/v8/issues/detail?id=8101) and [SpiderMonkey issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1496852)*

[2018-10-06 18:10] rhuanjl commented on #5178
I'm looking at this again now, sorry for the delay.

[2018-10-09 00:04] #5729 closed

[2018-10-09 20:47] #5314 closed

[2018-10-09 21:28] dilijev commented on #2872
@mintunitish This issue is still up for grabs if you'd like to work on it. @sharmasuraj0123 was looking into it but has been focused on other work items.

[2018-10-09 22:53] #5178 closed

[2018-10-09 23:22] #5393 closed, assigned to nobody

[2018-10-09 23:35] rhuanjl commented on #2872
My recent PR #5761 has changed the behaviour for this specific case but it could likely do with being better, the above case now prints:

[code]

So it now correctly highlights that there is an invalid identifier BUT it doesn't point out why (i.e. the unicode escape).

The error for this case is created here:
https://github.com/Microsoft/ChakraCore/blob/42ba7b92c5ad3db50af9a362fdda5f1ab776b583/lib

[2018-10-09 23:40] rhuanjl commented on #5759
Would a PR to implement this be appreciated?

[2018-10-10 01:15] #5620 closed

[2018-10-10 06:48] fumfel opened #5773 "Stack overflow in Scanner<UTF8EncodingPolicyBase<false> >::IchMinTok()"
Git Head: aa9823c336281421a1adbe9e6ce3e73cee7dcaf6

To reproduce: `ch so.js`

Crashing payload:

[code]
Extract from ASAN log (full log available here: https://gist.github.com/fumfel/3880844219c020c750a03c110754c422):

[code]

[2018-10-10 15:49] jdalton commented on #5759
@rhuanjl Yes, totally!

[2018-10-10 17:17] JanMiksovsky commented on #4835
This bug appears to still exist in the recently-released Edge 18.

@sethbrenith Given the length of time that's passed this was fixed in Chakra, I'm really surprised that Edge didn't pick up the fix. Can you please confirm that this fix is still on track to get into Edge, and that something else isn't at fault here?

[2018-10-10 17:47] sethbrenith commented on #4835
Sorry, I don't know whether this issue was fixed in March and regressed again or I just tested it wrong. The behavior has changed, but is still wrong: `new B()[prop]` no longer returns `undefined` but returns `A.prototype`.

[2018-10-10 17:55] sethbrenith commented on #4835
Seems similar to #5637, where method calls like `super.prop()` invoke getters with the wrong `this`. In this case, bracket notation `super[prop]` invokes getters with the wrong `this` (regardless of whether Symbols are involved, you can get the same problem with plain strings).

[2018-10-10 18:03] JanMiksovsky commented on #4835
Yes, we've hit that bug too. :(

[2018-10-11 06:53] pallammadhukar commented on #341
Hi @liminzhu

Thanks for providing sample and documentation for promise. Sorry to post here on closed thread. But I felt my query is related to this. Following is my query:

We tried promise sample. It is working for global promise's. But if the promise is defined inside some JS function then the resolve/reject callback is not executing. This is because we have not executed the queued callbacks af

[2018-10-11 12:07] NDobrev opened #5774 "GC concurrent collection performance"
Hi ,

I've made some performance measurements, because we have very big spikes sometimes when GC kick in and I found something weird. When DoCollect is called with CollectOverride_ForceInThread reflect in some very long waits. I am wondering, if this is expected or I do something wrong. Also is there any way to reduce GC spikes. I try to poke some of heuristics in recycler.cpp, but i didn't find a

[2018-10-11 16:20] jackhorton commented on #5759
cc @boingoing

I haven't heard anyone say they were picking this up yet internally so it should be good to go.

[2018-10-11 18:18] digitalinfinity commented on #5774
CollectOverride_ForceInThread is the GC's sad case- either it's asked to do that by someone manually (if you're doing that, consider using other flags), or it's in a state where it can't allocate memory and it really needs to stop the world. In general, Chakra's GC is a mostly concurrent GC- we'll do most of the work on the background thread so that by the time we need to stop the world for correc

[2018-10-11 18:38] akroshg commented on #5773
Thanks @fumfel for raising the issue. I confirm that it is reproing.

[2018-10-11 18:46] boingoing commented on #5759
@rhuanjl We would definitely appreciate a contribution from you on this one and I would be happy to review it and marshal it through the checkin process.

Just to clarify what exactly this feature is, it's re-exporting a namespace object under an exported name?

[2018-10-11 20:16] leobalter commented on #5759
yes! The syntax production was not possible before:

[code]

which is _almost_ a sugar for:

[code]

without necessarily importing a local `ns` binding.

I hope the tests from Test262 might help. @rhuanjl please let me know if you need any help from the tests.

[2018-10-11 20:57] rhuanjl commented on #5759
Thanks all, I'll aim to do this over this weekend.

[2018-10-12 10:07] pallammadhukar commented on #341
Hi @liminzhu , I have update code in chakra code sample for global/function scope issue. You can download [here](https://1drv.ms/u/s!Arbpd1gqlZBnhZNrMNmnnWg_Lvh9CA).

You can observe the different behavior when you comment/uncomment line no 136 in ChakraHost.cs file.

Actually we do not want to control the promise continuation callback in host, For us javascript promise's needs to be called automa

[2018-10-13 16:17] rhuanjl opened #5777 "BUG: Module with duplicate export name should always be a syntax error"
I found this whilst working on #5759 and plan to fix it alongside implement #5759 (as fixing this is necessary to pass one of relevant test262 tests for that feature)

Per: https://tc39.github.io/ecma262/#sec-module-semantics-static-semantics-early-errors
It is a Syntax Error if the ExportedNames of ModuleItemList contains any duplicate entries.

POC:
[code]
[code]

Running this in ch with the mod

[2018-10-13 20:00] rhuanjl opened #5778 "BUG: Module exporting undeclared name should be a syntax error"
Another bug I found whilst working on #5759 though I do not currently have a fix planned for this.

Per
https://tc39.github.io/ecma262/#sec-module-semantics-static-semantics-early-errors
It is a Syntax Error if any element of the ExportedBindings of
ModuleItemList does not also occur in either the VarDeclaredNames of
ModuleItemList, or the LexicallyDeclaredNames of ModuleItemList.

POC:
[code]
[co

[2018-10-14 15:42] rhuanjl commented on #5501
Found a solution for this whilst working on 5779.

[2018-10-15 08:45] mstfatmc opened #5781 "*** stack smashing detected ***"
We have .net core application running on cent os7,
If we want to use ChakraCore with multithread (on linux) Our application had crashing issues,
After that we used Semaphore to call  Chakra methods and allowed only one thread concurrently,
Now we are having this error occasionally :
 ======= Memory map: ========
 /dengage/myapplication/libChakraCore.so(+0x151c3e)[0x7f1c38a82c3e]
 /lib64/libc.so.6(

[2018-10-15 16:44] kevinsbennett opened #5782 "nullptr in VALIDATE_INCOMING_REFERENCE causes a crash"
I have the exact same issue as this one:  https://github.com/Microsoft/ChakraCore/issues/4532
Which looks like it was closed without resolution.

In my case, we are using the c# library chakracore.net:  https://github.com/JohnMasen/ChakraCore.NET
And the issue happens under stress testing.  It happens when a js function we have called returns a promise, which we are changing into a Task on the C#

[2018-10-15 18:58] ChadKillingsworth opened #5784 "Arrow functions fail to properly capture references to super"
The following code will infinitely loop and alert "Child foo" in MS Edge. All other browsers seem to handle this correctly.

[code]

[2018-10-15 21:46] rhuanjl commented on #5784
I had a quick look at the repro for this - seems to relate specifically to immediately returning the property accessed from super.

**Case 1:**
[code]

**eshost output:**
[code]

**Case 2:**
[code]

**eshost output**
[code]

[2018-10-15 22:21] schmitch commented on #2578
Actually for .net core OSX and Linux NuGet packages would be **really** helpfull, think about production SSR where you only build a .net application and you can have SSR within .net core with chakra instead of installing nodejs.

[2018-10-17 14:15] euler16 commented on #2872
Hi, is anyone working on this issue? If not then can I work on this? I am getting started with open source , so might need some help on this

[2018-10-17 18:00] #5637 closed

[2018-10-17 18:07] wyrichte commented on #4835
This bug is not fixed, though a similar bug has been fixed. [A repro and explanation for this bug has been put into the test file for the first bug](https://github.com/Microsoft/ChakraCore/blob/master/test/Miscellaneous/KeepContextInSuper.js#L55).

[2018-10-18 00:56] dilijev commented on #2872
AFAIK no one is working on this at the moment. Feel free!

[2018-10-18 04:51] euler16 commented on #2872
Thanks @dilijev. could you give me pointers to start?

[2018-10-18 08:06] rhuanjl commented on #2872
@euler16 I'm not a member of the team but as I've contributed on a related point recently here's a bit on where to start:

1. Make sure you can build and test ChakraCore master locally before you start
    - check out this page on the wiki about building CC for platform specific building guidance https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore
    - check out this page for how to

[2018-10-18 19:39] euler16 commented on #2872
Thank you @rhuanjl .

[2018-10-18 20:00] dilijev commented on #2872
@sharmasuraj0123 Could you provide some links to source code that came up during your investigation?

[2018-10-19 11:09] euler16 commented on #2872
@rhuanjl I didn't get what you meant by "Make a Js file with this case in and run it with ch to confirm current output".  By 'ch'  do you mean ![this](https://www.softintegration.com/docs/ch/shell/) ?

[2018-10-19 16:51] championshuttler commented on #4311
Can i take this up if some is not working on it. It seems like there is a PR against this issue but its quite old and not updated from a while

[2018-10-20 22:57] falsandtru commented on #2720
Why does no one still implement or schedule this feature?

[2018-10-21 12:05] saschanaz opened #5789 "Date.parse accepts illegal ISO8601 format"
[code]

Expected: `NaN`
Actual: `1540080000000`

[code]

Expected: `NaN`
Actual: `1515283200000`

[2018-10-22 21:03] zunquan opened #5790 "enable CFG in the JIT'd code for ChakraCore"
CFG is enabled for JIT code for Chakra used for Edge context. The same should be done for ChakraCore so app hosting ChakraCore can receive the same protection as Edge.

[2018-10-23 12:36] rhuanjl commented on #2720
Would an external contribution be welcome here?

(Not certain I could manage this but could give it a try if an external PR would be welcome)

[2018-10-23 23:49] penzn commented on #5730
@MikeHolman `-AsmDumpMode` does not seem to produce anything in this example. Are there any other ways to dump assembly? For now I am running in a debugger.

[2018-10-24 13:13] EdMaurer commented on #2720
Yes, it would, but this feature is thought to require a good amount of effort.

[2018-10-24 18:23] zunquan opened #5793 "Need to enable Out of Proc JIT support in ChakraCore."
Currently it is not supported in ChakraCore. Per discussion with ChakraCore team, a new API is needed and a sample showing how to use it will be very helpful

[2018-10-24 19:43] rhuanjl commented on #2720
Aware that this will be sizeable but i’ll make a start and see how it goes.

I’ll aim to have a PR ready to submit by mid-December but I can’t promise anything.

Please let me know by updating here if someone internally is scheduled to work on it (and hence I should stop).

[2018-10-25 09:12] MikeHolman commented on #5730
I think the function probably hasn't been JIT yet, and is running in the interpreter. You can try `-dump:bytecode` to see the interpreter bytecode.

[2018-10-25 18:24] rwaldron opened #5795 "BUG: Dynamic import should return different promise objects, even if the specifier is the same."
Test: https://github.com/tc39/test262/blob/master/test/language/expressions/dynamic-import/always-create-new-promise.js

Result:

[2018-10-25 19:39] penzn commented on #5730
Thanks, that helps! Bytecode looks good so far, though my workaround in the report appears to be wrong. I'll update the issue once I make more progress.

[2018-10-25 20:28] rwaldron opened #5796 "BUG: Dynamic import should only return a rejected promise if it fails loading a module"
Test: https://github.com/tc39/test262/blob/master/test/language/expressions/dynamic-import/assignment-expression/unary-expr.js

Result:

Expected: every import call should return a promise that will be resolved/rejected at some later time. Presently, the import fails and produces these errors synchronously.

[2018-10-25 20:33] rwaldron commented on #5796
Another:

- https://github.com/tc39/test262/blob/master/test/language/expressions/dynamic-import/catch/nested-arrow-import-catch-eval-rqstd-abrupt-urierror.js

The correct error is produced, but not via a rejected promise, which is what it should do.

[2018-10-25 20:48] rwaldron commented on #5796
There's a lot more of these, but I suspect that if it's fixed once all of these will pass.

[2018-10-25 20:55] rwaldron opened #5797 "BUG: ImportCall is a CallExpression, it can't be preceded by the new keyword"
Test: https://github.com/tc39/test262/blob/master/test/language/expressions/dynamic-import/syntax/invalid/top-level-no-new-call-expression.js

TL;DR:

[code]

Is not allowed, per: https://tc39.github.io/proposal-dynamic-import/#sec-left-hand-side-expressions

[2018-10-25 21:03] rwaldron opened #5798 "BUG: ImportCall is an invalid AssignmentTargetType, should produce an Early ReferenceError"
Test: https://github.com/tc39/test262/blob/master/test/language/expressions/dynamic-import/syntax/invalid/invalid-asssignmenttargettype-reference-error-9-lhs-assignment-operator-assignment-expression.js

[code]

Is producing a SyntaxError; however, like:

[code]

It _should_ produce an Early ReferenceError.

[2018-10-25 21:22] rhuanjl commented on #5796
In most of these cases the import() call is resulting in a promise that is rejected with the error as the reason BUT additionally ch prints to std whenever failing to load a module (or any file). You should note that execution of the script continues despite the printed exceptions.

That said this behaviour in ch is clearly not the most helpful and to disable it at the moment you'd have to supply

[2018-10-25 21:32] rhuanjl commented on #5797
Super easy fix could either:
a) check if the last token was `new` and if so throw here:
https://github.com/Microsoft/ChakraCore/blob/276661f908707e4d2cc6137fe94e6b5422b2b492/lib/Parser/Parse.cpp#L3578-L3583
OR
b) Check if the next token is `import` here and if so throw:
https://github.com/Microsoft/ChakraCore/blob/276661f908707e4d2cc6137fe94e6b5422b2b492/lib/Parser/Parse.cpp#L3461

Will submit a P

[2018-10-25 21:39] rhuanjl commented on #5795
Hmm currently internally the promise for a dynamic import is a property of the SourceTextModuleRecord object - if you import the same module a second time the SourceTextModuleRecord object from the first import() is retrieved and the promise from it is returned.

This means that when the import() completes it has an easy reference to the promise it needs to resolve, so to fix this would probably h

[2018-10-26 03:45] digitalinfinity commented on #4311
@mhaviv are you still planning on working on #4657?

[2018-10-26 04:53] mhaviv commented on #4311
Hi Hitesh,

Unfortunately I have not had the time and I cannot work on it. You can give the task to someone else. I apologize for any inconvenience

- Michael

Sent from my iPhone

[2018-10-26 09:49] liminzhu commented on #341
Hey sorry @pallammadhukar I've been away so I will take a look at your code sample once I'm back in office if you're not in a hurry (others feel free to look at it while i'm gone ofc).

For the promise continuation callback, you cannot have promise supported by removing the callback altogether. As a JS engine we have to be spec-compliant and not inventing things that are not supposed to be in the

[2018-10-26 14:46] leobalter commented on #5796
@rhuanjl thanks for the information.

@rwaldron in the meanwhile it might worth trying another run with this flag on to see if anything persists.

[2018-10-26 15:04] rwaldron commented on #5796
As you said, adding `-MuteHostErrorMsg` to eshost's `ChakraAgent` args prevents the messages from being printed out, however these tests are still failing because the `import(...)` calls are not returning "promises that are eventually rejected" (with whatever error is produced by the module that `import(...)` attempted to import).

Here's a thing I've just discovered: The tests that DO pass are th

[2018-10-26 15:39] rhuanjl commented on #5796
Ok looks there is a second bug in addition to the excess message printing I will investigate it.

[2018-10-26 17:43] rhuanjl commented on #5796
I can't reproduce this second error, running with -ESDynamicImport -MuteHostErrorMsg

With this test:
[code]
I see:
caught URIError: ./nonExistant.js

Please can you point me to a specific case where the promise isn't rejected but should be?

[2018-10-27 14:31] rhuanjl commented on #5237
Putting together an update to ch's module loader to address #5796 planning to fix this at the same time.

[2018-10-27 21:17] fatcerberus commented on #5795
It might not be necessary to keep a list; CC could keep the single internal promise and wire up the ones returned from `import` to it.  This way you resolve the internal one and all the ones attached to it get resolved automatically.

[2018-10-29 07:10] rhuanjl commented on #5795
I've submitted a fix, this commit https://github.com/Microsoft/ChakraCore/pull/5803/commits/866386bbf9fb7d5f4a14720ba9da16ed5c9083a2 in PR 5803.

It adds the new promises as reactions to the existing promise with an internal equivalent of ```promiseObject.then(a => a, e => throw e);```

[2018-10-29 17:58] crdumoul opened #5804 "SIGABRT in JsCreateContext on Linux"
I'm running with ChakraCore v1.10.2 on Linux. I'm using libChakraCore as a static library and calling into the library from a Rust library that is a wrapper on libChakraCore.

I'm running into a problem where occasionally some of my Rust tests get a SIGABRT. I get the following stack trace within the JSRT library:
`
#0  0x00007f66ace7b428 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/lin

[2018-10-30 00:29] dennis-yemelyanov opened #5805 ""Line ending logic out of sync" assert when calling JsGetAndClearExceptionWithMetadata"
Executing a failing script and getting error details with JsGetAndClearExceptionWithMetadata seems to trigger an assert condition in some cases, apparently when some Unicode characters are used.

Sample script:
[code]
Test program (slightly modified version of the C++ HelloWorld sample):
[code]

When running this code in debug mode it fails at this assert: https://github.com/Microsoft/ChakraCore/b

[2018-10-30 00:44] dennis-yemelyanov commented on #4967
Looks like there is a scenario where `JsGetAndClearExceptionWithMetadata` hits an assert condition. Opened issue https://github.com/Microsoft/ChakraCore/issues/5805

[2018-10-30 17:37] penzn commented on #5730
Alright, after checking branches, there is a (pretty silly) bug in the example, inner loop counter is not reinitialized between iterations.

In a nutshell, this code:

[code]

Needs to be come this:

[code]

My apologies, this was a false alarm.

[2018-10-30 17:37] #5730 closed

[2018-10-30 23:18] rhuanjl commented on #5804
Per the stack trace that looks pretty clearly like you're hitting an out of memory check CC's default behaviour on running out of memory is to abort.

[2018-10-31 00:42] qntm opened #5809 "Crashes on Number.MIN_VALUE.toString(2)"
In Microsoft Edge 42.17134.1.0 on Windows 10, opening developer tools and running `Number.MIN_VALUE.toString(2)` causes the browser tab to crash and reload. Looks like the same area as #509?

The precise value of `Number.MIN_VALUE` is 2<sup>-1074</sup>, so I believe the correct return value is the 1076-character string:

[2018-10-31 02:18] #5759 closed

[2018-10-31 02:18] #5777 closed

[2018-10-31 02:32] fatcerberus commented on #5809
I can confirm the crash in Edge on Windows 10 1803.  Doesn't repro in miniSphere, though, so it looks like this is either an Edge bug or else it was already fixed.

On an amusing sidenote, Chrome doesn't handle this well at all:
[code]

[2018-10-31 11:39] crdumoul commented on #5804
What memory limit would this be hitting? I can see when I'm running this that the system is nowhere close to being out of memory.

Just for some more background, the application that's running is for Rust unit tests. The binary contains a bunch of unit tests that are run in sequence. Each unit test is calling JsCreateRuntime, doing a few simple things with the runtime, and then calling JsDisposeRu

[2018-10-31 16:50] MSLaguana commented on #5804
Each runtime you create has its own recycler and its own pool of memory that it uses. One of the things that the recycler does is it sets up a "card table" in virtual memory to track which pages in memory are dirty and need to be considered as part of the mark/sweep. This card table in a 64 bit process is pretty large, 32 GB of virtual memory if I recall. It never actually materializes that much m

[2018-10-31 17:44] crdumoul commented on #5804
I don't believe there's anything that's limiting the amount of virtual memory. Is there a way to see how much memory the recycler has available to it?

[2018-10-31 19:15] #5501 closed

[2018-10-31 19:59] crdumoul commented on #5804
I was able to reproduce this with a debug build of the library, so I'm getting some more information from gdb.

This is the updated stack trace:
`
#0  0x00007f30d4990428 in __GI_raise (sig=sig@entry=6) at ../sysdeps/unix/sysv/linux/raise.c:54
#1  0x00007f30d499202a in __GI_abort () at abort.c:89
#2  0x0000557fc07db33b in PROCEndProcess (hProcess=0xffffff01, uExitCode=1073807364, bTerminateUncondit

[2018-10-31 22:55] MikeHolman commented on #5809
Looks like this was already fixed. I see the expected string printed on Edge 44.17763.1001.0.

[2018-10-31 22:55] #5809 closed

[2018-10-31 23:12] #5210 closed

[2018-11-01 01:05] #5237 closed

[2018-11-01 01:05] #5795 closed

[2018-11-01 01:05] #5796 closed

[2018-11-01 01:05] #5797 closed

[2018-11-01 01:13] fatcerberus commented on #5804
How do you allocate 32GB of memory without actually... you know, allocating it?  I’m pretty sure if you try to call `malloc(32e9)` it would actually attempt to allocate all 32GB (and likely fail), so I assume this is using a method of reserving virtual memory I’m unfamiliar with.

[2018-11-01 09:42] ZackJohn opened #5811 "Does ChakraCore contains shell only functions?"
Hi,
My boss wants to know how many shell only functions in CharaCore. It's quite difficult to know all
built-in functions and distinguish them which are shell only function. What could I do to find the shell only functions?
Thanks~

[2018-11-01 14:01] crdumoul commented on #5804
I looks like it's using mmap with (MAP_ANON | MAP_PRIVATE):
https://github.com/Microsoft/ChakraCore/blob/master/pal/src/map/virtual.cpp#L991 to reserve the memory.

[2018-11-01 15:58] MSLaguana commented on #5811
What do you mean by "shell only" vs "built-in" function? Are you referring to functions defined in the javascript language, or to the native code that implements javascript?

[2018-11-01 16:38] SamB commented on #796
Well, yes, but ... I'm pretty sure you *can* have more than one "prolog"; you just need more [`RUNTIME_FUNCTION`](https://docs.microsoft.com/en-us/cpp/build/struct-runtime-function) entries and [`UNWIND_INFO`](https://docs.microsoft.com/en-us/cpp/build/struct-unwind-code) structures, and a lot of unwind codes specifying a code offset of 0 in later ones.  As far as I can tell, there's no *actual* r

[2018-11-01 19:02] crdumoul commented on #5804
I think what's happening here is some kind of interaction between threads. When I run these Rust tests, by default the various unit tests get run in multiple threads. Each test is creating its own Runtime and Contexts, so there is no sharing of Runtimes or Contexts between threads.
However, I'm wondering if any aspect of the memory management is shared between Runtimes, and therefore between threa

[2018-11-01 19:05] crdumoul commented on #5804
I just noticed, in re-reading my last comment, that the stack traces show the runtimeHandle passed to JsCreateContext and JsDisposeRuntime is the same. So, it looks like I have a bug where I'm somehow reusing the same runtime when I don't expect to be.

[2018-11-01 19:05] #5661 closed

[2018-11-01 19:05] #5719 closed

[2018-11-01 19:18] rhuanjl commented on #5804
I'm not the expert (just a user/external contributor) but my guess would be that problem is to do with the memory management in CC being done off-thread.

When you create a runtime it setups the Recycler (memory manager) in a separate thread - this Recycler handles the memory reserving/allocating and freeing/releasing.

When you dispose of the runtime an instruction will be sent to dispose of the

[2018-11-01 19:30] crdumoul commented on #5804
I should have mentioned this before, but I'm currently running with JsRuntimeAttributeDisableBackgroundWork, and it didn't seem to affect this problem.

[2018-11-01 21:54] rhuanjl commented on #5804
My best guess then is just that you've got too many concurrent runtimes and it 's too much - is there anyway you could set a limit? I imagine that 5 or so should be fine whereas 30 probably won't be. I note also that for performance re-using runtimes rather than creating and destroying them continually would be better.

[2018-11-01 21:59] MSLaguana commented on #5804
We have heard of people running into trouble when they try to make a lot of runtimes, and the more common happy path is to have a pool of threads, each of which has its own (long lived) runtime, and then create and destroy contexts in those runtimes to do whatever work needs doing.

[2018-11-01 22:09] fatcerberus commented on #5804
Hmm, but in this case the abort is being hit during *context creation*, not runtime creation, so I'm not actually sure if runtime pooling would help here?

[2018-11-01 22:55] crdumoul commented on #5804
In this case I'm never creating more than 4 runtimes at once. It sounds like creating a lot of runtimes could end up being problematic, but I feel like something else is going wrong here.

[2018-11-02 05:13] ZackJohn commented on #5811
Here are “shell only” functions defined in the SpiderMonkey:
[Shell only functions](https://developer.mozilla.org/en-US/docs/Mozilla/Projects/SpiderMonkey/Shell_global_objects#Shell_only_functions)

For example, when we write a piece of js code that contains some "shell only" functions, we can only run CharaCore in the command line.
"./ch code_contains_shell_only_function.js"

About built-in funct

[2018-11-02 06:21] QuellaZhang opened #5813 "Chakra failed when build with permissive- by msvc on Windows"
Chakra failed with lots of errors when build with permissive- by msvc on Windows, I use latest source version ce09d0e on master branch. Could you please help take a look at this? Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

**You can repro this issue as the steps below:**

1. git clone -c core.autocrlf=true https://gi

[2018-11-02 15:10] MSLaguana commented on #5811
I see. "ChakraCore" does not have any "shell only" functions, but the "ch" executable / shell which is also built from this repository defines several functions, e.g. `WScript.Echo`, which would fit that definition.

If you just consume chakracore.dll then I believe we expose an ECMAScript compliant environment, and you as the host are responsible for providing whatever additional functionality is

[2018-11-02 16:43] sethbrenith commented on #5789
After a bit of research, I think this behavior is actually for the best. The [spec](https://tc39.github.io/ecma262/#sec-date.parse) says "If the String does not conform to that format the function may fall back to any implementation-specific heuristics or implementation-specific date formats." Currently V8 accepts `2018-10-21Z` and SpiderMonkey accepts `2018-1-7T00:00Z`, so the best possible behav

[2018-11-02 16:43] #5789 closed

[2018-11-02 17:23] crdumoul commented on #5804
I've trace the syscalls being made using `strace`, and I think I might know what's going wrong.

In [pal/src/map/virtual.cpp:991](https://github.com/Microsoft/ChakraCore/blob/master/pal/src/map/virtual.cpp#L991):
[code]
This checks that the address returned by `mmap` is the same as the address that was passed in. Based on the `strace` output, I'm seeing that `mmap` is returning a different address

[2018-11-02 20:03] crdumoul commented on #5804
I'm attaching a minimal program that reproduces the issue.
[multi_thread.tar.gz](https://github.com/Microsoft/ChakraCore/files/2543963/multi_thread.tar.gz)

[2018-11-02 20:08] fatcerberus commented on #5804
Judging by the comment near that check, I’m assuming CC needs to get the exact address it asks for for everything to work properly.  Why that is, I couldn’t say.  Perhaps something to do with JIT.

[2018-11-03 07:35] ZackJohn commented on #5811
Thank you for your help, I found that all the functions of "WScript" are so-called "shell only". Is that correct?
Besides, is there any other object like "WScript" that contains "shell only" functions?
Thanks again.

[2018-11-03 11:09] rhuanjl commented on #5798
I plan on submitting a fix for this shortly, just trying to work out how it can be done neatly, the "obvious" fix would be a bit messy.

[2018-11-03 11:35] rhuanjl commented on #5778
I've been thinking about how to fix this - it seems it needs to involve adding a step at the end of parsing a module that re-checks any names exported via `export {namesHere}` without a from clause to confirm if they were locally defined and if not seek back to the relevant line and raise a syntax error.

[2018-11-03 16:34] fatcerberus commented on #5811
Okay but the so-called “shell-only” functions are not implemented in ChakraCore at all, they are implemented in the codebase for `ch` itself.  So I don’t see how they’re relevant any more than custom API functions provided by any other host.

[2018-11-04 17:03] rhuanjl commented on #2720
I've made a start on this and, there's one thing I'm curently unsure how to do - at the moment `await` and `yield` share an opcode as Generators can only have `yield` and async functions can only have `await` so the difference is handled by the method which calls the generator/async function as it knows what its called and hence what can be done.

I need a way to detect from where I called into th

[2018-11-05 07:31] NoelAbrahams opened #5815 "Service Worker Automatically Skips Waiting"
Hi

Edge version: 42.17134.1.0
Edge HTML: 17.17134

In Edge a newly installed Service Worker is being automatically activated on refresh (ie equivalent to always calling `skipWaiting`).

The following bit of code should alert whenever `serviceworker.js` is modified and the browser is refreshed:
[code]

This never alerts in Edge, but does in Chrome and FireFox.

[2018-11-06 01:03] boingoing commented on #5778
Seems like something we should be able to do at name binding. We do push a pidref to 'anything' when we export it, right? When we bind names, we could throw a SyntaxError if we find a referenced name with no declaration.

[2018-11-06 03:08] rhuanjl commented on #5778
Would that permit a valid case like this:
[code]
Whilst catching the invalid cases I put in the first post?

[2018-11-06 19:10] pleath commented on #5778
Yes, it would. @boingoing is referring to the way the parser binds names to declarations. The "push" records the fact that there was a reference to the given name in the current scope. Binding takes place when parsing of the current scope is completed. So the reference can lexically precede or follow the declaration.

[2018-11-06 19:38] rhuanjl commented on #5778
Thanks @pleath that makes sense.

I was going to make a PR to fix this but see it's now assigned to you @boingoing want me to give it a go still or have you got it?

[2018-11-06 19:54] boingoing commented on #5778
@rhuanjl, feel free to take a stab at it if you're motivated. I haven't looked-into the fix yet. We can help if you need some in that area of the code. If you're not feeling it I can take this one on, as well. 👍

[2018-11-07 19:12] crdumoul commented on #5804
@atulkatti I've tried the change in https://github.com/atulkatti/ChakraCore/commit/64f9fc7b97499298733c14dc0db6f22e5c851ce6 for myself, and I'm still able to reproduce the problem. You should be able to see it with the multi_thread program that I attached in a previous comment.

[2018-11-08 02:48] QuellaZhang commented on #5813
Hello, any updates?

[2018-11-08 14:08] adudov opened #5821 "Reducing the _X64WriteBarrierCardTableManager::_cardTable memory reservation"
Hi, we are trying to reduce the memory reservation for the `_X64WriteBarrierCardTableManager::_cardTable`.
(for windows x64 with address space of 128TB it is reserving 32GB).
The default page size is 4KB and we are trying to make it 64 times bigger, i.e. 256KB.
We changed the following constants:
- [RecyclerWriteBarrierManager::s_WriteBarrierPageSize](https://github.com/Microsoft/ChakraCore/blob/m

[2018-11-12 22:43] liminzhu commented on #5815
Hey thanks for the report @NoelAbrahams ! Unfortunately this is a web API issue rather than a JS engine issue. Can you open an issue on [EdgeHTML issue tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/) so the right folks can look at them?

[2018-11-12 22:46] liminzhu commented on #5821
@LouisLaf @atulkatti do you guys know?

[2018-11-13 09:11] NoelAbrahams commented on #5815
Moved to [EdgeHTML Issue Tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/19608658/) as requested.

[2018-11-13 09:11] #5815 closed

[2018-11-13 11:38] JSteunou commented on #4663
Hi guys, I still have this issue on Edge/17.17134

Is this bug back or the fix not shipped yet?

[2018-11-13 13:40] chicoxyzzy opened #5825 "Implement Symbol.description"
This [proposal](https://github.com/tc39/proposal-Symbol-description) is at stage 3. It's implemented in V8, SpiderMonkey and JSC and is shipped in stable versions of Chrome, Firefox and Safari
https://github.com/tc39/proposal-Symbol-description/issues/7

[2018-11-13 16:01] sethbrenith commented on #4663
This bug is fixed in Edge version 18.17763 (the fall 2018 release). @JSteunou you still have the version from spring of this year. I can't say when exactly you would get the update automatically, but according to [this page](https://support.microsoft.com/en-us/help/4028685/windows-10-get-the-update), you can get the update immediately if you manually check for updates.

[2018-11-13 16:08] JSteunou commented on #4663
Thank you for the quick answer @sethbrenith :+1:

[2018-11-13 23:31] rhuanjl commented on #5778
I had a go at trying to do this but didn't get far, unless I'm missing something currently no pid ref is pushed for an exported name unless the export is also variable declaration (in which case it can't possibly hit this error).

And I couldn't quite work out how to push a pid ref for the name and have it be accessible in the right place without making it into a variable declaration which would o

[2018-11-14 19:00] igor-simoes commented on #5067
cinfuzz

[2018-11-15 19:17] rhuanjl commented on #2720
I think I'm nearly there with async generator functions - will aim to open a PR this weekend.

I have not touched for-await-of or Symbol.asyncIterator yet, I will endeavour to do those in a later PR. I want to submit what I've done on async generator functions before doing the other aspects of this feature as it's going to be over 1000 lines as it is.

[2018-11-15 19:38] rhuanjl commented on #2720
So when the asyncGenerator yields there are three possible cases:
1. await
2. yield
3. yield*

Points 1 and 2 would both return to the same place with an object that had { value : something, done : false }

Point 3 would come in at the same place with an arbitrary object provided by the next value.

For point 3 - add a boolean value to the ResumeYieldData struct to specifically detect this (still

[2018-11-15 23:29] EdMaurer commented on #5821
@VSadov may know.

[2018-11-15 23:31] EdMaurer commented on #5813
Sorry, but this is unlikely to get attention from the MS Chakra team soon. Everyone is focused elsewhere.

[2018-11-15 23:58] VSadov commented on #5821
Can we get more information on this?
Why reserving 32GB is a problem? It is only reserving the address space, not allocating/commiting it.

[2018-11-17 02:44] boingoing opened #5833 "Symbol[[description]] cannot be undefined"
Due to the way we store a PropertyRecord in the [[description]] slot for Javascript symbols, we aren't able to assign [[description]] to `undefined`. This has a subtle effect but is observable:

[code]

With the implementation of Symbol.prototype.description (#5828), this limitation is much easier to observe:

[code]

It's not a straight-forward change to make so I've opened this issue for trackin

[2018-11-17 06:33] #5825 closed

[2018-11-18 10:56] ab35 opened #5836 "Cross OS standard browser shell"
Hi,

One thinks that OS manufacturers should work on a browser shell standard common to all operating systems, because after all, all browsers do the same thing according to W3C standards.

That way, particular brands of browsers like Edge, Safari, Chrome, etc. would all derive from a common standard browser shell present in all operating systems (by shipping on top of it their own JS runtime, ext

[2018-11-18 20:07] pleath commented on #5778
You're right, no pid ref is pushed in this case. It looks like we implemented it without attempting to bind the exported name to a declaration. Either we missed this requirement in the spec or implemented an earlier spec that didn't contain the requirement.

What you'll want to do is call PushPidRef from Parser::AddModuleImportOrExportEntry, passing in the IdentPtr of the local name, and store the

[2018-11-19 09:01] adudov commented on #5821
We are embedding it and we don't want to take so much address space from the user. Also on PS4 the address space is even more "expensive".

[2018-11-20 00:58] EdMaurer commented on #5836
Not a ChakraCore-specific topic.

[2018-11-20 00:58] #5836 closed

[2018-11-20 01:01] EdMaurer commented on #5811
Hopefully clear now.

[2018-11-20 01:01] #5811 closed

[2018-11-20 01:07] EdMaurer commented on #5774
Thread appears to have run its course.

[2018-11-20 01:07] #5774 closed

[2018-11-20 01:09] EdMaurer commented on #5726
Thread has run its course.

[2018-11-20 01:09] #5726 closed

[2018-11-20 18:34] penzn opened #5838 "Update WASM SIMD implementation"
I would like to propose a set of changes to update WASM SIMD to the current state of the proposal:

- [x] Re-enable and clean up tests (#5839)
- [x] Scrub references to `build` instructions and `m128` WASM type (#5903)
- [x] Update opcodes to the latest revision of the spec

[2018-11-20 22:58] liminzhu commented on #5838
@MikeHolman

[2018-11-20 23:27] #5793 closed, assigned to MikeHolman

[2018-11-21 00:40] #5804 closed

[2018-11-21 02:29] tellarin commented on #3448
@curtisman is there any ETA for this?

[2018-11-21 03:33] infinnie opened #5841 "Assignment to non-reference literals does not raise early errors"
See also #5798

In Microsoft Edge, executing
[code]
will cause `"Runtime!"` to be alerted, while the expected behavior should be that an *early* error is thrown, which cannot be caught, and nothing could therefore be alerted.

In
[code]
however, the function is created without an error being caught and logged.

Both indicate that, instead of raising an early ReferenceError (which is the expected b

[2018-11-21 10:03] rhuanjl commented on #5798
@infinnie I think the 1=2 case was fixed by this commit https://github.com/Microsoft/ChakraCore/commit/13847da1662c5b603e1ae1f5b1bf978f21ed7b54 I guess that's not made it into the version of Edge you're using yet.

[2018-11-21 11:00] #5841 closed

[2018-11-21 17:17] curtisman commented on #3448
Redirecting to @LouisLaf

[2018-11-21 18:13] rhuanjl commented on #5293
During my current effort on async generators I've gone over async functions quite a bit and noticed some inefficiencies and at least one clear spec violation in addition to the points discussed above:

Spec violation, per https://tc39.github.io/ecma262/#await step 10 await uses PerformPromiseThen, it does not use the then property of the Promise prototype - i.e. it should ignore user modified then

[2018-11-21 18:37] rhuanjl commented on #5293
Indeed the quick fix to the issue I pointed would be to use the internal method CreateThenPromise on that line instead of using GetProperty for `then` and calling it.

But what I'd like to do is make a single implementation of `await` which can be shared between async function and an async generator function and can be used within the implementation of `for await of` that I'm hoping to do later. C

[2018-11-22 04:02] #5778 closed

[2018-11-22 15:44] bashmish opened #5842 "Intl.NumberFormat breaks with currency and more than 2 fraction digits"
## Expected Behavior

[code]

Result in Edge 17 (and other browsers): "EUR 0.001"

## Current Behavior

Result  in Edge 18 / Insiders Preview: "EUR0.00"

## Context (Environment)

According to one of many user reports:
Microsoft Edge 44.17763.1.0 and Microsoft Edge HTML 18.17763
Windows 10 Home Version 1809 4-10-2018

My own investigation:
Edge Insiders Preview on BrowserStack (should be close to

[2018-11-23 14:15] rhuanjl commented on #5236
I figure this should actually be a relatively simple fix:
1. Optionally add some code to detect circularities so the fix is only applied when it's relevant
2. Create an edited GenerateRootFunction method that tells the bytecodeemitter that the function is a generator - it will automatically insert a yield at the top of the function body https://github.com/Microsoft/ChakraCore/blob/master/lib/Runti

[2018-11-23 21:52] Davilink opened #5845 "Edge show fraction digits even if i don't want it"
[code]

Result in IE (11):
![image](https://user-images.githubusercontent.com/1498932/48961030-88173300-ef3f-11e8-8d40-d35b62a682fe.png)

Result in Edge (18):
![image](https://user-images.githubusercontent.com/1498932/48961024-7cc40780-ef3f-11e8-99fe-b3c24d14e39a.png)

Result in Chrome (70):
![image](https://user-images.githubusercontent.com/1498932/48961117-299e8480-ef40-11e8-887c-cb3804e8c8a1.pn

[2018-11-25 15:32] open-source-explorer opened #5846 "Add PR welcoming badge"
It would be a good idea to add pr welcoming badge within the `README` file which is a common practice nowadays.
Thoughts 🤔

[2018-11-26 14:40] dangander-BESA opened #5847 "date.prototype.toLocaleString() return value contains U+200E chars with each date part"
Calling .slice() (or .substring()) on a string created by date.prototype.toLocaleString() returns unexpected results in Edge.

Repro:
[code]

Expect console to output:
[code]

Edge produces:
[code]

Firefox + Chrome work as expected, untested in IE.

[2018-11-26 17:07] zenparsing commented on #5847
It appears that CC is inserting `U+200E LEFT-TO-RIGHT MARK` (8206) into the resulting string.

[code]

[code]

[2018-11-26 20:55] liminzhu commented on #5842
Can confirm the behavior in Microsoft EdgeHTML 18.17763. @LouisLaf can we get someone to look at the bug?

@bashmish none of us here are in charging of rolling out Windows/Edge updates, but let me ask around to see if I can get some answers for you.

[2018-11-26 21:30] LouisLaf commented on #5842
Yes I do repro this.  minimumFractionDigits and maximumFractionDigits seem to be ignored completely...

[2018-11-26 21:46] liminzhu commented on #5845
@Davilink thanks for reporting the bug! This is potentially related to https://github.com/Microsoft/ChakraCore/issues/5842 as min/maximumFractionDigits are ignored. So + @wyrichte .

[2018-11-26 21:59] kypflug commented on #5842
@bashmish @liminzhu To the question about the Edge 18 update - We temporarily suspended the rollout last month and resumed it on 11/13. However, the rollout is initially throttled based on the device profile to make sure everyone has a good update experience. You can learn more here: https://blogs.windows.com/windowsexperience/2018/11/13/resuming-the-rollout-of-the-windows-10-october-2018-update/.

[2018-11-27 10:16] dangander-BESA commented on #5847
good spot. Renamed the issue since it's not a slice / substring problem

[2018-11-27 16:55] MSLaguana commented on #5847
I believe that this has come up before, e.g. https://github.com/Microsoft/ChakraCore/issues/3728

From what I understand, this is spec-compliant behavior, although surprising.

[2018-11-28 00:50] gkhub opened #5850 "Edge download .csv file as .xls (adds xls extension)"
Customer using Azure blob store storage complained about csv file upload/download in edge.
Repro:
Upload a csv file to blob store.
Download the file.
Other browsers correctly downloads csv file.
Edge adds .xls extension and unable to open the file.

Found the issue mentioned public forum as well - https://answers.microsoft.com/en-us/edge/forum/edge_extension-edge_win10/edge-browser-changes-file-ex

[2018-11-28 12:15] adudov commented on #5821
@VSadov was it helpful?

[2018-11-28 21:00] liminzhu commented on #5850
hey @gkhub . This isn't part of the ChakraCore implementation but rather something provided in the hosting browser Edge. Would you open a bug on the [Edge issue tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/)?

[2018-11-28 21:14] ethindp commented on #5199
So, I'm trying to build ChakraCore on FreeBSD. Here is the command I used:
```./build.sh --arch=amd64 --system-icu --ninja --lto --target=freebsd```
I built ICU 63.1, Unicode 11.0, before this. here's the output I get whenever I run this command:
[code]
What's odd about this error is that it seems like the makefile is assuming that my OS is OSX, as evidenced by the code that causes this error (lin

[2018-11-28 21:36] ethindp commented on #5199
Ah. I was hoping something could be done. I can wait, I guess. :)

On 11/28/18, Oguz Bastemur <notifications@github.com> wrote:

--
Signed,
Ethin D. Probst

[2018-11-28 23:50] dwighthouse opened #5852 "Duplicate Symbol Keys in ES6 Map Possible (Sometimes, Randomly) if the Symbol was Obtained From Object.getOwnPropertySymbols"
In Microsoft Edge (as of Edge 42.17134.1.0), if attempting to add the same Symbol as a key multiple times to an ES6 Map (via `set`), and IF AND ONLY IF that Symbol was obtained from its usage as one of a Object's keys (via `Object.getOwnPropertySymbols`), there is about a 70% chance that the Map will allow the second usage of the same key.

The mere fact that a given Symbol is somewhere used as on

[2018-11-28 23:54] dwighthouse commented on #5852
Here are the examples in question, in case the link goes down:

[code]

[2018-11-29 01:53] ppenzin commented on #5199
I've tried to get it to build and this is how for it got: https://github.com/ppenzin/ChakraCore/tree/freebsd
I am hoping to return to this one day, but haven't found time :)

It should be theoretically doable, as Chakra does not seem to depend on anything unavailable on FreeBSD, but you would have to make minor edits. There are usual issues with porting something that runs on OSX and LInux to Free

[2018-11-29 21:15] jefgen commented on #5845
Note: It looks like the variable `culture` is not defined in the snippet you posted. Perhaps there was a line omitted?

[2018-11-29 21:51] Davilink commented on #5845
@jefgen
culture = 'fr-CA'

[2018-11-29 21:54] jefgen commented on #5845
Thanks!
So the snippet should probably look something like this:
`new Intl.NumberFormat('fr-CA', { style: 'currency', currency: 'CAD', useGrouping: true, minimumIntegerDigits: 1, minimumFractionDigits: 0, maximumFractionDigits: 0}).format(25000);`

[2018-11-29 22:20] wyrichte commented on #5842
This is not a Chakra bug but rather an ICU bug. It will be fixed in an upcoming version of Windows. Thanks for the report!

[2018-11-29 22:20] #5842 closed

[2018-11-29 22:21] wyrichte commented on #5845
This bug is similar to #5842. This is not a Chakra bug but rather an ICU bug. It will be fixed in an upcoming version of Windows. Thanks for the report!

[2018-11-29 22:21] #5845 closed

[2018-11-29 23:53] dwighthouse commented on #5852
Found a small workaround.

Somehow, simply storing the `Object.getOwnPropertySymbols(obj)[0]` value into another variable before adding that to the Map, rather than adding the resulting Symbol value directly to the Map, causes Edge to never add the duplicate Symbol.

[2018-11-30 00:02] dilijev commented on #5847
@dangander-BESA What version of Edge are you on?

@MSLaguana This has come up before numerous times. The move to ICU should have made this behavior match other implementations.

/cc @jackhorton

All WinGlob-versus-ICU compat issues are being tracked as part of #3644

[2018-11-30 00:04] dilijev commented on #5852
Can you confirm whether this is still an issue in the latest version of Edge?

[2018-11-30 00:21] dilijev commented on #5852
Your example behaves the same in all engines.

[code]

It looks like this has been fixed since ChakraCore 1.10

[code]

[2018-11-30 00:26] liminzhu commented on #5852
I can confirm both cases return 1 in EdgeHTML 18.17763, so yeah, fixed in the latest version.

[2018-11-30 00:27] liminzhu commented on #5850
I'm going to close this one since it's unrelated to ChakraCore. Feel free to re-open if you have anything we can help with.

[2018-11-30 00:27] #5850 closed

[2018-11-30 00:28] liminzhu commented on #5846
I'm personally indifferent. I don't see it in VSCode or TypeScript repo. Not that it matters, just a data point.

[2018-11-30 00:30] liminzhu commented on #5434
I'm going to close this one since it's unrelated to ChakraCore. Feel free to re-open if you have anything we can help with.

[2018-11-30 00:30] #5434 closed

[2018-11-30 00:30] liminzhu commented on #5263
I'm going to close this one since it's unrelated to ChakraCore. Feel free to re-open if you have anything we can help with.

[2018-11-30 00:30] #5263 closed

[2018-11-30 00:31] liminzhu commented on #4099
I'm going to close this one since it's unrelated to ChakraCore. Feel free to re-open if you have anything we can help with.

[2018-11-30 00:31] #4099 closed

[2018-11-30 00:51] #5852 closed

[2018-11-30 00:59] dwighthouse commented on #5852
Oh! How strange. I thought Edge was an Evergreen browser.

Wait... I have all Windows 10 updates installed ("You're up to date; Last checked: Today, 6:55PM"), but Edge is still reporting that it is version 42.17134.1.0 (EdgeHTML 17.17134).

Stupid question: Why do I not have the latest version of Edge, and how can I get it?

[2018-11-30 17:16] jackhorton commented on #5847
I can confirm that this is fixed in RS5 (Edge 44/EdgeHTML 18). For what its worth, I believe IE11 will experience the same issue, since it also used Windows Globalization for date formatting. Not sure about <= IE10.

RS5 also includes a new Intl.DateTimeFormat API, `Intl.DateTimeFormat.prototype.formatToParts`, which should be preferred when available for parsing date strings. This API is also ava

[2018-11-30 17:16] #5847 closed

[2018-12-01 03:17] open-source-explorer commented on #5846
@liminzhu @dilijev Are we going forward with this?

[2018-12-02 19:31] dilijev commented on #5852
@dwighthouse clarifying further -- We use "evergreen" to mean the latest version of the browser is biased toward the modern web rather than compatibility with old web (in contrast to IE's interest in being compatible with every previous version of the browser and anything that was ever on the web).

[2018-12-02 20:44] dangander-BESA commented on #5847
Thanks - been away from things for a couple of days so sorry @dilijev I missed requests for more info.
Thanks @jackhorton for update on the fix - take your point on avoiding string parsing. It usually is something I avoid - we stumbled on it by accident and the dev has since reworked things away from string manipulation to make it more reliable anyway, and luckily we don't need to support <IE11 an

[2018-12-03 13:14] Ankk98 commented on #5846
![screenshot from 2018-12-03 18-42-27](https://user-images.githubusercontent.com/24476799/49375766-641bd480-f72b-11e8-8a06-e2cf444c9538.png)
@dilijev
A good example is React, it has 117k stars.

[2018-12-03 19:22] rhuanjl commented on #5293
One more point I thought of here - the current async/await implementation uses Generator.prototype.next() calls to start executing the async function and to move from await to await through it.

These calls are observable in stack traces - but per the spec async/await does not use Generator.prototype.next()

(My suggestion of using the new Op_Await I've written for AsyncGenerators would also remov

[2018-12-05 16:51] wohali opened #5857 "[Question] Future of ChakraCore?"
Apologies for the bare-faced question here.

Over at [Apache CouchDB](https://github.com/apache/couchdb), we're prototyping replacements for our aging and rickety SpiderMonkey 1.8.5 JS engine. Based on the good work done by the Microsoft team on ChakraCore, and knowing it's embedded in products like CosmosDB, we felt this would be a good way forward for our team.

By now I'm sure you've [read the

[2018-12-05 23:45] rhuanjl opened #5860 "BUG: GetIterator should cache next method"
Per https://tc39.github.io/ecma262/#sec-getiterator GetIterator should cache the next() method for the iterator in an internal slot so `get` is not used on it for each iteration.

There are a few test262 cases that this issue causes to fail, e.g. https://github.com/tc39/test262/blob/master/test/language/statements/for-of/iterator-next-reference.js

I'd like to fix this BUT:
1. it will involve mess

[2018-12-06 17:49] rhuanjl commented on #5857
(NOTE whilst I'm a contributor to chakracore I'm not from Microsoft and I have no inside info - I'm a hobbyist open source contributor)

So it's now not just a rumour - Edge is due to ditch EdgeHTML for chromium next year:
https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-open-source-collaboration/#86hdHmPeOj1Xq32Q.97

I'd love to see chakraco

[2018-12-06 18:18] wohali commented on #5857
Just wanted to say that: if you are unable to make a public statment, you can contact us directly at private@couchdb.apache.org .

[2018-12-06 19:18] Fly-Style commented on #5857
https://twitter.com/bterlson/status/1070754781822574592

**ChakraCore development continues for various non-Edge uses.**

Don't worry, be happy :)

[2018-12-07 00:02] saschanaz commented on #5857
Is there a project that heavily uses ChakraCore than Edge does? If not, I think ChakraCore will also be eventually doomed...

[2018-12-07 00:55] wonkyweasel commented on #5857
@saschanaz  There is node-chakra which is alive for now: https://twitter.com/AruneshC/status/1070813703656751104
don't know of any others. Many companies where one team uses another teams code will setup internal billing for services provided. Chakra likely lost its main customer. For it to continue something else has to fill in the funding gap. Further there are not that many experienced compiler

[2018-12-07 04:29] utshina opened #5863 "BUG: dumps of multiple functions are mixed in --asmDumpMode or --dump:assembly"
When we use --asmDumpMode or --dump:assembly, dumps of multiple functions are mixed (only tested in Linux), making it hard to read.

[2018-12-07 05:04] MSLaguana commented on #5863
I believe that this is because there are multiple threads. If you specify the particular function that you want to dump (I believe something like `--dump:assembly:1.23` will work to dump function 1.23) then it won't interleave with other functions, or alternatively I think there's a way to reduce parallelism, but I forget the flag off the top of my head...

[2018-12-07 05:54] utshina commented on #5863
Yes, this is a multi-thread (and multi-process) problem. It seems that Func::Dump() in Func.cpp is called from multiple thread in parallel and their dumps are mixed. In addition, if we use --dump:assembly, dumps from Encoder::Encode() in Encoder.cpp are also mixed. By taking locks with CriticalSection in the first part of these functions, the dumps are not mixed.

[2018-12-07 11:56] Penguinwizzard commented on #5863
Dump phases are handled differently for different phases, so taking locks for all of them could get pretty involved (and there'd have to be work to avoid deadlocks). Instead, what we normally do in this situation is use `-bgjjit-`, which disables background jitting; in these scenarios, writing to the console is going to tank your jit performance regardless, so disabling parallel jitting isn't a bi

[2018-12-07 11:56] #5863 closed

[2018-12-07 14:50] Munde opened #5864 "What is the future of chakracore if edge moves to chromium"
What is the future of chakracore if edge moves to chromium

[2018-12-07 15:47] Megasware128 commented on #5864
Duplicate #5857

[2018-12-07 17:59] liminzhu opened #5865 "Chromium adoption in Microsoft Edge and future of ChakraCore"
Hello Friends of ChakraCore,

Yesterday, Microsoft Edge announced its intent to adopt the Chromium open source project in the development of desktop Microsoft Edge to create better web compatibility and less fragmentation for web developers and customers. You can read the [announcement blog](https://blogs.windows.com/windowsexperience/2018/12/06/microsoft-edge-making-the-web-better-through-more-op

[2018-12-07 18:00] liminzhu commented on #5857
Thank you for your well-written message and understanding of our situation @wohali ! We don't like leaving our friends in the dark, but the announcement yesterday has such a broad impact that we've got some guidance to stage and just wait a day to let the dust settle first.

To answer your and many others' questions, we have a short statement that will hopefully drive some clarity. If anyone has m

[2018-12-07 18:03] liminzhu commented on #5864
Please see the statement from https://github.com/Microsoft/ChakraCore/issues/5865 and feel free to ask us there if you have more questions.

[2018-12-07 18:03] #5864 closed

[2018-12-07 18:32] wohali commented on #5857
Thanks for the update, @liminzhu . The only thing that we ask is that, should V8 start displacing ChakraCore in those other applications within MS, the community be given some sort of heads up so we have time to transition too.

It would be absolutely horrible if MS internally moved every application off of ChakraCore onto V8 secretly, *then* announced that ChakraCore was EOL. With no required lon

[2018-12-07 18:32] #5857 closed

[2018-12-07 20:06] nerocui commented on #5865
Basically means this is like Windows Phone. Platform has moved, so only security patches. Which is good, v8 and blink are the future and the decision is only going to bring improvement.

[2018-12-08 02:42] cpus133525 commented on #5865
What's the next that Microsoft will give up? UWP? NT Kernel? Windows? And anything else?
(UWP is DEAD! NT kernel is Inefficient! And Windows? Less and less people still use Windows now!)

[2018-12-08 03:18] nerocui commented on #5865
@cpus133525 oh believe me if there is an open platform that they can adopt and suddenly adds a big ecosystem of apps to windows, they will. Just look at all the bridges and pwa.

[2018-12-08 13:30] TonyHenrique commented on #5865
If all this makes C++ and .NET and XAML (UWP/WPF/Windows Forms) come to the Web Browser, and help Web Assembly to improve (implement threads, for example), then I think that this will be a good thing to everybody.

[2018-12-08 13:37] rhuanjl commented on #5865
I really hope ChakraCore can continue to have a role for years to come. In my opinion it's currently the nicest JS engine for an embedder to work with and it would be good if it could be maintained with that purpose - being the best for embedding whilst the other big 3 focus on browsers.

[2018-12-08 14:09] saschanaz commented on #5865
ChakraCore was the most eager engine to implement ES2017, and now it's the only engine not having ES2018 object rest/spread. I was always wondered why the change, but I can now understand that it's because no real push anymore.

[2018-12-08 17:42] athenian200 commented on #5865
I really hope someone takes the opportunity to pick up the slack and elects to use ChakraCore in some major project. I would love to see continued development on this. It would be a shame if no one ever used it again just because Chromium makes it so difficult to use Blink with any engine other than V8.

[2018-12-08 20:50] fatcerberus commented on #5865
I’m using ChakraCore as the JS backend in my miniSphere game engine: https://github.com/fatcerberus/minisphere

We have full ESM support (including dynamic `import()`) and it was incredibly easy to embed, even in a codebase that was previously based on Duktape (whose API is Lua-like).  I looked into V8 and Spidermonkey but their APIs are downright hostile to C-only codebases.  I wasn’t about to re

[2018-12-09 11:42] saschanaz commented on #5865
@edwinyzh Try object spread, it's probably ChakraCore if it doesn't work...

[2018-12-09 12:40] rhuanjl commented on #2720
@EdMaurer you were right it was a lot of effort; but I had several free weekends and needed something to do :) Hopefully someone has time to review it.

[2018-12-09 19:11] zenparsing commented on #2720
Thanks so much @rhuanjl! We'll make sure it gets a look. I can't wait to get this in!

[2018-12-10 17:03] edwinyzh commented on #5865
Sorry I don't play MineCraft, maybe others can try it.

[2018-12-10 17:18] JPVenson commented on #5865
I have recently evaluated against V8 and ChakraCore for a webserver Projekt. ChakraCore has a lot more functionality and API points compared to V8 and most important for a shared Environment it is MUCH safer to execute untrused JS code in there (try a Stackoverflow in a Native V8 enviorment). Please never let this engine fade away from existence

[2018-12-10 17:40] fschneidereit commented on #5865
It's sad to hear that ChakraCore is kind of abandoned. Sure, EdgeHTML reached a dead-end because of its platform-dependence on Windows, but I never understood why Microsoft sticked with MSHTML (and then EdgeHTML) for so long and kept it the way it was. They should have taken the opportunity to make this thing cross-platform ten years ago, leaving it Windows-only was a huge mistake that now pays of

[2018-12-10 18:06] dennis-yemelyanov commented on #5865
There's still UWP applications running JavaScript. Are they also moving to Chromiun?

[2018-12-10 18:10] fschneidereit commented on #5865
According to what I heard, no. The current WebView will remain based on EdgeHTML and ChakraCore, and a new version using Chromium is offered side-by-side.

[2018-12-10 21:57] dilijev commented on #5813
@QuellaZhang we don't support building with `/permissive-` or unreleased toolsets, but we are happy to merge fixes for issues like this if you would like to submit a patch.

[2018-12-11 06:03] mirsaeedi commented on #5865
ChackraCore is awesome. It's sad to hear you are going to stop it. The problem with Edge is not its engine, it's the user interface in my opinion.

[2018-12-11 06:05] saschanaz commented on #5865
Why can't we replace Chromium's V8 with ChakraCore in the nu-Edge? That will be a great push for ChakraCore.

[2018-12-11 06:07] fatcerberus commented on #5865
How did you get THAT out of:

[2018-12-11 06:08] liminzhu commented on #5865
Glad you like it @mirsaeedi . To be clear, we aren't stoping ChakraCore development.

[2018-12-12 00:21] #5846 closed

[2018-12-12 00:45] dilijev commented on #5773
Fixed by https://github.com/Microsoft/ChakraCore/pull/5775

[2018-12-12 00:45] #5773 closed

[2018-12-13 06:21] fatcerberus opened #5872 "JsCreateTypedArray has wrong SAL annotation"
`JsCreateTypedArray` has the following signature in ChakraCore.h:
[code]
However, according to the documentation comment just above that, baseArray can legally be `JS_INVALID_REFERENCE` (equivalent to NULL), in which case it creates the backing store on the fly:

[code]

Therefore the annotation for `baseArray` should be `_In_opt_`, not `_In_`.  There are probably more like this, but this happened

[2018-12-13 14:17] fatcerberus commented on #5865
@infinnie

Not only security patches.  Feature-level changes too.

[2018-12-13 18:45] liminzhu commented on #5872
Good catch! This is a mistake.

Also similar to https://github.com/Microsoft/ChakraCore/pull/5575, b/c this is also a Chakra API in Windows SDK and fixing it in ChakraCore will trigger a change there as well, we will have to go through an internal simple review process with Windows folks before we merge a fix in.

[2018-12-13 21:41] fatcerberus commented on #5872
On a related note, the analyzer gives me a warning for this line in my codebase:
https://github.com/fatcerberus/minisphere/blob/master/src/shared/jsal.c#L206

which I need to do to set up dynamic import to work in script (non-module) code.  Is the SAL annotation wrong there too or is this actually not kosher? (and if it isn’t, how do I set up dynamic import from script before the first module is l

[2018-12-13 22:41] rhuanjl opened #5875 "Suggestion: Module API divide JsSetModuleHostInfo"
[code]

**Currently JsSetModuleHostInfo is used for two fundamentally different types of thing**

1. It is used to set properties relating to an individual module, when setting any of these it is set onto the module record you pass in - these can be:
    i. an URL
    ii. host defined info
    iii. an exception
1. It is also used to setup the callbacks for module loading - these are set onto the s

[2018-12-13 22:47] rhuanjl commented on #5872
@fatcerberus picking up on that point - From reading the implementations - JsInitializeModuleRecord with a null specifier is safe BUT JsParseModuleSource on a moduleRecord that was created with a null specifier may not be safe - I think it may hit a FailFast. In general the way of setting callbacks for module loading feels janky, I've opened #5875 to suggest an improvement.

[2018-12-13 23:15] fatcerberus commented on #5872
Thanks for investigating @rhuanjl, it’s appreciated :)

[2018-12-14 00:03] liminzhu commented on #5875
Thanks for the suggestion! I think most of the confusion comes from the fact that you can set both per-module things AND per-context things (callbacks), which I agree is a little weird.

My two cents - I do feel like this is a problem that can be easily solved with some documentation, plus there is something nice about having a single API for setting info. If the solution is to keep the current AP

[2018-12-14 00:30] rhuanjl commented on #5875
@liminzhu thanks for the quick response, unpacking slightly on the second issue I mentioned above - setting up dynamic imports when module loading will then be done from script you have to do to following to set your callbacks:

[code]

This feels awkward - and the only thing that throwAwayModule record is used for is providing a JsContext to the JsSetModuleHostInfo calls.

The reason I was saying

[2018-12-14 00:32] fatcerberus commented on #5875
@liminzhu One issue with the current setup is you need a valid module record to set any of the callbacks — including the “dynamic import from script” callback which can be called *before any modules are loaded*.  This requires you to do `JsInitializeModuleRecord(NULL, NULL, &rec)` which isn’t 100% kosher (you can’t safely use that module record for anything other than as a gateway for setting the

[2018-12-14 00:33] fatcerberus commented on #5875
Additional note: Any dynamic import will cause a segfault (nullptr dereference) if no callback is set—this being an actual issue I’ve hit in the past.

[2018-12-14 00:37] rhuanjl opened #5876 "Question: running debug builds on xplat without logging?"
I couldn't find the answer to this in the wiki or docs if it is there I'm sorry for missing it.

If I run a debug build of ChakraCore on macOS it produces a lot of logging that is rarely of use to me:
[code]

Additionally if I run the test suite with a debug build it produces all of this logging - which causes every single test to fail as the logging is not in the baselines.

Please could someone

[2018-12-14 00:47] rhuanjl commented on #5875
The nullptr de-ref is kinda a different issue IMO - it's a minor bug that should be fixed but not really an API point (minor as you only hit if you forgot to set your callback).

[2018-12-14 03:46] liminzhu commented on #5875
@rhuanjl I really like the alternative idea. It basically relaxes the API shape without breaking anyone.

[2018-12-14 15:57] HM100 commented on #5865
Please note that switching to chromium means that `backdrop-filter` is not anymore supported by default (Unless Chromium fixes that). Otherwise okay as non-EdgeHTML engine is used on iOS and Android.

[2018-12-14 20:21] fatcerberus commented on #5876
Interestingly, debug builds of ChakraCore done with MSVC IIRC don’t produce all this logging (or any at all, even).  This suggests it is indeed possible to disable it, but unfortunately I don’t know how.

[2018-12-15 08:06] HolgerJeromin commented on #5865
I would expect having these filters working in chromium before the engine switch in edge:

https://bugs.chromium.org/p/chromium/issues/detail?id=497522#c157

[2018-12-15 16:48] rhuanjl opened #5877 "Generators and Async functions are not jitted"
I assume this is a point that is known internally - but it wasn't in the issue log on Github. Currently Generator functions and async functions are always run only in the interpreter.

There is a flag -Jites6Generators to enable jitting them - but using this always results in a crash in the Jit - it encounters an unallocated register the first time it tries to Jit a ResumeYield op. src10pnd is set

[2018-12-15 19:04] #5141 closed

[2018-12-15 23:42] pleath commented on #5877
That's right. Jitting generators is a large work item, much larger than support for async generators, and one that we haven't had a chance to take on.

[2018-12-17 13:16] rhuanjl opened #5880 "Jsrt nullptr de-ref instead of error code"
Pulling this issue out of @fatcerberus comments in #5875 if you try to use dynamic import with Jsrt and set a FetchImportedModuleCallback BUT do not set a FetchImportedModuleFromScriptCallback using dynamic import in a script will trigger a nullptr de-ref.

**Proof of concept:**
[code]

**Analysis of error:**
Relevant code is here: https://github.com/Microsoft/ChakraCore/blob/8527dc23954bdf77b17d2

[2018-12-18 20:35] dennis-yemelyanov commented on #1033
@liminzhu sorry I have a couple more questions on this... I'm not sure I understand how C# call stack can prevent an object from being collected by JavaScript GC? I had an impression the two GCs are not really aware of each other?

Also does JavaScript GC always run continuously on a separate thread? Or does it pause while a host callback function is being executed?

[2018-12-18 21:09] MSLaguana commented on #1033
The C# GC and the ChakraCore GC are not aware of each other, but the ChakraCore GC can walk the native stack and find pointers to things in the ChakraCore recycler and use those as roots. As long as the translation of various `Js*` handles into C# treats them as opaque and keeps the handle on the stack, then the ChakraCore recycler won't collect them.

The ChakraCore recycler doesn't run continuou

[2018-12-19 00:14] dennis-yemelyanov commented on #1033
Thanks, @MSLaguana. That clarifies it a bit, however after more digging I found this discussion from which it sounds like it might not always be safe to rely on the compiler to actually keep values on the stack, and the recommendation seems to be to still call JsAddRef/JsRelease: https://github.com/microsoft/ChakraCore/issues/2836

Also I'm not sure if running a .NET host complicates matters even

[2018-12-19 00:36] dennis-yemelyanov commented on #1033
I see, that makes a lot of sense now. As always, thank you for your super promt response, detailed answers and patience while answering my questions :)

[2018-12-19 04:14] ljharb commented on #1658
This has now been renamed to `globalThis`. Will there be another version of Edge that includes ChakraCore? If so, it'd be great to ship this ASAP.

[2018-12-19 05:36] fasttime opened #5883 "instanceof with bound function should call [Symbol.hasInstance]"
When the right hand side of an `instanceof` expression is a bound function, then a `[Symbol.hasInstance]` property set on the original function doesn't seem to be looked up as expected.

This is the test code I'm running:

[code]

Here the last line should call `[Symbol.hasInstance]` on type A and print "A", but it doesn't.

Apparently, the issue is specific to ChakraCore since other engines behav

[2018-12-19 20:30] #5875 closed

[2018-12-19 20:35] rhuanjl commented on #1658
I see no one is assigned to this - I could do it if wanted? (Will wait on a member of the CC team saying yes before I start though figure it will be very small, bulk of the work will be the tests)

[2018-12-19 21:09] pleath commented on #1658
That sounds great. No one is working on it on our side.

[2018-12-20 16:13] fatcerberus commented on #5883
Relevant specification text:
https://www.ecma-international.org/ecma-262/9.0/index.html#sec-ordinaryhasinstance

The correct behavior is indeed as described in the OP (contrary to my expectations).  ChakraCore is in the wrong here; the other engines are correct.

[2018-12-24 06:31] fatcerberus commented on #5865
You know, now that the cat's out of the bag on this one, the survey popups in Win10 I've seen the past few months "How likely are you to recommend Google Chrome?" finally make sense.  I got really used to seeing "Use Edge instead, it's better for your battery!" notifications, then one day it stopped doing that and started asking me how I liked Chrome instead... I was just like "okayyyyy..." 😸

[2018-12-24 07:07] infinnie commented on #5865
The world’s most beautiful browser will be gone.

[2018-12-27 17:22] leeswimming opened #5891 "ChakraCore crashes in lib/Parser/Parse.cpp"
Release build of ChakraCore crashes due to the null dereferencing after the commit 34b8876ec.
The input JavaScript is as follows.
[code]

$ file ch
ch: ELF 64-bit LSB shared object, x86-64, version 1 (SYSV), dynamically linked, interpreter /lib64/ld-linux-x86-64.so.2, for GNU/Linux 3.2.0, not stripped

Build Option: None
OS: Ubuntu 18.04.1 LTS
Arch: x86_64

[2018-12-27 23:39] dennis-yemelyanov opened #5892 "Handling out of memory error"
Is it possible to handle the "Out of memory" error gracefully without having the process killed immediately? For example, when running out of stack space the "Out of stack space" exception is thrown, but it looks like when running out of memory the process crashes immediately.

Is this expected? Can anything be done to have ChakraCore throw an exception that the host can handle?

I'm testing this

[2018-12-28 00:04] rhuanjl commented on #5892
Assuming you're embedding chakracore yourself there is a way it\s not documented in the wiki (not sure why) but you can use `JsRuntimeAttributeDisableFatalOnOOM` as one of the attributes when creating your runtime CC will then attempt to raise a JS exception for out of memory instead of crashing.

[2018-12-28 00:12] dennis-yemelyanov commented on #5892
Great, thank you, exactly what I need :)

[2018-12-28 00:12] #5892 closed

[2019-01-03 14:51] torsten-knauf commented on #5842
Got Microsoft EdgeHTML 18.17763 today and it is still broken. Could you maybe write here, when it is supposed to be fixxed?

One of our tests fails (correctly) in saucelabs on latest Edge due to this bug. So I will sadly set lattest Edge version to 17 in saucelabs and would be happy about a notification, when it is fixxed... :)

[2019-01-07 23:59] xjlight commented on #5865
@liminzhu  we have an UWP application which replies on Chakra.dll, I assume this comes with Edge browser in Windows 10. Will there be no Chakra.dll after this change?

[2019-01-08 18:24] penzn opened #5898 "Releasing arguments in EmitV8X16Shuffle triggers a crash"
To reproduce, release `arg1Info` and `arg2Info` in `WasmBytecodeGenerator::EmitV8X16Shuffle`:

[code]

This leads to `tests/wasm.simd/mathTests.js` to hit "Unitialized reg" assertion:

[code]

Smaller reproducer is as follows:

[code]

[2019-01-08 19:04] penzn commented on #5898
Uninitialized reg error comes after `deadstore` pass deletes load instruction that set it; using `-dump` or `-trace` on the pass shows that. I can track that down to `ProcessDef` not finding the symbol corresponding to the register in `upwardExposedUses` for the block.

[2019-01-09 00:05] liminzhu commented on #5880
Yeah good find. I suppose we should check for fetchImportedModuleCallback or fetchImportedModuleFromScriptCallback depending on static or dynamic import and return proper error code.

[2019-01-09 00:09] liminzhu commented on #5883
Yeah I can confirm we have a different behavior. We should look into it. @LouisLaf

[2019-01-09 00:54] LouisLaf commented on #5877
Basic JIT isn't trivial, but shouldn't be too hard.  Optimizing well in the presence of generators is much harder, much like it is for optimizing within a try block.
We had someone take a stab at it a while back as you pointed out, but there were a lot of problems with the design.  We decided to shelve it and focus on optimizing other ES6 features first.  We'll get back to it hopefully at some poi

[2019-01-09 13:25] akoeplinger opened #5902 "ChakraCore 1.11.5 download broken on jsvu due to uppercase checksum"
[jsvu](https://github.com/GoogleChromeLabs/jsvu) downloads ChakraCore from GitHub releases and uses the checksum embedded in the tag to verify the download. It appears they're expecting the checksum string to be lowercase `a-f` in their regex: https://github.com/GoogleChromeLabs/jsvu/blob/5da9253b29b813f1799368432cd4dfee2f3c46f7/engines/chakra/get-checksums.js#L21

The latest 1.11.5 release howeve

[2019-01-09 15:55] mathiasbynens commented on #5902
jsvu@1.3.2 works around this by also accepting uppercase hex digits.

[2019-01-10 00:11] davewthompson opened #5904 "Can't build on Visual Studio 2017 Community with Visual C++ 2017"
Fresh clone of https://github.com/Microsoft/ChakraCore.git.
Using Visual Studio 2017 Community with Visual C++ on Windows 10 Pro x64 (1809)
Open project
Set target to x64
138 build errors ("unknown attribute 'guard'", etc). Entire output attached.

[build log errors.txt](https://github.com/Microsoft/ChakraCore/files/2743070/build.log.errors.txt)

[2019-01-10 01:07] wyrichte opened #5906 "The negative NaN's sign bit is inconsistent when running -NoNative"
[code]

NaN is represented by a float using the IEEE 754 floating point representation. When representing NaN, IEEE 754 uses the most significant bit as the sign bit.

So NaN in IEEE 754 is represented by:
s111 1111 1111 xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx
S = sign
xxx... = anything but all zeros

This explains the diff in outputs: new Uint8ClampedArray(arr.buffer); is

[2019-01-11 00:38] penzn commented on #5898
After some digging and pointers from @lizhengxing, this is happening due to the order in which source and destination operands are processed in IR builder. Code that builds IR registers requires that uses would be always processed before defs. Shuffle's destination register is tagged as unused because it is built first in `BuildAsmShuffle`.

PR #5907 is fixing the order or processing.

[2019-01-11 17:58] liminzhu commented on #5865
Sorry for the delay here @xjlight  - existing apps that rely on the EdgeHTML or MSHTML webviews (and associated JS engine) can continue to do so without changes.

[2019-01-14 18:37] liminzhu commented on #5902
Seems like this is resolved. Will close for now but feel free to re-open if you have any follow-up @akoeplinger.

[2019-01-14 18:37] #5902 closed

[2019-01-14 19:10] liminzhu commented on #5904
Can't reporoduce with VS 2017 Community but on Win10 17763. Anyone know more about this?

[2019-01-18 17:47] nateps opened #5915 "instanceof returns incorrect result within function after prototype chain has been extended with Object.setPrototypeOf()"

[2019-01-22 20:15] boingoing commented on #5585
Fixed by 7fd1686cb6bb872ad29120505f037f05f463233e

[2019-01-22 20:15] #5585 closed

[2019-01-26 15:37] gh-markt opened #5921 "Is there a way to stop a js script from crashing the application?"
Given the extremely simple (albeit contrived) script:

`var arr=[];for(var i=0;i<1000000000;i++) arr.push(i);`

This will apparently crash the process that is executing it.  I did not see any obvious way in the API to prevent this, however.  Am I overlooking something, is this a shortcoming in the current API, or is this actually intended?

[2019-01-26 17:46] fatcerberus commented on #5921
This crashes because it runs out of memory.  You can disable abort-on-OoM but there’s no guarantee you will be able to recover cleanly once you’ve exhausted the available RAM, so the default behavior is just to induce a crash to avoid unforeseen security issues.

The flag in question is `JsRuntimeAttributeDisableFatalOnOOM`.

See also #4597.

[2019-01-26 17:49] fatcerberus commented on #5904
I’ve built successfully with VS2017 Community on 1809.  Only thing I can think of is there’s a misconfiguration somewhere on OP’s system.

[2019-01-26 19:19] gh-markt commented on #5921
Excellent.  Thank you, I did not see that option... would it be safe, then, if this situation were encountered, to simply dispose of the runtime, and for a user of the API to start over with a completely new runtime instance if any further js is needed later?

[2019-01-26 20:32] fatcerberus commented on #5921
It’s difficult to say... ChakraCore would try to recover by throwing an OOM error, but there’d still be that huge array in memory taking up space until the garbage collector could get around to freeing it.  *Any* attempts to allocate memory at this point are likely to fail, so you would have to be very careful to avoid creating an unrecovable situation yourself.  For example, disposing of a runtim

[2019-01-28 21:37] penzn commented on #5898
Closing as #5907 is merged.

[2019-01-28 21:37] #5898 closed

[2019-01-29 01:14] #5906 closed

[2019-01-29 01:22] wyrichte commented on #398
https://github.com/Microsoft/ChakraCore/pull/5905

[2019-01-29 01:22] #398 closed

[2019-01-29 07:11] fatcerberus commented on #5921
@gh-markt Just found out there’s a function you can use (in combination with the above mentioned flag), `JsSetRuntimeMemoryLimit`, to cause the OOM error to be thrown before you actually run out of physical RAM and therefore make it possible to recover.

https://docs.microsoft.com/en-us/microsoft-edge/hosting/chakra-hosting/jssetruntimememorylimit-function

[2019-02-01 04:06] #1658 closed

[2019-02-04 13:01] mitkoevoets commented on #5845
:'( microsoft

[2019-02-07 00:38] zenparsing commented on #5915
Here's a more minimal repro:

[code]

Results

[code]

It appears that the second call to `checkInstanceOf` assumes that the prototype chain has not been modified from the first call.

[2019-02-11 18:33] MikeHolman commented on #5921
We have these flags, but beware if you are trying to continue execution of script after an OOM error. It's possible that you end up with objects that are only partially initialized, and trying to use them will cause strange behavior/crashes.

[2019-02-11 18:36] fatcerberus commented on #5921
What @MikeHolman said, though `JsSetRuntimeMemoryLimit` would presumably help with that, since then it would fail before a physical OOM and the runtime shouldn’t be left in a bad state then (?).

[2019-02-11 19:10] MikeHolman commented on #5921
It would help, and OOM along most codepaths doesn't cause problems, but there are some cases where we set fields on an object, and then we try to allocate memory to set more related fields on the object. OOMs there will lead to objects in inconsistent state.

These cases are rare (I don't know any offhand), but there are some corner cases where it can cause issues. These cases probably won't hit i

[2019-02-13 10:44] leeswimming opened #5941 "ChakraCore crashes due to null dereference"
Both release and debug build of ChakraCore crashes due to the null dereferencing.

PoC:
[code]
Build Option: None
OS: Ubuntu 18.04.1 LTS
Arch: x86_64

[2019-02-13 11:57] leeswimming opened #5942 "Assertion Failure at lib/Runtime/Base/Utf8SourceInfo.h:61"
Debug build of ChakraCore crashes due to assertion failure at lib/Runtime/./Base/Utf8SourceInfo.h:61.

PoC:
[code]
Build Option: None
OS: Ubuntu 18.04.1 LTS
Arch: x86_64

[2019-02-13 12:48] leeswimming opened #5943 "Assertion Failure at bin/ch/Debugger.cpp:412"
Debug build of ChakraCore crashes due to assertion failure at bin/ch/Debugger.cpp:412

PoC:
[code]
Build Option: None
OS: Ubuntu 18.04.1 LTS
Arch: x86_64

[2019-02-13 13:12] leeswimming opened #5944 "ChakraCore crashes due to another null dereference"
The release build of ChakraCore crashes due to null dereferencing.

PoC:
[code]

Build Option: None
OS: Ubuntu 18.04.1 LTS
Arch: x86_64

[2019-02-13 20:31] akoeplinger opened #5945 "Release notes for ChakraCore 1.11.6 don't contain binaries, breaking jsvu"
[jsvu](https://github.com/GoogleChromeLabs/jsvu) relies on the binaries being mentioned in the release notes with the specific format, the latest 1.11.6 doesn't have them at all.

Compare 1.11.6: https://github.com/Microsoft/ChakraCore/releases/tag/v1.11.6
To 1.11.5: https://github.com/Microsoft/ChakraCore/releases/tag/v1.11.5

/cc @liminzhu @MikeHolman

[2019-02-13 20:37] MikeHolman commented on #5945
Binaries are coming, but there are infra issues with publishing right now. I should have them up by tomorrow at the latest (and will update release notes accordingly).

[2019-02-13 21:59] akoeplinger commented on #5945
@MikeHolman thanks! next time can you please make sure the binaries are ready before publishing the release tag? jsvu automatically picked this up and is broken right now on our CI.

Even better would be some permalink that allows getting the latest version so jsvu can stop grepping through the GitHub releases page.

[2019-02-14 10:07] QuellaZhang opened #5947 "Chakra failed when build with permissive- by msvc on Windows"
Chakra failed with lots of errors when build with permissive- by msvc on Windows, I use latest source version c95f834 on master branch. Could you please help take a look at this? Noted that this issue only found when compiles with unreleased vctoolset, that next release of MSVC will have this behavior.

**You can repro this issue as the steps below:**

1. git clone -c core.autocrlf=true https://gi

[2019-02-14 15:29] mathiasbynens commented on #5945
https://github.com/GoogleChromeLabs/jsvu/issues/54#issuecomment-452746283

Strong +1 on this. For V8, this is how we do it:

[code]

(There’s a different JSON file for each architecture that we support, as binaries of different versions might be available for each of them at various points in time.)

Your JSON file could have `version` _and_ `sha256` fields. Generating it could be completely autom

[2019-02-14 15:52] leeswimming opened #5948 "Assertion failure at lib/Runtime/Language/CacheOperators.inl:367"
The debug build of ChakraCore crashes with assertion failure.

PoC:
[code]
Commit: e055dbb
Build Option: None
OS: Ubuntu 18.04.1 LTS
Arch: x86_64