[2017-06-30 16:50] luciancaetano opened #3272 "build.sh --arch=arm --target=android typedef redefinition with different types"
when i run ./build.sh --arch=arm --target=android on linux i get this error of pal
error: typedef redefinition with different types ('char' vs '__int8_t' (aka 'signed char'))
typedef __int8 int8_t;

[2017-06-30 18:04] agarwal-sandeep opened #3273 "Remove Simd.js code from ChakraCore - Part 1 (ifdef out)"
simd.js is no longer planned for in its current form. V8 has already removed it and ChakraCore should also remove it.

Since some code of simd.js can be reused for WASM simd. In first part of change try to ifdef out simd.js specific code to not build and then in second part remove code which is not needed for WASM simd.

[2017-06-30 18:07] agarwal-sandeep opened #3274 "Remove Simd.js code from ChakraCore - Part 2 (Remove)"
Part 1 (#3273) of this change is to ifdef the code to not build. Once we figure out what can be reused for WASM simd we should remove rest of the code

[2017-06-30 19:23] bterlson opened #3275 "Eval containing a function declaration with a same-named lexical declaration in outer scope should throw"
[code]
Expected: SyntaxError per https://tc39.github.io/ecma262/#sec-evaldeclarationinstantiation 5.a.i.1
Actual: no syntax error, function is assigned to let variable.

[code]
Expected: SyntaxError per https://tc39.github.io/ecma262/#sec-evaldeclarationinstantiation 5.d.ii.2.a.i
Actual: no syntax error, function is assigned to let variable.

Note 1: The order of the lexical declaration and eval a

[2017-06-30 22:28] liminzhu opened #3276 "[JSRT] JsNativeFunction arguments[0] yields undefined instead of globalObj when called as property of globalObj"
Not documented on the [header](https://github.com/Microsoft/ChakraCore/blob/d3b6d103bbfa6207d18b74cbf77ca9a48455b8e6/lib/Jsrt/ChakraCommon.h#L694), but if it's the same as `JsCallFunction` then `arguments[0]` should be `this`. The behavior only seems right if in strict mode. Is this a bug or intended?

[code]

[2017-06-30 23:30] pleath commented on #3276
Are you saying the expectation is that arguments[0] will match the first actual parameter or “this”? It should be the first actual parameter.

-- Paul

From: Limin Zhu [mailto:notifications@github.com]
Sent: Friday, June 30, 2017 3:28 PM
To: Microsoft/ChakraCore <ChakraCore@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Microsoft/ChakraCore] [JSRT] JsNativeFunction ar

[2017-06-30 23:55] rajatd opened #3277 "Jitted code doesn't throw ArrayBuffer detached exception"
Jitted code for setting an element to a typed array checks if the length is greater than 0. If not, it just bypasses the set.
We set the length of the typed array to 0 if its array buffer was detached, so bypassing the set if the length is 0 prevents us from writing to detached buffer, but it also means that we won't throw the "Array buffer detached" exception.

[2017-07-01 01:05] liminzhu commented on #3276
`This`.

If I pass in `f(1)`, I get 2 items in `arguments` and `arguments[0]` is still undefined. If I set `f` as a property of another object `o`, `arguments[0]` and `o` are the same. Both lead me to believe this should be `this` without looking at the implementation.

[2017-07-01 03:53] liminzhu commented on #3276
@curtisman ?

[2017-07-03 12:14] gaa-cifasis opened #3280 "Failed assertion at lib/Common/Memory/HeapBlock.cpp"
Hi,

We found an failed assertion in the ChakraCore interpreter (ch) when you run the following test case:

[code]

It was tested in Ubuntu 16.04 using the last git revision (52dfe7bc146b70b326ed6e9f521bffa9f902bb2b). To reproduce:

[code]

This issue was found using QuickFuzz.

Regards,
Gustavo.

[2017-07-03 12:20] hackvertor opened #3281 "In operator allowed to follow a number"
[code]

Expected: Syntax error. In operator cannot follow number.

Actual: true

Firefox, Chrome and Safari all throw exceptions.

[2017-07-03 17:03] curtisman commented on #3276
Can't we just document our current behavior?

[2017-07-03 19:50] kunalspathak opened #3282 "Re-evaluate hash function for RecyclerWeakReference"
`RecyclerWeakReference` data structure is a data structure used to store weak reference to strong reference mapping inside recycler. Internally it uses hash table with chaining to save the mapped entries.
 [HashKeyToBucket](https://github.com/Microsoft/ChakraCore/blob/master/lib/Common/Memory/RecyclerWeakReference.h#L285-L289) calculates the hash key from `strongReference` address and adds an entr

[2017-07-03 19:57] kunalspathak commented on #3282
Just to be clear, 0 chain-length entries are possible if we remove entries from hash table. As part of this issue, investigate if that is the case and tweak hashing if needed.

[2017-07-03 20:41] liminzhu commented on #3276
Fixed https://github.com/Microsoft/ChakraCore/wiki/JsNativeFunction/_compare/4d68aa3edcbc55ede275befeb234fa94c689a0f7

[2017-07-03 20:41] #3276 closed

[2017-07-03 21:28] obastemur commented on #3272
This is possibly introduced recently. Thanks for reporting!

[2017-07-03 23:38] gaa-cifasis opened #3285 "Failed assertion at lib/Runtime/Base/FunctionBody.h"
Hi,

We found an failed assertion in the ChakraCore interpreter (ch) when you run the following test case:

[code]

It was tested in Ubuntu 16.04 using the last git revision (52dfe7bc146b70b326ed6e9f521bffa9f902bb2b). To reproduce:

[code]

Regards,
Gustavo.

[2017-07-04 11:46] hackvertor commented on #3281
instanceof has the same behaviour:

[code]

[2017-07-04 16:12] SkyLined opened #3287 "Cannot build"
I am trying to build x64 Debug ChakraCore from source, here's my setup:
- Windows 10.0.14393
- Visual Studio 2015 Pro 14.0.25431.01 Update 3
- Windows SDK 10.0.15063.468
- I've checkout the most recent source using git in the folder P:\dev\ChakraCore

(_Note that I have build ChakraCore on this machine successfully before, but that was just over a month ago. Because the build failed, and I was una

[2017-07-05 13:38] obastemur commented on #3270
@luciancaetano It is not officially supported and the current level is mostly keeping the code base reasonably close to something working.

See also #3179 (It is for iOS but similar answer applies to this issue as well)

[2017-07-05 13:38] #3270 closed

[2017-07-05 20:46] dilijev commented on #3038
Reopening this because the test has not yet been fixed, re-enabled, or removed.

[2017-07-06 01:34] agarwal-sandeep commented on #3273
@Krovatkin I have ifdef'd out most of library and runtime code abd32f52.

Are the following used in WASM simd?

[liveSimd128*Syms](https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/GlobOptBlockData.h#L161])
[simd128*SymsOnEntry](https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/FlowGraph.h#L572)
[likelySimd128*SymsUsedBeforeDefined](https://github.com/Microsoft/ChakraCo

[2017-07-06 02:27] marktjsonar opened #3293 "[Question] JsConstructObject, examples of use?"
I can't find any examples of how to use JsConstructObject in the ChakraSamples repo.  In particular, I'm curious what the arguments array needs to look like.... can I pass any object as the first argument, or does it need to be a newly created one that the constructor can fill by referring to 'this'?

[2017-07-06 06:52] #3049 closed

[2017-07-06 17:45] Krovatkin commented on #3273
@agarwal-sandeep The last 3 are **definitely** used.
It is a little bit less clear-cut w/ the remaining ones. While there's no type specialization in asm.js/wasm, CSE seems to rely on liveXXXSyms bit vectors (see `GlobOpt::NewIntConstantValue`) and if we are planning on enabling CSE & const folding for SIMD types, we *might* need these vectors. Also, the bailout infrastructure uses liveSimd128XXX

[2017-07-06 17:59] agarwal-sandeep commented on #3273
Thanks @Krovatkin. In this part of the change I am not removing any code just putting everything under #ifdef ENABLE_SIMDJS which by default is not defined. We have another issue #3274 opened to remove all simdjs related code which is not used for WASM simd after we have it ready. For now I will go ahead and ifdef out except the last 3.

[2017-07-06 18:26] digitalinfinity commented on #3280
@jianchun fwiw, I ran this test case overnight on Windows on x64 debug and it didn't seem to assert (didn't terminate either 😄) - this assert is very strange, not sure what is xplat specific that would cause this.

[2017-07-06 18:36] jianchun commented on #3280
@digitalinfinity Thanks for looking. I tried the repro. It seems to me ChakraCore's huge loop behavior conforms to spec:

[code]

“node” does nothing and immediately exits.
“ch” prints items at 0, 1 and honors the `Infinity` length (loop (2^53 - 1)).

[2017-07-06 23:07] liminzhu commented on #3293
Hey @markt- , Yes arguments[0] needs to be thisArg and I updated the API [reference](https://github.com/Microsoft/ChakraCore/wiki/JsConstructObject). Obviously not the best example, but here's how we call it in our [unittest](https://github.com/Microsoft/ChakraCore/blob/1db78494a58073be848ab91de6eb073cbff055c3/bin/NativeTests/JsRTApiTest.cpp#L673).

[2017-07-06 23:28] #3014 closed

[2017-07-06 23:54] dilijev commented on #361
@bterlson: is this still valid? Looks like @goyakin's test262 case isn't there anymore. /cc @MSLaguana

[2017-07-07 00:02] dilijev commented on #361
test/built-ins/TypedArrays/object-arg-throws-setting-typedarray-property.js was removed in tc39/test262@1517615a2

[2017-07-07 00:05] dilijev commented on #361
Removal of that test implies that that case should not throw. Verified with eshost:

[code]

[2017-07-07 00:06] dilijev commented on #361
See https://tc39.github.io/ecma262/#sec-typedarray-object

[2017-07-07 00:10] dilijev commented on #361
Talked with @MSLaguana and it looks like this is no longer a bug due to a spec change.

@bterlson can you confirm and reopen this bug if this is not the case?

[2017-07-07 00:10] #361 closed

[2017-07-07 00:34] bterlson commented on #361
@dilijev agreed

[2017-07-07 05:46] MikeHolman commented on #3287
I think VS looks for midl based on some environment settings, which you can see in the project settings.
This is what I have for x64debug build:
`$(VC_ExecutablePath_x64);$(WindowsSDK_ExecutablePath);$(VS_ExecutablePath);$(MSBuild_ExecutablePath);$(FxCopDir);$(PATH);`

You might try building with verbose output to see what these are set to. WindowsSDK_ExecutablePath should have a folder with midl

[2017-07-07 11:13] obastemur commented on #3287
Windows 10.0.**14393**
Windows SDK 10.0.**15063**.468

Is it possible that the issue here is not having the SDK for Windows version? I remember having a similar problem in the past.

[2017-07-07 13:38] gaa-cifasis opened #3299 "Assertion failed at lib/Runtime/Types/RecyclableObject.inl"
Hi,

We found an failed assertion in the ChakraCore interpreter (ch) when you run the following test case:

[code]

It was tested in Ubuntu 16.04 using the git revision 52dfe7bc146b70b326ed6e9f521bffa9f902bb2b. To reproduce:

[code]

This issue was found using QuickFuzz.

Regards,
Gustavo.

[2017-07-07 16:39] jianchun commented on #3299
Thanks for reporting this bug. The next line does IsCallable check and handling thus this has no release build impact:

[code]

[2017-07-07 18:44] kunalspathak opened #3302 "Reuse of pid hashtable of parser for DynamicFunction"
[code]
Today, for above code, we [create a pid hash table](https://github.com/Microsoft/ChakraCore/blob/master/lib/Parser/Parse.cpp#L11287-L11289) while validating syntax for formals (`(a,b,c)`) and  for function body (`return a+b+c;`) [here](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/JavascriptFunction.cpp#L217-L229). Finally we do the actual parsing of dynamic functi

[2017-07-07 20:51] #2746 closed

[2017-07-07 22:22] dilijev commented on #3204
See https://tc39.github.io/Function-prototype-toString-revision/#sec-function.prototype.tostring for a revision to the relevant spec text.

In any case, currently either of these are fine but in the new spec, between these two, only the following is allowed:

[code]

For consistency, will make Intl.getCanonicalLocales output match.

[2017-07-07 22:29] dilijev opened #3305 ".gitattributes missing"
Discovered in #3303

Restoring the .gitattributes caused a bunch of tests to start failing -- probably baselines which were checked in since .gitattributes changed. See: https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.6/job/x64_debug_prtest/341/

See https://github.com/dilijev/ChakraCore/tree/gitattr for the commit to restore .gitattributes.

/cc @tcare

[2017-07-07 23:49] tcare commented on #3305
Note that we need to do this for ChakraFull too.. which is more work since it never had a .gitattribues.

[2017-07-08 01:22] #2809 closed

[2017-07-08 01:53] suwc opened #3306 "Module: premature instantiation of dynamic import modules"
Hit this bug while working on #3257. To check in fix as part of #3284.
[code]
[code]
[code]
[code]
[code]
Expected:
[code]
Actual
[code]

[2017-07-08 02:10] markt- commented on #3293
I'm sorry, but I am finding your answer to be just a bit ambiguous.   Do you mean that it should be 'this' as it would be within the scope of the constructor (that is, a newly created object with JsCreateObject or JsCreateObjectExternal), or should it refer to 'this' in the scope of the calling function (that is, a reference to whatever object instance contained the constructor function being call

[2017-07-09 18:52] liminzhu commented on #3293
Sorry for not being clear. It would be `this` for the scope where the constructor is called.

[2017-07-10 16:30] SkyLined commented on #3287
I have a similar value for `WindowsSDK_ExecutablePath`: `C:\Program Files (x86)\Windows Kits\10\bin\x86;;C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.6.1 Tools`. However, there are no binaries in the folder `C:\Program Files (x86)\Windows Kits\10\bin\x86`; midl.exe can be found in `C:\Program Files (x86)\Windows Kits\10\bin\10.0.15063.0\x86`. So could it be that this path was n

[2017-07-10 16:33] SkyLined commented on #3287
For future reference, you can enable "verbose output" through the Visual Studio menu: `Tools` > `Options` > `Projects and Solutions` > `Build and Run`: under `MSBuild project build output verbosity` select `Diagnostic`.

[2017-07-10 16:42] markt- commented on #3293
Okay, thanks.  That makes sense, but I wasn't entirely sure, and I didn't want to be passing my current 'this' in if the construct method was going to modify it by putting content into its own 'this'.

[2017-07-10 19:42] dilijev commented on #3305
This has caused some CI issues, so I'll fix it now.

[2017-07-10 23:17] #3256 closed

[2017-07-10 23:17] #3255 closed

[2017-07-10 23:18] #3252 closed

[2017-07-10 23:22] #3305 closed

[2017-07-11 00:26] Penguinwizzard commented on #3037
Fixed in ad9a12ab247ac1f48d91ecb8de9499af517a5aa4.

[2017-07-11 00:26] #3037 closed

[2017-07-11 00:36] #2471 closed

[2017-07-11 11:04] #3010 closed

[2017-07-11 12:02] #3262 closed

[2017-07-11 17:11] suwc opened #3318 "ch.exe doesn't support module load cross-thread"
[code]
[code]
[code]

[2017-07-11 17:19] jianchun commented on #3318
@suwc Do you know the state of "crossthread" support in ch? I recall @leirocks added it but not completed.

[2017-07-11 17:24] suwc commented on #3318
@jianchun not sure :-(

[2017-07-11 17:44] suwc opened #3319 "ch.exe's global states (e.g. sourceContext, module*Map) need to change to work cross-thread"
WScriptJsrt uses global states to store sourceContext and maps for moduleRecords, etc..
Changes must be made to support cross-thread scenarios:

1) Module-related maps must be per JsContext to provide isolation between threads
2) Module-related maps have the same lifetime as JsContext
3) Code that updates sourceContext must be locked with critical sections

[2017-07-11 18:44] #3229 closed

[2017-07-11 22:25] dilijev commented on #3271
eshost repro:

`eshost -its -e "eval('_'+String.fromCharCode(1320)+'_=print(1)')"`

[2017-07-11 22:26] dilijev commented on #3271
Duplicate of #1208
Related: #3050

[2017-07-11 22:26] #3271 closed

[2017-07-11 22:27] dilijev commented on #3050
Related #3271 #1208

[2017-07-11 22:27] dilijev commented on #1208
Related #3271 #3050

[2017-07-11 23:22] #3194 closed

[2017-07-11 23:24] dilijev commented on #3204
The other alternative allowed by the spec is including the name of the method as specified by the spec, as is done by the other engines, for example:

[code]

[2017-07-11 23:24] dilijev commented on #3204
Related: `Intl.getCanonicalLocales.name` must be `getCanonicalLocales`.

[2017-07-11 23:37] #3247 closed

[2017-07-11 23:37] #3257 closed

[2017-07-11 23:37] #3306 closed

[2017-07-12 01:34] #3299 closed

[2017-07-12 02:52] MikeHolman commented on #3287
On my machine I do see midl under `C:\Program Files (x86)\Windows Kits\10\bin\x86` as well as `C:\Program Files (x86)\Windows Kits\10\bin\10.0.15063.0\x86`

I think the define is coming from here (or similar): `C:\Program Files (x86)\Microsoft SDKs\Portable\v15.0\DesignTime\CommonConfiguration\Neutral\windows.props` (which is reading it from the registry). Seems scary to change though, so I might

[2017-07-12 02:56] MikeHolman commented on #3287
Also, if that doesn't work I suggest you try installing the win8.1 sdk if you don't have it. Possible there is some dependency on having that.

[2017-07-12 07:04] FettLuo opened #3325 "about JsDiagGetFunctionPosition. This maybe a bug."
[code]
is ok.

[code]

assert at FunctionBody:1757 of ChakraCore Release 1.5.2
Assert(IsFunctionBody());

0x00007FFE610D72F8 (ChakraCore.dll) test.exe  0xC0000420: Assertion Failure。

[2017-07-12 20:51] SkyLined commented on #3287
Thanks, for the help. As explained in the bug report, I already tried reinstalling the win10 sdk, which did not fix the issue.

I just tried installing the Windows 8.1 SDK and that did not change anything either.

I have a similar windows.props file on my system and it does refer to the registry (through a few other variables it ends up reading and using `HKLM\SOFTWARE\Microsoft\Microsoft SDKs\Win

[2017-07-12 22:33] dilijev opened #3330 "Refactor bytecode regen scripts"
* Move to `tools/*/<scripts>`
* Reduce duplication.

See https://github.com/Microsoft/ChakraCore/pull/3323#discussion_r127020344

[2017-07-12 23:00] MikeHolman commented on #3287
I think there should be a similar path to that for win10, but not sure exactly how VS figures it out. But the platform specific variables eventually gets combined to the architecture independent one inside:
`C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.Cpp.Common.props`

[2017-07-12 23:44] Cellule commented on #3330
Feature suggestion: Give option to regen only 1 architecture at a time for when we're in active development and don't care about rebuilding everything until we're satisfied with the result.

[2017-07-12 23:51] dilijev commented on #3330
@Cellule the first draft of the script I ended up publishing was derived from a script which regen's only one. I meant to make that detect and regen the active config (e.g. x64_debug) when the right environment variables are set.

I think we should make the GenByteCode script regen only one (rather than a pair) and have the parameters control the rest and update the other scripts to call it more t

[2017-07-13 00:02] dilijev opened #3332 "Native function toString is inconsistent with other engines"
We are correct according to the spec (both current and proposed), but all other engines include the name of the function in the toString, whereas we do not.

/cc @bterlson

[code]

https://github.com/Microsoft/ChakraCore/issues/3204#issuecomment-313806817:

[2017-07-13 00:26] suwc opened #3335 "Should throw a TypeError when super is called through a lambda defined in param scope after super is called in the body"
[code]

[2017-07-13 17:44] xiangfan-ms opened #3343 "Issues found when building with MSVC + /permissive- - 2"
It is similar to the second issue in https://github.com/Microsoft/ChakraCore/issues/2862.

ch.cpp(877): error C2362: initialization of 'initRpcServer' is skipped by 'goto cleanup'

Revision https://github.com/Microsoft/ChakraCore/commit/e8f31729a0e8f04a68269698680657698e918053#diff-9aa417ac81c06da693354e50d1edd449 introduces 'goto', but this skips the local variable 'initRpcServer' and is ill-form

[2017-07-13 17:55] Cellule opened #3344 "Re-enable test in release/1.6 after 17-07 servicing release"
Once #3341 is merged and ported to release/1.6.
Re-enable test `test/wasm/params.js`.
A functional bug was preventing this test from running correctly in release/1.5 which was fixed in release/1.6.

[2017-07-13 19:11] Cellule commented on #2378
This issue is also hitting in asm.js not just wasm.
One of the problem is how we make calls in jitted code which is shared by both asm.js and wasm

[2017-07-13 22:37] #3343 closed

[2017-07-14 06:33] helloqirun opened #3352 "xplat: Enable JIT for debugging"
I compiled ChakraCore using the official build guide.
On ubuntu 16.04, ch crashes with the following test case.
I also noticed that if we slightly change the code (using a proper indentation), the Seg fault will be gone.
The hashtag of my chakracore build is
commit cb9c8271c8c9e2a0daec635504b5279168d92f1b

$ ~/chakracore/ChakraCore/out/Release/ch abc.js
Segmentation fault (core dumped)
$ cat abc.j

[2017-07-14 11:49] obastemur commented on #3352
This is not Linux specific.

[code]

[2017-07-14 16:18] #167 closed

[2017-07-14 19:08] Cellule opened #3355 "Fix asm.js in ES6 Modules"
Currently asm.js has numerous problems in es6 modules.
- [ ] Support reparsing without asm.js on validation error (currently throws)
[code]
- [ ] Add support for asm.js module in default export
[code]
- [ ] Fix nullptr A/V in JSRT api when trying to use asm.js in module (can repro with `ch` or `jshost -jsrt`)
[code]

[2017-07-14 19:24] Cellule opened #3356 "WScript.LoadModule inconsistencies"
I am encountering a lot of problems when trying to use WScript.LoadModule, mostly due to very different behavior between jshost and ch.
### ch.exe
- [ ] Memory leak on Syntax error with multiple modules
[code]

### Jshost.exe
- [ ] Assert, nullptr A/V when trying to load the same script twice
[code]
- [ ] Doesn't support giving a filename as third argument for subsequent imports
[code]

[2017-07-14 20:48] suwc opened #3357 "Module syntax errors not showing properly"
[code]

[code]
[code]

[2017-07-14 23:21] #3008 closed

[2017-07-14 23:22] #3249 closed

[2017-07-14 23:26] #3246 closed

[2017-07-16 09:22] martin-honnen opened #3366 "/^.+<\?/i.test('<?') gives true in Edge 40.15063.0.0 but false in other browsers/engines"
I think in https://stackoverflow.com/questions/45122823/is-there-any-reason-why-edge-returns-true-for-xml-i-testxml-version I have found a bug with the regular expression `test` method in the Javascript engine of Edge 40.15063.0.0.

[code]
As there is no character at all before the `<` less-than sign in the input string the match `^.+` should not match anything and therefore that `test` call shoul

[2017-07-16 10:41] MizardX commented on #3366
`/^.+%x/.test('%x')` displays the same bug. Tested in Edge 41.16232.1000.0

[2017-07-16 16:00] flingenfabriken opened #3367 "Jsrt documentation is incorrect"
Hello,

the documentation for _FetchImportedModuleFromScriptCallBack_ is copy and pasted from _NotifyModuleReadyCallback_. Could this be fixed with correct documentation? This would be very helpful.

You can check yourself: https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h#L70-L83

[2017-07-16 19:30] martin-honnen commented on #3366
Based on the tests added in https://github.com/Microsoft/ChakraCore/commit/a8e157afdd54177471d66e06dbfcc0ee1c36d437#diff-18608f601e3f7519b31ec8d2d2e28e25 it looks as if that fix already tries to address the posted problem with `/^.+`.

[2017-07-17 13:49] sunlili opened #3368 "Incorrect realization of Symbol.xxx.toString()"
run `Symbol.species.toString()`
expected result: **Symbol(Symbol.species)**
ChakraCore-release-1.6 result: **Symbol([Symbol.species])**

run `Symbol.match.toString();`
or `Symbol.replace.toString();`
or `Symbol.search.toString();`
or `Symbol.split.toString();`
expected result: **Symbol(Symbol.match)** ...
ChakraCore-release-1.6 result: **TypeError: Unable to get property 'toString' of undefined or

[2017-07-17 16:34] CoolCmd opened #3370 "The >>> operator returns incorrect result"
[test.zip](https://github.com/Microsoft/ChakraCore/files/1153306/test.zip)

Open the attached test.html
Expected: you should see message `Complete without errors`.
Actual: the message `Error in pass ????: if-condition is true instead of false` is shown.

This comparison of two constants occasionally evaluates to `true` instead of `false`:
`if ((UNSIGNED32 >>> 0) !== (SIGNED32 >>> 0))`

[2017-07-17 16:46] #3344 closed

[2017-07-17 17:36] bterlson opened #3371 "Super property reference in global scope should be an early syntax error"
Is presently a runtime reference error. `super()` has the proper error, however.

[code]
Expected: Early syntax error
Actual: Runtime reference error

[2017-07-17 17:53] bterlson opened #3372 "Lexical declarations should be shared when global object is non-extensible"
[code]
Expected: 1
Actual: `undefined` or an error depending on strictness.

[2017-07-17 17:57] bterlson opened #3373 "Lexical declaration of `undefined` in global scope should result in SyntaxError"
It is presently a reference error. Other identifier names appear to throw the proper error.

[code]

Actual: ReferenceError
Expected: SyntaxError (normal let-const redecl error)

[2017-07-17 18:10] bterlson opened #3374 "Function declarations should not shadow non-enumerable non-configurable properties of the global object"
Eshost Repro:

[code]
Expected: throw (of a TypeError per [GDI](https://tc39.github.io/ecma262/#sec-globaldeclarationinstantiation))
Actual: Normal, function shadowing is allowed.

[2017-07-17 18:18] bterlson commented on #3374
Can also repro with built-in properties:

[code]

Should be a TypeError on line 1. Currently it succeeds.

[2017-07-17 18:24] bterlson opened #3375 "Properties of the global object created from function declarations in indirect eval should be configurable"
[code]

Expected:  {"writable":true,"enumerable":true,"configurable":true}
Actual:  {"writable":true,"enumerable":true,"configurable": *false*}

See [EDI](https://tc39.github.io/ecma262/#sec-evaldeclarationinstantiation)'s exclusive use of CreateMutableBinding.

[2017-07-17 18:32] bterlson opened #3376 "Yield created with an escape sequence should be an error in strict mode"
[code]
Expected: SyntaxError (yield is a reserved identifier)
Actual: No Error

[2017-07-17 20:56] MikeHolman commented on #3370
This bug was fixed by #2601, which will ship with next version of Edge.

[2017-07-17 21:06] MikeHolman commented on #3366
You're right. I verified in our console host and your bug is fixed by #3201, which will ship as part of the next version of Edge.

[2017-07-18 17:21] digitalinfinity commented on #2590
@jaredwy any update on this issue? Are you still interested in working on this?

[2017-07-18 21:16] dilijev opened #3387 "[Legacy x86 debug 1.6, 1.7, master] Build failure (warn as error: unused variable) related to SIMD code removal"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status-%28release-1.6%29#legacy-builds
https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.6/job/daily_dev12_x86_debug/

[code]

Starting in: https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.6/job/daily_dev12_x86_debug/36/

See: https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.6/job/daily_dev12_x86_debug/changes

Remove

[2017-07-18 21:24] dilijev opened #3388 "[Legacy config] cl : Command line warning D9002: ignoring unknown option '-Zc:implicitNoexcept-'"
Seems this option was added after Dev12 (compiler toolchain used by the legacy configuration).

`cl : Command line warning D9002: ignoring unknown option '-Zc:implicitNoexcept-'`

See: https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.6/job/daily_dev12_x86_debug/36

[2017-07-19 01:00] #3387 closed

[2017-07-19 17:30] am11 commented on #2590
Can we try setting up platform-agnostic [ctest](https://cmake.org/Wiki/CMake/Testing_With_CTest)? We will achieve something like:

[code]

[2017-07-19 19:11] #3192 closed

[2017-07-19 20:23] bterlson opened #3393 "Remove strict mode poisoning of 'caller' from arguments object"
The spec does not require that these are present as of ES2017 (see the [final note](https://tc39.github.io/ecma262/#sec-arguments-exotic-objects) of this clause).

[2017-07-19 20:41] jaredwy commented on #2590
More than happy to keep working on this. I had a branch that got the tests passing on mac. I had some questions on how to best split the tests for the platform specific (windows only) apis. The handling of strings etc.  I think people were heads down getting 2.0 so struggled to find answers. I can find some time in the coming days to refresh my memory and get some answers to those questions.

Who

[2017-07-19 21:02] bterlson opened #3394 "Arguments object properties should throw an error when non-configurable"
[code]

Expected: TypeError, deleting non-configurable property in strict mode
Actual: No error

[2017-07-19 21:04] bterlson commented on #3394
Likewise, delete on a non-configurable property in sloppy mode returns `true` and should return `false`.

[2017-07-19 21:35] bterlson opened #3395 "Declarations (other than var) within the same block should throw in all modes"
Given something of the form:

[code]
where either function might be a regular function, generator, async function, or class:

Expected: error (static semantics contains duplicate lexical declaration)
Actual: no error

[2017-07-19 21:58] bterlson opened #3396 "Enumeration order of class properties is incorrect"
String properties should be enumerated in creation order. For classes, this should be `length`, `prototype`, string-based static keys of the class, and finally `name`.

[2017-07-20 09:52] obastemur commented on #2590
@jaredwy let me invite you to our cross platform channel. Most of the related ppl are on that channel.
@digitalinfinity @jianchun can you send the invite pls?

BTW; you can also ping from private. IIRC; we had a discussion going on. Thanks for your time! 👍

[2017-07-20 20:44] #3203 closed

[2017-07-20 20:44] #3204 closed

[2017-07-20 20:58] #3009 closed

[2017-07-20 21:29] bterlson opened #3404 "Global declarations created inside eval should not change configurability of existing properties"
[code]

Expected: descriptor doesn't change
Actual: descriptor changes from configurable false to configurable true

[2017-07-20 21:34] bterlson opened #3405 "Direct eval variable declaration with same name as outer lexical binding should be early syntax error"
[code]

Expected: early syntax error when doing EvalDeclarationInstantiation
Actual: Runtime Let/Const Redeclaration error.

[2017-07-20 21:44] bterlson opened #3406 "Implement Object Rest & Spread"
The proposal is stage 3 and will very likely be in ES2018. Object rest and spread are very useful tools (especially in some ecosystems like React) and idioms from it are becoming more common (eg. shallow copy via `let copy = { ... otherObj };`)

Specification text: https://github.com/tc39/proposal-object-rest-spread

[2017-07-20 21:50] dilijev commented on #3406
Do any engines or compilers support this currently?

[2017-07-20 21:54] bterlson commented on #3406
Babel, TypeScript, Chrome, Firefox all implement. Not sure about JSC.

[2017-07-20 21:56] dilijev commented on #3406
Oh I see it in the proposal now, my bad: https://github.com/tc39/proposal-object-rest-spread#transpilers

[2017-07-20 22:03] bterlson opened #3407 "Enable ES6 function name inference"
There are a number of cases that are currently not working properly, for example:

[code]
Expected: 'a'
Actual: ''

This appears to be fixed with the ES6FunctionName flag - we should consider enabling this. Anyone know why this isn't yet enabled?

[2017-07-20 22:47] dilijev commented on #3407
FWIW I'm not seeing that the `-ES6FunctionName` is not fixing this issue, but that node-ch does the right thing.

[code]

[2017-07-20 22:57] bterlson commented on #3407
@dilijev perhaps you are right, I noted that -es6experimental fixed it and figured it was because -es6experimental threw ES6FunctionName (which was disabled by default). Perhaps my assumption was wrong :)

[2017-07-20 23:15] #2747 closed

[2017-07-20 23:45] Eccenux opened #3410 "validity property of type ValidityState is missing tooShort property"
Both IE and Edge is missing `tooShort` property of `validity` property.

See [ValidityState specification](https://www.w3.org/TR/html5/forms.html#validitystate) and [compare with MSDN](https://msdn.microsoft.com/en-us/library/hh772951(v=vs.85).aspx).

Meaning of `tooShort` from spec:

[2017-07-20 23:53] curtisman commented on #3366
Closing the issue as this is already fixed in ChakraCore v1.6 and master

[2017-07-20 23:53] #3366 closed

[2017-07-21 00:30] #3370 closed

[2017-07-21 00:38] dilijev commented on #3368
Confirmed issue:

[code]

[2017-07-21 00:40] dilijev commented on #3410
@Eccenux If you haven't already, please open your issue on the Edge issue tracker. https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues

[2017-07-21 00:41] dilijev commented on #3407
Hmm, doesn't repro for me with -es6experimental either. Which version of ChakraCore are you reproing in?

[2017-07-21 14:28] curtisman commented on #3368
The regex symbols are not enabled by default yet.  Only in experimental.
The species one is a bug.

[2017-07-21 14:32] curtisman commented on #3097
Closing as this is not a ChakraCore issue.

[2017-07-21 14:32] #3097 closed

[2017-07-21 14:33] curtisman commented on #3410
Closing as this is not a ChakraCore issue.

[2017-07-21 14:33] #3410 closed

[2017-07-21 14:34] curtisman commented on #3139
Closing as this is not a ChakraCore issue.

[2017-07-21 14:34] #3139 closed

[2017-07-21 14:34] curtisman commented on #2857
Closing as this is not a ChakraCore issue.

[2017-07-21 14:34] #2857 closed

[2017-07-21 14:35] curtisman commented on #2997
Closing as this is not a ChakraCore issue.

[2017-07-21 14:35] #2997 closed

[2017-07-21 14:35] curtisman commented on #2999
Closing as this is not a ChakraCore issue.

[2017-07-21 14:35] #2999 closed

[2017-07-21 15:35] curtisman commented on #3393
@bterlson
[Section 9.4.4.6](https://tc39.github.io/ecma262/#sec-createunmappedargumentsobject) still call for a throwing accessor for callee on argument object?

There is also mention of callee in strict mode in [Appendix C](https://tc39.github.io/ecma262/#sec-strict-mode-of-ecmascript)
`Arguments objects for strict functions define a non-configurable accessor property "callee" which throws a Type

[2017-07-21 17:32] bterlson commented on #3393
@curtisman sorry you're right, callee is fine.

[2017-07-21 18:55] #3376 closed

[2017-07-21 18:55] #3368 closed

[2017-07-21 23:09] #3217 closed

[2017-07-22 01:14] matthargett commented on #3209
There are bailouts that happen where reJIT never produces a function that is used. I'd like to tell the VM to never attempt to JIT that function, in Release mode.

[2017-07-22 02:58] LouisLaf commented on #3209
I'd really like to get a repro of this, because what you describe sounds like a bug.  If the JIT'd code never used at all after the reJIT or barely used?  It takes a lot of calls to a function to get it to be JIT'd in the first place, and then cause a reJIT.  It seems unlikely the code would not get called at least a few times.

[2017-07-23 00:38] BenMcGarry commented on #2606
Was #2998 the fix for this issue?

[2017-07-23 18:35] obastemur opened #3419 "crash: es6/default-splitscope.js crashes randomly [master]"
CCRobot found an issue on master branch;

command line;
[code]

Output:
[code]

It is hard to repro. The bug possibly introduced into master branch late last week.

[2017-07-23 18:39] obastemur commented on #3419
Turning off automated issue closing for this one on CCRobot repo. Details : https://github.com/CCRobot/TestResults/issues/116

[2017-07-24 19:32] agarwal-sandeep commented on #3273
#3296 got merged

[2017-07-24 19:32] #3273 closed

[2017-07-24 22:36] suwc opened #3423 "Repeated calls to class setter triggers assertion"
[code]
Expected:
[code]
Actual
[code]

[2017-07-24 22:39] pleath commented on #3423
Do you think this is related to the super.x caching issues we’ve been looking at recently? It seems likely.

-- Paul

From: suwc [mailto:notifications@github.com]
Sent: Monday, July 24, 2017 3:37 PM
To: Microsoft/ChakraCore <ChakraCore@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [Microsoft/ChakraCore] Repeated call to class setter triggers assertion (#3423)

class B

[2017-07-24 22:41] suwc commented on #3423
@pleath this came up when I work on super.x caching. Will fix both in one PR

[2017-07-24 23:23] suwc commented on #3248
This has been fixed by https://github.com/Microsoft/ChakraCore/pull/3381

[2017-07-24 23:24] #3248 closed

[2017-07-25 02:39] dilijev opened #3427 "Include function name in built-in function toString (Intl functions)"
See: https://github.com/Microsoft/ChakraCore/issues/3204#issuecomment-313806817

The current spec (and proposed, see [proposal](https://tc39.github.io/Function-prototype-toString-revision/#sec-function.prototype.tostring) also linked from the comment above) require that a the toString of a built-in function object matches the NativeFunction grammar, which states that the function name is optional

[2017-07-25 19:23] xiangfan-ms opened #3430 "Issues found when building with MSVC + /permissive- - 3"
This commit https://github.com/Microsoft/ChakraCore/commit/9020556559a551daccc5df885cfd19f34a4716f5 added new code which casts string literal to 'uint16 *'. This is not allowed by the standard and /permissive- will catch it:
    JsRTApiTest.cpp(2151): error C2440: 'reinterpret_cast': cannot convert from 'const wchar_t [9]' to 'uint16_t *'

The fix is (JsCreateStringUtf16 accepts 'const uint16_t *'

[2017-07-25 21:39] benjaminpetit opened #3431 "Nuget package Microsoft.ChakraCore doesn't work with solution that uses project.json"
From ``Microsoft.ChakraCore.props``, before copying the dorrect dll to the build output, it seems that the it checks if a `packages.config` exists, which is not the case if your project is using a `project.json` file.

[2017-07-26 00:00] #3065 closed

[2017-07-26 01:25] rajatd opened #3434 "Heap overflow in CreateTTDDirectoryAsNeeded"
Repro:
build chakracore on linux:
./build.sh --cc=/usr/bin/clang --cxx=/usr/bin/clang++ --arch=amd64 --debug --static -j 8 --sanitize=address,undefined,signed-integer-overflow

run `./ch -` from `/out/Debug/bin/ch`

output:

==67392==ERROR: AddressSanitizer: heap-buffer-overflow on address 0x60200000eec4 at pc 0x7f4ec99064bf bp 0x7ffcc6c0ab30 sp 0x7ffcc6c0ab28
READ of size 2 at 0x60200000eec4 thre

[2017-07-26 02:02] dilijev commented on #3367
@liminzhu Can you also ensure the wiki is updated with this fix?

[2017-07-26 18:27] liminzhu commented on #3367
Apology for not seeing this earlier @flingenfabriken @dilijev . I will make a PR on this.

[2017-07-27 01:23] atulkatti opened #3438 "Intl.js: when the outer function of Intl.js is called (Intl lazy-init), it appears in the debugger dump"
It seems an internal anonymous function call during the constructor's execution is being shown in the debugger output.

Run the following with "ch -Intl -debugLaunch"
[code]
**Actual output:**
    "functionCallsReturn": {
          "[Anonymous function returned]": "undefined undefined",
          "[Intl.DateTimeFormat returned]": "Object {...}"
**Expected output:**
    "functionCallsReturn": {

[2017-07-27 01:32] atulkatti opened #3439 "For some Intl function calls where getters are fired, debugger shows 2 calls."
This may be a spec issue. However, showing 2 calls corresponding to one call in the user code might be misleading.

Run the following with "ch -Intl -debugLaunch"
[code]
**Actual output:**
     "functionCallsReturn": {
       "[get format returned]": "function <large string>",
       "[Intl.DateTimeFormat.prototype.format returned]": "string ‎2‎/‎1‎/‎2000"
**Expected output:**
     "functionCallsR

[2017-07-27 01:41] dilijev commented on #3439
The suggested problem here is that perhaps we should not show
[code]

However by spec, the `format` property is defined as a getter with name `get format`. Since the `.format` is in user code, the user code invoked the getter, and it makes sense that this is logged.

@bterlson

[2017-07-27 01:43] dilijev commented on #3439
Removing the Bug label for now until we can confirm that this is a Bug.

[2017-07-27 01:49] dilijev commented on #3438
The problem here is that we are leaking implementation details of Intl via the debugger logging. In general, functions called from Intl are called with Intl's special implementation of the function call operation, `IntlEngineInterfaceExtensionObject::EntryIntl_BuiltIn_CallInstanceFunction` called from Intl.js as `callInstanceFunc`, exposed to Intl.js as `platform.builtInCallInstanceFunction` (see

[2017-07-27 02:43] dilijev commented on #3438
Looks like this isn't a problem with the JS code in Intl.js but rather how the C++ code calls the outer function of Intl.js. Changing [line 8](https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/InJavascript/Intl.js#L8) to

[code]

The debugger dump now shows:

[code]

[2017-07-27 02:52] dilijev commented on #3438
See: `IntlEngineInterfaceExtensionObject::InjectIntlLibraryCode`

[This line](
https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/IntlEngineInterfaceExtensionObject.cpp#L478) calls the outer function in Intl.js:
`JavascriptFunction::CallRootFunctionInScript(function, Js::Arguments(callInfo, args));`

[2017-07-27 06:55] oferch opened #3441 "Got a message JSStringToPointer could not be located in jscript9"
Hello,

I've developed COM component based on chakra engine.
I'm building it one a machine where IE11 is installed. I link with jsrt.lib
When I'm running it on another machine with IE11 installed it works fine, but when I come to register it on a machine with IE10 I get the following Error "The Procedure entry point JsStringToPointer could not be located in JSCRIPT9.dll"

Doesn't IE10 engine suppo

[2017-07-27 16:15] #586 closed

[2017-07-27 16:41] gmurray81 opened #3442 "Chakra doesn't seem to inline very well compared to JS jit implementations."
I've been noticing this for years and I think I reported an old connect bug along these lines, but if you take some method heavy JS and run it in different engines, Chakra always seems to come out the worst for wear and you generally need to manually inline along the hot paths to normalize performance. I was trying to evaluate the different performance of various setter/getter techniques the other

[2017-07-27 22:24] MikeHolman commented on #3442
The issue here is more to do with the benchmarking framework than anything else. Basically, we don't inline calls between different dynamic scripts, and this framework is putting your function definition and the loop with the calls in different files.

This is probably something that will hit much in the real world, but these type of benchmarks seem to come up a lot so it might be worth looking in

[2017-07-27 22:33] MikeHolman commented on #3441
That's not supported in IE10.

[2017-07-28 05:34] oferch commented on #3441
Should that be the same between IE10 & IE11? I didnt see any comment sin documentation about that (only about differences between edge and IE)
So basically I should Link against the ChakraCore, and make Sure I have the right version?

[2017-07-28 07:42] mathiasbynens opened #3448 "Implement RegExp lookbehind assertions"
https://github.com/tc39/proposal-regexp-lookbehind

[2017-07-28 17:12] #3393 closed

[2017-07-28 17:13] #3261 closed

[2017-07-28 18:24] farzonl commented on #3407
we had a website break 2 years ago. try this flag: ES6FunctionNameFull

[2017-07-28 18:27] Cellule opened #3450 "WASM: Reserved immediate"
The call_indirect operator takes a list of function arguments and as the last operand the index into the table. Its reserved immediate is for future 🦄 use and must be 0 in the MVP.

Currently we just ignore the reserved immediate, we need to validate that they're 0

[2017-07-28 22:11] #3438 closed

[2017-07-28 22:50] dilijev commented on #3407
Correcting my earlier assertion that it didn't work: I was using a Release build to test. It works with Debug/Test builds.

[2017-07-29 06:37] #2437 closed

[2017-07-29 06:40] aneeshdk opened #3453 "Fix the dynamic attach scenario for generators"
When the generator object is created we save the interpreterstackframe in it. If we dynamically attach a debugger to it, both the offset and register allocation in the bytecode may defer from the previous values. This will cause issues when we try to continue after an yield from the saved offset. This needs to be fixed for yield resume scenarios.

[2017-07-30 07:23] bterlson commented on #3439
Sorry for ignorance in advance, but where is this logging coming from? It may be that whatever is doing the logging should exclude intrinsic getters? But yes, this is a getter so if this will log all getters I'd expect the actual output above.

[2017-07-31 01:03] dilijev commented on #3439
This is coming from the ch debugger test output (run with `-debugLaunch`)

[2017-07-31 17:42] #3430 closed

[2017-07-31 20:10] liminzhu commented on #3441
To be clear JSRT hosting interface for Chakra is available since IE11 ([documentation](https://docs.microsoft.com/en-us/scripting/chakra-hosting/hosting-the-javascript-runtime)). ChakraCore on the other hand goes all the way back to support Windows 7 SP1.

[2017-07-31 20:56] mrkmarron commented on #3434
It looks like this is a bug in the PAL implementation of wcsstr or something in the string conversion.

Getting to a call to GetTTDDirectory requires a check of the form:
[code]
The documentation for wcsstr says it returns "A pointer to the first occurrence in wcs1 of the entire sequence of characters specified in wcs2, or a null pointer if the sequence is not present in wcs1." However, if the inp

[2017-07-31 23:18] Eccenux commented on #3410
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/13022509/

[2017-08-02 10:33] albertogasparin commented on #2530
Additionally, it would be great to trigger `unhandledrejection` and `rejectionhandled` events, like currently suggested by the html spec:
https://html.spec.whatwg.org/multipage/webappapis.html#unhandled-promise-rejections

[2017-08-02 16:24] obastemur opened #3467 "xplat: ChakraCore doesn't update process tzdata if system timezone changes"
#3420 removes tzdata sync calls from xplat DateTime interface due to 10X performance penalty and other concerns mentioned in the same PR. Please read the discussion made under https://github.com/Microsoft/ChakraCore/pull/3420 ( Thanks to @MSLaguana @dilijev for their valuable contributions there)

/cc @bterlson

[2017-08-03 17:27] #3450 closed

[2017-08-03 22:06] Cellule opened #3474 "WASM - Tail recursion (2w)"

[2017-08-03 22:12] Cellule opened #3475 "WASM - Enable int64 const prop (5d)"

[2017-08-03 22:21] Cellule commented on #2795
Fixed in 43e9f52541bc8e80016dc44001520a1411465937

[2017-08-03 22:21] #2795 closed

[2017-08-03 22:21] #2796 closed

[2017-08-03 22:24] Cellule commented on #3475
Duplicate of #2802

[2017-08-03 22:24] #3475 closed

[2017-08-03 22:25] #3118 closed

[2017-08-03 22:25] Cellule opened #3476 "WASM - Memset+Memcpy features"
https://github.com/WebAssembly/design/pull/1057

[2017-08-03 22:29] Cellule opened #3477 "WASM - Threads (1m)"
https://github.com/WebAssembly/threads

[2017-08-03 22:33] Cellule opened #3478 "WASM - Multi-Value (2w)"
https://github.com/WebAssembly/multi-value

[2017-08-03 22:37] Cellule opened #3481 "WASM - Managed Data/GC (2m)"
https://github.com/WebAssembly/gc

[2017-08-03 22:41] Cellule opened #3482 "WASM - SIMD (2m)"
https://github.com/WebAssembly/simd

[2017-08-03 22:42] Cellule commented on #3482
Currently being implemented in branch wasm.simd

[2017-08-03 22:44] Cellule opened #3483 "WASM - Exception-Handling (1m)"
https://github.com/WebAssembly/exception-handling

[2017-08-03 22:44] Cellule opened #3484 "WASM - Tail Call (3w)"
https://github.com/WebAssembly/tail-call

[2017-08-04 01:53] dilijev commented on #2278
@cosinusoidally No plans at the moment, but we wouldn't be opposed as long as we don't end up breaking support for currently-supported platforms. Feel free to open a new issue so we can have an open issue to track it. (You can link back to this conversation.)

[2017-08-04 10:45] obastemur commented on #2278
Aren't you able to build ChakraCore on Centos 6? If you are having trouble to find latest Clang, under 'tools' folder, we have a custom build script

[2017-08-04 17:26] jianchun commented on #319
Timezone-sensitive tests can spoof current timezone themselves and handle timezone differences internally instead of exposing and printing to output. Just run one API whose output contains timezone and spoof from it; do all comparisons within script with timezone as a variable; only print `pass` or failure details.

[2017-08-04 18:19] dilijev commented on #319
This sounds reasonable to fix the tests, however, there's some concern that testing something other than "default" behavior reduces code coverage.

[2017-08-04 18:33] obastemur commented on #319
We don't have timezone sensitivity problem on *nix. We could set the the timezone on `CH` for Windows process with a command line argument (i.e. -`--set-timezone-for-testing`...) or preferably we could do this on python (custom implementation).

[2017-08-04 18:39] dilijev commented on #319
Also FWIW +1 to doing all comparisons in-script. Unless there's a need for baseline outputs (there are some actual cases where it is necessary), we should be doing all tests with in-script comparisons.

[2017-08-04 18:39] dilijev commented on #319
@obastemur Definitely support doing such a custom implementation. Might be the impetus we need to kill off `rl.exe` and transition completely to the python-based test runner.

[2017-08-04 18:43] jianchun commented on #319
@dilijev That approach doesn't change default behavior. It tests the same default (time zone), just instead of printing it compares within script the expected result in that time zone. Should be the same code coverage (or better, as the tests able to run in different time-zone settings).

[2017-08-04 18:56] dilijev commented on #319
@jianchun Good point. I thought you meant to use Intl.DateTimeFormat with a specific timezone.

We should also test the toString behavior but we can have the test check the formatted pattern with a regex instead of matching exact text.

[2017-08-05 16:58] mfikes commented on #421
With ChakraCore v1.7.0 (downloaded from [here](https://github.com/Microsoft/ChakraCore/releases)) on macOS, for this script

[code]

I get this output when running with ChackraCore:

[code]

For comparison, V8, Nashorn, and JavaScriptCore produce:

[code]

while SpiderMonkey produces

[code]

[2017-08-07 11:20] guybedford opened #3492 "ES Modules - Unable to load a circular module tree"
I've run this test case of 170 modules with some circular references and no actual code at all against Edge 41.16257.1000.0, and it seems it is enough to stall the browser completely. Safari handles this case in under a second, and Chrome have just fixed a bug for it to load faster as well.

To replicate, clone the repo at https://github.com/guybedford/modules-slow-tree, run a local http server, a

[2017-08-07 19:20] suwc commented on #3492
I cloned the test repo, changed all absolute wwwroot path to relative, created a `test.js` out of `test.html`.

(The change is pushed to my fork: `https://github.com/suwc/modules-slow-tree/tree/ch`)

It was able to load with `ch.exe`. (I will post module load trace below)
The problem is not with circular module load.
I will follow up with the Edge team.

[2017-08-07 19:22] suwc commented on #3492
[code]

[2017-08-07 22:49] suwc commented on #3492
Opened internal bug 13132989 and assigned to edgehtml team.
Close as duplicate.

[2017-08-07 22:49] #3492 closed

[2017-08-08 00:29] cosinusoidally opened #3494 "Make official ChakraCore Linux binaries that work on all currently maintained versions of Linux"
This is is a follow on from https://github.com/Microsoft/ChakraCore/issues/2278 . The currently available Linux ChakraCore binaries only work on some Linux distros. Ideally they would work on all (currently maintained) Linux distros.

I've put together a rough build system that is capable of generating such binaries (https://github.com/cosinusoidally/ChakraCore-experiments/tree/master/build-chakra

[2017-08-08 00:44] cosinusoidally commented on #2278
@obastemur see https://github.com/Microsoft/ChakraCore/issues/3494 . I've managed to build ChakraCore on CentOS 6 . I did have a look at your Clang build script, but I could see that there were some missing build options that would have yielded a slightly misconfigured copy of Clang if I had attempted to use it on CentOS 6 (since I am not using the standard system copy of GCC I needed to set GCC_I

[2017-08-08 01:10] digitalinfinity commented on #3494
@cosinusoidally cool! cc @obastemur since he's our xplat build expert

@cosinusoidally do you have a stack trace for your crash?

[2017-08-08 05:49] obastemur commented on #2278
I'm not sure I understood why you did all of that? Probably Clang 4.0 / 4.1 with Gold(LTO) has failed to build there?

If you can send a PR on tarball hash etc checking, it could be really nice. FYI; we tend to fetch the latest here!

What else was needed? Appreciate the PRs to current build system.

Thanks!

[2017-08-08 10:05] obastemur commented on #3494
I understand making ChakraCore binaries available to older distros could be beneficial to some.

Reminder; ChakraCore can be build from source code on older distros. (AFAIK)

Concerns;

- Are we going to support those distros? That comes with CI changes. Otherwise it will be hard.
- Are we going to provide bug / security fixes ?
- That means we will target / embed some older versions of dependenci

[2017-08-08 19:11] kfarnung commented on #3434
This looks similar to a bug I was investigating, let me take a look.

[2017-08-08 20:47] LouisLaf opened #3497 "isShared uninitialized in copy-ctor of JsTypeValueInfo"
The isShared bool is uninitialized in the copy-ctor.  It should be initialized to false since we make a new ValueInfo in it.  If it happens to be true, we will get unnecessary copies.

class JsTypeValueInfo : public ValueInfo
{
private:
    JITTypeHolder jsType;
    Js::EquivalentTypeSet * jsTypeSet;
    **bool isShared;**

public:
    JsTypeValueInfo(JITTypeHolder type)
        : ValueInfo(Uninit

[2017-08-09 01:18] kfarnung commented on #3434
This is because the PAL implementation of wcsstr doesn't handle the case where the `string` reaches a null character before `strCharSet` has fully matched.

https://github.com/Microsoft/ChakraCore/blob/master/pal/src/cruntime/wchar.cpp#L1496

This means that
[code]

[2017-08-09 17:24] cosinusoidally commented on #3494
@digitalinfinity stack trace for official Linux x86_64 binary from here: https://github.com/Microsoft/ChakraCore/releases/tag/v1.7.0

This is running on a T5300 Core 2 Duo, see below flags from /proc/cpuinfo:
[code]
gdb session:

[code]
The crash above is on the pinsrq instruction, which is a SSE 4.1 instruction according to https://en.wikipedia.org/wiki/SSE4

Similarly my binary also crashes, but

[2017-08-09 17:35] obastemur commented on #3494
Were you creating this binary on `Core 2 Duo` system ?

[2017-08-09 17:40] obastemur commented on #3494
We could add a feature detection for given instruction yet if you were compiling on another machine with support to SSE 4.1, the result wouldn't be different. Optionally, we may add a build time argument for target arch compatibility level.

i.e `--custom-cpu-argument:<argument(s) here>` to `build.sh`. Would you like to send a PR?

[2017-08-09 18:04] cosinusoidally commented on #3494
Yep, though the resultant binary works fine on machines with SSE 4.1 and 4.2 support, it will not work on the ``Core 2 Duo`` machine. This makes sense as it appears that the ``CMakeLists.txt`` is instructing clang to generate SSE 4.2 code.

I'll try and build a SSE2 copy of ChakraCore next week and let you know how I get on. If possible I will try and create a PR.

[2017-08-09 19:51] cosinusoidally commented on #2278
You're welcome.

It was just a matter of picking an approach which I thought would give me the best chance of success.  My approach also generates the whole build environment (it sets up a CentOS 6 chroot, installs all the development requirements, and builds the required versions of cmake and clang). I used proot rather than chroot so there was no requirement to do anything as root. This also mea

[2017-08-09 21:05] kfarnung commented on #3434
Looks like the same bug exists in coreclr as well:  https://github.com/dotnet/coreclr/blob/master/src/pal/src/cruntime/wchar.cpp

[2017-08-09 22:42] bterlson commented on #2530
@albertogasparin assuming you're talking about precisely those events and in the browser, that's up to Edge to set up for us. If you file a uservoice request or similar, please post it here so others can pile on :)

[2017-08-09 23:21] SaschaNaz commented on #2530
There already is [a UserVoice request](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/16665397-detect-unhandled-promise-rejection?tracking_code=4f4e218df62afae7db37fb5be5f4ff1c) which got 'Oops, wrong forum' response.

[2017-08-09 23:22] bterlson commented on #2530
@SaschaNaz gah, thank you. I will correct that presently!

[2017-08-10 00:35] jdalton opened #3505 "Incorrect iteration order of deleted and re-assigned properties."
Using chakracore 1.7.1.0 of chakranode I noticed and interop issue when a unit test in my project failed.

[code]
The example uses `Object.keys` but `for-in` and friends will produce a similar result.

[2017-08-10 07:20] PhoebeHui opened #3507 "Issues found when building Chakra with MSVC + /permissive-"
Building Chakra with MSVC + /permissive- failed with error C4596. Similar issue with https://github.com/Microsoft/ChakraCore/issues/2862

Here is issue:
https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Base/ThreadContext.h#L1784
https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Base/ThreadContext.h#L1793

Failures:
  d:\chakra\src\lib\runtime\Base/ThreadContext.h(1784)

[2017-08-10 09:40] GangadharBommasani opened #3508 "Arithmetic result exceeded 32 bits."
We are trying to upload 5GB file on microsoft edge version Microsoft Edge 38.14393.1066.0 using java script  fromdata.

const formData = new FormData();
formData.append("file", file, file.name);

Please note that we are not using chunk file reading . Directly giving file to browser. Is this issue with javascript or windows operating system?

Same file size is working in Chrome and FireFox browser

[2017-08-10 20:54] caridy opened #3513 "[INTL] Change Intl prototypes to plain objects"
https://github.com/tc39/ecma402/issues/122

[2017-08-10 20:56] caridy commented on #3513
/cc @bterlson

[2017-08-10 20:59] bterlson commented on #3513
@Caridy can you comment on where implementations are on this change?

[2017-08-10 21:00] caridy commented on #3513
V8, SpiderMonkey, Intl.js and JSC (technology preview) are aligned with this change already.

[2017-08-10 22:57] MikeHolman commented on #3505
The spec doesn't mandate any particular ordering here, so either way is correct. Might be worth changing this for interop if it is convenient, but I don't think it's worth going out of our way to mimic V8's ordering, as there are likely a lot of corner cases where they differ.

[2017-08-10 23:02] MikeHolman commented on #3508
This is a question better directed at the Edge team, as FormData is a web API, not a JS API.

You can report issues with Edge here: http://issues.microsoftedge.com

[2017-08-10 23:02] #3508 closed

[2017-08-10 23:05] jdalton commented on #3505
Key order is defined [here](https://tc39.github.io/ecma262/#sec-ordinaryownpropertykeys).
Make take is that if a key is deleted then added, it's being created again so should be in creation order.

[2017-08-10 23:55] #3441 closed

[2017-08-11 00:42] MikeHolman commented on #3505
My mistake, you're absolutely right! I was looking at the wrong part of the spec.

[2017-08-11 01:05] dilijev commented on #3497
Looks like this is fixed in #3503.

[2017-08-11 01:05] #3497 closed

[2017-08-11 18:13] #3064 closed

[2017-08-11 18:13] #3423 closed

[2017-08-11 22:37] LouisLaf commented on #2561
@ravisharma1987, we can't make progress on this without a repro.  Please let us know if you're unable to provide one.  Thanks.

[2017-08-12 07:51] tommyZZM opened #3519 "[macOS | Building] error with 'cstdint' file not found while build for macOS 10.7"
[code]

[2017-08-12 17:10] ljharb opened #3520 "Implement Promise.prototype.finally"
Promise.prototype.finally is stage 3 - time to implement it! :-D

Test262 tests are merged.

Spec is [here](https://tc39.github.io/proposal-promise-finally/).

- https://github.com/tc39/proposal-promise-finally/issues/18

[2017-08-12 20:36] obastemur commented on #3519
This issue comes from libwabt dependenc. It should conditionally use 'tr1/cstdint..'

[2017-08-13 00:17] tommyZZM commented on #3519
setting up the build target to `10.9` is also ok

[2017-08-13 11:00] obastemur commented on #3519
It's okay because you have the SDK, I assume.

[2017-08-14 16:38] Rastaban opened #3521 "warning C4768: __declspec attributes before linkage specification are ignored"
Warning C4768 is an off by default warning in the latest MSVC compiler, which will turned on in the next major compiler release.  This warning is hit once in the ChakraCore project.

D:\Chakra\src\lib\Runtime\Base\ThreadContext.cpp(60): warning C4768: __declspec attributes before linkage specification are ignored

The line:

    _NOINLINE extern "C" void* MarkerForExternalDebugStep()

should be

[2017-08-14 19:21] dilijev commented on #3439
@atulkatti From @bterlson's comment, I think we can close this as it is not a bug. Do you agree?

[2017-08-14 21:32] DZuz14 commented on #3431
Put in a PR for this.

[2017-08-15 03:18] sunlili opened #3530 "Incorrect behavior of Array.prototype.filter()"
Hello,
The following code behaves incorrectly (inconsistent with the standard and other engines) in Chakra due to incorrect realization of HasItem() functions:
[code]

Expected result:
[code]
Chakra 1.7-release result:
[code]

ICT BT group
2017.8.15

[2017-08-15 03:23] gaa-cifasis opened #3531 "Internal Error!! at lib/Common/Exceptions/Throw.cpp"
Hi,

We found an failed assertion in the ChakraCore interpreter (ch) when you run the following test case:

[code]

It was tested in Ubuntu 16.04 using the last git revision (31e7be5ae5d27a81d1d44e6f97353c916c67c394). To reproduce:

[code]

Regards,
Gustavo.

[2017-08-15 06:32] sunlili opened #3532 "Realization of TypedArray's [[DefineOwnProperty]] is inconsistent with other engines"
Hello,
The following code behaves inconsistent with other engines.
[code]

Chakra 1.7-release result:
[code]
spidermonkey result:
[code]
v8 result:
[code]

[2017-08-15 16:10] #424 closed

[2017-08-15 17:47] akroshg commented on #3530
Thanks @sunlili for reporting the issue.
@suwc it seems we are directly calling the DirectGetItem in the FilterHelper. which by-pass calling the has trap.
Best to confirm with HasAnyES5ArrayInPrototypeChain first and take the slower path.

[2017-08-15 17:48] sigatrev commented on #3140
This was resolved by #3169

[2017-08-15 17:48] #3140 closed

[2017-08-15 21:22] kunalspathak commented on #1622
@rajatd  - While you are at it, please verify it for other internal properties as well.

[2017-08-15 22:46] #2808 closed

[2017-08-15 22:51] bterlson commented on #2530
@SaschaNaz @albertogasparin the [uservoice](https://wpdev.uservoice.com/forums/257854-microsoft-edge-developer/suggestions/16665397-detect-unhandled-promise-rejection?tracking_code=4f4e218df62afae7db37fb5be5f4ff1c) for the Edge side of things has been corrected. You can now spend your points there :)

[2017-08-16 03:38] dilijev commented on #3531
Confirmed the bug does not repro on Windows.

Confirmed repro on Linux Debug build from release/1.7:

[code]

[2017-08-16 04:53] dilijev commented on #3532
Seems to have to do with the following spec sections.

* https://tc39.github.io/ecma262/#sec-array.prototype.filter step 5.
  * And repros with other methods which call `ArraySpeciesCreate` as well.
* https://tc39.github.io/ecma262/#sec-arrayspeciescreate step 7.a.
* I believe the throw originates from * https://tc39.github.io/ecma262/#sec-array.prototype.filter step 8.c.iii.1.: `Perform ? CreateD

[2017-08-16 05:51] harishsubramani commented on #2778
@dilijev Is this issue fixed ?

[2017-08-16 07:37] harishsubramani commented on #2778
@kirstenwallace Is this issue fixed ? or did you find any alternative solution for this issue.
Thanks

[2017-08-16 17:04] #3250 closed

[2017-08-16 18:21] #2983 closed

[2017-08-16 18:56] dilijev commented on #2778
No update here yet. Aiming for parity between ICU and WinGlob implementations for #2919, then will investigate other potential bugs.

[2017-08-16 19:37] #3245 closed

[2017-08-16 20:58] Cellule commented on #2977
Won't fix.
Will cleanup as part of #3274

[2017-08-16 20:58] #2977 closed

[2017-08-16 21:10] akroshg commented on #2949
There is no promise required, below code can also reproduce.
[code]
@suwc can you take a look as the ```module``` does not seems to support ```class``` properly.
We are storing the class symbol to scope slot instead of module slot.

[2017-08-16 21:43] akroshg commented on #2949
@willportnoy thanks for taking time and reporting the issue.

[2017-08-16 23:21] #3212 closed

[2017-08-17 00:49] #2049 closed

[2017-08-17 00:49] #2125 closed

[2017-08-17 00:49] #2037 closed

[2017-08-17 07:39] obastemur commented on #3519
Well, updating libwabt made the trick. However, OSX 10.7 is not officially supported and going forward things may end up broken again. Instead of applying fixes here, I would prefer sending a PR to upstream wabt project instead.

Currently this item doesn't have a priority and I'm not sure whether we should keep it open or not.

@tommyZZM how critical is the OSX 10.7 support for you?

[2017-08-17 18:39] mike-kaufman opened #3543 "Errors running native-tests on linux when built with sanitize"
**Repro:**
1.  Build ChakraCore on linux with the following options:
    `./build.sh --cc=/usr/bin/clang --cxx=/usr/bin/clang++ --arch=amd64 --debug --static -j 8 --sanitize=address,undefined,signed-integer-overflow`
1.  `cd test/native-tests`
1.  run tests: `./test_native.sh <full-path-to-ch.exe> Debug`

**Expected:**
Tests to pass w/out error.

**Actual:**
Tests fail with the following:
[code]

[2017-08-18 00:38] jdalton commented on #2983
Thank you ❤️ !

[2017-08-18 21:30] cosinusoidally opened #3551 "xplat issues with detection and use of SSE instructions for SSE versions greater than SSE2"
In my spare time I have been chipping away at https://github.com/Microsoft/ChakraCore/issues/3494 . Whilst doing this I had a look at some of the existing code that is used to selectively use SSE greater than SSE2 instructions at runtime. For example https://github.com/Microsoft/ChakraCore/blob/6a222b7d049ad10b3dde81d5a97f29e7fba7fc00/lib/Backend/Encoder.cpp#L997
[code]
In order to generate a port

[2017-08-18 22:57] obastemur commented on #3551
Clang gives you a compile time 'builtin' detection and builtin crc32 IIRC. We might combine these instead?

[2017-08-19 00:22] cosinusoidally commented on #3551
This seems to work:
[code]
I say "seems to work" since it gets through a large chunk of the test suite (I didn't run the whole test suite since it is getting pretty late here in England, and I should really sleep). It's also hard to verify whether it really is working without staring at a lot of disassembled object code.

I think something like this should also work:
[code]
This compiles ``wrapped

[2017-08-19 02:36] tommyZZM commented on #3519
hi @obastemur i build `node-chakracore`,

because gyp file of node is configure `MACOSX_DEPLOYMENT_TARGET` as `10.7`

https://github.com/nodejs/node-chakracore/blob/master/common.gypi#L415

i m trying to make './configure --xcode working' of node-chakracore

https://github.com/nodejs/node-chakracore/issues/297

[2017-08-19 03:08] kripken opened #3552 "WebAssembly in ch shell?"
After building ChakraCore on Linux, I found there is `ch` which looks like a shell environment (similar to `d8` in V8, `js` in SpiderMonkey, and `jsc` in WebKit). However for the tests I want to run, I need WebAssembly support (I'm running the [wasm fuzzer in binaryen](https://github.com/WebAssembly/binaryen/wiki/Fuzzing)), and that doesn't seem to be present in `ch`?

Also I couldn't find a way t

[2017-08-19 12:46] obastemur commented on #3552
WebAssembly is not fully ready on Linux hence if you compiled ChakraCore in release mode, it won't be enabled by default. Use '--test-build' arg with 'build.sh' script to have it enabled

[2017-08-20 17:09] fatcerberus opened #3558 "CMake target processor error"
Just checked out ChakraCore and attempted to build using MSVC 2017 per the directions in README:

It seemed to build successfully:
[code]

However this error appeared in the Error List window:

Not sure if I can safely ignore that or not.

[2017-08-21 11:50] ScottDuke opened #3559 "Missing headers in getResponseHeader Microsoft EdgeHTML 16.16257"
Not sure if this is the right place for this bug but was testing a client/api on Edge 16.16257 and noticed that when getting the headers from the ajax response using `request.getAllResponseHeaders();` would not return any custom headers.
Was working ok in previous versions.

[Example](http://www.test-cors.org/#?client_method=GET&client_credentials=true&client_headers=x-auth%3A%20test&server_enable

[2017-08-21 19:36] Cellule opened #3561 "Enable WebAssembly on xplat"
- [ ] Remove `exclude_xplat` tag from test folder `WasmSpec` and from individual tests in test folder `wasm`
- [ ] Fix failing tests
- [ ] Enable WebAssembly in release builds (remove `#if defined(_WIN32) || (defined(__clang__) && defined(ENABLE_DEBUG_CONFIG_OPTIONS))` in CommonDefines.h

[2017-08-21 19:39] Cellule commented on #2378
Closing in favor of #3561

[2017-08-21 19:39] #2378 closed

[2017-08-21 21:14] #3507 closed

[2017-08-21 23:56] liminzhu commented on #3559
Since this is most likely an EdgeHTML issue, can you open the same bug on the Edge issue tracker?
 See [instructions](https://github.com/Microsoft/ChakraCore/wiki/External-Issues#edge-issues).

[2017-08-22 00:28] dilijev opened #3563 "test/es6/rlexe.xml: Broken "exclude_" tag"
[code]

Context:

[code]

[2017-08-22 01:27] dilijev commented on #3558
This comes up in CI regularly. Should go away if you try building with CMake again. Might also have come from a different process than what actually produced your binaries since you did seem to build correctly.

@digitalinfinity do you have any context on why that error might be reported from VS 2017?

[2017-08-22 09:35] bpavesi opened #3567 "clang: error: unable to execute command: Killed"
Hi all, i'm unable to build ChakraCore on Ubuntu 16.04.3 64bit due to this error. Any solution?

[100%] Linking CXX shared library libChakraCore.so
clang: error: unable to execute command: Killed
clang: error: linker command failed due to signal (use -v to see invocation)
bin/ChakraCore/CMakeFiles/ChakraCore.dir/build.make:147: recipe for target 'bin/ChakraCore/libChakraCore.so' failed
make[2]: **

[2017-08-22 11:41] obastemur commented on #3567
You need ~2.5Gb system memory to compile ChakraCore in Debug mode. Otherwise LD fails with out of memory. If you can't increase the system memory, you may use swap files too. I use the second option for raspberry Pi.

You may compile ChakraCore in Release / Test mode with lower amount of system memory.

Closing for now. If you can't fix the problem by increasing the memory. Feel free to open it ba

[2017-08-22 11:41] #3567 closed

[2017-08-22 12:40] ScottDuke commented on #3559
@liminzhu ok thanks, I've created the a bug on the Edge issue tracker.

[2017-08-22 14:09] bpavesi commented on #3567
I increased the momory and now it works!
Tnx

[2017-08-22 15:08] mike-kaufman commented on #3434
Fixed with https://github.com/Microsoft/ChakraCore/pull/3549

[2017-08-22 15:08] #3434 closed

[2017-08-22 15:10] mike-kaufman commented on #3434
Fixed in coreclr with PR https://github.com/dotnet/coreclr/pull/13504.

[2017-08-22 16:54] marktjsonar opened #3568 "JSRT API to access javascript relational comparison function"
It would be tremendously convenient if there were a JSRT API that could compare the magnitude of two JsValueRef's, as per the the ecmascript [abstract relational comparison algorithm](https://tc39.github.io/ecma262/#sec-abstract-relational-comparison).

[2017-08-23 02:07] liminzhu commented on #3568
Thanks for the feature request @markt- .

This seems generally useful. Any proposal/suggestion on the shape of the API? Given NaN can be a valid output, I imagine returning a JsValueRef rather than a bool, which can be very annoying to deal with.

[2017-08-23 02:14] noonekub opened #3572 "chakracore"

[2017-08-23 06:00] fatcerberus opened #3575 "How to access well-known symbols from C?"
I'm trying to create a native object and set its `[Symbol.iterator]` so that the object can be enumerated using `for...of`, but all I can find in the API is `JsCreateSymbol()` which creates a new, unique symbol.

[2017-08-23 10:01] #3572 closed

[2017-08-23 18:00] digitalinfinity commented on #3575
Can you use `JsGetPropertyIdFromSymbol`? @MSLaguana did something similar recently in https://github.com/nodejs/node-chakracore/pull/375/ - maybe he can confirm?

[2017-08-23 18:03] fatcerberus commented on #3575
`JsGetPropertyIdFromSymbol()` will work, but I need a `JsValueRef` for `Symbol.iterator` first.  I can only create unique symbols with the API, it seems like.

[2017-08-23 18:57] MSLaguana commented on #3575
It's a little convoluted, but you can fetch the global object, then from that get the `Symbol` object, then from that get the value of `Symbol.iterator`, and then `JsGetPropertyIdFromSymbol` from that, something like

[code]

It might be nice to expose the symbols mentioned in the spec through a nicer interface in the JSRT though.

[2017-08-23 19:27] digitalinfinity commented on #3575
@curtisman @liminzhu thoughts on whether this merits a new API? Given the multiple steps involved here, I would tend to agree with @MSLaguana that having something like `JsGetWellKnownSymbol` could be useful.

[2017-08-23 19:41] fatcerberus commented on #3575
@MSLaguana's solution also won't work correctly if a script assigns something else to `Symbol.iterator` for some reason.  That's not an issue in my case since this is done on initialization with a virgin context, but in general it might be a problem.

[2017-08-23 20:04] MSLaguana commented on #3575
I don't think that's the case for the standard symbols: `Symbol.iterator` is a non-writable non-configurable (non-enumerable, but that's less relevant) property. However, it is true that `global.Symbol` is not protected in the same way, so someone could replace `Symbol` wholesale.

[2017-08-23 20:05] liminzhu commented on #3575
@digitalinfinity honestly I don't think @MSLaguana 's solution is too complicated and user can easily define a helper on top of what we already have. I'm fine with creating a new API, but I'm more towards leaving it given the current solution and that the API interface tends to focus on offering small building blocks, unless the new API can get us some perf gains on common scenarios.

Thought well

[2017-08-23 20:27] liminzhu commented on #3559
@ScottDuke no problem. Closing the issue.

[2017-08-23 20:27] #3559 closed

[2017-08-23 20:54] curtisman commented on #3575
May be a more generalize way to get "built-ins" might be the way to go?  I think a lot of integrators would like to get the default "built-ins" before the script mess with it on the global.

[2017-08-23 20:57] markt- commented on #3568
Indeed, I would expect a JsValueRef as well.   Testing for boolean value true or false would generally involve calling a JsGetValueType() call on the result first to make sure it isn't undefined.

The API, I would imagine, would have a function that takes two JsValueRef's, a boolean indicating whether to evaluate the left or right side first, and a pointer to the JsValueRef to put the result in.

[2017-08-23 21:55] liminzhu commented on #3575
Speaking about code complexity, I think a lot of that stems from having to go through the propertyId middleman when dealing with name/symbol properties. I almost always define the below helper when playing with jsrt, which is a bit unfortunate. But with that (or something similar for symbols), code can be simplified and shortened.

[code]

I think of built-ins are just a special case where you get

[2017-08-23 22:29] liminzhu commented on #3568
// + spec guru @bterlson and @curtisman for feedback

Thanks for the suggestion! I got some more time to look into the spec. Instead of the abstract relational comparison algorithm (ARCA), would an API that mirrors the [< operator](http://www.ecma-international.org/ecma-262/6.0/#sec-relational-operators-runtime-semantics-evaluation) (alway returns a boolean) be more useful and intuitive? From what

[2017-08-23 23:03] markt- commented on #3568
When I first saw your comment, I was concerned about the possibility of comparing two different non-primitive values, where both <= and >= comparisons could return true, but ==, <, and > would all return false, but it seems to be true in all cases where the comparison will not throw an exception that regardless of what < may evaluate to, >= is always the opposite and regardless of what <= is, > is

[2017-08-23 23:05] bterlson commented on #3568
@liminzhu your proposed API is good I think. What it loses from the ARC algorithm is the signal that any of the parameters are NaN. This doesn't seem too important to me.

[2017-08-24 05:16] fatcerberus commented on #3575
Myself included. 😄

[2017-08-24 05:21] sanyamc opened #3579 "Intl: Date.toLocaleString on date/year with >10000 returns an error "Invalid procedure call or argument""
Repro:
var a = new Date(10000,5,1)
a.toLocaleString()

Observed:
Invalid procedure call or argument
Works in chrome; errors out in Edge/IE11.

[2017-08-24 10:01] guybedford commented on #3492
@suwc thanks for this quick response and resolution. Is there anyway to get an update on the internal bug? Will keep testing here otherwise.

[2017-08-24 13:48] obastemur commented on #3579
@sanyamc Thanks for reporting.

This affects Windows only.

[2017-08-24 21:12] suwc commented on #3492
@guybedford, thanks for reporting and follow-up.
As of two weeks agao, internal bug 13132989 has been resolved as fixed and should be available in future Windows Insider flights.

[2017-08-25 08:30] guybedford commented on #3492
That's excellent to hear, thanks @suwc!

[2017-08-25 22:14] dilijev commented on #319
/cc @aneeshdk

[2017-08-25 23:29] fatcerberus opened #3589 "JsGetAndClearException() returns bad pointer"
I had an issue with invalid exceptions getting thrown, so I ran some tests in the debugger.  It seems that in certain cases:
* `JsGetAndClearException()` returns `JsNoError`.
* Before calling, JsValueRef value is `0xcccccccc` (uninitialized stack variable)
* After calling, JsValueRef is `0xcdcdcdcd`, indicating freed memory!

ChakraCore version is 1.7.1.

[2017-08-26 01:21] fatcerberus commented on #3589
Not a ChakraCore bug; turns out I had called `JsSetException()` earlier with a bad ref pointer and `JsGetAndClearException()` was just giving the same bad value back to me. 😞

[2017-08-26 01:21] #3589 closed

[2017-08-26 01:25] #1622 closed

[2017-08-26 14:04] fatcerberus opened #3592 "Add API to store private properties in any object"
It's possible right now to create an "External Object" which stores a C pointer to internal native data.  However, what's *not* possible as far as I can see is being able to store arbitrary properties on an object which refer to JS values but aren't accessible from JS.  For example in Duktape it's possible to:

[code]

That can be done with any object, whereas in Chakra you currently have to creat

[2017-08-27 06:58] obastemur commented on #3592
I'm currently experimenting on external data support for all the object types. Upcoming days will show...

[2017-08-27 09:33] jcoffland opened #3593 "Does Microsoft contribute to external Open-Source projects?"
I ask because I have [an Open-Source project](http://camotics.org/) that has a significant, although niche, following.  I've built [a library that makes it easy to use both libv8 and ChakraCore](https://github.com/CauldronDevelopmentLLC/cbang/tree/master/src/cbang/js).  However, I cannot get ChakraCore to link properly on Windows 10 so I've had to abandoned ChakraCore support.  We are using JavaSc

[2017-08-27 12:27] flingenfabriken commented on #3367
I cannot even find a reference to it actually being used in ChakraCore other than there being a getter and a setter.

[2017-08-28 16:45] obastemur opened #3595 "Intl: Number.tolocalestring output difference among platforms."
[code]

- Investigate the difference (per sample and other potential FP numbers)

[2017-08-28 18:03] dilijev opened #3597 "[1.7] daily_slow_x64_test failures in WASM tests"
[code]

Changes resulting in first occurrence of failure:
https://ci2.dot.net/job/Microsoft_ChakraCore/job/release_1.7/job/daily_slow_x64_test/37/changes

Started failing on 8/21

[2017-08-28 19:13] Cellule commented on #3597
Bug caused by change in the Wasm spec test harness.
Fix submitted at https://github.com/WebAssembly/spec/pull/552
Will apply the fix in our copy now to unblock our tests

[2017-08-28 20:56] #3597 closed

[2017-08-28 23:42] fatcerberus opened #3599 "JsGetProperty() doesn't work with object-coercibles"
In JavaScript, it's legal to do:
[code]

This works because numbers are object coercible even though they are not real objects.  However, doing equivalent property reads with `JsGetProperty()` will return `JsErrorArgumentNotObject` without modifying the ref pointer passed in.  This actually caused a segfault for me because I assumed GetProperty would work for all object-coercibles but it turns out

[2017-08-29 00:23] digitalinfinity commented on #3593
Hi @jcoffland - Sorry to hear you had issues linking with ChakraCore on Windows 10- can you link to an issue on your repo tracking this? Folks here can certainly give suggestions or hints (or maybe even a PR) to help you get past your problem- however, if you're asking us to maintain the port ourselves, I'm sorry, I don't think we will be able to do that. Thanks again for trying ChakraCore out, an

[2017-08-29 00:34] jcoffland commented on #3593
@digitalinfinity, Thank you for the response.  I am asking for a more substantial commitment.  I know Microsoft is trying to expand its Open-Source presence.  Aren't there company programs where Microsoft gets more directly involved in particular Open-Source projects?

[2017-08-29 00:38] digitalinfinity commented on #3593
Hi @jcoffland - can you be more specific? What exactly do you envision in such a commitment?

[2017-08-29 00:49] jcoffland commented on #3593
Assuming there is interest, I would like to see direct participation in the development of the project.  Our [CNC control language](http://tplang.org/), which replaces the archaic [GCode](http://wikipedia.org/wiki/GCode) used by most CNC machines and 3D printers, would be of particular interest to ChakraCore.  It is a system for producing tool paths and performing [CAM](https://en.wikipedia.org/wi

[2017-08-29 04:07] aneeshdk opened #3600 "Use of formals defined to the right should throw use before declaration error"
function foo(a = (() => b)(), b) {
}
foo();

Should throw use before declaration error.

[2017-08-29 04:13] dilijev commented on #3579
Definitely related to Intl (WinGlob). On Windows (with WinGlob implementation of Intl and with Intl enabled), we see the `TypeError`, with Intl disabled we fall back on the non-Intl implementation of toLocaleString (see Intl spec https://tc39.github.io/ecma402/#sup-date.prototype.tolocalestring and Ecma-262 spec https://tc39.github.io/ecma262/#sec-date.prototype.tolocalestring)

[code]

[2017-08-29 04:18] dilijev commented on #3595
This is known. It seems we use the user's settings from the environment to determine how to format. Unclear whether this should be considered a bug or reasonable behavior given the design of reading the user's settings for formatting in the default locale.

[2017-08-29 05:05] fatcerberus opened #3601 "Finalizers on shutdown catch-22"
I would like all my native finalizers to run on shutdown, to free any non-memory resources they may be holding onto.  However my finalizers rely on being able to call back into JSRT to get the external data pointer from the object being finalized, and this fails with JsErrorNoCurrentContext as I've already set the context to JS_INVALID_REFERENCE.

This is a catch-22: `JsDisposeRuntime()` will fail

[2017-08-29 06:18] fatcerberus opened #3602 "JsParseModuleSource() gives weird syntax errors"
I'm getting spurious syntax errors for completely legal code which prevents me from testing ES6 modules.  I even get a syntax error for a zero-length script(!)

Am I doing something wrong?  My module evaluation function looks like this:
[code]

[2017-08-29 06:40] fatcerberus commented on #3602
This is with ChakraCore 1.7.1, for what it's worth.

[2017-08-29 06:47] obastemur commented on #3599
I'm +1 on making this change. We might update the ref with 'undefined' similar to JS land.

Objections?

[2017-08-29 08:42] DaramG opened #3603 "Null pointer dereference when Array.prototype.concat.call"
This is a PoC code.
[code]

[2017-08-29 13:39] fatcerberus commented on #3602
Just tried building ChakraCore from master, same issue.

[2017-08-29 14:15] obastemur commented on #3595
Do we have an open issue?

[2017-08-29 15:36] fatcerberus commented on #3602
Adding a module fetch callback seems to have fixed the syntax errors, but now I get a segfault after all the dependencies have been loaded (before the original `JsParseModuleSource()` call returns).

[2017-08-29 18:44] liminzhu commented on #3599
It does sound reasonable. We do this pretty much for all property-related APIs and APIs that mirror Object.xxx in JS (see all of them by searching `VALIDATE_INCOMING_OBJECT` in [jsrt.cpp](https://github.com/Microsoft/ChakraCore/blob/94db02055fb591e93d93bdfcac1628d9311b5bee/lib/Jsrt/Jsrt.cpp)). I wonder what our reason was when originally designing the APIs (maybe we were trying to be stricter in t

[2017-08-29 21:38] liminzhu commented on #3601
The [JsFinalizeCallback](https://github.com/Microsoft/ChakraCore/wiki/JsFinalizeCallback) which is passed in for `JsCreateExternalObject` has a in-param for the external data pointer. Something like this would work.

[code]

[2017-08-29 21:49] liminzhu commented on #3602
Yep, at least missing fetch and notify callbacks. See https://github.com/Microsoft/ChakraCore/commit/f1057e5bea414179ec13f49d0bf4702066d07a18 for how we think of the module workflow and how we implement support within ch.

Also apologies that we never really finalized the module APIs (was kind of waiting on node to make a decision on its ESM story, maybe now is the time to revisit), so we may chan

[2017-08-29 21:53] fatcerberus commented on #3602
I tried adding the fetch and notify callbacks and it successfully loaded all the modules but then the top-level module parse crashed with a null pointer access (childModule was NULL I think it was).  What else am I missing?

[2017-08-29 22:07] liminzhu commented on #3602
Can you share the relevant code and the error you're getting?

[2017-08-29 22:20] liminzhu commented on #3367
We used it to implement module support in our ch host https://github.com/Microsoft/ChakraCore/blob/master/bin/ch/WScriptJsrt.cpp#L312.

[2017-08-29 22:50] fatcerberus commented on #3602
Sure thing.

Top-level module load:
https://github.com/fatcerberus/minisphere/blob/chakra-js/src/shared/jsal.c#L328-L355
Fetch callback:
https://github.com/fatcerberus/minisphere/blob/chakra-js/src/shared/jsal.c#L1753-L1799
Notify callback:
https://github.com/fatcerberus/minisphere/blob/chakra-js/src/shared/jsal.c#L1831-L1837

I'm seeing a segfault in ChakraCore here, `childModule` is NULL:
https:

[2017-08-29 23:04] fatcerberus commented on #3601
Thanks.  In my abstraction I currently use the same function signature for both native calls and finalizers but it'd be easy enough to change it so the pointer is passed into the finalizer directly.  I don't have any need to access the object being finalized other than for its host pointer, so this works out perfectly.

Thanks for the tip! 😺

[2017-08-29 23:04] #3601 closed

[2017-08-29 23:08] xiaoyinl opened #3612 "VS2017 internal error occurred when building ChakraCore"
After I updated Visual Studio 2017 to version 15.3.3 today, it can't build ChakraCore (master branch, x86 release version). The error is: **fatal error C1001: An internal error has occurred in the compiler.** and **LINK : fatal error LNK1000: Internal error during IMAGE::BuildImage**. The x86 debug and x64 release versions can be built successfully. I am using Visual Studio 2017 Community Edition

[2017-08-29 23:54] akroshg commented on #2713
closing this issue

[2017-08-29 23:54] #2713 closed

[2017-08-29 23:57] digitalinfinity commented on #3593
Thanks @jcoffland. Microsoft does not have a general policy around contributing to open source projects. We do contribute to many different open source projects as they relate to the needs of our product teams. In this case, while we're happy to help you with specific issues you may have with ChakraCore, I don't see us directly participating in the development of your project. This is not a statem

[2017-08-30 00:26] jcoffland commented on #3593
Ok, thanks.  Keep us in mind if you hear anything internally about Open-Source and Maker community outreach.  Per your earlier suggestion, I've created an issue in our repo for the ChakraCore problem I'm having in Windows 10.  https://github.com/CauldronDevelopmentLLC/CAMotics/issues/248  A PR would be appreciated.

[2017-08-30 00:43] liminzhu commented on #3602
From a glance it could be that the module record was GC'ed. Would be a good idea anyways to `JsAddRef` on any new module records created. Might also want to have some mechanism in place to store parsed module specifiers s.t. modules having multiple parents won't need to be loaded/parsed/evaluated again. [This](https://github.com/fatcerberus/minisphere/blob/chakra-js/src/shared/jsal.c#L351) probabl

[2017-08-30 00:47] fatcerberus commented on #3602
I wasn't aware I could do `JsAddRef()` on module records, since they are typedef'd directly to `void*` rather than `JsRef`.  Thanks for the tip, I'll see if that helps.

[2017-08-30 00:51] liminzhu commented on #3602
+@suwc who is a lot more familiar with the codebase.

[2017-08-30 01:03] restarian opened #3614 "Object keys should not reorder if they are numerical."
Object qualifiers are linked, and iterated upon in ECMA. Object key order should never change even when key iterating code is idempotent sense the most efficient code design can only be written knowing the iteration ahead of time.
Currently, in other ecma implementations, Object keys are/can be reordered dependent on if it is numerical. Index value re-ordering is one of those annoying functionalit

[2017-08-30 03:33] fatcerberus commented on #3602
Is it absolutely *required* to load modules asynchronously?  In my case I'm just loading and parsing them immediately and I'm wondering if the recursive invocations of `JsParseModuleSource()` are what's causing the issue.  The function might not be reentrant?

If that's the case: I'm loading modules from disk, it seems an unnecessary burden to have to do async loading.  The root module can't do an

[2017-08-30 04:27] fatcerberus commented on #3602
Got it working; I had to change my fetch module callback to queue a parse job and then pump the queue in a loop until all dependencies are parsed.  `JsParseModuleSource()` apparently doesn't like being called recursively.

[2017-08-30 04:35] fatcerberus opened #3616 "Get at module export table in native code"
There doesn't seem to be a way to get at the exports of a module in native code.  I'm trying to implement a system where my engine calls an `export default` function in the root module, but I haven't found a way of accessing the exports.  `JsModuleEvaluation(moduleRecord, &result);` usually just returns `undefined` for the result.

[2017-08-30 04:56] fatcerberus commented on #3616
I note also that this limitation prevents me from having `require()` interoperate with ES modules.

[2017-08-30 06:41] fatcerberus opened #3617 "Top-level module with no imports produces SyntaxError"
The following module parses successfully:
[code]

However, if I remove or comment out the line:
[code]

Loading this as a root module now produces a SyntaxError with no message (note: error reporting for module parsing clearly needs work).

There seems to be no such requirement for child modules -- they can have no imports at all and parse just fine.  But the root module seems to be required to ha

[2017-08-30 14:29] fatcerberus opened #3618 "No filename information for errors in ES modules"
A runtime error in an ES module produces a stack trace like:

[code]

The frames above that have filename information were in scripts loaded using `require()`.  ES module frames like the top one `Showcase.prototype.on_update` do not.

[2017-08-30 17:28] fatcerberus commented on #3617
I worked around this by evaluating a fake root module that imports the real one.  That said, I couldn't find anything in the ECMAScript specification that says the root module must have at least one import, so I'm thinking this is a bug.

[2017-08-30 20:32] digitalinfinity commented on #3593
Will do! Thanks for opening the issue in your repo, @jcoffland - I'll close the ChakraCore issue for now.

[2017-08-30 20:32] #3593 closed

[2017-08-30 20:55] akroshg commented on #3603
thanks @DaramG for reporting this. I can verify there is indeed a null pointer dereference when we convert to big index in the concat code path.

[2017-08-31 13:09] #3602 closed

[2017-08-31 16:45] dilijev commented on #3595
There was an email thread but since it wasn't clear there was an actual issue besides a need to investigate, this is the first issue.

[2017-08-31 16:55] dilijev commented on #3614
There are implementation reasons (major runtime efficiency impact) for not requiring an iteration order, especially because objects with many properties can be implemented as hash maps (which don't have a consistent ordering as they grow).

(For the spec change request, you might want to start a discussion on https://esdiscuss.org or #tc39 on freenode, but I imagine TC39, which includes implemente

[2017-08-31 21:20] fatcerberus opened #3622 "JsStringToPointer() returns wchar_t but always encodes as UTF-16"
`JsStringToPointer` gets a pointer to a UTF-16 encoded string.  The pointer is specified in the function signature as `wchar_t*`, however `sizeof(wchar_t)` is 4 bytes on Unix platforms (Linux, macOS), in contrast to Windows where it's 2 bytes; this caused a segmentation fault on my end when I tried to walk the string through a `wchar_t` pointer.

If the function returns UTF-16 on all platforms, th

[2017-08-31 21:52] jianchun commented on #3622
That API is Windows only for backward compat. It is unavailable on Unix platforms (unavailable from ChakraCore.h). It is replaced with newer String APIs: JsCopyString/JsCopyStringUtf16.

[2017-08-31 21:54] fatcerberus commented on #3622
That explains the implicit declaration warnings from GCC.  I don't remember seeing that fact documented anywhere though?

[2017-08-31 21:59] jianchun commented on #3622
We had some effort but might not easily seen: https://github.com/Microsoft/ChakraCore/wiki/JsStringToPointer

[2017-08-31 22:23] fatcerberus commented on #3622
It's kind of inconvenient that I won't be able to get a pointer tied to the lifetime of the original string anymore, but I can easily adapt my code to use `JsCopyString()`.  That function is documented as experimental; does it exist in 1.7.1?

[2017-08-31 23:05] fatcerberus commented on #3622
I'll close since nothing needs to be fixed (other than my own code :)

[2017-08-31 23:05] #3622 closed

[2017-08-31 23:17] digitalinfinity commented on #3622
Yup, JsCopyString is available in 1.7.1 (IIRC it was introduced in 1.5 but my memory is hazy 😄)

[2017-08-31 23:31] fatcerberus opened #3623 "API to make a PropertyId directly from a JavaScript string"
Currently to create a property ID from a string passed in from JS, I have to do:
[code]

`JsGetPropertyIdFromSymbol()` takes a JsValueRef as argument, but that only works for symbols.

[2017-09-01 00:27] liminzhu commented on #3623
Thanks for the feedback @fatcerberus . I am curious why you're creating propertyId from JS strings? Usually hosts know exactly what property they look for and create propertyId from a native string.

[2017-09-01 01:09] liminzhu commented on #3616
There isn't a way to do that today.

The problem is ESMs have their own module scope and the things within should not be accessible from the outside, e.g. from the global scope (one of the problems ESM tries to solve is global namespace pollution). So giving the host a handle on the module exports can introduce some pretty weird behavior.

[2017-09-01 01:12] fatcerberus commented on #3623
My use case is admittedly off the beaten path.  My application, miniSphere, a JavaScript game engine, was originally based on Duktape.  Duktape has a stack-based API like Lua, and in order to avoid rewriting The entire engine when migrating to Chakra, I recreated the Duktape API.

In particular, my `jsal_get_prop()` function involves pushing a string onto the stack specifying the property to read.

[2017-09-01 03:27] fatcerberus commented on #3616
I'm in the process of migrating my [miniSphere](https://github.com/fatcerberus/minisphere) game engine from Duktape to ChakraCore.  Natively, Duktape only fully supports ES5 with a very limited subset of ES6.   Because I broadly support ES6 including modules, Babel was an integral part of my toolchain for some time.  Unfortunately, Babel transpiles `import`s to `require`s, and this plays havoc now

[2017-09-01 03:36] fatcerberus commented on #3616
As far as natively module-based codebases go, without regard for `require()`: When I was using Babel I was able to have a "main class" exported from the root module that the engine could call on startup, similar to how C# calls `Program.Main`.  Like so:

[code]

With Babel that worked because the module was translated to a CommonJS module, where the class is readily available through the return va

[2017-09-01 11:34] stefanseeger opened #3627 "Date shift on daylight saving in Brasilia UTC-3 with date.toString()"
Hello, on Oct 15, 2017 in Brasilia a daylight saving hour is applied.

**GIVEN**: the Maschine is set to UTC-3 Brasilian timezone

**WHEN** executing Javascript:
`new Date ("Oct 15, 2017 12:00:00 AM").toString()`

**THEN**: IE11 is falsely returning:
`"Sat Oct 14 23:00:00 UTC-0300 2017"`

**EXPECTED** is:
`"Sun Oct 15 00:00:00 UTC-0300 2017"` or
`"Sun Oct 15 00:00:00 UTC-0200 2017"` depending on w

[2017-09-01 14:53] fatcerberus opened #3628 "API to trigger immediate breakpoint?"
I was looking through the debugging API and couldn't find a function to trigger an immediate break.  My next thought was to use `JsDiagEvaluate()` to inject a `debugger` statement, but it can only be used while already at a breakpoint.

[2017-09-01 16:32] digitalinfinity commented on #3628
Does `JsDiagRequestAsyncBreak` do what you want? It should ask the VM to break when the next JS statement gets executed which sounds close to what you want?

cc @agarwal-sandeep @kfarnung

[2017-09-01 16:32] digitalinfinity commented on #3628
Although I believe that you would have to call `JsDiagStartDebugging` first

[2017-09-01 16:41] fatcerberus commented on #3628
Interesting, somehow I missed that one.  Is that thread-safe, i.e. can I call it on a different thread than the one the runtime is on?  I would like to implement a setup where if the user presses F12 at any time it immediately breaks into the debugger, but for that to work reliably I would have to check for the keypress off-thread.

[2017-09-01 17:13] kunalspathak opened #3629 "Object constructor calls are slow"
There was a discussion going on in https://github.com/webpack/webpack/issues/5600 that wraps all references into `Object ()` which was slow. v8 recently fixed it and I piggy-backed the test case from [here](http://benediktmeurer.de/2017/08/31/object-constructor-calls-in-webpack-bundles/) that was used to demonstrate v8's behavior and verified for `chakracore` and the results are similar. We are sl

[2017-09-01 17:30] sebastienfi opened #3630 "Number() casting precision bug"
If you run in the console the following command, you will get an incorrect result in Edge.

[code]

The expected result is
[code]

But Chakra's out is
[code]
On the left side, Chrome console output, right side, Edge's.
![image](https://user-images.githubusercontent.com/5808108/29980886-edc075e0-8f4b-11e7-8268-590ce7dc9452.png)

Please advise.

Ref: https://github.com/gatsbyjs/gatsby/issues/1704

[2017-09-01 17:41] fatcerberus commented on #3618
This also affects the debugging API - i.e. `JsDiagGetScripts()` returns an empty string for the filename of ES modules.

[2017-09-01 18:23] agarwal-sandeep commented on #3628
@fatcerberus JsDiagRequestAsyncBreak can be called from another thread. Node-chakracore calls it from inspector [thread](https://github.com/nodejs/node-chakracore/blob/f839c0b54642cd8698ac7da1c8d961cb6f5d34c8/deps/chakrashim/src/jsrtinspector.cc#L184) to process messages from debugger frontend but the runtime on which JsDiagRequestAsyncBreak is called should already be in debug mode otherwise it w

[2017-09-01 18:26] fatcerberus commented on #3628
Will putting the runtime in debugging mode from the start slow down execution?

[2017-09-01 18:33] agarwal-sandeep commented on #3628
It will have some performance impact as few optimizations will be turned off when running in debug mode and will vary based on how much time is spend in script and host calls.

[2017-09-01 18:39] digitalinfinity commented on #3618
@fatcerberus thanks for reporting!

I can reproduce this in `ch` but I'm curious, how are you using ES modules in your scenario? The problem seems to be that JsParseModuleSource doesn't take in a `url` since it's meant to have arbitrary strings parsed in as a URL. Interestingly `JsExperimentalApiRunModule` does take a `sourceUrl` parameter that should get reflected correctly but I think that API i

[2017-09-01 18:40] fatcerberus commented on #3628
Thank you, this will come in handy. :)

Closing as question is answered.

[2017-09-01 18:40] #3628 closed

[2017-09-01 18:45] fatcerberus commented on #3618
Here's my module loader:
https://github.com/fatcerberus/minisphere/blob/ec269e213decde78a5d9a548336d643e0fddbd28/src/shared/jsal.c#L396-L444

And my fetch callback:
https://github.com/fatcerberus/minisphere/blob/ec269e213decde78a5d9a548336d643e0fddbd28/src/shared/jsal.c#L1818-L1868

[2017-09-01 19:17] digitalinfinity commented on #3630
Thanks for reporting- I can reproduce this in ch

[2017-09-01 19:32] fatcerberus commented on #3618
My application is a JavaScript game engine, miniSphere:
https://github.com/fatcerberus/minisphere

My engine was based on Duktape, I'm in the process of migrating to ChakraCore.  ES modules are the preferred medium for writing Sphere code, although I fully support `require()` and traditional JS as well.

Previously I was using Babel in order to support ESM but I'd like to take advantage of Chakra'

[2017-09-01 19:33] obastemur commented on #3629
callViaObject looks seriously slow.  However not sure its popularity. Do you have v8 numbers?

[2017-09-01 19:34] kunalspathak commented on #3629
Yes. Check the blog in the description of this issue.

[2017-09-01 20:30] xiaoyinl opened #3631 "Out of memory error when running ch in WSL"
I was trying to build and run ChakraCore on Windows Subsystem for Linux. The code is from the master branch (2349c5f), built with `./build.sh --debug`. It's built successfully, but when I run `./ch <any js file>`, it immediately aborts with an error "Out of Memory". The call stack shows the problem is in function [X64WriteBarrierCardTableManager::Initialize()](https://github.com/Microsoft/ChakraCo

[2017-09-01 22:27] jianchun commented on #3631
This is https://github.com/Microsoft/BashOnWindows/issues/597

[2017-09-01 22:45] xiaoyinl commented on #3631
Thank you @jianchun! I will try the latest insider preview.

[2017-09-01 22:45] #3631 closed

[2017-09-01 22:46] liminzhu commented on #3618
@digitalinfinity I didn't design the module API, but if I have to guess sourceUrl may be unnecessary in `JsParseModuleSource`. We take in a specifier when initializing the module record with `JsInitializeModuleRecord`, so that info should be somewhere along the module record. @suwc do you know?

[2017-09-01 22:49] LouisLaf commented on #3629
I tried playing with his code a bit:
Original:
                       | Edge | Chrome
callDirect        | 716   | 546
callViaObject  | 2156 | 1152
callViaCall       | 196   | 579
callViaIdentity | 302  | 521

The reason for our poor callDirect score is that warmup wasn’t sufficient for us.  Running the warmup twice, we get:

                       | Edge | Chrome
callDirect        | 198   | 545
ca

[2017-09-01 23:38] liminzhu commented on #3623
Thanks for sharing @fatcerberus . I think this is an API we could consider. Another use case can be when someone wants to iterate an object's properties natively and calls `JsGetOwnPropertyNames`, which returns a JsValueRef that contains an array of js strings. However, as you pointed out, there's a fairly easy workaround helper you can write to achieve the same goal, so I doubt this is something

[2017-09-02 00:11] jianchun commented on #3531
https://github.com/Microsoft/ChakraCore/blob/2198835e76a83f4bd563e9a5f5a3832874a04ac3/lib/Runtime/Library/JavascriptString.cpp#L3349
[code]

The 2nd call to `PlatformAgnostic::UnicodeText::ChangeStringLinguisticCase` is passing `str, count` where it should pass `str, strLength`. Because of that the call is failing with insufficient buffer size.

@dilijev

[2017-09-02 00:26] fatcerberus commented on #3623
Fair enough.  The main reason using the helper bothered me is that I'm copying a string seemingly unnecessarily when the JS engine could easily reuse the one it already has in its string table.  Admittedly I don't know what really goes on under the hood when creating a PropertyId though. :)

In reality though, we're talking about very short strings on average so the overhead of copying a string is

[2017-09-02 00:53] fatcerberus commented on #3599
Thinking about this some more, the current behavior makes sense in that there are no side effects by default, which is ideal when reading properties during debug processing.  Although there *could* still be side effects if the target object is a Proxy object...

[2017-09-02 01:19] liminzhu commented on #3623
Yep this is essentially what I'm thinking when I say perf gain. If there's a scenario where the behavior you mentioned happens too often and/or simply costs too much, then it adds more weight to make a change now.

[2017-09-02 10:49] sabrehagen commented on #3406
If somebody can point me to the relevant location, I'm happy to take a look.

[2017-09-02 16:14] bmeurer commented on #3629
Awesome.

Note however that the polymorphic call site inside `test` is there by design to make sure we measure the right thing, i.e. the cost of the actual functions under test and not our ability to inline everything into the driver and then hoist checks out of the loop.

[2017-09-02 18:49] fatcerberus commented on #3251
I don't understand how the example is a TDZ violation?  Is the module supposed to be importing itself?

[2017-09-03 18:40] xiaoyinl commented on #2751
@littledan [Section 20.1.3.6](https://tc39.github.io/ecma262/#sec-number.prototype.tostring) says if the radix is not 10, "the precise algorithm is implementation-dependent", but it should be a generalization of 7.1.12.1. I wonder how it's generalized. For example, it seems v8 and SpiderMonkey never use exponential notation when the radix isn't 10, even though the base 10 exponent is larger than 2

[2017-09-03 22:59] fatcerberus opened #3636 "Debugger API documentation"
Is there any centralized place where I can find documentation for the JSON-based debug API?  Some of the JSON is documented in ChakraDebug.h but not all--for example there's no documentation for the JSON object that gets passed to the event callback.

[2017-09-04 02:11] liminzhu commented on #3616
+ @digitalinfinity

This is very interesting. For us we need to think about how to implement ESM/CJS interop in NodeChakraCore so there will be some changes that can solve the problem you described.

[2017-09-04 02:41] fatcerberus commented on #3599
Update on the above: I actually ran into an issue while testing out the debug API where calling JsConvertToObject() caused JS execution to resume unexpectedly.  So I rescind my feature request, the current behavior makes more sense. :)

[2017-09-04 02:41] #3599 closed

[2017-09-04 02:43] fatcerberus commented on #3618
I would like to fix this, but the Chakra codebase is multilayered and huge, I wouldn't even know where to start.

[2017-09-04 02:49] fatcerberus commented on #3614
I got the impression the argument *wasn't* about requiring an iteration order, but rather arguing *against* JS sorting integer keys in ascending order (which is indeed the case, per spec).  I think he wants them treated the same as other properties?

[2017-09-04 09:13] pallammadhukar opened #3637 "Debug Javascript using visual studio."
Hi Team,

We have embedded chakracore in C# WPF application. and We wanted to debug the javascript using any tool. Please help us.

Thanks,

[2017-09-04 14:14] fatcerberus opened #3638 "Assert failure while parsing child module"
I tried using a debug build of ChakraCore to try to diagnose some crashes I've been seeing and found out that ChakraCore fails an assert during module parsing.  Upon calling `JsParseModuleSource()` for the first child module (the root module parses without issue), I get an assert failure here:
https://github.com/Microsoft/ChakraCore/blob/v1.7.1/lib/Runtime/Language/SourceTextModuleRecord.cpp#L698

[2017-09-04 15:07] fatcerberus commented on #3638
If it helps at all, my module workflow is:
* Init module record and parse root module
* In FetchModule callback, init module record for child module and queue job to parse it
* Parse all child modules in a loop until queue is empty
* JsModuleEvaluation()

Best I can tell, this meets the requirements for async loading of modules, so no idea what's going wrong here.

[2017-09-05 04:09] fatcerberus commented on #3638
The line in question looks to be checking whether the module record for the parent module was already registered, and does `Assert(false)` if it has.  I see no reason why that should be the case; the assertion triggers on the very first non-root module parsed, during this call:
https://github.com/fatcerberus/minisphere/blob/f688e1009cc91c4f51032b64f89150498caea96a/src/shared/jsal.c#L406-L408

[2017-09-05 13:51] fatcerberus commented on #3638
the other other thing I could think of was that I was somehow creating duplicate module records, so I placed a breakpoint in my fetch module callback, but only one record is created for each filename.  So unless this is actually a Chakra bug, im completely stumped.

`ch` looks like it does exactly the same thing I do, so I tried to reproduce it there, but no matter what I did I couldn't get it to

[2017-09-05 17:07] fatcerberus opened #3640 "Designating a module as library code"
It is possible right now to call `JsParse()` or `JsRun()` using the flag `JsParseScriptAttributeLibraryCode` to designate the script as library code and make it invisible to the debugger.  It doesn't appear to be possible to do the same for ES modules.

Can this be done?

[2017-09-05 17:07] akroshg commented on #3638
Are you doing ```WScript.LoadModule(...)``` to load the root module code? You can search for usage under test\es6 folder (eg. test\es6\bug_issue_3247.js).
@suwc for the assert follow up.

[2017-09-05 17:16] akroshg commented on #3640
@fatcerberus thanks for reporting this.
@liminzhu @suwc this should be allowed, right?

[2017-09-05 17:18] liminzhu commented on #3636
No at the moment, but I will get the debugging APIs in the API reference docs. For the time being, you can see the [ChakraDebug.h](https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraDebug.h) should have the info you need, including the returned JSON (see remarks).

[2017-09-05 17:22] fatcerberus commented on #3636
The only thing I couldn't find in `ChakraDebug.h` was the JSON passed to the event callback (`eventData` parameter).  Based on experimentation I figured out it has a scriptId along with line and column information, but beyond that I have no clue.  I haven't tried serializing it yet to see what it contains.

[2017-09-05 17:24] fatcerberus commented on #3638
I'm using the JSRT C API, so this is with `JsParseModuleSource()` directly, no WScript stuff involved.

[2017-09-05 17:35] liminzhu commented on #3640
+@agarwal-sandeep who is familiar with the debugging APIs.

Seems reasonable that we should allow host/debugger to ignore certain modules.

[2017-09-05 17:38] agarwal-sandeep commented on #3636
@fatcerberus below is the json which is returned for debugEvents. The data may vary based on scenario but the structure is same.
[code]

[2017-09-05 17:40] agarwal-sandeep commented on #3640
+1 we should allow.

[2017-09-05 17:41] fatcerberus commented on #3636
Thanks, and for `JsDiagDebugEventRuntimeException`?

[2017-09-05 17:43] liminzhu commented on #3637
Hey @pallammadhukar ! Currently the only way to debug scripts in ChakraCore is to implement your own debugger with the JSON based debugging APIs, which we used to implement the nodechakracore debugging in VSCode. We have devs actively looking into improving that experience by taking what we have in nodechakracore and making it into something that others can reuse. I'll let @digitalinfinity & @kfar

[2017-09-05 17:46] liminzhu commented on #3636
Assigning myself to this so that I don' forget updating the docs :).

[2017-09-05 17:53] agarwal-sandeep commented on #3636
[code]

[2017-09-05 17:54] bterlson commented on #2751
@littledan any improvements to the spec in terms of reflecting reality is very helpful :)

[2017-09-05 17:57] fatcerberus commented on #3636
@agarwal-sandeep Thanks.  Interestingly, for a runtime exception event, `exception.handle` *always* seems to be 1 -- which apparently doesn't refer to the actual exception value that was thrown.  I tried resolving the handle to an object and accessing `.stack` from it and it didn't work.  Is that a bug?

[2017-09-05 18:00] dilijev commented on #1208
Closing this issue as External: by current design these classifications are determined by calling APIs in external libraries.

We can open a new issue if we decide we want to embed the ID_START and ID_CONTINUE classifications of characters directly into ChakraCore.

[2017-09-05 18:00] #1208 closed

[2017-09-05 18:36] agarwal-sandeep commented on #3636
@fatcerberus handle is a global counter which starts from 1, if no JsDiag* APIs where called before JsDiagDebugEventRuntimeException got handled the handle referred in exception object will get handle 1. Based on code [here](https://github.com/Microsoft/ChakraCore/blob/5a9d0ee1bc25af874e11de5f8999d030ee2961de/lib/Jsrt/JsrtDebugManager.cpp#L334) it shouldn't be a bug but I will look into it more.

[2017-09-05 18:43] fatcerberus commented on #3636
I used `JsDiagGetObjectFromHandle()` to get the object from the handle, and passing the handle from the event data gives me back at least `"name": "{exception}"` -- so it appears that the handle refers to the JSON exception object from the event data itself rather than the real exception that was thrown.

[2017-09-05 18:52] agarwal-sandeep commented on #3636
@fatcerberus Yes JsDiagGetObjectFromHandle will get you the exception object passed to eventData but JsDiagGetProperties knows how to get the children's from the  object as the [display](https://github.com/Microsoft/ChakraCore/blob/f2078fed54fdeca4c3842fbd8d007de2502b06d5/lib/Runtime/Debug/DiagObjectModel.cpp#L136) use internal exception object (obj) to get the [properties](https://github.com/Micr

[2017-09-05 19:05] Wiladams opened #3641 "Compile Error with Visual Studio 2017"
A very simple fix, file: RuntimeThreadData.cpp should include "CommonPal.h" to pickup on the THREAD_LOCAL macro.

[2017-09-05 19:09] #3563 closed

[2017-09-05 19:38] fatcerberus commented on #3636
Thanks, that's a bit roundabout but I know what to now.  I guess the debugger is implemented that way to avoid unwanted side effects from getters, proxies, etc.  Males sense. :)

[2017-09-05 19:46] fatcerberus commented on #3616
Yep, the module implementation will get lots of smoke testing from me because I went all-in with supporting them. :)

By the way does ChakraCore support `import()`?

[2017-09-05 19:56] fatcerberus commented on #3640
In my case when debugging an ES module-based codebase, the debugger's first stop tends to be one of my runtime modules, rather than the game's root module.  So it'd be nice if I could step over those by default.

[2017-09-05 20:08] liminzhu commented on #3616
Yep, dynamic import is in v1.6.0+.

[2017-09-05 20:57] dilijev commented on #3614
It's possible we don't understand the requested change here, but if the spec needs to change, please discuss with TC39 to get the spec to change. Otherwise, if we diverge from the spec, please provide a link to the relevant section of the spec and a test case which demonstrates the incorrect behavior.

[2017-09-05 20:59] #3614 closed

[2017-09-05 22:45] suwc commented on #3617
@fatcerberus thanks for filing the issue.
I tried to reproduce the SyntaxError but hadn't had the luck. Would you be so kind to share a mini test case with ch.exe?

[2017-09-05 22:51] dilijev commented on #3641
We're not seeing an issue when we build with VS 2017 on our end.

Can you provide the error message you're seeing and other information about your environment so we can reproduce your failure and confirm we have fixed it?

[2017-09-05 22:52] dilijev commented on #3640
We have internal operations we use to do this for Intl.js library code. Maybe we can expose those as JSRT APIs?

[2017-09-05 23:05] dilijev commented on #1408
Relevant to ICU work #2919
Closing because the issue is External to ChakraCore

[2017-09-05 23:05] #1408 closed

[2017-09-05 23:21] dilijev commented on #637
Not a functionality bug per se because we emit the correct kind of error, but the message is perhaps misleading. Adding Dev Experience and unassigning myself for now.

[2017-09-05 23:47] dilijev opened #3644 "Intl operations returning incompatible results on Windows: investigate whether causes are strictly External"
The cause or partial cause of many of these issues may be WinGlob. Waiting on completion of #2919 (implement Intl with ICU) to get a better handle on the symptoms and causes.

Determine whether issues are intrinsic to the external library (WinGlob) or whether can be fixed (legitimately or by workaround) in ChakraCore directly.

See related linked-back issues below.

[2017-09-05 23:49] dilijev commented on #599
Related to #3644

[2017-09-05 23:52] dilijev commented on #1408
Tracking in #3644

[2017-09-05 23:53] dilijev commented on #2916
Tracking in #3644

[2017-09-05 23:54] dilijev commented on #2778
Tracking as part of #3644

[2017-09-05 23:54] #2778 closed

[2017-09-05 23:54] #2916 closed

[2017-09-05 23:54] #599 closed

[2017-09-05 23:56] dilijev commented on #1223
Tracking as part of #3644

[2017-09-05 23:56] #1223 closed

[2017-09-06 00:08] dilijev commented on #1733
@ricobbe Is this related to your current investigation?

[2017-09-06 00:21] dilijev commented on #3175
Tracking as part of #3644

[2017-09-06 00:21] #3175 closed

[2017-09-06 00:27] dilijev commented on #2915
Tracking as part of #3644

[2017-09-06 00:27] #2915 closed

[2017-09-06 00:27] ricobbe commented on #1733
It might well be; I don't yet know if my investigation involves particularly large strings.  I'll take a look, though -- thanks!

[2017-09-06 01:20] dilijev commented on #2367
Removing "Bug" as this is not a regression, but is still a work item to follow up.

[2017-09-06 01:53] dilijev commented on #238
Confirmed this seems to be a problem with re.lastIndex (would need to test whether it applies to any other built-in properties), and not with non-configurable properties in general.

[code]

[2017-09-06 02:16] fatcerberus commented on #3640
As noted above, you can already do this with normal scripts, using the parse flag JsParseScriptAttributeLibraryCode.  It's just that there's no equivalent option for ES modules.

[2017-09-06 02:17] dilijev commented on #3050
Removing my assignment. Seems that this issue is not related to i18n library. Might be an error in parser logic.

[2017-09-06 02:49] dilijev commented on #3595
Tracking this issue as part of #3364

[2017-09-06 07:27] #3439 closed

[2017-09-06 07:59] dilijev opened #3648 "Intl-ICU: implement Intl.*.supportedLocalesOf"
Subtask of #2919

[2017-09-06 08:30] mackva opened #3649 "Incorrect result as UTC+0000 for Date#toLocaleString"
`new Date(""2017-09-06T05:30:01.735"").toLocaleString();`

result in the Edge 20: "‎2017‎年‎9‎月‎6‎日‎ ‎5‎:‎30‎:‎01"  for JP local  - incorrect
result in the Google Chrome 55 + IE 11: "‎2017/9/5 21:30:01"  for JP local  - correct

[2017-09-06 08:35] mackva commented on #3644
Please look at #3649

[2017-09-06 08:47] dilijev commented on #3649
If we're looking at the formatting, I agree that they are different, but not whether one is correct while the other is not. AFAIK, the Edge rendering is a correct rendering of date and time in Japan. The format with slashes is slightly more suspect but I imagine could also be correct. The differences in formats are in the i18n library (WinGlob versus ICU).

If we're talking about taking a date str

[2017-09-06 09:17] dilijev commented on #3649
Here's a relevant spec dive:

https://tc39.github.io/ecma262/#sec-date-value 4.b.ii.1.

https://tc39.github.io/ecma262/#sec-date.parse

https://tc39.github.io/ecma262/#sec-date-time-string-format

In the example above, the timezone is absent, and it is a date-time form. Therefore, the string should be interpreted as being in local time.

------

Here's an example showing the output of all the vari

[2017-09-06 09:34] mackva commented on #3649
Thanks for the help.

[2017-09-06 09:40] obastemur commented on #3595
@dilijev I would like to keep this issue open and track it separate from other Intl issues. See my 'investigate..' notes on the description and email thread we had.

[2017-09-06 16:43] Wiladams commented on #3641
This is as vanilla a setup as I can imagine.  And the following is the error message I received.

Severity Code Description Project File Line Suppression State
Error (active) E0020 identifier "THREAD_LOCAL" is undefined ch d:\repos\ChakraCore\bin\ch\RuntimeThreadData.cpp 34

I noticed the top of the file in question "RuntimeThreadData.cpp" only contains: #include "stdafx.h", so I can imagine how i

[2017-09-06 17:00] obastemur opened #3650 "Perf: Reduce GetPropertyName calls"
ChakraCore internals use both Js::PropertyId and Js::PropertyRecord, on top of these we have the local property indexes and property names (string).

*IsEnumerable, *IsWritable.... we make GetPropertyName calls multiple times during each set of standard operations. (i.e. adding a property to a JavascriptFunction)

[2017-09-06 17:07] fatcerberus commented on #3612
I'm getting this too.  Debug builds work fine, but Release build fails with internal errors during code generation.  Probably should be reported upstream to the MSVC devs.

[2017-09-06 17:12] fatcerberus commented on #3617
I can't even get ch.exe to run any modules at all, everything I try results in a syntax error.

**pig.js**
[code]

**pigmod.js**
[code]

**cowmod.js**
[code]

**Output**
[code]

[2017-09-06 17:14] fatcerberus commented on #3617
By the way: ChakraCore version is v1.7.1.

[2017-09-06 17:18] suwc commented on #3617
@fatcerberus, thanks!
Could you try this?

[code]

[2017-09-06 17:55] #3649 closed

[2017-09-06 17:58] dilijev commented on #3595
@obastemur Sounds good.

[2017-09-06 18:11] obastemur commented on #3650
More context;

Can we use PropertyId for typeHandler property maps instead of recalling propertyRecord for each sub call? If we do... do we gain from better utilized cpu cache?

[2017-09-06 18:25] Cellule commented on #3641
CommonPal.h is used only in non-windows build.
The place where this is defined is in `lib\Common\CommonDefines.h` near the end.
`#define THREAD_LOCAL thread_local`

Can you try replacing `THREAD_LOCAL` with `thread_local` in `RuntimeThreadData.cpp` ?

[2017-09-06 18:28] Wiladams commented on #3641
Although I can change the code, I don't want to.  I want to be able to use whatever comes stock from the repot without having to change it.

I'm just reporting to you that you have a problem.

I suggest you fix the code if the usage of the macro is no longer what you believe should be used, and then I'll just pick up your changes.

-- William

=============================== - Shaping clay is easi

[2017-09-06 18:34] Penguinwizzard commented on #2062
This isn't really as much of a bug; and more of an improvement at this point; the tricky part is that it requires additional constraints on our IR that may not be categorically satisfied.

[2017-09-06 18:39] Cellule commented on #3641
I am trying to understand why you are having this error to begin with.
As far as I can tell, the current code is as we intended.
The macro is defined in `CommonDefines.h` which is included in `stdafx.h`.

Can you try to build with `/showIncludes` on `RuntimeThreadData.cpp` (see image below) then build?
![image](https://user-images.githubusercontent.com/4157103/30128501-c03d6ce0-92f7-11e7-92fa-5aa3

[2017-09-06 18:46] Wiladams commented on #3641
How about this.  In the ch project, the stdafx.h file has the following.

#ifdef _WIN32
#include <windows.h>
#else
#include <CommonPal.h>
#endif // _WIN32

Which on Windows, will clearly mean the CommonPal.h file will not be included, and the THREAD_LOCAL macro will not get defined.

I'm not sure of the reasoning here, since CommonPal.h has some very Windows specific stuff in it as well.
#ifndef T

[2017-09-06 18:47] Wiladams commented on #3641
Oh yes, and THREAD_LOCAL is NOT defined in CommonDefines.h as you stated, unless you guys have local changes that are not currently reflected in the repo.

[2017-09-06 19:06] Cellule commented on #3641
I am terribly sorry about the confusion.
I was looking into a different branch that was missing a recent change.
This was introduced in #3553 where the define was moved from CommonDefines.h to CommonPal.h

However, that PR also changed stdafx.h to include `CommonPal.h` unconditionally.
https://github.com/Microsoft/ChakraCore/pull/3553/files#diff-05783da3b8bba4fa92445ddb47da7d51L36

From what you'v

[2017-09-06 19:24] digitalinfinity commented on #3209
@matthargett did you get a chance to find a repro for this bug? As @LouisLaf said, Chakra wouldn't attempt to JIT a function unless it had been called at least a few times so if we're JITting a function that's never called, it would be great to see a repro to understand what went wrong

[2017-09-06 19:29] Penguinwizzard opened #3651 "Output::buffer isn't properly freed"
Not a real problem for our release builds, but can add noise to ASAN runs of debug/test-only tests, where Output::Print is used.

[2017-09-06 20:50] matthargett commented on #3209
Sorry, I don't have access to the code in question any more. The intent wasn't to blacklist functions that aren't called at all, but rather functions where JIT is attempted (or even succeeds), just to get repeated bailouts due to current deficiencies in the interpreter/JIT/profiling, or a lack of profiling information that would allow the JIT to do a more reasonable job.

this is effectively per-f

[2017-09-06 21:04] Wiladams commented on #3641
git branch
Says: * master

I have made no other changes.

I will delete the copy, and git clone again (I just did this yesterday).

[2017-09-06 21:07] fatcerberus commented on #3641
Apparently there was a bad merge:
https://github.com/Microsoft/ChakraCore/commit/a824c652f7aab253af9f309e334b077a2ff432cc

Maybe you happened to clone it before the fix.

[2017-09-06 21:11] Wiladams commented on #3641
git clone
git branch [* master]
Open .sln file.  stdafx.h now has <CommonPal.h> unconditionally
Everything builds without error now
Thanks.
Bottom line, my repo did not reflect all changes required to build out of the box.

Tagging releases might be good.  I'll check to see if that's the case.

[2017-09-06 21:11] #3641 closed

[2017-09-06 23:38] dilijev opened #3652 "Intl.js fallback: platform.getExtensions"

[2017-09-06 23:38] dilijev opened #3653 "Intl.js fallback: platform.resolveLocaleLookup"

[2017-09-06 23:38] dilijev opened #3654 "Intl.js fallback: platform.resolveLocaleBestFit"

[2017-09-06 23:46] dilijev opened #3655 "Intl-ICU: implement getCanonicalLocales"

[2017-09-06 23:46] dilijev opened #3656 "Intl-ICU: platform.normalizeLanguageTag"

[2017-09-06 23:46] dilijev opened #3657 "Intl-ICU: platform.isWellFormedLanguageTag"

[2017-09-06 23:47] #3655 closed

[2017-09-06 23:47] #3656 closed

[2017-09-06 23:47] #3657 closed

[2017-09-06 23:48] dilijev opened #3658 "(4h,P3) Intl-ICU: platform.getDefaultLocale"
* [x] Implement fallback logic with default value
* [ ] Implement with ICU

[2017-09-06 23:48] dilijev opened #3659 "(4h,P3) Intl-ICU: platform.getDefaultTimeZone"
* [ ] Fallback logic (default value) (See #3769)
* [ ] Implement with ICU

[2017-09-06 23:48] dilijev opened #3660 "(1d,P3) Intl-ICU: Intl.DateTimeFormat: platform.validateAndCanonicalizeTimeZone"
* [ ] Harden Intl logic to tolerate falsy returns, and add a fallback value. (See #3769)
* [ ] **Unblock other work:** return the argument string with no validation so that "good inputs" will work (check this in ASAP so that work on Intl.DateTimeFormat can go ahead without a proper implementation).
* [ ] Implement validation and canonicalization.

[2017-09-06 23:48] dilijev opened #3661 "(1d) Intl-ICU: platform.currencyDigits"
* [x] What is this used for?
  * platform.currencyDigits is the number of fractional digits for this currency
* [x] Return a "reasonable" default (2) as a temporary measure.
* [x] Determine if there is an equivalent in ICU
* [x] Implement in ICU

[2017-09-06 23:48] dilijev opened #3662 "(1d) Intl-ICU: Intl.DateTimeFormat: platform.createDateTimeFormat"

[2017-09-06 23:48] dilijev opened #3663 "(1d) Intl-ICU: Intl.DateTimeFormat: platform.formatDateTime"

[2017-09-06 23:48] dilijev opened #3664 "(1d) Intl-ICU: platform.formatNumber"

[2017-09-06 23:48] dilijev opened #3665 "(4h,P1) Intl-ICU: Intl.Collator (ctor)"

[2017-09-06 23:49] dilijev opened #3666 "(1d,P1) Intl-ICU: Intl.Collator.prototype.compare (getter)"

[2017-09-06 23:49] dilijev opened #3667 "(4h) Intl-ICU: Intl.DateTimeFormat (ctor)"

[2017-09-06 23:49] dilijev opened #3668 "(4h) Intl-ICU: Intl.DateTimeFormat.prototype.format (getter)"

[2017-09-06 23:49] dilijev opened #3669 "(1d) Intl-ICU: Intl.DateTimeFormat.prototype.formatToParts()"

[2017-09-06 23:49] dilijev opened #3670 "(4h) Intl-ICU: Intl.NumberFormat (ctor)"

[2017-09-06 23:49] dilijev opened #3671 "(4h) Intl-ICU: Intl.NumberFormat.prototype.format (getter)"

[2017-09-06 23:49] dilijev opened #3672 "Intl-ICU: platform.getExtensions"
* [x] Implement fallback logic (#3652)
* [ ] Implement with ICU (if necessary after fallback logic as implemented)

[2017-09-06 23:49] dilijev opened #3673 "(1d,P2) Intl-ICU: platform.resolveLocaleLookup"
* [x] Fallback logic
* [ ] Implement with ICU

[2017-09-06 23:50] dilijev opened #3674 "Intl-ICU: platform.resolveLocaleBestFit"
* [x] Fallback logic (#3654)
* [ ] Implement with ICU

[2017-09-06 23:59] dilijev opened #3675 "Intl-ICU: On Windows, use ICU from Windows Kit (compile option overrides)."

[2017-09-07 00:03] dilijev opened #3676 "(2h,P0) Intl-ICU: Integrate with Node-ChakraCore build system to expose Intl-ICU on non-Windows platforms"
See description in PR #3214 for description of build options.

[2017-09-07 01:07] dilijev opened #3677 "Intl-ICU: Integrate with Node-ChakraCore build system to expose Intl-ICU on Windows"

[2017-09-07 01:14] xiaoyinl commented on #3612
@fatcerberus Thanks for the suggestion! I reported it to Visual Studio here: https://developercommunity.visualstudio.com/content/problem/108800/fatal-error-c1001-an-internal-error-has-occurred-i-7.html

[2017-09-07 01:29] fatcerberus opened #3678 "Trying to examine function in stack trace, JsErrorDiagUnableToPerformAction"
I'm trying to examine function handles returned by JsDiagGetStackTrace(), so I can get the names of the functions to display in my command-line debugger.  However, doing this invariably results in JsDiagGetProperties() returning `JsErrorDiagUnableToPerformAction`.

[2017-09-07 01:37] agarwal-sandeep commented on #3678
@fatcerberus Based on code [JsDiagGetStackTrace](https://github.com/Microsoft/ChakraCore/blob/7bf217a285c2131ff1fbdb6989b73a356758d606/lib/Jsrt/JsrtDiag.cpp#L598) doesn't return JsErrorDiagUnableToPerformAction error.

Are you sure you are getting this error code from JsDiagGetStackTrace?

[2017-09-07 01:38] fatcerberus commented on #3678
No, the error is returned by JsDiagGetProperties() when I try to examine the function handle from the stack trace.

[2017-09-07 02:35] fatcerberus commented on #3617
Changing LoadModule to LoadScriptFile indeed got the module to run - however I also can't reproduce the original syntax error with ch.exe.  I'll do some more digging.

[2017-09-07 04:21] EdMaurer commented on #3355
I'm inclined to close this. Won't folks just use wasm now?

[2017-09-07 04:27] EdMaurer commented on #3050
I don't see a lot of impact from this issue. Considering closing. Is this affecting anyone's scenario?

[2017-09-07 04:29] EdMaurer commented on #2905
Low impact - we don't ship this.

[2017-09-07 04:29] #2905 closed

[2017-09-07 04:30] EdMaurer commented on #2899
What does this issue impact?

[2017-09-07 04:32] EdMaurer commented on #2890
Non-compliant, yes, but is this having any negative effect?

[2017-09-07 04:36] EdMaurer commented on #2753
What is the impact of this issue?

[2017-09-07 05:28] dilijev commented on #2753
Very minimal. If a user is requesting a pattern to match codepoint for a character that can never exist by the definition of Unicode codepoints (max value 0x10FFFF), then the pattern will never match any input. The error is supposed to be helpful, but it is not critical.

[2017-09-07 05:59] pallammadhukar commented on #3637
Hi @liminzhu How can I implement own debugger? Please can you provide sample or steps to implement the debugger?

[2017-09-07 06:06] dilijev commented on #3050
I think we should track this in the Backlog rather than closing it since we haven't fixed the issue and it is a spec violation.

[2017-09-07 06:09] dilijev commented on #2890
Not sure if we have a measurement of that. Anyone who relies on the return value of eval is potentially affected. Also potentially affects REPL scenarios like Node-ChakraCore's REPL and F12 Console REPL which display the result of an expression or statement which might be a completion value.

[2017-09-07 06:12] dilijev commented on #2787
Unassigned @sarahdonofrio so someone else can claim this. @sarahdonofrio: please let us know if you want to pick up this issue in the future.

[2017-09-07 06:13] dilijev commented on #2753
Cleared assignee so someone else can claim this issue. @sarahdonofrio: please let us know if you want to pick up this issue in the future.

[2017-09-07 07:38] dilijev commented on #3579
Confirmed this error is due to a failure within WinGlob. Closing as External.

[2017-09-07 07:38] #3579 closed

[2017-09-07 07:48] dilijev opened #3683 "Intl: expose platform.StringInstanceSplit and platform.ArrayInstanceFilter"
Use these operations to refactor `getExtensionSubtags`

See TODOs under #3680

[2017-09-07 13:28] fatcerberus opened #3685 "Debugger doesn't catch error thrown inside for...of loop immediately"
I have JsDiagBreakOnExceptionAttributeUncaught enabled.  Normally, errors are caught as soon as they're thrown.  I've noticed, however, that if an error is thrown inside a for...of loop, entire stack frames can be unwound before the error is intercepted, losing valuable debugging information in the process.  Here's an example, illustrated by my SSj debugger:

[code]

Notice the stacktrace of the E

[2017-09-07 13:53] fatcerberus commented on #3685
There's also this oddity:
[code]

It paused execution on a statement that shouldn't even be reached. 😕

[2017-09-07 14:10] fatcerberus commented on #3678
Best I can tell, this is a bug, JsDiagGetStackTrace() returns:
[code]

However, passing the value of `functionHandle` to JsDiagGetProperties() immediately afterward results in JsErrorDiagUnableToPerformAction.  I'm trying to read the `.name` of the function to display in my debugger, but the error prevents me from doing so 🙁

[2017-09-07 17:13] agarwal-sandeep commented on #3678
@fatcerberus Yes it seems like a bug as JsrtDebuggerObjectFunction doesn't have a GetChildren implementation. Marking as bug and assigning to @digitalinfinity

[2017-09-07 17:37] agarwal-sandeep commented on #3685
Same behavior as Edge browser for arrow functions so this is not specific to JsRT debugger but a runtime issue.
@akroshg to triage.

[2017-09-07 17:50] Cellule commented on #3355
We've explicitly disabled asm.js in es6 modules in #3546.
I think it's fine to close for now.

[2017-09-07 17:50] #3355 closed

[2017-09-07 17:55] #2733 closed

[2017-09-07 19:03] fatcerberus commented on #3685
The arrow function is a bit of a red herring.  I put it in to illustrate but the actual problem is that an exception thrown from inside a for...of loop often causes a partial unwind before the debugger intercepts it.  I've seen this even with regular functions, so it's not specific to arrows.

[2017-09-07 19:09] agarwal-sandeep commented on #3685
yes this is issue with for..of nothing related to arrow function. Also doesn't repro with for..in

[2017-09-07 19:16] fatcerberus commented on #3678
Is there any other way I can get the names of the functions in the stack trace?  I currently have to list all frames as anonymous functions in my debugger even though they're not actually anonymous :)

[2017-09-07 21:45] bterlson commented on #3050
Agreed, conformance+interop issues can never be closed, only prioritized against other items (possibly for years ;))

[2017-09-07 22:45] sigatrev commented on #3630
JavaScript numbers are doubles, which have 52 bits of precision. The digit containing the discrepancy in your example is at the limit of that precision. According to section 7.1.12.1 of the spec, the least significant digit of the ToString conversion is not necessarily uniquely determined. While Chakra and V8 disagree on how to print that number to a string, they are both compliant with the spec i

[2017-09-07 22:45] #3630 closed

[2017-09-07 23:53] dilijev commented on #3579
As part of #3644, see whether there's anything we can do to recover from this error instead of just showing an error (perhaps fall-back on non-Intl definition of toLocaleString).

[2017-09-08 00:33] aneeshdk commented on #2606
@BenMcGarry https://github.com/Microsoft/ChakraCore/pull/2998 should fix this issue. Does it still repro?

[2017-09-08 00:46] agarwal-sandeep commented on #3678
Can you call JsDiagGetObjectFromHandle(functionHandle) and use .name on it? That's what ch [debugger](https://github.com/Microsoft/ChakraCore/blob/9e0f8e466f81bf69c4a5f8cb547f3b4faf6a97a6/bin/ch/DbgController.js#L724) is doing.

[2017-09-08 00:52] fatcerberus commented on #3678
Oh, good idea, I didn't think of that.  I'll try it, thanks!

[2017-09-08 00:57] #3281 closed

[2017-09-08 03:16] fatcerberus commented on #3678
@agarwal-sandeep Thanks you, this worked.  Now SSJ's backtraces have function names again. 😄

[2017-09-08 03:55] fatcerberus opened #3690 "Variables in TDZ reported as strings in debugger"
Minor cosmetic issue, block-scoped variables still in TDZ are reported as having a string value in the debugger:
[code]

I think it would be cleaner if these were reported as `TDZ` or `uninitialized` instead of `string`.

[2017-09-08 04:26] vijaykumar51 opened #3691 "Intl NumberFormat bug for floating point number rounding behavior"
I observed strange behavior while using Intl library for number format purpose. I tried this code on **IE 11** with document mode **Edge**. Code mentioned below produces output `40.42` but it should be `40.43`

`Intl.NumberFormat("ja-JP",{style: "decimal", currency: "JPY", minimumFractionDigits: 2, maximumFractionDigits: 2}).format(40.425)`

I observed the same erroneous output  for floating numbe

[2017-09-08 06:47] dilijev opened #3692 "Intl.[ctor] called with unusual target produces strange behavior"
Found by reading code and wondering "what does this button do?"

Apparently Intl.* constructors do not actually have to be called with new, and can be called with anything as the target.

Using `Intl` or `undefined` as the target (first param of `call`) produces the same result as calling new.
Specifically allowing the target to be `Intl` or `undefined` (see Intl.js code, snippet below) allows for

[2017-09-08 06:50] dilijev commented on #3692
@bterlson I'm sure that our behavior here is simply incorrect, but I want to make sure we get all the nuances of the behavior in the fix for this. I'm having a hard time reading through the relevant spec to see what all the cases would be. https://tc39.github.io/ecma402/#sec-intl-numberformat-constructor

[2017-09-08 09:38] dilijev commented on #3691
Note: IE 11 Document Mode Edge just means "latest in IE 11" and is not equivalent to Microsoft Edge in any sense.

That said, this issue does repro in Edge.

The locale and most of the options are unimportant. Here is a reduced repro:

[code]

It's possible this behavior is coming from WinGlob. I'll investigate that.

@MikeHolman do you know anything about rounding behavior?

[2017-09-08 12:03] xiaoyinl commented on #3612
@fatcerberus I fixed the building error by running "Rebuild Solution". I'm not sure if we had the same issue, but I suggest you try it if you haven't.

[2017-09-08 13:34] EdMaurer commented on #588
Low impact, so closing.

[2017-09-08 13:34] #588 closed

[2017-09-08 17:18] #2606 closed

[2017-09-08 18:10] bterlson commented on #3692
@dilijev what cases are you referring to? How can I help?

[2017-09-08 21:16] fatcerberus opened #3697 "Unable to attach debugger during execution"
I would like to allow my debugger to attach to a running instance of miniSphere, as can be done with a native code debugger.  However, if I call `JsDiagStartDebugging()` during active JS execution (i.e. any time the JS call stack is not empty), I get `JsErrorRuntimeInUse` and debugging is not enabled.

Is this by design?  The comment here https://github.com/Microsoft/ChakraCore/issues/3628#issueco

[2017-09-08 21:27] agarwal-sandeep commented on #3697
@fatcerberus Yes that's by design. [JsDiagStartDebugging](https://github.com/Microsoft/ChakraCore/blob/36bd20a7863c3dcd08fd9cb663bdc86ff68e3beb/lib/Jsrt/JsrtDiag.cpp#L35) is not allowed when [script](https://github.com/Microsoft/ChakraCore/blob/36bd20a7863c3dcd08fd9cb663bdc86ff68e3beb/lib/Runtime/Base/ThreadContext.h#L852) is on call stack.

[2017-09-08 21:44] fatcerberus commented on #3697
Hm, so for my scenario I would have to call JsDiagStartDebugging() before running the main script and take a performance hit.  I guess that makes sense, the engine may do optimizations that would be invalidated if the debugger is attached midstream.

The performance hit is unfortunate, but shouldn't be a big problem since I can just disable debugging in my redistributable.  Thanks!

[2017-09-08 21:44] #3697 closed

[2017-09-08 21:46] akroshg commented on #3603
fixed.

[2017-09-08 21:46] #3603 closed

[2017-09-08 23:53] dilijev commented on #3692
@bterlson basically the Intl code in this case doesn't read very much like the spec. Might need a 1:1 with you to go over terminology and walk through the code. This can wait since it's Backlog for now.

[2017-09-09 00:18] dilijev opened #3698 "ParseError for Merge conflict marker (as detected by TypeScript)"
Typescript has a great error message. When encountering lines generated by a merge conflict (and left in if unresolved or incorrectly resolved):

`error TS1185: Merge conflict marker encountered.`

/cc @bterlson

[2017-09-09 00:23] bterlson commented on #3698
Should detect diff3 format as described here as well: https://github.com/Microsoft/TypeScript/issues/16129.

[2017-09-09 00:28] dilijev commented on #3698
@bterlson Would detecting this potentially cause a spec violation? I'd assume the presence of such tokens would cause a SyntaxError anyway, so we'd just be giving a helpful message. Just want to make sure.

[2017-09-09 00:35] dilijev commented on #3698
Note: This wouldn't be able to detect markers inside of multiline-strings.

[2017-09-09 00:38] bterlson commented on #3698
@dilijev no spec violation, still a syntax error just with a nicer message.

[2017-09-10 13:56] kevingosse commented on #3287
For reference, I just ran into this issue. It seems to be specific to the version 15063 of the Windows 10 SDK. Uninstalling it and switching to version 10586 fixed it.

[2017-09-11 10:51] #3612 closed

[2017-09-11 13:26] bytenull opened #3700 "JsCreateContext in a new thread sometimes fail with JsErrorOutOfMemory"
On linux (Mint 17.03)
GCC 4.8.4
Kernel 4.2.0-25
Testing with 9.4 GB of free memory.

I compiled ChakraCore from source (with all dependencies already installed)
"git clone https://github.com/Microsoft/ChakraCore.git"
"./build.sh -j=4 --target=linux --with-intl"

I also tried the pre built library. Downloaded from azure with the same results.

The following program reproduce the problem randomly. T

[2017-09-11 14:22] fatcerberus opened #3701 "Breakpoints can't be set in an ES module"
`JsDiagSetBreakpoint()` when called on a ES module returns JsErrorDiagUnableToPerformAction and the breakpoint is not honored.  Debugging ES modules seems to work otherwise, but I can't set breakpoints in them 😭

[2017-09-11 15:00] obastemur commented on #3700
I'm unable to reproduce. Could you share `ulimit -a` output?

[2017-09-11 15:03] bytenull commented on #3700
Certainly.
[code]

[2017-09-11 16:10] obastemur commented on #3700
@bytenull Thanks for reporting this. Finally reproduced. I will be looking into it.

[2017-09-11 16:22] agarwal-sandeep commented on #3701
@fatcerberus can you provide a repro? It seems to be working in ch implemented debugger.
@boingoing FYI and to take a look once we have a repro.

[2017-09-11 16:34] fatcerberus commented on #3701
I'll try to reproduce it in isolation.  My module harness is pretty complicated because I support Babel-style interop with CJS so maybe something is going wrong on my end but I don't think so.  I can successfully set breakpoints in global code and require'd scripts but not in ES modules.

[2017-09-11 16:36] bytenull commented on #3700
After more testing,  a cheap workaround is just calling JsCreateContext again. I've never seen it failed twice in a row.
[code]

This is not ideal, however in my application I did not see further unexpected behavior once the context is created (so far).

@obastemur Thanks for looking into it.

[2017-09-11 17:01] #3690 closed

[2017-09-12 01:34] fatcerberus commented on #3701
False alarm, I was tracking script IDs improperly.  Chakra doesn't correctly track filenames for ES modules (see #3618) so I had to do it myself, and it seems I forgot to increment the script ID counter for the root module.

[2017-09-12 01:34] #3701 closed

[2017-09-12 03:12] fatcerberus opened #3708 "Scoping seems screwy for JsDiagEvaluate()"
To illustrate just one of the glitches I've encountered (there have been others):
[code]

Why did `this` evaluate to the class itself rather than an instance?

[2017-09-12 03:38] dilijev opened #3709 "Intl: (ECMA 402 Draft) Implement Intl.js version of Array.prototype.toLocaleString"
If they are indeed different. If they are not effectively different in our implementation (I believe this is the case in our implementation), add a note in a comment Intl.js to make this clear for future maintainers.

See: https://github.com/tc39/ecma402/issues/173

See: https://tc39.github.io/ecma402/#sup-array.prototype.tolocalestring
See: https://tc39.github.io/ecma402/#sup-array.prototype.tolo

[2017-09-12 03:39] dilijev opened #3710 "Intl (ECMA 402 Draft) Implement Intl.js version of String.prototype.toLocaleUpperCase"

[2017-09-12 03:39] dilijev opened #3711 "Intl (ECMA 402 Draft) Implement Intl.js version of String.prototype.toLocaleUpperCase"

[2017-09-12 13:56] fatcerberus commented on #3708
Another example: Here, a parameter variable which is still in scope can't be eval'd in the debugger and is claimed to be not-defined:
[code]

[2017-09-12 16:12] obastemur commented on #3700
@bytenull looks like, on my end, when the number of open threads reach to 2048, I receive the error (out of memory) and it comes from pthread. That's the reason for `500 threads always reproduce`.

I'm not sure what we can do here but some more info for you.

Each time you create a new context/thread, you will have +2 (or more) additional threads. ChakraCore uses them for background tasks and/or G

[2017-09-12 17:37] agarwal-sandeep commented on #3708
@fatcerberus for your second case (options) if I am reducing it to a small repro correctly
[code]
breaking at debugger statement options is not visible (Chrome have same behavior. Only Firefox can evaluate options correctly).

Does the above test represents what you are trying to do? if so I think the behavior is correct as options is not captured under function passed to onUpdate.

For your first

[2017-09-12 18:27] bytenull commented on #3700
@obastemur thanks for investigating, however as stated I've had the error come up with just 10 threads on a freshly started process. Consider this revised test, it reproduce the error consistently (on my system at least) with a low thread count.

If there was a resource leak from pthread at some point the main would no longer be able to create threads. And when I comment everything in ContextCreat

[2017-09-12 19:03] fatcerberus commented on #3708
Hm, so only the variables that are actually used in the inner function can be evaluated?  When I was using Duktape all variables were captured by a closure.  Inconvenient, but I guess if the variable isn't used it's irrelevant for debugging anyway.

The first case can be repro'd with a very simple:
[code]

After the breakpoint is hit, evaluate "this", and the result is:
[code]

[2017-09-12 19:04] fatcerberus commented on #3708
Just to verify:
[code]

[2017-09-12 19:28] agarwal-sandeep commented on #3708
Yes that seems like a bug
[code]
When run with _ch -debuglaunch test.js_ print return _false_ but the evaluate (eval under debugger) return _true_. Same behavior is in Edge.
[code]
@akroshg to triage

[2017-09-12 22:20] kunalspathak opened #3715 "Segmentation fault inside OP_GetElementI"
Getting segmentation fault when running `npm prune` on `body-parser` module.
Ref: https://github.com/expressjs/body-parser/pull/233#issuecomment-328359075

Debugged this a bit and noticed something wrong inside `OP_GetElementI()`.

![image](https://user-images.githubusercontent.com/12488060/30350884-838230bc-97cd-11e7-9c7f-9650b4326166.png)

Repro steps:
1. clone `body-parser`
2.  `npm install`
3.

[2017-09-12 22:26] kunalspathak commented on #3715
Works well on windows.

[2017-09-13 00:11] dilijev opened #3716 "(1d) Intl-ICU: platform.cacheNumberFormat"

[2017-09-13 00:54] obastemur commented on #3700
As I mentioned above a bit, the problem is the number of helper threads. They are not closed at the same time. I re-opened this issue to see if we might improve the things around for a use case like yours.

[2017-09-13 01:04] obastemur commented on #1917
@jianchun @agarwal-sandeep what we should do here?

[2017-09-13 01:07] obastemur commented on #3419
It's been 2 months and no repro. closing

[2017-09-13 01:07] #3419 closed

[2017-09-13 01:08] obastemur commented on #2003
Became irrelevant.

[2017-09-13 01:08] #2003 closed

[2017-09-13 14:54] obastemur commented on #3650
#3501 Undoes FNV1a hash update. PR for this issue should either remove that TODO note for good or apply the hash function change.

[2017-09-13 17:18] jianchun commented on #1917
@obastemur This issue itself sounds unclear to me. By "inconsistent", could you enumerate the callbacks that behave inconsistently -- assuming you mean some allowed and some disallowed to call JSRT? My understanding is that I don't recall we have special code to allow/disallow, thus mostly the callbacks should by default all allowed to call JSRT. Only specific ones may be special due to specific r

[2017-09-13 20:25] obastemur commented on #1917
@jianchun Your previous comment was pointing out to right direction. Right, it's about LEAVE_SCRIPT. Hence the question I asked above, `Is there any particular callback we shouldn't allow JSRT API calls ?`

[2017-09-13 21:41] agarwal-sandeep commented on #1917
My concern was related to thorough reentrancy test coverage. I feel we don't have good test coverage which can test this. +1 for allowing callbacks to call JsRT API.

[2017-09-13 22:18] #3531 closed

[2017-09-13 23:00] #2981 closed

[2017-09-13 23:00] #3648 closed

[2017-09-13 23:00] #3652 closed

[2017-09-13 23:00] #3653 closed

[2017-09-13 23:00] #3654 closed

[2017-09-14 03:56] #2987 closed

[2017-09-14 04:44] fatcerberus commented on #3623
@liminzhu Regarding that perf gain...

We noticed a huge performance regression in miniSphere's API across the board after switching from Duktape to ChakraCore.  Many calls became 2-3x slower for no obvious reason.  With some profiling, we tracked down the cause of the regression to excessive use of `JsCopyString`:
http://forums.spheredev.org/index.php/topic,1215.msg10552.html#msg10552

After appl

[2017-09-14 04:58] obastemur opened #3726 "TODO: Platform agnostic virtual memory management"
1 - Virtual memory backend we use on xplat is pretty expensive.

 - memory region is stored on a linked list
 - Each VirtualProtect / Commit etc. requests end-up searching through the linked list.
 - we acquire a lock each time since this linked list is process wide.

#3725 reduces the number of times we loop the whole list.

2 - Backend is unaware the intentions.

Consumer (CC) already has start

[2017-09-14 09:20] rybon opened #3728 "Unknown empty character in string"
Edge 14 & 15 on Windows 10.

`var a = new Date().toLocaleTimeString('en-us', { timeZoneName: 'short' }).split(' ')[2].split('')[0];`

Inspecting `a` reports an empty string. But `a === ''` or `a == ''` reports `false`. What is going on here?

In my timezone, `var tz = new Date().toLocaleTimeString('en-us', { timeZoneName: 'short' }).split(' ')[2]` reports `CEST`, but `tz.length` reports `5`. This

[2017-09-14 18:32] #2794 closed

[2017-09-14 18:35] digitalinfinity commented on #3726
@obastemur I think there are two choices here- one is improving the implementation of the VM subsystem in the PAL, and the second is introducing a platform agnostic layer for VMM and changing Chakra's PageAllocators/other MM classes to use it. The second is definitely more expensive to implement than the first.

In terms of node benchmarks like AcmeAir, do you have a sense of how much the cost is

[2017-09-14 19:17] rhuanjl commented on #3623
Thought I'd comment on this briefly as I did a lot of the aforementioned profiling.

To run the helper shown above you have to do:
1. Find the length of the string: call JSCopyString with no buffer to get the length back (this does one UTf16->UTF8 conversion
2. Allocate a buffer
3. Call JSCopy String againg (second conversion)
4. Now call JsCreatePropertyId passing it the string  -> this converts

[2017-09-14 19:27] obastemur commented on #3726
@digitalinfinity I agree with the number of possible approaches you did mention.

Performance-wise, not sure if we can reduce mprotect+mmap double calls. Besides, because of common memory region linked list, we hold a lock on each and every VM call. I did open this issue to at some point check if threads are waiting each other because of that lock.

#3725 patches the looping problem reasonably.

I

[2017-09-14 20:18] dilijev commented on #3728
It's a little unclear from the issue report, but you're almost certainly seeing BiDi marks (specifically left-to-right marks) which WinGlob uses to increase clarity of display in mixed-direction text.

[code]

8206 is 0x200E

http://www.fileformat.info/info/unicode/char/200e/index.htm
Unicode Character 'LEFT-TO-RIGHT MARK' (U+200E)

Duplicate of #599

[2017-09-14 20:18] #3728 closed

[2017-09-14 20:19] dilijev commented on #3728
Also related: there's an open bug about timeZoneName in ChakraCore.

https://github.com/Microsoft/ChakraCore/issues/3096

[2017-09-14 20:26] dilijev commented on #3728
If you reduce the repro to remove that option and inspect the code points of the string that is produced, you can see the divergent behavior between Chakra and others.
(I also sanitized the BiDi markers before printing the string so you can easily see from the eshost output that the string is otherwise the same.)

[code]

[2017-09-14 20:30] dilijev commented on #3728
Please note that Intl-produced strings are intended to be opaque strings for display only, and are not meant to be parsed or broken apart in such a way. There are spec proposals in the works to add the ability to directly extract specific information to avoid this.

[2017-09-14 21:27] SivaDotRender commented on #504
has @xiaoyinl been assigned to this issue or could I attempt to send in a PR for this?

[2017-09-14 21:29] rhuanjl commented on #3623
@liminzhu Further to the above I'd be happy to a) learn how to do a pull request and b) submit one

That is, if this API is wanted. I admit the only usage cases I can think of are
a) miniSphere due to the way its internals are built as Fat Cerberus mentioned above and
b) your suggestion of someone wanting to iterate an objects' own properties with JsGetOwnPropertyNames; if anyone's doing that a lo

[2017-09-14 21:44] xiaoyinl commented on #504
@SivaDotRender I am not assigned to this issue.

[2017-09-14 21:45] EdMaurer commented on #3678
Clear assignment. Existence of work around lowers priority.

[2017-09-14 22:16] agarwal-sandeep commented on #3678
@EdMaurer The fix/enhancements is already in PR #3703

[2017-09-14 22:37] EdMaurer opened #3735 "AutoDisableInterrupt is a confusing name"
This type doesn't disable interrupts.

[2017-09-14 23:04] akroshg commented on #3735
@tcare  can you look at that and rename this appropriately?

[2017-09-14 23:08] tcare commented on #3735
We use the same convention in ThreadContext which is why I named it that way.

[2017-09-15 01:28] dilijev opened #3739 "Follow-up #2751: For Number#toString with a radix other than 10, never switch to exponential display"
Follow-up to #2751 (PR #3635)

Compatibility: align with other engines' implementation here.

See @littledan's comment https://github.com/Microsoft/ChakraCore/issues/2751#issuecomment-326902301

/cc @xiaoyinl @littledan @bterlson

[2017-09-15 01:30] xiaoyinl commented on #3739
I'd like to work on this issue.

[2017-09-15 01:31] dilijev commented on #3739
@xiaoyinl thanks!

[2017-09-15 01:32] dilijev opened #3740 "Follow-up #2751: Number#toString: add tests on the edge cases between written-out and exponential notation"
Follow-up to #2751 (PR #3635)

See comments on PR: https://github.com/Microsoft/ChakraCore/pull/3635

/cc @xiaoyinl

[2017-09-15 03:43] #2751 closed

[2017-09-15 08:37] rybon commented on #3728
@dilijev thanks for the response. I understand the problem a bit better now. I'll see if I can find a solution that avoids this problem altogether.

[2017-09-15 19:23] akroshg commented on #737
Some important fixes are already done on this one. closing

[2017-09-15 19:23] #737 closed

[2017-09-15 19:24] akroshg commented on #2735
Fixes are merged.

[2017-09-15 19:35] akroshg commented on #3318
@leirocks can you take a look what needs to be done.

[2017-09-15 20:34] UnderNotic opened #3748 "Embedding ChakraCore in C# - async"
Is there any way to deal with asynchronous javascript? Can you return promise and then await in C#?
Or is there any other way to return to c# value that come from js async code, maybe can you call c# callback from js?

[2017-09-18 06:29] liminzhu commented on #3623
Thanks for the input @fatcerberus @rhuanjl !

The perf gap between `JsCopyString` and `JsStringToPointer` is concerning to begin with. @obastemur are you aware of this?

[2017-09-18 14:50] sunggook opened #3752 "Large fragmentation by using JSON.stringify, window.postMessage."
If the code call APIs often such as JSON.stringify, window.postMessage, or getBoundingClientRect in the background of the Xbox, the fragmentation quickly increased such that it reached the Xbox memory limit (128M) and the app crash.

[2017-09-18 17:15] Penguinwizzard commented on #2735
@akroshg Do you have a commit ref for when these issues were fixed?

[2017-09-18 17:22] akroshg commented on #2735
isn't this fixed by #3129 ?

[2017-09-18 17:30] Penguinwizzard commented on #2735
No, that changeset just disables the test. Re-opening.

[2017-09-18 18:41] digitalinfinity commented on #3752
Do you have a repro test case? That would be helpful in understanding this report.

[2017-09-18 19:08] dilijev opened #3755 "(1d,P2) Intl-ICU: Custom management of ICU data lifetime (as resource, etc.)"
See http://userguide.icu-project.org/icudata

For now the workaround is to set `ICU_DATA` in the environment to the directory containing the ICU data .dat file (e.g. `icudt59l.dat`) to let ICU manage it's own data loading from the default data file.

We need to consider how we will package up the data and have the shipping versions of ChakraCore and Node-ChakraCore deal with this problem without h

[2017-09-18 21:55] MikeHolman opened #3757 "Remove asm.js templatized jit from release builds"
We aren't turning this on any time soon, so we shouldn't unnecessarily bloat the binary with it.

[2017-09-19 05:31] chrisrollins opened #3759 ""Function expected" error when using spread syntax on a NodeList to convert it to array"
Example:

let arr = [...document.querySelectorAll("*")]

This throws the error, "Function expected"

[2017-09-19 06:09] obastemur opened #3760 "Date object is slow"
`new Date()` or `new Date( some args here! )` ... are slow.

Regardless from the source, we convert the `Date` to local. -> https://github.com/Microsoft/ChakraCore/blob/release/1.7/lib/Runtime/Library/JavascriptDate.cpp#L231

...and then UTC etc..

Besides, each time we create a string, we go an find out the DST string for the data. We keep DST related value without much reason.

This Branch : htt

[2017-09-19 14:07] beetfarmer opened #3761 "Construct with new keyword"
How do I put a function on a constructed object and tie my internal object to the instance?  The code

[code]

I am able to get the first line to call a native function as a ctor call with the code..
[code]
I want to have a function on the object (get) that can call to native, but I can't figure how.  I suppose I need to associate a pointer to the instance and define a call back that is assigned t

[2017-09-19 14:29] fatcerberus opened #3762 "API to get value of `new.target` in native function"
It's not currently possible, as far as I can tell, to make a constructor that creates an external object without returning the object directly (i.e. you can't use the default `this`), this leaves me to create the object and then manually set its prototype to `new.target.prototype` in order to support subclassing.  However, that doesn't seem to be possible to do in a JsNativeFunction.

Is there an

[2017-09-19 16:52] akroshg commented on #3759
@chrisrollins thanks for reporting the issue.
This is not a chakracore issue. The support for iterating dom objects have added in RS3 this will be ship soon.
This issue seems dupe of #3229

[2017-09-19 16:55] akroshg commented on #3762
@liminzhu, did we consider this before?

[2017-09-19 17:21] agarwal-sandeep commented on #3678
Closing as this is fixed and available in master.

[2017-09-19 17:21] #3678 closed

[2017-09-19 19:09] fatcerberus commented on #3762
In the absence of this proposed API, for my use case I wonder if it would be possible to fetch the correct prototype from `this.__proto__`.  I'm not familiar enough with ES6 class semantics to know if that would work.

[2017-09-19 19:30] chrisrollins commented on #3759
@akroshg Where should I report JavaScript issues I find in the Edge browser?

[2017-09-19 19:35] digitalinfinity commented on #3759
Hi @chrisrollins thanks again for reporting the issue. In general, if it's a JS issue, this is the right place. However, if it involves the DOM (e.g document.querySelectorAll), it could be an Edge issue instead, in which case we'll redirect you to their bug tracker (For more details, see https://github.com/Microsoft/ChakraCore/wiki/External-Issues).

In this case, it looks like this should be fixe

[2017-09-19 19:36] digitalinfinity commented on #3759
@akroshg please correct me if I'm wrong about the availability of this fix on recent preview builds

[2017-09-19 19:54] simply-jos commented on #3762
You're trying to subclass a "native" class with an ES class?

The "this" object of a native constructor is the constructor of the derived type. If you check if "arguments[0]" has its "prototype" property set, then you know that its extending something.

When you return the object from the constructor, if that property is set, you need to set the prototype of your return value to that instead of th

[2017-09-19 20:09] simply-jos commented on #3762
for the record i believe this is semantically incorrect as far as JS goes, but it's just how ChakraCore calls native ctors

[2017-09-19 20:11] fatcerberus commented on #3762
Right, my issue is that I want to make my native constructors *subclassable*, but if I just return an instance of the native type (as I do now) then `new Derived() instance Base` is false and nothing is inherited.  In order for subclassing to work, the native constructor has to dynamically know what the derived class prototype is (or the value of `new.target`), hence why I thought of pulling it fr

[2017-09-19 20:11] simply-jos commented on #3762
Yes, my proposed solution solves that.

[2017-09-19 20:21] akroshg commented on #3759
@digitalinfinity yes this is available in the recent preview builds.

[2017-09-19 22:38] fatcerberus commented on #3762
Wait, `this` for a subclassed constructor is the derived class?  That doesn't seem right... I thought `this` was always the instance being constructed?

[2017-09-19 22:59] simply-jos commented on #3762
Yeah, that's how it behaves. Like I said, I agree it's semantically wonky.

It would be nice if all this stuff was explicitly passed in as arguments to the callback, and the "this" object was what the user would expect it to be.

[2017-09-19 23:05] dilijev opened #3764 "(1d,P3) Intl-ICU: Collect test262 conformance numbers in various configs"
Configurations for example and as-applies:

WinGlob / ICU
Windows / Linux / (optionally OSX if there's a reason to believe it's different)
ChakraCore / Node-ChakraCore

See https://github.com/bterlson/test262-harness

/cc @jackhorton @digitalinfinity

Note: waiting on completion of the majority of the [milestone 1.7 Intl-ICU tasks](https://github.com/Microsoft/ChakraCore/issues?q=is%3Aopen+is%3Ais

[2017-09-20 07:17] obastemur commented on #3752
@sunggook, could you share a number for `JSON.stringify(xxxx).length` ? In other words, what is the average length of a string that you create there?

[2017-09-20 20:46] fatcerberus commented on #3762
@simply-jos Thanks, you're right about the behavior.  I'm glad someone pointed this out to me; it's not documented anywhere that I can tell, and means that native functions can't actually safely use their `this` binding at all since if it's a `super` call they will end up modifying the derived class constructor instead of the object they're constructing.  That's a pretty big footgun! :footprints::

[2017-09-20 21:01] dilijev opened #3770 "Intl.js: refactor fallback logic to be more general to any platform implementation behavior"
See: https://github.com/Microsoft/ChakraCore/pull/3769#discussion_r140082740

[2017-09-20 21:02] dilijev opened #3771 "Intl.js: General refactoring of `var` to `let` or `const`"
See: https://github.com/Microsoft/ChakraCore/pull/3769#discussion_r140083352

[2017-09-20 21:58] dilijev opened #3773 "intl-icu branch needs an update to bytecode version GUID"
#3750 changed the bytecode version by introducing a new PropertyId via adding to JnDirectFields.h
Since 1.7 (the parent branch) is in RELEASE mode (see lib/Common/ChakraCoreVersion.h), this means we need to update the GUID.

See lib/Runtime/ByteCode/ByteCodeCacheReleaseFileVersion.h

@jackhorton we spoke offline about how to do this.

[2017-09-20 22:35] sunggook commented on #3752
I think it is less than 50 chars. it compares the two objects through JSON.stringify and the comparison function is usually called around 450 times per minute. Fragmentation increased in the xbox background music play around 20 M in 1.5 hours, which crashed the app due to xbox background music memory limit. I don't believe JSON.stringify is sole culprit of this fragmentation issue, but heard (our

[2017-09-21 01:30] dilijev opened #3777 "intl-icu: Fix tests tagged require_winglob so that they run under ICU as well."
These tags will be added in an upcoming PR.

[2017-09-21 01:37] obastemur opened #3778 "test/es6/module-namespace.js: Random CI failure (release/1.7)"
Saw in CI test build. It doesn't repro.. every time.

[code]

Not sure to whom this should be assigned?

[2017-09-21 01:41] obastemur commented on #3778
Related test code;

[code]

It complains about `ns` is being `undefined` ?

[code]

[2017-09-21 01:44] obastemur commented on #3778
This is the expected variable list;
`var names = ["sym0","default","$","$$",.....`

Below; what it should read;
[code]

So, for some reason, instead of reading `$`, reads `undefined` ?

[2017-09-21 06:48] digitalinfinity commented on #3778
@akroshg assigning to you to triage

[2017-09-21 06:52] fatcerberus commented on #3708
I have a feeling the behavior described here https://github.com/Microsoft/ChakraCore/issues/3762#issuecomment-330654786 might be related (`argv[0]` for a native constructor is set to `new.target` rather than `this`).

[2017-09-21 08:58] obastemur commented on #3623
Nothing surprising here. ChakraCore stores string variables in multibyte format. `JsStringToPointer` simply returns a reference to whatever CC has in memory. No copy, no re-formatting.. nothing..

Well, `JsCopyString` does almost everything... re-format, copy...

We've been doing some improvements to Jsrt and more to come. Yet, I wouldn't expect the performance of `JsStringToPointer`.

/cc @curtis

[2017-09-21 15:51] tommyZZM opened #3779 "build: warnning issue after updated xcode9"
OS: macOS 10.12.6
Xcode: 9.0 (just updated)
Command Line Tools (macOS Sierra version 10.12) for Xcode: 9.0

[code]

many of these warning is happen on building

[2017-09-21 21:12] #3759 closed

[2017-09-21 21:15] dilijev commented on #3779
@obastemur Can you take a look?

[2017-09-22 06:48] fatcerberus opened #3786 "NuGet packages for MSVC 2017, XP toolchain"
Current NuGet release is only for MSVC 2015 `v140` toolchain.  miniSphere builds against `v141_xp` for maximum portability, but this prevents me from using the CC NuGet package and forces me to commit the ChakraCore binaries, which are quite large.  This is unwieldy and makes upgrading to new ChakraCore releases painful.

Are there any plans to support MSVC toolchains other than `v140` in NuGet?

[2017-09-22 06:58] obastemur commented on #3779
@tommyZZM this is just a warning right?

[2017-09-22 07:15] rhuanjl opened #3787 "JSCopyString number of parameters changed Wiki is wrong"
The wiki entry: https://github.com/Microsoft/ChakraCore/wiki/JsCopyString states that JSCopyString has 5 parameters.

However this commit which was merged 17 days ago: https://github.com/Microsoft/ChakraCore/commit/f2078fed54fdeca4c3842fbd8d007de2502b06d5
Changed it to 4 parameters.

I'm not sure if this change was intentional, noting that the parameter change breaks things that depend on JSCopySt

[2017-09-22 08:03] obastemur commented on #3787
@MSLaguana could you please update wiki?

@rhuanjl Thanks for reporting this.

[2017-09-22 09:49] obastemur opened #3789 "libwabt: Remove from xplat release builds"
Offline with @Cellule and learned`libwabt` shouldn't be part of xplat release builds.

Opening this issue to track. Assigning myself && @Cellule . One of us should take care of this.

[2017-09-22 12:52] obastemur opened #3790 "perf: JsrtGet/Set property from JsValueRef and more."
Using Jsrt, there is no direct way to use a `JavascriptString` object for property identifier.

`expensive loop` : Get the string from JsValueRef -> Convert to Utf16 -> Lookup / convert to JsPropertyRef... -> etc.. and finally Get OR Set the property!

So.. If we had an interface that accepts JsValueRef, we wouldn't have to do all these stuff.
This alone should change the things for node-chakracor

[2017-09-22 13:03] obastemur commented on #3650
I will rollback the FNV1a from the PR. Sent multiple PRs this week and #3790 ... no need to keep this around.

[2017-09-22 13:03] #3650 closed

[2017-09-22 15:38] liminzhu commented on #3762
@fatcerberus apology for being late to the party. Are you trying to make sure you can extend your native constructor from JS? You'd need to properly set the prototype on the returned external object. Here's an example for the Point class:

https://github.com/Microsoft/Chakra-Samples/blob/f35815c03d601a7bd7e2e306549124540d6d9038/ChakraCore%20Samples/OpenGL%20Engine/OpenGLEngine/ChakraCoreHost.cpp#L

[2017-09-22 15:55] fatcerberus commented on #3762
Yes, I figured it out.  The piece of the puzzle I was missing was that I didn’t know how to get the value of `new.target` so I could find the correct prototype to set.  I didn’t realize that for a constructor call argv[0] was the value of `new.target` rather than `this` (although I suspect that behavior may be the cause of #3708).

[2017-09-22 16:13] MSLaguana commented on #3787
I've updated the wiki to reflect current usage / behavior. Thanks for bringing this to my attention!

[2017-09-22 16:13] #3787 closed

[2017-09-22 16:38] akroshg commented on #3762
@digitalinfinity for fyi

[2017-09-22 17:01] rhuanjl commented on #3623
Does this issue: https://github.com/Microsoft/ChakraCore/issues/3790
replace this one? @obastemur

[2017-09-22 17:21] Cellule commented on #3789
In CommonDefines.h we have the following
[code]

Which means there should at least be no way to access wabt's code because it will be `#define` out, well the ChakraCore part that calls into wabt will be missing. I don't know if the actual code for wabt would still be in there.

What we should do is change `root/CMakeLists.txt`
[code]

[2017-09-22 17:45] akroshg commented on #3375
this should be fixed by #3722

[2017-09-22 17:45] #3375 closed

[2017-09-22 17:48] akroshg commented on #3617
As I understand this issue is resolved bug using the LoadScriptFile.

[2017-09-22 18:31] fatcerberus commented on #3617
@akroshg No, the original bug I encountered was different: Passing a module with no `import` directives to a top-level `JsParseModuleSource()` call (= referencing module record is nullptr) results in a syntax error.

[2017-09-22 19:48] fatcerberus opened #3793 "What’s needed to make dynamic import work?"
In miniSphere at present calling `import(...)` makes the engine segfault while static `import` works just fine, which makes me think I’m missing a callback.  What do I need to do for dynamic imports to work?

[2017-09-23 00:12] MikeHolman commented on #3790
I ran into similar issues with concat strings that are used in property accesses.

For this, I added a `LiteralStringWithPropertyStringPtr`. As the name suggests, it is just a `LiteralString` with an extra pointer field at the end. In case the string is used for property access, we will find/create a `PropertyString` and fill that field.

It seems like this should fit your needs?

Caveats:
This is

[2017-09-23 16:20] fatcerberus commented on #3618
This is a showstopper for me because the filenames are not visible through the debugging API either and my debugger then doesn't know which source file to open.  I've somewhat hacked around it by incrementing an internal script ID whenever I compile a script and using *that* to track the filename, but if a script calls `eval` or `new Function` then I get out of sync.

[2017-09-23 17:58] fatcerberus commented on #3618
It looks like the issue is:
https://github.com/Microsoft/ChakraCore/blob/09ab25c9a4e28dba22d2130ed323ab791676b11d/lib/Jsrt/Core/JsrtCore.cpp#L80

ParseModuleSource calls `CreateSourceContextInfo()` with the url set to `nullptr`.  This should actually be a pretty easy fix, I'll get a PR up soon :)

[2017-09-24 03:12] tommyZZM commented on #3779
hi @obastemur
it seems just a warnning, `ch` is runable after build

[2017-09-24 16:01] obastemur commented on #3623
@rhuanjl yes. Thanks for tagging.

[2017-09-24 16:01] #3623 closed

[2017-09-24 19:20] restarian commented on #3614
Another reason for Object keys to not re-order is that the most useful/relevant properties of an Object are the ones which are added last.  E.g. if a logging tool is printing the first 100 characters of Objects to the screen, it is best to print the properties which are added last sense printing the first 100 characters of known Objects would not be as useful (like jquery or dom Objects which have

[2017-09-25 05:32] fatcerberus commented on #3700
@obastemur Is the above the reason I get a `JsErrorWrongThread` error on Unix platforms when destroying and then immediately creating a new runtime/context pair?  I should note that the aforementioned shutdown/init cycle works fine in Windows, but not in Linux or macOS.

[2017-09-25 10:37] obastemur commented on #3700
@fatcerberus runtime model is a bit different among ChakraCore Windows and *nix. Is it reasonable to assume that on your use case, aprox. 10 CC threads are up at a time?

[2017-09-25 11:03] obastemur commented on #3789
@Cellule Thanks for details.

Indeed but we force load the libs hence it's part of the binary release :/

#3788 should take care of this.

[2017-09-25 11:13] obastemur commented on #3790
@MikeHolman `LiteralStringWithPropertyStringPtr` looks promising for what I need. Besides, If I'm not mistaking.. it comes with an extra unused `8 bytes` `sizeof(LiteralStringWithPropertyStringPtr) == 40` that I can use it for Jsrt front caching purposes (experiment.. may not show up at v1 or ever)

I'm already looking into it. Thanks for pointing this out!

[2017-09-25 13:20] fatcerberus commented on #3700
No, miniSphere is single-threaded.  There is only ever one runtime/context pair at any given time and it’s only accessed by a single thread.

[2017-09-25 13:23] fatcerberus commented on #3700
@obastemur Additional note on above: The JsErrorWrongThread error for me is 100% reproducible, happening every single time I destroy the runtime/context and then recreate them.  There is never a case where sometimes it succeeds and sometimes not, which indicates it’s not a race condition.

[2017-09-25 14:22] obastemur commented on #3790
Noticed the `ConvertString` calls depend on source string ptr size. Not sure if this is going to be an issue.

https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/Lower.cpp#L15254

This looks like the only direct use of `PropertyString` instead of a `PropertyRecord`

[2017-09-25 14:26] obastemur commented on #3700
@fatcerberus We are still talking about the same problem, right? The one you got was related to `stack memory starvation`. Do you have another case that you receive `JsErrorWrongThread` (with a single thread)? OR, (as you mentioned) you always have max 1 active thread at a time and you still got this error?

[2017-09-25 14:31] fatcerberus commented on #3700
@obastemur Sorry for the confusion, the OP had a different issue, I just wondered if mine was related to the same root cause.

[2017-09-25 14:34] obastemur commented on #3700
Yes, your issue is not the same. You might want to destroy the use a separate thread for the second runtime? Please file a separate issue and lets see how we can improve the experience there.

[2017-09-25 14:41] fatcerberus opened #3797 "Destroying and then recreating a runtime/context fails with JsErrorWrongThread"
The equivalent of the following pseudocode works in Windows but fails on *nix (at least Linux and macOS) with `JsErrorWrongThread`:
[code]

This happens for me even though my engine is single-threaded and the runtime/context is therefore never called from a different thread.  miniSphere has a function to restart the engine and I want to create a fresh runtime when that happens so that globals from

[2017-09-25 16:45] fatcerberus opened #3798 "Calling JsInitializeModuleRecord a second time creates a new record"
According to documentation, JsInitializeModuleRecord() will return the already existing module record if the same normalized specifier is passed in twice.  Parsing source for an already-loaded module will then return an "already parsed" error, which should be enough to ensure only one instance of a module ever gets created.  There were a few cases, however, where I noticed I was loading the same m

[2017-09-25 17:07] liminzhu commented on #3568
Shall we tag this as accepting PR? @akroshg

[2017-09-25 17:15] fatcerberus commented on #3793
After some digging I figured out that I need to define a FetchImportedModuleFromScript callback.  However, that doesn't solve the problem of `import('module')` from global code, which still causes a segfault.  How do I set a fetch from script callback for global code?  I need a module record to set the callback.

[2017-09-25 20:27] dilijev opened #3800 "Intl-ICU: call u_setDataDirectory assuming a default location of packaged ICU data file."
Minimal sub-task of #3755

See: http://userguide.icu-project.org/icudata#TOC-ICU-Data-Directory

[2017-09-25 20:31] dilijev opened #3801 "(2h,P1) Intl.js fallback: platform.getDefaultTimeZone"

[2017-09-26 00:03] dilijev commented on #3691
Tracking as part of #3644

[2017-09-26 00:03] #3691 closed

[2017-09-26 15:02] fatcerberus commented on #3617
@akroshg Can this issue be reopened?  The problem is still present in CC 1.7.2.

Repro:
[code]

At this point `err` is JsErrorScriptCompile and `exc` refers to a SyntaxError with no message.

[2017-09-26 15:05] obastemur commented on #3617
@akroshg not sure who to assign, so assigned it to you :)

[2017-09-26 19:17] obastemur commented on #3282
Current hashing we use for pointers

[code]

Which is noted as `bad` for recycler allocated pointers (aligned to 16..)

[code]

Since we use `PrimePolicy` hence the X for `MOD X` is a prime... any objections for using `reinterpret_cast` to generate hash from PTR?

[2017-09-26 19:19] obastemur commented on #3282
/cc @digitalinfinity @MSLaguana @Penguinwizzard

[2017-09-26 19:45] dilijev opened #3810 "(4h,P2) Enable (a subset of) Intl tests in Node-ChakraCore"
@jackhorton Some Intl.NumberFormat tests (etc.) should pass at this point, but not all tests. Depending on a variety of factors, it may not yet make sense to do this. If so, we can delay this work.

/cc @digitalinfinity

[2017-09-26 19:45] dilijev opened #3811 "(1d,P3) Enable Intl tests in ChakraCore Linux --with-intl builds"

[2017-09-26 19:48] dilijev commented on #3676
Closed in https://github.com/nodejs/node-chakracore/pull/394

[2017-09-26 19:48] #3676 closed

[2017-09-26 20:17] Cellule commented on #3778
Make sure to re-enable the test once fixed, see #3808

[2017-09-26 21:02] Penguinwizzard commented on #3282
In any case, we should probably be using uintptr_t instead of size_t there...there's systems where size_t is significantly shorter than uintptr_t. There's other problems with hashing off of pointers than just the alignment issues, though. There's not all that much entropy in them; we get maybe 4 bits of actual entropy if they're allocated over the same few hundred kilobytes of memory. Is there a g

[2017-09-26 23:03] t-sauer opened #3816 "Class methods cannot be called static"
Currently it seems to not be possible to name a regular (non static) class method `static`. Edge errors out with `Expected identifier, string or number` so I assume that it gets interpreted as the static keyword instead of the method name.
I've encountered this problem in Edge 15 and the Edge 16 preview.

Here's a small reproduction:

[code]

I am not 100% sure if the name is allowed, but it seems

[2017-09-26 23:53] akroshg commented on #3816
If I read correctly from https://tc39.github.io/ecma262/#sec-class-definitions
[code]
[code]

Here the PropertyName does not seem to be optional.

@tcare @bterlson can you take a look?

[2017-09-27 00:00] Cellule commented on #3778
Related OS#12970055

[2017-09-27 00:14] akroshg commented on #2949
Module with class syntax, assigning to @tcare

[2017-09-27 00:36] akroshg commented on #3793
could you share the stacktrace? or what arguments you got?
from the ch.exe I can see that
[code]
is called when I do
[code]
Eventually FetchImportedModuleHelper will make a call to the JsInitializeModuleRecord.

[2017-09-27 00:37] akroshg commented on #3793
module1.js
[code]

[2017-09-27 00:39] fatcerberus commented on #3793
Right, but how does that work for global code which has no module record?  What do I define the callback on?  i.e. What do I pass to JsSetModuleHostInfo?

[2017-09-27 00:46] akroshg commented on #3793
I think this has native example on how to do that.
[void ModuleSuccessTest(JsRuntimeAttributes attributes, JsRuntimeHandle runtime)
](https://github.com/Microsoft/ChakraCore/blob/master/bin/NativeTests/JsRTApiTest.cpp#L1929
)

[2017-09-27 00:46] fatcerberus commented on #3793
I don’t have the stack trace handy at the moment, but I can post it later.  I do know that it ends in a call to a null function pointer (0000000000000000 in stack listing), however.

[2017-09-27 00:56] akroshg commented on #3798
@fatcerberus thanks for reporting this.
I may be wrong but that seems like the host has to confirm what spec says.
According to spec
https://tc39.github.io/ecma262/#sec-hostresolveimportedmodule

- This  operation must be idempotent if it completes normally. Each time it is called with a specific referencingModule, specifier pair as arguments it must return the same Module Record instance.

This i

[2017-09-27 00:59] fatcerberus commented on #3793
@akroshg That code example you showed runs the test code as an ES module.  In my case I need to know how to set the callback to be used when import() is encountered in traditional (non-ESM) code.  That works in ch.exe but I can’t figure out how.

[2017-09-27 01:03] fatcerberus commented on #3798
I was referring to the IntelliSense documentation, specifically this line:
https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/ChakraCore.h#L114-L115

I see there’s a note there now which says not to call it twice for the same specifier, which I don’t remember seeing in my copy.  Even so it explicitly states the existing record will be returned in that case, which isn’t the behavior I’m s

[2017-09-27 01:38] akroshg commented on #3617
It seems like JsModuleHostInfo_NotifyModuleReadyCallback is missing.
I modified your code as below and this should work

[code]

[2017-09-27 01:40] akroshg commented on #3798
may be documentation error (@liminzhu ? )
But the host (the callback for JsModuleHostInfo_FetchImportedModuleCallback) should sanitize the specifier before calling the JsInitializeModuleRecord.

[2017-09-27 02:08] fatcerberus commented on #3617
That's interesting.  I didn't set a NotifyModuleReadyCallback in my engine because I load modules synchronously, but it's weird, if you add an import to the test code then it succeeds with no error, even without the callback being set.

[2017-09-27 02:15] fatcerberus commented on #3798
Yes, I already normalize the specifier against my sandboxed file system.  I just didn't think I had to track module records because the documentation seemed to suggest Chakra would do so automatically.  If that's not the case in reality then I can adapt :)

[2017-09-27 12:24] t-sauer commented on #3816
@akroshg It is not about an optional name of a static method. It is about a regular (not-static) method, that is called `static`.

[2017-09-27 14:59] fatcerberus commented on #3816
Looking at the ES spec it seems that `static` is not a reserved word but is treated as one only contextually similar to `yield` and `await`.  So a method named “static” should be legal as it satisfies *PropertyName* in the MethodDefiniton production.

[2017-09-27 16:17] MSLaguana commented on #3282
It looks like that comment may be somewhat outdated: When we build 64bit, arena allocations are also 16 byte aligned, and so that bit shift would be masking off some 0s. What are you proposing? Do you suggest that instead of bitshifting, we just directly take the value of the pointer as the hash?

Is this still required after your changes to hashing in general?

[2017-09-27 16:34] obastemur commented on #3282
Yes.

My changes (so far) were not related to this particular issue.

[2017-09-27 16:41] akroshg commented on #3793
@fatcerberus let me write a sample code and get back to you.

[2017-09-27 16:52] akroshg commented on #3816
hmm, makes sense to me. I'll let @tcare chime in.
Also to verify that if we have a test262 test cases for this

[2017-09-27 17:30] tcare commented on #3816
You are correct, this is a spec update we missed. There are also some scattered unit tests that have the wrong definitions of keywords/reserved words after the change, I'll check those out as well.

[2017-09-27 17:42] akroshg commented on #3793
@fatcerberus below code seems to work. Although you still need to lay down channel for **promise** handling as the import(...) will return a promise.
[code]

[2017-09-27 17:53] fatcerberus commented on #3793
Oh, so you pass a `nullptr` as the specifier to get a module record for global code.  I didn’t realize that was legal.

[2017-09-27 17:53] fatcerberus commented on #3793
Thanks @akroshg!

[2017-09-27 17:57] akroshg commented on #3793
I am assigning this issue to @liminzhu in order to modify the documentation in order to satisfy dynamic import.

[2017-09-27 18:28] liminzhu commented on #3798
I dug through the source code a bit. It doesn't not seem like we are returning an existing moduleRecord if `JsInitializeModuleRecord` is called twice on the same parent+specifier. On the second time, we do create a new module record, but we [skip setting the parent/child module dependency on our record](https://github.com/Microsoft/ChakraCore/blob/d2d1fe52d36e2a6134a6548c3d7826afa4eccd49/lib/Runti

[2017-09-27 18:56] obastemur opened #3821 "perf: calls to native land is slow [investigate]"
Opening this item to track a performance issue.

Issue:
Calling a method defined on C land is slow.

i.e. an example C method.
[code]

No surprise. Expectedly, `call to native land` process takes time.

Can we make it better?

[2017-09-27 19:19] fatcerberus commented on #3798
For the record I ended up just initializing all my module records as root modules because child modules were glitchy in general.  For example initializing a dynamic import() as a child module never calls the ModuleReady callback so the promise never resolves.  And then there’s #3638...

[2017-09-28 01:20] digitalinfinity opened #3827 "Async-await difference between ChakraCore and v8"
The following code behaves differently between Chakra and v8:
[code]

In ChakraCore's case, we see the following output:
[code]

In v8's case, we see the following output:
[code]

Basically, v8 calls then with resolve and reject in one step, whereas ChakraCore calls it in two (then followed by catch which calls then). It appears that this behavior also trips up zone.js (if you use zone.js with the

[2017-09-28 02:43] chris70c opened #3828 "Edge javascript slowdown"
This test program takes about 300ms in both Chrome (canary 63) and Firefox (Nightly 58.0a1) and slightly less using a worker.
In Edge (EdgeHTML 15.15063) it takes about 13 seconds and the worker version never prints anything at all.

You can find the test program here:
http://www.neoartcr.com/edge_test/index_worker.htm
http://www.neoartcr.com/edge_test/index_noworker.htm

Keep the console open to

[2017-09-28 05:23] pallammadhukar commented on #1563
Hi,
Is this is possible now "external tools for debugging JS code in apps with embedded ChakraCore in Desktop application?"

I am trying to debug Javascript of windows desktop application in Windows Machine?

Thanks,
Pallam

[2017-09-28 08:34] s4sarishma commented on #496
Hi @dilijev, Are you still looking for a fix for this issue?

[2017-09-28 15:10] obastemur commented on #2549
I will not hold this any longer. GCC latest support version has decent amount of C++11 features available. As long as we use stuff from C++11, it won't do any harm on any potential GCC work.

[2017-09-28 15:11] obastemur commented on #2549
/cc @Penguinwizzard

[2017-09-28 15:25] obastemur commented on #3828
I saw the worker.js but honestly I didn't try on console. Is it fair to ask you for a reduced version of this issue (into a single JS file)? That could help me (potentially others) to inspect this problem sooner!

@chris70c Thanks for sharing this issue with us anyways 👍

[2017-09-28 16:23] akroshg commented on #3828
@chris70c I ran this scenario (http://www.neoartcr.com/edge_test/index_noworker.htm) and I get around ~800ms.
When you open F12 the Edge goes to debug mode which slows things down a bit.
In **F12**
go to **Debugger** tab and click on the **unplug** icon (The tool tip says, **debugger connected click to disconnect**). Can you run the scenario after that?

[2017-09-28 17:25] Penguinwizzard commented on #2549
I'm definitely in support of this move. The last thing that may be an issue is people who depend on building ChakraCore for Windows 7; I asked on the gitter to see if there's any (no response yet), and I'll leave the PR to make this change open for at least a week in the hopes that anyone who needs it will respond there.

[2017-09-28 17:58] digitalinfinity commented on #2549
@matthargett @rozele does React Native for Windows need ChakraCore to compile with VS 2013?

[2017-09-28 18:46] fatcerberus commented on #3612
Still getting this in MSVC 2017 v15.3.5 when building x64 Release.

[code]

[2017-09-28 19:15] angshuman opened #3831 "Collected exception even after AddRef was done"
I have the following pattern of code in JS

[code]

In the managed code I am doing AddRef on the callback.

[code]

While calling CallFunction I am getting the following exception. Please note that **AddRef** is done on 'callback'

Managed Debugging Assistant 'CallbackOnCollectedDelegate'  occurred
  Message=Managed Debugging Assistant 'CallbackOnCollectedDelegate' : 'A callback was made on a garb

[2017-09-28 19:38] MikeHolman commented on #3612
I've seen these before, and I think they are generally to do with incremental linking being buggy. Whenever I see this, doing a rebuild or clean+build fixes the issue. Did that not work for you?

[2017-09-28 19:50] dilijev commented on #496
@srs88 Sure! Want to take a crack at it?

[2017-09-28 19:51] dilijev commented on #2549
@curtisman Do you have any further concerns?

[2017-09-28 20:00] fatcerberus commented on #3612
Yes, full rebuild fixed the issue.  I guess I never run into this because I habitually disable incremental linking in my own projects.

[2017-09-28 20:53] ljharb commented on #3520
This is stage 3, and I'm hoping to seek stage 4 in November or January; any update on this?

[2017-09-28 21:01] liminzhu commented on #3831
Did you pin down `CSharpFunction` ? If not, you can try

[code]

[2017-09-28 21:19] liminzhu commented on #3761
Thanks for opening the issue @beetfarmer !

Do you want to define a native function on a class of objects or a specific instance? If latter, you have the right idea to grab the JsValueRef of the instance and set the native function as a property. If former, you need to set the native function as a property of the prototype. As an [example](https://github.com/Microsoft/Chakra-Samples/blob/master/Ch

[2017-09-28 21:23] liminzhu commented on #3748
Some previous conversations here https://github.com/Microsoft/ChakraCore/issues/2541

[2017-09-28 22:14] angshuman commented on #3831
Yes, the CSharp function is pinned down to a private JavaScriptNativeFunction.

That's what is strange. Here I am calling into a function that was defined in JS in Chakra. So why does the exception point to a NativeFunction. I am already inside the native function when calling this callback.

[2017-09-28 22:42] angshuman commented on #3831
I found the issue. It was caused by calling to another NativeFunction from the callback code. False alarm.

[2017-09-28 22:42] #3831 closed

[2017-09-29 00:30] chris70c commented on #3828
obastemur: it is already a single js file the main.js is to launch the worker, nothing else; unfortunately I can't make the code any simpler 'cause is part of a C=64 sid emulator that I'm writing and that is the filter tables creation.

akroshg: even with the debugger unplugged I still get ~920ms seconds, still 3 times slower than Chrome/Firefox and the worker version still doesn't print anything

[2017-09-29 00:32] chris70c commented on #3828
btw, is the SharedArrayBuffer available in Edge 15.15063 with the experimental flag enabled?

[2017-09-29 01:12] MikeHolman commented on #3828
Yeah, pretty sure SAB is under experimental flag in Edge 15.

Regarding webworker case never printing, I vaguely remember reading something about console.log not working inside webworkers in Edge. I think that may be an Edge bug though rather than Chakra bug.

I took a quick look at the JS file, and it looks like the big bottleneck is creating `new Point()` inside of `evaluate`.

Replacing `const