[2016-08-06 00:52] #928 closed

[2016-08-06 01:00] dilijev commented on #1282
Closing as duplicate.

[2016-08-06 01:00] #1282 closed

[2016-08-06 01:04] dilijev commented on #1280
Closing question as answered, but feel free to comment if you'd like to discuss further.

[2016-08-06 01:04] #1280 closed

[2016-08-06 01:04] dilijev commented on #1274
Closing question as answered, but feel free to comment if you'd like to discuss further.

[2016-08-06 01:04] #1274 closed

[2016-08-06 01:05] dilijev commented on #1179
Closing question as answered, but feel free to comment if you'd like to discuss further.

[2016-08-06 01:05] #1179 closed

[2016-08-08 16:12] #1348 closed

[2016-08-08 18:44] bterlson opened #1402 "Date.parse for dates like "Wed Jul 20 23:31:54 +0000 2016""
Spidermonkey and V8 both support date formats like the in the subject.

Twitter is using this format on their mobile site with some UA strings so we should support it as well

[2016-08-08 21:21] dilijev commented on #1402
Is this something which we should expect could be added to the spec at some point?

[2016-08-09 01:36] bterlson commented on #1402
@dilijev Indeed, there is work toward such a thing: https://github.com/mrrrgn/proposal-date-time-string-format.

[2016-08-09 02:02] dilijev commented on #1308
Fixed in #1404

[2016-08-09 02:03] #1308 closed

[2016-08-09 02:22] dilijev opened #1406 "[OSX, Ubuntu] [master] {debug} array_slice.js test timeout caused build failure"
Intermittent test timeout in `Array/array_slice.js`

# OS X

Multiple instances:

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/osx_osx_debug_static/9/consoleText

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/osx_osx_debug_static/11/consoleText

[code]

# Linux

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_ubuntu_linux

[2016-08-09 02:28] dilijev opened #1407 "[Windows] [master] {x86_test} Test timeouts causing build failure"
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/x86_test/391/consoleFull

[code]

[code]

https://github.com/Microsoft/ChakraCore/wiki/Jenkins-Repro-Steps#windows

[2016-08-09 10:15] oscar-b opened #1408 "Intl.DateTimeFormat incorrect formatting of date"
Compare the outputs from Chrome:

[code]

Chrome v51

[code]

Edge 25.10586.0.0 EdgeHTML 13.10586

[code]

If you specify Swedish (sv-SE) locale it gets even worse in Edge:

[code]

Chrome:

[code]

I concider the output from Chrome to be more correct.

[2016-08-09 17:04] digitalinfinity commented on #1406
@obastemur can you take a look and see if there is flakiness with this test on OS X?

[2016-08-09 17:24] bterlson commented on #1402
@dilijev I wouldn't say this is "pending" anything or "spec changed" anything, yet. I didn't clarify but this bug is coming from the Edge folks who are seeing it in the wild. We should add support for this regardless of where the proposal ends up (and, certainly, the proposal should include this format).

[2016-08-09 18:59] dilijev commented on #1402
@bterlson fair enough. Compatibility is enough of a tag. I just wanted to track if this was related to an ES Spec change (possibly future).

[2016-08-09 20:14] bterlson opened #1409 "Incorrect error message for missing symbol methods"
For example:

[code]

Actual: TypeError: Object doesn't support property or method 'ToString'
Expected: Object doesn't support property or method 'Symbol.iterator'

Or we could go with an error message similar to v8 and sm:

obj[Symbol.iterator] is not a function

[2016-08-09 22:15] dilijev commented on #1408
Confirmed differences with Edge 38.14393.0.0 EdgeHTML 14.14393, Chrome 52.0.2743.116, Chrome 54.0.2824.0-canary.

/cc @bterlson @digitalinfinity who may have context about Intl and standards.

[2016-08-09 22:57] bterlson commented on #1408
From a standards perspective, we are free to provide whatever formats we find appropriate (so there is no guarantee of interoperability between different runtimes or the same runtime on different platforms for example). However, this output is clearly not correct :-P

[2016-08-09 23:01] dilijev commented on #1409
/cc @tcare who has been working on `Symbol.toStringTag` which is where I assume that error message is coming from

[2016-08-10 00:27] DemiMarie opened #1410 "An idea for tail calls"
I think ChakraCore could implement tail calls without an undue performance penalty by using explicit frame pointers.  As I understand it, LLVM _does_ support proper tail calls on Windows x64 (and does so even with separate compilation – so LLVM cannot just preallocate space in the caller, since it doesn't know the amount of stack space the callee will need).  Therefore, LLVM must be able to emit p

[2016-08-10 00:34] DemiMarie commented on #1042
Can this be handled using memcpy?

[2016-08-10 00:41] DemiMarie commented on #29
Why is `__proto__` of built-ins writable to begin with?

[2016-08-10 08:23] oscar-b commented on #1408
The missing `/` separator between day/month is clearly not correct, as you say. The Swedish locale that adds "den" is more debatable I guess, it's not wrong but it can get quite long compared to other locales. Most locales I could find doesn't use a word there (the form is more appropriate in running text).

[2016-08-10 08:32] dilijev commented on #1408
@oscar-b Thanks for explaining the difference in form between running text and written dates. Makes sense. I think that the word choice is a globalization issue which is External to ChakraCore, but we will pass on the information to the right people. As for the missing slash, I think that might be something we can fix in ChakraCore (as it seems locale-independent).

Note: the separator `/` is also

[2016-08-10 14:24] obastemur commented on #1353
Closing this one as sample shows the right usage. On Linux/OSX, consumer of the shared library needs to call DllMain explicitly (as shown from the sample on the link above)

[2016-08-10 14:24] #1353 closed

[2016-08-10 17:36] Tragetaschen opened #1415 "Function.prototype.call returns the function itself instead of the real return value"
I have convinced myself, that I am looking at an optimization issue in EdgeHTML 14. The most annoying part is, that it doesn't reproduce when the F12 tools are open.

I'm building an application including the new d3 version 4, angular2, and core-js' es6 modules (amongst other things). Everything is bundled with webpack. I have tried to reduce the problem by editing the webpack-generated JavaScript

[2016-08-10 18:39] dilijev commented on #1415
@Tragetaschen would you mind providing a jsfiddle or some other mechanism by which we can run the full repro to confirm the issue (and later confirm whether we have fixed it)?

[2016-08-10 19:02] curtisman commented on #1262
@Yongqu Didn't you implemented the optimization for canvas width/height getter?

[2016-08-10 21:30] Tragetaschen commented on #1415
I was hoping for 'yeah, that's known problem x and a solution is in flight', but the second best thing is 'looks like an actual bug' so the time for the next steps is well spent.

I'll do my best to reduce it tomorrow.

[2016-08-10 22:58] dilijev commented on #1415
@Tragetaschen also, can your provide the OS version e.g. 10.0.x.y, Edge version e.g. 38.x.0.0, and EdgeHTML version e.g. 14.x?

[2016-08-10 23:12] dilijev opened #1417 "[Ubuntu] [master] {debug} allocation*.js test timeouts."
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_ubuntu_linux_debug_static/31/console

[code]

[2016-08-10 23:12] dilijev commented on #1417
I'm tracking a similar issue with these tests on Windows internal builds. Assigning this to myself for now.

[2016-08-11 00:32] steveklabnik opened #1418 "Build not working on Debian Stretch"
Hey all! Trying to build Chakra this evening on Debian Stretch:

[code]

Whew! I didn't see anything about this on the tracker, and a search also doesn't come up with anything. Any ideas? Happy to answer any questions, or do anything else that lets me help you help me :smile:

[2016-08-11 10:46] Tragetaschen commented on #1415
OS:  1607 / 14393.51
Microsoft Edge 38.14393.0.0
Microsoft EdgeHTML 14.14393

This is WEIRD!
I have reduced the problem somewhat to the following entry point snippet from my webpack build:
[code]

`var continuous` at (1) is d3's `continuous.js` default export, my AppComponent is as bare as it can get (see below), the call at (5) is my sentinel, that screws up the internal state or doesn't.

In tha

[2016-08-11 11:20] Tragetaschen commented on #1415
It doesn't get better:

[code]

I'm able to remove remove the `bootstrap` call at (4) (which kind-of removes the Angular dependency). Then, I have to increase the loop at (3) to 1000 to make it fail reliably.

I tried to narrow down that number, but when I thought I had a good pair I noticed that with each refresh of the page I get a different result: With a loop counter of 600, sometimes the sent

[2016-08-11 12:15] obastemur commented on #1418
@steveklabnik `Debian Stretch` is still a `test release` of Debian right? I had tested with 8.5 recently.

Error is related to missing exception functionality within the c++ library. Did you install all the stdlibc++ etc. packages ?

[2016-08-11 12:21] obastemur commented on #1406
That particular test takes 14 seconds on a 2.9Ghz Quad Core macBook pro. When the CI is busy (probably sharing the same physical machine for many others) this test takes much longer time to complete.

[2016-08-11 14:21] steveklabnik commented on #1418
Yeah, it's the current testing release. It's the one coming after Jessie, the current actual release, 8.5.

I installed `clang`, which installed `clang++`, so I assumed so. I was trying to adapt from the ubuntu list, maybe there's one I missed? I should have stuff on my system for this; I build LLVM on a semi-regular basis on this machine. Hmm....

[2016-08-11 14:29] steveklabnik commented on #1418
Ah ha! So, I had the `libstdc++6` package installed, but apparently, I also needed the `libstdc++5` one. With that, it builds.

Thanks so much!

[2016-08-11 14:29] #1418 closed

[2016-08-11 14:42] Tragetaschen commented on #1415
I have created https://github.com/Tragetaschen/ms-edge-d3-scale-issue-1415

I'm able to either fail (1000 iterations) or succeed (100 iterations) depending on what is active in `main.js`.

I have tried to reproduce this without without relying on `vendor.js` and webpack's `CommonsChunkPlugin`, but apparently, this file split seems to be a requirement as well.

[2016-08-11 17:27] dilijev commented on #1406
@obastemur That sounds about right. My feeling is that 14 seconds on a reasonable non-busy machine is still too long. @ianwjhalliday do you concur?

[2016-08-11 17:42] dilijev commented on #1415
This sounds like it could be something weird happening with JIT, code size, or hosting.

Maybe @pleath and @yongqu could weigh in?

[2016-08-11 21:07] dilijev opened #1424 "Add build and test logs archival for Linux and OSX Jenkins tasks"
Windows tasks archive build and test logs:
https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/x64_debug/

Linux and OS X don't have their jobs configured to collect logs from the correct locations so we're seeing no saved logs:
https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/shared_ubuntu_linux_debug/

[2016-08-11 21:14] #1406 closed

[2016-08-11 21:14] #1417 closed

[2016-08-11 21:51] dilijev opened #1425 "[Tests] Add test timeout *warning* at a lower threshold than *error* so we can detect test runtime regressions before they start causing errors."
Converted from a Discussion issue. See discussion below for task proposal.

---

Our unit tests are intended to be functional tests, not performance tests, so to some extent we don't really care how long they take as long as we get a pass or fail result in a reasonable amount of time. For practical reasons, we added a timeout to catch tests if they start to take a long time or if a test is introdu

[2016-08-11 23:59] ianwjhalliday commented on #1425
A very low threshold warning and a higher timeout would be reasonable.  We want to guard against adding slow tests, but can't control the resource performance of all machines and so should give some breathing room for the actual timeout.  A warning + timeout would give us that.  However, it would also add noise on low performance machines where tests consistently run longer than the warning thresh

[2016-08-12 00:14] dilijev commented on #1425
@ianwjhalliday Cool. Sounds good. Although someone needs to actually implement the warning system. I imagine it would be the same as the timeout error except that it emits a warning instead of an error, and would use a different tag name like `<timeout-warning>` to override the default?

[2016-08-12 01:16] Cellule opened #1427 "Wasm: Trunc/Nearest ChakraFull build failure"
It seems `trunc` and `round` are not available in the version of `math.h` we use in ChakraFull. See `GetNonTableMethodAddress` in JnHelperMethod.cpp
#1316
I will be disabling the feature until we resolve the issue.

[2016-08-12 06:07] dimant opened #1428 "documentation is broken"
https://developer.microsoft.com/en-us/windows/iot/docs/StartCoding.htm and a whole bunch of other IoT doc pages are PageNotFound :(

[2016-08-12 09:09] humeafo opened #1429 "compilation failed for code page issues"
chakra compilation failed on chinese version of windows 10 with vs2015 update3, following errors shown:

lib\Runtime\Library\JavascriptPromise.cpp : warning C4819: The file contains a character that cannot be represented in the current code page (936). Save the file in Unicode format to prevent data loss

this can be seen in:

https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library

[2016-08-12 14:18] qina16 opened #1432 "JavaScript Performance issue"
When parse large amount of data with JSON format (10MB) to Browser, IE11 takes more than 5 minutes to load the screen, but Chrome and FF on the same client can load it with 10-20 seconds.

[2016-08-12 14:47] Tragetaschen commented on #1415
OS: 1511 / 10586.494
 Microsoft Edge 25.10586.0.0
 Microsoft EdgeHTML 13.10586

The application breaks the same as on my 1607 machine. I didn't fully verify that it's actually the same problem, though. On that machine, there is Firefox, that works just fine with my application.

[2016-08-12 15:18] munyirik commented on #1428
cc @ivorb
The site was reorganized and that broke a lot of links (and the old links don't redirect). Which page has that broken link?

The new link to IoT samples is: https://developer.microsoft.com/en-us/windows/iot/samples
The new link to IoT docs is: https://developer.microsoft.com/en-us/windows/iot/Docs

[2016-08-12 16:11] dimant commented on #1428
I find it very difficult to find the docs I am looking for in the URL you
shared. Where do I find the new location for this information:
https://developer.microsoft.com/en-us/windows/iot/win10/lightningproviders

thanks,
Diman

On Fri, Aug 12, 2016 at 8:19 AM, Mũnyĩrĩ Kamau <notifications@github.com>
wrote:

[2016-08-12 16:18] munyirik commented on #1428
@msalehmsft where's the new page for lightning providers?

@ivorb could you fix the link? If I search for 'lightning' on the main page the first link is the broken link.

[2016-08-12 16:21] obastemur commented on #1428
@dimant thanks for reaching out and @munyirik thanks for following up.

Opened a new issue at https://github.com/ms-iot/content/issues/956

Closing this one from here as it is not related to ChakraCore.

[2016-08-12 16:21] #1428 closed

[2016-08-12 18:26] liminzhu commented on #1432
Thanks for the input @qina16 . Unfortunately development for IE11 is pretty much limited to security updates, and the browser and JS team has been focusing on Microsoft Edge since it rolled out with Windows 10. As you can imagine, as a result IE11 performance now is not on the same level as the latest Edge/Chrome/FF, and I'd recommend you use and test against Edge which has the latest language sup

[2016-08-12 20:17] bterlson commented on #1432
Closing this (JSON.parse is much faster in Edge, perf improvements wont-fix IE11).

[2016-08-12 20:17] #1432 closed

[2016-08-12 21:43] ianwjhalliday commented on #1406
The test runs in about 12 seconds on my work desktop (Xeon E5-1620 3.6 GHz).

The reason it takes so long is that it has a loop from zero to one million setting an array's elements all to zero.  With JitLoopBody on, this happens much quicker, running around 1 second on my machine, but we run this test in the interpreted variant where `-nonative` is specified.

I tried removing the initializing loo

[2016-08-12 22:39] #1244 closed

[2016-08-13 00:40] ianwjhalliday commented on #1429
I vote for removing the chevron symbol.
@humeafo have you made this change already and verified it works?  Feel free to submit a PR for it.

[2016-08-13 04:08] humeafo commented on #1429
yes, I tested after removing it then build succeeded. another solution maybe replace "»"  with ascii ">>".

[2016-08-13 09:58] ninlar opened #1435 "Add native support for TypeScript."
I know this would require a massive amount of work in ChakraCore, but a man can dream right?

It would be great if ChakraCore could run scripts written in TypeScript without having to first transpile it to JavaScript. This would have an additional benefit: it could perform better. I imagine the JIT compiler could potentially produce better optimized native code, if the user doesn't litter their Ty

[2016-08-13 15:14] Fishrock123 opened #1436 "OS X, many CSSM_* errors"
These appear on OS X 10.10.5

[code]

[code]

[code]

[code]

[2016-08-13 15:41] obastemur commented on #1436
Looks like we have `-Wno-deprecated-declarations` flag is set for Windows, however we don't have it on CMAKE.

Since I'm unable to reproduce the problem, could you please try adding that flag into https://github.com/Microsoft/ChakraCore/blob/master/CMakeLists.txt#L127-L128 ?

[2016-08-13 16:11] Fishrock123 commented on #1436
@obastemur That appears to turn them into warning and the compilation gets further.

e.g.
[code]

---

Now I'm getting this:

[code]

I'll try turning on `-Wparentheses-equality` too.

[2016-08-13 16:15] Fishrock123 commented on #1436
Hmm, `-Wparentheses-equality` didn't seem to fix the second error, any suggestions?

[2016-08-13 16:20] obastemur commented on #1436
How about '-Wno-parentheses-equality' ?

[2016-08-13 17:11] Fishrock123 commented on #1436
That works.

I would PR this but I'm unlikely to figure out my CLA situation over the weekend, you may as well do it. :/

[2016-08-13 17:19] obastemur commented on #1436
IMO this can wait couple of days and hoping to see your PR. Thanks for the effort!

[2016-08-15 18:24] dilijev commented on #1415
@Tragetaschen Thanks for the additional info!

[2016-08-15 18:55] dilijev commented on #1435
This is something we have talked about within the team. As you say, it would be a massive amount of work. If we believed that amount of work would have a correspondingly great benefit for our customers, we would absolutely target this goal. Here's a few reasons we have decided not to, for now:

* We are committed to web standards, and TypeScript is not a web-standard language at the moment, nor is

[2016-08-16 04:34] Fishrock123 opened #1441 "Is it "safe" to link to libChakra.Jsrt.a?"
I'd like to link Chakra to use it via Rust, but Rust can't read headers so I need to get Symbols directly.

I see Symbols for all the APIs in the archive, but they all are prefixed by an underscore. Are these stable? Should I expect them to change or anything else?

[2016-08-16 06:06] dilijev commented on #1441
We export a flat C API to make it easy for other technologies to link against ChakraCore. The flat C API also avoids the name mangling that you would see with C++ symbols. You can consider the symbols exported as of any official ChakraCore release (e.g. release/1.2) to be stable -- and they will be maintained into the future.

The following is not guaranteed, but we also try our best to make sure

[2016-08-16 06:11] sankha93 commented on #1441
Yes, I had written bindings for ChakraCore to Rust ([sankha93/ChakraCore.rs](https://github.com/sankha93/ChakraCore.rs)) and can confirm the names are not mangled by the compiler and it works.

[2016-08-16 13:44] Fishrock123 commented on #1441
I was using `nm BuildLinux/Test/lib/Jsrt/libChakra.Jsrt.a`

Using `wc -l` on that, apparently there are 76756 symbols haha.

I do see a bunch of stuff like this in there, though only with the underscore.

[code]

Also, it shows up twice.

[2016-08-16 13:45] Fishrock123 commented on #1441
I don't seem to have `readelf` on OS X though.

[2016-08-16 15:23] #1436 closed

[2016-08-16 15:26] obastemur commented on #1441
@Fishrock123 libChakra.Jsrt.a is not enough. See https://github.com/Microsoft/ChakraCore/blob/master/bin/ch/CMakeLists.txt#L41-L72

[2016-08-16 15:48] Fishrock123 commented on #1441
@obastemur Sorry, I don't really understand what that linked code means.

I am not hugely familiar with C code so my knowledge goes as far as "there should be a (bunch of) `.a` and/or `.o` file(s) I need to link to". :/

[2016-08-16 19:40] #1429 closed

[2016-08-16 19:52] Cellule opened #1448 "Windows 10 SDK version for ARM"
In our wiki to build arm we point to https://dev.windows.com/en-US/downloads/windows-10-sdk to download the sdk.
First of all, that page only show the latest SDK which we don't use, ChakraCore uses SDK 10.0.10240.0 (https://github.com/Microsoft/ChakraCore/blob/master/Build/Chakra.Build.Default.props#L6) and latest is 10.0.14393.0.
Not having the exact sdk version will make the compiler complain.

[2016-08-16 21:45] dilijev commented on #1441
@obastemur @liminzhu It might be worth explicitly documenting in the Wiki how to link against the static or dynamic Linux libraries, since at the moment I think all of our instructions about linking are Windows-specific.

[2016-08-16 21:52] obastemur commented on #1441
@Fishrock123 if you are comfortable with Makefile ?

https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/Hello%20World/Linux_OSX

[2016-08-16 22:15] Fishrock123 commented on #1441
@obastemur Somewhat... are you saying what I need are these files?

[code]

[2016-08-16 22:17] obastemur commented on #1441
Exactly + if you have `/usr/local/opt/icu4c/include` folder as an `--icu` argument, you also need the libs below;

[code]

[2016-08-16 22:41] Fishrock123 commented on #1441
It would definitely be helpful if this were better documented.

I may be able to (help) do that if someone can point me to where that documentation should go.

[2016-08-16 22:51] dilijev commented on #1441
@Fishrock123 We take PRs to the Wiki :) https://github.com/Microsoft/ChakraCore-wiki

The new documentation would probably go here:

https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore#linuxos-x

[2016-08-16 23:24] arunetm commented on #1042
@Cellule I can take care of this one if this is still not done.

[2016-08-16 23:37] Cellule commented on #1042
@arunetm Sure, if you want to take a stab at it. you can test your fix with address.wast in the official test suite with -nonative vs -forcenative

[2016-08-17 00:33] obastemur commented on #1397
IMO the test failure here is related to how qsort is implemented.

See https://github.com/Microsoft/ChakraCore/blob/master/test/es6/ES6TypedArrayExtensions.js#L1434

Option A) implement cross platform qsort?
Option B) Accept this malformed test result applies to Windows only?

[2016-08-17 00:58] dilijev commented on #1448
Where the heck did this version string come from...? Maybe it's a mistake in documentation, because I'd expect the version to match the July 2015 Windows 10 version (10.0.10240.0).

[2016-08-17 06:33] #1318 closed

[2016-08-17 19:08] Cellule commented on #1448
@dilijev
You're right, the July 2015 version is 10.0.10240.0
I tried to install it and everywhere it said `10.0.26624.0`, but once installed I checked and the install path is `C:\Program Files (x86)\Windows Kits\10\Include\10.0.10240.0`
This is probably a problem in the Windows documentation.
Is there a way to report that?

Also, we probably should mention it in our wiki and point to the archive p

[2016-08-17 19:21] ianwjhalliday commented on #1397
The spec allows this sort to be implementation defined since the comparefn is inconsistent according to the rules specified in https://tc39.github.io/ecma262/#sec-array.prototype.sort

So we don't necessarily have to do option A.  On the other hand we don't have a nice solution to make a test OS specific at this level of granularity.  Maybe we need one, or maybe this particular test is not worthwh

[2016-08-17 22:09] ianwjhalliday commented on #1448
I think 26624 might be the phone version, TH1 on mobile.  They may not have been able to sync version numbers until TH2, since TH1 mobile didn't make it to market.  This is just a guess though.

[2016-08-17 22:32] dilijev commented on #1448
@ianwjhalliday my understanding of the mobile versus desktop build number unification was that the 14000s were chosen as a number which was ahead of both systems' current numbers so they wouldnt go back, in which case 26xxx doesn't track, but I could be mistaken about that.

[2016-08-18 10:27] gulshan commented on #1435
I think it's a good thing that Chakra is not trying to run Typescript code directly. But if Typescript definition files or `.d.ts` files are available to Chakra alongside JavaScript files, can that be somehow used to improve performance or something like that?

[2016-08-19 09:47] Tragetaschen commented on #1415
How is this going to go forward?

I know it's a complicated thing to ask, but I would greatly appreciate a ball park estimate. I need to make a decision regarding my application how I'm going to proceed, and the decision varies depending on whether it's "a KB number on a Patch Tuesday" or "in the next OS update".

[2016-08-19 17:26] bterlson opened #1465 "Class expressions should be allowed in a member expression without parenthesizing"
[code]
Actual: Syntax Error
Expected: `"class foo { }"`

[2016-08-19 17:36] dilijev commented on #1415
Can't say for sure until we address the severity of the issue. Is it possible to re-write portions of your app to work around this issue?

[2016-08-19 17:40] dilijev commented on #1059
@digitalinfinity any update on this?

[2016-08-19 18:53] dilijev commented on #1441
@Fishrock123 @liminzhu @obastemur I opened an issue re: the documentation at https://github.com/Microsoft/ChakraCore-wiki/issues/8.

Closing this question as answered.

[2016-08-19 20:50] Tragetaschen commented on #1415
If I have to (read "next OS update", I'll inline (parts of) the d3 code instead of letting it run through webpack. This seemed to circumvent this bug when I started to reduce the issue to the reproduction. This still is a sword of Damocles situation, though :)

[2016-08-19 21:24] ianwjhalliday commented on #1465
Appears that it is actually the call syntax that is causing the error.
`print(class foo { }.toString);`
parses fine and behaves correctly (printing the toString function object)

[2016-08-19 21:34] dilijev opened #1467 "v"

[2016-08-19 21:34] #1467 closed

[2016-08-19 21:44] ianwjhalliday commented on #1465
Not sure why but the parser was written to explicitly disallow call syntax following a class expression.  Perhaps a copy paste error. Very easy fix. #1468

[2016-08-19 22:47] #1465 closed

[2016-08-20 05:06] mjsabby commented on #328
Any updates on this?

[2016-08-21 15:32] obastemur commented on #1397
@ianwjhalliday on (specs && logical part) side, I agree with you.

IIRC qsort on unix etc. has deeper issues than not being compatible. Besides, now CC is cross platform, consistency on these stuff would (IMHO) improve UX/DX though.

For now #1455 is merged with a (optional/maybe) TODO comment on it.

@dilijev Thanks for bringing this and @ianwjhalliday Thanks for the review and details on spec!

[2016-08-21 15:32] #1397 closed

[2016-08-21 15:50] Fishrock123 opened #1474 "What type is JsSourceContext on Unix?"
https://github.com/Microsoft/ChakraCore/wiki/JsSourceContext

[code]

is `DWORD_PTR` just `void *` or something?

[2016-08-21 15:55] obastemur commented on #1474
It depends to the ARCH, on x64 it is `unsigned int64`

See https://github.com/Microsoft/ChakraCore/blob/master/pal/inc/pal_mstypes.h#L331

[2016-08-22 09:20] obastemur commented on #1474
Alternative approach to finding a typedef in the code base is that; What we have on cross platform is equivalent to ones given on MSDN.

[2016-08-22 09:20] #1474 closed

[2016-08-22 10:10] obastemur commented on #1398
Some more details on issue;

[code]

@mrkmarron any idea?

[2016-08-22 19:10] dilijev commented on #1415
This looks to be a JIT issue. We are investigating.

[2016-08-22 21:46] LouisLaf commented on #1410
Chakra already does use an explicit frame pointer, but this is not really the issue.  The main issue is that all function in JavaScript have a variable argument list (arguments are optional and passing extra is ok).  LLVM does not do tail call if the caller has a variable argument list.

Without an variable argument list, a compiler can emit code to deal with the specific situation: same number of

[2016-08-22 23:42] DemiMarie commented on #1410
As I understand it, one benefit of an explicit frame pointer is that it
allows SP to change in the middle of a function, since the frame can be
statically unwound using FP.  The callee already knows how many arguments
it has, otherwise arguments.length would not work.  So it can pop the
appropriate amount dynamically.

On Aug 22, 2016 5:46 PM, "Louis Lafreniere" <notifications@github.com>
wrote:

[2016-08-22 23:43] DemiMarie commented on #1410
Am I correct that this idea would work for CoreCLR?

On Aug 22, 2016 5:46 PM, "Louis Lafreniere" <notifications@github.com>
wrote:

[2016-08-23 00:20] LouisLaf commented on #1410
The ability to allocate stack isn't sufficient however.  The return address also needs to be moved.  But the OS needs to find the original if an exception occurs.

[2016-08-23 17:23] EdMaurer opened #1478 "ENABLE_BACKGROUND_PARSING should probably be undefined"
It appears that all of the code to support parallel parsing is compiled in. Is it supposed to be? My guess is no.

[2016-08-24 00:19] Fishrock123 commented on #1441
@sankha93 & @obastemur I'm still having trouble linking it...

Getting this from cargo:
[code]

my `Build.rs` has the following instructions in it:

[code]

Note: `cargo:rustc-link-search=` tell `rustc` to pass the following statement to as `-L ...` so I must have the wrong name in `cargo:rustc-link-lib=static=ChakraCore` but I can't tell what it would be.

The previous Rust bindings are windows o

[2016-08-24 02:13] Cellule commented on #1478
It looks like we do
[code]
and it is defined to either `0` or `1`.
I think the code is correctly removed for nojit build.

[2016-08-24 02:16] Cellule commented on #1448
I updated the wiki to point to the archive page and indicate that we should use version of July 2015 to avoid confusion with the version number

[2016-08-24 02:16] #1448 closed

[2016-08-24 02:19] Cellule opened #1484 "Support for Visual Studio 2013"
I am wondering how long do we plan to support VS 2013?
In PR https://github.com/Microsoft/ChakraCore/pull/1444 I started using `constexpr` on some functions to avoid using macros.

Before I reverted those change, I believe it would be worth checking if we planned to drop support soon.

[2016-08-24 02:19] Cellule commented on #1484
@curtisman @digitalinfinity @dilijev @LouisLaf @MikeHolman Any thoughts on the matter ?

[2016-08-24 02:29] Cellule commented on #1435
The problem with Typescript is even though it tries to enforce types, your script can load code from libraries which `.d.ts` could be wrong or outdated.
Also, you are allowed to use the `any` type and casts which can then leak variables of unknown types into your typed code.
This means we can't use the types as-is, we would have to make sure the types are enforced at run-time.

Currently we retrie

[2016-08-24 02:29] dilijev commented on #1484
`constexpr` is a great feature we're missing out on. This isn't the first time it has come up. Since VS 2015 has a community edition that anyone can use for free, I'm seeing less of a compelling reason to keep supporting downlevel products because "people have already paid for those". Possibly you could argue "people are used to the workflow" but I don't think much of the community is depending on

[2016-08-24 03:01] DemiMarie commented on #1410
No, the return address does not need to be moved.

By definition, a tail call has the same return address as the caller.

[2016-08-24 16:59] Fishrock123 commented on #1441
Looks like that was a rustc linking problem.

e.g. this is the correct way:
[code]

Now I'm getting a ton of Symbol errors from clang though, even though I've also linked the icu libraries... https://gist.github.com/Fishrock123/78cefc176bfc6f87bef99a32dd965fc1

[2016-08-24 17:15] Fishrock123 commented on #1441
Update, linked `CoreFoundation` and `Security` frameworks, took the Symbols errors down a bit but not completely: https://gist.github.com/Fishrock123/a91ae0cb85041d5ebf45b18d08a868b9

[2016-08-24 17:15] LouisLaf commented on #1410
The return address does need to be moved if the tail call needs more argument space then the caller has available:

function foo(a, b) {
    bar(a, b, c, d);
}

Where do you put c and d?

[2016-08-24 17:37] obastemur commented on #1441
@Fishrock123 looks like it is because of std lib references.

[2016-08-24 17:51] Cellule commented on #1398
I didn't realize this issue was for the linux branch at first.
The fix I made was on master.
We should integrate the fix from the master branch to linux.
Do we plan on doing this soon or should I cherry-pick the fix to the linux branch ?

[2016-08-24 17:53] obastemur commented on #1398
We do sync master to linux (vice versa) often. So IMHO no need for a separate action.

[2016-08-24 19:35] DemiMarie commented on #1410
Ahh.. now I get it.

The obvious answer is "push the return address before a in both cases" but
the Windows ABI almost certainly forbids that.

Another option is to put the parameters that would go on the stack on a
"shadow stack" allocated on the C heap.

Yet another option is to not bother with OS unwinding across JS frames and
use RtlInstallFunctionTableCallback to register a handler that just

[2016-08-24 21:43] liminzhu opened #1486 "[JSRT] Use int index in JsGetIndexedProperty & co."
Array iteration is a fairly common action in JSRT and right now the way it's handled is kind of ugly, especially in [JsGetIndexedProperty](https://github.com/Microsoft/ChakraCore/wiki/JsGetIndexedProperty) and friends where I have to use  a JsValueRef typed index. This leads to extra JsIntToNumber calls from time to time. It'd nice if we can expose new APIs with just int index.

[2016-08-24 22:03] dilijev commented on #1486
Do you think this should be targeted at [Milestone 1.3](https://github.com/Microsoft/ChakraCore/milestone/2) or is it not necessary for it to go in before the release?

[2016-08-24 22:16] liminzhu commented on #1486
Not necessarily needed for 1.3. I just want to get this on our backlog.

[2016-08-25 00:22] Fishrock123 commented on #1441
@obastemur Is that something that needs to be fixed here?

I'll try on Linux in a day or two.

OS X 10.10.5 fwiw

[2016-08-25 01:05] dilijev commented on #1441
@Fishrock123 OS X 10.10.5 _should_ work, since we support 10.9+ but if we experience problems specifically because of that then I'd say there's a compat bug. For now let's assume it's not because of OS version.

[2016-08-25 04:18] obastemur commented on #1441
The problem that I can see there is missing std lib references. This happens due to targeting different lib mostly. i.e. ChakraCore is built against your OS SDK while Rust targets a much older SDK.

[2016-08-25 17:41] dilijev commented on #1441
@obastemur is it possible to build Rust with the newer SDK or ChakraCore with the Rust version of the SDK? (Which is harder?)

[2016-08-25 17:50] obastemur opened #1490 "Inconsistent Array Sort behavior"
Case:

[code]

Reason: We use qsort when the array size is `>` 512 items. Otherwise -> https://github.com/Microsoft/ChakraCore/blob/master/lib/Runtime/Library/JavascriptArray.cpp#L6134-L6164

Indeed the spec mentions the external sort function should return `-1`, `+1`, or `0`

However that doesn't explain the inconsistency.

**edit: updated the code
**edit2: >512 not >=512

[2016-08-25 18:20] obastemur commented on #1441
@dilijev IMO we will target a bit earlier version of macOS SDK (also for node-chakracore). Will work on this.

[2016-08-25 18:27] bterlson commented on #1490
From a standards perspective this compare function is not a consistent comparison function (as it doesn't return a number) and so the sort order is implementation defined. However, there seems to be an interop argument to fix the 10-element case:

[code]

All implementations differ on the larger array, however (sm sorts properly, v8 results very strange), so the argument to change anything there s

[2016-08-25 19:15] obastemur commented on #1490
@bterlson in that case closing this issue. I've just wanted to make sure if it is okay to have this behavior.

[2016-08-25 19:15] #1490 closed

[2016-08-25 20:24] dilijev commented on #1441
@obastemur @Fishrock123 can we open a separate work item to resolve this issue and close this Question?

[2016-08-25 20:25] Fishrock123 commented on #1441
@dilijev that's cool with me, so long as it is tracked whatever suits your workflow best.

[2016-08-25 20:30] dilijev opened #1492 "[OS X] ChakraCore is built against different SDK than Rust which prevents linking ChakraCore into Rust projects"
See https://github.com/Microsoft/ChakraCore/issues/1441#issuecomment-242277297

FYI @fishrock123

[2016-08-25 20:31] dilijev commented on #1441
Opened https://github.com/Microsoft/ChakraCore/issues/1492 to track SDK issue.

[2016-08-25 20:31] #1441 closed

[2016-08-25 21:04] ianwjhalliday commented on #223
Support for double dashes was added in #239.  We aren't going to redo how the switches work so that change feels like a good fix for this issue.  Closing this issue.

[2016-08-25 21:04] #223 closed

[2016-08-25 21:33] #1398 closed

[2016-08-25 21:42] dilijev commented on #1407
Haven't seen this issue in a while. I'll assume the various changes fixed it. Will reopen if we notice it again.

[2016-08-25 21:42] #1407 closed

[2016-08-25 21:42] dilijev commented on #309
@kunalspathak is this still an issue?

[2016-08-25 21:45] kunalspathak commented on #309
Haven't tried. Assuming there are no issues, let us close this one and re-open if someone find out build breaks on VS2013.

[2016-08-25 21:57] ianwjhalliday commented on #1484
Agreed.

I may be mistaken, but I believe VS 2013 is the only non-fully compliant C++ 11 compiler we support.  It would be nice to have the full C++11 feature set available for us to use, by dropping VS 2013.

 - Use of constexpr came up once before in #309
 - We thought about using C++11 `char16_t` and `u"..."` for xplat strings in #456 but couldn't because VS 2013 doesn't have it

I believe ther

[2016-08-25 23:53] obastemur commented on #1492
#1493 should take care of this.

[2016-08-26 01:23] dilijev commented on #309
Agreed. Closing as Fixed / No Repro.

[2016-08-26 01:23] #309 closed

[2016-08-26 17:43] #274 closed

[2016-08-26 18:19] eebbing opened #1496 "ES6 constructor returns class instead of object"
The code example below should log the numbers from 0 up to 500. Instead, the code breaks after about 100 iterations. The issue is that after about 100 iterations the constructor of class `B` returns the class itself instead of an instance of `B`.

The fact that this issue only occurs after multiple iterations suggests to me that the bug is somewhere in the JIT engine.

By the way, the error disapp

[2016-08-26 20:07] ianwjhalliday commented on #850
Just noticed this is a duplicate of an issue I opened earlier. #357

[2016-08-26 20:07] #850 closed

[2016-08-26 20:08] ianwjhalliday commented on #849
Related to #357

[2016-08-26 20:16] ajklein commented on #357
@ianwjhalliday That case isn't an error because function declarations at the top level of a function are not lexical (see https://tc39.github.io/ecma262/#sec-function-definitions-static-semantics-vardeclarednames and https://tc39.github.io/ecma262/#sec-block-static-semantics-toplevelvardeclarednames)

[2016-08-26 20:54] ianwjhalliday commented on #357
Tricky.  Thanks, @ajklein!

[2016-08-27 00:36] eebbing commented on #1496
For what it's worth, I decided to look a little bit further into it, and was able to reproduce the error with the latest source code. I ran the script below via `ch.exe` (x64 debug build) with the following arguments:

    ch.exe -forceNative -MaxinterpretCount:10 -MaxSimpleJITRunCount:10 E:\path-to\test.js

The script is:

	var Test = {};

	class A {
		constructor(foo) { this.foo = foo; }
		toB()

[2016-08-27 03:28] curtisman commented on #1478
The parallel parsing code wasn't under #if before.    It was added for the xplat effort so that we don't have to port it to Linux for now.  I don't think the #if will disable all of the code associated with background parsing.

[2016-08-29 00:11] DemiMarie commented on #1435
@Cellule is the basic problem that type-based optimizations generally require that the type system be sound, which TypeScript isn't, and runtime checks where typed and untyped code meet, which would be difficult?

[2016-08-29 03:28] arunetm commented on #1042
https://github.com/Microsoft/ChakraCore/pull/1494 fixes this

[2016-08-29 17:38] tcare commented on #580
Enabled by default in #1383

[2016-08-29 17:51] tcare commented on #1484
+1, though I seem to remember there being being issues about downlevel and ARM.

[2016-08-29 20:32] bterlson opened #1511 "toFixed gives incorrect results in some cases"
Repro:

[code]

*Expected*: 1.25
*Actual*: 1.26

Other engines seem to get this correct, so we also have an interop issue. I recall that this has come up a lot in the past but I can't find history on GitHub :(

[2016-08-29 20:35] #580 closed

[2016-08-29 20:39] bterlson commented on #1435
@DemiMarie that is one of the basic problems, yes. Google actually went down the path of creating a sound type system for a JS subset and found it extremely difficult or impossible to do well. You can read more here: https://groups.google.com/forum/embed/?place=forum/strengthen-js#!topic/strengthen-js/ojj3TDxbHpQ.

[2016-08-29 21:36] dilijev commented on #1237
We can now build ChakraCore on OS X: https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore#os-x

Removing the Waiting label.

[2016-08-29 21:36] #1237 closed

[2016-08-29 21:38] dilijev commented on #1237
Closed because it is possible to build .so and .a on Linux and OS X. Whether they can be linked in Android and iOS apps seems like a separate question. If anyone has been able to do it, please let us know! If you know of any issues preventing those builds being used for that purpose (which we can help with) please open a new issue :)

[2016-08-29 22:00] obastemur commented on #1237
Just for a clarification; CC doesn't support iOS at the moment and same for Android.

We will need ARMv7 xplat support at least for Android (in general) and x86/arm64 for iOS. CC supports ARM on Windows and anyone looking into porting and/or contributing should fine lots of useful information available within the project.

ARMv7 and arm64 (xplat) are on my list but no timeline promises at the mome

[2016-08-29 22:02] obastemur commented on #1334
#1508 has fixed this one.

[2016-08-29 22:02] #1334 closed

[2016-08-29 22:06] obastemur commented on #1334
P.S. Maybe we should set a lower FD limits on our CI since the fail here wasn't Fedora specific. It could perfectly fail with a similar FD limit on Ubuntu too. (default FD limit for Fedora 1024, Ubuntu 4096)

[2016-08-29 23:58] arunetm commented on #1042
The PR has been merged. We can mark this one as done.

[2016-08-30 01:14] #556 closed

[2016-08-30 02:52] curtisman commented on #1484
Node still support building with VS2013.

[2016-08-30 16:27] dilijev commented on #1484
^ And that right there is the only reason we need to keep supporting VS 2013. :P

[2016-08-30 16:33] Krovatkin commented on #1127
@Cellule PR #1514 adds `current_memory` and we also got a working version of `unreachable_operator` Should be able to open a PR shortly.

[2016-08-31 23:53] arunetm commented on #1427
This one is done. https://github.com/Microsoft/ChakraCore/pull/1519
We can close this issue.

[2016-09-02 01:20] ianwjhalliday commented on #1484
That is too bad.  Doesn't mean node-chakracore needs to support VS2013, but reasonable to do so.

[2016-09-02 01:33] #1484 closed

[2016-09-02 03:21] dilijev commented on #1492
@Fishrock123 Can you confirm whether this issue was fixed for you by #1493 ?

[2016-09-02 04:36] obastemur commented on #217
This was implemented while ago. Closing.

[2016-09-02 04:36] #217 closed

[2016-09-02 06:42] #1427 closed

[2016-09-02 06:44] #1042 closed

[2016-09-02 12:43] lyh-kernel commented on #1179
Hi @digitalinfinity . I would like to port ChakraCore to other target but such target has no full support of multithread.
My current version of ChakraCore is #f5d756e. If I do the following things:

1. Use /p:BuildJIT=False in the command line
2. #define ENABLE_CONCURRENT_GC 0 in lib/Common/CommonDefines.h just like on Linux
3. Invoke ExecuteTestWithMemoryCheck directly rather then use _beginthrea

[2016-09-02 15:17] Kureev opened #1532 "Embedding ChakraCore into OS X application"
Hi there,

I'm trying to embed ChakraCore into OS X application. I managed to do it without any issues at compile time, but the app doesn't run tho (doesn't even hit breakpoint in `int main` func). Any ideas what can go wrong there?

UPD: Maybe related to https://github.com/Microsoft/ChakraCore/issues/1237

[2016-09-02 15:21] obastemur commented on #1532
@Kureev Did you see our ChakraCore samples? https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/Hello%20World

Comparing to that what do you do different?

[2016-09-02 15:31] Kureev commented on #1532
@obastemur I'm actually trying to run Hello World example from the OS X application. I'm using ObjectiveC++ to run it, so it compiles without errors (in XCode), but after that nothing happens (expected behavior - I see Hello World in the console). I can share my code if needed

[2016-09-03 04:20] dilijev opened #1538 "[Legacy] [master] Most likely missing type"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#legacy-builds

Broken since http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_dev12_x64_debug/143/

See build log:
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_dev12_x64_debug/143/consoleFull#-447890337a82fefab-f698-416f-8fca-58544c94cd4e

[code]

See http://dotnet-ci.cloudapp.net/job

[2016-09-03 13:22] kitsonk opened #1539 "WeakMap remove `.clear()`?"
Are there any plans to remove [`.clear()` from `WeakMap`](https://github.com/Microsoft/ChakraCore/blob/1f1164cd1bd38f91c2c42b1d10e16f8b9aa6a5b4/lib/Runtime/Library/JavascriptWeakMap.h#L66) to make the implementation compliant with the specification?  Other engines have removed it and aligned to the final spec.  Having deprecated/removed API isn't a zero sum game as it maintaining the feature in pe

[2016-09-03 16:34] bterlson commented on #1539
I didn't think this was actually exposed to script so it might be dead code? Can't confirm at the moment though...

[2016-09-03 17:57] ianwjhalliday commented on #1539
This `Clear` method is not exposed to JavaScript.  It is used by the WeakMap finalizer to remove all of its references from the key objects when the WeakMap itself is garbage collected.

[2016-09-03 17:57] #1539 closed

[2016-09-03 18:09] ianwjhalliday commented on #1496
Awesome! Thanks @eebbing, having a simple repro that we can run with `ch.exe` makes it a lot easier to debug.  We'll look into this soon.

[2016-09-05 08:11] Kureev commented on #1532
Will it help if I share my XCode example?

P.S. I suspect it fails when I try to create a JS runtime (if I remove code below this line (inclusive), it works). Will be nice if you can point me to the right direction and I debug it by myself.

[2016-09-05 08:54] obastemur commented on #1532
?

Sure

[2016-09-05 09:54] Kureev commented on #1532
I mean if I remove everything below `JsCreateRuntime`(incl) from HelloWorld example - everything works.

Here's my research project: https://github.com/Kureev/GoldenGate

P.S. Thanks for the fast feedback, really appreciate it ❤️

[2016-09-05 18:26] obastemur commented on #1532
@Kureev it is all about the order of the libs. See updated project file at https://gist.github.com/obastemur/73bec7c23e02aeba67200f4c1cd2cad9

I was able to see `Hello World` on the console.

![sscc](https://cloud.githubusercontent.com/assets/4390745/18255182/10ca522a-73a7-11e6-84e5-fc218bd1c5f2.png)

[2016-09-05 18:29] obastemur commented on #1532
Closing for now. Thanks for bringing it up.

[2016-09-05 18:29] #1532 closed

[2016-09-05 18:32] obastemur commented on #1492
Closing this one for now. From the discussion at #1493 there should be other things to consider (no longer SDK difference)

@Fishrock123 once you can share the steps, please open up an issue with the details so we may look into. Thanks!

[2016-09-05 18:32] #1492 closed

[2016-09-05 20:49] Kureev commented on #1532
Indeed, reordering libraries helped!

Thank you for your time and assistance.
I know, it's a bit a side track, but could you be so kind to explain why dependency order matters?

[2016-09-06 08:44] obastemur commented on #1532
a - Library X depends on Library Y.  [ Y->X ]
b - Library X depends on Library Z too. (Y shares an interface with Z that we override)  [Z->Y->X]

Failing on (a) may produce a linker error (see below), failing on (b) may produce an undefined runtime behavior.

IIRC VS linker does pretty decent job. GCC et. all depends on the order I've just mentioned previously.

[2016-09-06 19:05] dilijev commented on #1538
Tagging authors of the commits between last known good and the first failure: @antonmes @obastemur @Fishrock123 @agarwal-sandeep @mrkmarron @LouisLaf @EdMaurer @xanlpz

Can you all verify whether the break was caused by your changes?

[2016-09-06 22:00] Fishrock123 commented on #1538
probably not

[2016-09-07 01:01] agarwal-sandeep commented on #619
Debugging APIs are now in master, closing this.

[2016-09-07 01:01] #619 closed

[2016-09-07 02:36] zgsxtyzgd commented on #619
call JsDiagSetStepType.JsDiagStepTypeStepIn after,How to Run to the next statement?  @agarwal-sandeep

[2016-09-07 07:47] #1058 closed

[2016-09-07 08:11] zgsxtyzgd commented on #619
请问 在 JsDiagDebugEventCallback 中调用   JsDiagSetStepType.JsDiagStepTypeStepIn  后如何进入到下一条语句  打扰 @Yongqu

[2016-09-07 09:59] obastemur commented on #1059
@xanlpz Thanks for the effort on this. IMO we may close this for now.

[2016-09-07 09:59] #1059 closed

[2016-09-07 10:26] obastemur commented on #437
This was implemented for both POSIX and macOS while ago.

[2016-09-07 10:26] #437 closed

[2016-09-07 10:29] obastemur commented on #1098
Closing this one. At the moment there is no further discussion is needed. Over time we will be improving the experience as the issues appear.

[2016-09-07 10:29] #1098 closed

[2016-09-07 10:30] obastemur commented on #111
Is there a reason to keep this issue open?

[2016-09-07 10:35] obastemur opened #1549 "[cross-platform] Improve '--no-icu' option"
We now have `--no-icu` option to compile ChakraCore without `icu` dependency.

At the moment, ChakraCore `no-icu` option fails on unicode tests and the expectation is to make them passing.

Steps to reproduce:

[code]

[2016-09-07 13:51] DemiMarie commented on #1410
Another thought would be to have JavaScript functions pass parameters in a runtime-global storage block instead of on the stack.  That way, each JS function has a bounded number of parameters (which can be fixed), but there would be a perf penalty.

[2016-09-07 16:39] agarwal-sandeep commented on #619
@zgsxtyzgd JsDiagStepTypeStepOver performs a single step over after a debug break if the next statement is a function call, else behaves as a step to next statement. Once a break event is notified (like JsDiagDebugEventBreakpoint or JsDiagDebugEventDebuggerStatement) call JsDiagSetStepType(JsDiagStepTypeStepOver) to set the internal state in ChakraCore to perform a step operation after JsDiagDebug

[2016-09-07 20:18] dilijev commented on #1538
Assigning @ThomsonTan to assess this issue.

[2016-09-07 20:24] dilijev commented on #111
@obastemur Probably not. I think we anticipated a high volume of issues and planning discussions coming from this but probably a better way is to open a new issue for each planning discussion and continue to tag Linux-related issues with Linux. Speaking of which, maybe we should add a Cross-Plat label.

[2016-09-07 20:25] #111 closed

[2016-09-07 21:19] EdMaurer commented on #1100
Looks like this thread has gone cold. @vumanimdabe, is this still an issue?

[2016-09-07 21:29] EdMaurer commented on #1083
@iskiselev did [@satheeshravi's change](https://github.com/Microsoft/ChakraCore/issues/1135) address your issue?

[2016-09-07 21:33] EdMaurer commented on #1011
Closing due to lengthy inactivity and incomplete repro.

[2016-09-07 21:33] #1011 closed

[2016-09-07 23:18] iskiselev commented on #1083
I could confirm that issue is resolved now.

[2016-09-07 23:19] dilijev commented on #1435
Closing as Question Answered / Won't Fix

[2016-09-07 23:19] #1435 closed

[2016-09-07 23:22] dilijev commented on #1435
Adding the question tag so this Discussion can be found by people wondering "Why doesn't Chakra run TypeScript directly?"

[2016-09-08 11:41] oguzhankarsli opened #1557 "External script using"
Hi,
I'm working on ChakraCore, I aim that  using external script library which are like jquery.js, underscore.js,angular.js...
Before external script loads to context or any variable, after running script use this library.
Can my coding  invoke external library function?  How can I code this case,
help me please??

[2016-09-08 11:43] obastemur commented on #255
@jianchun Do we still have this issue?

[2016-09-08 12:57] vumanimdabe commented on #1100
@EdMaurer this was a security issue on Microsoft edge it has been resolved on their next release, I got a preview of the next windows 10 release and tested it, it works fine. thanks

[2016-09-08 12:57] #1100 closed

[2016-09-08 13:53] obastemur commented on #1557
We have a similar implementation under ChakraCore cli. See our LoadScript implementation from https://github.com/Microsoft/ChakraCore/blob/master/bin/ch/WScriptJsrt.cpp#L237

[2016-09-08 19:49] bterlson opened #1558 "super inside eval inside functions should be an early error"
[code]

Our implementation is in line with the current spec but not (I believe) with the spec's intent or other implementations. I have a [262 PR](https://github.com/tc39/ecma262/pull/685) codifying this.

[2016-09-08 20:36] hiyelbaz opened #1560 "An existing connection was forcibly closed by the remote host"
On Microsoft Edge, make a request to a http server (vert.x for me) and close the browser, you will get "An existing connection was forcibly closed by the remote host" exception. There is no issue with other browsers.

If you make two requests from seperate tabs and close just one tab nothing happens.
If you make two requests from seperate tabs and close Windows Edge you get two exceptions.

Can be

[2016-09-08 21:18] satheeshravi commented on #1083
Thanks!

[2016-09-08 21:18] #1083 closed

[2016-09-08 22:47] digitalinfinity commented on #1560
Hi @hiyelbaz, thank you for reporting this issue. However, this sounds like an Edge issue, not a ChakraCore issue- can you please open an issue with them using the tool at https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/.

[2016-09-08 23:07] #1560 closed

[2016-09-09 01:30] dilijev opened #1562 "OSX Non-Static CI Tests"
@digitalinfinity @obastemur

@obastemur mentioned [here](https://github.com/Microsoft/ChakraCore-wiki/pull/12#discussion_r77953975) that `--static` is no longer required for OSX builds. Should I go ahead and add the non-static version of OSX builds to our CI checks?

@mmitche Just want to double check that we won't cause capacity issues if we double the load of OSX builds?

[2016-09-09 02:39] Kureev opened #1563 "F12 dev tools for ChakraCore"
Hey,

I'm wondering if it's possible to use F12 debug tool for debugging a desktop application (OSX) with ChakraCore on board

[2016-09-09 03:34] mmitche commented on #1562
Nope you're good

[2016-09-09 05:37] oguzhankarsli commented on #1557
Thank you. I forgot to define our development language. We are using C# language.
Please give me an example about this implementation with C# language. Is it possible with C#.

[2016-09-09 10:07] #1511 closed

[2016-09-09 10:17] obastemur commented on #1562
Why don't we combine static and shared testing ? Once we compile for static or shared, the compile time for the other is lesser.

- compile for static
- test
- compile for shared
- test

Otherwise; I'm afraid we will end-up having 100 checks around :)

[2016-09-12 17:25] ccantill commented on #1415
We've just spent most of today hunting this bug too. A quick workaround is to put the following snippet at the top of your page:

[code]

Whatever breaks 'call' seems to not affect 'apply'.

[2016-09-12 18:42] dilijev commented on #1562
@obastemur I tend to agree with your concern about the seemingly rapid expansion of testing. I'm not sure I like having the two semantically different checks on the same check, but I see your point about reducing the runtime by a lot overall. Initially I think I'd like to keep them separate.

[2016-09-12 18:47] dilijev commented on #1563
F12 Dev Tools are a part of Edge and are designed for debugging web pages in Edge. If you just need to debug the JavaScript in a desktop application, there might be other options available. Can you tell us more about the desktop application you're running?

[2016-09-12 18:56] dilijev commented on #1563
@agarwal-sandeep who is working on Jsrt Debugging APIs who might have some context.

[2016-09-12 21:15] obastemur commented on #1562
@dilijev curious if there is any technical reason for it?

[2016-09-12 21:47] dilijev commented on #1562
@obastemur
1. We already have a precedent for multiple builds: Linux and Linux (static)
2. Being able to quickly identify the build config which causes an issue is more valuable than the small amount of extra machine time we'll be using by having additional builds (I think @mmitche would agree but since he manages those resources I'll let him confirm).
3. It gets much more difficult to quickly tra

[2016-09-12 22:06] obastemur commented on #1562
Using current testing design we are already unable to test many build flags. I'm not saying lets test everything together. However we may better separate the tests for other flags.

At the moment, we reset CMake cache among the static and shared builds as well as other related flags. IMO, separating shared and static builds no longer useful

[2016-09-12 22:30] tcare commented on #1562
@obastemur can you provide an example?

I agree that identifying the config quickly is paramount. I don't like to pre-optimize too much here, if we have a need to conserve build resources or we have a case we don't cover with the separated config then we can create a combined one.

[2016-09-12 23:58] Kureev commented on #1563
@dilijev I'm just playing around with ChakraCore (building a simple bridge to manipulate OS X UI using JS). Would be nice if at some point it'll be possible to use some external tools for debugging JS code in apps with embedded ChakraCore.

[2016-09-12 23:58] #1563 closed

[2016-09-13 00:13] Kureev opened #1572 "JsCallFunction's arguments offset(?)"
Hello, world!

I'm experiencing a bit weird behavior. My case is about invoking a callback function:
[code]
As you may guess, `Native` is a host object with a custom `foo` function as a callback parameter. I want to invoke this function with a text "test":

[code]
This code works on my OS X, although I don't get why I need to access arguments from index 1 (what's wrong with 0?) and supply index 0

[2016-09-13 00:16] dilijev commented on #1563
We're interested in improving this as well, although we don't have a firm plan of the exact approach. Ideally, we'd like something like the debugging experience for any other executable (e.g. by using lldb and enabling it via a plugin to have specific knowledge about the JS frames). If you work hard enough to understand what the engine is doing, a normal debugger can still be useful as long as you

[2016-09-13 00:25] liminzhu commented on #1572
Index 0 is for thisArg like when you call [Function.prototype.call](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/call). It was documented in the [remarks](https://github.com/Microsoft/ChakraCore/wiki/JsCallFunction#remarks) for `JsCallFunction`. I am adding a similar remark entry for [JsNativeFunction](https://github.com/Microsoft/ChakraCore/wiki/JsNati

[2016-09-13 02:27] MikeHolman commented on #1268
There will be a lot of cases where non-sse2 will fail for wasm (SSE2 was considered a requirement for asm.js). I think we shouldn't surface WebAssembly object to non-sse2 machines for now (and maybe ever).

[2016-09-13 05:06] talentimo opened #1573 "[Question] Making host object model available in JS"
How does one use the Jsrt API to connect to an external object model?  The Chakra Edge version has minimal support for this in that it allows a COM object (in a VARIANT) as a value, however this appears to have been removed from ChakraCore and I can't see any equivalent object interface.  I see a few references in the ChakraCore source code to hooks for calling hosted objects, but these appear not

[2016-09-13 08:16] Kureev commented on #1572
Thanks for this clarification!

Although I tried to find some info about it (fn's `arguments` parameter), but no luck so far. Is it an engine-specific thing (to pass `thisArg` as a first one) or a standard I'm not aware of? I assume that the reason of my confusion is a "standard" behavior of this object in the browser: arguments[0] returns me a first parameter I passed into the function, not `this

[2016-09-13 09:40] obastemur commented on #1562
We have multiple `icu` options. Soon other archs (x86, arm, arm64..) and JIT

x86, amd64, arm, arm64
interpreterOnly, both, both, ?
static/shared
test/release/debug
icu_sys/no_icu/embedded
osx/ubuntu

I calculate over 250 runs for the cases above under the current approach.

Using the proposed approach below, the number reduces to 40+ runs. (and we cover wider set of tests)

**Debug_x64
Test[x64][

[2016-09-13 16:36] Krovatkin commented on #1496
@ianwjhalliday @suwc

not sure if this helps (hopefully, it might), but this testcase can be further simplified by running `../../Build/VcBuild/bin/x86_debug/ch.exe -trace:backend -off:backend:1,3  -dump:irbuilder -dump:lowerer -off:inline  -off:simplejit -mic:3  tt.js`

to only compile `Function A.prototype.toB ( (#1.2), #3)`

[code]

`NewScObjectNoCtor` (which relies on `JavascriptOperators::New

[2016-09-13 17:51] obastemur commented on #1562
We were discussing this offline with @digitalinfinity and @jianchun

It is okay if we totally skip testing [static/shared] [icu_sys/embed/non] on each debug/test/release options. Instead static with `test`, shared with `debug` etc. approach sounds sufficient for Jenkins.

We will have the rest covered under nightly tests. As of the `non-static` `osx` CI tests, we may better enable it for current `

[2016-09-13 18:01] obastemur commented on #1557
@oguzhankarsli closing this for now. Feel free to open / comment if you have other questions. Thanks for bringing this up.

[2016-09-13 18:01] #1557 closed

[2016-09-13 18:02] liminzhu commented on #1573
Thanks for asking @talentimo . As you said we removed the COM interface projection in ChakraCore as in general we leave all Windows platform specifics behind in Chakra. However, you can still use [external](https://github.com/Microsoft/ChakraCore/wiki/JsCreateExternalObject) [objects](https://github.com/Microsoft/ChakraCore/wiki/JsGetExternalData) to project your object model (though you may have

[2016-09-13 18:15] liminzhu commented on #1572
Np!

Native binding is engine-specific, though other engines may do similar things. JsCallFunction is just mimicking Func.proto.call so taking a thisArg makes sense if you think about it that way. I totally see how you got confused though, I had the same confusion when I first played around JSRT so I added that remark that I pointed you to.

[2016-09-13 19:45] #1572 closed

[2016-09-13 20:04] Cellule commented on #1268
That sounds like a good idea for the time being, it'll make it easier to push features faster. We can revisit support for SSE2 at a later time.

[2016-09-13 21:12] dilijev commented on #1562
@obastemur I see the concern about 250 builds. I think we can distill a set of builds which is really valuable for each PR and run each specific configuration individually in the dailies, although I still concede that 250 is pushing beyond a reasonable maximum.

If we really intend to support all of those build permutations, we should make sure we support them whether we chain multiple configurati

[2016-09-13 21:13] dilijev commented on #1562
To be clear, I propose this:

PR checks: minimal set of builds likely to detect problems (chaining multiple configs per build task or not is simply a matter of configuration)

Daily checks: ALL build permutations should be exercised (chained or not)

[2016-09-13 21:29] tcare commented on #1562
^^ Agree with Doug.

Unless we have a problem with lots of checkins breaking a combination of build configurations, they are safe to be run as nightly. Chaining some of the less common ones is also fine.

We can also just run some configurations for branches that are likely to break them e.g. xplat.

[2016-09-13 21:40] dilijev commented on #1562
@tcare for the moment, cross-plat work is stable enough and we have the checks in master so xplat work will continue directly against master unless there is a need to split it off again. We should be planning the future of checks for master rather than a special case branch, until the need for such a branch is clear.

[2016-09-13 21:55] Kureev opened #1576 "Getting JsErrorNoCurrentContext while trying to invoke a callback block"
Hi there,

I'm getting `JsErrorNoCurrentContext` error while error is definitely there (see screenshot below). The flow is following: in the main thread I spawn a ChakraCore thread. When JS invokes one of my custom functions, I use `dispatch_async` to call something in main thread. After work is done, I need to invoke a callback which I pass from the JS. Unfortunately, in 90% of my attempts I get

[2016-09-13 22:10] Kureev commented on #1576
You can also find sources here: https://github.com/Kureev/GoldenGate

[2016-09-13 22:33] liminzhu commented on #1576
Can you check the error code from ```JsSetCurrentContext```? Have a hunch that your context might have been GC'ed. Try ```JsAddRef``` on the context when you left the context and ```JsRelease``` the context when it can be disposed.

[2016-09-13 22:40] Kureev commented on #1576
In one of my iterations I've used `JsErrorCode` to check if there is an error in this call, but everything is OK - `JsNoError`. I'll look into `JsAddRef`/`JsRelease` tomorrow in the morning and post you back the results. Thank you for your advices!

By the way, do you know if there are any examples of JsAddRef/JsRelease? Should I add a ref before the block definition and release it in the callback

[2016-09-13 23:06] suwc commented on #1496
@eebbing @ianwjhalliday @Krovatkin thanks for participating - could you help review the PR pls?

[2016-09-13 23:48] liminzhu commented on #1576
In general, add-ref before the var becomes invisible to GC (leaving the stack, etc) and release as soon as you no longer need it. I've done something similar in this [example](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/OpenGL%20Engine/OpenGLEngine/Task.cpp) where I [add-ref](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/OpenGL%20Engi

[2016-09-14 01:23] Kureev commented on #1576
Ok, it's 100% about GC, but I have no idea when/where. If I remove UI code, it works better. Fails only in ~10%. So seems something is GCed when we switch to the main queue. I tried JsRefs etc - no luck so far.

[2016-09-14 07:15] m3talsmith commented on #504
So are we saying that a return breaks API compat? If previous code discarded returns (or did not expect, and hence did not capture, returns), does a return matter?

[2016-09-14 13:52] Kureev commented on #1576
Small update:

I found out that my attempt to set an active context fails: `JsErrorWrongThread`. Could you be so kind to explain me what it means? I use dispatch_async to main_thread and then back again. Don't really get why it complains about the thread.

[2016-09-14 18:16] liminzhu commented on #1576
// FYI @Yongqu

I see. The idea is that JSRT is rental-threaded. See [concepts](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Overview#concepts),

`JsErrorWrongThread` happens when those rules are broken. Typically if you wish to move runtime from thread1 to thread2, you can to call `JsSetCurrentContext(nullptr)` on thread1 first to give up the runtime, then `JsSetCurr

[2016-09-14 21:47] liminzhu commented on #504
Return in the sense of an extra out-param like `JsValueRef *result` for `JsDeleteProperty`, just like the JavaScript `detele` operator would return true/false. Change in that fashion would cause compile error.

[2016-09-15 09:01] viktorspacil opened #1583 "Create a lot of instances - error Object doesn't support property or method 'Add'"
Dear Madam/Sir,
we experienced following problem in the Edge web browser (v14.14393). We are using JavaScript ES6 (converted from TypeScript) in our web application and when we create a lot of instances of any class (for example 200-300 instances) then we receive error Object doesn't support property or method 'Add' which does not make sense to us. This functionality works fine in other tested bro

[2016-09-15 10:38] obastemur commented on #1583
After replacing DOM references to dummy JS objects, this issue is not reproducible as a CH terminal app. [ + increased loop from 1000 to 1e6, still no issue ]

[2016-09-15 10:39] obastemur commented on #1538
Should be fixed by #1584 ?

[2016-09-15 13:15] ianwjhalliday commented on #1583
@suwc could this be the same or related to #1496?

[2016-09-15 13:46] viktorspacil commented on #1583
Modified test case without DOM references uploaded:
[EdgeBugTestCase.zip](https://github.com/Microsoft/ChakraCore/files/474775/EdgeBugTestCase.zip)

The bug was successfully reproduced in version 14.14393 and 14.14915 of the Edge web browser.

[2016-09-15 17:21] suwc commented on #1583
@ianwjhalliday, you are right - this is a duplicate of #1496.

[2016-09-15 18:03] rajatd commented on #1415
@Tragetaschen, I'm looking into this right now. I was able to repro the issue on the OS build you were trying it on. However, it seems fixed in ChakraCore master. I'm trying to figure out what fixed it and when.

[2016-09-15 18:32] viktorspacil commented on #1583
#1496 seems to be the same problem like ours

[2016-09-15 22:47] rajatd commented on #1415
Never mind that, it does repro in latest ChakraCore. I'm investigating.

[2016-09-16 00:15] mrkmarron opened #1586 "ES6 super class resolution with apply"
Method resolution for invoking superclass differs between "super.f()" and "super.f.apply(this)".

In Chakra the code below produces:
Normal: A
Error: Out of stack space

V8 produces A for both invocation methods. This issue impacts the [jsdom](https://www.npmjs.com/package/jsdom) npm package.

[code]

[2016-09-16 14:19] Kureev commented on #1576
Hi again,

I can't express how I appreciate your detailed and fast responses ❤️ It makes my experience with Chakra even more smooth 😉 I solved my problem. For those who's interested, I'll explain what happen and how I worked my issue around:

First of all, it was my bad. My lack of understanding the way how GCD works bite me in the ass: I expected that if I have a custom queue, it'll always dedica

[2016-09-16 14:19] #1576 closed

[2016-09-16 18:02] Kureev opened #1589 "Wrong string encoding/decoding"
Hi again,

I think I found a bug:

[code]

On my machine, the output is:
[code]

Seems it shrinks initial input while converting. I'd like to send a PR, could you be so kind to point me the place where I can fix it (I'm not familiar with ChakraCore yet)?

[2016-09-16 19:13] rajatd commented on #1415
Ok, figured out the issue after some heavy-duty reducing - it is an issue in the inliner of the JIT when the target of a .call has a getter. We were ending up inlining the getter instead of its return value.
@ccantill the issue does not repro with your snippet because of some restrictions on the inlining of .apply and its target.

I am hoping to have a fix out shortly.

[2016-09-16 21:52] liminzhu commented on #1589
`strlen` instead of `sizeof` would give you the correct length in the `JsPointerToStringUtf8`.

[2016-09-16 23:05] Kureev commented on #1589
<details>
![image](https://cloud.githubusercontent.com/assets/2273613/18603543/bcbaed46-7c72-11e6-85a3-1861c98b6a36.png)
</details>

Indeed, sorry

[2016-09-16 23:05] #1589 closed

[2016-09-17 01:39] jianchun opened #1592 "xplat: DETACH_PROCESS code missing"
UnInitialization code originally in DllMain(DETACH_PROCESS) isn't available on xplat.
- static lib: missing. ATTACH_PROCESS initialization is simulated in Jsrt entry, but DETACH_PROCESS uninitialization is missing.
- shared lib: essentially missing as well. Manually called by CH (used to be called during PAL FreeLibrary, changed to manually calling DllMain by jit PR).

One job done in DETACH_PROCE

[2016-09-17 01:39] jianchun commented on #1592
@obastemur

[2016-09-17 01:46] jianchun opened #1593 "xplat: Date/formatting.js fails with jit on"
With "-Test" build, there is one weird PDT/PST error (from mktime call) during the loop of test cases. Excluded in #1591.

[2016-09-17 01:46] jianchun commented on #1593
@obastemur

[2016-09-17 01:47] obastemur commented on #1593
JIT / Test build right?

[2016-09-17 01:50] jianchun opened #1594 "xplat: ArrayBuffer oob access recovery [JIT] [ASMJS]"
`AsmJs/constloads.js` depends on ArrayBuffer out of bound access recovery feature. Needs xplat implementation to re-enable this test. Excluded by #1591.

[2016-09-17 01:50] jianchun commented on #1594
@obastemur

[2016-09-17 01:54] jianchun opened #1595 "xplat: enable jit on OSX"
I read that __register_frame/__deregister_frame on OSX works differently than Linux. On Linux they take full ".eh_frame", but on OSX they take 1 FDE. Needs to verify and fix accordingly to turn on jit on OSX.
#1591 builds with `--no-jit` and runs `disable_jit` test variant on OSX.

[2016-09-17 01:54] jianchun commented on #1595
@obastemur

[2016-09-17 10:34] obastemur opened #1596 "xplat: Fix absolute addressing issue [clang] [x86]"
Code signed PIE but used in Js::ScriptContext::ProfileModeDeferredParsingThunk::RecyclableObject::CallInfo

[2016-09-17 10:36] obastemur opened #1597 "xplat: Fix Posix build issues [x86]"
We have some minor issues while compiling CC on x86 Posix.

[2016-09-19 11:17] #1538 closed

[2016-09-19 13:43] ask4answers opened #1600 "window.location.origin cannot be accessed"
IE version 11.0.10240.17113 (Update versions: 11.0.35 (KB3185319)) - window.location.origin can no longer be accessed (it works on an earlier build). We use it to construct links on our app so obviously they no longer work.

[2016-09-19 18:06] liminzhu commented on #1600
Hi @ask4answers. This repo is for the development and discussion of the ChakraCore JavaScript engine. Please file any Edge/IE issue using the [EdgeHTML issue tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/).

[2016-09-19 18:06] #1600 closed

[2016-09-19 19:34] dilijev commented on #1583
Closing as Duplicate.

[2016-09-19 19:34] #1583 closed

[2016-09-19 20:01] #1496 closed

[2016-09-19 20:02] suwc commented on #1496
Fix is merged.

[2016-09-19 20:47] dilijev opened #1602 "[Windows {Slow, Legacy}]: x86 {debug, test} InlineConstructors.baseline test failure"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#builds-with-slow-tests

**Daily Slow**
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_slow_x86_debug/165/
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_slow_x86_test/157/

**Legacy**
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_dev12_x86_debug/151/
htt

[2016-09-20 10:39] navidR commented on #504
How about changing OP_DeleteElementI to return actual error code instead of JavaScript true/false type, then we can correctly set JsErrorCode. There is not need to break API compat this way.

[2016-09-20 12:48] oguzhankarsli opened #1609 "add c# class to context"
Hi,
i try to add c# class to chakracore context. After i want to invoke from javascript.
How can i do it?

[2016-09-20 16:12] dilijev commented on #1609
Have you tried following the documentation at https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore and the example at https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/Hello%20World/Windows/C%23/HelloWorld ?

Could you be more specific about what you have tried so far?

@liminzhu is there an example where we show how to expose a C# class as a JavaScript type

[2016-09-20 16:53] liminzhu commented on #1609
[This](https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/JSRT%20Hosting%20Samples/C%23) would be a better sample to look at. See how `Echo` gets projected into JavaScript in [ChakraCoreHost.cs](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/JSRT%20Hosting%20Samples/C%23/ChakraCoreHost/ChakraCoreHost.cs).

[2016-09-21 00:29] kphillisjr opened #1614 "Feature Request: Implement char16_t and char32_t functions."
## OverView

This is mainly a request to implement a some new language features found in the C++ 2011 and C 2011 specifications. These data types are useful in  cases where the application embedding the JavaScript Runtime is C++11 aware. These data types can also be used to help access standardised methods to convert between data types. The current Wide character (wchar_t) [1] is a redefinition aw

[2016-09-21 01:12] digitalinfinity commented on #1614
Thanks @kphillisjr! cc @jianchun @obastemur @curtisman @liminzhu who have also been thinking about how to evolve the JSRT string APIs. The current thinking involves adding support for just Utf8 strings (so a caller would pass in a byte array representing the utf8 encoded string). Are there platforms where this would not be ideal? Are there particular scenarios you have in mind where, for instance,

[2016-09-21 01:23] obastemur commented on #1614
Indeed it is a nicely detailed issue, Thanks @kphillisjr

IIRC, the core advantage of UTF16 over UTF8 is supporting code points outside of the BMP. IMHO, they are rare and a third party library or API can take care of the UTF8 <-> UTF16/32 conversions.

However, the problem we might have right now can be tricky. Curious; if the current interface would behave to those rare code points properly on x

[2016-09-21 04:27] kphillisjr commented on #1614
@digitalinfinity

Not really... It should be possible to use these functions with a copy of ICU, and possibly implementing functions to convert to the native wchar_t data type.

Most developers will use the UTF-16/UTF-8 api. The UTF-32 API is for cases where the developer use CJK Unified Ideographs[1].

@obastemur

I do not believe there is any major problems on XPLAT. The solution is to use the I

[2016-09-21 11:02] oguzhankarsli commented on #1609
Thank you. I examine sample project. I see Echo function.
But sample project doesn't include an example javascript. How to invoke function like Echo function in javascript.
Can you give me an example please?

[2016-09-21 12:22] kphillisjr opened #1616 "Feature Request: Enable ChakraCore embedding using CMake."
I noticed that the current system for integrating ChakraCore using CMake is not exactly one of the most friendly. All this really boils down to is simplifying the auto-detection for CMake to where all of the platform dependent configuration is handled easily, and build options are easily configured by ChakraCore. In general this can be broken down into several tasks.

- [ ] Improve CMake build con

[2016-09-21 13:51] obastemur commented on #1616
@kphillisjr Thanks for the issue but can't say we are missing any important item from this list already.

Could you be more specific on `friendly` part? See `./build.sh --help`

[2016-09-21 14:05] obastemur commented on #1614
Actually we use it and have a very good coverage. Yet, I'm not as confident as CC Unicode support on Windows as it is battle tested there. (CC - Edge / Global Windows Users)

The problem I have pointed out is slightly related to public API. Our current XPLAT interface accepts UTF8 and we might miss-place couple of things because of an unsupported encoding.

I'm not sure if we have any short term i

[2016-09-21 15:23] kphillisjr commented on #1616
The **friendly** part is to reduce the amount of work a developer requires to get ChakraCore working using cmake. An example of this uses the Hello World example in Chakra-Samples.

Example CMakeLists.txt file that will automatically compile and embed ChakraCore into the project:
[code]

The Cmake Command to build this project ( on linux):
[code]

[2016-09-21 16:10] obastemur commented on #1616
Sorry, I guess, I didn't understand.

Do you mean that we are missing a CMake sample (or simple sample) for API users on xplat?
Can't argue on that and say nothing but appreciate a PR to https://github.com/Microsoft/Chakra-Samples repo.

[2016-09-21 16:10] kphillisjr commented on #1614
@obastemur

Truthfully, the only reason CC Unicode has extreme confidence is that CC only runs in little endian mode.

Generally speaking the misplaced items are most likely going to happen when converting between big endian and little endian.

Truthfully char32_t is meant to be an internal API, and can be used in places where you  need to convert between UTF-8 and UTF-16.

[2016-09-21 16:43] kphillisjr commented on #1616
No, This bug report is not about missing CMake examples in the Chakra-Samples repository. I just used the HelloWorld example from that git repository to illustrate how someone would go about handling a friendly method of building chakracore using nothing but cmake internally.

This bug report is to enable users to embed ChakraCore with trivial work, and expect cmake to be able to get the project w

[2016-09-21 17:59] dilijev commented on #1609
You would simply call it as:

[code]

[2016-09-21 18:15] liminzhu commented on #1609
Minor nitpick - the `echo` function is a property of the `host` object, so `host.echo("string")`.

[2016-09-21 18:20] dilijev commented on #1609
@liminzhu - Thanks - I didn't realize that. Updated inline.

[2016-09-21 18:49] oguzhankarsli commented on #1609
i think that misunderstanding
i want to write code, for example,

`public int EchoFunctionCSharp(int a,int b){
     return a+b;
}

var javascript = @" var result = EchoFunctionCSharp(3,5);" +
                                        " return result;"

Native.JsRunScript(javascript, currentSourceContext++, "", out result);`

How can i write this example code to invoke csharp function?

[2016-09-21 18:55] dilijev commented on #1609
In the example I wrote inline above, the C# function called `EchoFunctionCSharp` is exposed to JavaScript as `host.echo`.

[2016-09-21 20:04] navidR opened #1619 "Adding small REPL for development purpose"
I am trying to read and understand ChakraCore architecture. In process of doing that, when I want to change or fix small part of ChakraCore runtime, I have to run tests or something, which is unnecessary for most of the time.

I am developing small REPL inside of ChakraCore project which could be helpful to many people (I think) so every time I am trying something new or messing with something I c

[2016-09-21 22:58] mrkmarron opened #1622 "PathTypeHandlerBase::SetPrototype changes hasNoEnumerableProperties of newPrototype"
In PathTypeHandler.cpp line 1470 has the call below which eventually ends up modifying the hasNoEnumerableProperties flag of the newPrototype object due to an "internal property" being added to the newPrototype object.

[code]

If the newPrototype object has hasNoEnumerableProperties as true, then this will call down through SimpleDictionaryTypeHandler.cpp line 1325 which adds the internal propert

[2016-09-21 23:00] mrkmarron commented on #1622
@kunalspathak: I first noticed it in relation to change #1489 "Type sharing for __proto__".

[2016-09-21 23:56] dilijev commented on #1619
I talked about adding this before, but since it's easy enough to invoke `ch.exe test.js` most people didn't view this as valuable. I, for one, would welcome a `ch.exe -repl` mode, or even simply `ch.exe -e "console.log(3+5)"` (`-e` for execute)

[2016-09-22 00:35] navidR commented on #1619
That -e is nice for one line evaluation.So simple to implement too.

About node-chakra , that idea crossed my mind  too, but that doesn't improve the cycle of dev/compile/run because after compiling ChakraCore you should every time embed the newly compiled chakracore inside nodejs (unless I am missing something) so nodejs-chakra would not improve situation in this specific case.

[2016-09-22 00:43] obastemur commented on #1619
At this very moment, there are some minor difference between the node-chakracore and chakracore repos. (xplat API differences) but we will have them sorted out very soon. Once they share the same code base, you might clone your chakracore fork into node-chakracore, play with it + make changes and compile node-chakracore. There you have your changes in place.

Yet, `-e` and `-pe` options sounds lik

[2016-09-22 01:42] Penguinwizzard opened #1627 "Null pointer dereference issue with unsigned compare peep"
Bug was initially externally reported. LouisL identified the issue as not being a security bug, and as being one with the unsigned compare peep:
"
We emit:

    s13.var         =  ShrU_A         s12.var, s2.var                         #000a
    s6.var          =  ShrU_A         s4.var, s2.var                          #000e
                       ByteCodeUses   s6, s13

[2016-09-22 22:19] #1586 closed

[2016-09-22 23:05] DemiMarie opened #1628 "Phase detection"
It would be nice if ChakraCore could detect phases of program execution and optimize accordingly.

I may be working on this for an academic project.

[2016-09-23 10:30] gidmeister2 opened #1632 "Chrome can reconstruct Edge (javascript) Ranges, but not vice versa"
I have written code that saves information about a javascript range, and another routine that uses that information to re-create that range.
I find that when I save a range in Microsoft Edge, Google Chrome can reconstruct it.
However, the converse is not true.
When I save a range in Chrome, Microsoft Edge cannot reconstruct it.
My code does work.  If I use it in Edge exclusively, I can save and re

[2016-09-23 11:59] oguzhankarsli commented on #1609
Hi,

When i invoke c# function from javascript like **Echo()** function, **Echo()** function return **JavaScriptValue**.
How i can get c# object to javascript from Echo function?

[2016-09-23 14:59] oguzhankarsli opened #1633 "ChakraCore c# function multithread"
Hi,
 i wrote javascript to invoke c# function. c# function invoke new thread to web request. Web request gets string result.

When converting string to JavascriptValue in second thread. i get an exception.

Javascript
`var fn = engine.EvaluateScriptText(@"(function() {`
`webRequest('GET', 'http://www.w3schools.com/xml/xmlhttp_info.txt');`
`})();");`

C# function

`private static JavaScriptValue we

[2016-09-23 16:48] curtisman commented on #1633
JavaScript is single threaded.  A `JsRuntime` can only be used on one thread at a time, but it can move it between thread. You need to use `JsSetCurrentContext(nullptr)` to remove it from the one thread, and then use `JsSetCurrentContext(context)` on another thread before you can use it on that other thread.

[2016-09-23 17:01] bterlson commented on #1632
Are you talking about [this Range](https://developer.mozilla.org/en-US/docs/Web/API/range)? If so this is a browser API. You can search for an existing bug or file a new one on the [Edge bug tracker](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/).

[2016-09-23 17:42] liminzhu commented on #1628
Would you mind elaborating more on what you mean by phases of program execution and giving an example of such optimization?

[2016-09-23 18:08] liminzhu commented on #1609
Can you clarify on that part? Are you asking about the marshaling between C# objects and `JavaScriptValue`? For values that are not intrinsic to JavaScript, you can create JavaScript vars by [JsCreateExternalObject](https://github.com/Microsoft/ChakraCore/wiki/JsCreateExternalObject) and put whatever you want on the `data` param (e.g. the C# object itself), so that later on if another native funct

[2016-09-23 22:18] dilijev commented on #1602
Looks like this was fixed. Closing.

[2016-09-23 22:18] #1602 closed

[2016-09-24 01:47] obastemur commented on #1549
Remaining test cases;

[code]

[2016-09-25 00:18] DemiMarie commented on #1628
By phases, I mean periods of time in which a program does similar things.
The optimizations that I am thinking of include recompiling code, such that
"serially monomorphic" code (code where a call site is polymorphic, but not
within the same period of time) is fast.

On Sep 23, 2016 13:43, "Limin Zhu" <notifications@github.com> wrote:

[2016-09-26 19:10] Penguinwizzard commented on #1627
Fixed in https://github.com/Microsoft/ChakraCore/commit/a27e567cc75f48db4557ada882c295aea7fd900c.

[2016-09-26 21:27] #1627 closed

[2016-09-26 22:10] liminzhu commented on #1628
I see, this is an interesting idea @DemiMarie. The way ChakraCore is implemented - it uses a profiling interpreter that collects information while executing scripts, such as frequency of certain code paths (# of runs of functions, loop body, etc). The JIT compiler compiles hot code paths into native code based on assumptions made from collected info, and bails out back to the interpreter if such a

[2016-09-27 01:05] Penguinwizzard opened #1645 "StackTraceArguments are set to be from a global context too often in some cases"
When using the flag -simplejitafter:1 (or flags that imply it), it is possible for stack frame argument type information to be marked as having a global caller for every frame. This is most easily visible in debugging output; functions with global callers are printed in backtraces without any arguments (or the simple "()" to indicate no arguments). The cause is likely something in how jitted funct

[2016-09-28 02:47] ThomsonTan commented on #1627
This is an interesting case. Seems Chrome report it as ReferenceError about the left-hand side of assignment operator which is uncaught and abort run, but we only generate exception for the right-hand side about un-declared variable which could be caught.

[2016-09-28 13:31] oguzhankarsli opened #1656 "global variable parameters array cannot be runned"
Hi, I set to global variable to engine. And i write a script. Script run integer, string parameter. but can not run array parameter. How i can run  with array parameter?
Example;
SetGlobalVarable:
` Engine.AddTypeToGlobal<XMLHttpRequest>();
                Engine.AddTypeToGlobal<ScriptInput>();
                Engine.SetGlobalFunction("echo", Echo);

[code]

Run Script:

`var fn = Bag.Engine.Evalu

[2016-09-28 16:59] liminzhu commented on #1656
Very much depends on how `Engine.Converter.FromObject` is implemented. Can you point us to that function?

[2016-09-28 20:34] EdMaurer commented on #359
We're moving towards a plan in which we provide the last ChakraCore commit hash that flowed into Chakra.dll as a string in the file's resources. In Windows Explorer, one could right click the binary, select "Properties," go to the "Details" tab and see the commit hash in the "Product version" string. All of the earlier ChakraCore commits could be assumed to be included. We would not update this as

[2016-09-28 23:35] bterlson opened #1658 "Implement global.global"
Global.global (eg. window.global in the browser, or this.global in ch.exe/etc) got stage 3 today. Let's get an implementation going!

Spec: https://github.com/tc39/proposal-global

[2016-09-29 18:38] jianchun commented on #963
We now have `TARGET_64`. But lots of code (including new code) still uses `_WIN64`. Needs to search for all and evaluate which should change to `TARGET_64`.

[2016-09-29 19:53] bterlson opened #1662 "Proxies cannot be added to WeakMaps"
[code]

[2016-09-29 20:02] jianchun commented on #1595
@obastemur Let me try to tackle this first.

[2016-09-29 21:22] dilijev opened #1665 "Date.UTC(x) [single-argument case] semantics update"
Behavior implemented in https://github.com/Microsoft/ChakraCore/issues/1333 is that `Date.UTC(x)` and  `Date.UTC()` where `typeof x === number` returns NaN.

Spec semantics will be updated (see https://github.com/tc39/ecma262/pull/642) so that `Date.UTC()` returns NaN and `Date.UTC(2017) === Date.UTC(2017, 0)`.

* 0-argument case works according to spec.
* 1-argument case needs to be updated.

See

[2016-09-29 21:41] jianchun commented on #1595
@obastemur already started, assign back

[2016-09-30 00:43] bterlson commented on #1665
I think it's the reverse isn't it? Date.UTC() currently returns Date.UTC(0, 0, ...) and should return NaN. Date.UTC(2017) currently returns the right thing.

[2016-09-30 17:38] dilijev commented on #1665
I may have misspoken. Let's just make it explicit with tests:

[code]

Actual behavior:

[code]

Expected: all PASS

[2016-09-30 17:50] bterlson commented on #1665
Yes ok sorry. Seems good, thank you!

[2016-09-30 18:08] Oceanswave commented on #767
+1

[2016-09-30 18:09] Oceanswave commented on #189
+1

[2016-09-30 21:09] Tragetaschen commented on #1415
That's awesome.

Any chance for a backport to 1607 or 1511? Any address for a bribery cake?

[2016-09-30 22:01] kunalspathak opened #1671 "Perf: Too many bailouts/rejits for FailedTagCheck"
For below test case, we keep bailing out and rejitting for same reason.

[code]

[code]

[2016-09-30 22:02] kunalspathak commented on #1671
//cc - @rajatd , @satheeshravi , @LouisLaf , @pleath

[2016-10-01 21:22] MikeHolman opened #1678 "[CI] [Jenkins] Ubuntu build occasionally fails on dependency issue"
A few time I've seen ubuntu_linux_release_static fail with this same error (and pass after rerunning):

[code]

[2016-10-01 22:16] MikeHolman commented on #1628
@liminzhu I suspect we don't do a great job in cases like this, as we will eventually fall back to pretty generic version of such functions.

@DemiMarie I think this is an interesting idea, but it is a hard tradeoff to make so it would be good to see some cases where we are deficient today and phase detection would significantly improve code quality. But the mechanics are basically all available i

[2016-10-02 05:49] marcnoon opened #1679 "Iterator value"
The iterator.value test contains a single value.  Are there plans to change this to an array where the first item in array is the index and second item in the array is the value?  [test/es6/generators-functionality.js](https://github.com/Microsoft/ChakraCore/blob/master/test/es6/generators-functionality.js)

[2016-10-03 17:25] obastemur commented on #1678
@MikeHolman IMHO, there is a bad VM in the pool (i.e. llvm support headers are missing) and we've been hitting to that VM from time to time.

/cc @dilijev @mmitche

[2016-10-03 17:53] dilijev commented on #1678
@obastemur The VMs are dynamically generated, so it's not that there's a bad VM. What we know so far is that even on the machines where this happens, rebuilding immediately after on the same machine (by directly logging in) doesn't repro the issue. It seems more complex than bad configuration. @mmitche is still investigating.

@MikeHolman when you see a build fail with this can you post here or em

[2016-10-03 18:01] mmitche commented on #1678
@obastemur It's not a bad VM, it's been seen across a number of VMs and always succeeds on retry.  The weirdness of the error also seems to indicate some kind of corruption.

[2016-10-03 18:10] rajatd commented on #1671
The problem here is that when we bailout to a LdFld, we only update the value type of the result of LdFld. In the case of BailOutOnTaggedValue, we are bailing out because the object from which we tried to load a property, is a tagged value. So, we bail out, execute LdFld in the interpreter but fail to update the bad profile data that caused the bailout in the first place.

[2016-10-03 18:21] obastemur commented on #1678
Maybe a timing issue? Consider a fresh VM, do we install dependencies from scratch?

[2016-10-03 18:32] mmitche commented on #1678
We don't install anything from scratch, it's also not necessarily the first run on the machine.

[2016-10-03 19:09] #1665 closed

[2016-10-04 02:37] MikeHolman commented on #1678
Here is an instance of the problem:

http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/ubuntu_linux_release_static_prtest/801/

[2016-10-04 15:44] Yongqu commented on #1662
Do we have the same problem with Map? I kinda remember something in this area. Maybe @ianwjhalliday remembers?

[2016-10-04 15:46] ljharb commented on #1662
This seems like it constitutes an "is proxy" check, which i believe is supposed to be impossible. Is this perhaps an important enough bug to be backported to all shipping versions with Proxy?

[2016-10-04 18:28] MikeHolman commented on #1678
FWIW it seems like this is happening more often lately. Hit this yesterday on at least 4 different builds.

Also, not just happening on release build, looks like all Ubuntu flavors are hitting this. Here's another:
http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/ubuntu_linux_debug_static_prtest/799/

[2016-10-04 18:31] mmitche commented on #1678
@MikeHolman These VMs are almost always fresh, so something else is going on.  I'm spinning up a VM to run some continuous testing and try and track down the source of the instability.

[2016-10-04 18:40] jianchun commented on #1596
Is that "script profile mode" which we turned off? If so we may try fix some ifdef to not use it.

[2016-10-05 19:00] Penguinwizzard commented on #1678
I hit this twice today so far; http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/ubuntu_linux_release_static_prtest/824/ is another repro log.

[2016-10-05 20:58] aneeshdk commented on #1678
Seeing this error in http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/ubuntu_linux_test_prtest/834/consoleFull#-20814844619119f5c-76e5-4da8-b294-eb427d612413

[2016-10-06 15:13] oguzhankarsli opened #1702 "using javascript source library"
When running scripts on chakracore, can chakracore use javascript library?

`var javascript = "src="/application/html/js/josdejong/mathjs/math.min.js"" +`
`"var parser = math.parser();" +`
`"parser;"`

`Engine.EvaluateScriptText(javascript);`

It is possible?

[2016-10-06 17:13] jianchun commented on #1594
Fixing correctness #1703

[2016-10-06 17:33] kphillisjr commented on #1614
I just realised that I forgot to mention standardized functions that will help simplify some of the current compatibility issues.

Function | Header File | Standard | Description
------------ | ------------- | ------------- | -------------
c16rtomb | uchar.h | C11/C++11 | Convert from char16_t to multi-byte character.
c32rtomb | uchar.h | C11/C++11 | Convert from char32_t to multi-byte character.

[2016-10-06 18:21] digitalinfinity opened #1705 "Missing detection of non-local reference when using "object shorthand" syntax"
Reported in nodejs/node-chakracore#118

The following snippet has incorrect bytecode generated when run with /ForceDeferParse:
[code]

The use of a in the nested anonymous function is not detected as a non-local reference at parse time, and so a StSlot is not generated for a in f's bytecode, and in the anonymous function, a's looked up using LdRootSlot

[2016-10-06 18:30] jlowcs commented on #1662
Apparently, no issue with WeakSet, nor with Map. Only with WeakMap.

http://codepen.io/jlowcs/pen/BLYjkw

[2016-10-06 20:47] dilijev commented on #1619
@navidR are you planning to implement this? I'll assign it to you for now :)

[2016-10-06 21:05] liminzhu commented on #1702
You can expose a function like [this](https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/JSRT%20Hosting%20Samples/C%2B%2B/ChakraCoreHost/ChakraCoreHost.cpp#L125) to JavaScript to execute the library code.

[2016-10-06 21:21] bterlson commented on #1662
@ljharb: open to arguments, but my intuition is that it's not.

[2016-10-06 21:23] ljharb commented on #1662
@erights and @tvcutsem may have thoughts. I don't have a strong opinion here but it seems troubling to have browser versions with broken security invariants.

[2016-10-06 22:13] Cellule commented on #1127
Updated the list with everything I know we still needs to do for MVP
@LouisLaf for visibility

[2016-10-06 22:31] navidR commented on #1619
@dilijev yes, but it may take a little while (because of my exams). Thanks

[2016-10-06 22:39] dilijev commented on #1619
@navidR Just checking. Good luck with exams. Thanks!

[2016-10-06 23:29] digitalinfinity commented on #1705
This got fixed with 2d589ce

[2016-10-06 23:29] #1705 closed

[2016-10-07 00:45] erights commented on #1662
Can't do membranes!

[2016-10-07 18:35] Penguinwizzard commented on #1678
Daily Ubuntu_linux_test build failed due to this http://dotnet-ci.cloudapp.net/job/Microsoft_ChakraCore/job/master/job/daily_ubuntu_linux_test/71/

[2016-10-07 22:30] kunalspathak opened #1713 "Optimize deleting last property on an object"
Today if we are in `PathTypeHandler` and we delete a property we go to `SimpleDictionaryTypeHandler`. Having a type in `SimpleDictionaryTypeHandler` is expensive both performance and memory wise when it comes to adding properties. Most of the time, it evolves new type when properties are added and it is less likely to get shared. Optimize so that if we are deleting last property then transition to

[2016-10-07 22:33] kunalspathak opened #1714 "Evaluate type transitions for adding properties on SimpleDictionaryTypeHandler"
Today, if a type is `SimpleDictionaryTypeHandler` and is locked, properties added on it will evolve it to new type. 2 problems with that. We are introducing newer types in the runtime which will have less probability of types finding in cache. When we transition to new type, we do allocation to hold properties and then copy all the properties from old type to new type. So there is a memory as well

[2016-10-08 00:29] dilijev commented on #85
NuGet's "special version part" (e.g. <major>.<minor>.<patch>-<special>) cannot exceed 20 characters, must start with a letter, and can only contain letters, numbers, and `-`, so preview packages will be formatted as `0.0.0-preview-00000-0000`.

[2016-10-10 07:41] CrazySquirrel opened #1718 "The problem with document.write in iframe in Edge"
The document.write causing the error SCRIPT70: Permission denied if you use a few document.write inside iframe. This error occurs only in the Edge. In all other browsers this error is not observed.
For example:
[code]
This code will display 12 on the page and in iframe, but it cause an error and displays only 1 inside iframe in Edge.

[2016-10-10 15:58] CrazySquirrel commented on #1718
There was found a solution. If you add window in front of document.write the error will not be caused.

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SSP-558</title>
    </head>
    <body>
    <script>
        document.write("1");
        document.write("2");
    </script>
    <script>
        var iframe = document.createElement("iframe");

[2016-10-10 23:46] dilijev opened #1721 "Add test to determine whether all ByteCode has been correctly regenerated."
The usual failure here is that bytecode for with-JIT varieties is regenerated but NoJIT bytecodes are omitted from the regeneration.

If any ByteCode is regenerated it's worth running a script to regenerate all ByteCode and ensure that there are no changes in ByteCode from the version included in the PR. For any build where no bytecode is regenerated, we can ignore this expensive step of regenerat

[2016-10-10 23:54] jianchun commented on #1721
How about:
- On Windows x86 debug, run a modified script that only try to regenerate `...bc.32b.h`. On Windows x64 debug, try to regenerate `...bc.64b.h`. Thus no new build is needed and the validation should be super cheap.
- I'm not sure if we can use above same "ch.exe" to generate "nojit" versions of those headers. If yes, that'll be great; if not, how above emit a failure if any bytecode head

[2016-10-11 00:22] dilijev commented on #1721
@jianchun You need to build NoJIT bytecodes from NoJIT binaries, so that's a no-go.

Also, saying "if one is updated, all must be updated" will block a PR in the scenario that one was updated incorrectly and only one needed to be regenerated in a subsequent PR. I'd rather go with the "fail on actual failure" approach rather than an imperfect heuristic with extra maintenance cost.

Running one NoJI

[2016-10-11 00:42] dilijev commented on #1718
This is an issue with Edge. Can you please open a new issue here with the category HTML/DOM? https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/

Feel free to post on this thread the link to the issue you open.

[2016-10-11 05:03] CrazySquirrel commented on #1718
Ok, I open a new issue in the category HTML/DOM [issues#9291485](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9291485/)

[2016-10-12 05:36] obastemur commented on #1721
Curious; don't we already have the environments where JIT is disabled and executing the tests anyway ?

[2016-10-12 15:55] jianchun commented on #1721
No we don't. Currently only OSX has JIT explicitly disabled. The other day I investigated why we didn't catch this problem on OSX, and the reason was we disabled `Intl` on xplat, so these prebuilt bytecodes are not used at all on xplat.

[2016-10-12 15:58] obastemur commented on #1721
Yet another reason to enable it ? :)

[2016-10-12 15:59] mmitche commented on #1678
@MikeHolman I couldn't get this to repro in isolation on a VM, so I might clone the job that fails the most and then try to run it successively until it fails again to try to discover a pattern.

[2016-10-12 20:09] dilijev commented on #1718
@CrazySquirrel Thanks! We'll monitor that issue. Closing this issue as External.

[2016-10-12 20:09] #1718 closed

[2016-10-12 20:13] dilijev commented on #1721
I like the simplicity of enabling disablejit_x64_debug. Added work items in the description above. /cc @boingoing

[2016-10-13 04:38] manishbarman opened #1733 "String replace operations using Regular Expressions are slow in EDGE and IE9+ for large strings"
RegEx evaluator in Chakra Core seems to perform slowly (takes more than double the time) for large strings compared to Chrome.

Standalone test case to reproduce the issue
http://jsfiddle.net/Lwa0t5rp/3/

Sample test output extract
Chrome: v53.0.2785
regex 1: 2.8100000000000214 regex 2: 1.3566666666666833 ( rows : 4096 string length:2569724)
regex 1: 3.7816666666666756 regex 2: 2.7783333333333453

[2016-10-13 17:07] Krovatkin commented on #1127
@Cellule, fyi @MikeHolman

a small update,

* redid globals. i should be able to open a PR as soon as we make sure it doesnt have any obvious goofs :-)
*  finishing up with

[2016-10-14 17:08] akroshg opened #1745 "LHS should be evaluated first in the assignment."
[code]
Both should print `true`. (Edge/Chrome don't but Firefox does)
see https://tc39.github.io/ecma262/#sec-assignment-operators-runtime-semantics-evaluation

[2016-10-14 17:43] pleath commented on #1745
So the issue is the fact that we let the eval side-effect change the binding of the LHS of the =? Yeah, this has been around since IE9, and to this point we’ve chosen not to fix it, because of Chrome interop, the fact that the issue surfaces very rarely in RWC, and the difficulty of changing our infrastructure to deal with this kind of case.

-- Paul

From: Akrosh Gandhi [mailto:notifications@gith

[2016-10-17 21:10] dilijev commented on #1733
Thanks for bringing this to our attention! @rajatd has been doing some work on RegEx lately and it's possible that some of the gap has already been addressed in the latest builds of Chakra and Edge. We will keep this test in mind.

Unfortunately we won't be doing any performance work on IE11 going forward.

[2016-10-17 21:12] dilijev commented on #1745
@bterlson is this something that should be clarified/updated in the spec, or should we think about implementing the correct behavior?

[2016-10-17 21:21] bterlson commented on #1745
I [tried previously](https://github.com/rwaldron/tc39-notes/blob/d0c651b358b361b0855cfe7af9ba0b76cab73949/es7/2016-03/march-31.md#reference-type-and-implementation-reality-double-evaluation-of-computed-property-expression) and could not get consensus. We should fix it. It was apparently easy for SM.

[2016-10-17 22:47] bterlson commented on #1745
Should note that our implementation is significantly harder. Only pointing out that SM has now fixed this issue.

[2016-10-18 03:58] mrkmarron opened #1764 "TTD - Multi-Context support"
The current implementation of TTD assumes that a single ScriptContext is used and recorded/replayed. Partial support for this is already in place, in snapshots all objects, scripts, etc. know which context they belong to, but we do not have all of the CrossSite marshalling in place and do not re-inflate objects to CrossSite representations.

[2016-10-18 04:00] mrkmarron opened #1765 "TTD - Enable JIT in record and replay"
We currently disable the JIT during record/replay mode. Need to add code to test for record/replay modes in JIT and generate code to call TTD functionality (recording property enumerations, random number generation, and perhaps others). Then we can remove the ForceNoNative calls.

[2016-10-18 04:09] mrkmarron opened #1766 "TTD - Script file location for VSCode during debugging"
If record and replay happen on different machines the location of the source code may change. However, when we replay our code we give VSCode the original URI for the source, which may not exist on the local machine, during the source load event. This can cause issues if VSCode attempts to access the file URI. As a temporary solution we need to give VSCode the location where the code is actually s

[2016-10-18 12:49] obastemur commented on #1678
@mmitche

Same PR:

Fail : https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/ubuntu_linux_debug_static_prtest/974/console

Success: https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/ubuntu_linux_debug_static_prtest/975/consoleFull

There are some differences in the output, hope it helps to figure out

[2016-10-18 14:16] mmitche commented on #1678
I honestly have no idea what is going on.  Has this been seen on 14.04 btw?

[2016-10-18 20:28] dilijev commented on #1678
@mmitche I don't think we run any 14.04 builds

[2016-10-18 21:01] FremyCompany opened #1772 "Proxy stringification doesn't work transparently"
In Edge (RS_ONECORE_WEBPLAT.14942) `''+new Proxy(window, {})` doesn't return `[object Window]` but `[object Object]` . That does work properly in Chrome.

Similar issue exists for all other dom types.

[2016-10-20 15:22] vbmacit90 opened #1791 "JsRunScript() doesn't exist in Linux."
Hi,
I have compiled ChakraCore in Linux but there is no function JsRunScript() in .so library. it is undefined! and it is declareted in ChakraCommonWindows.h how can we use in Linux?

Thanks for any advice...

[2016-10-20 16:00] obastemur commented on #1791
@vbmacit90 `JsRunScriptUtf8` is the temp. replacement on cross platform.

[2016-10-20 16:04] vbmacit90 commented on #1791
is the JsStringToPointerUtf8Copy  replacement for JsStringToPointer  on cross platform too?

[2016-10-20 16:06] obastemur commented on #1791
Yes. Please keep in mind; these are temporary methods and soon we will update them. Updated versions will take a place in our documentation.

[2016-10-20 16:10] obastemur commented on #1791
Closing this one. Feel free to open if you continue to have the problem.

[2016-10-20 16:10] #1791 closed

[2016-10-20 16:18] vbmacit90 commented on #1791
Thank you for answers
const char *script = "(()=>{return \'Hello world!\';})()";
    // Run the script.
    JsRunScriptUtf8(script, currentSourceContext++, "", &result);

    // Convert your script result to String in JavaScript; redundant if your script returns a String
    JsValueRef resultJSString;
    JsConvertValueToString(result, &resultJSString);

    // Project script result back to C++.

[2016-10-20 16:22] vbmacit90 opened #1792 "crashing in even basic tutorial code with JsCreateRuntime()"
[code]

here is the code and its crahes on JsCreateRuntime in linux I cant figured out what problem is?

and this is the tracing output:

[code]

[2016-10-20 18:57] itszero commented on #1402
Hello, do we have any plan to fix this in ChakraCore? Thanks.

[2016-10-20 20:28] obastemur commented on #1791
What is the return value of `JSConvertToString` ? `JsNoError` ? and what crash says?

[2016-10-20 22:46] still-dreaming-1 opened #1794 "Is there support for collecting JS Code Coverage numbers in ChakraCore?"
Is there anything built into Chakra to help with code coverage? Wouldn't it be more sensible for the runtime to know what ran and what did not than something else?

[2016-10-21 00:27] dilijev commented on #1402
@itszero Unfortunately we're focusing hard on other priorities right now. I'll bring this up with the team and see if we can assign someone to it and dedicate it to a milestone.

[2016-10-21 01:03] liminzhu commented on #1792
This is from the [hello world sample](https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/Hello%20World/Linux_OSX#build-and-run-the-sample) correct? Are you following the exact steps on readme and what flavor of Linux are you using?

[2016-10-21 04:26] #1268 closed

[2016-10-21 04:30] #1359 closed

[2016-10-21 13:58] FettLuo opened #1799 "I can't run sample code, return JsErrorNoCurrentContext"
this file in "@ubuntu:~/github/ChakraCore/BuildLinux/Release/bin/ChakraCore"

[code]
at JsRunScriptUtf8
return **JsErrorNoCurrentContext**

**btw: pls support centos7.**

[2016-10-21 14:05] FettLuo commented on #1799
The same code run successful at vs2015, only cut off Utf8 of JsXxxxxUtf8 and convert string to wstring or wchar_t.

[2016-10-21 14:09] obastemur commented on #1799
ChakraCore runs on Fedora. Should be running on centos too.

[2016-10-21 14:11] obastemur commented on #1799
@FettLuo static or dynamic lib? could you please share the steps in detail?

[2016-10-21 14:12] obastemur commented on #1792
@vbmacit90 most probably the linker order is not matching with our samples. See https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Linux_OSX/Makefile#L10-L12

[2016-10-21 15:04] FettLuo commented on #1799
@obastemur ubuntu server 16.10 on HyperV on my SurfacePro3. ChakraCore is dynamic lib(so).

[2016-10-21 15:36] Rastaban opened #1800 "C++ language conformance changes (msvc /permissive-)"
There is a new compiler switch in the next release of MSVC that makes the compiler less permissive (/permissive-)  There are three types of language conformance issues that are exposed in the Chakra codebase when building with /permissive-

1) Strict string conversion (this is also covered by the /Zc:strictStrings flag)

  The 'const' is not implicitly dropped by string literals, which means the f

[2016-10-21 15:53] obastemur commented on #1799
Shared library requires an explicit call to DllMain. See https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Python/helloWorld.py#L24-L28

[2016-10-21 16:30] Krovatkin commented on #1127
@Cellule hey do you know if anyone is implementing **f32.reinterpret/i32**? if not, i think it's perfect for my afternoon pastime :-)

[2016-10-21 17:10] Krovatkin commented on #1127
@Cellule  oops, i take that back :-)  im sry. it looks the only thing that was missing is `Reinterpret_ITF` -> `Reinterpret_Prim` in IRBuilderAsmJs :-)

[2016-10-22 02:21] FettLuo commented on #1799
1) I use c++, not python. :( , I don't known how to call DllMain in c++ in linux.
2) Not call DllMain in Linux_OSX sample in c++.

BTW:Manual call DllMain that not enough smart in linux. best auto call DllMain at first call CreateRuntime internal.

[2016-10-22 14:11] obastemur commented on #1799
@FettLuo why don't you use static library on xplat?

[2016-10-23 08:55] FettLuo commented on #1799
@obastemur
I don't know much about ChakraCore static libraries used, intuition is a dynamic library simpler.
Also, I hope my main program in Windows and Linux have the same characteristics, that is dynamically loaded jsrt.

Documentation on using statically linked libraries?

[2016-10-24 10:54] obastemur opened #1811 "xplat: Make shared library usage requirements more reasonable"
At the moment, ChakraCore shared library on xplat requires an explicit call to DllMain.
This is not practical for 3rd party apps using ChakraCore.

A potential solution may benefit `static library` xplat mechanism. Please keep in mind, we need to consider command line args/flags handling for SO separately.

[2016-10-24 10:55] obastemur commented on #1799
@FettLuo I agree the DllMain call requirement is ugly.

Opened an issue (https://github.com/Microsoft/ChakraCore/issues/1811) to track that.

Static library usage sample:

https://github.com/Microsoft/Chakra-Samples/tree/master/ChakraCore%20Samples/Hello%20World/Linux_OSX

[2016-10-24 13:39] FettLuo commented on #1799
Hope can be directly compiled in Centos. CentOS has a lot of users in China.
Want to extract the header files needed by the third party to a separate Directory, do not include the source code.

[2016-10-24 13:39] #1799 closed

[2016-10-24 14:16] obastemur commented on #1799
See https://github.com/Microsoft/ChakraCore/pull/1312 for Fedora steps. Shouldn't be so different.

@liminzhu , what do you think about adding those on docs ?

[2016-10-24 17:21] EdMaurer commented on #1794
Are you asking about whether ChakraCore can help determine the JS code that was executed in a given set of scripts?

[2016-10-24 20:19] still-dreaming-1 commented on #1794
Yes. I'm wondering anything built in can help determine code coverage, either something that could be used directly or any features that would help someone build a code coverage tool.

[2016-10-24 21:58] MikeHolman commented on #1127
I'm working on adding new JS API. In particular so far have implemented (or partially implemented)
WebAssembly.compile, WebAssembly.Module, WebAssembly.Instance, WebAssembly.RuntimeError, WebAssembly.CompileError

[2016-10-25 21:12] dilijev commented on #1678
See https://github.com/dotnet/dotnet-ci/pull/496
Thanks @mmitche

[2016-10-26 10:30] vbmacit90 commented on #1792
yes the problem was about adding whole library to the executable file. now it works nicely I made some benchmark with qt's js engine also monkey spider ChakraCore seems that the best right now.

[2016-10-26 10:31] obastemur commented on #1792
Nice to hear @vbmacit90 👍

[2016-10-26 13:31] #1792 closed

[2016-10-26 19:06] dilijev commented on #1794
@still-dreaming-1 It sounds like you've already ruled this out, but to analyze code coverage in JS code, it would make the most sense to use an analysis library that does not depend on the Engine in which the code is running, for example, http://blanketjs.org/

Semantically, the engine implementations (Chakra, v8, etc.) should be more or less the same for the features they all implement, so knowin

[2016-10-26 19:08] dilijev commented on #1794
Renamed the title to make this question easier to find in the future.

[2016-10-26 19:17] dilijev commented on #1800
I've encountered the third issue a lot when writing code that needed to compile in both GCC and MSVC, I didn't realize that was an issue of permissivity. It's good to see this change come to ChakraCore, it should help with portability of our code.

[2016-10-26 23:55] Penguinwizzard opened #1832 "Hitting the assert "Can't have two active lifetimes for the same byte code register""
Automated testing is hitting this assert, which in the past has happened a bit when bytecodeuses  opcodes are emitted improperly around an instruction.

[2016-10-27 02:08] MikeHolman opened #1834 "WASM - Remove old Wasm APIs"
We should delete the Wasm object before release once we have switched testing to use new WebAssembly APIs

[2016-10-27 14:33] still-dreaming-1 commented on #1794
Blanket.js is no longer maintained according to their github page.

[2016-10-27 19:04] dilijev commented on #1794
There are certainly other options. A quick search reveals several. A colleague says Istanbul (https://istanbul.js.org/) is the one most people use. Here's a Reddit thread where there's some discussion about testing code coverage for JS. https://www.reddit.com/r/node/comments/2muiay/code_coverage_tools_for_nodejs/

[2016-10-28 00:43] Penguinwizzard opened #1840 "Handle single-character strings specially"
One code pattern that happens a decent amount is as follows:
var a = "hello"
var b = "world"
var c = a[0]
var d = b[4]
if(c == d) {
    dance();
}

Currently, we do a full string comparison in this case. It's possible to instead add another type of single-character strings, store the values as i8s, and do the comparisons directly in the function.

[2016-10-28 00:44] Penguinwizzard opened #1841 "Avoid JIT for small functions"
Functions below a certain size are much more costly to JIT than it is worth to do so. Sufficiently small functions should get inlined at all of their call sites eventually, so queueing them up to be jitted is wasteful.

[2016-10-28 01:02] Penguinwizzard commented on #1840
Dup of #1222

[2016-10-28 01:02] #1840 closed

[2016-10-28 23:38] #568 closed

[2016-10-28 23:39] Cellule commented on #555
Issue tracked in #1127

[2016-10-28 23:39] #555 closed

[2016-10-28 23:40] Cellule commented on #1834
Tracked in #1127

[2016-10-29 20:00] still-dreaming-1 commented on #1794
I don't think Istanbul will work in a REPL and I'm not sure if I can access the code coverage information from the scripts being covered. Anyway, I tried looking into it's capabilities but they are unwilling to answer my questions and their documentation is very confusing.

[2016-10-29 21:00] lyh-kernel commented on #279
Is there any way to use runtests.cmd with static built ch.exe? I build ch.exe by command 'msbuild /p:Platform=x64 /p:Configuration=Test /p:BuildJIT=False /p:RuntimeLib=static_library /p:AdditionalPreprocessorDefinitions=CHAKRA_STATIC_LIBRARY=1 .\Build\Chakra.Core.sln' and have no idea to run the regression test. It seems that command line handling mechanism is commented under static build.

[2016-10-30 00:23] gary-b commented on #1223
There is also a problem when retrieving the hours without the minutes:
new Intl.DateTimeFormat('ar', {hour: '2-digit', hour12: false}).format(new Date(2015,05,1,9,0,0))

Note that the minutes have been brought back anyway, and there are a mix of numeral systems present. If you actually request the minutes however:

new Intl.DateTimeFormat('ar', {hour: '2-digit', hour12: false, minute:'2-digit'}).f

[2016-10-31 00:38] JeTmAn1981 commented on #1402
I'd like to help with this issue, but I'm not sure what part of the codebase actually needs updating.  Is there a main date parsing function that could be updated?

[2016-10-31 19:07] obastemur commented on #1402
@JeTmAn1981 bunch of the related stuff are under  `lib/Runtime/Library/DateImplementation`. Good luck! 👍

[2016-10-31 22:15] Cellule opened #1856 "WASM - Grow Memory"
Implement Grow Memory operator

[2016-10-31 22:16] Cellule opened #1857 "WASM - i32.trunc_u/f32"
Implement operator i32.trunc_u/f32

[2016-10-31 22:17] Cellule opened #1858 "WASM - i32.trunc_u/f64"
Implement operator i32.trunc_u/f64

[2016-10-31 22:17] Cellule opened #1859 "WASM - f32.convert_u/i32"
Implement operator f32.convert_u/i32

[2016-10-31 22:18] Cellule opened #1860 "WASM - i64.trunc_s/f32"
Implement operator i64.trunc_s/f32
Should trap when the floating point value is NaN or outside the range which rounds to an integer in range

[2016-10-31 22:18] Cellule opened #1861 "WASM - i64.trunc_s/f64"
Implement operator i64.trunc_s/f64
Should trap when the floating point value is NaN or outside the range which rounds to an integer in range

[2016-10-31 22:19] Cellule opened #1862 "WASM - i64.trunc_u/f32"
Implement operator i64.trunc_u/f32
Should trap when the floating point value is NaN or outside the range which rounds to an integer in range

[2016-10-31 22:19] Cellule opened #1863 "WASM - i64.trunc_u/f64"
Implement operator i64.trunc_u/f64
Should trap when the floating point value is NaN or outside the range which rounds to an integer in range

[2016-10-31 22:19] Cellule opened #1864 "WASM - i64.extend_s/i32"
Implement operator i64.extend_s/i32

[2016-10-31 22:20] Cellule opened #1865 "WASM - i64.extend_u/i32"
Implement operator i64.extend_u/i32

[2016-10-31 22:20] Cellule opened #1866 "WASM - f32.convert_s/i64"
Implement operator f32.convert_s/i64

[2016-10-31 22:20] Cellule opened #1867 "WASM - f32.convert_u/i64"
Implement operator f32.convert_u/i64

[2016-10-31 22:21] Cellule opened #1868 "WASM - f64.convert_s/i64"
Implement operator f64.convert_s/i64

[2016-10-31 22:21] Cellule opened #1869 "WASM - f64.convert_u/i64"
Implement operator f64.convert_u/i64

[2016-10-31 22:21] Cellule opened #1870 "WASM - f64.reinterpret/i64"
Implement operator f64.reinterpret/i64

[2016-10-31 22:22] Cellule opened #1871 "WASM - i64.reinterpret/f64"
Implement operator i64.reinterpret/f64

[2016-10-31 22:23] Cellule opened #1872 "WASM - Elements segments Init Expression"
Support globals to define the offset of the elements segment
https://github.com/WebAssembly/design/blob/binary_0xc/BinaryEncoding.md#element-section

[2016-10-31 22:24] Cellule opened #1873 "WASM - Imported function in the table"
Correctly call imported functions from the function table (intermediary function used for the conversion)

[2016-10-31 22:25] Cellule opened #1874 "WASM - Import table"
Support importing a table to the wasm module
depends on new Js API
https://github.com/WebAssembly/design/blob/binary_0xc/BinaryEncoding.md#import-entry

[2016-10-31 22:25] Cellule opened #1875 "WASM - Import Memory"
Support importing memory object to the wasm module
https://github.com/WebAssembly/design/blob/binary_0xc/BinaryEncoding.md#import-entry

[2016-10-31 22:26] Cellule opened #1876 "WASM - Export Table"
Support exporting the table our of the wasm module
https://github.com/WebAssembly/design/blob/binary_0xc/BinaryEncoding.md#export-entry

[2016-10-31 22:27] Cellule opened #1877 "WASM - Array access out of bounds"
Throw trap when doing out of bounds access

[2016-10-31 22:27] Cellule opened #1878 "WASM - Int32 Math and conversion traps"
Verify and implement math operators that need to trap
https://github.com/WebAssembly/design/blob/binary_0xc/AstSemantics.md#32-bit-integer-operators

[2016-10-31 22:29] Cellule commented on #1878
@arun-etm @Krovatkin @commonlisp I seem to recall one of you guys was working on this. Can someone confirm ?

[2016-10-31 22:29] Cellule opened #1879 "WASM - Indirect call trap"
Trap on invalid indirect call (out of bounds and invalid signature)

[2016-10-31 22:30] Cellule opened #1881 "WASM - Ignore names section"
Until we have debugging support, we should ignore that section.

[2016-10-31 22:31] Cellule opened #1882 "WASM - Copy binary buffer"
We should make a copy of the binary buffer and use this for compilation instead of the source.
The reason is the source can be modified between the time it is passed and when we do the actual compilation.

[2016-10-31 22:32] Cellule opened #1883 "WASM - Investigate Debugging/Profiling scenario on Edge"
We won't support debugging right now, but we need to make sure we don't crash when opening the debugger.

[2016-10-31 22:32] Cellule opened #1884 "WASM - Async Javascript API"
Implement the final javascript API for the MVP

[2016-10-31 22:33] Cellule opened #1885 "WASM - Security analysis (2w)"
Setup tools to test and make sure the wasm frontend is secure

[2016-10-31 22:34] Cellule opened #1886 "WASM - assert when printing functions"
The following asserts at this time.
[code]
Investigate and fix the bug

[2016-10-31 22:35] Cellule opened #1887 "WASM - Int64/Float32 support in call import"
Add support for int64 and float32 arguments when calling imports
Depends on #1895

[2016-10-31 22:36] Cellule opened #1888 "WASM - fast array out of bounds traps"
Use the fast array implementation to detect out of bounds access and trap.

[2016-10-31 22:37] Cellule opened #1889 "WASM - Fold const math operations"
Related #1852
We want to calculate const math in the backend if possible.
Make sure the operators that differ from javascript are correctly handled

[2016-10-31 22:40] Cellule commented on #1127
Closed in favor https://github.com/Microsoft/ChakraCore/projects/1 for tracking

[2016-10-31 22:40] #1127 closed

[2016-10-31 22:48] Cellule commented on #1834
Depends on #1821 #1884

[2016-10-31 23:47] Krovatkin commented on #1878
yes! i'm working on this one!

[2016-11-01 09:53] dsaf opened #1891 "WASM - C# toolchain?"
Hi, what is the state of C# -> WASM toolchain using Microsoft tools such as Visual Studio? Thanks.

[2016-11-01 18:17] akroshg opened #1893 "Changing array to es5array on array method does not give correct output."
[code]
This should print (Chrome and Firefox do that)
22
201
44

Actual
22
44

This is because we use the DirectGetItem to fetch values.

[2016-11-01 18:18] akroshg commented on #1893
@bterlson to comment on that.

[2016-11-01 19:04] bterlson commented on #1893
@akroshg what comment do you want? I agree that our behavior is incorrect here.

[2016-11-01 19:29] #1409 closed

[2016-11-01 20:39] #1872 closed

[2016-11-01 20:44] Cellule opened #1895 "WASM - Treat imported WebAssembly functions as internal functions"
When importing a WebAssembly function into another module, that function needs to be called without boxing/unboxing.
The main reason is to support types that are not supported by javascript.

The solution we came up with is to create a wasm thunk (similar to #1807) that will then call the import and put this in the function array of the module's environment.
If the function we import is a WebAssem

[2016-11-01 20:44] Cellule commented on #1873
Close in favor of #1895

[2016-11-01 20:44] #1873 closed

[2016-11-01 21:16] akroshg opened #1896 "TypedArray : toLocaleString should use length from internal slot"
[code]
toLocaleString should iterate over the length we got from internal slot of typed array instead of Get('length')

Expected
```0.00, 31.00```
Actual
```0.00, 31.00, , ```

[2016-11-01 22:48] dilijev commented on #1891
Not aware of any plans for this functionality. (Marking as External because that would be owned by the C# team.)

[2016-11-01 22:54] dilijev commented on #1794
From our perspective, engine-agnostic tools are the better approach to getting JS code coverage numbers, and it's probably not worth the development effort to enable JS developers to collect engine-specific code coverage information (nor is it really clear to us what benefit that would buy for JS developers). There is probably a tool out there that can get you what you need, it will just take some

[2016-11-01 23:00] dsaf commented on #1891
@dilijev Yeah, and then C# team says it's not their problem and the LLVM team says it's not their problem either. It's not owned by anyone at Microsoft. Great, let's have the support anyway - maybe someone will actually use it one day.

[2016-11-01 23:10] Krovatkin commented on #1878
@Cellule A quick question. Should this item cover traps for i64 instructions too?
I added exceptions to the following i32 instructions.

[code]

This list seems to include every arithmetic exception I could scrub from ml-proto.

[2016-11-01 23:45] Cellule commented on #1878
@Krovatkin Yes I think this item should cover int64 as well.
You can make a separate PR for it however.

[2016-11-02 00:03] Krovatkin commented on #1878
@Cellule  Do you think if we could maybe

* For i64.trunc_XX add to issues' descriptions (currently unimplemented and unassigned) that these instructions need to handle overflow and invalid conversions
* For i64.div/rem, open a new issue to "add checks to handle DivideByZero, IntegerOverflow"?
* Rename this one into Math traps for i32 instructions

This way if someone else has a few free cycles we

[2016-11-02 00:06] Cellule commented on #1878
If you prefer it that way we can do that.

[2016-11-02 00:11] Cellule opened #1900 "WASM - Int64 Math Traps"
For i64.div/rem add checks to handle DivideByZero, IntegerOverflow

[2016-11-02 00:12] Cellule commented on #1878
I created #1900 and updated the related issues for int64 truncation from float

[2016-11-02 00:15] Krovatkin commented on #1878
@Cellule Thank you! This is mostly "just in case"; I don't want to become a bottleneck :-)

[2016-11-02 01:06] dilijev commented on #1891
Devil's advocate: Given the low-level nature of WASM/Asm.js it makes more sense to compile a non-managed and low-level language like C++ to those low-level representations than it does to compile a managed language like C# to those low-level targets (and Emscripten is quite good at what it does for C++).

Even if it were trivial to do, there's a lot of stuff in even a logically simple C# applicati

[2016-11-02 01:45] Cellule opened #1901 "WASM - Validate Start Function"
The start function must not take any arguments

[2016-11-02 02:04] MikeHolman commented on #1891
@dsaf In the longer term, we are planning on adding support for managed languages by exposing GC primitives. C# is one of the languages that we will keep in mind when designing this feature. This is all out of scope for the wasm MVP.

Until then, I have seen some community effort into this, e.g. https://github.com/kg/ilwasm. So it is possible or even likely that the community will come up with a s

[2016-11-02 05:59] JeTmAn1981 commented on #1402
Thanks, I had already poked around and landed on the DateImplementation, specifically the UtcTimeFromStrCore function which seemed to contain string parsing code.  I'm working on a refactor of some of that code which I'll need to complete in order to understand it properly before I could attempt to introduce additional functionality.  I'll submit the initial refactoring once I get it to past the t

[2016-11-02 10:46] dsaf commented on #1891
Thank you for explanation!

@dilijev it makes sense not to use JavaScript on server yet here we are with Node.js! If developers want to use C# to build mobile apps (Xamarin) they will most definitely want to use it for web - given "first-class citizen" experience - not transpilers-over-transpilers.

@MikeHolman

Yes, it's important that C# needs are well-represented in WASM committee.

I doubt com

[2016-11-02 11:48] still-dreaming-1 commented on #1794
Coverage provided by the engine would be great if it were part of the javascript spec and all engines started adding it. You guys could be a leader in that space which would encourage them to add it to ECMAScript. Having one engine support this is better than none as seeing the amount of coverage in one gives you a good idea of what it would be in others. So far I have only found that the dart VM

[2016-11-02 15:13] commonlisp commented on #1891
FWIW, there is an issue tracking codegen for WASM in the CoreCLR project. But again, it is blocked on the CG figuring out the GC support story. https://github.com/dotnet/coreclr/issues/5303

[2016-11-02 17:20] dilijev commented on #1891
I think that even a community implementation, with any problems it has, will speed adoption by corporate-backed efforts. This seems like overall a good thing to me.

@MikeHolman mentioned we're planning to add engine-side support for GC primitives so we can support managed languages. With that I think any potential work items on our end for this question are covered, so I'll plan to close this Que

[2016-11-02 17:23] dilijev commented on #1794
@bterlson can elaborate, but if we do want to make a trial implementation of such a feature that we plan on adding to the ECMAScript spec, we would go through the proposal and approval process with TC39, as we are members of TC39 and literally help write the standard. :)

[2016-11-02 19:10] Krovatkin commented on #1863
working on this one

[2016-11-02 19:10] Krovatkin commented on #1862
working on this one

[2016-11-02 19:10] Krovatkin commented on #1861
working on this one

[2016-11-02 19:10] Krovatkin commented on #1860
working on this one

[2016-11-02 21:42] MikeHolman commented on #1882
Done

[2016-11-02 21:42] #1882 closed

[2016-11-02 22:28] #1884 closed

[2016-11-02 22:36] EdMaurer commented on #149
Removing "Bug" and adding "Suggestion." This is a suggestion to use a number formatting algorithm consistent with other engines.

[2016-11-02 22:42] EdMaurer commented on #1415
This one will only flow out to future flights.

[2016-11-02 22:42] #1415 closed

[2016-11-02 22:52] EdMaurer commented on #135
There does not appear to be strong demand for a change here. Closing

[2016-11-02 22:52] #135 closed

[2016-11-02 23:06] EdMaurer commented on #1609
Looks like this thread has run its course.

[2016-11-02 23:06] #1609 closed

[2016-11-02 23:10] EdMaurer commented on #1153
Not a bug as semantics are correct, but performance could be improved.

[2016-11-02 23:10] #1153 closed

[2016-11-02 23:23] dilijev commented on #1153
If it's still an actionable issue, do we want to close this? We could move it to the Backlog milestone instead.

[2016-11-02 23:25] dilijev commented on #1609
Renamed the title to make it easier for others to find the content of this discussion in the future.

[2016-11-03 01:55] Krovatkin commented on #1900
@Cellule could you please assign this one to me? Looks like I should be able to keep up with all my items.

[2016-11-03 16:34] dkent600 commented on #1415
@EdMaurer  What does that mean "This one will only flow out to future flights.".  Is that a reference to some release date?

[2016-11-03 18:52] #1881 closed

[2016-11-03 21:04] #1877 closed

[2016-11-03 21:23] LouisLaf commented on #1891
Here is the link in the Wasm project talking about the future plan to add support for GC objects: [https://github.com/WebAssembly/design/blob/master/GC.md].

[2016-11-03 22:19] dsaf commented on #1891
@LouisLaf thanks, gives a hope for the future!

[2016-11-03 22:21] dsaf commented on #1891
@LouisLaf I noticed that tooling is marked as high-priority after MVP and C# is mentioned there as well: https://github.com/WebAssembly/design/blob/master/Tooling.md

[2016-11-03 23:24] #333 closed

[2016-11-04 05:09] obastemur opened #1917 "JSRT: Inconsistent Callback behavior"
Only few of our callbacks can execute JSRT API calls. i.e. new `JsSerializedLoadScriptCallback` is one of them. https://github.com/Microsoft/ChakraCore/blob/master/lib/Jsrt/JsrtSourceHolder.cpp#L246-L252

Is there any particular callback we shouldn't allow JSRT API calls ? or best if we make them all capable of doing this?

/cc @agarwal-sandeep @liminzhu

[2016-11-04 05:12] obastemur commented on #1596
@jianchun no actually. This **was** an xcode compile time issue on macos side.

Since then we made some code cleanup and general updates.
This issue no longer exist.

[2016-11-04 05:12] #1596 closed

[2016-11-04 05:22] obastemur opened #1918 "JSRT: uint8_t vs char for Utf8 interface"
Some JSRT API accept `char` for Utf8 named functions while others `uint8_t`.

We had a small discussion on this. Shared my opinion below;

 - `char` is more developer friendly and all C / IO comes with `char`.
     If a developer has nothing to do with utf8 encoding / flags etc.
     there is no reason for her/him to use `unsigned`. At least I can’t think of any.

 - No matter what we choose for e

[2016-11-04 17:04] gulshan commented on #1891
Xamarin team has a plan I think-
https://github.com/xamarin/WebSharp#future-work

[2016-11-04 23:24] gaa-cifasis opened #1922 "SIGILL when throwing an exception"
Hi,

We found an odd crash of the ChakraCore interpreter (ch) when you "throw a float". It was tested in ArchLinux using revision 627e01bc65455b2dad495bd311a2eced7417e97f.

To reproduce:
[code]

This issue was found using QuickFuzz.

Regards,
Gustavo.

[2016-11-04 23:53] obastemur commented on #1922
@gaa-cifasis I'm unable to reproduce this issue on Ubuntu, OSX, Fedora.

From your comment; looks like it fails on `floor` call.
It might be because of the OS itself ?

[2016-11-05 00:19] Cellule commented on #1901
This is already tested in the testsuite

[2016-11-05 03:10] gaa-cifasis commented on #1922
I dont know. Just in case, i'm compiling using gcc 6.2.1 and ChakraCore is failing here:

    (gdb) x/i $rip
    => 0x7ffff48832fd <Js::FDblToRgbFast(double, unsigned char*, int*, unsigned char**, int)+509>:
    roundsd $0x9,%xmm1,%xmm2

[2016-11-05 03:52] obastemur commented on #1922
Could you please send the outputs for the commands below;

[code]

[code]

Thanks

[2016-11-05 12:43] gaa-cifasis commented on #1922
Sure thing!

[ldconfig.txt](https://github.com/Microsoft/ChakraCore/files/573172/ldconfig.txt)
[proc-version.txt](https://github.com/Microsoft/ChakraCore/files/573171/proc-version.txt)

[2016-11-05 23:09] bterlson commented on #105
This is not true anymore, ToIndex is used to coerce the first (possibly undefined) object and the result should be a 0-length array buffer. Looks like we're correct here?

[2016-11-05 23:09] #105 closed

[2016-11-05 23:15] bterlson commented on #29
I think this bug is incorrect - we don't get the constructor prototype from Uint8Array.__proto__ but instead Uint8Array.prototype, which is non-configurable.

[2016-11-05 23:15] #29 closed

[2016-11-06 15:51] Oceanswave opened #1927 "Build on macOS 10.12 fails due to deprecated system call"
Steps to reproduce
---
Execute build steps as documented here:
https://github.com/Microsoft/ChakraCore/wiki/Building-ChakraCore

Replacing
[code]

with
[code]

Expected Behavior
---
Successful build of ChakraCore on macOS

Actual Behavior
---
The build fails with an error saying there's a call to a deprecated system call on macOS 10.12.

[code]

[2016-11-07 05:16] obastemur commented on #1927
@Oceanswave this is a previously fixed issue on master branch. Thanks for reporting. Feel free to open it back in case fix doesn't work for you.

[2016-11-07 05:16] #1927 closed

[2016-11-07 05:23] obastemur commented on #1922
I have installed arch-linux during the weekend and tested the case above.
It works without a problem. I also see ChakraCore tests cases are passing on Arch-Linux.

I'm really happy to see ChakraCore works on one another Linux distro.

[code]

One thing for sure, ArchLinux (latest) defaults to clang 3.9 on `pacman`.
We have a compatibility issue with Clang 3.9 and I'm about to send a PR for that fi

[2016-11-07 05:23] #1922 closed

[2016-11-07 06:41] obastemur commented on #1922
@gaa-cifasis FYI; https://github.com/Microsoft/ChakraCore/pull/1930

[2016-11-07 19:23] MikeHolman opened #1933 "dotnet-bot seems to test everything that has substring of your request"
I've found that when saying `test Ubuntu ubuntu_linux_release_static`, both `ubuntu_linux_release_static` and `Ubuntu ubuntu_linux_release` get rerun.

[2016-11-07 20:21] #1887 closed

[2016-11-07 20:21] #1895 closed

[2016-11-08 00:49] dilijev opened #1942 "Use /Zc:strictStrings flag in VC builds."
Proposed in #1802

[2016-11-08 00:51] Cellule commented on #1864
Fixed by #1823

[2016-11-08 00:51] #1864 closed

[2016-11-08 00:51] Cellule commented on #1865
Fixed by #1823

[2016-11-08 00:51] #1865 closed

[2016-11-08 02:46] Cellule opened #1946 "WASM - i32.Wrap/i64"
Implement  i32.Wrap/i64 operator
C++ equivalent to `int32 result = (int32)someInt64Val;`

[2016-11-08 03:20] dilijev commented on #1415
Closed because it was fixed in #1598 and there's nothing more to be done here. Only in future flights means Windows Insider Previews and future official releases will include this fix but already-released versions of Windows will not be patched (patches to released versions of Windows are typically security fixes only).

[2016-11-08 04:44] obastemur commented on #1595
JIT is enabled on OSX, closing.

[2016-11-08 04:44] #1595 closed

[2016-11-08 04:47] obastemur commented on #1424
@dilijev the links are dead. A bit more detail on this please.

[2016-11-08 17:26] #1834 closed

[2016-11-08 18:22] mrkmarron commented on #1765
Completed with PR #1810.

[2016-11-08 18:22] #1765 closed

[2016-11-08 18:23] mrkmarron commented on #1764
Completed with PR #1810.

[2016-11-08 18:23] #1764 closed

[2016-11-08 21:19] Cellule opened #1954 "WASM - f32/f64.min/max -0 bug"
f32.min and f32.max invalid result with `-0` depending if it's the 1st or 2nd argument.
Also different behavior between interpreter and Jit.
See
test/WasmSpec/testsuite/f32.wast:1318
test/WasmSpec/testsuite/f32.wast:1642
test/WasmSpec/testsuite/f64.wast:1318
test/WasmSpec/testsuite/f64.wast:1643

[2016-11-08 21:29] dilijev commented on #1424
@obastemur Sorry about that, you can look at any recent jobs from those configs. Updated above to point to the jobs' main pages.

As for the ask here, see: https://github.com/Microsoft/ChakraCore/blob/master/netci.groovy#L84

Basically it would be helpful to archive build and test logs for easier analysis of build failures. Currently we only have this configured for Windows builds. We need to set

[2016-11-08 22:05] #1857 closed

[2016-11-08 22:05] #1858 closed

[2016-11-08 22:05] #1860 closed

[2016-11-08 22:05] #1861 closed

[2016-11-08 22:05] #1862 closed

[2016-11-08 22:05] #1863 closed

[2016-11-08 22:05] #1878 closed

[2016-11-08 22:05] #1900 closed

[2016-11-08 23:56] Cellule opened #1957 "WASM - int32 trunc bug"
Wrong behavior in jitted code for i32.trunc_u/f32 and i32.trunc_u/f64
See test/WasmSpec/conversions.wast lines 78-84 and 117-122
test/WasmSpec/float_exprs.wast lines 695-696
test/WasmSpec/float_exprs.wast lines 704-709

[2016-11-09 00:10] dilijev commented on #1933
Yes, that's because of the design of triggers which match an entire line of output. One of the triggers it creates is by filling in the regex `.*test.*JOBNAME.*` by replacing `JOBNAME` with the name of the job (in the example above, `ubuntu_linux_release_static`. Since `ubuntu_linux_release` and `ubuntu_linux_release_static` both match `test ubuntu_linux_release_release`, it triggers both of those

[2016-11-09 00:13] dilijev commented on #1933
Trivia: that's why I changes the trigger for all linux tests from `test linux` to `test linux tests` (despite the redundancy) -- initially any request for an individual linux test was setting off all of the linux tests.

[2016-11-09 01:19] #1870 closed

[2016-11-09 01:19] #1871 closed

[2016-11-09 02:17] #1901 closed

[2016-11-09 02:22] #1886 closed

[2016-11-09 11:38] obastemur commented on #1933
@dilijev Thanks for the useful information. Sent a PR with a potential fix to this; I was going to fix `no-jit` test names anyways. one stone two birds :)

We may discuss further here and finally update that PR to whatever the decision we reach.

my initial proposition follows;

`customTask(i.e no_jit)_shared/static_platform_buildType`

Since the final name comes with `platform` anyways, we may al

[2016-11-09 11:39] obastemur commented on #1562
@dilijev @tcare can we close this now?

[2016-11-09 18:39] #1562 closed

[2016-11-09 20:57] Cellule opened #1967 "WASM - f32.convert_u/i32 bugs"
The following tests are failing in jitted code
`test/WasmSpec/testsuite/conversions.wast` lines 266 & 268
`test/WasmSpec/testsuite/float_exprs.wast` lines 493 & 698-700

[2016-11-09 21:17] #1866 closed

[2016-11-09 21:17] #1867 closed

[2016-11-09 21:17] #1868 closed

[2016-11-09 21:18] #1869 closed

[2016-11-09 21:19] Cellule commented on #1859
This is mostly done in term of feature.
Please refer to #1967 for known bugs

[2016-11-09 21:19] #1859 closed

[2016-11-09 23:51] Krovatkin commented on #1957
@MikeHolman

Identified 3 separate issues in those tests so far. Two of which we are working on fixing.

* (NEW) for unsigned truncations, we need to convert to double first before doing subtraction, since 23 bits of precision is not enough to convert relatively small numbers. For example, `1 - MIN_INT` after conversion gives us `MIN_INT`, we add `0x80000000` and get `0` instead of `1`
* If we try

[2016-11-09 23:54] Krovatkin commented on #1967
i hope if we decide on PR #1960 it will fixes the issues in those test cases

[2016-11-10 00:06] MikeHolman commented on #1957
From all this it sounds like the sequence I initially suggested was ill advised. Maybe we need to do the range check?

[2016-11-10 00:23] Cellule commented on #1967
If you think it fixes the issues, you should uncomment those tests and regenerate the .wasm/.json files in your PR

[2016-11-10 00:36] Krovatkin commented on #1967
@Cellule will do!

[2016-11-10 01:27] akroshg commented on #1662
This is due to not handling the InternalProperty for proxy object. I don't see any harm of storing this internal property on the Proxy object itself. I tried that and it works. I just need to understand this more why we didn't do that before. I couldn't find out from the spec on such restriction (as long as it is not modifying the target object why it cares.).

[2016-11-10 01:28] dilijev commented on #1933
Discussing here rather than in a PR comments is a good idea because we might accidentally set off a lot of triggers on the PR while we're discussing triggers.

Since individual test names are copy-paste for triggers in most cases I wasn't worried about being especially terse (more detailed even if redundant is more future proof in the sense that we have less to update).

Work item this will probab

[2016-11-10 01:37] obastemur commented on #1933
@dilijev good point. Will update those on final PR.

This item has not much priority and I guess we would not prefer changing the test names very often.
I will give this discussion couple of days more to see if any other opinion will show up.

[2016-11-10 01:59] dilijev commented on #1933
Some more thoughts:

Remember to check in the change to the `netci.groovy` to any branch which is affected (if xplat test changes only, `release/1.3` is the branch; if it affects Windows, then target `release/1.2`).

My thoughts on changing things: only change things if there's a benefit (this issue brought up a good one), and leave along anything you can. That said, as long as we're making the up

[2016-11-10 07:37] #1874 closed

[2016-11-10 07:37] #1876 closed

[2016-11-10 07:37] #1879 closed

[2016-11-10 07:41] obastemur commented on #344
There is not much to do here. Closing

[2016-11-10 07:41] #344 closed

[2016-11-10 07:42] #347 closed

[2016-11-10 08:30] Cellule commented on #1946
Closed in #1965

[2016-11-10 08:30] #1946 closed

[2016-11-10 08:30] Cellule commented on #1875
@MikeHolman This is done right ?

[2016-11-10 10:17] MikeHolman commented on #1875
Yup. Closed by #1959

[2016-11-10 10:17] #1875 closed

[2016-11-10 15:15] mmitche commented on #1933
It might be worth changing the regex to have a word boundary at the end of the string.  That can be changed at the utility level.

FYI, I think your triggers are available by commenting @dotnet-bot help

[2016-11-10 20:34] dilijev commented on #1933
@mmitche That's a good idea about adding the word boundary (`\b`). That would block matching beyond the end of a particular trigger name.

[2016-11-10 21:09] dilijev commented on #1933
@mmitche to clarify, are you saying you are going to add that to the Utilities script, or should we add it to our regexes?

[2016-11-10 21:32] liminzhu commented on #1918
What I care most is that we use one consistent type across. @agarwal-sandeep @curtisman @jianchun on which one is better?

[2016-11-10 21:54] Krovatkin commented on #1957
@MikeHolman yes working on reinstating the older version of truncation sequence and enabling failing tests

[2016-11-10 21:58] mmitche commented on #1933
I can add it to the overall regexes.

[2016-11-11 14:18] Shepard opened #1987 ""SCRIPT5002: Function expected" when passing array from other window to Set constructor"
I have a page (parent.html) that opens another page (child.html) in a new window. That child page calls a function that was defined globally in its opener, passing in an array. In that function, a new Set is created, passing the array received from the child window to the Set constructor. This leads to the error "SCRIPT5002: Function expected" on the console, pointing to the beginning of the line

[2016-11-11 14:24] Shepard commented on #1987
I should probably add that I tried to raise this as an Edge bug at first but was lead here from the Edge bug tracker when I picked JavaScript as the category.

[2016-11-11 18:30] dilijev commented on #1208
@bterlson I'm going ahead with this change, but just wanted to follow up about whether consensus was reached?

[2016-11-11 19:33] xanlpz opened #1989 "Mangled name collision with clang 3.9.1"
Getting this in debug builds with clang 3.9.1:

/home/xan/git/ChakraCore/lib/Runtime/ByteCode/ByteCodeDumper.cpp:1192:21: error: definition with same mangled name as another definition
    ByteCodeDumper::DumpReg2(OpCode op, const unaligned T * data, FunctionBody * dumpFunction, ByteCodeReader& reader)
                    ^
/home/xan/git/ChakraCore/lib/Runtime/ByteCode/LayoutTypes.h:47:1: note: pr

[2016-11-11 19:34] obastemur commented on #1989
@xanlpz Thanks for the details. Already fixed under https://github.com/Microsoft/ChakraCore/pull/1930 .

[2016-11-11 19:50] dilijev commented on #1208
@mathiasbynens to clarify, I took your result script and added the following lines:

[code]

And see the following counts:

[code]

That doesn't quite match with the numbers included in your original post. If I'm not mistaken, all ID_Start characters can be used as ID_Continue, but not all ID_Continue can be used as ID_Start. (If I understand correctly, ID_Continue could include numerals, which ca

[2016-11-11 20:17] digitalinfinity commented on #328
Resolved with Microsoft/ChakraCore#1986. FYI @mrkmarron. @mjsabby, please feel free to give a recent ChakraCore binary a try and see if it works for you. We can tackle further issues with ETW as separate issue now that the instrumentation manifest is in GitHub.

[2016-11-11 20:17] #328 closed

[2016-11-11 20:22] akroshg commented on #757
It is fixed - closing this issue.

[2016-11-11 20:22] #757 closed

[2016-11-11 20:22] akroshg commented on #757
thanks @nicolo-ribaudo @snowmantw

[2016-11-11 22:10] Cellule opened #1991 "WASM - Use WebAssembly.RuntimeError where needed"
Known place that needs updating
- LowererMDArch::LowerWasmMemOp
- trunc and div/rem

[2016-11-11 22:59] Cellule commented on #1856
Fixed in #1976

[2016-11-11 22:59] #1856 closed

[2016-11-11 23:10] Cellule commented on #1967
The tests in test/WasmSpec/testsuite/conversions.wast lines 266 & 268 haven't been reenabled

[2016-11-11 23:12] Krovatkin commented on #1967
dang! @Cellule i'm really sorry about that! let me fix this.

[2016-11-12 01:12] Cellule opened #1996 "WASM - Int64 imported global error"
Make imported int64 globals throw at instantiation time instead of compile time

[2016-11-14 01:10] jcoffland opened #2002 "New JSRT API documentation"
I see that the latest JSRT code ``master`` branch has a different API than what is documented in the [wiki](https://github.com/Microsoft/ChakraCore/wiki/JavaScript-Runtime-%28JSRT%29-Reference).  Notably ``JsStringToPointer()`` no longer exist but there are functions like ``JsCopyString()`` which use utf-8 instead.  This is really great but I cannot find documentation anywhere.

Could you either p

[2016-11-14 08:27] jcoffland commented on #2002
I was able to generate my own up to date documentation from the source using Doxygen.  Here's how.  First generate a default Doxygen configuration file with:

    cd ChakraCore
    doxygen -g Doxyfile

Then edit ``Doxyfile`` changing the following settings:

    PROJECT_NAME           = "Chakra Core"
    . . .
    OUTPUT_DIRECTORY       = "docs"
    . . .
    OPTIMIZE_OUTPUT_FOR_C  = YES
    . . .

[2016-11-14 08:41] obastemur commented on #2002
@jcoffland we have been tracking this issue at https://github.com/Microsoft/ChakraCore/issues/2002#issuecomment-260275216

@alexgwolff any update?

[2016-11-14 09:42] obastemur opened #2003 "Fix ENABLE_DEBUG_CONFIG_OPTIONS usage"
We could have `test flag` options are available to our xplat `ch` release.
I don't see any reason to include `debug dump` related functionality to that binary. My intention is to support test flags without hurting the performance of the binary.

Looked through the source codes and saw `ENABLE_DEBUG_CONFIG_OPTIONS` is used in many places where `DBG_DUMP` or others are more suitable.

I'm not propos

[2016-11-14 12:15] obastemur opened #2004 "Introduce git diff --check or something similar"
I see the same source file I had cleaned up from white spaces is now with of new whitespaces.

It is really hard to see what was changed with the commit due to white-space noise.

We might introduce `git diff --check` or something similar to limit whitespace noise.

[2016-11-14 12:48] mathiasbynens commented on #1208
@dilijev The numbers I posted were wrong, indeed. The output produced by the script (and the numbers you logged) are correct. Here’s how I confirmed this:

[code]

I’ve updated the top post accordingly.

Interestingly, ES5 defined a list of Unicode `General_Category` values whose characters were allowed in `IdentifierStart` and `IdentifierPart`. ES6 / ES2015 simplified by referring to `ID_Start` /

[2016-11-14 14:19] d4nnyk opened #2006 "JsRunScriptUtf8 missing"
JsRunScriptUtf8 is missing from the Master branch, which is used in all of the samples for Linux. I guess previously there was a Linux branch and currently it's not there.

Could you please add this? or change the example program to use current exposed API?

[2016-11-14 17:11] Krovatkin commented on #2004
@obastemur we could consider introducing a  `--pre-commit` git hook which triggers a bash/perl script  to clean up extra new lines and whitespaces. Then the new changes could be staged and commited with `--no-verify`?

[2016-11-14 17:34] agarwal-sandeep commented on #1713
Closing since this is complete and merged

[2016-11-14 17:34] #1713 closed

[2016-11-14 18:24] liminzhu commented on #2006
// fyi @obastemur

Hi @d4nnyk. The utf8 APIs were experimental, and we've replaced them with something we believe is better for cross-platform apps https://github.com/Microsoft/ChakraCore/pull/1830. Do you have a dependency on the old APIs? In a nutshell, the way to use new string APIs is 1) converting native strings (`const char`/`uint8_t`/`uint16_t`) to `JsValueRef` (a JavaScript var in JSRT), 2

[2016-11-14 18:44] xanlpz opened #2009 "jit: finally block is not executed after try/catch throws exception"
The Error/stack.js test fails because all the "finally" blocks are not executed (as of git master bbf46243132). I can reduce the issue to just this code
[code]

If the test is run with -forceNative we get:
localhost:\~/git/ChakraCore%/home/xan/git/ChakraCore/BuildLinux/Test/ch -forceNative foo.js
In catch undefined
Without:
localhost:\~/git/ChakraCore%/home/xan/git/ChakraCore/BuildLinux/Test/ch fo

[2016-11-14 18:51] d4nnyk commented on #2006
Thanks! I had to go through some of the "test" code to find "JsRun" and I have ported the old code.
It will be great if you can change the sample code :)

[2016-11-14 19:00] jianchun commented on #2009
Just tried this in an older branch and also latest master on Ubuntu, no repro...

[2016-11-14 19:03] xanlpz commented on #2009
This is a test build, compile target amd64, built with clang 3.9.1 on Fedora 25. I can easily try an older compiler just in case, not sure what else might be relevant.

[2016-11-14 19:07] kunalspathak commented on #1713
Fixes https://github.com/Microsoft/ChakraCore/pull/1897

[2016-11-14 19:20] xanlpz commented on #2009
Compiling with clang 3.8.1 fixes the bug. It also fixes the other failures I was seeing. I'll try to figure out whether this is a bug in clang or something a newer clang has uncovered in Chakra if that seems OK.

[2016-11-14 19:21] jianchun commented on #2009
I also reproduced with clang 3.9 on Ubuntu. Thanks for reporting, and yes please help investigate!

[2016-11-14 20:23] obastemur commented on #2009
I don't recall this issue while I was testing ArchLinux / Ubuntu with clang 3.9 couple of weeks ago

[2016-11-14 20:46] obastemur commented on #2004
@Krovatkin sounds good. @dilijev @tcare opinions ?

[2016-11-14 21:05] tcare commented on #2004
The problem with hooks is that we can't force people to use them. We could add it to the internal scripts to set up the repo but people who have already cloned it will probably not bother. We'd also have to update internal automation to take these into account. It's desired but low pri.

CI checks were meant to be the solution to this. However I don't think most people thought it was important eno

[2016-11-14 21:15] obastemur commented on #2004
I'm wondering if there is any good / viable reason to allow empty spaces? i.e. if we make a rule and block all the new whitespaces, would we endup limiting something has to be there?

Otherwise, what we have right now is IMHO troubling. We loose more time to understand what was really changed in a particular PR.

[2016-11-14 21:18] #1989 closed

[2016-11-14 21:19] Krovatkin commented on #2004
@tcare

I remember I was reading about a workaround for this exact problem. Some1 was suggesting to put all hooks in a `hooks` folder and then symlink it to `.git/hooks`

[2016-11-14 21:20] obastemur commented on #2009
Could you please try this one with the latest master? #1964 disables tail call optimization only for noinline functions + clang 3.9 build fix is also merged in.

[2016-11-14 21:27] Krovatkin commented on #2004
@tcare
Referencing the original stackoverflow [question](http://stackoverflow.com/questions/4592838/symbolic-link-to-a-hook-in-git)

Though, I'm not sure if this is a feasible solution for windows?

[2016-11-14 21:40] tcare commented on #2004
You still have to make people do the symlink though :( People that care enough to symlink aren't the ones to be breaking the rules usually.

I am only really for banning things at CI level if they're important enough. Trailing whitespace and tabs are important to me, but they weren't for everyone (read: above me :)) when it was originally put forward.

I'll let Doug reply because he is famous in t

[2016-11-14 21:46] dilijev commented on #1223
This issue is External to ChakraCore. We'll route it internally to the right folks. Thanks for reporting it!

[2016-11-14 21:46] Krovatkin commented on #2004
I might be mistaken here, but I thought git treated symlinks as regular files, so we could just include them as the part of the repo. Frankly, I never tried to share hooks as the part of the repo.

I have a script called **doug** to remove redundant newlines and trailing whitespaces :-)

[2016-11-14 21:49] dilijev commented on #1408
Marking as External. As I previously mentioned, the word choice is a localization issue which is external to ChakraCore. We'll route this to the right people.

I'll look into the missing slash. Depending on whether that space or slash (depending on locale) is inserted by ChakraCore, this might also be a localization issue external to ChakraCore, or it might be something we can fix.

[2016-11-14 21:57] dilijev commented on #2004
lol I've just started treating trailing whitespace as a quirk of our codebase. When we migrated to the open source repo we ran a script to clean up all the tabs and trailing whitespace and that was the best I could get anyone to agree to. Everyone agrees tabs are bad so I added that CI check when we started seeing tabs show up again (there's really not that many of them yet). Unfortunately, there'

[2016-11-14 21:58] tcare commented on #2004
Ha! Achievement unlocked Doug :)

[2016-11-14 22:59] dilijev commented on #1408
Unfortunately, even the absence of the slash seems to be entirely a localization issue external to ChakraCore. I will forward that information along to the right folks as well.

[2016-11-15 00:26] #1841 closed

[2016-11-15 00:46] dilijev commented on #1208
Marking as External.

It looks like compliance with a particular Unicode version is an external library issue on all platforms.

On Windows we use
`ABI::Windows::Data::Text::IUnicodeCharactersStatics::IsIdStart`
`ABI::Windows::Data::Text::IUnicodeCharactersStatics::IsIdContinue`
(See `lib\Runtime\PlatformAgnostic\Platform\Windows\UnicodeText.cpp`)

For non-Windows we use ICU's `u_IsIDStart(ch)` an

[2016-11-15 00:53] digitalinfinity commented on #1208
Note that the different external libraries have different levels of Unicode versions supported. IIRC, the ICU version we support supports Unicode 8? Last I checked, Windows.Globalization.dll supported Unicode 6.1 or 6.2, IIRC. cc @bterlson

[2016-11-15 01:13] dilijev commented on #1208
Hmm in that case it might not be reasonable to wait for Windows to update their APIs for Unicode -- otherwise we just have to accept that Unicode compliance on Windows will lag behind.

Would it be reasonable to take a dependency on ICU for ChakraCore and/or Chakra to resolve this issue? (If we did that it would most likely be out of scope for milestone 1.4.)

[2016-11-15 01:19] dilijev commented on #1208
Confirmed the test cases above do not work in node LTS Argon 6.9.1 but do work in node 7.1.0.
Confirmed they don't work in ch on Windows.
Confirmed they don't work in ch on Linux either (as @digitalinfinity mentioned, the ICU version we're using does not support Unicode 9).

[2016-11-15 01:32] dilijev opened #2014 "TypedArray constructor throws TypeError for undefined argument"
Effectively, 'new Uint8Array(0)' and 'new Uint8Array()' and 'new Uint8Array(undefined)' should have the same behavior.

Converting from an internal issue.

This issue is not a spec deviation from ES 6.0. It's a spec change in ES 2017. In ES6, we were supposed to (and are correctly) throwing TypeError if length is undefined.

ES 6.0 spec text:

22.2.1.2 %TypedArray% ( length )

This description app

[2016-11-15 01:32] dilijev commented on #2014
/cc @boingoing @ianwjhalliday

[2016-11-15 02:59] ianwjhalliday commented on #2014
There is more to this.  Generally in the [`TypedArray(length)`](https://tc39.github.io/ecma262/#sec-typedarray-length) constructor overload the first argument is passed to `ToIndex` which should handle all cases for us, but our code was handling this manually and incorrectly (according to older spec).

This means null, booleans, and strings are also handled incorrectly.

[2016-11-15 09:23] #2006 closed

[2016-11-15 09:24] obastemur commented on #2006
We track this issue at https://github.com/Microsoft/Chakra-Samples/issues/47 and the PR for new samples https://github.com/Microsoft/Chakra-Samples/pull/48

[2016-11-15 09:24] obastemur commented on #2006
@d4nnyk Thanks for reporting anyways 👍

[2016-11-15 09:59] obastemur commented on #1492
Prepared the bash script below for anyone looking into calling ChakraCore from Rust

[code]

[2016-11-15 10:25] obastemur commented on #2004
If we are into finding solutions to my day to day problems, thanks for the reminders.

- Shall we expect this from anyone looking into our commit history as well ?
- Breaking cursor pos. especially with vim et al. IDE
- Even if we use the `?w=1` and someone introduce a trailing ws into one of our python files, we would have hard times to find that bug? because the whole diff is way too dirty OR we

[2016-11-15 10:44] xanlpz commented on #2009
Same results as of commit 526fbe4fb39. I tried to test with clang 4.0.0 (master) but Chakra does not compile.

[2016-11-15 11:28] xanlpz commented on #2009
I have bisected this and not surprisingly the "bad" commit is the one enabling JIT on Linux. Still as I said above it remains to be seen whether there's a bug in there or in newer clangs.

[2016-11-15 14:48] Fishrock123 commented on #1492
@obastemur Still trying to get around to this again... some day.

How is this script intended to be used?

[2016-11-15 14:50] obastemur commented on #1492
@Fishrock123 Compile the rust file i.e. `HelloWorld.rs` into `helloWorld.o` and run the script above. It will link all of them into a single binary.

[2016-11-15 15:50] obastemur commented on #2009
@xanlpz Thanks for pushing on this. I can also confirm the bug with Clang 3.9

[2016-11-15 15:52] obastemur commented on #2009
BTW; I don't think this is a Clang bug.

[2016-11-15 19:11] liminzhu commented on #1917
What's the current behavior? What JSRT APIs do we allow to call in `JsSerializedLoadScriptCallback` and other callbacks? Everything including `JsRun`? I can see that as a problem...

[2016-11-15 19:49] ianwjhalliday opened #2020 "Clean up TypedArray tests (test/typedarray/*.js)"
As I mentioned in commit 0f69cba81b8fed268d2b6ac73a786778d8075741 of PR #2016, the TypedArray tests are cumbersome to work with and contain a lot of redundancy. It would be great to consolidate them into a single test file using UTF.js and looping through the different TypedArray constructors instead of repeating tests for each explicity.

I found a couple bugs in these tests when I updated them.

[2016-11-15 20:07] Krovatkin commented on #2009
@obastemur @xanlpz i diffed the baseline against CI job's output. In my CI job I was missing the last overflow error which relies on a deeply nested object to trigger stack overflow. Maybe, the count (`200000`) we are using just doesn't cut it (overflow) anymore. Though, I'm not sure we are talking about the same issue here.

[code]

[2016-11-15 21:51] #1967 closed

[2016-11-15 22:00] dilijev commented on #1208
Removing this from Milestone 1.4. If we wait for Windows to update the Unicode APIs, there's no action to take here. If we were to implement this functionality or change dependencies, it is too risky for this milestone.

[2016-11-15 22:06] dilijev commented on #1632
Hi @gidmeister2, following up with this issue - have you opened this bug in the Edge bug tracker? If so, can you link it here?

In any case, I'll close this issue soon because there's no action to take on our end.

[2016-11-15 22:07] dilijev commented on #903
Duplicate of #881

[2016-11-15 22:10] dilijev commented on #1891
Looks like this question is answered and there's no action to take on our end. Closing this issue.

[2016-11-15 22:10] #1891 closed

[2016-11-15 22:14] dilijev commented on #1478
Looks like this question is answered, so I'm closing it. I think any work items related to this are already tracked in the xplat effort.

[2016-11-15 22:14] #1478 closed

[2016-11-15 22:17] dilijev commented on #1702
Looks like this question is answered. Closing this issue.

[2016-11-15 22:17] #1702 closed

[2016-11-15 22:44] dilijev commented on #1656
@oguzhankarsli I'm closing this question because there has been no recent activity. Feel free to respond with more information and we can reopen this question to continue the conversation if you're interested.

[2016-11-15 22:44] #1656 closed

[2016-11-15 22:50] dilijev commented on #1633
@oguzhankarsli I'm closing this question because there has been no recent activity. Feel free to respond with more information and we can reopen this question.

[2016-11-15 22:50] #1633 closed

[2016-11-15 23:01] dilijev commented on #1573
Looks like this question is answered. Closing this issue.

[2016-11-15 23:01] #1573 closed

[2016-11-15 23:07] dilijev commented on #2004
@obastemur Unfortunately, it's somewhat worse than laziness.

VS does not actually have a setting to just trim trailing whitespace from code files (either manually or automatically on save). The format command (Ctrl+K, Ctrl+F) trims trailing whitespace but also does much more, much of which is unwanted when you're just trying to trim whitespace.

I updated the .vimrc I use on my work machine becau

[2016-11-15 23:12] dilijev commented on #1492
@obastemur @liminzhu Is there any place for a script like that in the wiki, samples, or other documentation, so it doesn't just get lost in this issue?

[2016-11-15 23:21] Krovatkin commented on #2004
a combo, "git diff" (to get the line ranges w/ changes) + simple perl/sed script (to remove trailing whitespaces  only for those line ranges), triggered by a pre-commit hook would solve this issue no matter which editor one is using 😉

[2016-11-15 23:24] dilijev commented on #2004
Good point for solving the problem for a given user, but again, getting everyone to use the pre-commit hook is the problem there.

[2016-11-15 23:25] tcare commented on #2004
Which is then introducing a dependency on Windows.. and how do you make people do that when they don't use the command line for their commits?

CI is the only way to 'enforce' this. But you still have to convince the team that it's worth cleaning up and enforcing.

[2016-11-15 23:34] dilijev commented on #2002
I'm assuming @obastemur meant to link to the related PR on the ChakraCore-wiki repo: https://github.com/Microsoft/ChakraCore-wiki/pull/13

[2016-11-15 23:35] dilijev commented on #1068
Closing this issue as it has been migrated to https://github.com/Microsoft/ChakraCore-wiki/issues/7

[2016-11-15 23:35] #1068 closed

[2016-11-15 23:37] dilijev commented on #1987
Hi @Shepard, thanks for the issue. It looks like this is an issue with DOM APIs. You can open a bug on the Edge tracker under that category. Please see: https://github.com/Microsoft/ChakraCore/wiki/External-Issues#but-the-edge-issue-tracker-sent-me-here

[2016-11-15 23:37] Krovatkin commented on #2004
@tcare

Lol, this is so true! I just didn't realize that there was this brave new world of GUI tools out there :-)

Isn't there an alternative on Windows? Powershell, maybe?

[2016-11-15 23:39] dilijev commented on #2004
Basically, there are a lot of problems to solve (and effort to put in) for what many regard as a non-issue.

That said, I'm not necessarily saying we shouldn't fight the good fight.

[2016-11-15 23:44] tcare commented on #2004
@Krovatkin

Sure, but you have to have a solution that is cross platform and doesn't introduce independencies unless it's critical. Powershell is ok on Windows but would introduce a dependency on *nix. I would argue whatever is bundled with Git is OK.

[2016-11-15 23:49] dilijev commented on #2004
So use a bash script and depend only on whatever git commands and bash utilities are included in the Windows version of Git? Seems reasonable.

[2016-11-16 00:10] jcoffland commented on #2002
@dilijev Thanks.  That makes a lot more sense now.

[2016-11-16 00:15] dilijev commented on #599
@bterlson Any word on the TC39 Consensus aspect of this issue?

[2016-11-16 00:19] dilijev commented on #1208
TC39's intent is generally that the latest version of the Unicode standard should be used in the latest version of the ECMAScript standard. Removed "Pending TC39 Consensus" label.

[2016-11-16 00:20] dilijev commented on #1558
[Consensus was reached](https://github.com/tc39/ecma262/pull/685#issuecomment-249950269)

[2016-11-16 01:43] dilijev commented on #2002
Closing this issue since it's being tracked elsewhere.

[2016-11-16 01:43] #2002 closed

[2016-11-16 01:48] dilijev opened #2026 "[Legacy] Illegal argument to sizeof"
https://github.com/Microsoft/ChakraCore/wiki/Build-Status#legacy-builds

`
lib\Runtime\Library\WebAssemblyTable.cpp(124): error C2070: 'unknown': illegal sizeof operand [lib\Runtime\Library\Chakra.Runtime.Library.vcxproj]
`
`
lib\Runtime\Library\WebAssemblyTable.cpp(124): error C2338: sizeof(m_maxLength) == sizeof(uint32) [lib\Runtime\Library\Chakra.Runtime.Library.vcxproj]
`

[2016-11-16 11:10] obastemur commented on #2004
@dilijev This sounds like a good open source hobby project idea! Quickly searched for a plugin doing that and couldn't find something fits for exactly what we are looking for.

It will be fun! Don't know how much `free` :) time it will take but here is the repository for the project -> https://github.com/obastemur/VSWhiteSpaceFree

[2016-11-16 11:32] obastemur commented on #1492
@dilijev unless we don't put a working rust sample and keep track of it, I don't think it is a good idea to locate such script to our wiki or any other official document.

Sample script above, I just wanted to clear out couple of tricky steps for people interested using ChakraCore from Rust. Search engines should lead to this page whenever they need it.

[2016-11-16 17:31] bterlson commented on #599
@dilijev No word, no progress, and it seems unlikely to make progress from my conversations with people.

[2016-11-16 20:18] obastemur commented on #2009
One more thing; This is not a Clang 3.9 only issue; CI -> https://ci.dot.net/job/Microsoft_ChakraCore/job/master/job/osx_osx_debug_static/

Looks like we have been hitting this issue randomly.

[2016-11-16 23:35] akroshg commented on #1662
It is fixed.

[2016-11-16 23:35] #1662 closed

[2016-11-16 23:37] #1996 closed

[2016-11-16 23:38] akroshg commented on #1391
Isn't this the one what @ianwjhalliday is fixing?

[2016-11-16 23:49] dilijev commented on #2004
Not sure how productive it is to work on a new VS plug-in. There are already plug-ins that support what we're asking for here. The problem is getting everyone to adopt a single tool when that feature is not provided out of the box with VS.

[2016-11-17 00:07] dilijev commented on #1492
@obastemur fair enough. Anything we can do to make this easier to find for people looking for this? I guess searching our issues for "Rust" is enough.

[2016-11-17 00:13] maksqwe commented on #1957
@Krovatkin
By the way, can be that this typo is affected to truncation bug?

\lib\backend\linearscan.cpp 3400
[code]

[2016-11-17 02:03] ianwjhalliday commented on #1391
This looks like a superset of what I fixed.

I can revisit this later, or someone from the language team can pick this up and continue from my changes.

[2016-11-17 02:32] Cellule opened #2033 "WASM - js api bugs"
Fix WebAssembly.instantiate, Module.exports and Module.imports

[2016-11-17 02:33] Cellule opened #2034 "WASM - WebAssembly.Module.imports keep order"
WebAssembly.Module.imports resulting array should be in the same order as it was initially describe in the wasm section

[2016-11-17 02:33] Cellule opened #2035 "WASM - handle WasmCompilationException when instantiating"
Wrap WebAssembly Create in try/catch to catch WasmCompilationException and throw the proper javascript error

[2016-11-17 02:36] Cellule commented on #2035
#2032 fixes part of this. Still need to report the correct error message when the exception is caught

[2016-11-17 05:57] meg-gupta opened #2037 "WASM - handle float NAN literals"
Add support to handle literals such as nan:0x0f1e2. The following tests for copysign and min/max are failing:

in `testsuite/float_misc.wast`
-noNative only:
(assert_return (invoke "f32.copysign" (f32.const nan:0x0f1e2) (f32.const nan)) (f32.const nan:0x0f1e2))
(assert_return (invoke "f32.copysign" (f32.const nan:0x0f1e2) (f32.const -nan)) (f32.const -nan:0x0f1e2))
(assert_return (invoke "f32.copy

[2016-11-17 06:50] geek-li commented on #2026
seems same  error  like urs

[2016-11-17 07:32] kphillisjr commented on #1616
A major update on this bug report... I have created the Initial example on how to build ChakraCore in an embedded scenario where the Chakra-Samples ( hello world only for now ) are the source tree... The two branches for this are located at:
ChakraCore: https://github.com/kphillisjr/ChakraCore/tree/cmake_embed_v1
ChakraCore Samples: https://github.com/kphillisjr/Chakra-Samples/tree/samples_add_cma

[2016-11-17 07:37] Krovatkin commented on #1957
Hi Maks!
Thanks for reporting this! AFAIK, we seem to have fixed all the bugs in our 32-bit truncation logic and those issues fortunately had nothing to do with a register allocator 🎱 .

`sym->m_isTaggableIntConst = sym->m_isTaggableIntConst;` does look like a typo to me. Did you come across any more typos like this one? Also, how did you hit this one; did you run a lint on ChakraCore codebase?

I

[2016-11-17 07:38] kphillisjr opened #2038 "linux: Fix compile using GCC"
This is sort of a big request, but fix compilation using GCC (version 5.4.0) on Ubuntu 16.04 LTS. Many Linux distributions use GCC as the default compiler.

[2016-11-17 07:41] kphillisjr commented on #1616
I think that it would not hurt to include @liminzhu in this bug report. This adds major feature changes to ChakraCore (and the ChakraCore samples) after all.

[2016-11-17 07:41] Krovatkin commented on #1957
@Cellule Do you think we can close this one? Or are there any more spec tests I haven't enabled?

[2016-11-17 18:41] kphillisjr commented on #1616
I got a few more commits on the both trees... Anyways there is bugs in the  debug build (for both the Hello World example and OpenGL Example ) where ChakraCore fails internally on Debug builds when linking to a shared library.

[2016-11-17 19:04] jianchun commented on #1917
If I understand correctly, the issue sample code originally had a problem pointed out by @agarwal-sandeep , that when calling user provided callback we should LEAVE_SCRIPT. I think we should do this for every user provided native-callback. (It is a different problem what JSRT API that callback can call.)

[2016-11-17 19:08] kphillisjr commented on #2004
I believe it might be worth noting that [Artistic Style(astyle)]( http://astyle.sourceforge.net/) has been around for a few years and works on Linux, OSX, and windows. This with a little bit of work can be integrated into both the Visual Studio project files and the linux/osx build script.

[2016-11-17 19:14] kphillisjr commented on #1918
For user facing interfaces, I agree that the use of ```char``` is the best argument choice for 8-bit characters.

[2016-11-17 19:18] agarwal-sandeep commented on #1917
The only problem I see is that this opens up new reentrancy paths which are untested.

[2016-11-17 19:22] #1957 closed

[2016-11-17 19:25] tcare commented on #2004
We'd like to avoid adding another dependency to the project, since we need to build on stock Visual Studio/msbuild. Internally this is also a problem for us where we cannot even have msbuild plugins.

CI is the only universal gate we can have that would enforce this kind of requirement.

[2016-11-17 19:27] jianchun commented on #1918
The reason for one more variant was to allow node-chakracore to support v8's OneByte string. Thinking it over, if we don't care about perf, node-chakracore can implement that variant in chakrashim. chakrashim can just use the Utf16 variant and convert back and forth. @kunalspathak @agarwal-sandeep

[2016-11-17 19:34] liminzhu commented on #1917
IIUC @jianchun @agarwal-sandeep both of you are talking about script re-entrancy? We should disallow that in callbacks. Any other calls are fine.

[2016-11-17 19:37] #2014 closed

[2016-11-17 20:13] kphillisjr commented on #2004
That is understandable, and astyle was the first thing I thought of.  I also should mention that clang supports automatic code formatting options ([Clang-Format Style Options](http://clang.llvm.org/docs/ClangFormatStyleOptions.html)), and the only issue on this case would be tailoring it into jenkins (CI).

[2016-11-17 21:20] Cellule opened #2041 "Lower IsOpndNegZero optimization (3d)"
Implement LowererMD::IsOpndNegZero without a helper call

[2016-11-17 21:46] dilijev commented on #1391
Adding references to other issues mentioned: #2014 #2016

[2016-11-17 21:57] dilijev commented on #2038
This is out of scope for our current milestones and current roadmap but we'll keep this in mind. During our initial work bringing ChakraCore cross-platform, we decided it was best to focus on a single compiler toolchain.

You should be able to install a compatible version of clang on most distributions so this shouldn't be a blocking issue for you. :)

[2016-11-17 22:01] Cellule commented on #2037
We have to hold off on this, the problem here can and probably is tooling. Because Wabt generates a compare of 2 floats and `nan != nan`.
The spec interpreter generates a i32 reinterpret than an i32 compare which works.
We might still have problems, but we should wait until we've updated tooling

[2016-11-17 22:01] Cellule commented on #1883
Right now we crash when debugging with wasm functions present

[2016-11-18 01:29] Cellule opened #2048 "WASM - incorrectly validate function with return type with nothing in the type stack"
`(module (func (result i32)))` validates when it shouldn't

[2016-11-18 01:47] JeTmAn1981 commented on #1402
Does anyone have tips for the best ways to test out my code changes?  How can I run the tests that just cover the code I've made changes to before running the entire test suite (which takes quite a long time to run on my machine)?  I know there's a date folder in the test directory, but I don't know how best to use that data.  I can run something like the DateParse.js test script but that just pro

[2016-11-18 02:01] dilijev commented on #1402
You can run tests from a single directory like this:

`jenkins\testone.cmd x64 debug -dirs Date`

If you run a single test you can compare the output against the `.baseline` file listed for that test in rlexe.xml in each directory, in your example:

[code]

[2016-11-18 02:06] meg-gupta opened #2049 "WASM: float32 NAN value representation in JIT"
We use double to store all FloatConstOpnd's in JIT.
While building a NAN float32 constant in IRBuilder we call:
`IR::FloatConstOpnd::New(constVal, TyFloat32, m_func), m_func);`

The function is declared as :
`FloatConstOpnd *
FloatConstOpnd::New(FloatConstType value, IRType type, Func *func)`

where `FloatConstType` is double

The conversion instruction from float to double will turn a float 0x7fa

[2016-11-18 02:26] kphillisjr opened #2052 "Linux: Shared Debug Library Broken"
I have found that the Shared Debug library for linux does not work correctly. There is internal assert failures.  The steps to reproduce are fairly straight forward if you follow the wiki with some slight changes( see: [Microsoft/ChakraCore Wiki: Embedding ChakraCore](https://github.com/Microsoft/ChakraCore/wiki/Embedding-ChakraCore)).

The steps to reproduce the issue are as follows...
1. Create

[2016-11-18 11:52] Shepard commented on #1987
Thanks, I opened a bug there: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/9861897/

[2016-11-18 18:16] suwc commented on #1402
https://github.com/Microsoft/ChakraCore/pull/2044

[2016-11-18 19:24] bterlson opened #2055 "Optimize async functions"
There are known optimizations on the table for async functions especially around avoiding object allocation. Our implementation of async functions is significantly slower than other implementations. V8 has [recently implemented](https://codereview.chromium.org/2512103002/) an optimization that I think we could apply as well.

Now that we've got async functions shipped and stable let's use this iss

[2016-11-18 21:11] suwc commented on #1402
Merged.

[2016-11-18 21:11] #1402 closed

[2016-11-19 00:27] Oceanswave opened #2058 "xplat: ChakraDebug API missing from OSx build"
Building ChakraCore on OSx 10.12.1 from master with latest using

[code]

When running ```nm -g libChakraCore.dylib``` on the resulting library, I see the JsTDDxxx symbols exported but not methods such as JsDiagStartDebugging as found on the Windows API.

Is there a way to start debugging on OSx?

OSx Symbols from libChakraCore.dylib:

[code]

[2016-11-19 01:29] dilijev commented on #1987
Thanks! Closing this issue as External.

[2016-11-19 01:29] #1987 closed

[2016-11-19 03:26] Penguinwizzard opened #2062 "Fix fgPeepTmp annotation and re-enable related BailOnNoProfile Optimization"
In https://github.com/Microsoft/ChakraCore/commit/57962d5ebc8640a9f86294d602a69bcd0053cd13 I had to disable an optimization to elevate BailOnNoProfile instructions, because we do not have accurate enough data for operand fgPeepTmp properties. Fixing the propagation of these values should allow re-enabling this optimization and getting a decent performance win in some minified code cases.

[2016-11-19 04:08] dilijev commented on #1933
Since this will be updated on the utility side by @mmitche, I think there's no more action to take here. Closing this issue.

[2016-11-19 04:10] dilijev commented on #1933
Oh this issue will be closed automatically when #1962 is merged.

[2016-11-19 14:03] obastemur opened #2064 "xplat-debugger: DebuggerCommon test fails [JIT] [test]"
Opening this issue to track disabled test cases

`DebuggerCommon/TypedArray.js`

[code]

`DebuggerCommon/attachdetach-delaycapture.js` fails similarly

[2016-11-19 14:17] mortenab commented on #1033
Hi,

I know this issue has been closed, but I am having some concerns regarding the solution suggested by @Havret. Don't you still have a race condition with the garbage collector between the two following lines?

[code]

Am I missing something here?
Thanks in advance,

Morten

[2016-11-19 14:18] obastemur opened #2065 "ch: LoadScript with fake script filename fails on xplat"
Some of our `debug` related tests provide fake filenames for scripts.

For example;
[code]

In case the `dummyFileName.js` is not exist on the actual folder, this particular call returns `undefined` back to JS land.

Expected behavior is given below;

Get current full path => join full path with this fake name => wholeName.toLowerCase => use the resulting string as a filename to run script. In oth

[2016-11-19 14:28] obastemur commented on #2058
@Oceanswave Thanks for the report. #2056 enables Debugger support on xplat

[2016-11-19 14:36] obastemur commented on #2052
@kphillisjr xplat shared library requires an explicit call to DllMain first. See our python example https://github.com/Microsoft/Chakra-Samples/blob/master/ChakraCore%20Samples/Hello%20World/Python/helloWorld.py#L23-L28

Thanks for the detailed report. I'm closing this one since we follow this issue from #1811

[2016-11-19 14:36] #2052 closed

[2016-11-19 14:43] obastemur commented on #2038
As @dilijev mentioned, this is not one of the priorities we have at hand due to Clang does the job very well. However, supporting GCC would be really nice!

Added `Accepting PRs` on this. If there are community member(s) want to contribute fixes to GCC build (partially is also accepted) we would love to have them.

[2016-11-19 16:36] Oceanswave commented on #2058
Confirmed in PR. Thanks for the fix!

[code]

[2016-11-19 17:09] kphillisjr commented on #1811
I believe the best solution would be to use the constructor and destructor attributes. These can be prioritized, and offer a beginning solution to this issue.

[code]

Also as a side note you can prioritize the constructor/destructor. The major part of that is that for constructors the lower number gets ran first, and on destructors the higher number is ran first. An example is as follows...

[cod

[2016-11-19 19:31] #2033 closed

[2016-11-19 19:31] #2034 closed

[2016-11-19 19:32] Cellule commented on #1954
Fixed by #1998

[2016-11-19 19:32] #1954 closed

[2016-11-20 06:33] bjconlan commented on #1616
Damn, I wish I had found this before the weekend was over (although now I have a better understanding of cmake which I urgently wish to forget ;). This is great stuff Mr Phillis I've been trying to get all this working seemlessly with my own project (went down the 'ExternalProject_Add' path but generally unsatisfied with it as it also includes some linux specific hacks/patch state to have the head

[2016-11-20 17:58] kphillisjr commented on #1616
The changes I am making are not complete seeing as how the Chakracore shared library currently has broken shared library support ( see issue #1811 ). Also I have updated part of the task list. The tasks I have checked off are completed in the branch I created. (see: https://github.com/kphillisjr/ChakraCore/commits/cmake_embed_v2 )

[2016-11-21 15:49] FettLuo opened #2072 "About JsObject's reference and release"
I created a object A, and added some member.
JsCreateObject

created external object B, and set prototype with A. C is finalizeCallback.
JsCreateExternalObject, JsSetPrototype

do gc.
JsCollectGarbage

why not call finalizeCallback C?
I tryed to call JsRelease(B, count) too, count is return (uint)-1, but useless.

[2016-11-21 19:43] liminzhu commented on #1918
Had an offline chat with @jianchun, we can probably leave the ASCII variant and only ship utf8/16 versions of Js[Create/Copy]String in JSRT. NodeChakraCore can support the ASCII variant through the shim. Should it turn out to be a problem, we can always add that variant support later.

It also sounds like `char` is a more friendly interface for utf8, so I advocate we use that for `JsCreateStringUt

[2016-11-21 19:49] jianchun opened #2074 "swb: tune JsUtil::QuickSort implementation"
We brought back custom `JsUtil::QuickSort` in swb branch to solve the problem that system qsort routine does not update write barrier when array element contains WriteBarrierPtr fields.

We need to fine tune `JsUtil::QuickSort` performance. Current implementation does not work well with already sorted or many equal items array.

Moreover, @obastemur said xplat `qsort_r` is not reliable on some pla

[2016-11-21 21:56] dilijev commented on #1616
@kphillisjr Thanks for your work on this so far. We really appreciate it! We'll keep this on the radar as we continue work on cross-plat. We definitely want there to be a good experience for all of the scenarios we support.

[2016-11-21 22:17] darfink commented on #1492
I will try to have my build script up to date, but right now it is automated and works on Windows, macOS & Linux (all tested on x64 static & dynamic).

For any rustaceans interested: https://github.com/darfink/jsrt-rs/tree/master/jsrt-sys
It will be published on Crates.io this week.

[2016-11-21 23:30] Cellule opened #2075 "Spilling caller save register on helper call that always throws"
For every helper call to throw in jit, we spill the register to save them. This is not necessary as we never come back from the helper

[2016-11-21 23:34] Cellule commented on #2075
After a quick investigation, I think the best solution would be to add an attribute to the helper function in `JnHelperMethodList.h` that marks the helper as `AlwaysThrows`
Then in `LinearScan::KillImplicitRegs` you can check if the instr is a helper call and check the attribute to determine if we should spill callerSave register.

See the current check for bailouts
[code]

[2016-11-21 23:42] obastemur commented on #1492
@darfink I haven't tested but sounds really good! Thanks!

[2016-11-22 00:02] obastemur commented on #1918
@liminzhu Sounds good to me.

@jianchun I kinda agree. IMO, the perf is more critical for CreateProperty from ASCII source instead of create `a string` from ASCII source. Most of the time we / others approach external or even internal (JS land) strings as Utf8.

[2016-11-22 00:12] obastemur commented on #2009
Just for the future reference. What I have shared above on CI and what's happening with Clang 3.9 Linux are not the same. Interesting part is that we have the problem on the same file.

It is important to remember that this file pushes memory limits a bit.

[2016-11-22 09:25] FettLuo commented on #2072
and
JsRunScriptUtf8("function event(obj){obj = null;}")

event_fn = JsGetProperty(global,"event")
JsCallFunction(event_fn,...)

JsCollectGarbage again
not skill call finalize callback of B

even JsDisposeRuntime is not effect too

[2016-11-22 11:44] FettLuo commented on #2072
Finally, B is called with JsRuntimeAttributeDisableBackgroundWork.
but at JsDisposeRuntime, why not GC?
How to release the external object or other js object?

[2016-11-22 12:07] FettLuo commented on #2072
btw, how to wait all object release done after dispose runtime?

[2016-11-22 17:42] obastemur commented on #2009
@xanlpz I saw https://github.com/Microsoft/ChakraCore/blob/master/lib/Backend/NativeCodeGenerator.cpp#L1060-L1065 might be responsible.

[2016-11-22 17:55] obastemur opened #2079 "xplat: Remove libunwind dependency"
Our libunwind usage is very limited (PAL) and we don't actually expect SEH support on xplat.

[2016-11-22 17:56] obastemur opened #2080 "clang 4.0: fix build issues"
We have compile time problems with Clang 4.0 and keeping this issue in order to track that.

[2016-11-22 19:34] Penguinwizzard opened #2082 "Create native arrays for bare Array() calls"
Currently, when we handle "var x = new Array()", we allocate space for additional profile information on the array creation site. This allows us to do some optimizations and create native arrays, which are significantly faster in many cases. However, we can't currently do this for "var x = Array()". We had an attempt at doing this removed in https://github.com/Microsoft/ChakraCore/commit/db90b50c1

[2016-11-23 01:00] obastemur commented on #2004
Clang auto format something I have used and don't advice. Not because it doesn't work well. Because we wouldn't setup a configuration that is exactly matching what we have now. We would have even more issues there.

I wasn't into bringing more dependency though :) If there are enough Whitespace plugins for VS, that is perfect! Actually, for a second I had a dream that my WhiteSpace plugin is becom

[2016-11-23 01:03] #1592 closed

[2016-11-23 01:46] EdMaurer opened #2083 "Setting an element outside the bounds of a frozen array does not throw an exception"
Open the developer console for logs.

Call Object.freeze on an array and set an element outside of the array's bounds.
Expected result: An exception is thrown
Actual result: No exception is thrown

This does not repro when setting elements inside the bounds of the array.

        'use strict';

        var arr = ["one", "two", "three"];
        Object.freeze(arr);

        console.log("Initial arr

[2016-11-23 04:45] dilijev commented on #2004
@obastemur We could add that but considering how much of it there already is, we need to ensure we only check what was JUST introduced in that pull request, and ignore everything else.

[2016-11-23 12:36] kphillisjr commented on #1616
I added a few more updates and this time I believe I got most of the issues fixed involving Shared/Static Libraries. All this needs now is for @obastemur to review the change, and for @bjconlan to test things on his end to see If I missed anything.

The Changes to ChakraCore can be found here:
https://github.com/kphillisjr/ChakraCore/commits/cmake_embed_v3

And example usage of the calls is in the